<main justify="center">

    <div class="logo-pdp">
        <pdp-logo></pdp-logo>
    </div>

    <div class="social-pdp">
        <plex-grid cols="4">
            <plex-icon size="xl" name="andes"></plex-icon>
            <plex-icon size="lg" name="email"></plex-icon>
            <plex-icon size="lg" name="youtube"></plex-icon>
            <plex-icon size="lg" name="logo-whatsapp"></plex-icon>
        </plex-grid>
    </div>

    <form [formGroup]="formRegistro" justify="center">
        <div class="m-4">
            <div justify="center">
                <div class="andes"></div>
                <h1>{{ titulo }}</h1>
            </div>
            <div justify="center">
                <p class="pt-2 ml-3 mr-3">{{ mensaje }} Ingresa a continuación el código que te enviamos a <i> {{ email }} </i> para crear una contraseña nueva.</p>
            </div>
                <div *ngIf="!esRegistro" justify="center" class="mb-3">
                    <div justify="center">
                        <div justify="start
                        " class="label-container">
                            <plex-label titulo="E-MAIL" [tituloBold]="false" subtitulo="" class="mr-3"></plex-label>
                        </div>
                        <div justify="left">
                            <plex-text email [autoFocus]="true" [(ngModel)]="email" name="email" formControlName="email" [required]="true"
                                    placeholder="Correo electrónico" mensaje="Debe ingresar su e-mail de usuario">
                            </plex-text>
                        </div>
                    </div>
                </div>
                <div justify="center" class="mb-3">
                    <div justify="center">
                        <div justify="end" class="label-container">
                            <plex-label titulo="CÓDIGO DE ACTIVACIÓN" [tituloBold]="false"
                                        subtitulo="" class="mr-3">
                            </plex-label>
                        </div>
                        <div justify="left">
                            <plex-text type="password" [(ngModel)]="password" name="password" formControlName="password" [required]="true"
                                    placeholder="Código de activación">
                            </plex-text>
                        </div>
                    </div>
                </div>
            <div justify="center" class="mb-1">
                <div justify="center" >
                    <div justify="end" class="label-container">
                        <plex-label titulo="NUEVA CONTRASEÑA" [tituloBold]="false" subtitulo="" class="mr-3">
                        </plex-label>
                    </div>
                    <div justify="left">
                        <plex-text type="password" [(ngModel)]="new_password" formControlName="new_password"
                                name="new_password" [required]="true"></plex-text>
                    </div>
                </div>
            </div>
            <div justify="center" class="mb-3">
                <div justify="center" >
                    <div justify="end" class="label-container">
                        <plex-label titulo="CONFIRMAR NUEVA CONTRASEÑA" [tituloBold]="false" subtitulo="" class="mr-3">
                        </plex-label>
                    </div>
                    <div justify="left">
                        <plex-text type="password" [(ngModel)]="confirm_password" formControlName="confirm_password"
                                name="confirm_password" [required]="true">
                        </plex-text>
                    </div>
                </div>
            </div>
            <div justify="center" class="mb-2">
                <div justify="center" class="button-container w-100">
                    <plex-button justify="center" type="danger" name="volver" (click)="goTo()" size="md">
                        Volver
                    </plex-button>
                </div>
                <div justify="center" class="button-container w-100">
                    <plex-button justify="center" type="info" name="enviar" [disabled]="formRegistro.invalid"
                            (click)="sendDataPass()" size="md">
                        Actualizar e Ingresar
                    </plex-button>
                </div>
            </div>
        </div>
        <plex-loader *ngIf="!loading" type="linear"></plex-loader>
    </form>
</main>