main {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;

    background: rgb(134, 66, 153);
    background: linear-gradient(
        135deg,
        rgba(134, 66, 153, 1) 0%,
        rgba(104, 72, 157, 1) 50%,
        rgba(74, 147, 200, 1) 100%
    );

    .logo-pdp {
        position: absolute;
        top: 15px;
        left: 30px;
        svg {
            width: 70%;
        }
    }

    .social-pdp {
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .titulo-registro{
        text-align: center;
        color:#ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
        h2 {
            font-size: 1rem;
            font-style: italic;
        }

        h3 {
            font-size: 1rem;
            color:#062837 !important;
        }
    }

    .escanear{
        background: #00a8e0;
        color:#ffffff;
        font-weight: bold;
        padding: 2rem 7rem 2rem 7rem;
        border-radius: 50px;
    }

    form {
        background: #dcd0e6;
        width: 500px;
        height: auto;
        border-radius: 15px;

        .label-container {
            width: 100px;
        }

        .forgot-pass-container {
            position: relative;
            .forgot-pass {
                width: 150px;
                position: absolute;
                top: -25px;
                left: -60px;
                font-size: 0.7rem;
            }
        }
    }
}