@charset "UTF-8";

@font-face {
  font-family: "rup";
  src: url("fonts/rup.eot");
  src: url("fonts/rup.eot?#iefix") format("embedded-opentype"), url("fonts/rup.woff") format("woff"),
    url("fonts/rup.ttf") format("truetype"), url("fonts/rup.svg#rup") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon-rup]:before {
  font-family: "rup" !important;
  content: attr(data-icon-rup);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-rup-"]:before,
[class*=" icon-rup-"]:before {
  font-family: "rup" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rup-semantic-trastorno:before {
  content: "\50";
}
.icon-rup-semantic-todos:before {
  content: "\51";
}
.icon-rup-semantic-producto:before {
  content: "\52";
}
.icon-rup-semantic-procedimiento:before {
  content: "\53";
}
.icon-rup-semantic-plan:before {
  content: "\54";
}
.icon-rup-semantic-hallazgo:before {
  content: "\55";
}
.icon-rup-semantic-dispositivo:before {
  content: "\56";
}
.icon-rup-semantic-elementoderegistro:before {
  content: "\57";
}
.icon-andes-alertas:before {
  content: "\61";
}
.icon-andes-arbol:before {
  content: "\62";
}
.icon-andes-cama:before {
  content: "\63";
}
.icon-andes-cama-bloqueada:before {
  content: "\64";
}
.icon-andes-cama-candado:before {
  content: "\65";
}
.icon-andes-cama-check:before {
  content: "\66";
}
.icon-andes-cama-femenino:before {
  content: "\68";
}
.icon-andes-cama-herramienta:before {
  content: "\69";
}
.icon-andes-cama-lapiz:before {
  content: "\6a";
}
.icon-andes-cama-masculino:before {
  content: "\6b";
}
.icon-andes-cama-ocupada:before {
  content: "\6c";
}
.icon-andes-cama-oxigeno:before {
  content: "\6d";
}
.icon-andes-cama-pausada:before {
  content: "\6e";
}
.icon-andes-cama-reloj:before {
  content: "\6f";
}
.icon-andes-cama-configuracion:before {
  content: "\70";
}
.icon-andes-dieta:before {
  content: "\71";
}
.icon-andes-documento:before {
  content: "\72";
}
.icon-andes-andes-egreso:before {
  content: "\73";
}
.icon-andes-evoluciones:before {
  content: "\74";
}
.icon-andes-rup-calificador:before {
  content: "\75";
}
.icon-andes-agendas:before {
  content: "\76";
}
.icon-andes-alerta:before {
  content: "\77";
}
.icon-andes-ambulancia:before {
  content: "\78";
}
.icon-andes-bomberos:before {
  content: "\79";
}
.icon-andes-confirmar:before {
  content: "\7a";
}
.icon-andes-defensa-civil:before {
  content: "\41";
}
.icon-andes-farmacia:before {
  content: "\42";
}
.icon-andes-horario:before {
  content: "\43";
}
.icon-andes-hospital:before {
  content: "\44";
}
.icon-andes-huds:before {
  content: "\45";
}
.icon-andes-laboratorio:before {
  content: "\46";
}
.icon-andes-logo:before {
  content: "\47";
}
.icon-andes-maltrato:before {
  content: "\48";
}
.icon-andes-marker:before {
  content: "\49";
}
.icon-andes-marker-salud:before {
  content: "\4a";
}
.icon-andes-mpi:before {
  content: "\4b";
}
.icon-andes-noticia:before {
  content: "\4c";
}
.icon-andes-paciente:before {
  content: "\4d";
}
.icon-andes-paciente-circulo:before {
  content: "\4e";
}
.icon-andes-policia:before {
  content: "\4f";
}
.icon-andes-profesional:before {
  content: "\58";
}
.icon-andes-profesional-circulo:before {
  content: "\59";
}
.icon-andes-telefono:before {
  content: "\5a";
}
.icon-andes-turno:before {
  content: "\30";
}
.icon-andes-vacuna:before {
  content: "\31";
}
.icon-andes-violencia-familiar:before {
  content: "\32";
}
.icon-andes-hospital-cyan:before {
  content: "\33";
}
.icon-calendario-dia-oscuro:before {
  content: "\34";
}
.icon-calendario-rango-oscuro:before {
  content: "\35";
}
.con-defensa-civil-oscuro:before {
  content: "\39";
}
.icon-llamar-oscuro:before {
  content: "\36";
}
.icon-andes-cama-desocupada:before {
  content: "\67";
}
.icon-andes-cama-reparacion:before {
  content: "\37";
}
.andes-icon-cuna:before {
  content: "\38";
}
.andes-icon-cuna-bloqueada:before {
  content: "\21";
}
.andes-icon-cuna-desocupada:before {
  content: "\22";
}
.andes-icon-cuna-ocupada:before {
  content: "\23";
}
.andes-icon-cuna-pausada:before {
  content: "\24";
}
.andes-icon-cuna-reparacion:before {
  content: "\25";
}