.accordion-dashboard div {
    position: relative;
}

.badge-dashboard {
    position: absolute !important;
    top: 15px;
    right: 8px;
    z-index: 1;
}

.badge-dashboard i {
    margin-right: 0!important;
}

.vertical-center {
    display: flex;
    align-items: center;
}
