.accordion-reasignar div {
    position: relative;
}

.badge-reasignado {
    position: absolute !important;
    top: 15px;
    right: 8px;
    z-index: 1;
    i {
        margin-right: 0 !important;
    }
}

.outline-dashed-default {
    padding: 0 !important;
}
