<section>
    <div class="row">
        <div class="col-8">
            <plex-box>
                <header>
                    <!--Busqueda de Pacientes-->
                    <div class="clearfix">
                        <div class="page-title">PUNTO DE INICIO | GESTIÓN DE PACIENTES</div>
                    </div>
                    
                </header>
                <div class="row">
                     <div class="col-12">
                        <plex-button type="info" label="Codificaciones"></plex-button>
                        <plex-button type="info" label="Verificar Asistencia"></plex-button>
                        <plex-button icon="printer" type="info" label="Imprimir"></plex-button>
                    </div>
                </div>
                <div class="row" *ngIf="buscarMPI">
                    <div class="col-12">
                        <pacientesSearch (selected)="onPacienteSelected($event)" [modoCompleto]="false" [textSearch]="searchTerm" (blanqueaInput)="handleBlanqueo($event)"></pacientesSearch>
                    </div>
                </div>
            </plex-box>
        </div>
        <!--Panel de Estadisticas-->
        <div class="col-4">
            <plex-box>
                <div *ngIf="showMostrarEstadisticasAgendas" type="info">
                    <estadisticas-agendas></estadisticas-agendas>
                </div>
                 <div *ngIf="showMostrarEstadisticasPacientes" type="info">
                    <!--<estadisticas-paciente></estadisticas-paciente>-->
                </div>
            </plex-box>
        </div>
    </div>
</section>

<!--Footer-->
<footer *ngIf="paciente">
    <plex-button icon="arrow-left" (click)="cancelar()" label="cancelar" type="danger"></plex-button>
</footer>
