<plex-tabs (change)="changeTab($event)" size="full" [activeIndex]="showTab">
    <plex-tab icon="information" label="Datos">
        <!--Header de estadisticas-->
        <fieldset *ngIf="paciente && _paciente">
            <!--Datos básicos del Paciente-->
            <br>
            <header>
                <div class="row">
                    <div class="col-8">
                        <h5>
                            <span class="text-primary">{{paciente | paciente}}</span>
                        </h5>
                    </div>
                    <div class="col-4">
                        <img fotoPaciente class="img-thumbnail" [foto]="_paciente.foto">
                    </div>
                </div>
                <hr>
            </header>
            <div class="row">
                <div class="col-6">
                    <i class="mdi mdi-account-card-details"></i>
                    <span class="text-primary">Documento</span>
                </div>
                <div class="col-6">
                    <i class="mdi mdi-calendar-today"></i>
                    <span class="text-primary">Fecha de Nacimiento</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{paciente.documento | number}}
                </div>
                <div class="col-6" *ngIf="paciente && paciente.fechaNacimiento">
                    {{paciente.fechaNacimiento | fecha:'utc'}} ({{paciente | edad}})
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span *ngIf="paciente?.direccion && paciente.direccion[0]?.valor">
                        <i class="mdi mdi-map-marker"></i>
                        <span class="text-primary">Dirección</span>
                    </span>
                </div>
                <div class="col-6">
                    <span *ngIf="paciente?.contacto && paciente.contacto[0]?.valor">
                        <i class="mdi mdi-cellphone-android"></i>
                        <span class="text-primary">Teléfono</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span *ngIf="paciente?.direccion && paciente.direccion[0]?.valor">
                        {{paciente.direccion[0].valor}}
                    </span>
                </div>
                <div class="col-6">
                    <span *ngIf="paciente?.contacto && paciente.contacto[0]?.valor">
                        {{contactos[0].valor}}
                    </span>
                </div>
            </div>
            <div class="row" *ngIf="_paciente?.financiador?.length">
                <div class="col-6" *ngIf="_paciente?.financiador[0].financiador === 'SUMAR'">
                    <i class="mdi mdi-account-card-details"></i>
                    <span class="text-primary">Financiador</span>
                </div>
                <div class="col-6" *ngIf="_paciente?.financiador[0].financiador !== 'SUMAR'">
                    <i class="mdi mdi-account-card-details"></i>
                    <span class="text-primary">Obra Social</span>
                </div>
                <div class="col-6" *ngIf="paciente?.financiador[0].numeroAfiliado">
                    <i class="mdi mdi-card-text-outline"></i>
                    <span class="text-primary">Número de Afiliado</span>
                </div>
            </div>
            <div class="row" *ngIf="paciente?.financiador?.length">
                <div class="col-6" *ngIf="paciente?.financiador[0].nombre">
                    {{paciente.financiador[0].financiador}}
                </div>
                <div class="col-6" *ngIf="paciente?.financiador[0].numeroAfiliado">
                    {{paciente.financiador[0].numeroAfiliado}}
                </div>
            </div>
            <br>
            <update-contacto-direccion [pac]="paciente"></update-contacto-direccion>
        </fieldset>

    </plex-tab>
    <plex-tab icon="clock" label="Turnos">
        <turnos-paciente [turnos]="turnosPaciente" [operacion]="'operacionTurnos'" [paciente]='pacienteSeleccionado'
                         (turnosPacienteChanged)="updateHistorial()" (showArancelamientoForm)="arancelamiento($event)">
        </turnos-paciente>
    </plex-tab>
    <plex-tab icon="history" label="Historial">
        <fieldset>
            <ul class="list-group">
                <li *ngFor="let turno of ultimosTurnos let i=index" class="list-group-item" [appHover]="'active'">
                    <div class="list-group-item-text">
                        <div>
                            <span *ngIf="turno.estado === 'asignado' || turno.estado === 'turnoDoble'"
                                  class="badge badge-success">
                                ASIGNADO</span>
                            <span *ngIf="turno.estado === 'liberado' || turno.estado === 'suspendido' "
                                  class="badge badge-danger">
                                {{turno.estado | uppercase}}</span>

                            | {{turno.horaInicio | date:'dd/MM/yyyy HH:mm'}}
                        </div>

                        <div *ngIf="turno.estado === 'liberado'">Por {{turno.updatedBy.nombreCompleto}} el
                            {{turno.updatedAt
                            | fecha}} a las {{turno.updatedAt | date: 'HH:mm'}}</div>

                        <div *ngIf="turno.tipoPrestacion?.term">{{turno.tipoPrestacion.term}}</div>
                        <div *ngFor="let profesional of turno.profesionales">
                            {{profesional | profesional}}
                        </div>
                        <div>
                            <em class="small">{{turno.organizacion.nombre}}</em>
                        </div>
                    </div>
                </li>
            </ul>
        </fieldset>
    </plex-tab>
    <plex-tab icon="folder-account" label="Carpetas">
        <carpeta-paciente *ngIf="currentTab === 3" [pacienteSeleccionado]='pacienteSeleccionado'> </carpeta-paciente>
    </plex-tab>
</plex-tabs>