img {
    max-height: 150px;
}

.contenedor-turnos-vacio {
    display: flex;
    justify-content: center;
}

.label-turnos-vacio {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}