.actions {
    display: flex;
    align-items: center;
}

.header-datetime {
    margin-left: 20px;
    display: flex;
    flex-grow: 1;
}

.datetime-selector {
    display: flex;

    div {
        flex-grow: 1;

        .danger {
            color: #a83829;
            margin-top: 0.25rem;
        }
    }

    .check {
        max-height: 36px;
    }
}