<plex-layout main="8">
    <plex-layout-main>
        <header [hidden]="mainView !== 'mapa-camas'">
            <plex-title titulo="Mapa de Camas">
                <!-- <plex-button *ngIf="mapaCamasService.capa === 'estadistica'" class="mr-1" size="sm"
                             label="LISTA DE ESPERA" type="primary" (click)="gotoListaEspera()">
                </plex-button> -->
                <plex-button *ngIf="mapaCamasService.capa === 'estadistica'" class="mr-1" size="sm"
                             label="LISTADO DE INTERNACIÓN" type="primary" (click)="verListadoInternacion()">
                </plex-button>
                <plex-button *ngIf="mapaCamasService.capa === 'estadistica' && puedeVerHistorial$ | async" class="mr-1"
                             size="sm" label="HISTORIAL" type="primary" (click)="verListadoInternacionMedico()">
                </plex-button>
                <plex-dropdown *ngIf="mapaCamasService.capa === 'estadistica' && permisosMapaCamasService.censo"
                               size="sm" label="VER CENSO" type="primary" class="d-inline-block" [right]="true"
                               [items]="itemsCensoDropdown">
                </plex-dropdown>
                <plex-button *feature="'mapaVisualCamas'" type="info" size="sm" (click)="onVisualizar()"
                             tooltip="Mapa Visual de Camas">
                    <plex-icon name="atom"></plex-icon>
                </plex-button>
            </plex-title>

            <app-filtros-camas></app-filtros-camas>

            <plex-title titulo="{{(!listadoRecursos)? 'LISTADO DE CAMAS' : 'LISTADO DE RECURSOS'}}" size="sm">
                <plex-button *ngIf="permisosMapaCamasService.ingreso" class="mr-1" label="ADMITIR PACIENTE"
                             type="success" size="sm"
                             (click)="selectCama(null, {'nombre' : 'Internar Paciente', 'accion' : 'internarPaciente'})">
                </plex-button>

                <plex-dropdown *ngIf="itemsCrearDropdown.length > 0" size="sm" label="NUEVO RECURSO" type="info"
                               class="d-inline-block mr-1" [right]="true" [items]="itemsCrearDropdown">
                </plex-dropdown>
                <plex-dropdown *ngIf="!listadoRecursos" icon="format-list-checks" type="info" size="sm"
                               class="d-inline-block mr-1" [right]="true">
                    <plex-grid cols="3">
                        <plex-bool label="Fecha Movimiento" [(ngModel)]="columns.fechaMovimiento"
                                   (change)="toggleColumns()"></plex-bool>
                        <plex-bool label="Usuario Movimiento" [(ngModel)]="columns.usuarioMovimiento"
                                   (change)="toggleColumns()"></plex-bool>
                        <plex-bool label="Sector" [(ngModel)]="columns.sector" (change)="toggleColumns()"></plex-bool>
                        <plex-bool label="Documento" [(ngModel)]="columns.documento" (change)="toggleColumns()">
                        </plex-bool>
                        <plex-bool label="Sexo" [(ngModel)]="columns.sexo" (change)="toggleColumns()"></plex-bool>
                        <plex-bool *ngIf="(ambito$ | async) === 'guardia'" label="Prioridad"
                                   [(ngModel)]="columns.prioridad" (change)="toggleColumns()">
                        </plex-bool>
                        <plex-bool *ngIf="(ambito$ | async) === 'guardia'" label="Guardia" [(ngModel)]="columns.guardia"
                                   (change)="toggleColumns()">
                        </plex-bool>
                    </plex-grid>
                </plex-dropdown>
                <plex-button size="sm" type="primary" (click)="verListadoRecursos()"
                             [title]="!listadoRecursos ? 'Agrupar por sector' : 'Ver listado de camas'">
                    <plex-icon [name]="!listadoRecursos ? 'file-tree' : 'format-list-bulleted'"></plex-icon>
                </plex-button>
            </plex-title>

        </header>

        <ng-container *ngIf="listadoRecursos">
            <app-recursos-listado [permisoIngreso]="permisosMapaCamasService.ingreso"
                                  [permisoBloqueo]="permisosMapaCamasService.bloqueo"
                                  (accionRecurso)='accionListadoRecurso($event)'></app-recursos-listado>

        </ng-container>

        <ng-container *ngIf="!listadoRecursos">
            <fieldset [hidden]="mainView !== 'mapa-camas'">
                <cdk-virtual-scroll-viewport #scrollViewport [itemSize]="65.56">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th *ngIf="columns.prioridad" class="sortable col-prioridad"
                                    (click)="sortTable('prioridad')">
                                    PRIORIDAD
                                    <span *ngIf="sortBy === 'prioridad'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.guardia" class="sortable" (click)="sortTable('guardia')">
                                    GUARDIA
                                    <span *ngIf="sortBy === 'guardia'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.fechaMovimiento" class="sortable"
                                    (click)="sortTable('fechaMovimiento')">
                                    FECHA
                                    <span *ngIf="sortBy === 'fechaMovimiento'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th class="sortable" (click)="sortTable('cama')">
                                    CAMA
                                    <span *ngIf="sortBy === 'cama'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.sector" class="sortable" (click)="sortTable('sector')">
                                    SECTOR
                                    <span *ngIf="sortBy === 'sector'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th class="sortable" (click)="sortTable('paciente')">
                                    PACIENTE
                                    <span *ngIf="sortBy === 'paciente'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.documento" class="sortable" (click)="sortTable('documento')">
                                    DOCUMENTO
                                    <span *ngIf="sortBy === 'documento'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.sexo" class="sortable" (click)="sortTable('sexo')">
                                    SEXO
                                    <span *ngIf="sortBy === 'sexo'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th class="sortable" (click)="sortTable('unidadOrganizativa')">
                                    UNIDAD ORGANIZATIVA
                                    <span *ngIf="sortBy === 'unidadOrganizativa'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th *ngIf="columns.usuarioMovimiento" class="sortable" (click)="sortTable('usuario')">
                                    USUARIO
                                    <span *ngIf="sortBy === 'usuario'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th class="sortable col-estado" (click)="sortTable('estado')">
                                    ESTADO
                                    <span *ngIf="sortBy === 'estado'">
                                        <plex-icon *ngIf="sortOrder === 'desc'" name="chevron-down"></plex-icon>
                                        <plex-icon *ngIf="sortOrder === 'asc'" name="chevron-up"></plex-icon>
                                    </span>
                                </th>
                                <th class="col-acciones">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="(selectedCama$ | async) as selectedCama">
                                <tr app-item-cama *cdkVirtualFor="let cama of camas | async" [cama]="cama"
                                    [estadoCama]="mapaCamasService.getEstadoCama(cama) | async"
                                    [relacionesPosibles]="mapaCamasService.getRelacionesPosibles(cama) | async"
                                    [permisoIngreso]="permisosMapaCamasService.ingreso"
                                    [permisoBloqueo]="permisosMapaCamasService.bloqueo"
                                    (accionCama)="selectCama(cama, $event)" (click)="verDetalle(cama, selectedCama)"
                                    [class.invert]="selectedCama._key === cama._key">
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </cdk-virtual-scroll-viewport>
            </fieldset>
        </ng-container>
        <ng-container *ngIf="mainView !== 'mapa-camas'">
            <vista-prestacion [idPrestacion]="mainView.id">
                <plex-button type="danger" size="sm" icon="close" (click)="mapaCamasService.resetView()"></plex-button>
            </vista-prestacion>
        </ng-container>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <app-estado-servicio *ngIf="!accion"></app-estado-servicio>

        <app-ingreso-paciente-workflow *ngIf="accion === 'internarPaciente'" (cancel)="volverADetalle()"
                                       (save)="volverAResumen()">
        </app-ingreso-paciente-workflow>
        <app-desocupar-cama *ngIf="accion === 'desocuparCama'" (accionDesocupar)="accionDesocupar($event)">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADetalle()">
            </plex-button>
        </app-desocupar-cama>
        <app-cambiar-cama *ngIf="accion === 'cambiarCama'" cambiarUO="{{ cambiarUO }}" (onSave)="volverAResumen()">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADetalle()"
                         [autodisabled]="true">
            </plex-button>
        </app-cambiar-cama>
        <app-egresar-paciente *ngIf="accion === 'egresarPaciente'" (onSave)="volverAResumen()"
                              (cancel)="volverAResumen()">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADesocupar()"
                         [autodisabled]="true">
            </plex-button>
        </app-egresar-paciente>
        <app-cama-destino-generico *ngIf="accion === 'accionGenerica'" [relacion]="estadoRelacion"
                                   (onSave)="volverAResumen()">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADetalle()">
            </plex-button>
        </app-cama-destino-generico>
        <app-prestar-devolver-recurso *ngIf="accion === 'prestar' || accion === 'devolver'" [accion]="accion"
                                      (onSave)="volverAResumen()">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADetalle()">
            </plex-button>
        </app-prestar-devolver-recurso>
        <ng-container *ngIf="(selectedCama$ | async) as selectedCama">
            <app-cama-detalle *ngIf="accion === 'verDetalle'" (cancel)="volverAResumen()"
                              (accionCama)="selectCama(selectedCama, $event)" (refresh)="refresh($event)">
            </app-cama-detalle>
        </ng-container>
        <app-nuevo-registro-salud *ngIf="accion === 'nuevo-registro'">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="volverADetalle()">
            </plex-button>
        </app-nuevo-registro-salud>
    </plex-layout-sidebar>
</plex-layout>