<!-- <plex-layout>
    <plex-layout-main>
        <header>
            <plex-title titulo="Resumen Internación">
            </plex-title>
            <plex-wrapper>
                <plex-datetime [(ngModel)]="desde" class="mr-1"></plex-datetime>
                <plex-datetime [(ngModel)]="hasta" class="mr-1"></plex-datetime>
                <plex-select [data]="sectores$ | async" name="sectores" [(ngModel)]="sectorSelected"></plex-select>

                <plex-button label="Visualizar" type="success" (click)="onVisualizar()"></plex-button>
            </plex-wrapper>
        </header>



        <div #prueba></div>


    </plex-layout-main>
</plex-layout> -->