img {
    height: 60px;
}

.img-fallecido {
    filter: grayscale(100%);
}

span.error-paciente {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px !important;
    display: inline-block;
}
