<!--<header>
    CONFIGURABLE HELLO WORLD
</header>-->

<section>
    <div class="row">
        <div class="col">
            <header>
                <div class="row">
                    <div class="col">
                        <h1>Dashboard MPI</h1>
                    </div>
                </div>
            </header>
            <br>
            <hr>

            <div class=" row">
                <div class="col-3">
                    <a class="well top-block">
                        <i class="mdi mdi-account large"></i>
                        <!-- bell -->

                        <div>Pacientes validados</div>
                        <div>{{validados}}</div>
                    </a>
                </div>

                <div class="col-3">
                    <a data-toggle="tooltip" title="4 new pro members." class="well top-block">
                        <i class="mdi mdi-account-alert large"></i>

                        <div>Pacientes temporales</div>
                        <div>{{temporales}}</div>
                    </a>
                </div>

                <div class="col-3">
                    <a data-toggle="tooltip" title="$34 new sales." class="well top-block">
                       <i class="mdi mdi-barcode-scan large"></i>

                        <div>Cantidad de escaneos</div>
                        <div>{{scan}}</div>

                    </a>
                </div>

                <div class="col-3">
                    <a data-toggle="tooltip" title="12 new messages." class="well top-block">
                        <i class="mdi mdi-credit-card-off large"></i>
                        
                        <div>Cantidad de escaneos erróneos</div>
                        <div>{{scansFallidos}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>