 .top-block {
        border-radius: 20px;
        font-size: 22px;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        position: relative;
        display: block;
        line-height: 45px;
        text-shadow: 0 0 1px #DDD;
        text-decoration: none;
    }
    
    .large {
      font-size: xx-large;
    }
    .success {
      background-color: #5cb85c;
    }
    .info {
      background-color: #5bc0de;
    }
    .warning {
      background-color: #f0ad4e;
    }
    .danger {
      background-color: #d9534f;
    }
