<!--<header>
    CONFIGURABLE HELLO WORLD
</header>-->

<section>
  <div class="row">
    <div class="col">
      <header>
        <div class="row">
          <div class="col">
            <h1>Dashboard MPI</h1>
          </div>
        </div>
      </header>
      <br>
      <hr>
      <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
    

        <div class=" row" *ngIf="!loading">

          <div class="col-6">
            <div class="card card-outline-success mb-3 text-center">
              <div class="card-block">
                <div style="font-size:180%">
                  <i class="mdi mdi-account-check large"></i>
                </div>
                <h2>{{validados}}</h2>
                <h3>Pacientes validados</h3>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-outline-warning mb-3 text-center">
              <div class="card-block">
                <i class="mdi mdi-account-alert large"></i>
                <h2>{{temporales}}</h2>
                <h3>Pacientes temporales</h3>
              </div>
            </div>
          </div>
        </div>
        <div class=" row" *ngIf="!loading">
          <div class="col-6">
            <div class="card card-outline-success mb-3 text-center">
              <div class="card-block">
                <i class="mdi mdi-barcode-scan large"></i>
                <h2>{{scan}}</h2>
                <h3>Cantidad de escaneos correctos</h3>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-outline-danger mb-3 text-center">
              <div class="card-block">
                <i class="mdi mdi-credit-card-off large"></i>
                <h2>{{scansFallidos}}</h2>
                <h3>Cantidad de escaneos erróneos</h3>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
