:host {
    position: fixed;
    left: 100px;
    top: 0px;
    z-index: 3000;
    background: #0070BA;
    color: white;
    white-space: nowrap;
    padding-right: 5px;
    // Foto header
    .header {
        height: 50px;
        padding: 5px;
    }
    //Foto popover
    .popover {
        height: 70px;
        padding: 5px;
    }
    // texto-popover
    .texto-popover{
        color: #000;
    }
    // Texto
    .texto {
        padding-left: 10px;
        padding-right: 10px;
    }
}