:host {
    position: fixed;
    left: 100px;
    top: 0px;
    z-index: 3000;
    background: #0070BA;
    padding-right: 5px;
    cursor: help;
    // Texto
    .texto {
        color: white;
        white-space: nowrap;
    }
    // Foto header
    .foto {
        height: 50px;
        padding: 5px;
    }
    // Popover con detalles de paciente
    .popover {
        visibility: hidden;
    }
    &:hover .popover {
        display: block;
        margin-top: 18%;
        cursor: default;
        visibility: visible;
        font-size: 1em;
        transition: visibility 0.2s ease 0.1s;
    }
}