:host {
    &>div {
        display: flex;
        background: #0070BA;
    }
    z-index: 3000;
    cursor: help; 
    .datos-paciente {
        color: white;
        white-space: nowrap;
        padding-right: 20px;
        padding-left: 5px;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    } // Foto header
    .foto-paciente {
        height: 50px;
        padding-right: 5px;
    } // Popover con detalles de paciente
    .popover {
        display: none;
        margin-top: 50px;
        cursor: default;
        font-size: 1em;
        min-width: 275px;
        left: 100px;
        max-width: 300px;
    }
    &:hover .popover {
        display: block;
    }
}

.img-fallecido {
    filter: grayscale(100%);
}