.friso {
    background-color: #00A8E0;
    position: relative;
    height: 80px;
    padding: 0px;
}

.sub-friso {
    background-color: #0070BA;
    height: 30px;
    position: relative;
    max-height: 100px;
    padding: 5px 20px 5px 20px;
    z-index: 1030;
}

.sub-friso-usuario {
    color: white;
    height: 30px;
    position: relative;
    padding: 5px 20px 5px 20px;
}

.data-paciente {
    height: 50px;
    padding: 5px 20px 5px 20px;
    border-left: solid 1px #111111;
}

.data-usuario {
    position: relative;
    height: 30px;
    padding: 5px 20px 5px 20px;
}

.consulta {
    color: white;
}

.invert {
    background-color: #002738;
    color: white;
}

h5.nombre-paciente {
    color: black;
    font-weight: 300;
}

h6.subtitulo-paciente {
    font-weight: normal;
    line-height: 3px;
}

h5.nombre-usuario {
    color: black;
    font-weight: 300;
}

.contenedor-subdata {
    border-left: solid 1px #111111;
    padding-left: 15px;
    padding-right: 15px;
}

h6.subdata-paciente {
    font-weight: bolder;
}

h6.subdata-descripcion {
    font-weight: 400;
    line-height: 2px;
}

small {
    color: black;
    font-weight: 400;
    font-size: 0.85rem;
}


/* Menu hamburguesa */

.burger-container {
    background-color: #002738;
    height: 80px;
    padding: 0.75rem;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 45px;
}

.burger-container:hover {
    background-color: #00c0ef;
    cursor: pointer;
}

.burger-menu {
    color: white;
    padding-top: 0.75rem;
}