<form class="plex-layout" #form="ngForm">
    <section>
        <div class="row">
            <div class="col-8">
                <plex-box type="primary">
                    <header>
                        <div class="page-title">Registro de Pacientes</div>
                    </header>
                    <plex-tabs>
                        <plex-tab label="Paciente" icon="account">
                            <!-- DATOS BASICOS -->
                            <div class="row">
                                <div class="col-4">
                                    <plex-int label="Número de Documento" [(ngModel)]="pacienteModel.documento" (change)="disableGuardar = false; enableIgnorarGuardar = false;"
                                        [readonly]="validado || noPoseeDNI" [max]="9999999999" name="documento" [required]="!noPoseeDNI"
                                        placeholder="Ingresar DNI...">
                                    </plex-int>
                                </div>
                                <div class="col-4">
                                    <plex-text label="Nombre" [(ngModel)]="pacienteModel.nombre" name="nombre" (change)="disableGuardar = false; enableIgnorarGuardar = false;"
                                        [required]="true" [readonly]="validado" placeholder="Ingrese nombre...">
                                    </plex-text>
                                </div>
                                <div class="col-4">
                                    <plex-text label="Apellido" [(ngModel)]="pacienteModel.apellido" name="apellido" (change)="disableGuardar = false; enableIgnorarGuardar = false;"
                                        [required]="true" [readonly]="validado" placeholder="Ingrese apellido...">
                                    </plex-text>
                                </div>
                            </div>
                            <div class="row" *ngIf="!validado">
                                <div class="col">
                                    <plex-bool [(ngModel)]="noPoseeDNI" label="No posee documento" name="noPoseDNI" (change)="limpiarDocumento()"></plex-bool>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <plex-datetime label="Fecha de Nacimiento" type="date" [readonly]="validado" (change)="disableGuardar = false; enableIgnorarGuardar = false;"
                                        [(ngModel)]="pacienteModel.fechaNacimiento" name="fechaNacimiento" [required]="!noPoseeDNI">
                                    </plex-datetime>
                                </div>
                                <div class="col-4">
                                    <plex-select [(ngModel)]="pacienteModel.sexo" name="sexo" [readonly]="validado" [data]="sexos" (change)="completarGenero();disableGuardar = false; ; enableIgnorarGuardar = false;"
                                        placeholder="Seleccione..." [required]="true" label="Sexo">
                                    </plex-select>
                                </div>
                                <div class="col-4" title="Genero autopercibido">
                                    <plex-select [(ngModel)]="pacienteModel.genero" name="genero" [data]="generos" [required]="true" placeholder="Seleccione..."
                                        label="Género"></plex-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" title="Nombre autopercibido">
                                    <plex-text label="Nombre autopercibido" [(ngModel)]="pacienteModel.alias" name="alias" placeholder="Ingrese nombre autopercibido..."></plex-text>
                                </div>
                                <div class="col-4">
                                    <plex-select [(ngModel)]="pacienteModel.estadoCivil" name="estadoCivil" [data]="estadosCiviles" placeholder="Seleccione..."
                                        label="Estado Civil">
                                    </plex-select>
                                </div>
                            </div>
                            <div class="row" *ngIf="validado">
                                <div class="col-12">
                                    <plex-bool [(ngModel)]="pacienteModel.reportarError" name="reportarError" label="Considero que los datos son incorrectos y quiero reportar el error"></plex-bool>
                                </div>
                                <div class="col-12" *ngIf="pacienteModel.reportarError">
                                    <plex-text placeholder="Ingrese una descripción del error" [(ngModel)]="pacienteModel.notaError" name="notaError"> </plex-text>
                                </div>
                            </div>

                            <!-- / DATOS BASICOS -->
                            <div class="row">&nbsp;</div>
                            <!-- DATOS DE CONTACTO -->
                            <fieldset>
                                <legend>Datos de contacto</legend>
                                <div *ngIf="pacienteModel.contacto">
                                    <div class="row">
                                        <div class="col-10 text-right">
                                            <plex-bool [(ngModel)]="noPoseeContacto" label="No posee ningún tipo de contacto" name="noPoseeContacto" (change)="limpiarContacto()"></plex-bool>
                                        </div>
                                        <div class="col-2 text-right">
                                            <plex-button label="Agregar" type="primary btn-sm" icon="phone-plus" (click)="addContacto()"></plex-button>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let _unContacto of pacienteModel.contacto; let i = index">
                                        <div class="col-4">
                                            <plex-select [(ngModel)]="_unContacto.tipo" [data]="tipoComunicacion" name="tipo-{{i}}" [required]="i <= 0" placeholder="Seleccione..."
                                                label="Tipo:">
                                            </plex-select>
                                        </div>
                                        <div class="col-4">
                                            <span *ngIf="_unContacto.tipo && _unContacto.tipo.id">
                                                <plex-text *ngIf="_unContacto.tipo.id !== 'celular'" label="Dato:" [(ngModel)]="_unContacto.valor" name="valor-{{i}}" [required]="!noPoseeContacto && (i <= 0)">
                                                </plex-text>
                                                <plex-phone label="Numero:" *ngIf="_unContacto.tipo.id === 'celular'" [(ngModel)]="_unContacto.valor" placeholder="Ej: 2990000000" [required]="!noPoseeContacto && (i <= 0)" name="valor-{{i}}">
                                                </plex-phone>
                                            </span>
                                            <span *ngIf="_unContacto.tipo && !_unContacto.tipo.id">
                                                <plex-text *ngIf="_unContacto.tipo !== 'celular'" label="Dato:" [(ngModel)]="_unContacto.valor" name="valor-{{i}}" [required]="!noPoseeContacto && (i <= 0)">
                                                </plex-text>
                                                <plex-phone label="Numero:" *ngIf="_unContacto.tipo === 'celular'" [(ngModel)]="_unContacto.valor" placeholder="Ej: 2990000000" [required]="!noPoseeContacto && (i <= 0)" name="valor-{{i}}">
                                                </plex-phone>
                                            </span>
                                        </div>
                                        <div class="col-2" *ngIf="i > 0"><br><br>
                                            <plex-button label="" type="danger btn-sm" icon="close" (click)="removeContacto(i)"></plex-button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- DATOS DE DOMICILIO -->
                            <fieldset>
                                <legend>Datos de domicilio</legend>

                                <div class="row">
                                    <div class="col-12">
                                        <plex-bool [(ngModel)]="viveProvNeuquen" label="¿Vive en la Provincia de Neuquén?" name="viveProvNeuquen" (change)="changeProvNeuquen($event)"></plex-bool>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" *ngIf="viveProvNeuquen">
                                        <plex-bool [(ngModel)]="viveEnNeuquen" label="¿Vive en Neuquén Capital?" name="viveNQN" (change)="changeLocalidadNeuquen($event)"></plex-bool>
                                    </div>
                                </div>
                                <div *ngIf="viveProvNeuquen">
                                    <div class="row" *ngIf="viveEnNeuquen">
                                        <div class="col-6">
                                            <plex-text label="Dirección" [(ngModel)]="pacienteModel.direccion[0].valor" name="divValor" placeholder="Ej: Avenida las Flores 1200">
                                            </plex-text>
                                        </div>
                                        <div class="col">
                                            <plex-select label="Barrio" [(ngModel)]="pacienteModel.direccion[0].ubicacion.barrio" name="barrio" [data]="barriosNeuquen"
                                                placeholder="Seleccione..." labelField="nombre">
                                            </plex-select>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!viveEnNeuquen">
                                        <div class="col">
                                            <plex-text label="Dirección" [(ngModel)]="pacienteModel.direccion[0].valor" name="divValor" placeholder="Ej: Avenida las Flores 1200">
                                            </plex-text>
                                        </div>
                                        <div class="col">
                                            <plex-select label="Localidad" [(ngModel)]="pacienteModel.direccion[0].ubicacion.localidad" name="localidad" [data]="localidadesNeuquen"
                                                placeholder="Seleccione..." labelField="nombre" (change)="loadBarrios(pacienteModel.direccion[0].ubicacion.localidad)">
                                            </plex-select>
                                        </div>
                                        <div class="col">
                                            <plex-select label="Barrio" [(ngModel)]="pacienteModel.direccion[0].ubicacion.barrio" name="barrio" [data]="barriosNeuquen"
                                                placeholder="Seleccione..." labelField="nombre">
                                            </plex-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!viveProvNeuquen">
                                    <div class="col">
                                        <plex-text label="Dirección" [(ngModel)]="pacienteModel.direccion[0].valor" name="divValor" placeholder="Ej: Avenida las Flores 1200">
                                        </plex-text>
                                    </div>
                                    <div class="col">
                                        <plex-select label="Provincia" [(ngModel)]="pacienteModel.direccion[0].ubicacion.provincia" name="provincia" [data]="provincias"
                                            placeholder="Seleccione..." labelField="nombre" (change)="loadLocalidades(pacienteModel.direccion[0].ubicacion.provincia)">
                                        </plex-select>
                                    </div>
                                    <div class="col">
                                        <plex-select label="Localidad" [(ngModel)]="pacienteModel.direccion[0].ubicacion.localidad" name="localidad" [data]="localidadesNeuquen"
                                            placeholder="Seleccione..." labelField="nombre">
                                        </plex-select>
                                    </div>
                                </div>
                            </fieldset>

                        </plex-tab>
                        <!-- / DATOS DE FINANCIADORES -->
                        <plex-tab label="Obras Sociales" icon="account-card-details">
                            <fieldset>
                                <!--<legend>Datos de Obras Sociales</legend>-->
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <plex-button label="Agregar Obra Social" type="primary btn-sm" icon="plus" (click)="addFinanciador()"></plex-button>
                                    </div>
                                </div>
                                <div *ngFor="let _unaOS of pacienteModel.financiador; let j = index" class="row">
                                    <div class="col-4">
                                        <plex-select [required]="true" [(ngModel)]="_unaOS.entidad" name="valorOS-{{j}}" [data]="obrasSociales" placeholder="Seleccione..." label="Obra Social:">
                                        </plex-select>
                                    </div>
                                    <div class="col-4">
                                        <plex-datetime [required]="true" label="Fecha Alta" [(ngModel)]="_unaOS.fecha" type="date" name="fechaOS-{{j}}">
                                        </plex-datetime>
                                    </div>
                                    <div class="col-2"><br><br>
                                        <plex-button label="" type="danger btn-sm" icon="close" (click)="removeFinanciador(j)"></plex-button>
                                    </div>
                                </div>
                            </fieldset>

                        </plex-tab>
                        <!-- / DATOS DE FAMILIARES -->
                        <plex-tab label="Relaciones" icon="account-multiple">
                            <fieldset>
                                <!--<legend>Datos de Obras Sociales</legend>-->
                                <div class="row">&nbsp;</div>
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let _unaRel of pacienteModel.relaciones; let k = index">
                                        <div class="row">
                                            <div class="col">
                                                <plex-text label="Documento" [(ngModel)]="_unaRel.documento" name="DocumentoPar-{{k}}" [required]="true" [readonly]="_unaRel.referencia? true : false"
                                                    placeholder="Ingrese documento...">
                                                </plex-text>
                                            </div>
                                            <div class="col">
                                                <plex-text label="Apellido" [(ngModel)]="_unaRel.apellido" name="apellidoPar-{{k}}" [required]="true" [readonly]="_unaRel.referencia? true : false"
                                                    placeholder="Ingrese apellido...">
                                                </plex-text>
                                            </div>
                                            <div class="col">
                                                <plex-text [autoFocus]="autoFocus" label="Nombre" [(ngModel)]="_unaRel.nombre" name="nombrePar-{{k}}" [required]="true" [readonly]="_unaRel.referencia? true : false"
                                                    placeholder="Ingrese nombre...">
                                                </plex-text>
                                            </div>
                                            <div class="col">
                                                <plex-select [(ngModel)]="_unaRel.relacion" name="relacion-{{k}}" [data]="relacionTutores" [required]="true" placeholder="Seleccione..."
                                                    label="Relacion:">
                                                </plex-select>
                                            </div>
                                            <div class="col"><br><br>
                                                <plex-button label="" type="danger btn-sm" icon="close" (click)="removeRelacion(k)"></plex-button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col">
                                        <plex-text [(ngModel)]="buscarPacRel" name="buscarPacRel" prefix="<i class='mdi mdi-account-search'></i>" (change)="buscar()"
                                            placeholder="Puede buscar un paciente por DNI, Apellido, Nombre o Escanear un DNI">
                                        </plex-text>
                                    </div>
                                </div>
                                <!--Loader-->
                                <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

                                <!--Alerta si no se encontró ningun paciente-->
                                <div *ngIf="PacientesRel && !PacientesRel.length && !esEscaneado" class="alert alert-danger">
                                    <i class="mdi mdi-account-alert"></i> No se encontró ningún paciente
                                </div>
                                <!--Tabla de resultados por SimpleQuery -->
                                <table *ngIf="PacientesRel && PacientesRel.length" class="table">
                                    <thead>
                                        <tr>
                                            <th>Documento</th>
                                            <th>Apellido</th>
                                            <th>Nombre</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>Sexo</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="hover" *ngFor="let pac of PacientesRel">
                                            <td>
                                                <span *ngIf="pac.paciente">{{pac.paciente.documento}}</span>
                                                <span *ngIf="!pac.paciente">{{pac.documento}}</span>
                                            </td>
                                            <td><span *ngIf="pac.paciente">{{pac.paciente.apellido}}</span>
                                                <span *ngIf="!pac.paciente">{{pac.apellido}}</span></td>
                                            <td><span *ngIf="pac.paciente">{{pac.paciente.nombre}}</span>
                                                <span *ngIf="!pac.paciente">{{pac.nombre}}</span></td>
                                            <td><span *ngIf="pac.paciente">{{pac.paciente.fechaNacimiento | fecha}}</span>
                                                <span *ngIf="!pac.paciente">{{pac.fechaNacimiento | fecha}}</span></td>
                                            <td><span *ngIf="pac.paciente">{{pac.paciente.sexo}}</span>
                                                <span *ngIf="!pac.paciente">{{pac.sexo}}</span></td>
                                            <td>
                                                <plex-button *ngIf="!pac.paciente" title="Seleccinar Paciente" icon="check-circle-outline" type="link" (click)="seleccionarPacienteRelacionado(pac, true)"></plex-button>
                                                <plex-button *ngIf="pac.paciente" title="Seleccinar Paciente" icon="check-circle-outline" type="link" (click)="seleccionarPacienteRelacionado(pac.paciente, true)"></plex-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col">
                                        <plex-button label="Agregar otro" icon="account-plus" type="primary" (click)="seleccionarPacienteRelacionado(null, false)"></plex-button>
                                    </div>
                                </div>
                            </fieldset>

                        </plex-tab>
                        <plex-tab label="Notas" icon="file-multiple">
                            <fieldset>
                                <div class="row">&nbsp;</div>
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let _unaNota of pacienteModel.notas; let l = index">
                                        <div class="row">
                                            <div class="col-8">{{_unaNota.nota}} <small class="text-muted">({{_unaNota.fecha | fecha }})</small>
                                            </div>
                                            <div class="col-2 text-right">
                                                <h2 class="text-warning">
                                                    <i *ngIf="_unaNota.destacada" (click)="destacarNota(l)" class="mdi mdi-star"></i>
                                                    <i *ngIf="!_unaNota.destacada" (click)="destacarNota(l)" class="mdi mdi-star-outline"></i>
                                                </h2>
                                            </div>
                                            <div class="col-2 text-right">
                                                <plex-button label="" type="danger btn-sm" icon="delete" (click)="removeNota(l)"></plex-button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col">
                                        <plex-text [(ngModel)]="nuevaNota" name="nuevaNota" prefix="<i class='mdi mdi-message-bulleted'></i>" placeholder="Ingrese Nota...">
                                        </plex-text>
                                    </div>
                                    <div class="col-2">
                                        <plex-button title="Agregar Nota" label="Agregar Nota" type="primary" (click)="addNota()"></plex-button>
                                    </div>
                                </div>
                            </fieldset>
                        </plex-tab>
                    </plex-tabs>
                </plex-box>

            </div>

            <!-- / DATOS DE FAMILIARES -->

            <div class="col">
                <plex-box type="primary">
                    <header>
                        <h3>Datos del Paciente

                            <span *ngIf="pacienteModel.estado === 'validado'" class="label label-success recuadro">
                            {{pacienteModel.estado | uppercase}} 
                        </span>
                            <span *ngIf="pacienteModel.estado !== 'validado'" class="label label-warning recuadro">
                            {{pacienteModel.estado | uppercase}} 
                        </span>
                        </h3>
                    </header>

                    <div class="row" *ngIf="pacienteModel.apellido">
                        <div class="col-md-12">
                            <h3><strong>{{pacienteModel.apellido}}</strong>
                                <small *ngIf="pacienteModel.nombre && !pacienteModel.alias"> {{pacienteModel.nombre}}</small>
                                <small *ngIf="pacienteModel.nombre && pacienteModel.alias"> {{pacienteModel.alias}}</small>
                            </h3>
                        </div>
                    </div>
                    <div class="row" *ngIf="pacienteModel.documento">
                        <div class="col-md-12">
                            <h4>D.N.I. {{pacienteModel.documento}} </h4>
                        </div>
                    </div>
                    <div class="row" *ngIf="pacienteModel.fechaNacimiento">
                        <div class="col-md-12">
                            <h4> <label>Fecha de Nacimiento: </label> {{pacienteModel.fechaNacimiento | fecha }} </h4>
                        </div>
                    </div>

                    <div class="row" *ngIf="pacienteModel.sexo">
                        <div class="col-md-12" *ngIf="pacienteModel.sexo == pacienteModel.genero">
                            <h4> <label>Sexo: </label>
                                <span *ngIf="pacienteModel.sexo.nombre">{{pacienteModel.sexo.nombre}}</span>
                                <span *ngIf="!pacienteModel.sexo.nombre">{{pacienteModel.sexo}}</span>
                            </h4>
                        </div>
                        <div class="col-md-12" *ngIf="pacienteModel.genero && pacienteModel.sexo && pacienteModel.sexo !== pacienteModel.genero">
                            <h4> <label>Genero: </label>
                                <span *ngIf="pacienteModel.genero.nombre">{{pacienteModel.genero.nombre}}</span>
                                <span *ngIf="!pacienteModel.genero.nombre">{{pacienteModel.genero}}</span>
                            </h4>
                        </div>
                    </div>
                    <div class="row" *ngIf="pacienteModel.contacto[0].valor">
                        <div class="col-md-12">
                            <h4> <label>Teléfono:</label>
                                <span *ngFor="let fono of pacienteModel.contacto; let i = index"> 
                                    {{fono.valor}} /
                                </span>
                            </h4>
                        </div>
                    </div>


                    <div class="row">&nbsp;</div>
                    <div type="inverted" *ngIf="pacientesSimilares && pacientesSimilares.length > 0" title="Pacientes Candidatos">
                        <header>
                            <h4>Pacientes Candidatos</h4>
                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hover" *ngIf="!pacientesSearch">
                                    <ul class="list-group">
                                        <li class="list-group-item justify-content-between" *ngFor="let elem of pacientesSimilares">
                                            <h4 class="box-title-elemento">{{elem.paciente.apellido| uppercase}} {{elem.paciente.nombre| uppercase}}
                                                <br>
                                                <small>Documento: {{elem.paciente.documento}} <br> fecha de Nacimiento: {{elem.paciente.fechaNacimiento | fecha }}<br>
                                            Sexo: {{elem.paciente.sexo}}
                                            </small>
                                            </h4>
                                            <h4>Similitud: {{elem.match * 100}} %
                                                <span>
                                              <plex-button type="primary btn-sm" icon="account" label="Seleccionar" (click)="onSelect(elem.paciente)"></plex-button>
                                              </span>
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </plex-box>
            </div>
        </div>
    </section>
    <footer>
        <plex-button *ngIf="!disableGuardar" title="Guardar" icon="content-save" label="Guardar" type="success" validateForm="true"
            (click)="preSave($event)">
        </plex-button>
        <plex-button *ngIf="enableIgnorarGuardar" title="Ignorar y Guardar" icon="content-save" label="Ignorar y Guardar" validateForm="true"
            type="success" (click)="save($event)">
        </plex-button>
        <plex-button title="Cancelar" icon="close-circle-outline" label="Cancelar" type="danger" (click)="onCancel()">
        </plex-button>
    </footer>
</form>