<div class="col-sm-12" *ngIf="!showcreate && !showupdate">
    <div class="panel panel-default">
        <div class="panel-heading">Búsqueda de Pacientes</div>
        <div class="panel-body">
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre...">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellido:</label>
                            <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese apellido...">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> Documento: </label>
                        <input type="number" class="form-control" formControlName="documento" placeholder="Ingresar DNI...">
                    </div>
                    <div class="col-md-3">
                        <label> Fecha de Nacimiento: </label>
                        <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Ingresar Fecha de Nacimiento...">
                    </div>
                    <div class="col-md-3">
                        <label> Estado: </label>
                        <select class="form-control" formControlName="estado">
                            <option value="">...</option>
                            <option *ngFor="let estado of estados" >{{estado}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label> Sexo: </label>
                        <select class="form-control" formControlName="sexo">
                            <option value="">...</option>
                            <option *ngFor="let sexo of sexos" >{{sexo}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="form-group" [ngClass]="{'has-error':error}">
                        <div class="alert alert-danger" *ngIf="error"> {{mensaje}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 text-right">
                        <input type="button" class="btn btn-info" value="Buscar" (click)="findPacientes()">
                    </div>
                </div>
            </form>

            <div class="row">&nbsp;</div>
            <div class="form_group">
                <div class="form-group">
                    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                        <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="50" style="float:left" placeholder="Buscar">
                    </div>
                    <p-dataTable [value]="pacientes" [rows]="20" [paginator]="true" [globalFilter]="gb" [responsive]="true">
                        <p-column [style]="{'width':'30%'}" field="nombreCompleto" header="Nombre"></p-column>
                        <p-column [style]="{'width':'8%'}" field="documento" header="DNI"></p-column>
                        <p-column [style]="{'width':'8%'}" field="fechaNacimiento" header="F. Nac">
                            <template let-paciente="rowData" pTemplate type="body">
                                <span>{{paciente.fechaNacimiento | date:"dd/MM/yy"}}</span>
                            </template>
                        </p-column>
                        <p-column [style]="{'width':'10%'}" field="sexo" header="Sexo"></p-column>
                        <p-column [style]="{'width':'10%'}" field="estado" header="Estado"></p-column>
                        <p-column [style]="{'width':'8%'}" field="activo" header="Activo">
                            <template let-paciente="rowData" pTemplate type="body">
                                    <span>{{paciente.activo ? "SI" : "NO"}}</span>
                                </template>
                        </p-column>
                        <p-column header="Acciones" [style]="{'width':'25%'}">
                            <template let-paciente="rowData" pTemplate type="body">
                                <button type="button" class="btn btn-sm btn-primary" pButton *ngIf="paciente.activo" (click)="onEdit(paciente)" icon="fa-search">Actualizar</button>
                                <button type="button" class="btn btn-sm btn-success" *ngIf="paciente.activo" (click)="onDisable(paciente)" pButton
                                    icon="fa fa-check">Deshabilitar</button>
                                <button type="button" class="btn btn-sm btn-danger" *ngIf="!paciente.activo" pButton (click)="onEnable(paciente)"
                                    icon="fa fa-check">Habilitar</button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-primary" type="button" (click)="showcreate = !showcreate" value="Nuevo Paciente">
                </div>
            </div>
            <div class="clear"></div>
            <!--<div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Fecha Nac.</th>
                            <th>Sexo</th>
                            <th>Estado</th>
                            <th>Activo</th>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes">
                            <td>{{paciente.nombreCompleto}}</td>
                            <td>{{paciente.documento}}</td>
                            <td>{{paciente.fechaNacimiento | date:"dd/MM/yyyy"}}</td>
                            <td>{{paciente.sexo}}</td>
                            <td>{{paciente.estado}}</td>
                            <th>{{paciente.activo ?'Sí':'No' }}</th>
                            <td style="width:20px;"><button class="btn btn-primary" *ngIf="paciente.activo" (click)="onEdit(paciente)"><i class="glyphicon glyphicon-pencil"></i> Actualizar</button></td>
                            <td style="width:20px;">
                                <button class="btn btn-danger" *ngIf="paciente.activo" (click)="onDisable(paciente)"><i class="glyphicon glyphicon-trash"></i> Borrar</button>
                                <button class="btn btn-success" *ngIf="!paciente.activo" (click)="onEnable(paciente)"><i class="glyphicon glyphicon-ok"></i> Activar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>

<div class="col-md-12" *ngIf="showcreate">
    <div class="panel panel-default">
        <div class="clear"></div>
        <paciente-create (data)='onReturn($event)'></paciente-create>

    </div>
</div>

<div class="col-sm-12" *ngIf="showupdate">
    <div class="panel panel-default">
        <div class="clear"></div>
        <paciente-update [selectedPaciente]="selectedPaciente" (data)='onReturn($event)'></paciente-update>

    </div>
</div>