<div class="row">

  <div class="col-md-8">
    <plex-box type="info" title="Alta de Pacientes">
      <form [formGroup]="createForm">
        <plex-tabs>
          <plex-tab icon="account" id="datosBasicos">
            <plex-box type="warning" title="Datos básicos">
              <div class="row">
                <div class="col-sm-4">
                  <plex-text label="Nombre" formControlName="nombre" [disabled]="validado" [required]="true" placeholder="Ingrese nombre...">
                  </plex-text>

                </div>
                <div class="col-sm-4">
                  <plex-text label="Apellido" formControlName="apellido" [disabled]="validado" [required]="true" placeholder="Ingrese apellido...">
                  </plex-text>
                </div>
                <div class="col-sm-4">
                  <plex-text label="Alias" formControlName="alias" placeholder="Ingrese alias...">
                  </plex-text>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <plex-int label="Número de Documento" formControlName="documento" [disabled]="validado" [required]="true" placeholder="Ingresar DNI...">
                  </plex-int>
                </div>
                <div class="col-md-4">
                  <plex-datetime label="Fecha de Nacimiento" type="date" formControlName="fechaNacimiento" [disabled]="validado" [required]="true">
                  </plex-datetime>
                </div>
                <div class="col-md-4">
                  <plex-select formControlName="sexo" [data]="sexos" placeholder="Seleccione..." [disabled]="validado" [required]="true" label="Sexo">
                  </plex-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <plex-select formControlName="genero" [data]="generos" placeholder="Seleccione..." label="Género">
                  </plex-select>
                </div>
                <div class="col-md-4">
                  <plex-select formControlName="estadoCivil" [data]="estadosCiviles" placeholder="Seleccione..." label="Estado Civil">
                  </plex-select>
                </div>
                <div class="col-md-4">
                  <plex-text [disabled]="true" label="Estado:" formControlName="estado">
                  </plex-text>
                </div>
              </div>
              <div *ngIf="familiaresPacientes.length > 0" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">info</span> Quiza quiso decir
              </div>
              <div *ngFor="let familiar of familiaresPacientes" (click)="addFamiliar(familiar,i)">
                {{ familiar.documento }} {{ familiar.nombre }} {{ familiar.apellido }}
              </div>

            </plex-box>
          </plex-tab>
          <plex-tab icon="contact-mail" title="Datos de contacto" id="contacto">
            <plex-box type="warning" title="Contacto" formArrayName="contacto">
              <div *ngFor="let co of createForm.controls.contacto.controls; let i=index" class="panel -default">
                <div class="panel-heading">
                  <div align="right" *ngIf="createForm.controls.contacto.controls.length > 0" (click)="removeContacto(i)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row" [formGroupName]="i">
                    <div class="col-md-4">
                      <plex-select formControlName="tipo" [data]="tipoComunicacion" id="id" placeholder="Seleccione..." label="Tipo:">
                      </plex-select>
                    </div>
                    <div class="col-md-4">
                      <plex-text label="Dato:" formControlName="valor" [required]="true">
                      </plex-text>
                    </div>
                    <div class="col-md-2">
                      <plex-int label="Orden:" formControlName="ranking">
                      </plex-int>
                    </div>
                    <div class="col-md-2"> <br>
                      <plex-bool formControlName="activo" label="Activo"></plex-bool>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <plex-button label="Agregar Contacto" icon="account-card-details" (click)="addContacto()"></plex-button>
                </div>
              </div>
            </plex-box>
            <div class="row">&nbsp;</div>
            <plex-box type="warning" title="Dirección" formArrayName="direccion">
              <div *ngFor="let dir of createForm.controls.direccion.controls; let i=index">
                <div class="panel-heading">
                  <div align="right" *ngIf="createForm.controls.direccion.controls.length > 1" (click)="removeDireccion(i)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-8">
                        <plex-text label="Detalle de Domicilio:" formControlName="valor" placeholder="Ej: Avenida las Flores 1200">
                        </plex-text>
                      </div>
                      <div class="col-md-4">
                        <plex-text label="Código Postal:" formControlName="codigoPostal" placeholder="Ej: Q8302IOO">
                        </plex-text>
                      </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div formGroupName="ubicacion">
                      <div class="row">
                        <div class="col-md-4">
                          <plex-select formControlName="pais" (getData)="loadPaises($event)" label="País:" labelField="nombre">
                          </plex-select>
                        </div>
                        <div class="col-md-4">
                          <plex-select formControlName="provincia" (getData)="loadProvincias($event, dir.controls.ubicacion.controls.pais) " label="Provincia:"
                            labelField="nombre">
                          </plex-select>
                        </div>
                        <div class="col-md-4">
                          <plex-select formControlName="localidad" (getData)="loadLocalidades($event, dir.controls.ubicacion.controls.provincia)" label="Localidad:"
                            labelField="nombre">
                          </plex-select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-2">
                        <plex-bool formControlName="activo" label="Activo"></plex-bool>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <plex-button label="Agregar Dirección" icon="apple-safari" (click)="addDireccion()"></plex-button>
                </div>
              </div>
            </plex-box>


          </plex-tab>
          <plex-tab icon="cards" title="Datos Financiador">
            <plex-box type="warning" title="Financiador" formArrayName="financiador">
              <div *ngFor="let fi of createForm.controls.financiador.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <div align="right" *ngIf="createForm.controls.financiador.controls.length > 0" (click)="removeFinanciador(i)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row" [formGroupName]="i">
                    <div class="col-md-4">
                      <plex-select formControlName="entidad" [data]="obrasSociales" placeholder="Seleccione..." label="Obra Social:">
                      </plex-select>
                    </div>

                    <div class="col-md-4">
                      <plex-datetime label="Fecha Alta" type="date" formControlName="fechaAlta">
                      </plex-datetime>
                    </div>
                    <div class="col-md-4">
                      <plex-int label="Orden:" formControlName="ranking">
                      </plex-int>
                    </div>
                    <div class="col-md-2"> <br>
                      <plex-bool formControlName="activo" label="Activo"></plex-bool>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <plex-button label="Agregar Obra Social" icon="pulse" (click)="addFinanciador()"></plex-button>
                </div>
              </div>
            </plex-box>

          </plex-tab>
          <plex-tab icon="account-multiple" title="Datos Familiares">
            <plex-box type="warning" title="Datos Familiares" formArrayName="relaciones">
              <div *ngFor="let co of createForm.controls.relaciones.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <div align="right" *ngIf="createForm.controls.relaciones.controls.length > 0" (click)="removeRelacion(i)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row" [formGroupName]="i">
                    <div class="col-md-3">
                      <plex-select formControlName="relacion" [data]="relacionTutores" label="Relación:">
                      </plex-select>
                    </div>
                    <div class="col-md-3">
                      <plex-int label="Documento" formControlName="documento" [required]="true" placeholder="Ingresar DNI...">
                      </plex-int>
                    </div>
                    <div class="col-md-3">
                      <plex-text label="Nombre:" formControlName="nombre" [required]="true">
                      </plex-text>
                    </div>
                    <div class="col-md-3">
                      <plex-text label="Apellido:" formControlName="apellido" [required]="true">
                      </plex-text>
                    </div>
                  </div>
                  <div *ngIf="familiaresPacientes.length > 0" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">info</span> Quiza quiso decir
                  </div>
                  <div *ngFor="let familiar of familiaresPacientes" (click)="addFamiliar(familiar,i)">
                    {{ familiar.documento }} {{ familiar.nombre }} {{ familiar.apellido }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <plex-button label="Agregar Relación" icon="account-switch" (click)="addRelacion()"></plex-button>
                </div>
              </div>
            </plex-box>
          </plex-tab>
        </plex-tabs>
      </form>
    </plex-box>
  </div>

  <div class="col-md-4">
    <plex-box type="info" title="Datos Paciente">
      <div class="row">
        <div class="col-md-12">

          <h4>{{createForm.value.nombre}}</h4>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <h4><strong>{{createForm.value.apellido}}</strong></h4>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>D.N.I. {{createForm.value.documento}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Fecha de Nacimiento</label>
          <div class="row">
            <div class="col-md-4">{{createForm.value.fechaNacimiento | date: 'dd/MM/yyyy'}}</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label>Sexo</label>
          <div class="row">
            <!--Al traer sexo desde la base es string, y cuando lo toma desde el plex-select es un objeto. 
                  Por eso la alternativa-->
            <div *ngIf="createForm.value.sexo.id" class="col-md-4">{{createForm.value.sexo.id}}</div>
            <div *ngIf="!createForm.value.sexo.id" class="col-md-4">{{createForm.value.sexo}}</div>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-4" *ngIf="!disableGuardar">
          <plex-button title="Guardar" icon="content-save" label="Guardar" type="primary" 
            [disabled]="!createForm.valid" (click)="onSave(createForm.value, createForm.valid)">
          </plex-button>
        </div>
        <div class="col-md-6" *ngIf="disableGuardar">
          <plex-button title="Ignorar y Guardar" icon="content-save" label="Ignorar y Guardar" type="primary" [disabled]="!createForm.valid"  (click)="save(createForm.value)">
          </plex-button>
        </div>
        <div class="col-md-4">
          <plex-button title="Cancelar" icon="close-circle-outline" label="Cancelar" type="danger" (click)="onCancel()">
          </plex-button>
        </div>
      </div>
    </plex-box>
    <!--<plex-box>
      <div class="row">
        <div class="col-sm-12">
          <plex-button title="Guardar" icon="content-save" label="Guardar" type="primary" (click)="onSave(createForm.value, createForm.valid)">
          </plex-button>
          <plex-button title="Cancelar" icon="close-circle-outline" label="Cancelar" type="danger" (click)="onCancel()">
          </plex-button>
        </div>
      </div>
    </plex-box>-->

  </div>

</div>

<div class="row" *ngIf="disableGuardar">
  <div class="col-md-12">
    <plex-box type="info" title="Pacientes Encontrados">
      <!-- Search results -->
      <div class="hover" *ngIf="!pacientesSearch">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                 <th>% similitud</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elem of pacientesSimilares" (click)="mostrarPaciente(paciente)">
                <td>{{elem.paciente.documento}}</td>
                <td>{{elem.paciente.nombre| uppercase}}</td>
                <td>{{elem.paciente.apellido| uppercase}}</td>
                <td>{{elem.paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                <td>{{elem.paciente.sexo}}</td>
                <td>{{elem.match * 100}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </plex-box>
  </div>
</div>