<section>
    <div *ngIf="!showCreateUpdate" class="row">
        <!--Panel central-->
        <div class="col-8">
            <plex-box type="primary">
                <plex-text [(ngModel)]="textoLibre" (change)="buscar()" [autoFocus]="autoFocus" prefix="💳" placeholder="Escanee un DNI digital para registrar al paciente">
                </plex-text>
                <!--Loader-->
                <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

                <!--Alerta si no se encontró ningun paciente-->
                <div *ngIf="resultado && !resultado.length && !esEscaneado" class="alert alert-danger">
                    <i class="mdi mdi-account-alert"></i> No se encontró ningún paciente
                </div>

                <!--Alerta si se encontraro pacientes con alto % de macheo -->
                <div *ngIf="pacientesSimilares && pacientesSimilares.length && !mostrarNuevo" class="alert alert-warning">
                    <i class="mdi mdi-account-alert"></i> Existen pacientes con un alto procentaje de matcheo, verifique la lista y seleccione el paciente correcto
                </div>

                <!--Tabla de resultados por SimpleQuery -->
                <table *ngIf="resultado && resultado.length" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Sexo</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover" *ngFor="let paciente of resultado">
                            <td>{{paciente.documento}}</td>
                            <td>{{paciente.apellido}}</td>
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                            <td>{{paciente.sexo}}</td>
                            <td>
                                <plex-button title="Seleccinar Paciente" icon="pencil" type="link" (click)="seleccionarPaciente(paciente)"></plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Tabla de resultados por Suggest -->
                <!--<table *ngIf="pacientesSimilares && pacientesSimilares.length" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Sexo</th>
                            <th>% Similitud</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover" *ngFor="let elem of pacientesSimilares">

                            <td>{{elem.paciente.documento}}</td>
                            <td>{{elem.paciente.apellido}}</td>
                            <td>{{elem.paciente.nombre}}</td>
                            <td>{{elem.paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                            <td>{{elem.paciente.sexo}}</td>
                            <td>{{elem.match * 100}} %</td>
                            <td>
                                <plex-button title="Seleccinar Paciente" icon="pencil" type="link" (click)="seleccionarPaciente(elem.paciente)"></plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>-->

            </plex-box>
        </div>
        <!--Panel lateral-->
        <div class="col">
            <plex-box type="primary">
                <header>
                    <h3>Validación digital de pacientes</h3>
                </header>
                <div class="label-info margin-bottom" style="font-size: 1em">Pacientes registrados en la Historia Digital de Salud: <strong>{{cantPacientesValidados}}</strong></div>
                <div class="nuevoDNI"></div>
            </plex-box>
        </div>
    </div>
    <!--Componente de Alta/Modificación-->
    <div *ngIf="showCreateUpdate">
        <paciente-create-update [seleccion]="seleccion" [escaneado]="esEscaneado" (data)='afterCreateUpdate($event)'></paciente-create-update>
    </div>
</section>
<footer>
    <plex-box type="footer" *ngIf="!showCreateUpdate && mostrarNuevo">
        <plex-button label="Nuevo Paciente" icon="account-plus" type="primary btn-lg" (click)="seleccionarPaciente(pacienteEscaneado)"></plex-button>
    </plex-box>

</footer>