<div class="col-sm-12" *ngIf="!showcreate && !showupdate">
  <div class="row">
    <div class="col-md-8">
      <plex-box type="info" title="Búsqueda de Pacientes">
        <div class="col-sm-11">
          <div class="row">
            <div class="col-md-11" *ngIf="!pacientesSearch">
              <div class="form-group">
                <!--<input  (focus)="active = true" [formControl]="searchText" [(ngModel)]="searchTextModel" class="form-control" placeholder="Buscar...">-->
                <input [formControl]="searchText" [(ngModel)]="searchTextModel" class="form-control" placeholder="Buscar...">
              </div>
            </div>
            <div class="col-md-11" *ngIf="pacientesSearch">
              <form [formGroup]="searchForm">
                <div class="row">
                  <div class="col-md-4">
                    <plex-int label="DNI" formControlName="documento" placeholder="Ingresar DNI...">
                    </plex-int>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <plex-text label="Nombre" formControlName="nombre" placeholder="Ingrese nombre...">
                    </plex-text>
                  </div>
                  <div class="col-md-4">
                    <plex-text label="Apellido" formControlName="apellido" placeholder="Ingrese apellido...">
                    </plex-text>
                  </div>
                  <br>
                  <div class="col-md-4">
                    <plex-button icon="account-search" title="buscar" label="Buscar" type="default" (click)="findPacientes()"></plex-button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-1">
              <plex-bool type="slide" [(ngModel)]="modeloSlide.activo" name="modeloSlide.activo" (ngModelChange)="activate($event)"></plex-bool>
            </div>
          </div>
        </div>
        <div>
          <plex-button icon="account-plus" type="primary" (click)="showcreate = !showcreate" *ngIf="nuevoPaciente" label="Nuevo Paciente"></plex-button>
        </div>
      </plex-box>
      <div>
      </div>
      <div class="row">
        <plex-loader *ngIf="active"></plex-loader>
      </div>
      <plex-box type="info" title="Pacientes Encontrados">
        <!-- Search results -->
        <div *ngIf="!pacientesSearch">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paciente of resultados$ | async">
                  <td>{{paciente.documento}}</td>
                  <td>{{paciente.nombre| uppercase}}</td>
                  <td>{{paciente.apellido| uppercase}}</td>
                  <td>
                    <plex-button icon="pencil" type="primary" label="Modificar" (click)="onEdit(paciente)">
                    </plex-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="pacientesSearch">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paciente of pacientesLista">
                  <td>{{paciente.documento}}</td>
                  <td>{{paciente.nombre| uppercase}}</td>
                  <td>{{paciente.apellido| uppercase}}</td>
                  <td>
                    <plex-button type="primary" label="Actualizar" (click)="onEdit(paciente)">
                    </plex-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </plex-box>
      <div class="row">
        <plex-box type="danger" *ngIf="!!mensaje">
          {{mensaje}}
        </plex-box>
      </div>
    </div>
    <!--fin de col-md-8 -->
    <div class="col-md-4">
      <plex-box type="info" title="Panel de Eventos">
        <div class="panel panel-success" *ngIf="pacientesScan">
          <div class="panel-heading">Lectura de documentación</div>
          <div class="panel panel-body">
            <div><span>DNI: {{pacienteScaneado.documento}}</span></div>
            <div><span>NOMBRE: {{pacienteScaneado.nombre}}</span></div>
            <div><span>APELLIDO: {{pacienteScaneado.apellido}} </span></div>
            <div><span>FECHA NACIMIENTO: {{pacienteScaneado.fechadeNacimiento}} </span></div>
            <div><span>SEXO: {{pacienteScaneado.sexo}} </span></div>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">Recordatorios</div>
          <div class="panel-body">
            <ul>
              <li>
                <p>Recuerde que puede realizar las búsquedas más rápidamente solicitando el DNI
              </li>
              <li>
                <p>Recuerde actualizar la información de contacto.
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">Últimas novedades al <b> {{fechaActual | date:'dd-MM-yyyy'}} </b> </div>
          <div class="panel-body">
            <p> Cantidad de pacientes validados fuente auténtica RENAPER <span class="badge">698.632</span></p>
            <p> Cantidad de pacientes fallecidos registrados <span class="badge">23.564</span></p>
          </div>
        </div>
      </plex-box>
    </div>
  </div>
</div>
<div class="col-md-12" *ngIf="showcreate">
  <div class="panel panel-default">
    <div class="clear"></div>
    <paciente-create (data)='onReturn($event)'></paciente-create>
  </div>
</div>
<div class="col-sm-12" *ngIf="showupdate">
  <div class="panel panel-default">
    <div class="clear"></div>
    <paciente-create [seleccion]="selectedPaciente" (data)='onReturn($event)'></paciente-create>
  </div>
</div>
