//
// Variables
$color-celeste: #039ac6;
$color-violeta: #9b2a79;
$color-rosa: #002b3a;
$color-amarillo: #666600;
$color-salmon: #e2917f;
$color-coral: #ce803e;
$color-verde-oscuro: #257300;

$andes-azul-oscuro: #002838;
$andes-azul: #0070cc;
$andes-azul-claro: #00a8e0;
$andes-celeste: #84cef0;
$andes-violeta: #982f98;
$andes-magenta: #e3007e;
$andes-verde: #00b9b1;
$andes-verde-claro: #63c7b7;
$andes-naranja: #ff4a1a;
$andes-naranja-claro: #f4a03b;

header {
    border: 0;
    &.size-sm,
    &.size-md {
        flex-direction: column;
        div {
            width: 100%;
        }
        .bienvenida {
            width: 100%;
        }
        .neuquen {
            top: 0;
        }
        .hola {
            font-size: 1.5rem;
        }
        .mensaje {
            font-size: 1rem;
        }
    }

    .neuquen {
        color: $andes-azul-claro;
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        top: 12px;
        left: 10px;
    }
}
header,
main {
    margin-left: 20px;
}
main {
    display: flex;
    justify-content: space-between;
}
//
// Clases
.logo-container {
    div[svgLogo] {
        width: 117px;
        height: 55px;
        margin-right: 27px;
    }
    div[svgAcronimo] {
        width: 332px;
        height: 42px;
        fill: $andes-azul-oscuro;
    }
}

.bienvenida {
    text-align: center;
    .hola {
        font-size: 28px;
        color: $andes-azul-oscuro;
    }
    .mensaje {
        font-size: 18px;
        color: $andes-azul-claro;
    }
}

.modulos {
    width: 73vw;
    flex-wrap: wrap;

    .modulo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        box-sizing: border-box;
        width: 210px;

        &:not(:last-child) {
            border-right: 1px solid $andes-azul-claro;
        }

        .principal {
            width: 220px;
            height: 62px;

            .titulo {
                color: rgb(56, 69, 85);
                font-size: 22px;
            }
            .descripcion {
                color: rgb(56, 69, 85);
                font-size: 13px;
            }
        }

        .submodulos {
            height: 140px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .submodulo {
            width: 70px;
            height: 70px;
            border-radius: 0;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            text-align: center;
            font-size: 0.75rem;

            box-shadow: 4px 2px 6px #aaa;


            &.hover {
                transition: all ease-in-out 0.25s;
                &:hover {
                    mix-blend-mode: multiply;
                    width: 90px;
                }
            }

            .titulo {
                font-size: 11px;
                line-height: normal;
            }

            .adi {
                font-size: 327px !important;
            }

            

            &:first-child {
                margin: 0 5px 5px 0;
            }
        }
    }
}

.divisor {
    box-sizing: content-box;
    width: 100%;
    height: 1px;
    margin: 20px 0 30px;
}

.secciones {
    width: 20vw;
    flex-direction: column;
    &:not(:last-child) {
        border-right: 1px solid $andes-azul-claro;
    }
}
.seccion {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-right: 40px;
    margin-bottom: 1rem;

    .principal .band {
        width: 4px;
        height: 50px;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .principal plex-icon {
        transition: all 0.5s ease-in-out;

        margin-left: 0px;
        margin-right: 0px;
        &.animated {
            position: relative;
            right: 0px;
            width: 0px;
            opacity: 0;
        }
    }

    &:hover {
        .band {
            margin-left: -10px !important;
        }

        .principal {
            plex-icon {
                &.animated {
                    width: 10px;
                    opacity: 1;
                    right: 7px;
                    transition: all 0.25s ease-in-out;
                    animation-direction: reverse;
                }
            }
        }
    }

    .principal {
        transition: width ease-in-out 0.5s, margin ease-in 0.5s;

        width: 50px;
        height: 40px;
        border-radius: 0;
        color: white;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

        text-align: center;
        font-size: 11px;
        line-height: 11px;

        box-shadow: 4px 2px 6px #aaa;

        .icono {
            font-size: 1.25rem;
            color: white;
        }

    }
    .titulo {
        font-size: 0.85rem;
        font-weight: 600;
        font-style: oblique;
    }
    .secundario {
        font-size: 0.65rem;
        display: flex;
        flex-direction: column;
    }
}

.boton {
    min-height: 266px;
    padding: 0.5em;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 15px;
    // Contenido
    .icono {
        font-size: 3em;
    }
    .titulo {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 400;
        line-height: 0.8em;
        padding-bottom: 1em;
    }
    .subtitulo {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
        padding-bottom: 1em;
    }
    .detalle {
        font-weight: 100;
    }
    &:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }
}


