//
// Variables
$color-celeste: #039ac6;
$color-violeta: #9B2A79;
$color-rosa: #002B3A;
$color-amarillo: #666600;
$color-salmon: #E2917F;
$color-coral: #ce803e;
//
// Clases
.logo {
    background-image: url('../../assets/img/logo-wide.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    max-width: 600px;
    min-height: 100px;
    display: inline-block;
    margin-top: 3em;
    margin-bottom: 3em;
}

.boton {
    padding: .5em;
    color: white;
    cursor: pointer;
    transition: all .5s;
    // Contenido
    .icono {
        font-size: 3em;
    }
    .titulo {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 100;
        line-height: .8em;
        padding-bottom: 1em;
    }
    .subtitulo {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
        padding-bottom: 1em;
    }
    .detalle {
        font-weight: 100;
    }
    // Colores
    &.color-celeste {
        background: $color-celeste;
    }
    &.color-celeste:hover {
        background: darken($color-celeste, 20%);
    }
    &.color-violeta {
        background: $color-violeta;
    }
    &.color-violeta:hover {
        background: darken($color-violeta, 20%);
    }
    &.color-rosa {
        background: $color-rosa;
    }
    &.color-rosa:hover {
        background: darken($color-rosa, 10%);
    }
    &.color-amarillo {
        background: $color-amarillo;
    }
    &.color-amarillo:hover {
        background: darken($color-amarillo, 10%);
    }
    &.color-salmon {
        background: $color-salmon;
    }
    &.color-salmon:hover {
        background: darken($color-salmon, 10%);
    }
    &.color-coral {
        background: $color-coral;
    }
    &.color-coral:hover {
        background: darken($color-coral, 10%);
    }
}