//
// Variables
$andes-azul-oscuro: #002838;

header {
    border: 0;
    margin-top: 1rem;

    .marca {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    div[svgLogo] {
        width: 117px;
        height: 55px;
        margin-right: 27px;
    }

    div[svgAcronimo] {
        width: 332px;
        height: 42px;
        fill: $andes-azul-oscuro;
    }

    .provincia {
        color: var(--nav-bar-color);
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        top: 12px;
        left: 10px;
    }

    opacity: 0;
    animation: header 0.5s ease-in 0s 1 forwards;
}

header,
main {
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: space-between;
}

.bienvenida {
    text-align: center;
    margin-right: 1.5rem;

    .efector {
        color: grey;
    }

    .hola {
        font-size: 28px;
        color: $andes-azul-oscuro;
    }

    .mensaje {
        font-size: 18px;
        color: var(--nav-bar-color);
    }
}

.modulos {
    width: 73vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    .modulo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        
        box-sizing: border-box;
        width: 300px;
        margin-bottom: 1rem;
        
        &.auto-height {
            height: auto !important;
            .submodulos {
                height: auto;
            }
        }

        .principal {
            width: 220px;
            height: 62px;
            margin-bottom: 7px;

            .titulo {
                color: rgb(56, 69, 85);
                font-size: 22px;
            }

            .descripcion {
                color: grey;
                font-size: 13px;
            }
        }

        .submodulos {
            width: 265px;
            height: 145px;
            // flex-wrap: wrap;
            justify-content: flex-start;
            .mini {
                width: 60px;
                .titulo {
                    font-size: 0.65rem;
                }
            }
        }

        opacity: 0;
        @for $child from 1 through 10 {
            &:nth-child(#{$child}) {
                animation: submodulos #{$child/4}s ease-in-out 0.05s 1 forwards;
            }
        }

        .submodulo {
            text-decoration: none;
            cursor: pointer;
            box-sizing: content-box;
            width: 80px;
            height: 80px;
            border-radius: 0;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            text-align: center;
            font-size: 0.75rem;

            box-shadow: 4px 2px 6px #aaa;
            margin: 0 5px 5px 0;
            padding-top: 5px;

            &.hover {
                transition: all ease-in-out 0.25s;

                &:hover {
                    mix-blend-mode: multiply;
                    width: 90px;
                }
            }

            .titulo {
                font-size: 13px;
                line-height: normal;
                a,
                a:visited,
                a:hover,
                a:focus {
                    color: rgb(56, 69, 85);
                    text-decoration: none;
                }
            }

            .adi {
                font-size: 327px !important;
            }

            // Aplica margin bottom sólo si tiene 2 renglones de submódulos
            &:nth-child(4) {
                margin-bottom: 1rem;
            }
        }
    }
}

.divisor {
    box-sizing: content-box;
    width: 100%;
    height: 1px;
    margin: 20px 0 30px;
}

.secciones {
    width: 20vw;
    flex-direction: column;
    & > {
        cursor: pointer;
    }
}

a.seccion {
    text-decoration: none;
    color: rgb(56, 69, 85);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 1.1rem;

    opacity: 0;

    @for $child from 1 through 20 {
        &:nth-child(#{$child}) {
            animation: seccion #{$child/4}s ease-in-out 1.15s 1 forwards;
        }
    }

    &:visited,
    &:hover,
    &:focus {
        text-decoration: none;
        color: rgb(56, 69, 85);
    }

    .principal .band {
        width: 4px;
        height: 50px;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .principal plex-icon {
        transition: all 0.5s ease-in-out;

        margin-left: 0px;
        margin-right: 0px;

        &.animated {
            position: relative;
            right: 0px;
            width: 0px;
            opacity: 0;
        }
    }

    &:hover {
        .band {
            margin-left: -10px !important;
        }

        .principal {
            plex-icon {
                &.animated {
                    width: 10px;
                    opacity: 1;
                    right: 7px;
                    transition: all 0.25s ease-in-out;
                    animation-direction: reverse;
                }
            }
        }
    }

    .principal {
        transition: width ease-in-out 0.5s, margin ease-in 0.5s;

        width: 50px;
        height: 40px;
        border-radius: 0;
        color: white;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

        text-align: center;
        font-size: 11px;
        line-height: 11px;

        box-shadow: 4px 2px 6px #aaa;

        .icono {
            font-size: 1.25rem;
            color: white;
        }
    }

    .titulo {
        font-size: 0.9rem;
        font-weight: 600;
        font-style: oblique;
    }

    .secundario {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        .subtitulo {
            color: grey;
        }
    }
}

.boton {
    min-height: 266px;
    padding: 0.5em;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 15px;

    // Contenido
    .icono {
        font-size: 3em;
    }

    .titulo {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 400;
        line-height: 0.8em;
        padding-bottom: 1em;
    }

    .subtitulo {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1em;
        padding-bottom: 1em;
    }

    .detalle {
        font-weight: 100;
    }

    &:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }
}

.denegado {
    width: 100%;
    height: 75%;
}

// Responsive

header {
    &.size-sm,
    &.size-md {
        flex-direction: column;

        div {
            width: 100%;
        }

        .bienvenida {
            width: 100%;
        }

        .hola {
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        .mensaje {
            font-size: 1rem;
        }
    }
    &.size-sm {
        .marca {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }
        [svgLogo] {
            height: 40px;
            margin-right: 0px;
        }
        div[svgAcronimo] {
            height: 23px;
        }
        .provincia {
            top: -4px;
        }
        .bienvenida {
            font-size: 0.7rem;
        }
    }
}

main {
    &.size-sm {
        flex-direction: column;

        .modulo {
            height: auto !important;
            .submodulos {
                height: auto;
            }
        }

        .secciones {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            width: 80vw;
            margin-top: 6rem;
            .seccion {
                display: block;
                text-decoration: none;
                min-width: 225px;
                padding-right: 0;
                margin-bottom: 0.5rem;
            }
        }
    }

    &.size-sm,
    &.size-md,
    &.size-lg {
        .modulos {
            width: 55vw;
        }
        .secciones {
            width: 35vw;
        }
    }
}

// Animaciones con keyframes
@keyframes header {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes submodulos {
    0% {
        opacity: 0;
        position: relative;
        bottom: -15px;
        height: 130px;
    }
    100% {
        opacity: 1;
        position: relative;
        bottom: 0px;
        height: 145px;
    }
}

@keyframes seccion {
    0% {
        opacity: 0;
        position: relative;
        left: -15px;
    }
    100% {
        opacity: 1;
        position: relative;
        left: 0px;
    }
}
