<plex-title justify titulo="{{ titulo }}">
    <plex-button icon="check" type="success" size="sm" (click)="guardar()">
    </plex-button>
    <ng-content></ng-content>
</plex-title>
<fieldset>
    <div class="row">
        <div class="col-md">
            <plex-datetime type="datetime" [(ngModel)]="fecha" [required]="true" [max]="fechaMax" name="fechaIngreso"
                           label="Fecha Ingreso" (change)="setFecha()">
            </plex-datetime>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ng-container *ngIf="camas$ | async as camas">
                <plex-select [required]="true" [(ngModel)]="selectedCama" name="cama" [data]="camas"
                             placeholder="Elija cama" label="Cama" idField="nombre" labelField="nombre"
                             (change)="selectCama($event.value)">
                </plex-select>
            </ng-container>
        </div>
    </div>
</fieldset>