<ng-container>
    <div class="mt-2">
        <ng-container *ngIf="!editar || !existeEgreso">
            <plex-options [items]="items" (activated)="onActiveOption($event)"></plex-options>
        </ng-container>

        <ng-container *ngIf="mostrar === 'ingreso'">
            <app-informe-ingreso *ngIf="!editar" (cancel)="activatedOption('ingreso')">
                <plex-button title="editar ingreso" icon="pencil" type="warning" size="sm" (click)="toggleEdit()">
                </plex-button>
            </app-informe-ingreso>
            <app-ingresar-paciente *ngIf="editar" (onSave)="toggleEdit()">
                <plex-button title="volver" icon="arrow-left" type="danger" size="sm" (click)="toggleEdit()">
                </plex-button>
            </app-ingresar-paciente>
        </ng-container>
        <ng-container *ngIf="mostrar === 'movimientos'">
            <app-movimientos-internacion>
                <plex-button *ngIf="(view === 'listado-internacion')" [disabled]="prestacion.ejecucion.registros[1]"
                             label="Cambiar cama" type="warning" size="sm" (click)="changeCama()">
                </plex-button>
            </app-movimientos-internacion>
        </ng-container>
        <ng-container *ngIf="mostrar === 'egreso'">
            <app-informe-egreso *ngIf="!editar && existeEgreso" (cancel)="activatedOption('egreso')">
                <plex-button title="editar egreso" icon="pencil" type="warning" size="sm" (click)="toggleEdit()">
                </plex-button>
            </app-informe-egreso>
            <app-egresar-paciente *ngIf="editar || !existeEgreso" (onSave)="toggleEdit()">
                <plex-button *ngIf="existeEgreso" title="volver" icon="arrow-left" type="danger" size="sm"
                             (click)="toggleEdit();">
                </plex-button>
            </app-egresar-paciente>
        </ng-container>
    </div>
</ng-container>