<div class="mt-2">
    <ng-container *ngIf="!editar">
        <plex-options [items]="items" (activated)="onActiveOption($event)"></plex-options>
    </ng-container>

    <ng-container *ngIf="mostrar === 'ingreso'">
        <app-informe-ingreso *ngIf="!editar" (cancel)="activatedOption('ingreso')">
            <plex-button title="editar" icon="pencil" type="warning" size="sm" (click)="toggleEdit()">
            </plex-button>
        </app-informe-ingreso>
        <app-ingresar-paciente *ngIf="editar" (cancel)="toggleEdit()">
            <plex-button title="volver" icon="arrow-left" type="danger" size="sm" (click)="toggleEdit()">
            </plex-button>
        </app-ingresar-paciente>
    </ng-container>
    <ng-container *ngIf="mostrar === 'movimientos'">
        egreo
        <!-- <app-movimientos-internacion [prestacion]="prestacion" (cancel)="activatedOption('ingreso')"
                                     (cambioCama)="cambiarCama()">
        </app-movimientos-internacion> -->
    </ng-container>
    <ng-container *ngIf="mostrar === 'egreso'">
        egreo dos
        <!-- <app-informe-egreso [fecha]="fecha" [prestacion]="prestacion" [detalle]="detalleEgreso"
                            (cancel)="activatedOption('egreso')" (toggleEditar)="editarFormulario($event)"
                            (refresh)="refrescar($event)">
        </app-informe-egreso> -->
    </ng-container>
</div>