.rup-card.solovalores:not(.mini):hover {
    border: 0;
}

.card {
    background-color: transparent;
    border: 1px solid #111;
    border-radius: 0;
}

.card-header {
    padding: 0 !important;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    max-height: 40px;
    height: auto;
}

.contenedor-icono {
    background-color: #00A8E0;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2px 4px !important;

    plex-icon.i {
        position: relative !important;
        top: 3px !important;
    }
}

.alerta-campo {
    .card {
        background-color: transparent;
        border: 1px solid red
    }

    .contenedor-icono {
        background-color: red;
        color: #ffffff;

        padding: 0.46rem;
        font-size: 1.5rem;
    }

}
 

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    // grid-auto-rows: 1fr;

    padding: .55rem;

    .titulo {
        text-transform: capitalize;

        i,
        strong {
            color: #00A8E0;
            font-weight: 400;
        }

        i {
            font-size: 28px;
        }

        strong {
            font-size: 18px;
        }

        .contenido {
            font-size: 24px;
        }
    }

    .rup-clear {
        // overflow-x: auto;
        overflow: hidden;

        .contenedor-conceptos {
            border-left: 1px solid black;
        }

        .titulo,
        .contenido {
            padding: 5px 0;
            border-bottom: 1px solid black;
        }

        p.readonly {
            margin-top: 10px;
        }

        .relacionado {
            position: relative;
            border-bottom: white !important;

            .branch {
                border-bottom: 1px solid black;
                height: 1px;
                width: 10px;
                position: absolute;
                left: -16px;
                top: 18px;
            }
        }


    }



    .rup-card {


        &:hover {
            border: 0 !important;
        }

        .rup-footer {
            &:first-child {
                border-top: 1px solid black;
            }

            border-bottom: 1px solid black;
        }
    }

   
    // .grid-item-1 {
    //     grid-column: 1 / 3;
    //     grid-auto-rows: 100px;

    //     .titulo,
    //     .contenido {
    //         padding: 5px 0;
    //         margin: 0;
    //         border-bottom: 1px solid black;
    //     }
    // }

    // .grid-item-0 {
    //     grid-auto-rows: 100px;
    //     .titulo,
    //     .contenido {
    //         padding: 5px 0;
    //         margin: 0;
    //         border-bottom: 1px solid black;
    //     }
    // }


}
    .grid-container-solo-valores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        // grid-auto-rows: 1fr;
    
        padding: .55rem;
    
        .titulo {
            text-transform: capitalize;
    
            i,
            strong {
                color: #00A8E0;
                font-weight: 400;
            }
    
            i {
                font-size: 28px;
            }
    
            strong {
                font-size: 18px;
            }
    
            .contenido {
                font-size: 24px;
            }
        }
    
        .grid-item-0 {
            grid-auto-rows: 100px;
            .titulo,
            .contenido {
                padding: 5px 0;
                margin: 0;
                border-bottom: 1px solid black;
            }
        }

    }

