<plex-title titulo="Indicaciones Activas"></plex-title>

<ng-container *ngIf="indicaciones$ | async as indicaciones">

    <plex-accordion>

        <plex-panel *ngFor="let indicacion of indicaciones">
            <div plex-accordion-title>
                {{ indicacion.nombre }}
                <span>
                    <plex-badge type="success"> {{ indicacion.estado.tipo }} </plex-badge>
                    <plex-button icon="pencil" size="sm" type="info" (click)="onEdit(indicacion)"></plex-button>
                </span>
            </div>
        </plex-panel>

    </plex-accordion>

</ng-container>