<section>
    <plex-list [striped]="true">
        <ng-container *ngFor="let paciente of listado; let pos = index">

            <plex-item (click)="seleccionar(paciente)" [selected]="paciente.id == seleccionado?.id">

                <img [mpiFotoPaciente]="paciente" />

                <plex-label *ngIf="!paciente.numeroIdentificacion" titulo="{{ paciente | nombre }}"
                            subtitulo="{{ (paciente.documento | number) || 'Sin DNI' }}">
                </plex-label>

                <plex-label *ngIf="paciente.numeroIdentificacion" titulo="{{ paciente | nombre }}"
                            subtitulo="{{ paciente.numeroIdentificacion }}">
                </plex-label>

                <plex-label titulo="{{ paciente | edad }}" subtitulo="{{ paciente.fechaNacimiento | fecha:'utc' }}">
                </plex-label>

                <plex-badge *ngIf="paciente.fechaFallecimiento" type="danger">Fallecido:
                    {{ paciente.fechaFallecimiento | fecha:'utc'}}
                </plex-badge>

                <plex-badge
                            [ngClass]="{'text-success' : paciente.estado === 'validado' , 'text-warning' : paciente.estado === 'temporal'} ">
                    {{ paciente.estado }}
                </plex-badge>

                <plex-badge [ngClass]="{'text-primary' : paciente.activo, 'text-danger' : paciente.activo} ">
                    {{ paciente.activo ? 'activo' : 'inactivo' }}
                </plex-badge>

                <plex-badge type="warning">
                    <plex-button type="warning" label="Vinculaciones" (click)="verVinculados(paciente)"></plex-button>
                    {{ paciente.identificadores?.length }}
                </plex-badge>

                <plex-dropdown class="pl-2 mr-0" [right]="true" [items]="itemsDropdown" size="sm" icon="dots-vertical"
                               label="" (onOpen)="setDropDown(paciente)">
                </plex-dropdown>
                <!--                 
                <plex-button type="danger" size="sm" *ngIf="paciente.activo">DESACTIVAR </plex-button>
                <plex-button type="success" size="sm" *ngIf="!paciente.activo"> ACTIVAR </plex-button>
                <plex-button type="info" size="sm" (click)="vincular(paciente)">VINCULAR</plex-button> -->

            </plex-item>
        </ng-container>
    </plex-list>
</section>