.nombres-profesionales {
    div {
        font-size: 0.9rem;
    }
}


::ng-deep {

    // Se quita scroll del padre del contenedor con scroll infinito
    body>app>plex-app>div>gestor-agendas>form>section>div>div.col.h-100>plex-box>div>div {
        overflow-y: hidden !important;
        padding-right: 0 !important;
    }
}