<!--Header de agenda-->
<header>
    <div class="row" *ngIf="showTurnos">
        <div class="col-12">
            <fieldset>
                <legend>
                    <div class="clearfix">
                        <span class="float-left">Bloques y Turnos</span>
                        <span class="badge-success float-right">{{ agenda.estado }}</span>
                    </div>
                </legend>
                <!--Header de la agenda-->
                <div class="alert alert-default small">
                    <div class="row">
                        <div class="col-12">
                            <label>Fecha</label> {{ agenda.horaInicio | date: 'EEE'}} {{ agenda.horaInicio | date: 'dd/MM/yyyy'}} {{ agenda.horaInicio | date: 'HH:mm'}} a {{ agenda.horaFin | date: 'HH:mm'}} hs
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Tipos de prestación</label>
                            <div *ngFor="let tipoPrestacion of agenda.tipoPrestaciones">{{tipoPrestacion.nombre}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Profesionales</label>
                            <span *ngIf="agenda.profesionales?.length == 0" class="text-danger">Profesional no asignado</span>
                            <ng-container *ngIf="agenda.profesionales">
                                <div *ngFor="let profesional of agenda.profesionales">{{profesional.apellido}}, {{profesional.nombre}}</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Espacio físico</label>
                            <span *ngIf="agenda.espacioFisico?.nombre">{{agenda.espacioFisico.nombre}}</span>
                            <span *ngIf="!agenda.espacioFisico?.nombre" class="text-danger">Espacio físico no asignado</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <strong class="h6" *ngIf="agenda.nota">Nota: <span class="h6">{{ agenda.nota }} </span></strong>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</header>
<!--Listado de turnos-->
<div class="row" *ngIf="showTurnos">
    <div class="col-12">
        <div class="float-left" *ngIf="hayTurnosTarde()" class="text-sm text-info"><i class="mdi mdi-alarm"></i> Agenda en ejecución</div>
        <div *ngIf="turnosSeleccionados.length > 0" class="float-right">

            <button *ngIf="botones.sacarAsistencia" class="btn btn-default hover" (click)="eventosTurno( 'sacarAsistencia' )">
                <span><i title="Sacar Asistencia" class="mdi mdi-account-remove"></i></span>
            </button>

            <button *ngIf="botones.darAsistencia" class="btn btn-default hover" (click)="eventosTurno( 'darAsistencia' )">
                <span><i title="Dar Asistencia" class="mdi mdi-account-check"></i></span>
            </button>

            <span *ngIf="botones.liberarTurno">
                <!--<button id="liberarTurno" class="btn btn-default hover" mwlConfirmationPopover [title]="titleLiberarTurno" [message]="messageLiberarTurno"
                    placement="bottom" (confirm)="liberarTurno(agenda, confirmaLiberarTurno = true)"
                    (cancel)="cancelClicked = true" confirmText="Confirmar" cancelText="Cancelar">
                    <i title="Liberar Turno" class="mdi mdi-account-minus"></i>
                </button>-->
                <button id="liberarTurno" class="btn btn-default hover" (click)="liberarTurno(agenda)">
                    <i title="Liberar Turno" class="mdi mdi-account-minus"></i>
                </button>
            </span>

            <span *ngIf="botones.listaDeEspera">
                <button class="btn btn-default hover" (click)="agregarPacienteListaEspera(agenda)"><i title="Agregar Paciente a Lista Espera" class="mdi mdi-account-alert"></i></button>
            </span>

            <span *ngIf="botones.reasignarTurno">
                <button class="btn btn-default hover">
                    <i title="Reasignar Turno" (click)="reasignarTurno(turno.paciente, turno.id, agenda.id)" class="mdi mdi-account-restore"></i>
                </button>
            </span>

            <span *ngIf="botones.suspenderTurno">
                <!--<button id="suspenderTurno" class="btn btn-default hover" mwlConfirmationPopover [title]="titleSuspenderTurno" [message]="messageSuspenderTurno"
                    placement="bottom" (confirm)="suspenderTurno(agenda, confirmaSuspenderTurno = true)"
                    (cancel)="cancelClicked = true" confirmText="Confirmar" cancelText="Cancelar">
                    <i title="Suspender Turno" class="mdi mdi-power"></i>
                </button>-->
                <button id="suspenderTurno" class="btn btn-default hover" (click)="suspenderTurno(agenda)">
                    <i title="Suspender Turno" class="mdi mdi-power"></i>
                </button>
            </span>

            <span *ngIf="botones.bloquearTurno">
                <button class="btn btn-default hover" (click)="eventosTurno( 'bloquearTurno' )">
                    <i title="Desbloquear Turno" class="mdi mdi-lock-open-outline"></i>
                </button>
            </span>

            <span *ngIf="botones.desbloquearTurno">
                <button class="btn btn-default hover" (click)="eventosTurno( 'bloquearTurno' )">
                    <i title="Bloquear Turno" class="mdi mdi-lock-outline"></i>
                </button>
            </span>

            <span *ngIf="botones.nota && turnosSeleccionados.length > 0">
                <button class="btn btn-default hover" (click)="agregarNotaTurno()"><i title="Agregar Nota" class="mdi mdi-comment-outline"></i></button>
            </span>

            <span *ngIf="botones.sms">
                <button class="btn btn-default hover" (click)="enviarSMS()"><i title="Enviar SMS" class="mdi mdi-email-outline"></i></button>
            </span>

        </div>
        <template ngFor let-bloque="$implicit" [ngForOf]="agenda.bloques" let-i="index">
            <table *ngIf="agenda" class="table">
                <tr>
                    <td colspan="1">
                        <input type="checkbox" [(ngModel)]="this.todos" name="todos" (click)="seleccionarTodos()">
                    </td>
                    <td colspan="4">
                        <strong>Bloque: </strong>{{bloque.descripcion}}
                    </td>
                </tr>
            </table>
            <table class="table table-striped">
                <tr *ngFor="let turno of bloque.turnos; let i=index" class="hover" [ngClass]="{'bg-inverse text-white': estaSeleccionado(bloque.turnos[i])}">
                    <td (click)="seleccionarTurno(turno, true)">
                        <i *ngIf="estaSeleccionado(bloque.turnos[i])" class="mdi mdi-checkbox-marked"></i>
                        <i *ngIf="!estaSeleccionado(bloque.turnos[i])" class="mdi mdi-checkbox-blank-outline"></i>
                    </td>
                    <td (click)="seleccionarTurno(bloque.turnos[i])">
                        <strong>{{ turno.horaInicio | date: 'HH:mm' }}</strong>
                    </td>
                    <td (click)="seleccionarTurno(bloque.turnos[i], false)">
                        <span *ngIf="turno.paciente">{{ turno.paciente.apellido }} {{ turno.paciente.nombre }} </span>
                        <div *ngIf="turno.paciente">{{turno.paciente.documento}}</div>
                        <span *ngIf="turno.estado === 'disponible'">disponible</span>
                        <!--<span [ngClass]="{'text-danger': turno.estado === 'suspendido'}" *ngIf="turno.estado === 'suspendido'">No disponible</span>-->
                        <span *ngIf="turno.nota"><i title="{{turno.nota}}" class="text-warning warning mdi mdi-message"></i></span>
                    </td>
                    <td (click)="seleccionarTurno(bloque.turnos[i], false)">
                        <strong [ngClass]="{'text-success': turno.paciente && turno.estado !== 'suspendido' && turno.asistencia}" *ngIf="turno.asistencia && turno.paciente">Recepcionado</strong>
                        <strong [ngClass]="{'text-warning': turno.paciente && turno.estado !== 'suspendido' && !turno.asistencia}" *ngIf="!turno.asistencia && turno.paciente && turno.estado !== 'suspendido'">No Recepcionado</strong>
                        <strong [ngClass]="{'text-danger': turno.estado === 'suspendido'}" *ngIf="turno.estado === 'suspendido'">Suspendido</strong>
                        <strong *ngIf="!turno.paciente"> </strong>
                    </td>
                    <td class="text-center" *ngIf="turno.botones?.smsVisible" (click)="seleccionarTurno(bloque.turnos[i], false)" [ngClass]="{'text-success': turno.paciente && turno.estado !== 'suspendido'}">
                        <i *ngIf="turno.botones?.smsNoEnviado" title="SMS No Enviado" class="text-danger danger mdi mdi-checkbox-blank-circle-outline"></i>
                        <i *ngIf="turno.botones?.smsEnviado" title="SMS Enviado" class="text-success success mdi mdi-checkbox-marked-circle-outline"></i>
                        <div>
                            <plex-loader *ngIf="turno.botones?.smsLoader" type="ball-pulse"></plex-loader>
                        </div>
                    </td>
                </tr>
            </table>
        </template>
    </div>
</div>

<!-- Muestra el panel de Liberar turno -->
<div type="info" class="col-md-12" *ngIf="showLiberarTurno">
    <div class="clear"></div>
    <liberar-turno [agenda]="agenda" [turnosSeleccionados]="turnosSeleccionados" (saveLiberarTurno)="saveLiberarTurno($event)" (reasignarTurnoLiberado)="reasignarTurnoLiberado($event)" (cancelaLiberarTurno)="cancelaLiberarTurno($event)"></liberar-turno>
</div>

<!-- Muestra el panel de Suspender turno -->
<div type="info" class="col-md-12" *ngIf="showSuspenderTurno">
    <div class="clear"></div>
    <suspender-turno [agenda]="agenda" [turnosSeleccionados]="turnosSeleccionados" (saveSuspenderTurno)="saveSuspenderTurno($event)" (reasignarTurnoSuspendido)="reasignarTurnoSuspendido($event)" (cancelaSuspenderTurno)="cancelaSuspenderTurno($event)"></suspender-turno>
</div>

<!-- Muestra el panel de Nota -->
<div type="info" class="col-md-12" *ngIf="showAgregarNotaTurno">
    <div class="clear"></div>
    <agregar-nota-turno [agenda]="agenda" [turnosSeleccionados]="turnosSeleccionados" (saveAgregarNotaTurno)="saveAgregarNotaTurno($event)" (cancelaAgregarNota)="cancelaAgregarNota($event)"></agregar-nota-turno>
</div>