.badge i {
    margin-right: 0px;
}

.turnos_disponibles {
    margin-top: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
}

.titulo-bloque {
    position: sticky;
    top: 0;
    z-index: 998;
}

.tabla-turnos {
    tr {
        &.selected {
            background-color: #edf8fd !important;
        }
    }
}

.tabla-sobreturnos {
    tr {
        &.selected {
            background-color: #edf8fd !important;
        }
    }
}

.help-liberar-turnos {
    color: #ffffff !important;
}