<plex-layout main="{{profesionalSelected ? 8 : 12}}">
    <plex-layout-main>
        <ng-container>
            <header>
                <plex-title titulo="Listado de profesionales"></plex-title>
                <form [formGroup]="searchForm">
                    <div class="row">
                        <div class="col-md-4">
                            <plex-int formControlName="documento" label="Documento"
                                      placeholder="Ingrese numero de Documento..."></plex-int>
                        </div>
                        <div class="col-md-4">
                            <plex-text formControlName="apellido" label="Apellido"
                                       placeholder="Filtrar por apellido..."></plex-text>
                        </div>
                        <div class="col-md-4">
                            <plex-text formControlName="nombre" label="Nombre" placeholder="Filtrar por nombre...">
                            </plex-text>
                        </div>
                    </div>
                </form>
                <br>
            </header>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Condición</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesional of datos" (click)="seleccionarProfesional(profesional)"
                            class="hover">
                            <td>{{profesional.documento}}</td>
                            <td>{{profesional.apellido}}</td>
                            <td>{{profesional.nombre}}</td>
                            <td>
                                <plex-badge *ngIf="profesional.profesionalMatriculado" type="info">
                                    Matriculado
                                </plex-badge>
                                <plex-badge *ngIf="!profesional.profesionalMatriculado" type="warning">
                                    No Matriculado
                                </plex-badge>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </plex-layout-main>

    <!-- sidebar listado -->
    <plex-layout-sidebar *ngIf='profesionalSelected'>
        <fieldset>
            <plex-title size="md" titulo="Profesional"></plex-title>

            <div class="row mb-1">
                <div class="col text-center">
                    <img [src]="fotoProfesional" class="img-thumbnail" />
                </div>
            </div>
            <div class="row mb-1" *ngIf="profesionalSelected.apellido">
                <div class="col">
                    <strong>
                        {{profesionalSelected.apellido | uppercase}},
                        {{profesionalSelected.nombre | uppercase}}
                    </strong>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <span *ngIf="profesionalSelected.documento" class="mr-1">
                        {{ profesionalSelected.documento }}
                    </span>
                    <plex-badge *ngIf='profesionalSelected.profesionalMatriculado' type="info">
                        Matriculado
                    </plex-badge>
                    <plex-badge *ngIf='!profesionalSelected.profesionalMatriculado' type="warning">
                        No Matriculado
                    </plex-badge>
                </div>
            </div>
            <div class="row mb-1" *ngIf="profesionalSelected.fechaNacimiento">
                <div class="col">
                    <label>Fecha de nacimiento</label>
                    <span>
                        {{ profesionalSelected.fechaNacimiento | fecha }}
                    </span> |
                    <span>
                        {{ profesionalSelected | edad }}
                    </span>
                </div>
            </div>
            <div class="row mb-1" *ngIf="profesionalSelected.sexo">
                <div class="col">
                    <label>Sexo / Género</label>
                    <span>
                        {{ profesionalSelected | sexo }}
                    </span>
                </div>
            </div>
            <div class="row mb-1" *ngIf="profesionalSelected.cuit">
                <div class="col">
                    <label>CUIL</label>
                    <span>
                        {{ profesionalSelected.cuit }}
                    </span>
                </div>
            </div>
            <div class="row mb-1"
                 *ngIf="profesionalSelected.formacionGrado && profesionalSelected.formacionGrado.length > 0">
                <div class="col">
                    <label>Formaciones de Grado</label>
                    <div *ngFor='let formacionGrado of profesionalSelected.formacionGrado'>
                        <div *ngIf='formacionGrado.matriculacion'>
                            {{formacionGrado.profesion.nombre}} - Matricula:
                            {{formacionGrado.matriculacion[formacionGrado.matriculacion.length - 1].matriculaNumero}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1"
                 *ngIf="profesionalSelected.formacionPosgrado && profesionalSelected.formacionPosgrado.length > 0 ">
                <div class="col">
                    <label>Especialidades</label>
                    <div *ngFor='let formacionPosgrado of profesionalSelected.formacionPosgrado'>
                        <div
                             *ngIf='formacionPosgrado && formacionPosgrado.matriculacion && formacionPosgrado.matriculacion[formacionPosgrado.matriculacion.length - 1].matriculaNumero'>
                            {{formacionPosgrado.especialidad.nombre}} -
                            Matricula:
                            {{ formacionPosgrado.matriculacion[formacionPosgrado.matriculacion.length
                            -1].matriculaNumero }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1"
                 *ngIf="!profesionalSelected.profesionalMatriculado && (profesionalSelected.profesionExterna || profesionalSelected.matriculaExterna)">
                <div class="col" *ngIf="profesionalSelected.profesionExterna">
                    <label>Profesión Externa</label>
                    <div>
                        {{profesionalSelected.profesionExterna.nombre}}
                    </div>
                </div>
                <div class="col" *ngIf="profesionalSelected.matriculaExterna">
                    <label>Matrícula Externa</label>
                    <div>
                        {{profesionalSelected.matriculaExterna}}
                    </div>
                </div>
            </div>
        </fieldset>
    </plex-layout-sidebar>


    <plex-layout-footer>
        <plex-button label="volver" type="danger" position="left" routerLink='/inicio'></plex-button>
        <plex-button *ngIf="profesionalSelected && !profesionalSelected.profesionalMatriculado" label="Editar"
                     type="info" position="right" (click)="routeTo('create', profesionalSelected.id)">
        </plex-button>
        <plex-button label="Nuevo Profesional" type="success" position="right" routerLink='/tm/profesional/create'>
        </plex-button>
    </plex-layout-footer>
</plex-layout>