<div class="row">
    <div class="col-sm-12" *ngIf="!showcreate && !showupdate">
        <plex-box type="" title="Profesionales">
            <form [formGroup]="searchForm" class="form-horizontal">
                <plex-int formControlName="documento" label="documento:" placeholder="Ingrese numero de Documento..."></plex-int>
                <plex-text formControlName="apellido" label="Apellido:" placeholder="Filtrar por apellido..."></plex-text>
                <plex-text formControlName="nombre" label="Nombre:" placeholder="Filtrar por nombre..."></plex-text>+
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesional of profesionales">
                            <td>{{profesional.apellido}}</td>
                            <td>{{profesional.nombre}}</td>
                            <td>{{profesional.documento}}</td>
                            <td>
                                <plex-bool type="slide" [(ngModel)]="profesional.activo" label="" name="profesional.activo" (click)="Activo(profesional)"></plex-bool>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                        <plex-button type="primary" (click)="showcreate = !showcreate" label="Nuevo Profesional">               
            </div>
        </plex-box>

        <div class="col-sm-12" *ngIf="showcreate">
            <div class="panel panel-default">
                <div class="clear"></div>
                <profesional-create-update (data)='onReturn($event)'></profesional-create-update>

            </div>
        </div>

        <div class="col-sm-12" *ngIf="showupdate">
            <div class="panel panel-default">
                <div class="clear"></div>
                <profesional-create-update [selectedProfesional]="selectedProfesional" (data)='onReturn($event)'></profesional-create-update>
            </div>
        </div>
    </div>
</div>
