<div *ngIf="!soloValores">
    <div *ngIf="elementoRUP && data[elementoRUP.key]">

        <div class="row">
            <!--ES CRONICO?-->
            <div class="col" *ngIf="!hallazgoHudsCompleto">
                <plex-bool [(ngModel)]="data[elementoRUP.key].esCronico" type="slide" name="esCronico" label="¿Es un problema crónico?"></plex-bool>
            </div>
            <div class="col" *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones"><br>
                <!--ES CRONICO?-->
                <span *ngIf="hallazgoHudsCompleto?.evoluciones[0].esCronico" class="badge-danger">
                    Hallazgo Crónico </span>
                <plex-bool *ngIf="!hallazgoHudsCompleto?.evoluciones[0].esCronico" [(ngModel)]="data[elementoRUP.key].esCronico" type="slide" name="activo" label="¿Es un problema crónico?"></plex-bool>
            </div>
            <!--ESTADO DEL PROBLEMA-->
            <div class="col">
                <label class="box-title-secundario">Estado actual</label>
                <plex-select [(ngModel)]="data[elementoRUP.key].estado" name="estadoActual" [data]="estados" [required]="true" (change)="formatearEstado()">
                </plex-select>
            </div>
        </div>
        <!--INICIO ESTIMADO DEL PROBLEMA-->
        <div class="row">
            <!--FECHA ESTIMADA-->
            <div class="col" *ngIf="!hallazgoHudsCompleto">
                <label class="box-title-secundario">Fecha estimada</label>
                <div class="row">
                    <plex-int class="col-5 d-inline" [(ngModel)]="inicioEstimadoUnidad" name="inicioEstimadoUnidad" [required]="true" prefix="Hace" (change)="calcularFecha()"></plex-int>
                    <plex-select class="col-5 d-inline" [(ngModel)]="inicioEstimadoTiempo" name="inicioEstimadoTiempo" [data]="unidadTiempo" [required]="true" (change)="calcularFecha()"></plex-select>
                </div>
            </div>
            <div class="col" *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones">
                <strong>Inicio del Hallazgo: {{hallazgoHudsCompleto?.evoluciones[0].fechaInicio | fecha}} </strong>
            </div>
        </div>
        <!--EVOLUCION DEL PROBLEMA-->
        <div class="row">
            <div class="col-12">
                <!-- <label class="box-title-secundario" for="comment">Evolución:</label>
                <hr> -->
                <plex-text label="Evolución" multiline=true autoFocus=1 [(ngModel)]="data[elementoRUP.key].evolucion" (change)="devolverValores()"></plex-text>
                <!-- <textarea autofocus="autofocus" class="form-control" [(ngModel)]="data[elementoRUP.key].evolucion" (change)="devolverValores()" rows="4" id="comment" name="evolucion" placeholder="Ingrese una evolución"></textarea> -->
            </div>
        </div>
    </div>

    <!--Listado de evoluciones-->
    <ng-container *ngIf="evoluciones && evoluciones.length > 0">
        <div class="row">
            <div class="col-12">
                <label class="box-title-secundario" for="comment">Evoluciones Anteriores:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-120">
                <plex-button *ngIf="indice > 0" type="link" icon="chevron-left" (click)="cambiarEvolucion('-') "></plex-button>
            </div>
            <div class="col text-center">
                <span class="text-120">
                {{unaEvolucion.fechaCarga | fecha }}
            </span>
            </div>
            <div class="col-2 text-120">
                <plex-button *ngIf="evoluciones.length > 1 && indice < (evoluciones.length-1)" type="link" icon="chevron-right " (click)="cambiarEvolucion('+') "></plex-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center"> Profesional: {{unaEvolucion.profesional }} <br>{{unaEvolucion.evolucion }}
            </div>
        </div>
    </ng-container>


</div>
<p *ngIf="soloValores">
    <label>Fecha inicio aproximada</label>
    <ng-container *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones">
        {{hallazgoHudsCompleto?.evoluciones[0].fechaInicio | fecha}}
    </ng-container>
    <ng-container *ngIf="!hallazgoHudsCompleto">
        {{data[this.elementoRUP.key].fechaInicio | date}}
    </ng-container>
    <label>Estado actual</label> {{ data[this.elementoRUP.key].estado }}
    <label>Evolución</label> {{ data[elementoRUP.key].evolucion}}
</p>