<!-- <plex-select [(ngModel)]="data[elementoRUP.key].edadControl" name="tiempo" [data]="SelectControlEdad" label="Edad a Controlar" (change)="devolverValores()" placeholder="Seleccionar edad a controlar">
</plex-select>


<plex-bool [(ngModel)]="data[elementoRUP.key].concurrio" name="concurrio" label="concurrió" (change)="devolverValores()">
</plex-bool>

<plex-select [(ngModel)]="data[elementoRUP.key].sanoOactividades" name="sanoOactividades" [data]="SelectSanoOactividades" (change)="devolverValores()" placeholder="Seleccionar un valor">
</plex-select>

<plex-select [(ngModel)]="data[elementoRUP.key].patologiaOTratamiento" name="patologiaOTratamiento" [data]="SelectPatologiaOTratamiento" (change)="devolverValores()" placeholder="Seleccionar un valor">
</plex-select>

<pre> {{data|json}}
</pre> -->