<plex-button *ngIf="!seleccionRecetas.length" type="success" icon="check" size="sm" tooltip="Renovar"
             tooltipPosition="left" disabled="true">
</plex-button>

<plex-help *ngIf="seleccionRecetas.length" size="sm" class="ml-2" btnType="success" icon="check" tooltip="Renovar"
           tooltipPosition="left">
    <plex-title titulo="Renovar Medicamento" size="sm">
        <plex-button type="success" icon="check" size="sm" tooltip="Confirmar" tooltipPosition="left"
                     (click)="renovarMedicacion()">
        </plex-button>
    </plex-title>

    <table class="table">
        <thead>
            <tr>
                <th>Indicacion</th>
                <th>Profesional</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let receta of seleccionRecetas" [style.display]="receta ? 'table-row' : 'none'">
                <td>{{ receta?.medicamento.concepto.term }}</td>
                <td>{{ receta?.profesional.nombre }} {{ receta?.profesional.apellido }}
            </tr>
        </tbody>
    </table>
    <plex-label *ngIf="!seleccionRecetas?.length" titulo="No hay recetas seleccionadas">
    </plex-label>
</plex-help>