// Hereda Bootstrap + RUP y se sobreescriben algunas reglas

.jumbotron {
    padding: 2rem !important;
}

.list-group-item {
    display: list-item !important;
}

.title,
.actions {
    align-items: center;
}