/* You can add global styles to this file, and also import other style files */
$adi-font-path: "~@andes/icons/fonts/";
@import "~@andes/icons/scss/andes-icons";

// [TODO]: Migrar a adi y eliminar
$mdi-font-path: "~@mdi/font/fonts/";
@import "~@mdi/font/scss/materialdesignicons";

@import "~@andes/plex/src/lib/styles.scss";

// Importo colores RUP
@import "./../../../../app/src/app/modules/rup/components/variables.scss";
@each $bg, $color in $rup_colors {
    .rup-bg-#{$bg} {
        background-color: $color;
    }
    .rup-color-#{$bg} {
        color: $color;
    }
    .rup-border-#{$bg} {
        border: solid 1px $color;
    }
}