<plex-list *ngIf="verHuds === true" height="60vh" size="md">
    <plex-item *ngFor="let hud of huds$ | async | hudsFilter: searchTerm" (click)="selected(hud)"
               [selected]="hud.selected">
        <plex-label type="{{ hud.color }}" icon="{{ hud.icono }}" titulo="{{ hud.tituloPrincipal }}" size="lg"
                    subtitulo="{{ hud.subtituloPrincipal }}"></plex-label>
        <plex-label *mobile="false" titulo="{{ hud.tituloSecundario }}" size="md"
                    subtitulo="{{ hud.subtituloSecundario }}">
        </plex-label>
        <plex-badge type="warning">{{ hud.badgePrincipal }}</plex-badge>
        <plex-badge type="success">{{ hud.badgeSecundario }}</plex-badge>
        <plex-badge type="info">{{ hud.fecha }}</plex-badge>
        <plex-button type="info" size="sm" icon="eye"></plex-button>
    </plex-item>
</plex-list>

<section *ngIf="verHuds === false" class="d-flex flex-column mt-4" align="center" justify="center">
    <plex-label size="xl" case="capitalize-first" direction="column" titulo="Bienvenido a mi portal de salud!"
                subtitulo="Aquí podrás visualizar tu Historia Unificada de Salud
    y comunicarte con organizaciones y equipos de salud" icon="paciente"></plex-label>
    <plex-button type="info" class="mt-4" size="md" label="Navegar mi historia de salud" (click)="mostrarHuds()"
                 routerLink="miHuds">
    </plex-button>
</section>