@import '../../../variables';
.container-tabs {
    .nav.nav-tabs {
        overflow: auto;
        li {
            background: #fff;
            border-top: 2px solid #ddd;
            border-right: 1px solid #ddd;
            transition: background 500ms;
            min-width: 170px;
            width: auto;
            white-space: normal;
            /* scroll bars */
            overflow: auto;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
            &:hover {
                background: #fefefe;
            }
            a {
                padding: 10px;
                text-decoration: none;
                color: black;
                display: inline-block;
                width: 100%;
                height: 100%;
                text-transform: capitalize;
            }
            &.active {
                background: white;
                border-top-color: black;
                border-left-color: transparent;
            }
            &.problemas a,
            &.trastornos a,
            &.hallazgos a,
            &.procedimientos a,
            &.planes a,
            &.prestacion a {
                color: white;
            }
            &.problemas {
                background-color: rgba(240, 173, 78, 0.9);
                /*background-color: $problemas;*/
                border-color: #cc9344;
            }
            &.problemas:hover,
            &.problemas.active {
                background-color: rgba(240, 173, 78, 1);
            }
            &.trastornos {
                background-color: $trastorno;
            }
            &.hallazgos {
                background-color: $hallazgos;
            }
            &.procedimientos {
                background-color: $procedimientos;
            }
            &.planes,
            &.prestacion,
            {
                border-color: #055e98;
                /*background-color: $planes;*/
                background-color: rgba(0, 112, 186, 0.9);
            }
            &.planes:hover,
            &.prestacion:hover,
            &.planes.active,
            &.prestacion.active,
            {
                background-color: rgba(0, 112, 186, 1);
            }
        }
        &.fixed {
            padding-left: 200px;
            li:first-child {
                margin-left: -200px;
                width: 200px;
                position: fixed;
                -webkit-box-shadow: 10px 0 5px -2px rgba(51, 51, 51, 0.15);
                box-shadow: 10px 0 5px -2px rgba(51, 51, 51, 0.15);
                min-height: 46px;
                height: 100%;
                max-height: 70px;
            }
        }
    }
}