<plex-layout main="12" *ngIf="showListarProtocolos">
    <plex-layout-main>
        <!-- ENCABEZADO -->
        <header>
            <h4>Punto de inicio | Laboratorio</h4>
            <section class="contenedor-tabs">
                <plex-tabs>
                    <plex-tab label="Laboratorio general"></plex-tab>
                    <plex-tab label="Microbiologia"></plex-tab>
                    <plex-tab label="Screening neonatal"></plex-tab>
                    <plex-tab label="Bromatologia"></plex-tab>
                </plex-tabs>
                <div class="dropdown-secundario">
                    <i class="mdi mdi-dots-horizontal"></i>
                </div>
            </section>
        </header>
        <!-- FIN ENCABEZADO -->
        <div class="row">
            <div class="col">
                <plex-button type="success" size="sm" name="especialidad.activo" label='Recordar filtros' position="right" style="float: right"
                    (click)='recordarFiltros()'></plex-button>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <plex-select [(ngModel)]="modo" name="area" label="Modo" [data]='cargaLaboratorioEnum' [required]="false"></plex-select>
            </div>
            <div class="col-3" *ngIf='modo && (modo.id ==="carga" || modo.id ==="validacion")'>
                <plex-select [(ngModel)]="formaCarga" name="formaCarga" label="Forma de carga" (change)="refreshSelection($event,'area')"
                    [data]='modoCargaLaboratorioEnum' [required]="true"></plex-select>
            </div>
        </div>

        <div class="row contenedor-filtros">

            <div *ngIf='modo && modo.id !=="recepcion" ' class="col-2">
                <plex-select [(ngModel)]="area" (change)="refreshSelection($event,'area')" name="area" label="Area" [data]='laboratorioInternoEnum'></plex-select>
            </div>
            <div *ngIf='modo && modo.id !=="recepcion"' class="col-2">
                <plex-select [(ngModel)]="prioridad" (change)="refreshSelection($event,'prioridad')" name="prioridad" label="Prioridad" [data]="prioridadesFiltroEnum"></plex-select>
            </div>
            <div *ngIf='modo && modo.id !=="recepcion"' class="col-2">
                <plex-select [(ngModel)]="origen" (change)="refreshSelection($event,'origen')" name="origen" label="Origen" [data]="origenEnum"></plex-select>
            </div>
            <div class="col-2">
                <plex-datetime type="date" [(ngModel)]="busqueda.solicitudDesde" (change)="refreshSelection($event,'fechaDesde')" name="solicitudDesde"
                    label="Fecha desde" class="fechas" [required]="true">
                </plex-datetime>
            </div>
            <div class="col-2">
                <plex-datetime type="date" [(ngModel)]="busqueda.solicitudHasta" (change)="refreshSelection($event,'fechaHasta')" name="solicitudHasta"
                    label="Fecha hasta" class="fechas" [required]="true">
                </plex-datetime>
            </div>
            <div class="col-2 labs-contenedor-secundario" *ngIf='modo && modo.id ==="recepcion"'>
                <plex-button title="Iniciar Protocolo" icon="plus" class="align-self-end" type="success" (click)="mostrarFomularioPacienteSinTurno(activeTab)"></plex-button>
            </div>
            <div class="col-2 labs-contenedor-secundario" *ngIf='modo && modo.id !=="recepcion"'>
                <div class="contenedor-bloque-texto line-height mr-2">
                    <small class="text-primary"></small>
                </div>
                <plex-button label="" type="info" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
            </div>
        </div>
        <!-- FIN FILTROS BASICOS  -->


        <!-- FILTROS AVANZADOS-->
        <div class="row" *ngIf="mostrarMasOpciones">
            <div *ngIf='modo && modo.id ==="carga"' class="col-3">
                <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="refreshSelection($event,'servicio')"
                    label="Servicio" placeholder="Seleccione el servicio" labelField="term" [multiple]="true" [required]="false"
                    idField="term">
                </plex-select>
            </div>
            <div *ngIf='modo && modo.id !=="carga" && modo.id !=="recepcion"' class="col-3">
                <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="refreshSelection($event,'servicio')"
                    label="Servicio" placeholder="Seleccione el servicio" labelField="term" [required]="false" idField="term">
                </plex-select>
            </div>
            <div *ngIf='modo && modo.id !=="recepcion"' class="col-3">
                <plex-float [(ngModel)]="numProtocoloDesde" (change)="refreshSelection($event,'numProtocoloDesde')" name="numProtocoloDesde"
                    label="N° protocolo desde"></plex-float>
            </div>
            <div *ngIf='modo && modo.id !=="recepcion"' class="col-3">
                <plex-float [(ngModel)]="numProtocoloHasta" (change)="refreshSelection($event,'numProtocoloHasta')" name="numProtocoloHasta"
                    label="N° protocolo hasta"></plex-float>
            </div>
            <div *ngIf='modo && modo.id !=="recepcion"' class="col-3">
                <plex-select [(ngModel)]="organizacion" (change)="refreshSelection($event,'organizacion')" name="organizacion" label="Efector Solicitante"
                    (getData)="loadOrganizaciones($event)"></plex-select>
            </div>
            <div *ngIf='modo && modo.id ==="listado"' class="col-3">
                <plex-select [(ngModel)]="estado" (change)="refreshSelection($event,'estado')" name="estado" label="Estado" [data]="estadosFiltroEnum"></plex-select>
            </div>
        </div>
        <!-- FIN FILTROS AVANZADOS-->

        <!--SECCION PACIENTE-->
        <div class=" col-12">
            <label for="">Paciente</label>
            <paciente-buscar (searchStart)="searchStartPaciente()" (searchEnd)="searchEndPaciente($event)" (searchClear)="searchClearPaciente($event)"></paciente-buscar>
            <div class="scrollPacientes" *ngIf='mostrarListaMpi'>
                <paciente-listado *ngIf="pacientes && pacientes.length" [pacientes]="pacientes" [autoselect]="false" (selected)="seleccionarPaciente($event)"
                    (hover)="hoverPaciente($event)"></paciente-listado>

            </div>
        </div>
        <!--FIN SECCION PACIENTE-->

        <hr>

        <!--VISUALIZACIÓN DE PROTOCOLOS CONTROL -->
        <div *ngIf="!protocolos?.length" class="alert alert-default">
            <i class="mdi mdi-emoticon-sad"></i> No hay protocolos que coincidan con los filtros de búsqueda
        </div>

        <table class="table table-striped table-sm" *ngIf='modo && modo.id !=="recepcion"'>
            <tbody>
                <tr class="labs-listado-item listado-contenedor-secundario" *ngFor="let protocolo of protocolos; let i=index">
                    <td *ngIf='modo && modo.id !=="recepcion"' class="labs-item-numero">

                        <i *ngIf='protocolo.paciente.sexo ==="femenino"' class="mdi mdi-gender-female mdi-36px mdi-rotate-45
                    rosa"></i>
                        <i *ngIf='protocolo.paciente.sexo ==="masculino"' class="mdi mdi-gender-male mdi-36px azul"></i>
                        <h2>{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.numeroProtocolo?.numeroCompleto}}</h2>

                        <br>
                    </td>
                    <td class="contenedor-bloque-texto">
                        <div class="labs-item-texto">
                            <strong>|&nbsp;Fecha de toma muestra&nbsp;</strong>
                            <p>{{protocolo.ejecucion.fecha | date: 'dd/MM/yyyy'}}</p>
                            <strong>&nbsp;|&nbsp;Origen&nbsp;</strong>
                            <p>{{protocolo.solicitud.ambitoOrigen}}</p>
                        </div>
                        <div class="labs-item-texto">
                            <strong>|&nbsp;Dni Paciente:&nbsp;</strong>
                            <p>{{protocolo.paciente.documento}}</p>
                            <strong>&nbsp;|&nbsp;Nombre y Apellido:&nbsp;</strong>
                            <p>{{protocolo.paciente.nombre}} {{protocolo.paciente.apellido}} </p>
                            <strong>&nbsp;|&nbsp;Fecha de Nacimiento:&nbsp;</strong>
                            <p>{{protocolo.paciente.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
                            <strong>&nbsp;|&nbsp;Sexo:&nbsp;</strong>
                            <p>{{protocolo.paciente.sexo}}</p>
                        </div>
                    </td>

                    <td class="badge-container">
                        <plex-badge type="danger" class="ml-2">{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre}}</plex-badge>
                        <plex-badge type="warning" class="ml-2">{{protocolo.estados[protocolo.estados.length -1 ].tipo}}</plex-badge>

                        <plex-button type="success" size="sm" (click)="verProtocolo(protocolo, i)" class="ml-2">Ver protocolo</plex-button>

                    </td>
                </tr>
            </tbody>
        </table>

        <!-- TABLA VISUALIZACION DE RECEPCION -->
        <table *ngIf='protocolos && modo && modo.id ==="recepcion"' class="table table-striped table-sm">
            <thead>
                <th>Fecha de solicitud</th>
                <th>Dni del Paciente</th>
                <th>Nombre y apellido del Paciente</th>
                <th>Operaciones</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let prestacion of protocolos; let i=i ndex">
                    <td>{{prestacion.solicitud.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td>{{prestacion.paciente.documento}}</td>
                    <td>{{prestacion.paciente | paciente}}</td>
                    <td>
                        <plex-button type="success" size="sm" (click)="verProtocolo(prestacion, i)" class="ml-2">Iniciar protocolo</plex-button>
                        <!-- <plex-button type="success" size="sm" (click)="editProtocolo($event)" class="ml-2">
                                <i class="mdi mdi-file-document"></i>
                            </plex-button> -->
                    </td>

                </tr>
            </tbody>

        </table>





    </plex-layout-main>

    <!-- <plex-layout-sidebar>
        <header>
            <h3>Detalle</h3>
        </header>
        <div class="badge-container start">
            <plex-badge type="info" class="mr-2">Clinica</plex-badge>
            <plex-badge type="warning" class="mr-2">Ambulatorio</plex-badge>
        </div>
        <label class="control-label">Número</label>
        <h1 class="text-primary text-xl">{{protocolo.numero}}</h1>
        <hr>
        <div class="labs-contenedor-secundario">
            <div class="labs-bloque-texto">
                <label class="control-label text-info">Usuario</label>
                <h5 class="" id="id">pmarconi</h5>
            </div>
            <div class="labs-bloque-texto">
                <label class="control-label text-info">solicitante</label>
                <h5 class="" id="id">lmonteverde</h5>
            </div>
            <div class="labs-bloque-texto">
                <label class="control-label text-info">Fecha registro</label>
                <h5 class="" id="id">09/07/2018</h5>
            </div>
        </div>
        <hr>
        <label class="control-label">Observacion</label>
        <textarea class="form-control" rows="12">nsdajdnfjaklsnd;kasbndj</textarea>
    </plex-layout-sidebar> -->
    <!-- Panel lateral -->

    <!-- footer -->
    <plex-layout-footer>
        <plex-button label="accion clave" type="primary" position="left" label="Crear un nuevo protocolo" (click)="pacienteSinTurno(activeTab)"></plex-button>
        <!-- <plex-button label="Cancelar" type="Cancelar" position="left" (click)="guardarAgendaPanel.cancelar()"></plex-button>
            <plex-button label="Otra accion clave" type="Guardar" position="right" (click)="guardarAgendaPanel.guardarAgenda(agendasSeleccionadas[0])"></plex-button> -->
    </plex-layout-footer>
</plex-layout>

<!-- Switchea a listado practicas -->
<protocolo-detalle *ngIf="!showListarProtocolos" [cargarProtocolo]="protocolo" [showProtocoloDetalle]="showProtocoloDetalle"
    [indexProtocolo]='indexProtocolo' [protocolos]="protocolos" [modo]='modo' [seleccionPaciente]='seleccionPaciente' (volverAListaControEmit)='volverLista()'></protocolo-detalle>