<plex-layout main="12">
    <plex-layout-main>
        <fieldset>
            <div class="row">
                <div class="col-md">
                    <paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event.pacientes,$event.escaneado)"
                        (searchClear)="onSearchClear()"></paciente-buscar>
                </div>
            </div>
            <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

            <div class="row">
                <div class="col">
                    <paciente-listado *ngIf="resultadoBusqueda && resultadoBusqueda.length" [pacientes]="resultadoBusqueda"
                        [autoselect]="false" (selected)="onPacienteSelected($event)"></paciente-listado>
                    <div *ngIf="resultadoBusqueda && !resultadoBusqueda.length && !searchClear" class="alert alert-danger">
                        <i class="mdi mdi-account-alert"></i> No se encontró ningún paciente..
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="resultadoBusqueda && !resultadoBusqueda.length && !searchClear">
                <div class="col-4 contenedorTipo" (click)="registroBebe()">CARGAR BEBÉ</div>
                <div class="col-4 contenedorTipo" (click)="registroSinDni()">CARGAR NN O EXTRANJERO</div>
                <div class="col-4 contenedorTipo" (click)="registroConDni()">CARGAR IDENTIFICADO</div>
            </div>
        </fieldset>
    </plex-layout-main>

</plex-layout>

<!--paciente-cru  [seleccion]="pacienteSeleccionado" [escaneado]="pacienteSeleccionado.escaneado" (data)='afterPacienteCru($event)'></paciente-cru-->