<plex-layout main="{{ mainSize }}">
    <plex-layout-main>
        <header>
            <plex-title titulo="Alta de pacientes">

                <plex-button label="Volver" type="danger" position="left" (click)="cancel()">
                </plex-button>
                <plex-button *ngIf="(tipoPaciente === '' || tipoPaciente === 'con-dni') && !showDeshacer"
                             label="Validar Paciente" type="info" position="right" [disabled]="disableValidar"
                             (click)="validarPaciente()">
                </plex-button>
                <plex-button *ngIf="showDeshacer" label="Deshacer Validación" type="warning" position="right"
                             (click)="deshacerValidacion()"></plex-button>
                <plex-button *ngIf="visualizarIgnorarGuardar" [disabled]="disableIgnorarGuardar"
                             label="Ignorar y Guardar" type="warning" position="right" [validateForm]="formulario"
                             (click)="save($event,true)">
                </plex-button>
                <plex-button [disabled]="disableGuardar" label="Guardar" type="success" position="right"
                             [validateForm]="formulario" (click)="save(false)">
                </plex-button>

            </plex-title>
        </header>
        <!-- loader -->
        <plex-loader *ngIf="loading" class="loading" type="ball-pulse"></plex-loader>
        <form #formulario="ngForm" [ngClass]="{'loadMode': loading}">

            <plex-tabs [activeIndex]="tabIndex" (change)="setMainSize($event)">

                <plex-tab label="datos básicos" icon="" (click)="tabIndex = 0">
                    <datos-basicos #datosBasicos [paciente]="pacienteModel" [tipoPaciente]="tipoPaciente"
                                   (changes)="datosBasicosForm($event)" name="datos basicos">
                    </datos-basicos>
                </plex-tab>

                <plex-tab label="datos de contacto" icon="" (click)="tabIndex = 1">
                    <datos-contacto #datosContacto [paciente]="pacienteModel" (mobileApp)="mobileNotification($event)">
                    </datos-contacto>
                </plex-tab>

                <plex-tab *ngIf="tipoPaciente !== 'bebe'" label="Relaciones" icon="account-multiple"
                          (click)="tabIndex = 2">
                    <!-- FAMILIARES: No se muestra para el caso del bebé -->
                    <relaciones-pacientes #relaciones [paciente]="pacienteModel"
                                          (actualizar)="actualizarRelaciones($event)">
                    </relaciones-pacientes>
                </plex-tab>

                <plex-tab label="Notas" icon="file-multiple" (click)="tabIndex = 3">
                    <notas-paciente [notas]="pacienteModel.notas" (notasNew)="notasNotification($event)">
                    </notas-paciente>
                </plex-tab>


            </plex-tabs>
        </form>
    </plex-layout-main>

    <plex-layout-sidebar [type]="'invert'">
        <div [ngClass]="{'loadMode': loading}">
            <!-- Pacientes candidatos -->
            <div *ngIf='(pacientesSimilares && pacientesSimilares.length); else showPanel'>
                <header>
                    <plex-title titulo="Pacientes Candidatos" size="md"></plex-title>
                </header>
                <plex-list>
                    <plex-item *ngFor="let elem of pacientesSimilares" class="">

                        <img [mpiFotoPaciente]="elem.paciente" />

                        <plex-label *ngIf="!elem.paciente.numeroIdentificacion" titulo="{{ elem.paciente | nombre }}"
                                    subtitulo="{{ (elem.paciente.documento | number) || 'Sin DNI' }}">
                        </plex-label>

                        <plex-label *ngIf="elem.paciente.numeroIdentificacion" titulo="{{ elem.paciente | nombre }}"
                                    subtitulo="{{ elem.paciente.numeroIdentificacion }}"></plex-label>

                        <plex-label titulo="{{ elem.paciente | edad }}"
                                    subtitulo="{{ elem.paciente.fechaNacimiento | fecha:'utc' }}">
                        </plex-label>

                        <plex-badge *ngIf="elem.paciente.fechaFallecimiento" type="danger">Fallecido:
                            {{ elem.paciente.fechaFallecimiento | fecha:'utc'}}
                        </plex-badge>

                        <plex-badge type="info">{{ elem.paciente | sexo }}
                        </plex-badge>

                        <plex-badge type="" class=""
                                    [ngClass]="{'text-success' : elem.paciente.estado === 'validado' , 'text-warning' : elem.paciente.estado === 'temporal'} ">
                            {{ elem.paciente.estado }}
                        </plex-badge>

                        <plex-label titulo="Similitud: {{elem.match * 100}} %"></plex-label>

                        <plex-button type="info" size="sm" label="Seleccionar" (click)="onSelect(elem.paciente)">
                        </plex-button>
                    </plex-item>
                </plex-list>
            </div>
            <ng-template #showPanel>
                <paciente-panel [paciente]="pacienteModel" [direction]="detailDirection"
                                [showRelaciones]="showRelaciones" (changeRelacion)="toRelacionesOnChange($event)">
                </paciente-panel>
            </ng-template>
        </div>
    </plex-layout-sidebar>

</plex-layout>