.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    z-index: 99 !important;
}

.loadMode {
   opacity: 0.3;
    pointer-events: none !important;
    user-select: none !important;
}

.img-fallecido {
    filter: grayscale(100%);
}