img {
    height: 60px;
}

// plex-select.vinculo,
// plex-select.vinculo .form-group .selectize-control,
// plex-select.vinculo .form-group .selectize-control .selectize-input {
//     min-width: 150px !important;
// }

.img-fallecido {
    filter: grayscale(100%);
}

.centrado {
    justify-content: center;
    align-items: center;
}