<span class="mt-2">
    <plex-title size="sm" titulo="Agregar relaciones"></plex-title>
</span>

<paciente-buscar label="Buscar paciente" (searchStart)="onSearchStart()" (searchEnd)="onSearchEnd($event.pacientes)"
                 (searchClear)="onSearchClear()">
</paciente-buscar>

<plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

<paciente-listado [pacientes]="posiblesRelaciones" (selected)="seleccionarRelacionEntrante($event)" [offset]="140"
                  *ngIf="posiblesRelaciones.length > 0">
</paciente-listado>

<div *ngIf="posiblesRelaciones && !posiblesRelaciones.length && !searchClear" class="alert alert-danger">
    <i class="mdi mdi-account-alert"></i> No se encontró ningún paciente..
</div>

<!-- lista de un único elemento -->
<plex-list *ngIf="relacionEntrante.length">
    <plex-item *ngFor="let unaRel of relacionEntrante" class="">
        <!-- caso paciente relacionado -->
        <img *ngIf="unaRel.referencia" [ngClass]="{'img-fallecido' : unaRel.fechaFallecimiento}"
             [mpiFotoPaciente]="{id: unaRel.referencia, fotoId: unaRel.fotoId}">
        <!-- caso paciente aun no relacionado -->
      <img *ngIf="!unaRel.referencia && unaRel.id && unaRel.fotoId" [ngClass]="{'img-fallecido' : unaRel.fechaFallecimiento}" [mpiFotoPaciente]="{id: unaRel.id, fotoId: unaRel.fotoId}"
             alt="">

        <plex-label *ngIf="!unaRel.numeroIdentificacion" titulo="{{ unaRel | nombre }}"
                    subtitulo="{{ (unaRel.documento | number) || 'Sin DNI' }}">
        </plex-label>

        <plex-label *ngIf="unaRel.numeroIdentificacion" titulo="{{ unaRel | nombre }}"
                    subtitulo="{{ unaRel.numeroIdentificacion }}">
        </plex-label>

        <plex-label *ngIf="unaRel.fechaNacimiento" titulo="{{ unaRel | edad }}"
                    subtitulo="{{ (unaRel.fechaNacimiento | fecha:'utc') || 'Desconocida' }}">
        </plex-label>

        <plex-grid size="sm" type="full">
            <plex-select class="vinculo" [(ngModel)]="unaRel.relacion" name="nuevaRelacion" [data]="parentescoModel"
                         [required]="true" placeholder="Seleccione vínculo...  ">
            </plex-select>
        </plex-grid>

        <plex-badge type="info">{{ unaRel | sexo }}</plex-badge>

        <plex-badge *ngIf="unaRel.estado" type="" class=""
                    [ngClass]="{'text-success' : unaRel.estado === 'validado' , 'text-warning' : unaRel.estado === 'temporal'} ">
            {{ unaRel.estado }}
        </plex-badge>

        <plex-badge type="danger" *ngIf="unaRel.fechaFallecimiento"> Fallecido
        </plex-badge>

        <plex-button label="" type="success" size="sm" icon="plus" [disabled]="!unaRel.relacion"
                     (click)="addRelacion(unaRel)">
        </plex-button>

        <plex-button type="danger" size="sm" icon="close" (click)="relacionEntrante=[]">
        </plex-button>
    </plex-item>
</plex-list>