@import '../../../../assets/mapa-camas.css';
/*
******************************
** MAPA DE CAMAS
******************************
*/

/* estado del servicio */

.estado-servicio {
    h4 {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
    }
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
    span.estado {
        text-transform: uppercase;
        color: #aaa;
        font-size: 20px;
    }
}

.cama-container {
    margin: 10px 0 20px 0;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    min-height: 390px;
    width: 100%;
    .cama {
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
        background: #FFF;
        border-radius: 4px;
        color: #444;
        /*margin-right: 16px;*/
        .col-indicadores {
            width: 10%;
            margin-right: 2%;
            float: left;
        }
        .col-paciente {
            width: 90%;
            margin: 0 auto;
        }
        .footer,
        .motto,
        .profession {
            color: #999;
            text-align: center;
        }
        .back,
        .front {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #FFF;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .14);
            min-height: 390px;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .front {
            z-index: 2;
            .bloqueada {
                background: rgba(249, 249, 249, 0.5);
            }
        }
        .back {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            z-index: 3;
            .content.reparacion .footer .col-left::after {
                border-right: 0 none;
            }
            .footer {
                .col-left::after {
                    float: right;
                    content: " ";
                    border-right: 1px dashed #ccc;
                }
                .with-buttons {
                    padding: 7px 0;
                    .form-group {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .cover {
            /*height: 105px;*/
            overflow: hidden;
            border-radius: 4px 4px 0 0;
        }
        .content {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            padding: 20px 15px;
            min-height: 275px;
            /*min-height: 265px;*/
            .content .footer {
                padding: 0;
                margin: 0;
            }
            .content .footer .col-left {
                padding-left: 0;
            }
            .content .footer .col-right {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .name {
            color: #000;
            font-size: 16px;
            line-height: 18px;
            margin: 8px 0 0;
            text-align: center;
        }
        .name.dorso {
            color: #000;
            font-size: 18px;
            line-height: 22px;
            margin: 10px 0 0;
            text-align: left;
        }
        .name.reparacion {
            font-size: 18px;
        }
        h5 {
            margin: 5px 0;
            font-weight: 400;
            line-height: 20px;
        }
        .profession {
            margin-bottom: 20px;
        }
        .footer {
            border-top: 1px solid #EEE;
            margin: 0;
            padding: 10px 0;
            /*margin: 30px 0 0;
            padding: 10px 0 0;*/
        }
        .header {
            /*padding: 15px 20px;*/
            padding: 10px 0 0 10px;
            height: 60px;
        }
        .icon {
            text-align: center;
            .mdi.agregar,
            .mdi {
                font-size: 160px;
            }
            .reparacion {
                font-size: 100px;
                cursor: pointer;
            }
            .icono-paciente {
                font-size: 100px;
                cursor: pointer;
            }
        }
        .rounded-background {
            border-radius: 18px;
            color: white;
            padding: 5px;
            width: 32px;
        }
        .numero-habitacion-header {
            background: #f4f4f4;
            color: #000;
            font-weight: bold;
            padding: 5px 10px;
            font-size: 15px;
        }
        .btn-buscar-paciente {
            background: white;
            .agregar {
                background: white;
                color: rgb(101, 167, 95);
            }
        }
        .btn-desocupada {
            background: white;
            .agregar {
                background: white;
                color: #5F90A7;
            }
        }
        .btn-ocupada {
            background: white;
            color: rgb(107, 124, 123);
            .mdi {
                font-size: 120px;
            }
        }
        .btn-preparacion {
            background: white;
            .agregar {
                background: white;
                color: rgb(201, 201, 201);
            }
        }
        .btn-bloqueada {
            padding: 0;
            background: transparent;
        }
        .grow {
            padding: 0;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .back,
    .front {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }
    .back {
        visibility: hidden;
        -ms-transition: all .2s cubic-bezier(.92, .01, .83, .67);
        transition: all .2s cubic-bezier(.92, .01, .83, .67);
    }
    .front {
        z-index: 4;
    }
    .cama-container.manual-flip.hover .back,
    .cama-container:not(.manual-flip):hover .back {
        z-index: 5;
        visibility: visible;
    }
}

.cama-container.hover.manual-flip .cama,
.cama-container:not(.manual-flip):hover .cama {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cama-container.static.hover .cama,
.cama-container.static:hover .cama {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

.cama-container:hover .cama .front,
.cama-container:hover .cama .back {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -kthtml-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* varios */

.numero-habitacion {
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;
}

.bg-oxigeno {
    background-color: #5bc0de;
}

.oxigeno {
    color: #5bc0de;
}

/* vista de lista  para el mapa de camas */

.list .icono-paciente {
    font-size: 45px;
}

.list .numero-habitacion {
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
}

.list .name {
    margin-top: 0;
    margin-bottom: 5px;
}

.list .profession {
    margin: 5px 0;
}

.actions-icons {
    display: flex;
    align-items: center;
}


// -------------- CARDS CAMAS---------------

$desocupada: #f7931e; 
$ocupada: #ad0455;
$disponible: #8cc63f;
$reparacion: #f44336;
$bloqueada: #f44336;



.badge-desocupada,
.badge-ocupada,
.badge-disponible,
.badge-reparacion,
.badge-bloqueada {
    background: transparent;
    border: 1.5px solid;
    font-size: 0.75em;
    font-weight: normal;
    padding: 5px;
    text-transform: uppercase;
}

.badge-desocupada {
    border-color:$desocupada;
    color: #f7931e;
}

.badge-ocupada {
    border-color: #ad0455;
    color: #ad0455;
}

.badge-disponible {
    border-color: #8cc63f;
    color: #8cc63f;
}

.badge-reparacion {
    border-color: #f44336;
    color: #f44336;
}

.badge-bloqueada {
    border-color: #f44336;
    color: #f44336;
}

button {
&[class^="rounded"].left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
}

.icon-content {
    font-size: 14rem;

    &.desocupada{
        color:$desocupada;
    }
    &.ocupada{
        color:$ocupada;
    }
    &.disponible{
        color:$disponible;
    }
    &.reparacion{
        color:rgb(204, 204, 204);
    }
    &.bloqueada{
        color: rgb(204, 204, 204);
    }
}


.data-icon {
    position: absolute;
    left: 60%;
    top: 10%;
    color: rgb(0, 0, 0);
    z-index: 3;
    font-size: 30px;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 80px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem 0;

    &.desocupada{
        border: solid 2px $desocupada;
    }
    &.masculino{
        border: solid 2px #5bc0de;
    }
    &.femenino{
        border: solid 2px rgb(255, 192, 203);
    }
    &.reparacion{
        border: solid 2px $reparacion;
    }
    &.bloqueada{
        border: solid 2px $bloqueada;
    }

    i{
        &.desocupada{
            color:$desocupada;
        }
        &.masculino{
            color:#5bc0de;
        }
        &.femenino{
            color:rgb(255, 192, 203);
        }
        &.reparacion{
            color:$reparacion;
        }
        &.bloqueada{
            color: $bloqueada;
        }
    }
}

.info-cama {
    position: absolute;
    left: 50%;
    top: 56%;
    max-width: 6rem;
    height: 6rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}


.botonera-superior {
    position: absolute;
    left: 85%;

}

.icon-content {
    align-self: center;
}

.contenedor-cama {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 15rem;
}

.unidad-organizativa {
    font-size: 0.75rem;
    padding: 0;
}

.color-data {
    color: #000;
}

// TODO: ver las variables de colores ya definidas o definir los colores con julito @fersastre
.cama-blo-rep {
    color: rgb(167, 164, 164) !important;
}

.data-paciente {
    color: #000;
    height: 60px;
    padding-top: 10px;
}

// TODO: ver los estilos de los botones del lateral con julito @fersastre
.botonera-superior button {
    padding: 6px;
    color: #fff;
    border-width: 0px;
    margin-bottom: 3px;
}

.botonera-superior button:hover {
    padding: 7px;
    color: #000;
    border-width: 0px;
    margin-bottom: 3px;
}

