<ng-container *ngIf="!camasService.showListaEspera">
    <form class="plex-layout">
        <section>
            <div class="row">
                <!-- [ngClass]="{'col-md-10': showMenu, 'col-md-12': !showMenu}" -->
                <div class="col">
                    <plex-box>
                        <div class="row">
                            <div class="col">
                                <header>
                                    <div class="clearfix">
                                        <div class="page-title">
                                            Mapa de camas
                                        </div>
                                    </div>
                                    <!-- TODO: Ver estilos con julito ,@FerSastre -->


                                    <div class="row" *ngIf="camas">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="filtros-nombre">Paciente</label>
                                                <input type="text" class="form-control" name="nombre" [(ngModel)]="filtros.nombre" id="filtros-nombre" label="Nombre paciente / N. de documento"
                                                    (keyup)="filtrar()" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <plex-select [disabled]="true" [(ngModel)]="filtros.sector" name="sector" [data]="filtros.opciones.sectores" label="Sector"
                                                (change)="filtrar()" *ngIf="filtros.opciones.sectores.length"></plex-select>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <plex-select [(ngModel)]="filtros.servicio" name="servicio2" [data]="filtros.opciones.servicios" label="Servicio" (change)="filtrar()"
                                                    *ngIf="filtros.opciones.servicios.length"></plex-select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <plex-select [(ngModel)]="filtros.tipoCama" name="tipoCama" [data]="filtros.opciones.tiposCamas" label="Tipo de cama" (change)="filtrar()"
                                                *ngIf="filtros.opciones.tiposCamas.length"></plex-select>
                                        </div>
                                        <!-- Filtros por estado -->
                                        <div class="col-md-3">
                                            <label>
                                                Estados:
                                            </label>
                                            <div class="d-flex estados-container" *ngIf="cantidadXEstado">
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'disponible') ? 'inactive' :  ''}} count disponible">{{cantidadXEstado['disponible'].length}}</span>
                                                    <button class="{{(inactive && filtros.estado?.id !== 'disponible') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'disponible') ? '-active' : ''}} disponible"
                                                        (click)="filtroEstados('disponible', inactive)" title="Camas disponibles">
                                                        <i class="icon icon-andes-cama-check disponible"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'desocupada') ? 'inactive' :  ''}} count desocupada">{{cantidadXEstado['desocupada'].length}}</span>
                                                    <button title="Camas desocupada" class="{{(inactive && filtros.estado?.id !== 'desocupada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'desocupada') ? '-active' : ''}} desocupada"
                                                        (click)="filtroEstados('desocupada', inactive)">
                                                        <i class="icon icon-andes-cama-reloj desocupada"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'reparacion') ? 'inactive' :  ''}} count reparacion">{{cantidadXEstado['reparacion'].length}}</span>
                                                    <button title="Camas en reparacion" class="{{(inactive && filtros.estado?.id !== 'reparacion') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'reparacion') ? '-active' : ''}} reparacion"
                                                        (click)="filtroEstados('reparacion', inactive)">
                                                        <i class="icon icon-andes-cama-herramienta reparacion"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'bloqueadas') ? 'inactive' :  ''}} count bloqueada">{{cantidadXEstado['bloqueada'].length}}</span>
                                                    <button title="Camas bloqueadas" class="{{(inactive && filtros.estado?.id !== 'bloqueada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'bloqueada') ? '-active' : ''}} bloqueada"
                                                        (click)="filtroEstados('bloqueada', inactive)">
                                                        <i class="icon icon-andes-cama-candado bloqueada"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'ocupada') ? 'inactive' :  ''}} count ocupada">{{cantidadXEstado['ocupada'].length}}</span>
                                                    <button title="Camas ocupadas" class="{{(inactive && filtros.estado?.id !== 'ocupada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'ocupada') ? '-active' : ''}} ocupada"
                                                        (click)="filtroEstados('ocupada', inactive)">
                                                        <i class="icon icon-andes-paciente ocupada"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="{{(inactive && filtros.estado?.id !== 'oxigeno') ? 'inactive' :  ''}} count oxigeno">{{cantidadXEstado['oxigeno'].length}}</span>
                                                    <button title="Camas con oxigeno" class="{{(inactive && filtros.estado?.id !== 'oxigeno') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'oxigeno') ? '-active' : ''}} oxigeno"
                                                        (click)="filtroEstados('oxigeno', inactive)">
                                                        <i class="icon icon-andes-cama-oxigeno oxigeno"></i>
                                                    </button>
                                                </div>
                                                <!-- <div class="col-md-1 actions-icons">
                                                    <plex-button type="primary" title="limpiar filtros" label="Limpiar" (click)="refresh()"></plex-button>
                                                </div> -->
                                            </div>
                                            <!-- <div class="col-md-1 actions-icons">
                                            <plex-button type="primary" label="Limpiar filtros" (click)="refresh()"></plex-button>
                                        </div> -->
                                        </div>
                                        <div class="col-md-1 actions-icons">
                                            <button class="rounded left btn-primary btnMenu" (click)="showMenu=!showMenu">
                                                <i class="mdi mdi-chevron-double-{{!showMenu ? 'left' : 'right' }}"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <hr />

                                </header>
                                <!-- Loader -->
                                <plex-loader *ngIf="loader" type="ball-pulse-sync"></plex-loader>
                                <!-- En caso de que no hay resultados -->
                                <div *ngIf="!loader && !camas">
                                    No se encontraron resultados
                                </div>
                                <div class="row" *ngIf="!loader">
                                    <div (click)="selecionarCama(cama)" [ngClass]="{'col-md-3': showMenu, 'col-md-2': !showMenu, 'selected': cama === camaSeleccionada}"
                                        *ngFor="let cama of camas; let i = index">
                                        <app-cama [prestacion]="prestacion" [cama]="cama" [readOnly]="historicoMode" (evtCama)="updateCama($event, i)"></app-cama>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </plex-box>
                </div>
                <div class="col-3" *ngIf="showMenu">




                    <plex-box>

                        <ng-container *ngIf="camaSeleccionada">
                            <header>
                                <h3>Detalle de cama</h3>
                            </header>

                            <hr>
                            <div class="text-center info-cama-menu">

                                <span class="badge badge-{{camaSeleccionada.ultimoEstado.estado}}" [ngClass]="{ 'badge-success': camaSeleccionada.ultimoEstado.estado === 'desocupada'}">
                                    {{camaSeleccionada.ultimoEstado.estado}}
                                </span>
                                <h3>Cama</h3>
                                <h2 class="{{camaSeleccionada.ultimoEstado.estado}}">
                                    {{camaSeleccionada.nombre}}
                                </h2>

                                <div class="data-paciente">
                                    <p *ngIf="camaSeleccionada.ultimoEstado?.paciente">
                                        <b>
                                            {{camaSeleccionada.ultimoEstado.paciente.apellido}}
                                        </b>
                                        <br> {{camaSeleccionada.ultimoEstado.paciente.nombre}}
                                    </p>
                                </div>
                                {{camaSeleccionada.sectores[0].nombre}}
                                <hr>
                                <p>
                                    {{camaSeleccionada.ultimoEstado.unidadOrganizativa.term}}
                                </p>

                                <!-- Ver internacion -->
                                <plex-button type="success" label="Ver internación">
                                </plex-button>

                                <!-- Ver egreso -->
                                <plex-button type="danger" label="Ver Egreso" (click)="verEgreso(camaSeleccionada.ultimoEstado.idInternacion)">
                                </plex-button>

                                <div class="d-flex justify-content-center">

                                    <div class="cama-seleccion-icon">
                                        <!-- reparacion -->
                                        <i class="icon icon-andes-cama-oxigeno"></i>
                                        <p>Oxigeno</p>
                                    </div>
                                    <div class="cama-seleccion-icon">
                                        <!-- reparacion -->
                                        <i class="icon icon-andes-cama-herramienta"></i>
                                        <p>Censable</p>
                                    </div>
                                    <div class="cama-seleccion-icon">
                                        <!-- reparacion -->
                                        <i class="icon icon-andes-cama-herramienta"></i>
                                        <p>Unixes</p>
                                    </div>
                                </div>



                            </div>



                        </ng-container>



                        <ng-container *ngIf="!camaSeleccionada">
                            <header>
                                <h3>Acciones</h3>
                            </header>
                            <ng-container *ngIf="!prestacion && !historicoMode">
                                <plex-button type="primary btn-block" label="Lista de espera" (click)="!camasService.showListaEspera = true;"></plex-button>
                                <plex-button class="" type="primary btn-block mt-2" label="Ingresar Paciente" (click)="ingresarPaciente()" *ngIf="checkAuth('alta')"></plex-button>
                                <plex-button class="" type="primary btn-block mt-2" label="Censo diario" (click)="censoDiario()" *ngIf="checkAuth('censo')"></plex-button>
                                <plex-button class="" type="primary btn-block mt-2" label="Censo mensual" (click)="censoMensual()" *ngIf="checkAuth('censo')"></plex-button>
                                <plex-button class="" type="primary btn-block mt-2" label="Historia del mapa de cama" (click)="verHistorico()"></plex-button>
                                <plex-button label="Crear cama" type="primary btn-block mt-2" (click)="onGestionCamaClick()" *ngIf="checkAuth('cama:create')"></plex-button>
                            </ng-container>
                            <ng-container *ngIf="prestacion">
                                <plex-button class="" type="primary btn-block mt-2" label="Cancelar" (click)="!camasService.showListaEspera = true; prestacion = null;"></plex-button>
                            </ng-container>
                            <ng-container *ngIf="historicoMode">

                                <plex-datetime type="datetime" [(ngModel)]="fecha" name="fecha" label="Fecha" (change)="mapaDeCamaXFecha(false)"></plex-datetime>
                                <plex-button type="primary btn-block mt-2" label="Cancelar" (click)="mapaDeCamaXFecha(true)"></plex-button>

                            </ng-container>

                            <div class="pt-3">
                                <h3>Estado del servicio</h3>
                                <hr>
                            </div>

                            <div class="container-resumen">
                                <div class="subcontainer-resumen">
                                    <div>
                                        <i class="icon icon-andes-cama"></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{camasCopy.length}}</h3>
                                        <p>Camas totales</p>
                                    </div>
                                </div>
                                <div class="subcontainer-resumen disponible">
                                    <div>
                                        <i class="icon icon-andes-cama"></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{cantidadXEstado['disponible'].length}}</h3>
                                        <p>Camas disponibles</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-resumen">
                                <div class="subcontainer-resumen desocupada">
                                    <div>
                                        <i class="icon icon-andes-cama-desocupada"></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{cantidadXEstado['desocupada'].length}}</h3>
                                        <p>Camas desocupadas</p>
                                    </div>
                                </div>
                                <div class="subcontainer-resumen bloqueada">
                                    <div>
                                        <i class="icon icon-andes-cama-bloqueada"></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{cantidadXEstado['bloqueada'].length}}</h3>
                                        <p>Camas bloqueadas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-resumen">
                                <div class="subcontainer-resumen ocupada">
                                    <div>
                                        <i class="icon icon-andes-cama-ocupada"></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{cantidadXEstado['ocupada'].length}}</h3>
                                        <p>Camas ocupadas</p>
                                    </div>
                                </div>
                                <div class="subcontainer-resumen reparacion">
                                    <div>
                                        <i class="icon icon-andes-cama-reparacion "></i>
                                    </div>
                                    <div class="texto-resumen">
                                        <h3>{{cantidadXEstado['reparacion'].length}}</h3>
                                        <p>Camas en reparacion</p>
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                    </plex-box>
                </div>
            </div>
        </section>
    </form>
</ng-container>
<ng-container *ngIf="camasService.showListaEspera">
    <listaEsperaInternacion (prestacion)='onDarCama($event)' (showCamas)='camasService.showListaEspera = $event'></listaEsperaInternacion>
</ng-container>