$blue: #00a8e0;
$lightblue: #d6f7ff;

.info-basica {
    padding: 15px;
    border: solid 1px $blue;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    font-size: smaller;
    box-sizing: border-box;
}

.info-basica>div:first-child {
    flex: 0 0 20%;
    max-width: 20%;
    box-sizing: border-box;
}

.info-basica>div:last-child {
    flex: 0 0 80%;
    max-width: 80%;
    box-sizing: border-box;
}

.info-basica .datos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo-grupo {
    padding: 10px 0;
    color: #00a8e0;
    font-size: larger;
    border-bottom: 1px solid #00a8e0;
    margin-bottom: 10px;
}

.badge-protocolo {
    display: flex;
    gap: 4px;
}

table {
    margin-bottom: 30px;
    width: 100%;

    tr {
        border: 1px solid white;
    }

    td {
        font-size: small;
        vertical-align: middle;
        width: 25%;
    }

    td.esTitulo {
        background-color: #d6f7ff;
        text-transform: uppercase;
    }

    thead {
        th {
            border-top: none;
            font-size: smaller;
            font-weight: 800;
            padding: 0;
            padding-bottom: 10px;
            width: 25%;
        }
    }

    tbody {
        tr:hover {
            background-color: $lightblue;
            border: 1px solid white;
        }
    }
}