$blue: #00a8e0;
$lightblue: #d6f7ff;

.info-basica {
    padding: 15px;
    border: solid 1px $blue;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 5%;
    font-size: smaller;

}

.info-basica .datos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo-grupo {
    padding: 10px 0;
    color: #00a8e0;
    font-size: larger;
    border-bottom: 1px solid #00a8e0;
    margin-bottom: 10px;
}

table {
    margin-bottom: 30px;

    tr {
        border: 1px solid white;
    }

    td {
        font-size: small;
        vertical-align: middle;
    }

    thead {
        th {
            border-top: none;
            font-size: smaller;
            font-weight: 800;
            padding: 0;
            padding-bottom: 10px;
        }
    }

    tbody {
        tr:hover {
            background-color: $lightblue;
            border: 1px solid white;
        }
    }
}