<plex-layout [main]="selectedConcept ? 8 : 12">
    <plex-layout-main>

        <plex-wrapper>
            <plex-datetime label="Desde" [max]="hoy" type="date" [(ngModel)]="desde" name="desde">
            </plex-datetime>
            <plex-datetime label="Hasta" [max]="hoy" type="date" [(ngModel)]="hasta" name="hasta">
            </plex-datetime>
            <plex-select [data]="prestaciones" idField="conceptId" labelField="term" label="Prestacion"
                         [(ngModel)]="prestacion" (change)="onPrestacionChange()">
            </plex-select>
            <plex-button *ngIf="!prestacionesHijas.length" class="pr-3 d-flex align-items-end" type="info" size="md"
                         label="Detalles" disabled="true"></plex-button>
            <plex-help *ngIf="prestacionesHijas.length" class="pr-3 d-flex align-items-end" size="md" type="info"
                       tituloBoton="Detalles">
                <plex-title titulo="Prestaciones descendientes" size="sm">
                    <plex-bool *ngIf="prestacionesHijas?.length > 1" [(ngModel)]="detallar" type="slide"
                               label="Seleccionar todas" (change)="updateSeleccionDetalle(detallar)"></plex-bool>
                </plex-title>
                <plex-grid size="sm" type="full" cols="4">
                    <ng-container *ngFor="let hijo of prestacionesHijas">
                        <plex-bool [(ngModel)]="hijo.check" type="checkbox" [label]="hijo.term"></plex-bool>
                    </ng-container>
                </plex-grid>
            </plex-help>
            <plex-button type="success" label="Filtrar" [disabled]="!prestacion" (click)="onChange()">
            </plex-button>
        </plex-wrapper>

        <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>

        <plex-tabs *ngIf="!mensajeInicial">
            <plex-tab label="Prestaciones">
                <div class="mt-3" *ngFor="let presta of tablas">
                    <plex-table [columns]="columns" #table="plTable">
                        <plex-title titulo="{{presta.prestacion.term}}" size="md"></plex-title>
                        <plex-table-columns></plex-table-columns>
                        <tr *ngFor="let row of presta.data; let i = index;">
                            <td *plTableCol="'sexoedad'">{{ i === 0 ? 'Masculino' : (i === 1 ? 'Femenino' : 'Total') }}
                            </td>
                            <td *ngFor="let column of row">{{ column }}</td>
                        </tr>
                    </plex-table>
                </div>
            </plex-tab>
            <plex-tab label="Registros">
                <plex-table [columns]="conceptosColumns" #table="plTable">
                    <plex-title titulo="Conceptos utilizados" size="md"></plex-title>
                    <plex-table-columns></plex-table-columns>
                    <tr *ngFor="let row of registros ;let i = index" (click)="show(row, i)"
                        [class.selected]="selectedConcept === row" [class.selectable]="selectable">
                        <td *plTableCol="'conceptoTerm'">{{ row.concepto.term }}</td>
                        <td *plTableCol="'conceptoSemanticTag'">{{ row.concepto.semanticTag }}</td>
                        <td *plTableCol="'cantidad'">{{ row.count }}</td>
                        <td *plTableCol="'cantidadRelacionados'">{{ row.relacionesName?.length }}</td>
                        <td *plTableCol="'relaciones'">{{ row.relacionesName }}</td>
                    </tr>
                </plex-table>
            </plex-tab>
        </plex-tabs>
        <div *ngIf="mensajeInicial" justify="center" class="h-75">
            <plex-label titulo="Comience seleccionando los filtros" direction="column"
                        subtitulo="Elija las opciones de filtrado y luego click en el botón 'Filtrar'" type="info"
                        size="xl" icon="arrow-up"></plex-label>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar *ngIf="selectedConcept" type="invert">
        <plex-title titulo="{{ selectedConcept.concepto.term }}"></plex-title>
        <plex-tabs size="full">
            <plex-tab label="Jerarquía">
                <plex-title size="md" titulo="Próximos padres"></plex-title>
                <ul class="list-group"
                    *ngFor="let padre of conceptos[selectedConcept.concepto.conceptId].relationships">
                    <li class="list-group-item d-flex justify-content-between align-items-center hover"
                        (click)="showChild(padre)">
                        {{ padre.term }}
                        <plex-badge type="info badge-pill" title="Cantidad de hijos registrados">
                            {{ getChilds(padre) | sum:'count' }}
                        </plex-badge>
                    </li>
                </ul>
                <ng-container *ngIf="selectedChilds">
                    <plex-title size="sm" titulo="Conceptos a agrupar">
                        <plex-button size="sm" type="success" (click)="groupBy(selectedConcept, selectedFather)">Agrupar
                        </plex-button>
                    </plex-title>
                    <plex-list size="sm" [selectable]="false">
                        <ng-container *ngFor="let concepto of selectedChilds">
                            <plex-item [colors]="item.colores" [selectable]="item.selectable">
                                <plex-label titulo="Concepto" subtitulo="{{ concepto.concepto.term }}" size="sm">
                                </plex-label>
                                <plex-badge type="info">{{ concepto.count }}</plex-badge>
                            </plex-item>
                        </ng-container>
                    </plex-list>
                </ng-container>
                <ng-container *ngIf="!selectedChilds && selectedConcept.hijos && selectedConcept.hijos.length > 0">
                    <plex-title size="sm" titulo="Conceptos agrupados"></plex-title>
                    <plex-list size="sm" [selectable]="false">
                        <ng-container *ngFor="let concepto of selectedConcept.hijos">
                            <plex-item [colors]="item.colores" [selectable]="item.selectable">
                                <plex-label titulo="Concepto" subtitulo="{{ concepto.concepto.term }}" size="sm">
                                </plex-label>
                                <plex-badge type="info">{{ concepto.count }}</plex-badge>
                            </plex-item>
                        </ng-container>
                    </plex-list>
                </ng-container>
            </plex-tab>
            <plex-tab label="Estadisticas">
                <ng-container *ngIf="tableDemografia">
                    <plex-table [columns]="estadisticasColumns">
                        <plex-title titulo="Conceptos utilizados" size="sm"></plex-title>
                        <plex-table-columns></plex-table-columns>
                        <tr>
                            <td *plTableCol="'sexodecada'">Femenino</td>
                            <td *ngFor="let count of tableDemografia[0]">{{ count }}</td>
                        </tr>
                        <tr>
                            <td *plTableCol="'sexodecada'">Masculino</td>
                            <td *ngFor="let count of tableDemografia[1]">{{ count }}</td>
                        </tr>
                    </plex-table>
                </ng-container>
                <ng-container *ngIf="tableLocalidades">
                    <plex-table [columns]="localidadesColumns">
                        <plex-title titulo="Localidades" size="sm"></plex-title>
                        <plex-table-columns></plex-table-columns>
                        <tr *ngFor="let item of tableLocalidades | keyvalue">
                            <td *plTableCol="'localidad'">{{ item.key }}</td>
                            <td *plTableCol="'cantidad'">{{ item.value }}</td>
                        </tr>
                    </plex-table>
                </ng-container>
            </plex-tab>
        </plex-tabs>
    </plex-layout-sidebar>
</plex-layout>