<form #form="ngForm">
    <plex-wrapper>
        <plex-phone *ngIf="showCampoCelular" class="pr-3" label="Teléfono celular" name="celular" [(ngModel)]="celular"
                    [disabled]="cuentaActivada" grow="full">
        </plex-phone>

        <plex-grid>
            <div justify="start">
                <b class="pr-3"
                   hint="'Esta dirección se utilizará como usuario para loguearse en la app-mobile y con fines administrativos'"
                   icon="help">Usuario
                    ANDES</b>
            </div>
            <plex-text email label="" name="email" debounce="3000" [(ngModel)]="email"
                       [readonly]="(showCampoCelular && !celular) || emailReadonly" (change)="checkEmail()">
            </plex-text>
        </plex-grid>

        <plex-button *ngIf="showEditar" label="" type="warning" name="editarUsuario" title="Editar correo"
                     [disabled]="disableEditar" (click)="editarEmail()">
            <plex-icon name="pencil" size="xxl" type="light"></plex-icon>
        </plex-button>

        <plex-button *ngIf="cuentaActivada" label="" type="success" name="activacionSuccess" title="" disabled="true">
            <plex-icon name="check" size="xxl" type="light"></plex-icon>
        </plex-button>

        <plex-button *ngIf="paciente.id && showActivar"
                     [disabled]="form.invalid || disableActivacion || (showCampoCelular && !celular)"
                     label="Activar app" type="info" (click)="activarApp()"></plex-button>

        <plex-button *ngIf="paciente.id && showReenviar"
                     [disabled]="form.invalid || disableActivacion || (showCampoCelular && !celular)"
                     label="Reenviar Código" type="info" (click)="activarApp()">
        </plex-button>

        <plex-badge *ngIf="message" class="pt-2 pr-3" [type]="typeMessage" size="block">{{ message }}</plex-badge>
    </plex-wrapper>
</form>