<form class="plex-layout" #form="ngForm">
    <section *ngIf="!showDarTurnos">
        <div class="row" *ngIf="showDashboard">
            <div class="col-7">
                <plex-box>
                    <header>
                        <!--Busqueda de Pacientes-->
                        <div class="clearfix">
                            <div class="page-title">PUNTO DE INICIO | GESTIÓN DE PACIENTES</div>
                        </div>
                    </header>
                    <paciente-search-turnos *ngIf="!showCreateUpdate" (selected)="onPacienteSelected($event)"
                        [puedeCrearSolicitud]="puedeCrearSolicitud" [puedeDarTurno]="puedeDarTurno"
                        [modoCompleto]="false" [resultadoCreateUpdate]="resultadoCreate"
                        (blanqueaInput)="handleBlanqueo($event)" (sinResultados)="handleBlanqueo($event)"
                        (createUpdate)="actualizarPaciente($event)" (operacion)="verificarOperacion($event)">
                    </paciente-search-turnos>
                </plex-box>
            </div>
            <!--Panel de Estadisticas y Operaciones-->
            <div class="col-5">
                <plex-box>
                    <div *ngIf="showMostrarEstadisticasAgendas" type="info">
                        <estadisticas-agendas></estadisticas-agendas>
                    </div>
                    <div *ngIf="showMostrarEstadisticasPacientes" type="info">
                        <estadisticas-pacientes [paciente]="paciente"
                            (showArancelamientoForm)="showArancelamientoForm($event)" [showTab]="showTab">
                        </estadisticas-pacientes>
                    </div>
                    <div *ngIf="showIngresarSolicitud" type="info">
                        <lista-solicitud-turno-ventanilla [paciente]="paciente"
                            (solicitudPrestacionEmit)="darTurnoSolicitud($event)">
                        </lista-solicitud-turno-ventanilla>
                    </div>
                    <div *ngIf="showActivarApp" type="info">
                        <activar-app [paciente]="paciente"></activar-app>
                    </div>
                </plex-box>
            </div>
        </div>
        <!-- Paciente Create Update: se utiliza de forma independiente del paciente-search-turnos
    para una mejor visualizacion de la carga de datos -->
        <paciente-create-update *ngIf="showCreateUpdate" [seleccion]="seleccion" [escaneado]="esEscaneado"
            (data)='afterCreateUpdate($event)'></paciente-create-update>
        <div *ngIf="showArancelamiento">
            <arancelamiento-form [turno]="turnoArancelamiento" (volverAPuntoInicio)='volverAPuntoInicio($event)'>
            </arancelamiento-form>
        </div>
    </section>
    <!--Components-->
    <dar-turnos *ngIf="autorizado && showDarTurnos" [pacienteSeleccionado]="paciente"
        [solicitudPrestacion]="solicitudPrestacion" (afterDarTurno)="afterDarTurno($event)"></dar-turnos>
</form>
