.accordion-dashboard div {
    position: relative !important;
}

.mat-radio-label {
    align-items: flex-start !important;
    white-space: normal !important;
}

// .bg-null {
//     background-color: #dddddd;
// }
.invert {
    color: white;
    background-color: #002738 !important;
}
