.accordion-dashboard div {
    position: relative !important;
}

.mat-radio-label {
    align-items: flex-start !important;
    white-space: normal !important;
}

.blue-border {
    border-color: #5bc0de;
}

.contenedor-turnos-vacio {
    display: flex;
    justify-content: center;
}

.label-turnos-vacio {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}