<form #formMotivoSuspension="ngForm">
    <plex-title titulo="Descripción del motivo" size="md">
        <plex-button *ngIf="puedeEditar()" size="sm" icon="pencil" tooltip="Editar" type="warning" class="mr-1"
                     (click)="editar()">
        </plex-button>
        <ng-container *ngIf="!motivo || editando">
            <plex-button [disabled]="!puedeGuardar()" size="sm" icon="check" tooltip="Guardar" type="success"
                         (click)="guardarSuspension()">
            </plex-button>
        </ng-container>
        <plex-button size="sm" icon="{{ editando && rechazo?.key ? 'arrow-left' : 'close' }}" class="ml-1"
                     tooltip="{{ editando && rechazo?.key ? 'Volver' : 'Cerrar' }}" type="danger"
                     (click)="cancelarSuspension()">
        </plex-button>
    </plex-title>
    <plex-select *ngIf="tipo === 'rechazo'" [(ngModel)]="rechazo" name="selectRechazo" [data]="rechazo$ | async"
                 label="Motivo de rechazo" [required]="true" [disabled]="!editando && key !== ''" idField="key"
                 labelField="nombre" (change)="onInputChange($event)">
    </plex-select>
    <plex-text *ngIf="motivoRequerido()" label="Ingrese motivo de {{ tipo }}" [(ngModel)]="nuevoMotivo" name="motivo"
               grow="full" [required]="true" multiline="true" [disabled]="!editando && key !== ''">
    </plex-text>
</form>