<form #formIngreso="ngForm">
    <section class="andes-tab" *ngIf="!soloValores">
        <div class="row">
            <div class="col-12">
                <div *ngIf="paciente">
                    <fieldset>
                        <!-- <legend class="text-info">Datos de ingreso</legend> -->
                        <h6>
                            <b>Paciente:</b>
                        </h6>
                        <h6>{{ paciente.apellido }}, {{ paciente.nombre }}</h6>
                        <hr class="blanco xs separate">
                        <!-- Paciente Create Update: se utiliza de forma independiente del paciente-search-turnos
                                para una mejor visualizacion de la carga de datos -->
                        <div class="row">
                            <div class="col" *ngIf="!soloValores">
                                <carpeta-paciente [pacienteSeleccionado]="paciente" (guardarCarpetaEmit)="afterComponenteCarpeta($event)"
                                    (cancelarCarpetaEmit)="afterComponenteCarpeta($event) "></carpeta-paciente>
                            </div>
                            <div class="col" *ngIf="showEditarCarpetaPaciente">
                                <plex-text [(ngModel)]="carpetaPaciente" labelField=""></plex-text>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <plex-datetime *ngIf="!soloValores" type="datetime" [(ngModel)]="informeIngreso.fechaIngreso"
                                    [required]="true" [autoFocus]="autoFocus " name="fechaIngreso " label="Fecha Ingreso">
                                </plex-datetime>
                            </div>
                            <div class="col-6">
                                <plex-select *ngIf="!soloValores" [required]="true" [(ngModel)]="informeIngreso.origen"
                                    name="origen" [data]="origenHospitalizacion" placeholder="Seleccione..." label="Origen hospitalización"
                                    idField="nombre" labelField="nombre" (change)="changeOrigenHospitalizacion($event)">
                                </plex-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="origenExterno">
                            <div class="col">
                                <plex-select [(ngModel)]="informeIngreso.organizacionOrigen" name="organizacion"
                                    (getData)="loadOrganizacion($event)" label="Organización" placeholder="Seleccione la organización"
                                    labelField="nombre" [required]="true">
                                </plex-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <plex-select *ngIf="!soloValores" label="Profesional" [(ngModel)]="informeIngreso.profesional"
                                    name="profesional" (getData)="loadProfesionales($event)" labelField="apellido+' '+nombre">
                                </plex-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" *ngIf="situacionesLaborales">
                                <plex-select *ngIf="!soloValores" label=" Situación laboral " [(ngModel)]="informeIngreso.situacionLaboral"
                                    name="situacionLaboral" [data]="situacionesLaborales" placeholder="Seleccione... "
                                    idField="nombre" labelField="nombre">
                                </plex-select>
                            </div>
                            <div class="col-6 ">
                                <plex-select *ngIf="!soloValores" label="Ocupación habitual " [(ngModel)]="informeIngreso.ocupacionHabitual"
                                    name="ocupacionHabitual" [data]="ocupaciones" placeholder="Seleccione... " idField="nombre"
                                    labelField="nombre">
                                </plex-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 ">
                                <plex-select *ngIf="!soloValores" [(ngModel)]="informeIngreso.nivelInstruccion" name="nivelInstruccion"
                                    [data]="nivelesInstruccion" placeholder="Seleccione..." label="Nivel instrucción"
                                    idField="nombre" labelField="nombre">
                                </plex-select>
                            </div>
                            <div class="col-4 ">
                                <plex-select *ngIf="!soloValores" [(ngModel)]="informeIngreso.asociado" name="asociado"
                                    [data]="pacienteAsociado" placeholder="Seleccione... " label="Asociado a" idField="nombre"
                                    labelField="nombre">
                                </plex-select>
                            </div>
                            <div class="col-4 ">
                                <plex-text *ngIf="!soloValores && obraSocial" [(ngModel)]="obraSocial.nombre" label="Obra Social"
                                    name="obraSocial" [readonly]="true"></plex-text>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <plex-text *ngIf="!soloValores" label="Motivo de Internación" name="motivo" multiline="true"
                                    [(ngModel)]="informeIngreso.motivo">
                                </plex-text>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>

    <!-- SoloValores -->
    <ng-container *ngIf="soloValores && paciente && informeIngreso">
        <!-- Datos personales -->
        <fieldset>
            <!-- <legend class="text-info">Datos de ingreso</legend> -->
            <h6>
                <b>Paciente:</b>
            </h6>
            <h6>{{ paciente.apellido }}, {{ paciente.nombre }}</h6>
            <div class="row" *ngIf="showEditarCarpetaPaciente">
                <div class="col">
                    <plex-text [(ngModel)]="carpetaPaciente" labelField=""></plex-text>
                </div>
            </div>
        </fieldset>
        <hr class="blanco xs">

        <!-- Datos de internacion -->
        <div class="andes-contenedor-secundario horizontal between">
            <div class="andes-contenedor-secundario vertical">
                <b>Fecha Ingreso:</b>
                <p>{{informeIngreso.fechaIngreso | fecha}}</p>
            </div>
            <div class="andes-contenedor-secundario vertical">
                <b>Origen Hospitalización:</b>
                <p>{{informeIngreso.origen}} {{informeIngreso.organizacionOrigen ? '| ' +
                    informeIngreso.organizacionOrigen.nombre : null}}</p>
            </div>
            <div *ngIf="informeIngreso.profesional" class="andes-contenedor-secundario vertical">
                <b>Profesional:</b>
                <p>{{informeIngreso.profesional.nombreCompleto}}</p>
            </div>
        </div>

        <!-- Datos secundarios  -->
        <div class="andes-contenedor-secundario horizontal between" *ngIf="situacionesLaborales">
            <div class="andes-contenedor-secundario vertical">
                <b>Situacion Laboral:</b>
                <p>{{informeIngreso.situacionLaboral}}</p>
            </div>
            <div class="andes-contenedor-secundario vertical">
                <b>Ocupación Habitual:</b>
                <p>{{informeIngreso.ocupacionHabitual}}</p>
            </div>
            <div class="andes-contenedor-secundario vertical">
                <b>Nivel Instrucción:</b>
                <p>{{informeIngreso.nivelInstruccion}}</p>
            </div>
        </div>

        <!-- datos administrativos -->
        <div class="andes-contenedor-secundario horizontal between">
            <div class="andes-contenedor-secundario vertical">
                <b>Asociado a:</b>
                <p>{{informeIngreso.asociado}}</p>
            </div>
            <div *ngIf="informeIngreso.obraSocial && informeIngreso.obraSocial.nombre" class="andes-contenedor-secundario vertical">
                <b>Obra Social:</b>
                <p>{{informeIngreso.obraSocial.nombre}}</p>
            </div>
            <div class="andes-contenedor-secundario vertical">
                <b>Motivo:</b>
                <p>{{informeIngreso.motivo}}</p>
            </div>
        </div>
    </ng-container>

    <!--Footer-->
    <footer class="andes-contenedor-botones horizontal between" *ngIf="!buscandoPaciente && !soloValores">
        <plex-button type="danger" label="VOLVER" (click)="cancelar()"></plex-button>
        <plex-button label="{{btnIniciarGuardar}}" *ngIf="paciente" validateForm="true " type="success " (click)="guardar($event)"></plex-button>
    </footer>
</form>
