<div
  class="rup-card mini {{ servicioPrestacion.getCssClass((registro?.concepto ? registro.concepto : registro ), registro.esSolicitud) }}"
  [ngClass]="{
  'solicitud' : (registro?.concepto ? registro.concepto : registro ).esSolicitud,
  'active': huds.isOpen((registro?.concepto ? registro.concepto : registro ), (registro.tipo ? registro.tipo : 'concepto'))
}">
  <div
    class="rup-header rup-border rup-border-{{ servicioPrestacion.getCssClass((registro?.concepto ? registro.concepto : registro ), registro.esSolicitud) }}">
    <div class="icon-rup drag-handle d-flex align-items-center justify-content-center"
      (click)="emitirAccion(registro, (registro.tipo ? registro.tipo: 'concepto'), 'tabs')">
      <i
        class="adi adi-rup-semantic-{{ servicioPrestacion.getCssClass((registro?.concepto ? registro.concepto : registro ), registro.esSolicitud) }}"></i>
    </div>

    <div class="datos pl-2" (click)="emitirAccion(registro, (registro.tipo ? registro.tipo: 'concepto'), 'tabs')">
      <b><span [ngClass]="{'bg-hilite': prestacionSeleccionada?.length > 0}">
          {{ (registro?.concepto ? registro.concepto : registro ).term }}</span></b>
      <div class="profesional">
        {{ registro?.evoluciones ? registro.evoluciones[0].profesional : registro.profesional }}
      </div>
      <div class="efector">
        <span [ngClass]="">
          {{ (registro?.concepto ? registro.concepto : registro)?.organizacion?.nombre }}
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-start p-2"
      [ngClass]="{'flex-wrap': filtroActual === 'trastornos'}">
      <small class="badge badge-info">
        {{ ((registro?.concepto ? registro.concepto : registro )?.evoluciones ? registro.evoluciones[0].fechaCarga : registro.fecha) | fecha }}
      </small>
      <small *ngIf="registro?.evoluciones?.length > 0 && registro?.evoluciones[registro.evoluciones.length - 1]?.estado"
        class="badge badge-success">
        {{ ((registro?.concepto ? registro.concepto : registro )?.concepto ? (registro?.concepto ? registro.concepto : registro ).concepto : registro ).evoluciones[registro.evoluciones.length - 1].estado }}
      </small>
      <button *ngIf="emitirConceptos && (snomed || filtroActual === 'trastornos')"
        class="btn btn-sm btn-success btn-icon-rup" title="Agregar a la consulta" titlePosition="left"
        (click)="emitirRegistro(registro, 'hallazgo', 'ejecucion')">
        <i class="mdi mdi-plus"></i>
      </button>
    </div>
  </div>
</div>