form.plex-layout {
    font-size: 0.9rem;
}

table.table-striped thead th {
    font-size: 1rem;
}

plex-box > DIV > DIV > DIV > header {
    margin-bottom: 15px;
    border-bottom: solid grey 1px !important;
}