<plex-title main titulo="Detalle de Derivación">
    <plex-button size="sm" class="pr-1" type="info" [icon]="'printer'" title="Imprimir histórico de derivación"
        [disabled]="requestInProgress" (click)="imprimirHistorial()">
    </plex-button>
    <plex-button size="sm" type="danger" [icon]="'close'" (click)="cerrar()">
    </plex-button>
</plex-title>
<plex-options [items]="items" (activated)="cambiarOption($event)"></plex-options>
<div *ngIf="mostrar === 'derivacion'">
    <paciente-detalle [paciente]="derivacion.paciente" reload="true" orientacion="horizontal" [fields]="pacienteFields">
    </paciente-detalle>

    <plex-title size="sm" titulo="Datos de derivación">
        <plex-badge type="warning mr-1">
            {{derivacion.fecha | fecha}} {{derivacion.fecha | hora}}
        </plex-badge>
        <plex-badge *ngIf="derivacion.estado === 'solicitada' || derivacion.estado === 'asignada' || derivacion.estado === 'finalizada' "
                    type="info">
            {{derivacion.estado}}
        </plex-badge>
        <plex-badge *ngIf="derivacion.estado === 'habilitada'|| derivacion.estado === 'aceptada' || derivacion.estado === 'encomendada'"
                    type="success">
            {{derivacion.estado}}
        </plex-badge>
        <plex-badge *ngIf="derivacion.estado === 'inhabilitada' || derivacion.estado === 'rechazada'" type="danger">
            {{derivacion.estado}}
        </plex-badge>
    </plex-title>
    <plex-grid type="full" cols="2">
        <plex-label titulo="Organización origen" subtitulo="{{derivacion.organizacionOrigen.nombre}}">
        </plex-label>
        <plex-label titulo="Organización destino" subtitulo="{{derivacion.organizacionDestino.nombre}}">
        </plex-label>
        <plex-label *ngIf='derivacion.unidadDestino' titulo="Unidad destino" subtitulo="{{derivacion.unidadDestino.term}}">
        </plex-label>
        <plex-label *ngIf='derivacion.organizacionTraslado' titulo="Traslado" subtitulo="{{derivacion.organizacionTraslado.nombre}}">
        </plex-label>
        <plex-label *ngIf='derivacion.tipoTraslado' titulo="Tipo de traslado" subtitulo="{{derivacion.tipoTraslado.nombre}}">
        </plex-label>
        <plex-label titulo="Creada por" subtitulo="{{derivacion.createdBy | nombre}}">
        </plex-label>
        <plex-label titulo="Ultima actualización" subtitulo="{{derivacion.updatedAt
                                    | fecha}}  {{derivacion.updatedAt
                            | hora}}">
        </plex-label>
    </plex-grid>
    <plex-title size="sm" titulo="Nota"></plex-title>
    <plex-grid type="full" cols="1">
        {{derivacion.detalle}}
    </plex-grid>
    <shared-galeria-archivos [files]="adjuntosUrl" [readonly]="true">
    </shared-galeria-archivos>
    <plex-button *ngIf="derivacion.prestacion && derivacion.organizacionOrigen.id === auth.organizacion.id && derivacion.estado === 'solicitada'" type="success mr-1" (click)='editarPrestacion()'>
        Editar Prestación
    </plex-button>
    <vista-prestacion *ngIf="derivacion.prestacion" size="sm" [idPrestacion]="derivacion.prestacion" ></vista-prestacion>
    <div *ngIf="reglasDerivacionFiltradas.length">
        <form #formEstado="ngForm">
            <plex-title size="sm" titulo="Actualizar estado">
            </plex-title>
            <plex-wrapper>
                <plex-select [(ngModel)]="reglaSeleccionada" label="Nuevo estado" name="estado"
                             placeholder="Seleccione un nuevo estado" idField="_id" labelField="estadoFinal"
                             [data]="reglasDerivacionFiltradas" (change)="onReglaChange()" [required]="true" grow="full">
                </plex-select>
                <plex-select *ngIf="reglaSeleccionada?.modificaDestino" [(ngModel)]="nuevoEstado.organizacionDestino"
                             name="organizacionDestino" [data]="organizacionesDestino" label="Organización destino"
                             placeholder="Seleccione la organización destino" labelField="nombre" grow="full"
                             (change)="resetUnidadesDestino($event)" [required]="true">
                </plex-select>
                <plex-select
                    *ngIf="reglaSeleccionada.estadoFinal === 'aceptada' || (reglaSeleccionada?.modificaDestino && nuevoEstado.organizacionDestino)"
                    [(ngModel)]="nuevoEstado.unidadDestino" name="organizacionOrigen" [data]="unidadesDestino" label="Unidad destino"
                    idField="conceptId" placeholder="Seleccione la unidad destino" labelField="term" grow="full"
                    [disabled]="!unidadesDestino.length">
                </plex-select>
                <tipo-traslado *ngIf="reglaSeleccionada?.modificaDestino" [derivacion]="derivacion" grow="full"></tipo-traslado>
                <div class="mt-1" *ngIf="reglaSeleccionada?.definePrioridad">
                    <plex-label [tituloBold]="true" titulo="Prioridad"></plex-label>
                    <ng-container *ngFor="let p of opcionesPrioridad">
                        <div [class]="p.id" [class.selected]="p.id === prioridad" (click)="setPrioridad(p.id);">
                        </div>
                    </ng-container>
                </div>
                <plex-text [(ngModel)]="nuevoEstado.observacion" label="Observacion" name="observacion" multiline="true"
                           grow="full">
                </plex-text>
                <upload-file label="Adjuntar archivo" (onUpload)="onUpload($event)" [modulo]="'com'"></upload-file>
                <br><br>
                <span *ngIf="errorExt">
                    <plex-badge type="danger">Archivo inválido.
                    </plex-badge>
                </span>
            </plex-wrapper>
            <shared-galeria-archivos [files]="documentosEstadoUrl" (remove)="removeFile($event)">
            </shared-galeria-archivos>
            <div class="w-100 mt-2" justify>
                <plex-button type="danger" (click)="cerrar()">
                    Cancelar
                </plex-button>
                <plex-button type="success" (click)="actualizarEstado($event)" [validateForm]="formEstado">
                    Guardar
                </plex-button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="mostrar === 'historial'">
    <historial-derivacion *ngIf="derivacion && derivacion.historial.length > 0" [esCOM]="esCOM"
                          [derivacion]="derivacion">
    </historial-derivacion>
</div>
