<ng-container class="mb-3">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of itemsHistorial">
                <td>
                    <b>{{ item.createdAt | date: "dd/MM/yyyy 'a las' HH:mm "  }}</b>
                    <br />
                    <span *ngIf="item.estado">
                        Pasa a <b>{{ item.estado }}</b> por <b>{{ item.createdBy.nombreCompleto }}</b> de <b>
                            {{ item.createdBy.organizacion.nombre }}</b>
                    </span>
                    <span *ngIf="!item.estado">
                        <b>{{ item.createdBy.nombreCompleto }}</b> de <b>
                            {{ item.createdBy.organizacion.nombre }}</b>
                    </span>
                    <ng-container *ngIf="item.organizacionDestino">
                        <br />
                        <b>Destino:</b> {{ item.organizacionDestino.nombre }}
                    </ng-container>
                    <ng-container *ngIf='item.observacion'>
                        <br />
                        <b>OBSERVACIONES: </b>
                        {{ item.observacion }}
                    </ng-container>
                    <plex-grid type="full" *ngIf="item.adjuntos?.length > 0" cols="1">
                        <div class="image-container" *ngIf="item.adjuntos && fileToken">
                            <ng-container *ngFor="let doc of this.item.adjuntos; let i = index">
                                <plex-visualizador [files]="adjuntos[item.id]" #visualizador></plex-visualizador>
                                <div class="image hover">
                                    <img [src]="createUrl(doc)" alt="" *ngIf="esImagen(doc.ext)"
                                         (click)="visualizador.open(i)">
                                    <a [href]="createUrl(doc)" target="_blank" *ngIf="!esImagen(doc.ext)"
                                       class="adjunto" (click)="visualizador.open(i)">
                                        {{ doc.ext }}
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </plex-grid>
                </td>
                <td>
                    <plex-button *ngIf="!item.estado && item.createdBy.username === auth.usuario.username" label=""
                                 type="danger btn-sm" icon="trash-can" (click)="eliminarNota(item)">
                    </plex-button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
