<plex-layout [main]="showSidebar ? 8 : 12" resizable="true" min="4" max="8" [steps]="2">
	<plex-layout-main>
		<plex-title titulo="Vacunas" size="md"></plex-title>
		<plex-list>
			<plex-item *ngFor="let vacuna of vacunas$ | async" (click)="showInSideBar(vacuna)"
					   [selected]="vacunaSelected === vacuna">
				<plex-label icon="vacuna" titulo=' ' subtitulo="{{vacuna.nombre}}" size="lg" type="info">
				</plex-label>
			</plex-item>
		</plex-list>


	</plex-layout-main>

	<plex-layout-sidebar type="invert">
		<plex-title titulo="Detalle de la vacuna" size="md" *ngIf="vacunaSelected">
			<plex-button size="sm" type="danger" [icon]="'close'" (click)="closeSidebar()">
			</plex-button>
		</plex-title>

		<plex-detail size="md" direction="row">
			<plex-icon name="vacuna" type="info"></plex-icon>
			<div title>{{vacunaSelected?.nombre}}</div>
			<div subtitle>{{vacunaSelected?.codigo}}</div>
		</plex-detail>

		<ng-container *ngIf="!creando">
			<plex-title titulo="Lotes de la vacuna" size="sm">
				<plex-button type="success" size="sm" (click)="crearLote()" class='mr-1' icon="plus"></plex-button>
			</plex-title>
			<plex-list>
				<plex-item *ngFor="let lote of lotes$ | async">
					<plex-label titulo="Codigo" subtitulo="{{lote.codigo}}" size="lg"></plex-label>
					<plex-label titulo="Descripcion" subtitulo="{{lote.descripcion}}" size="lg"></plex-label>
				</plex-item>
			</plex-list>
			<br>
			<ng-container *ngIf="!detalle">

				<ng-container *ngIf="!creandoDosis">
					<plex-title titulo="Dosis" size="sm">
						<plex-button type="success" size="sm" (click)="crearDosis()" class='mr-1' icon="plus">
						</plex-button>
					</plex-title>
					<plex-accordion *ngFor="let dosis of dosis$ | async" (click)="mostrarDosis(dosis)">
						<plex-panel>
							<section plex-accordion-title justify>
								<div class="w-50">
									<plex-label icon="pipeta" type="info" case="capitalize" size="lg" titulo="Codigo"
												subtitulo="{{dosis.codigo}}"></plex-label>
								</div>
								<div class="w-50">
									<plex-label size="lg" titulo="Nombre" subtitulo="{{dosis.nombre}}"></plex-label>
								</div>
								<div>
									<plex-button type="info" size="sm" icon="pico-abajo" class="ml-2">
									</plex-button>
								</div>
							</section>

							<lote-esquemas [esquema]="dosis.esquema" [vacuna]="dosis.vacuna">

							</lote-esquemas>

						</plex-panel>
					</plex-accordion>
				</ng-container>
				<ng-container *ngIf="creandoDosis">
					<plex-title titulo="Crear dosis" size="sm">
						<plex-button type="danger" size="sm" class='mr-1' (click)="cerrar()">
							CANCELAR
						</plex-button>
						<plex-button type="success" size="sm" (click)="guardarDosis()" [disabled]="!formulario.valid">
							GUARDAR
						</plex-button>
					</plex-title>
					<form #formulario="ngForm">
						<plex-grid cols="2">
							<plex-int grow="full" label="Código de dosis" name="codigo"
									  [(ngModel)]="dosisSelected.codigo" [required]="true"
									  placeholder="Ingrese codigo de la dosis">
							</plex-int>
							<plex-select name="nombreDosis" label="Seleccione nombre/grupo" labelField="nombre"
										 [data]="dosisNombre" [(ngModel)]="dosisSelected.nombre" [required]="true">
							</plex-select>
						</plex-grid>
						<plex-select name="esquema" label="Seleccione esquema" labelField="nombre" idField="_id"
									 [data]="esquemaNuevo$ | async" [(ngModel)]="dosisSelected.esquema"
									 [required]="true">
						</plex-select>
					</form>
				</ng-container>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="creando">
			<plex-title titulo="Crear lote" size="sm">
				<plex-button type="danger" size="sm" (click)="cerrar()" class='mr-1'>
					CANCELAR
				</plex-button>
				<plex-button type="success" size="sm" (click)="guardarLote()" [disabled]="!formulario.valid">
					GUARDAR
				</plex-button>
			</plex-title>

			<form #formulario="ngForm">
				<plex-text grow="full" label="Código de lote" name="codigo" [(ngModel)]="loteSelected.codigo"
						   [required]="true">
				</plex-text>
				<plex-text grow="full" label="Descripción de lote" name="descripcion"
						   [(ngModel)]="loteSelected.descripcion" [required]="true">
				</plex-text>
			</form>
		</ng-container>

	</plex-layout-sidebar>
</plex-layout>