.nuevo-periodo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.periodo-controls {
    display: flex;
    justify-content: flex-end;

    .periodo-error {
        display: flex;
        flex-grow: 1;
    }
}

.fechas-periodo {
    display: flex;
    column-gap: 5px;
    align-items: flex-end;
}

.lista-periodos {
    margin-top: 10px;

    .periodo {
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
    }
}