<section>
    <div class="row">
        <div class="col-8 h-100">
            <plex-box type="primary">
                <header>
                    <div class="page-title">Gestión de Usuarios</div>
                </header>
                <span *ngIf="!hidePermisos">
                    <div class="row">
                        <div class="col-8">
                            <plex-select [(ngModel)]="organizacionSelect" name="organizacion" [data]="organizacionesUsuario"
                                [required]="true" (change)="onOrgChange()" labelField="nombre + ', ' + direccion.ubicacion.localidad.nombre">
                            </plex-select>
                        </div>
                        <div class="col-2" *ngIf="showAgregarEfector">
                            <plex-button type="info" size="sm" label="Agregar Efector" (click)="newEfector()"></plex-button>
                        </div>
                        <div class="col-2" *ngIf="showAgregarEfector">
                            <plex-button type="danger" size="sm" label="Quitar Efector" (click)="deleteEfector()" *ngIf="organizacionesUsuario?.length"></plex-button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div *ngIf="organizacionesUsuario.length > 0">
                        <div *ngFor="let permiso of permisos$ | async ">
                            <arbolPermisos [item]="permiso" [userPermissions]="permisos"></arbolPermisos>
                        </div>
                    </div>
                    <div *ngIf="organizacionesUsuario.length <= 0" class="alert alert-default">
                        <i class="mdi mdi-emoticon-sad"></i> Agregue un efector para modificar sus permisos
                    </div>
                </span>
                <div class="row" *ngIf="hidePermisos">
                    <div class="col-10">
                        <plex-select label="Nuevo Efector" [(ngModel)]="newOrg" name="nuevaOrganizacion" [data]="newOrganizaciones"
                            [required]="true" labelField="nombre + ', ' + direccion.ubicacion.localidad.nombre">
                        </plex-select>
                    </div>
                    <div class="col-2">
                        <plex-button type="primary" size="sm" label="Agregar" (click)="agregarOrg()"></plex-button>
                    </div>
                </div>
            </plex-box>
        </div>
        <div class="col text-center h-100">
            <plex-box type="primary ">
                <header>
                    <h3>Datos del Usuario
                    </h3>
                </header>
                <div class="row ">
                    <div class="col-12 ">
                        <img class="foto " src="{{userModel.foto}} ">
                    </div>
                    <div class="col-12 " *ngIf="userModel.apellido && userModel.nombre ">
                        <h3>
                            <strong>{{userModel.apellido}}</strong>
                            <small> {{userModel.nombre}}</small>
                        </h3>
                    </div>
                    <div class="col-12 " *ngIf="userModel.usuario ">
                        <h4>D.N.I. {{userModel.usuario}} </h4>
                    </div>
                </div>
            </plex-box>
        </div>

    </div>
</section>
<footer>
    <div class="row">
        <div class="col text-left">
            <plex-button label="Cancelar" type="danger" (click)="onCancel()"></plex-button>
        </div>
        <div class="col text-right">
            <plex-button label="Guardar" type="success" (click)="onSave()"></plex-button>
        </div>
    </div>
</footer>