<header *ngIf="!esParametrizado">
    <div class="row">
        <div class="col-md-3">
            <plex-select [(ngModel)]="organizacionOrigen" name="orgOrigen" (getData)="loadOrganizaciones($event)"
                         label="Organización origen" placeholder="Seleccione la organización"
                         (change)="actualizarTabla()">
            </plex-select>
        </div>
        <div class="col-md-3">
            <plex-select [(ngModel)]="prestacionOrigen" tmPrestaciones preload="true" name="prestOrigen"
                         label="Prestación origen" placeholder="Seleccione la prestación" (change)="actualizarTabla()">
            </plex-select>
        </div>
        <div class="col-md-3">
            <plex-select [(ngModel)]="organizacionDestino" name="orgDestino" (getData)="loadOrganizaciones($event)"
                         label="Organización destino" placeholder="Seleccione la organización"
                         (change)="actualizarTabla()">
            </plex-select>
        </div>
        <div class="col-md-3">
            <plex-select [(ngModel)]="prestacionDestino" name="prestDestino" tmPrestaciones preload="true"
                         label=" Prestación destino" placeholder="Seleccione la prestación"
                         (change)="actualizarTabla()">
            </plex-select>
        </div>
    </div>
</header>
<div class="row">
    <div *ngIf="!filtroIngresado() || !filas?.length" class="alert alert-default">
        <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de búsqueda
    </div>
</div>
<div class="row">
    <div class="col">
        <table *ngIf="filtroIngresado() && filas?.length" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th *ngIf="!esParametrizado">Organización origen</th>
                    <th>Prestación origen</th>
                    <th>Organización destino</th>
                    <th>Prestación destino</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fila of filas">
                    <td *ngIf="!esParametrizado"><small>{{fila.organizacionOrigen.nombre}}</small></td>
                    <td><small>{{fila.prestacionOrigen.prestacion.term}}</small></td>
                    <td><small>{{fila.organizacionDestino.nombre}}</small></td>
                    <td><small>{{fila.prestacionDestino.term}}</small></td>
                    <td *ngIf="!seleccionada && !esParametrizado">
                        <small>
                            <plex-badge *ngIf="fila.prestacionOrigen.auditable" type="success">auditable
                            </plex-badge>
                        </small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>