<div class="select-novedades">
    <plex-select *ngIf="!ocultar" name="selectModulo" [data]="modulos" [placeholder]="'Seleccione un módulo...'"
                 [(ngModel)]="selectModulo" labelField="nombre + ':' + descripcion"
                 (ngModelChange)="filtrarPorModulo();" idField="_id">
    </plex-select>
</div>
<ng-container *ngIf="!novedad">
    <div class="titulo size-lg">
        <plex-title *ngIf="selectModulo" titulo="Novedades {{selectModulo.nombre}}">
        </plex-title>
        <plex-grid type="auto" size="md" [cols]="4">
            <plex-card *ngFor="let novedad of filtroNovedades">
                <plex-badge color="{{novedad.modulo.color}}">{{novedad.titulo}}</plex-badge>
                <article [innerHTML]="novedad.descripcion"></article>
                <plex-button label="" type="info" icon="eye" (click)="verDetalleNovedad(novedad)">
                </plex-button>
            </plex-card>
        </plex-grid>
    </div>
</ng-container>