<table *ngIf="calendario">
    <tr *ngFor="let week of calendario">
        <td *ngFor="let day of week;let i = index;" (click)="seleccionar(day)" [ngClass]="{
                'hidden-xl-down'  : (opcionesCalendario && i > 4),
                'weekend'          : day.weekend,
                'outline-danger'   : (day.estado === 'ocupado' && !day.seleccionado && mostrarNoDisponibles),
                'outline-success'  : (day.estado === 'disponible') && !day.seleccionado,
                'outline-primary'  : day.seleccionado,
                'hover'            : (day.estado !== 'vacio' && (day.turnosDisponibles > 0 || day.dinamica))
            }">
            <div *ngIf="day.agendasDisponibles && day.agendasDisponibles.length > 0">
                <div class="dia">{{ day.fecha | date: 'd' }}</div>
                <div class="nombre">{{ day.fecha | date: 'EEE' | uppercase }}</div>
                <small *ngIf="day.turnosDisponibles > 0 || mostrarNoDisponibles"
                       title="{{ 'Agendas: ' + day.agendasDisponibles.length + ' / Turnos disponibles: ' + day.turnosDisponibles }}">
                    A:{{day.agendasDisponibles.length}}
                    <i *ngIf="day.turnosDisponibles !== 0" class="mdi mdi-check-circle text-success"></i>
                    <i *ngIf="day.turnosDisponibles == 0" class="mdi mdi-close-circle text-danger"></i>
                    <span *ngIf="day.turnosDisponibles > 0">T:{{day.turnosDisponibles}}</span>
                </small>
                <small *ngIf="day.dinamicasIndefinidas > 0 && day.turnosDisponibles === 0"
                       title="{{ 'Agendas: ' + day.agendasDisponibles.length + ' / Turnos disponibles: ' + day.turnosDisponibles }}">
                    A:{{day.agendasDisponibles.length}}
                    <i class="mdi mdi-check-circle text-success"></i>
                    <span>T:{{day.turnosDisponibles}}</span>
                </small>
            </div>
            <div *ngIf="day.agendasDisponibles && day.agendasDisponibles.length <= 0">
                <div class="dia">{{ day.fecha | date: 'd' }}</div>
                <div class="nombre">{{ day.fecha | date: 'EEE' | uppercase }}</div>
            </div>
        </td>
    </tr>
</table>