$blue: #00a8e0;
$dark-blue: #002738;
$dark-grey: #999999;
$light-blue: #edf8fd;
$orange: #ff8d22;

.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    .btn-prev,
    .btn-next {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: $blue;
        color: lightblue;
        &:hover {
            plex-icon {
                color: $dark-blue;
            }
        }
        &.disabled {
            background: #35474e;
            plex-icon {
                color: $dark-grey;
            }
        }
    }
    .contenido{
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

plex-list section.item {
    margin-bottom: 0;
}

.grid-label {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
  }

  .icono{
      width: 20%;

      plex-icon{
        border: 2px solid $orange;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
