.dar-turnos-section {
    display: flex;
    flex-direction: column;
}

.calendario-expandido {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.acciones-dar-turno {
    display: flex;
    justify-content: space-around;
}

.text-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}