$blue: #00a8e0;
$dark-blue: #002738;
$dark-grey: #999999;
$light-blue: #edf8fd;
$orange: #ff8d22;

.contenedor-slider {
    width: 100%;
    height: auto;
    display: flex;
    margin: 2px 0 3px 0;
    border-bottom: 1px solid $blue;

    .btn-prev,
    .btn-next {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: $blue;
        color: lightblue;

        &:hover {
            plex-icon {
                color: $dark-blue;
            }
        }

        &.disabled {
            background: #35474e;

            plex-icon {
                color: $dark-grey;
            }
        }
    }

    .contenido-agenda {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;

        plex-help {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.icono-agenda {
    plex-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 3px $orange;
        border-radius: 50%;
        padding: 0.75rem;
        height: 3rem;
        width: 3rem;
    }
}

.turnos_disponibles {
    margin-top: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
}

.listado-turnos {
    plex-grid {
        margin-top: 0 !important;
    }
}