version: 3
jobs:
  build:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules 
      - run:
          name: Copy apiKeysMap
          command: cp ./src/environments/apiKeyMaps.ts.example ./src/environments/apiKeyMaps.ts      
      - run:
          name: lint
          command: npm run lint
      - run:
          name: tsc
          command: npm run build:prod -- --progress=false
      - store_artifacts:
          path: ./dist
          destination: dist-folder
