<plex-tabs size="full" [activeIndex]="tabIndex" (change)="cambiarTab($event)" *ngIf="cama$ | async as cama">
    <plex-tab label="CAMA">
        <ng-container *ngIf="estadoCama$ | async as estadoCama">
            <plex-title titulo="DATOS DE CAMA">
                <ng-container *ngIf="permisosMapaCamasService.movimientos">
                    <ng-container *ngFor="let relacion of relaciones$ | async">
                        <ng-container
                                      *ngIf="(relacion.accion !== 'internarPaciente' && relacion.nombre !== 'Bloquear') || (relacion.accion === 'internarPaciente' && permisosMapaCamasService.ingreso)
                                      || (relacion.nombre === 'Bloquear' && permisosMapaCamasService.bloqueo && !cama.sala)">
                            <plex-button title="{{ relacion.nombre }}" [icon]="relacion.icon" [type]="relacion.color"
                                         size="sm" (click)="accion(relacion)">
                            </plex-button>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <plex-button title="Editar Cama" icon="pencil" type="warning" size="sm" (click)="goTo(cama)"
                             *ngIf="cama.sala ? permisosMapaCamasService.salaEdit : permisosMapaCamasService.camaEdit">
                </plex-button>
                <ng-container *ngIf="!cama.sala && cama.estado === 'disponible' && permisosMapaCamasService.camaEdit">
                    <plex-button title="Prestar" icon="chevron-right" type="warning" size="sm"
                                 (click)="accion({accion: 'prestar'})"
                                 *ngIf="cama.unidadOrganizativaOriginal.conceptId === cama.unidadOrganizativa.conceptId">
                    </plex-button>
                    <plex-button title="Devolver" icon="chevron-left" type="warning" size="sm"
                                 (click)="accion({accion: 'devolver'})"
                                 *ngIf="cama.unidadOrganizativaOriginal.conceptId !== cama.unidadOrganizativa.conceptId">
                    </plex-button>
                </ng-container>
                <plex-button title="Volver" icon="arrow-left" type="info" size="sm" (click)="cancelar()">
                </plex-button>



            </plex-title>
            <fieldset>
                <plex-detail size="lg" direction="row">
                    <plex-icon name="{{ estadoCama.icon.substring(this.estadoCama.icon.indexOf('-') + 1) }}">
                    </plex-icon>
                    <plex-badge [type]="estadoCama.color">
                        {{estadoCama.label}}
                    </plex-badge>
                    <plex-badge type="info">
                        {{ cama.esCensable ? 'Censable' : 'No Censable' }}
                    </plex-badge>
                    <plex-badge *ngIf="cama.genero?.term === 'género masculino'" type="info">
                        Cama Masculina
                    </plex-badge>
                    <plex-badge *ngIf="cama.genero?.term === 'género femenino'" type="info">
                        Cama Femenina
                    </plex-badge>
                    <plex-badge *ngIf="!cama.genero?.term" type="info">
                        Sin Género
                    </plex-badge>
                    <div [class]="'text-' + estadoCama.color" title>
                        {{ cama.nombre }}
                    </div>
                    <plex-label titulo="Unidad Organizativa" subtitulo="{{ cama.unidadOrganizativa.term }}">
                    </plex-label>
                    <plex-label titulo="Especialidades" subtitulo="{{ cama.especialidades | enumerar: ['term'] }}"
                                *ngIf="cama.especialidades">
                    </plex-label>
                    <plex-label *ngIf="cama.tipoCama" titulo="Tipo de cama" subtitulo="{{ cama.tipoCama.term }}">
                    </plex-label>
                    <plex-label titulo="Sector" subtitulo="{{ sector(cama) }}"></plex-label>
                    <plex-label titulo="Equipamiento" subtitulo="{{ cama.equipamiento | enumerar: ['term'] }}"
                                *ngIf="cama.equipamiento">
                    </plex-label>
                    <plex-label *ngIf="estadoCama.key === 'bloqueada'" titulo="Motivo bloqueo"
                                subtitulo="{{ cama.observaciones }}"></plex-label>
                </plex-detail>
            </fieldset>
        </ng-container>
        <ng-container *ngIf="cama.paciente">
            <plex-title size="sm" justify titulo="DATOS DE PACIENTE">

                <plex-button *feature="'resumenInternacion'" label="EXPLORACIÓN VISUAL" size="sm" type="info"
                             (click)="onVerResumen(cama)" class="mr-1">
                </plex-button>

                <ng-container *ngIf="turnero$ | async as pantalla">
                    <plex-button (click)="llamarTurnero(pantalla, cama)" size="sm" type="info" class="mr-2">
                        <plex-icon name="bell-ring-outline"></plex-icon>
                    </plex-button>
                </ng-container>

                <ng-container *ngIf="(accionesEstado$ | async)?.length > 0">
                    <plex-button size="sm" type="success" (click)="onNuevoRegistrio()"> NUEVO REGISTRO </plex-button>
                </ng-container>
                <ng-container *ngIf="!cama.sala && hayMovimientosAt$ | async">
                    <plex-button title="Deshacer Internacion" icon="account-off" type="danger" size="sm"
                                 (click)="deshacerInternacion(cama)">
                    </plex-button>
                </ng-container>
            </plex-title>
            <fieldset>
                <paciente-detalle [paciente]="paciente$ | async" orientacion="horizontal" [fields]="pacienteFields">
                </paciente-detalle>
            </fieldset>
        </ng-container>
        <ng-container *ngIf="cama.estado === 'ocupada' && !cama.sala">
            <plex-title titulo="Nota">
                <plex-button *ngIf="!editNota" size="sm" title="Editar nota" type="warning" icon="documento"
                             (click)="toggleEditNota(true, cama.nota)"></plex-button>
            </plex-title>

            <plex-label> {{ cama.nota }}</plex-label>

            <ng-container *ngIf="editNota">
                <textarea class="form-control" [(ngModel)]="nota" id="nota" name="nota"
                          placeholder="Agregar nota..."></textarea>
                <plex-button class="float-right" size="sm" title="Guardar nota" type="success" icon="check"
                             (click)="guardarNota(cama)"></plex-button>
                <plex-button class="float-right" size="sm" title="Cancelar" type="danger" icon="close"
                             (click)="toggleEditNota(false, cama.nota)"></plex-button>
            </ng-container>
        </ng-container>
    </plex-tab>
    <plex-tab *ngIf="cama.paciente" label="INTERNACION">
        <app-internacion-detalle (accion)="onAccion($event)">
        </app-internacion-detalle>
    </plex-tab>
    <plex-tab label="HISTORIAL" *ngIf="!cama.sala">
        <app-historial-detalle></app-historial-detalle>
    </plex-tab>
</plex-tabs>