<plex-title titulo="Registrar evento"></plex-title>

<plex-detail>
    <plex-icon *ngIf="indicacion.seccion.term === ' - sin sección -'" name="documento" class="icon--noSeccion">
    </plex-icon>
    <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de alimentación parenteral'"
               name="docuemento-manzana" class="icon--alimentacion"></plex-icon>
    <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de hidratación'" name="mano-gota"
               class="icon--hidratacion"></plex-icon>
    <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de medicación'" name="pildoras"
               class="icon--producto"></plex-icon>
    <plex-icon *ngIf="indicacion.seccion.term === 'sección: otras indicaciones'" name="documento-termometro"
               class="icon--procedimiento">
    </plex-icon>
    <plex-badge [color]="indicacion.estado.tipo | indicacionColor">
        {{ indicacion.estado.tipo | indicacionLabel }}
    </plex-badge>
    <plex-badge type="info" tooltip="Fecha de inicio">
        {{ indicacion.fechaInicio | fecha }}
    </plex-badge>
    <div title case="capitalize">
        {{ indicacion.nombre }}
    </div>
</plex-detail>

<plex-datetime label="Fecha y Hora" [(ngModel)]="fechaHora"></plex-datetime>

<plex-select [data]="estadoItems" [(ngModel)]="estado" name="estado" label="Estado"></plex-select>

<plex-text label="Observaciones" [(ngModel)]="observaciones" name="observaciones" [required]="true" [html]="true">
</plex-text>

<div justify class="mt-2">
    <plex-button type="danger" (click)="onCancelar()">Cancelar</plex-button>
    <plex-button type="success" (click)="onGuardar()">Aceptar</plex-button>
</div>