<form #form="ngForm">
    <plex-title titulo="Registrar evento" size="md">
        <plex-button *ngIf="editando || addEvent" class="mr-1" type="success" size="sm" icon="check"
                     [validateForm]="form"
                     [disabled]="!estado || labelEstado=='Motivo' && !observaciones || !form.valid"
                     (click)="onGuardar()">
        </plex-button>
        <plex-button type="danger" size="sm" icon="close" (click)="onCancelar()">
        </plex-button>
    </plex-title>

    <plex-detail>
        <plex-icon *ngIf="indicacion.seccion.term === ' - sin sección -'" name="documento" class="icon--noSeccion">
        </plex-icon>
        <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de alimentación parenteral'"
                   name="docuemento-manzana" class="icon--alimentacion"></plex-icon>
        <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de hidratación'" name="mano-gota"
                   class="icon--hidratacion"></plex-icon>
        <plex-icon *ngIf="indicacion.seccion.term === 'sección: indicaciones de medicación'" name="pildoras"
                   class="icon--producto"></plex-icon>
        <plex-icon *ngIf="indicacion.seccion.term === 'sección: otras indicaciones'" name="documento-termometro"
                   class="icon--procedimiento">
        </plex-icon>
        <plex-badge [color]="indicacion.estado.tipo | indicacionColor">
            {{ indicacion.estado.tipo | indicacionLabel }}
        </plex-badge>
        <plex-badge type="info" tooltip="Fecha de inicio">
            {{ indicacion.fechaInicio | fecha }}
        </plex-badge>
        <div title case="capitalize">
            {{ indicacion.nombre }}
        </div>
    </plex-detail>

    <ng-container *ngIf="editando || addEvent">
        <plex-datetime label="Fecha y Hora" [(ngModel)]="fechaHora" name="fechaHora" [min]="horaMin" [max]="horaMax"
                       [required]="true">
        </plex-datetime>
        <plex-select [data]="estadoItems" [(ngModel)]="estado" (change)="onInputChange($event)" name="estado"
                     label="Estado" [required]="true">
        </plex-select>
        <plex-label class="font-weight-bold"> {{labelEstado}} <h3 *ngIf="labelEstado=='Motivo'" class="asteriscoRojo"> *
            </h3>
        </plex-label>
        <plex-text [(ngModel)]="observaciones" name="observaciones" [required]="labelEstado==='Motivo'">
        </plex-text>
    </ng-container>
</form>

<ng-container *ngIf="!editando && !addEvent && evento">
    <plex-title titulo="Historial de eventos" size="md">
        <plex-button class="mr-1" type="success" size="sm" icon="plus" tooltip="Agregar evento" tooltipPosition="left"
                     (click)="agregarEvento()"></plex-button>
    </plex-title>
    <plex-table [columns]="eventos" #table="plTable">
        <tr *ngFor="let event of evento; let i = index">
            <td>
                <plex-label titulo="{{ event.estado }}" subtitulo="a las {{event.fecha | date:'HH:mm'}}"></plex-label>
            </td>
            <td>
                <plex-label>{{ event.createdBy.nombreCompleto || 'Automát. por prescripción'}}</plex-label>
            </td>
            <td>
                <plex-label>{{ event.updatedBy?.nombreCompleto }}</plex-label>
            </td>
            <td>
                <plex-label>{{event.observaciones}}</plex-label>
            </td>
            <td>
                <plex-button type="warning" size="sm" icon="pencil" tooltip="Editar" tooltipPosition="left"
                             (click)="onEdit(i)"></plex-button>
            </td>
        </tr>
    </plex-table>
</ng-container>