<plex-layout [main]="(fieldToConfig || formToConfig)? 9 : 12" resizable="true" min="2" max="4">
    <plex-layout-main>
        <form #formulario="ngForm" class="form-scroll">
            <plex-title main titulo="Alta de tipo de formulario">
                <plex-button type="danger" [routerLink]="'/forms'">
                    Cancelar
                </plex-button>
                <plex-button type="success" [validateForm]="formulario" (click)="save($event)" class="ml-2">
                    Guardar
                </plex-button>
                <plex-button type="warning" (click)="setSnvs()" class="ml-2">SISA</plex-button>
            </plex-title>

            <plex-wrapper>
                <plex-text label="Nombre" [required]="true" [disabled]="desabilitado" name="nombre"
                           [(ngModel)]="form.name"></plex-text>
                <plex-text label="Tipo/Clave" required name="tipo" [disabled]="desabilitado" [(ngModel)]="form.type"
                           [readonly]="hasOcurrences">
                </plex-text>
                <plex-bool label="¿Es snomed?" type="slide" name="isSnomed" [(ngModel)]="isFormSnomedizable">
                </plex-bool>
                <div *ngIf="isFormSnomedizable">
                    <plex-text label="Código Snomed" name="snomed" [(ngModel)]="form.snomedCode"></plex-text>
                </div>
                <plex-bool label="Activo" type="slide" name="activo" [(ngModel)]="form.active"></plex-bool>
            </plex-wrapper>

            <plex-title size="sm" titulo="Campos">
                <plex-dropdown #drop *ngIf="itemsDropdown?.length" class="pl-2 mr-1" [right]="true" type="info"
                               [items]="itemsDropdown" size="sm" icon="plus" label="">
                </plex-dropdown>
                <plex-button type="success" size="sm" (click)="onAddField()">
                    AGREGAR CAMPO
                </plex-button>
            </plex-title>

            <cdk-virtual-scroll-viewport itemSize="80" class="form-item">
                <plex-list>
                    <plex-item *cdkVirtualFor="let field of form.fields ; let i = index">
                        <plex-text name="label-{{ i }}" label="Nombre" [(ngModel)]="field.label" [required]="true">
                        </plex-text>
                        <plex-select name="select-{{ i }}" grow="3" label="Tipo de campo" required
                                     [(ngModel)]="field.type" [data]="tiposList">
                        </plex-select>

                        <plex-text *ngIf="field.type && field.type.id === 'snomed'" name="Snomed-{{ i }}"
                                   label="Snomed Code / Query" [(ngModel)]="field.snomedCodeOrQuery">
                        </plex-text>

                        <plex-int *ngIf="field.type && field.type.id === 'int'" label="Mínimo"
                                  name="minimo-{{ field.key }}" [(ngModel)]="field.min">
                        </plex-int>
                        <plex-int *ngIf="field.type && field.type.id === 'int'" label="Máximo"
                                  name="maximo-{{ field.key }}" [(ngModel)]="field.max">
                        </plex-int>
                        <plex-select [multiple]="true" [(ngModel)]="field.sections" name="seccion-{{ i }}"
                                     [data]="secciones" idField="id" labelField="name" label="Sección">
                        </plex-select>
                        <plex-select *ngIf="field.type && field.type.id === 'select'" name="select-recurso-{{ i }}"
                                     [(ngModel)]="field.resources" [data]="recursos" labelField="name"
                                     label="Tipo de recurso" idField="id" required>
                        </plex-select>
                        <plex-text name="descripcion-{{ i }}" label="Descripción" [(ngModel)]="field.description">
                        </plex-text>
                        <plex-button size="sm" class="mt-4" type="warning" align="center" label="Configuración"
                                     (click)="setConfiguracion(field) ; setDependencyData()">
                        </plex-button>
                        <plex-button size="sm" class="mt-4" type="danger" align="center" label="Eliminar"
                                     (click)="onRemove(i)">
                        </plex-button>
                    </plex-item>
                    <!-- hack hasta que se pueda agregar altura al ultimo item por plex-->
                    <br><br><br><br><br><br>
                </plex-list>
            </cdk-virtual-scroll-viewport>
        </form>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-title titulo="Configuración">
            <plex-button size="sm" type="danger" icon="close" (click)="close()"></plex-button>
        </plex-title>
        <ng-container *ngIf="fieldToConfig">
            <plex-bool type="slide" name="active" label="Campo Obligatorio" [(ngModel)]="fieldToConfig.required">
            </plex-bool>
            <br>
            <plex-select name="dependencia" [(ngModel)]="fieldToConfig.dependency" label="Dependencia"
                         labelField="nombre" [data]="dependencyData">
            </plex-select>
            <ng-container *ngIf="fieldToConfig?.type.id==='selectStatic'">
                <app-select-static [fieldStatic]="fieldStatic"></app-select-static>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="formToConfig">
            <app-form-config [form]="formToConfig"></app-form-config>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>