::ng-deep {
    plex-int,
    plex-bool {
        &.sm {
            .form-group,
            .form-control {
                width: 60px;
            }
        }
    }
    .recurso {
        width: 100px;
    }
    .precargado {
        width: 50px;
    }
    .minmax {
        display: inline-flex;
        position: relative;
        bottom: 15px;
    }
    .cdk-virtual-scroll-content-wrapper {
        height: 100%;
    }
}
cdk-virtual-scroll-viewport {
    height: 100%;
}
