.plex-wizard-citas-planificarAgendas-dinamica {
    background-image: url('citas-planificarAgendas-dinamica.png');
}

.plex-wizard-citas-planificarAgendas-darTurnos {
    background-image: url('citas-planificarAgendas-darTurnos.png');
}

.plex-wizard-planificarAgendas-dinamicaCupo {
    background-image: url('citas-planificarAgendas-dinamicaCupo.png');
}

.plex-wizard-citas-planificarAgendas {
    background-image: url('agenda.svg');
}
