@import "@andes/plex/src/lib/css/variables";

.box {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover,
    &.selected {
        border: 4px solid darken($color: $blue, $amount: 0.5);
    }
}