<table *ngIf="agendaSeleccionada.sobreturnos" class="table table-striped">
    <thead>
        <tr *ngIf="agendaSeleccionada.sobreturnos.length > 0">
            <th colspan="4">
                Sobreturnos
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let sobreturno of agendaSeleccionada.sobreturnos; let j=index">
            <tr *ngIf="sobreturno" class="hover">
                <td>
                    <strong>{{ sobreturno.horaInicio | date: 'HH:mm' }}</strong>
                    <div *ngIf="sobreturno && sobreturno.prestacion && sobreturno?.prestacion?.estados">
                        <span *ngIf="sobreturno.asistencia !== 'noAsistio'" class="badge"
                              [ngClass]="{'badge-success': sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'validada',
                            'badge-warning': sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'ejecucion'}">
                            {{sobreturno.prestacion.estados[sobreturno.prestacion.estados.length
                        - 1].tipo}}
                        </span>
                        <br />
                    </div>
                    <div
                         *ngIf="sobreturno && sobreturno.paciente && sobreturno.asistencia && sobreturno.estado !== 'suspendido'">

                        <span class="badge"
                              [ngClass]="{ 'badge-warning': sobreturno.asistencia === 'asistio', 'badge-danger': sobreturno.asistencia === 'noAsistio'}">
                            {{sobreturno.asistencia}}
                        </span>
                        <span *ngIf="sobreturno.asistencia === 'noAsistio'">
                            <plex-button type="danger btn-sm" icon="mdi mdi-backup-restore"
                                         (click)="registrarInasistencia(sobreturno.paciente,agendaSeleccionada, sobreturno.id, 'sacarAsistencia')"
                                         title="Revertir cambios">
                            </plex-button>
                        </span>

                    </div>

                </td>
                <td>
                    <span *ngIf="sobreturno.paciente?.id">{{ sobreturno.paciente | paciente }}
                    </span>

                    <small>
                        <span *ngIf="sobreturno.paciente?.id">
                            <br>
                            <span *ngIf="sobreturno.paciente.documento !== ''"> DNI
                                {{sobreturno.paciente.documento | number}}</span>
                            <span *ngIf="sobreturno.paciente.documento === ''"> Sin
                                documento
                                (temporal)
                            </span>
                        </span>
                        <span
                              *ngIf="sobreturno?.paciente?.id && sobreturno?.paciente?.carpetaEfectores && sobreturno?.paciente?.carpetaEfectores?.length > 0">
                            | Nro Carpeta
                            <span *ngFor="let carpeta of sobreturno.paciente.carpetaEfectores | slice:0:1;">
                                {{carpeta.nroCarpeta}}
                            </span>
                        </span>
                    </small>
                    <br *ngIf="sobreturno.paciente?.id && sobreturno.tipoPrestacion">

                    <span class="text-muted" *ngIf="sobreturno.paciente?.id && sobreturno.tipoPrestacion">
                        <small> {{sobreturno.tipoPrestacion.nombre}} </small>
                    </span>
                    <ng-container class="text-muted" *ngIf="sobreturno?.prestacion?.solicitud?.profesional">
                        <br>
                        <small> Prof.: {{sobreturno.prestacion.solicitud.profesional |
                        profesional}}
                        </small>
                    </ng-container>

                    <span class="badge badge-danger"
                          *ngIf="sobreturno && sobreturno.estado === 'suspendido'">Suspendido</span>
                    <span *ngIf="sobreturno && sobreturno.nota">
                        <i title="{{sobreturno.nota}}" class="text-warning warning mdi mdi-message"></i>
                    </span>

                    <div *ngIf="sobreturno && sobreturno.confirmatedAt">
                        <br />
                        <span class="badge badge-default" title="{{sobreturno.confirmatedAt | date: 'medium'}}">
                            Confirmado
                        </span>
                    </div>
                </td>
                <td>
                    <span *ngIf="sobreturno.prestacion?.turnosPedientes" title="Turno autocitado sin asignar"
                          class="badge badge-warning">
                        <i class="mdi mdi-message-alert"></i>
                    </span>
                </td>

                <td>
                    <ng-container *ngIf="sobreturno.tipoPrestacion && sobreturno.paciente?.id">
                        <plex-button size="sm" (click)="routeTo('vista', sobreturno.paciente.id)" label="VER HUDS"
                                     type="primary btn-sm">
                        </plex-button>
                        <plex-button size="sm"
                                     *ngIf="!esFutura  && agendaSeleccionada.estado !== 'auditada' && sobreturno.estado !== 'suspendido' && sobreturno.paciente && !sobreturno.prestacion && servicioPrestacion.tienePermisos(sobreturno.tipoPrestacion) && servicioPrestacion.verificarAsistencia(sobreturno)"
                                     type="success"
                                     (click)="iniciarPrestacion(sobreturno.paciente, sobreturno.tipoPrestacion, sobreturno)"
                                     title="Iniciar Prestación">
                            <i class="mdi mdi-plus-circle mdi-24px"></i>
                        </plex-button>

                        <plex-button size="sm"
                                     *ngIf="esFutura  && agendaSeleccionada.estado !== 'auditada' && sobreturno.estado !== 'suspendido' && sobreturno.paciente && !sobreturno.prestacion && servicioPrestacion.verificarAsistencia(sobreturno)"
                                     label="INICIAR PRESTACIÓN" type="disabled btn-sm"
                                     title="Disponible el {{diaAgenda(agendaSeleccionada)}}" titlePosition="top">
                        </plex-button>

                        <plex-button size="sm"
                                     *ngIf="sobreturno.paciente && sobreturno.estado !== 'suspendido' && sobreturno.prestacion && sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'ejecucion' && servicioPrestacion.tienePermisos(sobreturno.tipoPrestacion)"
                                     label="CONTINUAR REGISTRO" type="primary btn-sm"
                                     (click)="routeTo('ejecucion', sobreturno.prestacion.id)">
                        </plex-button>

                        <plex-button size="sm"
                                     *ngIf="sobreturno.paciente && sobreturno.estado !== 'suspendido' && sobreturno.prestacion && sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'validada' && servicioPrestacion.tienePermisos(sobreturno.tipoPrestacion)"
                                     label="VER RESUMEN" type="success btn-sm"
                                     (click)="routeTo('validacion', sobreturno.prestacion.id)">
                        </plex-button>
                        <plex-button size="sm"
                                     *ngIf="!sobreturno.asistencia && !esFutura && agendaSeleccionada.estado !== 'auditada' && sobreturno.estado !== 'suspendido' && sobreturno.paciente && (!sobreturno.prestacion || (sobreturno.prestacion && sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'pendiente')|| sobreturno.prestacion && sobreturno.prestacion.estados[sobreturno.prestacion.estados.length - 1].tipo === 'ejecucion')"
                                     type="warning btn-sm" label="REGISTRAR INASISTENCIA"
                                     (click)=" registrarInasistencia(sobreturno.paciente,agendaSeleccionada, sobreturno.id, 'noAsistio')">
                        </plex-button>

                    </ng-container>
                </td>
            </tr>
        </ng-container>

    </tbody>
</table>