<plex-layout main="12">
    <plex-layout-main>
        <header>
            <h3>Agregar nuevo mapeo</h3>
        </header>
        <!-- Select de organizaciones -->

        <div class="col">
            <plex-select [(ngModel)]="organizacion" label="Organización" required="true" [data]="organizaciones" placeholder="Seleccione una organizacion..">
            </plex-select>
        </div>
        <div class="col">
            <plex-select [(ngModel)]="tipoPrestacion" label="Tipo de prestación" required="true" [data]="tipoPrestaciones" placeholder="Seleccione tipo de prestación..">
            </plex-select>
        </div>
        <div class="col">
            <plex-select [(ngModel)]="especialidad" label="Especialidad SIPS:" required="true" [data]="especialidades" placeholder="Seleccione especialidad..">
            </plex-select>
        </div>
    </plex-layout-main>
</plex-layout>

<footer>
    <div class="float-right">
        <plex-button label="Cancelar" type="danger" (click)="botonVolver()"></plex-button>
        <plex-button label="Agregar nuevo mapeo" type="success" (click)="agregarNuevoMapeo(organizacion, tipoPrestacion, especialidad)"></plex-button>
    </div>
</footer>