<form>
    <div>
        <plex-text [(ngModel)]="searchTerm" name="searchTerm" (change)="buscar()" placeholder="Buscar Problema"></plex-text>
    </div>
</form>

<!--MAESTRO DE PROBLEMAS - BD:tipoProblema-->
<div *ngIf="searchTerm && listaProblemasMaestro && listaProblemasMaestro.length === 0 && !loading">
    No se han encontrado problemas
</div>

<plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

<ul class="results list-group">
    <ng-container *ngFor="let item of listaProblemasMaestro">
        <li draggable class="list-group-item justify-content-between list-group-item-action" *ngIf="!hideLista">
            <a (click)="seleccionarConcepto(item)">
                {{item.term}}
            </a>
        </li>
    </ng-container>
</ul>