.actions {
    float: right !important;
}

.actions-left {
    // float: left !important;
    // display: block;
    display: flex;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}
