.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.menu-buscador {
    .filtros {
        align-items: center;
        height: 40px;
    }
    .botones-filtros {
        border-bottom: 1px solid #bbbbbb;
    }
    button {
        &.procedimientos {
            width: 118%;
        }
        &.planes {
            margin-left: 18px !important;
            width: 81%;
        }
        width: 99%;
        font-size: 0.6rem;
        border: none;
        background-color: #dddddd;
        cursor: pointer;
    }
}

.badge-hallazgos {
    border: 1px solid #f4a03b;
    color: #f4a03b;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-trastornos {
    border: 1px solid #ff4a1a;
    color: #ff4a1a;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-procedimientos,
.badge-entidad {
    border: 1px solid #92278e;
    color: #92278e;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-planes {
    border: 1px solid #6a99ad;
    color: #6a99ad;
    font-weight: normal;
    text-transform: uppercase;
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

.border-hallazgos {
    &:focus {
        outline: 0;
    }
    border: 1px solid #f4a03b !important;
}
