@import '@andes/plex/src/lib/css/variables';

.semana {
    width: 100%;
    height: 97%;
    border-collapse: collapse;
    table-layout: fixed;

    tr td:first-child {
        width: 50px;

        &.first {
            background-image: linear-gradient(to top right,
                    white 48%,
                    black,
                    white 52%);

        }
    }

    tr {
        height: 22px;

        &.punteado {
            border-top: 3px dotted #8f8b8b;
        }
    }

    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    td {
        width: 100%;
        height: 0;
        border: 1px solid #181717;
        position: relative;

        &.selectable {
            cursor: pointer !important;

            &:hover {

                box-shadow: inset 0 0 0 2px transparentize($color: $light-blue, $amount: 0.4);
                background-color: $light-blue !important;
                color: black;
            }
        }
    }

    .circulo {

        width: 20px;
        height: 100%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        float: left;
        cursor: pointer !important;

        &:hover {
            background: #080808;

            box-shadow: 0 0 0 2px #080808;
        }

    }

}

.mes {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;

    // Rows
    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    tr td:first-child {
        width: 80px;

        &.first {
            background-image: linear-gradient(to top right,
                    white 48%,
                    black,
                    white 52%);

        }
    }

    // Cells
    td {
        border: 2px solid #181717;
        position: relative;

        &.selectable {
            cursor: pointer !important;

            &:hover {
                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparentize($color: $light-blue, $amount: 0.4);
                background-color: $light-blue !important;
                color: black;
            }
        }

        &.semana {

            background-color: #00a8e0;
            cursor: pointer !important;

            &:hover {
                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparentize($color: $light-blue, $amount: 0.4);
                background-color: $light-blue !important;
                color: black;
            }


        }
    }

    .progress {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .progress-value {
        position: absolute;
        right: 0;
        left: 0;
    }

    // Día
    .dia {
        text-align: right;
        font-size: 1.5em;
        line-height: 0.8em;

    }

}