@import '~@andes/plex/src/lib/css/variables';

.mapa-turnos {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  
    tr td:first-child {
        width: 80px;
        }

    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    td {
        border: 1px solid #d0d0d0;
        position: relative;
        &.selectable {
            cursor: pointer!important;
            &:hover {
                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparentize($color: $light-blue, $amount: 0.4);
                background-color: $light-blue !important;
                color: black;
            }
        }
    }
    
  

}
.mes {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    // Rows
    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    // Cells
    td {
        border: 1px solid #d0d0d0;
        position: relative;
        &.selectable {
            cursor: pointer!important;
            &:hover {
                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparentize($color: $light-blue, $amount: 0.4);
                background-color: $light-blue !important;
                color: black;
            }
        }
    }
    

    // Día
    .dia {
        font-size: 1.5em;
        line-height: 0.8em;
    }

}