.mapa-turnos {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    tr td:first-child {
        width: 100px;
    }
    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    td {
        border: 1px solid #d0d0d0;
        position: relative;
    }
    
    tr:hover {
        cursor: pointer; // background-color: #C7BEBE;
    }
    
    .tip-border {
        background-color: transparent;
        border-top: 18px solid transparent;
        border-left: 18px solid #999;
        border-bottom: 18px solid transparent;
        border-right: 18px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: -28px;
        left: 34px;
        z-index: 1;
    }
}
.table-mes {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    // Rows
    tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    // Cells
    td {
        border: 1px solid #d0d0d0;
        position: relative;
    }

    // Día
    .dia {
        font-size: 1.5em;
        line-height: 0.8em;
    }

}