<div class="filtros-container {{ modo }}">
    <span *ngIf='modo === "carga" || modo === "validacion"'>
        <plex-radio [data]="modoCargaLaboratorioEnum" label="Modo de carga" [(ngModel)]="modoCargaLaboratorio" type="horizontal"></plex-radio>
    </span>
    <span>
        <plex-datetime type="date" [(ngModel)]="busqueda.solicitudDesde" (change)="buscarProtocolos($event,'fechaDesde')"
            name="solicitudDesde" label="Fecha desde" [required]="true" skipBy="day">
        </plex-datetime>
    </span>
    <span>
        <plex-datetime type="date" [(ngModel)]="busqueda.solicitudHasta" (change)="buscarProtocolos($event,'fechaHasta')"
            name="solicitudHasta" label="Fecha hasta" [required]="true" skipBy="day">
        </plex-datetime>
    </span>
    <span *ngIf='modo !== "recepcion"'>
        <plex-select [(ngModel)]="this.busqueda.area" (change)="buscarProtocolos($event,'area')" name="area" label="Area"
            [data]='laboratorioInternoEnum'></plex-select>
    </span>
    <span>
        <plex-select [(ngModel)]="prioridad" (change)="buscarProtocolos($event,'prioridad')" name="prioridad" label="Prioridad"
            [data]="prioridadesFiltroEnum"></plex-select>
    </span>
    <span>
        <plex-select [(ngModel)]="origen" (change)="buscarProtocolos($event,'origen')" name="origen" label="Origen"
            [data]="origenEnum"></plex-select>
    </span>
    <!-- <spanlabs-contenedor-secundario" *ngIf='modo ==="recepcion"'>
            <plex-button title="Iniciar Protocolo" icon="plus" class="align-self-end" type="success" (click)="mostrarFomularioPacienteSinTurno()"></plex-button>
        </span> -->
    <!-- <span *ngIf='modo !== "recepcion"' class="contenedor-bloque-texto line-height mr-2">
            <small class="text-primary"></small>
    </span> -->
    <div>
        <plex-button label="" type="info" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'"
            (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
    </div>
</div>
<!-- FIN FILTROS BASICOS  -->

<!-- FILTROS AVANZADOS-->
<ng-container *ngIf="mostrarMasOpciones">
    <div class="filtros-container">
        <div>
                <plex-text [(ngModel)]="paciente" name="paciente" (change)="filtrarPaciente()" label="Paciente"></plex-text>
        </div>
        <span *ngIf='modo ==="carga"'>
            <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="buscarProtocolos($event,'servicio')"
                label="Servicio" placeholder="Seleccione el servicio" labelField="term" [multiple]="true" [required]="false"
                idField="term">
            </plex-select>
        </span>
        <span *ngIf='modo !== "carga" && modo !== "recepcion"'>
            <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="buscarProtocolos($event,'servicio')"
                label="Servicio" placeholder="Seleccione el servicio" labelField="term" [required]="false" idField="term">
            </plex-select>
        </span>
        <ng-container *ngIf='modo !== "recepcion"'>
            <span>
                <plex-float [(ngModel)]="busqueda.numProtocoloDesde" (change)="buscarProtocolos($event,'numProtocoloDesde')"
                    name="numProtocoloDesde" label="N° protocolo desde"></plex-float>
            </span>
            <span>
                <plex-float [(ngModel)]="busqueda.numProtocoloHasta" (change)="buscarProtocolos($event,'numProtocoloHasta')"
                    name="numProtocoloHasta" label="N° protocolo hasta"></plex-float>
            </span>
            <span>
                <plex-select [(ngModel)]="organizacion" (change)="buscarProtocolos($event,'organizacion')" name="organizacion"
                    label="Efector Solicitante" (getData)="loadOrganizaciones($event)"></plex-select>
            </span>
            <span *ngIf='modo ==="listado"'>
                <plex-select [(ngModel)]="estado" (change)="buscarProtocolos($event,'estado')" name="estado" label="Estado"
                    [data]="estadosFiltroEnum"></plex-select>
            </span>
        </ng-container>
    </div>
</ng-container>
<!-- FIN FILTROS AVANZADOS-->