<plex-layout>
    <plex-layout-main>
        <div class="row text-center">
            <div class="col-4" *ngIf="showDashboard">
                <div class="boton color-violeta" (click)="toDashboard()">
                    <i class="icono mdi mdi-calendar"></i>
                    <div class="titulo">DASHBOARD</div>
                    <div class="subtitulo">PANEL DE ESTADISTICAS
                    </div>
                    <div class="detalle">Visualice Datos Estadísticos
                        En Gráficos Y Tablas</div>
                </div>
            </div>

            <div class="col-4" *ngIf="showReportes">
                <div class="boton color-celeste" (click)="toReportes()">
                    <i class="icono mdi mdi-contacts"></i>
                    <div class="titulo">REPORTES</div>
                    <div class="subtitulo">
                        GESTIÓN DE REPORTES
                    </div>
                    <div class="detalle">
                        Permite la gestión de reportes
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="showBiQueries">
                <div class="boton color-amarillo" (click)="toBiQueries()">
                    <i class="icono mdi mdi-database-search"></i>
                    <div class="titulo">BI-QUERIES</div>
                    <div class="subtitulo">
                        GESTIÓN DE BI-QUERIES
                    </div>
                    <div class="detalle">
                        Visualice datos mediante un archivo CSV
                    </div>
                </div>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>