.labs-listado-item {
    border: 1px #000 solid;
    display: inline-table;
    height: 90px;
}

section.labs-listado-item * {
    // display: block;
    // float: left;
}

.centradoVerticalBtn {
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginLeftBtn{
    margin-left: auto;
}

.marginRightBtn{
    margin-right: auto;
}