.labs-listado-item {
    border: 1px #000 solid;
    display: inline-table;
}

.listado-contenedor-secundario {
    width: 100%;
}

.centradoVerticalBtn {
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginLeftBtn{
    margin-left: auto;
}

.marginRightBtn{
    margin-right: auto;
}

// .table.table-striped.table-sm p {
//     margin-bottom: 0rem;
// }

.table-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    &.table-grid-head {
        font-weight: 800;
    }
    &.recepcion {
        grid-template-columns: repeat(10, 1fr);
    }
    &.puntoInicio {
        grid-template-columns: repeat(5, 1fr);
    }
    &.paciente {
        grid-template-columns: 120px repeat(4, 1fr);
        &>span {
            justify-items: left;
        }
        
        // &.seleccionado {
        //     grid-template-columns: 200px 1fr;
        //     // grid-template-rows: 200px repeat(2, 1fr);
        //     img {
        //         grid-column: 1/2;
        //         height: 200px;
        //         width: 200px;
        //         transition: none;
        //     }
        //     span {
        //         grid-column: 2/4;
        //         grid-row: 1/2;
        //         grid-template-rows: repeat(4, 1fr);
        //         display: flex;
        //         justify-content: left;
        //         padding: .15rem .25rem;
        //     }
        // }
    }

    &> span {
        min-height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: .15rem .25rem;
    }

    &:nth-child(even) {
        background: #ddd;
    }

}

.table-grid-head {
    &.paciente {
        color: white;
        background: #002738 !important;
        // background: #00A8E0 !important;
    }
}

.paciente-seleccionado {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 1px;
    img {
        width: 120px;
    }
    div {
        display: grid;
        grid-template-rows: repeat(4, 30px);
        padding: 10px 15px 0;
        font-weight: 600;
    }

    &.edicion {
        
    }
}


header {
    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        plex-button {
            justify-self: flex-end;
        }
    }       
}

.filtros-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    &> span {
        >:first-child {
            width: 100%;
        }
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: .15rem .25rem;
    }
    &> div {
        width: auto;
        display: flex;
        align-self: flex-end;
        justify-content: space-evenly;
        padding: .15rem .25rem;
    }
    &.carga,
    &.validacion {
        grid-template-columns: repeat(7, minmax(100px, 1fr));
        &> div {
            width: auto;
            align-self: flex-end;
            padding: .15rem .25rem;
        }
    }
    &.lote-derivacion {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

.gestion-alarmas-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    &> span {
        >:first-child {
            width: 100%;
        }
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: .15rem .25rem;
    }
    &> div {
        width: auto;
        display: flex;
        align-self: flex-end;
        justify-content: space-evenly;
        padding: .15rem .25rem;
    }
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        &> div {
            width: auto;
            align-self: flex-end;
            padding: .15rem .25rem;
        }
    
}

.tabs {
    height: 70px !important;
}

.bg-inverse {
    background-color: #002738 !important;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    box-sizing: border-box;
    grid-gap: 20px;
    padding: 20px;

    &* {
        display: flex;
    }
}


.protocolo-auditoria {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
}