.labs-listado-item {
    border: 1px #000 solid;
    display: inline-table;
    height: 90px;
}

.listado-contenedor-secundario {
    width: 100%;
}

.centradoVerticalBtn {
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginLeftBtn{
    margin-left: auto;
}

.marginRightBtn{
    margin-right: auto;
}

.table.table-striped.table-sm p {
    margin-bottom: 0rem;
}