<plex-layout>
    <plex-layout-main>
        <section class="titulo">
            <plex-title titulo="Recientes" class="catalogo-novedades">
                <plex-button *ngIf="novedad" type="info" size="sm" (click)="volver()">Volver</plex-button>
            </plex-title>
        </section>

        <section *ngIf="!novedad">
            <section class="filtro-novedades">
                <plex-select name="selectModulo" [data]="modulos" [(ngModel)]="selectModulo"
                             labelField="nombre + ':' + descripcion" (ngModelChange)="filtrarPorModulo();"
                             idField="_id">
                </plex-select>
            </section>
            <ng-container>
                <plex-title *ngIf="selectModulo" titulo="Novedades {{selectModulo.nombre}}">
                </plex-title>
                <plex-grid type="auto" size="md" [cols]="2">
                    <plex-card *ngFor="let novedad of filtroNovedades" type="light" mode="filled">
                        <plex-badge color="{{novedad.modulo.color}}">{{novedad.titulo}}</plex-badge>
                        <article [innerHTML]="novedad.descripcion"></article>
                        <plex-button label="" type="info" icon="eye" (click)="verDetalleNovedad(novedad)">
                        </plex-button>
                    </plex-card>
                </plex-grid>
            </ng-container>

        </section>

        <detalle-novedad></detalle-novedad>
    </plex-layout-main>
</plex-layout>