<plex-title titulo="Recientes">
    <plex-button *ngIf="novedad" type="info" size="sm" (click)="volver()">Volver</plex-button>
</plex-title>

<div *ngIf="novedades.length">
    <filtro-novedades [novedades]="novedades" [modulos]="modulos" [ocultar]="novedad"
                      (filtroActivo)="activarFiltros($event)">
    </filtro-novedades>

    <div *ngIf="!filtroActivo && !novedad">
        <div *ngFor="let modulo of modulos" class="itemCatalogo">
            <plex-title titulo="{{modulo.nombre}}"></plex-title>
            <plex-slider size="xl">
                <plex-card *ngFor="let novedad of catalogo[modulo._id]" class="cardNovedad">
                    <plex-badge size="md" type="info">{{novedad.fecha | date: 'dd/MM/yyyy'}}</plex-badge>
                    <!-- <plex-label titulo="{{novedad.titulo}}"></plex-label> -->
                    <p>{{novedad.titulo}}</p>
                    <!-- <article [innerHTML]="novedad.descripcion"></article> -->
                    <plex-button label="" type="info" icon="eye" (click)="verDetalleNovedad(novedad)">
                    </plex-button>
                </plex-card>
            </plex-slider>
        </div>
    </div>


</div>

<detalle-novedad></detalle-novedad>