<plex-list>
    <plex-item *ngFor="let laboratorio of laboratorios$ | async" (click)="selected(laboratorio)">
        <plex-bool *ngIf="seleccionMultiple" type="checkbox"></plex-bool>
        <plex-label size="lg" icon="recipiente" titulo="{{ laboratorio.tipo }}"
                    subtitulo="{{ laboratorio.organizacion }}">
        </plex-label>
        <plex-badge *ngIf="laboratorio.visibilidad === false" type="warning">retirar resultados personalmente
        </plex-badge>
        <plex-badge type="info">{{ laboratorio.fecha }}</plex-badge>
        <plex-button *ngIf="laboratorio.visibilidad === true" type="info" size="sm" icon="download"></plex-button>
    </plex-item>
</plex-list>