<ng-container *ngIf="turno$ | async as turno">
    <plex-detail>
        <plex-icon name="turno-bold" type="info"></plex-icon>
        <div title case="capitalize" title>{{ turno.horaInicio | date:'dd/MM/yyyy' }} | {{ turno.horaInicio |
            date:'HH:mm' }}</div>
        <div subtitle>{{ turno.tipoPrestacion.term }}</div>
        <plex-badge type="info">{{ turno.horaInicio | date:'dd/MM/yyyy' }}</plex-badge>
        <plex-badge type="{{turno.asistencia==='asististe' ? 'success' : 'warning' }}">{{ turno.asistencia }}
        </plex-badge>

        <plex-label titulo="Lugar" subtitulo="{{ turno.organizacion }}"></plex-label>
        <plex-label titulo="Fecha de emisión" subtitulo="{{ turno.fechaHoraDacion | date:'dd/MM/yyyy' }}"></plex-label>
        <plex-label type="warning" titulo="Hora de asistencia" subtitulo="{{ turno.horaAsistencia | date:'HH:mm' }}">
        </plex-label>
        <plex-label titulo="Equipo de Salud"
                    subtitulo="{{ turno.profesionales[0].nombre}} {{ turno.profesionales[0].apellido}}"> </plex-label>
    </plex-detail>
    <plex-title size="sm" titulo="nota"></plex-title>
    <p>{{ turno.nota }} {{ turno.motivoSuspension }}</p>
</ng-container>