<plex-layout [main]="showSidebar ? 8 : 12">
    <plex-layout-main>
        <plex-title main titulo="Lista de espera"></plex-title>
        <ng-container *ngIf="(listaEspera$ | async) as listaEspera">
            <plex-list>
                <plex-heading>
                    <b label> Apellido y Nombre </b>
                    <b label> Documento </b>
                    <b label> Sexo </b>
                    <b label> Fecha de Nacimiento </b>
                    <b label> Fecha de Ingreso </b>
                    <b button></b>
                </plex-heading>
                <plex-item *ngFor="let item of listaEspera">
                    <plex-label [tituloBold]="false" titulo="{{ item.paciente | nombre  }}"></plex-label>
                    <plex-label [tituloBold]="false" titulo="{{ item.paciente | documento }}"></plex-label>
                    <plex-label [tituloBold]="false" titulo="{{ item.paciente.sexo }}"></plex-label>
                    <plex-label [tituloBold]="false" titulo="{{ item.paciente.fechaNacimiento | fecha }}"></plex-label>
                    <plex-label [tituloBold]="false" titulo="{{ fechaIngreso(item) | fecha }}"></plex-label>
                    <plex-button type="info" size="sm" (click)="onDarCama(item)"> DAR CAMA </plex-button>
                </plex-item>
            </plex-list>
        </ng-container>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-title titulo="ASIGNAR CAMA">
            <plex-button type="success" size="sm" (click)="moverCama()" [disabled]="!camaSelected">
                GUARDAR
            </plex-button>
        </plex-title>
        <ng-container *ngIf="camasDisponibles$ | async as camasDisponibles">
            <plex-select [(ngModel)]="camaSelected" [data]="camasDisponibles" placeholder="Camas desocupadas"
                         label="Camas" idField="idCama" labelField="nombre">
            </plex-select>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>