@import 'node_modules/@andes/plex/src/lib/css/variables';
// Variables
$problemas: #f1930d; // deprecated
$trastornos: #d9534f;
$hallazgos: #f1930d;
$procedimientos: #92278E;
$planes: #0070ba;
$productos: #ef0993;
$lista-problemas: "hallazgo",
"trastorno",
"situación";
$selector: ();
$lista-procedimientos: "procedimiento",
"entidad",
"regimen";
$selector2: ();