@import '~@andes/plex/src/lib/css/variables';

@import './functions';

// Variables
$problema: #f1930d; // deprecated
$trastorno: #ff4a1a;
$hallazgo: #f4a03b;
$procedimiento: #92278e;
$solicitud: #0070cc;
// $productos: #ef0993;
$producto: #00bcb4;
$adjunto: #b9c512;
$todos: #111;
$otro: #b9c512;
$invert: #002738;
$calificador: #660520;
$laboratorio: #a0a0a0;
$registro: #8bc43f; // elemento de registro
$vacuna: #11910D;
// definimos esta lista para poder acceder mediante la funcion map-get() ya que en sass no se puede hacer 
// la interpolacion del string a una variable directamente

$rup_colors: (problema: $problema,
    calificador: $calificador,
    laboratorio: $laboratorio,
    trastorno: $trastorno,
    situación: $problema,
    hallazgo: $hallazgo,
    procedimiento: $procedimiento,
    regimen: $procedimiento,
    entidad: $procedimiento,
    solicitud: $solicitud,
    plan: $solicitud,
    producto: $producto,
    'medicamento.clínico': $producto,
    adjunto: $adjunto,
    vacuna: $vacuna,
    elemento: $registro,
    elementoderegistro: $registro,
    'estructura.corporal': $registro,
    invert: $invert,
    todos: $todos,
    otro: $otro);

//TODO: hay que unificar los badges de distintas pantallas: tamaño, colores, bordes, espacios...    
.badge-validada,
.badge-success,
.badge-danger,
.badge-info {
    font-weight: normal !important;
    border: 1px solid !important;
}

// Items
@mixin selected($color) {
    border: 1px solid $color;
    background: transparentize($color, .90);
}

@each $tag,
$color in $rup_colors {
    .selected.selected-#{$tag} {
        @include selected($color);
    }
}

.join-items {
    .join-line {
        width: 2px;
        height: 100%;
        background: #0275d8;
        z-index: 0;
        position: absolute;
        left: 45%;
        top: 20px;
    }
}