<ng-container *ngIf="cama">
    <td>
        <plex-bool type="checkbox" [(ngModel)]="selected"></plex-bool>
    </td>
    <td>
        <span class="d-block"><strong>{{cama.nombre}}</strong></span>
        <span class="d-block">{{cama.sectores[cama.sectores.length - 1].nombre}}</span>
    </td>
    <td>
        <span *ngIf="!cama.paciente" class="d-block">Sin paciente</span>
        <span *ngIf="cama.paciente" class="d-block">{{cama.paciente.apellido}},
            {{cama.paciente.nombre}}</span>
        <span class="d-block"></span>
    </td>
    <td>
        <span *ngIf="cama.unidadOrganizativa" class="d-block">{{cama.unidadOrganizativa.term}}</span>
        <span class="d-block"></span>
    </td>
    <td justify>
        <plex-badge [type]="estadoCama.color">
            {{estadoCama.label}}
        </plex-badge>
        <span class="d-block"></span>
    </td>
    <td>
        <ng-container *ngFor="let relacion of relacionesPosibles">
            <plex-button [icon]="relacion.icon" [type]="relacion.color" size="sm" (click)="accion(relacion)">
            </plex-button>
        </ng-container>
        <plex-button icon="pencil" type="warning" size="sm" (click)="goTo()">
        </plex-button>
    </td>
</ng-container>