<plex-layout main="8">
    <plex-layout-main>
        <plex-title titulo="Mapa de Camas">
            <plex-button label="LISTADO DE INTERNACIÓN" type="primary"></plex-button>
            <plex-dropdown label="VER CENSO" type="primary" class="d-inline-block" [items]="itemsDropdown">
            </plex-dropdown>
            <plex-button label="VOLVER" type="danger"></plex-button>
        </plex-title>
        <app-filtros-camas *ngIf="unidadesOrganizativas && sectores && tiposCama"
                           [unidadesOrganizativas]="unidadesOrganizativas" [sectores]="sectores" [tiposCama]="tiposCama"
                           (filtrarTabla)="filtrarTabla($event)"></app-filtros-camas>
        <plex-title titulo="LISTADO DE CAMAS" size="sm">
            <plex-button label="AGREGAR CAMA" type="success" size="sm" (click)="agregarCama()"></plex-button>
            <plex-button icon="format-list-bulleted" type="primary" size="sm"></plex-button>
        </plex-title>
        <fieldset *ngIf="snapshot">
            <table class="table table-striped table-hover" *ngIf="estados">
                <tr>
                    <th></th>
                    <th>CAMA</th>
                    <th>PACIENTE</th>
                    <th>UNIDAD ORGANIZATIVA</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                </tr>
                <tr app-item-cama *ngFor="let cama of camas | async" [cama]="cama" [estados]="estados"
                    [relaciones]="relaciones" [capa]="capa" [selected]="(selectedCama && cama._id === selectedCama._id)"
                    (accionCama)="selectCama($event)"
                    [ngClass]="{'invert': (selectedCama && cama._id === selectedCama._id)}">
                </tr>
            </table>
        </fieldset>
    </plex-layout-main>
    <plex-layout-sidebar type="invert" *ngIf="snapshot">
        <app-estado-servicio *ngIf="!accion" [fecha]="fecha" [camas]="snapshot" [estados]="estados"
                             [relaciones]="relaciones" (buscarEstados)="getSnapshot($event)">
        </app-estado-servicio>
        <app-ingresar-paciente *ngIf="accion === 'internarPaciente'" [fecha]="fecha" [camas]="opcionesCamas"
                               [selectedCama]="selectedCama" (cancel)="volverAResumen()"
                               (cambiarFecha)="getSnapshot($event)" (cambiarCama)="cambiarCama($event)"
                               (refresh)="refresh($event)">
        </app-ingresar-paciente>
        <app-desocupar-cama *ngIf="accion === 'desocuparCama'" [fecha]="fecha" [selectedCama]="selectedCama"
                            (cancel)="volverAResumen()" (cambiarFecha)="getSnapshot($event)"
                            (accionDesocupar)="accionDesocupar($event)">
        </app-desocupar-cama>
        <app-egresar-paciente *ngIf="accion === 'egresarPaciente'" [fecha]="fecha" [capa]="capa"
                              [selectedCama]="selectedCama" [unidadesOrganizativas]="unidadesOrganizativas"
                              (refresh)="refresh($event)">
        </app-egresar-paciente>
        <app-cama-destino-generico *ngIf="accion === 'destinoGenerico'" [fecha]=" fecha" [camas]="opcionesCamas"
                                   [selectedCama]="selectedCama" [destino]="estadoDestino" (cancel)="volverAResumen()"
                                   (cambiarFecha)="getSnapshot($event)" (cambiarCama)="cambiarCama($event)">
        </app-cama-destino-generico>
    </plex-layout-sidebar>
</plex-layout>