<plex-layout main="{{showProtocoloDetalle ? (ocultarPanelLateral ? 0 : 2)  : 12}}">
    <plex-layout-main *ngIf='!ocultarPanelLateral'>
        <!-- ENCABEZADO -->
        <header>
            <div class="clearfix">
                <div class="page-title float-left">
                    <ng-container *ngIf="!showProtocoloDetalle">
                        Laboratorio |
                        <ng-container *ngIf="modo === 'recepcion'">Recepcionar Paciente</ng-container>
                        <ng-container *ngIf="modo === 'control'">Auditoría de Protocolos</ng-container>
                        <ng-container *ngIf="modo === 'carga'">Carga de Resultados</ng-container>
                        <ng-container *ngIf="modo === 'validacion'">Validación de Resultados</ng-container>
                    </ng-container>
                    <ng-container *ngIf="showProtocoloDetalle">
                        Listado
                    </ng-container>
                </div>
                <plex-tabs [activeIndex]="accionIndex" class='float-right' (change)="cambio($event)" *ngIf="!showProtocoloDetalle">
                    <plex-tab label="Recepción"></plex-tab>
                    <plex-tab label="Auditoria"></plex-tab>
                    <plex-tab label="Carga"></plex-tab>
                    <plex-tab label="Validación"></plex-tab>
                </plex-tabs>
            </div>

        </header>
        <!-- FIN ENCABEZADO -->

        <ng-container *ngIf="!showProtocoloDetalle">
            <div class="row contenedor-filtros">
                <div class="col-12" *ngIf='modo === "carga" || modo === "validacion"' >
                    <plex-radio [data]="modoCargaLaboratorioEnum" label="nombre" (change)="diagnosticoPrestacion($event, elemento)" [(ngModel)]="modoCargaLaboratorio"
                        type="horizontal"></plex-radio>
                </div>
                <div class="col-2" *ngIf='modo !== "recepcion"'>
                    <plex-select [(ngModel)]="this.busqueda.area " (change)="refreshSelection($event,'area')" name="area" label="Area" [data]='laboratorioInternoEnum'></plex-select>
                </div>
                <div class="col-2">
                    <plex-select [(ngModel)]="prioridad" (change)="refreshSelection($event,'prioridad')" name="prioridad" label="Prioridad" [data]="prioridadesFiltroEnum"></plex-select>
                </div>
                <div class="col-2">
                    <plex-select [(ngModel)]="origen" (change)="refreshSelection($event,'origen')" name="origen" label="Origen" [data]="origenEnum"></plex-select>
                </div>
                <div class="col-2">
                    <plex-datetime type="date" [(ngModel)]="busqueda.solicitudDesde" (change)="refreshSelection($event,'fechaDesde')" name="solicitudDesde"
                        label="Fecha desde" class="fechas" [required]="true">
                    </plex-datetime>
                </div>
                <div class="col-2">
                    <plex-datetime type="date" [(ngModel)]="busqueda.solicitudHasta" (change)="refreshSelection($event,'fechaHasta')" name="solicitudHasta"
                        label="Fecha hasta" class="fechas" [required]="true">
                    </plex-datetime>
                </div>
                <!-- <div class="col-2 labs-contenedor-secundario" *ngIf='modo ==="recepcion"'>
                    <plex-button title="Iniciar Protocolo" icon="plus" class="align-self-end" type="success" (click)="mostrarFomularioPacienteSinTurno()"></plex-button>
                </div> -->
                <div class="col-2 labs-contenedor-secundario" *ngIf='modo !== "recepcion"'>
                    <div class="contenedor-bloque-texto line-height mr-2">
                        <small class="text-primary"></small>
                    </div>
                    <plex-button label="" type="info" style='margin-top: 22px;top: 39px;position: relative;' [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'"
                        (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
                </div>
            </div>
            <!-- FIN FILTROS BASICOS  -->

            <!-- FILTROS AVANZADOS-->
            <ng-container *ngIf="mostrarMasOpciones">
                <div class="row">
                    <div *ngIf='modo ==="carga"' class="col">
                        <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="refreshSelection($event,'servicio')"
                            label="Servicio" placeholder="Seleccione el servicio" labelField="term" [multiple]="true" [required]="false"
                            idField="term">
                        </plex-select>
                    </div>
                    <div *ngIf='modo !== "carga" && modo !== "recepcion"' class="col-3">
                        <plex-select [(ngModel)]="servicio" name="servicio" (getData)="loadServicios($event)" (change)="refreshSelection($event,'servicio')"
                            label="Servicio" placeholder="Seleccione el servicio" labelField="term" [required]="false" idField="term">
                        </plex-select>
                    </div>
                    <ng-container *ngIf='modo !== "recepcion"'>
                        <div class="col-3">
                            <plex-float [(ngModel)]="busqueda.numProtocoloDesde" (change)="refreshSelection($event,'numProtocoloDesde')" name="numProtocoloDesde"
                                label="N° protocolo desde"></plex-float>
                        </div>
                        <div class="col-3">
                            <plex-float [(ngModel)]="busqueda.numProtocoloHasta" (change)="refreshSelection($event,'numProtocoloHasta')" name="numProtocoloHasta"
                                label="N° protocolo hasta"></plex-float>
                        </div>
                        <div class="col-3">
                            <plex-select [(ngModel)]="organizacion" (change)="refreshSelection($event,'organizacion')" name="organizacion" label="Efector Solicitante"
                                (getData)="loadOrganizaciones($event)"></plex-select>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf='modo ==="listado"' class="col-3">
                    <plex-select [(ngModel)]="estado" (change)="refreshSelection($event,'estado')" name="estado" label="Estado" [data]="estadosFiltroEnum"></plex-select>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Paciente</label>
                        <paciente-buscar (searchStart)="searchStartPaciente()" (searchEnd)="searchEndPaciente($event)" (searchClear)="searchClearPaciente($event)"></paciente-buscar>
                        <div class="scrollPacientes" *ngIf='mostrarListaMpi'>
                            <paciente-listado *ngIf="pacientes && pacientes.length" [pacientes]="pacientes" [autoselect]="false" (selected)="seleccionarPaciente($event)"
                                (hover)="hoverPaciente($event)"></paciente-listado>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- FIN FILTROS AVANZADOS-->
        </ng-container>

        <br *ngIf="!showProtocoloDetalle">
        <hr *ngIf="!showProtocoloDetalle">

        <!--VISUALIZACIÓN DE PROTOCOLOS CONTROL -->
        <div *ngIf="!protocolos?.length" class="alert alert-default">
            <i class="mdi mdi-emoticon-sad"></i> No hay protocolos que coincidan con los filtros de búsqueda
        </div>

        <lista-protocolos [protocolos]='protocolos' [modo]='modo' (seleccionarProtocoloEmitter)='seleccionarProtocolo($event)' [showProtocoloDetalle]='showProtocoloDetalle' ></lista-protocolos>

    </plex-layout-main>

    <plex-layout-sidebar *ngIf="!showListarProtocolos">
        <header>
            <div class="clearfix row">
                <div class="page-title float-left col">
                    <ng-container *ngIf="showProtocoloDetalle">
                        Laboratorio |
                        <ng-container *ngIf="modo === 'recepcion'">Recepcionar Paciente</ng-container>
                        <ng-container *ngIf="modo === 'control'">Auditoría de Protocolos</ng-container>
                        <ng-container *ngIf="modo === 'carga'">Carga de Resultados</ng-container>
                        <ng-container *ngIf="modo === 'validacion'">Validación de Resultados</ng-container>
                    </ng-container>
                </div>
                <div *ngIf='modo === "carga" || modo === "validacion"' class="col-2">
                    <plex-button position="right" type="warning" label="Auditar" class="mr-3" (click)="volverAControl()"></plex-button>
                </div>
            </div>
        </header>
        <protocolo-detalle [protocolo]="protocolo" [showProtocoloDetalle]="showProtocoloDetalle" [indexProtocolo]='indexProtocolo'
            [protocolos]="protocolos" [edicionDatosCabecera]='edicionDatosCabecera' [modo]='modo' [seleccionPaciente]='seleccionPaciente'
            (volverAListaControEmit)='volverLista()' (mostrarCuerpoProtocoloEmit)='mostrarBotonesGuardarProtocoloFooter($event)'
            (mostrarCuerpoProtocolo)='mostrarCuerpoProtocolo' (areas)='areas' ></protocolo-detalle>
    </plex-layout-sidebar>

    <plex-layout-footer *ngIf="!showProtocoloDetalle && modo === 'recepcion'">
        <plex-button label="accion clave" type="primary" position="left" label="Paciente sin Turno" (click)="mostrarFomularioPacienteSinTurno(activeTab)"></plex-button>
    </plex-layout-footer>

    <plex-layout-footer *ngIf="showProtocoloDetalle && modoAVolver === '' ">
        <plex-button position="left" type="warning" (click)="volverLista()">Volver</plex-button>
        <plex-button *ngIf='modo !=="validacion" && showBotonesGuardar' position="right" class="float-right mr-1" type="success"
            label="Guardar" (click)="protocoloDetalleComponent.guardarSolicitud()"></plex-button>
        <plex-button *ngIf='modo !=="validacion" && showBotonesGuardar' position="right" class="float-right mr-1" type="success"
            label="Guardar + CB" (click)="protocoloDetalleComponent.guardarSolicitud()"></plex-button>
        ​
        <plex-button *ngIf='modo === "validacion" && showBotonesGuardar && !ocultarPanelLateral' position="right" class="float-right mr-1"
            type="success" label="Validar todos" (click)="protocoloDetalleComponent.guardarSolicitud()"></plex-button>
        <plex-button *ngIf='modo === "validacion" && showBotonesGuardar && !ocultarPanelLateral' position="right" class="float-right mr-1"
            type="success" label="Validar pendientes" (click)="protocoloDetalleComponent.guardarSolicitud()"></plex-button>
        ​
        <plex-button *ngIf='protocoloDetalleComponent && !showBotonesGuardar && protocoloDetalleComponent.edicionDatosCabecera' position="right"
            type="success" label="Aceptar" (click)="protocoloDetalleComponent.aceptarEdicionCabecera()"></plex-button>
    </plex-layout-footer>

    <plex-layout-footer *ngIf="showProtocoloDetalle && modoAVolver !== '' ">
        <plex-button position="left" type="warning" (click)="volverLista()">Volver</plex-button>
        <plex-button position="right" class="float-right mr-1" type="success" label="Guardar Auditoria" (click)="guardarSolicitudYVolver()"></plex-button>
    </plex-layout-footer>
</plex-layout>