.hint-absolute {
    position: absolute;
    top: 3.8rem;
}

@media (min-width: 1800px) {
    .hint-absolute {
        right: 9rem;
    }
}

@media (min-width: 1600px) and (max-width: 1799px) {
    .hint-absolute {
        right: 7rem;
    }
}

@media (min-width: 1420px) and (max-width: 1599px) {
    .hint-absolute {
        right: 5rem;
    }
}

@media (min-width: 1320px) and (max-width: 1419px) {
    .hint-absolute {
        right: 4rem;
    }
}

@media (max-width: 1319px) {
    .hint-absolute {
        top: 8.8rem;
        left: 9.5rem;
    }
}