table {
    td {
        text-align: left;
        vertical-align: middle;
    }
}

.td_flex {
    display: flex;
}

.tabla-turnos {
    tr {
        &.selected {
            background-color: #edf8fd !important;
        }
    }
}

plex-help {
    --heading-background-color: #002738;
}