@import '../variables';
.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.menu-buscador {
    .container-filtros {
        width: 100%;
        overflow: scroll;
        position: relative;
        height: 105px;
        margin: 10px 0;
    }
    .filtros {
        align-items: center;
        height: 40px;
    }
    .botones-filtros {
        list-style: none;
        margin: 0 1px 0 0;
        padding: 0;
        display: flex;
        li {
            min-width: 100px;
            position: relative;
            margin-right: 2px;
            button {
                text-overflow: ellipsis;
                white-space: normal;
                /* width: 99%; */
                /* height: 1.5rem; */
                font-size: 0.7rem;
                /* position: absolute; */
                text-align: center;
                padding: 7px 5px;
                display: block;
                border-width: 2px;
                min-height: 91px;
                /*
                width: 99%;
                height: 1.5rem;
                font-size: 0.6rem;
                // border: none;
                // background-color: #dddddd;
                // cursor: pointer;
                position: absolute;
                text-align: left;
                padding: 7px 5px;
                /////////////////////
                // top: 0;
                // right: 2px;
                // position: absolute;
                // text-align: left;
                // padding: 5px;
                // z-index: 1000;
                */
                i {
                    font-size: 3rem;
                    display: block;
                }
                &.procedimientos {
                    // width: 118%;
                }
                &.planes {
                    // width: 81%;
                    // margin-left: 15px !important;
                }
                &.productos {
                    // width: 96%;
                    // margin-left: 1px !important;
                }
                &[disabled] {
                    cursor: not-allowed;
                    filter: alpha(opacity=65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: .65;
                }
                // fix a mano para el boton btn-otro para que entre el texto en los filtros
                &.btn-otro {
                    padding-top: 0;
                    padding-bottom: 0;
                    i {
                        font-size: 2.8rem;
                    }
                }
            }
            .badge {
                display: inline-block;
                top: 0;
                right: 0;
                position: absolute;
                text-align: left;
                padding: 3px;
                font-size: 0.7rem;
                z-index: 1000;
            }
        }
    }
}

.busqueda-guiada {
    .grupo {
        border: 2px solid #ccc;
        padding: 5px;
        margin-bottom: 2px;
        .conceptos {
            margin: 10px 0;
        }
    }
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

@each $tag,
$color in $rup_colors {
    .menu-buscador .badge-#{$tag} {
        color: white;
        background-color: $color;
    }
}

@media (max-width: 1600px) {
    .botoneraPrincipal {
        display: block;
        & button {
            width: 50%;
            float: left;
            border: 1px solid white;
        }
    }
}

.rup-card.mini .rup-header .title {
    //display: inline-grid;
    .sugerido {
        font-weight: 400;
        font-size: 0.8rem;
        float: left;
    }
}