@import "../core/rup";

.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.buscador-resultados {
    height: calc(100% - 220px);

    cdk-virtual-scroll-viewport {
        height: 100%;
        overflow-x: hidden;

        plex-button[type="info"] {
            .btn {
                width: 20px;
                justify-content: center;
                display: flex;
                height: 26px;
            }
        }
    }
}

.menu-buscador {
    .container-filtros {
        padding: 2px 0;
        margin: 5px 0;
    }

    .filtros {
        align-items: center;
        height: 40px;
    }

    .botones-filtros {
        list-style: none;
        margin: 0 1px 0 0;
        padding: 0;
        display: flex;

        li {
            width: 16.5%;
            height: 60px;
            position: relative;

            button {
                // text-overflow: ellipsis;
                white-space: normal;
                /* width: 99%; */
                /* height: 1.5rem; */
                font-size: 0.525rem;
                /* position: absolute; */
                text-align: center;
                padding: 0px 5px;
                display: block;
                border-width: 2px;
                min-height: 60px;

                i {
                    font-size: 1.75rem;
                    display: block;
                }

                &[disabled] {
                    cursor: not-allowed;
                    filter: alpha(opacity=65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: 0.65;
                }

                // fix a mano para el boton btn-otro para que entre el texto en los filtros
                &.btn-otro {
                    padding-top: 0;
                    padding-bottom: 0;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            .contador {
                display: inline-block;
                top: 0;
                right: 0;
                position: absolute;
                text-align: left;
                padding: 3px;
                font-size: 0.7rem;
            }
        }
    }
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

@each $tag, $color in $rup_colors {
    .menu-buscador .badge-#{$tag} {
        color: white;
        background-color: $color;
    }
}

@media (max-width: 1600px) {
    .botonera {

        &.principal {
            grid-template-columns: 1fr 1fr;
            display: grid;
            gap: 2px;
        }

        &.historial {
            display: flex;
            gap: 2px;
        }

        & .btn-primary:active,
        .btn-primary.active {
            background-color: $invert;
            color: $blue;
        }
    }
}

.rup-card.mini .rup-header {
    .title {
        color: black;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .sugerido {
        font-weight: 400;
        font-size: 0.8rem;
        float: left;
    }
}

.rup-header .float-right {
    // Fix desfasaje de height en badges
    line-height: 1em;
}