@import '../variables';
.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.menu-buscador {
    .filtros {
        align-items: center;
        height: 40px;
    }
    .botones-filtros {
        // border-bottom: 1px solid #bbbbbb;
    }
    button {
        &.procedimientos {
            // width: 118%;
        }
        &.planes {
            // width: 81%;
            // margin-left: 15px !important;
        }
        &.productos {
            // width: 96%;
            // margin-left: 1px !important;
        }
        &[disabled] {
            cursor: not-allowed;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
            opacity: .65;
        }
        width: 99%;
        height: 1.5rem;
        font-size: 0.6rem;
        // border: none;
        // background-color: #dddddd;
        // cursor: pointer;
        position: absolute;
        text-align: left;
        padding: 7px 5px;
        /////////////////////
        // top: 0;
        // right: 2px;
        // position: absolute;
        // text-align: left;
        // padding: 5px;
        // z-index: 1000;
    }
    .badge {
        display: inline-block;
        top: 0;
        right: 2px;
        position: absolute;
        text-align: left;
        padding: 5px;
        z-index: 1000;
    }
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

@each $tag,
$color in $rup_colors {
    .menu-buscador .badge-#{$tag} {
        color: white;
        background-color: $color;
    }
}
@media (max-width: 1600px) {
  .botoneraPrincipal{
        display: block;
        & button {
            display: inline-block;
            width: 50%;
            float: left;
            border: 1px solid white;
        }
    }
}
.scroll {
    overflow: scroll;
    height: calc(100vh - 456px);
    margin-bottom: 0;
} 
.down {
    height: calc(100vh - 250px);
}

.buscador-hidden {
    opacity: 0;
    position: absolute;
    -webkit-transform: translate(0, -60px);
    -webkit-transition: -webkit-transform .2s, opacity 0 .3s;
   }
   
.buscador-visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .2s;
   }
