@import "../core/rup";

.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.buscador-resultados {
    height: calc(100% - 220px);

    cdk-virtual-scroll-viewport {
        height: 100%;
        overflow-x: hidden;

        plex-button[type="info"] {
            .btn {
                width: 20px;
                justify-content: center;
                display: flex;
                height: 26px;
            }
        }
    }
}

.contenedor-filtros {
    display: flex;
    overflow: auto;

    .btn-container[prev],
    .btn-container[next] {
        background: none;
        height: inherit;

        plex-button button {
            padding: 0;
            cursor: pointer;
            height: 50px;
            width: 40px;
            background: white;
            color: #00a8e0;
            border: none !important;

            plex-icon i.md {
                font-size: 30px !important;
            }

            &:focus,
            &:active {
                box-shadow: none;
            }
        }
    }

    section {
        height: 100px;
        padding-left: 40px;
        margin: 0;
        overflow: hidden;
    }

    plex-grid {
        display: flex;
        margin: 0;
    }

    .plex-dots-wrapper {
        display: none !important;
    }

    .card-filtro {
        cursor: pointer;

        .icon-wrapper {
            padding: 5px;
            border: 2px solid #000;
            border-radius: 100px;
            width: 50px;
            height: 50px;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon i {
                font-size: 25px;
            }

            .contador {
                width: 25px;
                line-height: 25px;
                border-radius: 25px;
                text-align: center;
                color: white;
                position: absolute;
                left: calc(50% + 15px);
                top: 20px;
            }
        }

        @mixin card-estilo($color) {
            .icon-wrapper {
                border-color: $color;

                .icon i {
                    color: $color;
                }

                .contador {
                    background-color: $color;
                }
            }

            .titulo {
                color: $color;
                text-align: center;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        .todos {
            @include card-estilo($todos);
        }

        .planes {
            @include card-estilo($solicitud);
        }

        .hallazgos {
            @include card-estilo($hallazgo);
        }

        .trastornos {
            @include card-estilo($trastorno);
        }

        .procedimientos {
            @include card-estilo($procedimiento);
        }

        .productos {
            @include card-estilo($producto);
        }

        .registros {
            @include card-estilo($registro);
        }

        .card {
            border: none;
            padding: 0;

            .card-content {
                min-width: 80px;
                width: max-content;
                display: flex;
                margin: 0 2px;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

@each $tag, $color in $rup_colors {
    .menu-buscador .badge-#{$tag} {
        color: white;
        background-color: $color;
    }
}

@media (max-width: 1600px) {
    .botonera {

        &.principal {
            grid-template-columns: 1fr 1fr;
            display: grid;
            gap: 2px;
        }

        &.historial {
            display: flex;
            gap: 2px;
        }

        & .btn-primary:active,
        .btn-primary.active {
            background-color: $invert;
            color: $blue;
        }
    }
}

.rup-card.mini .rup-header {
    .title {
        color: black;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .sugerido {
        font-weight: 400;
        font-size: 0.8rem;
        float: left;
    }
}

.rup-header .float-right {
    // Fix desfasaje de height en badges
    line-height: 1em;
}