<!-- Tipo de búsqueda -->
<div class="row mt-1">
    <div class="btn-group col botoneraPrincipal" role="group" aria-label="Botonera principal">
        <button class="btn btn-primary btn-sm btn-block m-0" (click)="setTipoBusqueda('sugeridos')"
            [ngClass]="{'active': busquedaActual === 'sugeridos'}">SUGERIDOS</button>
        <button class="btn btn-primary btn-sm btn-block m-0" (click)="setTipoBusqueda('misFrecuentes')"
            [ngClass]="{'active': busquedaActual === 'misFrecuentes'}">MIS
            FRECUENTES
        </button>
        <button class="btn btn-primary btn-sm btn-block m-0" (click)="setTipoBusqueda('buscadorBasico')"
            [ngClass]="{'active': busquedaActual === 'buscadorBasico'}">BUSCADOR BÁSICO
        </button>
        <button class="btn btn-primary btn-sm btn-block m-0" (click)="setTipoBusqueda('frecuentesTP')"
            [ngClass]="{'active': busquedaActual === 'frecuentesTP'}">FRECUENTES POR PRESTACIÓN</button>
    </div>
</div>
<!-- Fin Tipo de búsqueda -->

<!-- Apunta a components/snomed/snomed-buscar.component.ts -->
<snomed-buscar (onSearch)="recibeResultados($event)"
    *ngIf="(busquedaActual === 'buscadorBasico' || busquedaActual === 'busquedaGuiada' || busquedaActual === 'porConcepto') && autofocus"
    [autofocus]="autofocus" id="buscador"></snomed-buscar>

<div class="buscador"
    *ngIf="busquedaActual === 'sugeridos' || busquedaActual === 'misFrecuentes' || busquedaActual === 'frecuentesTP'">
    <plex-text [(ngModel)]="search" name="search" (keyup)="buscar()" placeholder=" Buscar ..." [autoFocus]="autofocus">
    </plex-text>
</div>

<!-- MAESTRO DE PROBLEMAS - BD:tipoProblema -->
<div class="menu-buscador">
    <!-- Botones filtros -->
    <ng-container *ngIf="results">
        <ng-container *ngIf="busquedaActual !== 'busquedaGuiada'">
            <div class="container-filtros">
                <ul class="botones-filtros">
                    <li *ngFor="let filtro of filtros">
                        <small *ngIf="getCantidadResultados(filtro.key)"
                            class="badge badge-{{ filtro.icon }} ml-1 float-right"
                            [ngClass]="{'active': filtroActual === filtro.key}">{{
                                getCantidadResultados(filtro.key)}}</small>
                        <button (click)="filtroBuscadorSnomed(filtro.key)"
                            class="btn btn-block p-0 btn-{{ filtro.icon }}"
                            [ngClass]="{'active': filtroActual === filtro.key}"
                            [disabled]="!wizardActivo && getCantidadResultados(filtro.key) === 0">
                            <i class="adi adi-semantic-{{ filtro.icon }}"></i>
                            {{ filtro.titulo }}
                        </button>
                    </li>
                </ul>
            </div>
        </ng-container>

        <div>
            <ng-container *ngIf="secciones">
                <span class="pr-1">Sección:</span>
                {{ secciones }}
                <br>
            </ng-container>
            <ng-container *ngIf="getSemanticTagFiltros()">
                <span class="pr-1">Filtros:</span>
                <i *ngIf="!busquedaPorConcepto" class="text-secondary ml-1">{{ getSemanticTagFiltros() }}</i>
                <i *ngIf="busquedaPorConcepto && busquedaRefSet?.conceptos?.length" class="text-secondary ml-1">
                    (
                    <ng-container *ngFor="let c of busquedaRefSet.conceptos; let idx=index">
                        <ng-container *ngIf="c.concepto.term">
                            <!-- TODO: manejar 100% desde la prestación -->
                            <span *ngIf="c.cara">diente </span>{{ c.concepto.term }}
                            <span *ngIf="c.cara && c.cara !== 'pieza'">, cara {{ c.cara }}
                                <ng-container *ngIf="idx < busquedaRefSet.conceptos.length - 1">
                                    / </ng-container>
                            </span>
                        </ng-container>
                    </ng-container>)
                </i>
            </ng-container>

            <ng-container
                *ngIf="results && results[busquedaActual] && results[busquedaActual][filtroActual] && results[busquedaActual][filtroActual]?.length === 0 && !loading">
                <h4 class="pt-3 pb-3 text-center">No se han encontrado resultados.</h4>

                <p class="text-center"
                    *ngIf="search && (busquedaActual === 'sugeridos' || busquedaActual === 'misFrecuentes')">
                    Intentar con el
                    <a href="javascript: void(0);" (click)="setTipoBusqueda('buscadorBasico');">Buscador básico</a>
                </p>
            </ng-container>
        </div>
    </ng-container>
</div>

<!-- RESULTADOS PRINCIPALES -->
<div *ngIf="filtroActual && results[busquedaActual] && results[busquedaActual][filtroActual] && results[busquedaActual][filtroActual]?.length > 0"
    class="buscador-resultados">
    <cdk-virtual-scroll-viewport [itemSize]="55">
        <div *cdkVirtualFor="let registro of results[busquedaActual][filtroActual]"
            [ngClass]="servicioPrestacion.getIcon(registro, filtroActual === 'plan')">
            <div draggable [dragScope]="'registros-rup'" [dragData]="registro" (onDragStart)="dragStart($event)"
                (onDragEnd)="dragEnd($event)">
                <rup-mini-card [registro]="registro" [filtroActual]="filtroActual" [emitirConceptos]="true"
                    [snomed]="true" (registroVolador)="seleccionarConcepto($event.registro)">
                </rup-mini-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>


<!-- BUSQUEDA GUIADA -->
<div *ngIf="busquedaActual && results && results[busquedaActual] &&  busquedaActual === 'busquedaGuiada'">
    <ul class="busqueda-guiada list-unstyled">
        <ng-container *ngFor="let items of results[busquedaActual], let i = index;">
            <li class="grupo">

                <div class="container m-0 p-0">
                    <div class="row header m-0 p-0">
                        <div class="col-10 m-0 p-0">
                            <b>{{ items.nombre[0].toUpperCase() + items.nombre.slice(1) }}</b>
                        </div>
                        <div class="col-2 m-0 p-0">
                            <button class="btn btn btn-primary btn-icon-rup" (click)="desplegar(items.nombre)"
                                [ngClass]="{'disabled': items.valor.length === 0, 'bg-inverse': opcionDesplegada === items.nombre}">
                                <i *ngIf="opcionDesplegada !== items.nombre" class="mdi mdi-chevron-down"></i>
                                <i *ngIf="opcionDesplegada === items.nombre" class="mdi mdi-chevron-up"></i>
                            </button>
                            <span class="badge badge-warning float-right mr-1 p-1">
                                {{ items.valor.length }}
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="conceptos list-unstyled" *ngIf="opcionDesplegada === items.nombre">
                    <ng-container *ngFor="let item of items.valor">

                        <li draggable [dragScope]="'registros-rup'" [dragData]="item" (onDragStart)="dragStart($event)"
                            (onDragEnd)="dragEnd($event)">

                            <div class="rup-card mini"
                                [ngClass]="(items.nombre === 'planes') ? 'plan' : servicioPrestacion.getIcon(item, filtroActual === 'plan')">
                                <div class="rup-header">
                                    <div class="icon-rup drag-handle p-0 pt-1">
                                        <i
                                            class="icon adi-semantic-{{servicioPrestacion.getIcon(item, filtroActual === 'plan')}}"></i>
                                    </div>

                                    <div class="rup-border">
                                        <div class="row p-0 m-0 border-secondary border-left-0">
                                            <div class="col-6 p-0 m-0">
                                                <div class="p-0 pt-1 pl-2"
                                                    [ngClass]="{'actions-left': filtroActual === 'equipamientos'}">
                                                    {{ item.term }}
                                                </div>
                                            </div>

                                            <div class="col-6 p-0 m-0">
                                                <div class="p-0 pt-1 pr-1 float-right">

                                                    <small
                                                        class="badge badge-{{ (items.nombre === 'planes') ? 'solicitud' : servicioPrestacion.getIcon(item, filtroActual) }} text-default  pl-1 pr-1">
                                                        {{ (item.plan || items.nombre === 'planes' ||
                                                        esTurneable(item)) ? 'plan' : item.semanticTag }}
                                                    </small>
                                                    <button (click)="seleccionarConcepto(item)"
                                                        class="btn btn-sm btn-primary btn-icon-rup p-0">
                                                        <i class="mdi mdi-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>

                </ul>
            </li>
        </ng-container>
    </ul>
</div>