<div class="menu-buscador mb-2">
    <plex-loader class="float-right" *ngIf="loading" type="ball-pulse"></plex-loader>
    <!-- Botones filtros  -->
    <ng-container>
        <div class="container-filtros">
            <ul class="botones-filtros">
                <li *ngFor="let filtro of filtros">
                    <small *ngIf="getCantidadResultados(filtro.key)"
                        class="badge badge-{{ filtro.icon }} ml-1 float-right"
                        [ngClass]="{'active': filtroActual === filtro.key}">{{
                            getCantidadResultados(filtro.key)}}</small>
                    <button (click)="filtroBuscador(filtro.key)" class="btn btn-block p-0 btn-{{ filtro.icon }}"
                        [ngClass]="{'active': filtroActual === filtro.key}">
                        <i class="adi adi-semantic-{{ filtro.icon }}"></i>
                        {{ filtro.titulo }}
                    </button>
                </li>
            </ul>
        </div>
    </ng-container>
    <div class="row">
        <div class="col-10">
            <small class="pr-1" *ngIf="getSemanticTagFiltros()">Filtros:</small>
            <i class="text-secondary ml-1">{{ getSemanticTagFiltros() }}</i>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <ng-container *ngIf="filtroActual === 'prestaciones'">
                <plex-button [icon]="showFiltros ? 'mdi mdi-close' : 'mdi mdi-magnify'" size="sm" type="info"
                    [title]="showFiltros ? 'Ocultar filtros' : 'Mostrar filtros'" titlePosition="left"
                    (click)="toogleFiltros()">
                </plex-button>
            </ng-container>
        </div>
    </div>
</div>
<div class="huds-busqueda">
    <ng-container *ngIf="filtroActual === 'prestaciones'">
        <ng-container *ngIf="showFiltros">
            <div class="row">
                <div class="col-12">
                    <plex-select [(ngModel)]="prestacionSeleccionada" label="Prestación" [data]="tiposPrestacion"
                        idField="conceptId" labelField="term" (change)="filtrar()" [multiple]="true">
                    </plex-select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <plex-select [(ngModel)]="organizacionSeleccionada" label="Organización" [data]="organizaciones"
                        idField="id" labelField="nombre" (change)="filtrar()" [multiple]="true">
                    </plex-select>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-6">
                    <plex-datetime type="date" [(ngModel)]="fechaInicio" (change)="filtrar()" name="fechaInicio"
                        label="Fecha Desde">
                    </plex-datetime>
                </div>
                <div class="col-6">
                    <plex-datetime type="date" [(ngModel)]="fechaFin" (change)="filtrar()" name="fechaFin"
                        label="Fecha Hasta">
                    </plex-datetime>
                </div>
            </div>
        </ng-container>
    </ng-container>

</div>

<div *ngIf="filtroActual && resultadoRegistros && resultadoRegistros[filtroActual]?.length > 0"
    class="hover registros-resultados list-unstyled">
    <ng-container *ngFor="let registro of resultadoRegistros[filtroActual]">
        <rup-mini-card [registro]="registro" [filtroActual]="filtroActual" [emitirConceptos]="emitirConceptos"
            (registroVolador)="devolverHallazgo($event.registro, 'hallazgo')"
            (accionSecundaria)="emitTabs($event.registro, 'hallazgo')">
        </rup-mini-card>
    </ng-container>

</div>