@import '../variables';
.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

.menu-buscador {
    .container-filtros {
        width: 103%;
        overflow: scroll;
        position: relative;
        height: auto;
        padding: 5px 0;
        margin: 10px 0;
    }
    .filtros {
        align-items: center;
        height: 40px;
    }
    .botones-filtros {
        list-style: none;
        margin: 0 1px 0 0;
        padding: 0;
        display: flex;
        li {
            min-width: 54px;
            height: 60px;
            position: relative; // margin-right: 2px;
            button {
                text-overflow: ellipsis;
                white-space: normal;
                /* width: 99%; */
                /* height: 1.5rem; */
                font-size: 0.525rem;
                /* position: absolute; */
                text-align: center;
                padding: 0px 5px;
                display: block;
                border-width: 2px;
                min-height: 60px;
                i {
                    font-size: 2rem;
                    display: block;
                }
                &[disabled] {
                    cursor: not-allowed;
                    filter: alpha(opacity=65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: .65;
                } // fix a mano para el boton btn-otro para que entre el texto en los filtros
                &.btn-otro {
                    padding-top: 0;
                    padding-bottom: 0;
                    i {
                        font-size: 2rem;
                    }
                }
            }
            .badge {
                display: inline-block;
                top: 0;
                right: 0;
                position: absolute;
                text-align: left;
                padding: 3px;
                font-size: 0.7rem;
                z-index: 1000;
            }
        }
    }
}

.busqueda-guiada {
    .grupo {
        border: 2px solid #ccc;
        padding: 5px;
        margin-bottom: 2px;
        .conceptos {
            margin: 10px 0;
        }
    }
}

.loading-snomed {
    float: right;
    position: relative;
    top: 100px;
    right: 55px;
}

@each $tag,
$color in $rup_colors {
    .menu-buscador .badge-#{$tag} {
        color: white;
        background-color: $color;
    }
}

@media (max-width: 1600px) {
    .botoneraPrincipal {
        display: block;
        & button {
            width: 50%;
            float: left;
            border: 1px solid white;
        }
    }
}

.rup-card.mini .rup-header {
    .title {
        color: black;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .sugerido {
        font-weight: 400;
        font-size: 0.8rem;
        float: left;
    }
}

.rup-header .float-right {
    // Fix desfasaje de height en badges
    line-height: 1em;
}
