<plex-help size="sm" type="help" titulo="Información de la Solicitud" class='text-left'>
    <div class="container mb-4 float-left">
        <div class="row">
            <div class="col-12" *ngIf="!solicitud.organizacionOrigen">
                <label>Organización:</label> {{solicitud.organizacion.nombre}}
            </div>
        </div>
        <div class="row" *ngIf="solicitud.organizacionOrigen">
            <div class="col-12">
                <label>Organización Origen:</label>
                {{solicitud.organizacionOrigen.nombre}}
            </div>

            <div class="col-12" *ngIf="solicitud.profesionalOrigen">
                <label>Profesional Origen:</label>
                {{solicitud.profesionalOrigen | nombre }}
            </div>

            <div class="col-12">
                <label>Prestacion Origen:</label>
                {{solicitud.tipoPrestacionOrigen.term}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Fecha:</label> {{solicitud.fecha | fecha}}
            </div>
        </div>
        <div class="row" *ngIf="solicitud.registros?.length > 0">
            <div class="col-12">
                <label>Motivo:</label>
                {{ solicitud.registros[0].valor.solicitudPrestacion.motivo }}
            </div>

            <div class="col-12">
                <label>Indicaciones:</label>
                <span [innerHTML]="solicitud.registros[0].valor.solicitudPrestacion.indicaciones"></span>
            </div>
        </div>

    </div>

</plex-help>