@import '../core/rup';

.slider-filtros {
    display: flex;
    overflow: auto;

    .btn-container[prev],
    .btn-container[next] {
        background: none;
        height: inherit;

        plex-button button {
            padding: 0;
            cursor: pointer;
            height: 50px;
            width: 40px;
            background: white;
            color: #00a8e0;
            border: none !important;

            plex-icon i.md {
                font-size: 30px !important;
            }

            &:focus,
            &:active {
                box-shadow: none;
            }
        }
    }

    section {
        height: 100px;
        padding-left: 40px;
        margin: 0;
        overflow: hidden;
    }

    plex-grid {
        display: flex;
        margin: 0;
    }

    .plex-dots-wrapper {
        display: none !important;
    }

    .card-filtro {
        cursor: pointer;

        .icon-wrapper {
            padding: 5px;
            border: 2px solid #000;
            border-radius: 100px;
            width: 50px;
            height: 50px;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon i {
                font-size: 25px;
            }

            .contador {
                width: 25px;
                line-height: 25px;
                border-radius: 25px;
                text-align: center;
                color: white;
                position: absolute;
                left: calc(50% + 15px);
                top: 20px;
            }
        }

        @mixin card-estilo($color) {
            .icon-wrapper {
                border-color: $color;

                .icon i {
                    color: $color;
                }

                .contador {
                    background-color: $color;
                }
            }

            .titulo {
                color: $color;
                text-align: center;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        .planes {
            @include card-estilo($prestacion);
        }

        .solicitudes {
            @include card-estilo($solicitud);
        }

        .hallazgo {
            @include card-estilo($hallazgo);
        }

        .trastorno {
            @include card-estilo($trastorno);
        }

        .recetas {
            @include card-estilo($recetas);
        }

        .procedimiento {
            @include card-estilo($procedimiento);
        }

        .producto {
            @include card-estilo($producto);
        }

        .laboratorios {
            @include card-estilo($laboratorio);
        }

        .vacunas {
            @include card-estilo($vacuna);
        }

        .dominios {
            @include card-estilo($dominiosNac);
        }

        .registro {
            @include card-estilo($registro);
        }

        .card {
            border: none;
            padding: 0;

            .card-content {
                min-width: 80px;
                width: max-content;
                display: flex;
                margin: 0 2px;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

.lista-internacion {
    .card {
        margin-bottom: 3px;
    }

    .detalle {
        display: flex;
        flex-direction: column;
    }

    .fechas {
        column-gap: 5px;
    }

    .icono {
        border: 1px solid #9a9a9a;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        plex-icon i {
            line-height: inherit;
            color: #9a9a9a;
        }

        &.medico {
            border-color: $producto;

            plex-icon i {
                color: $producto;
            }
        }

        &.hidrico {
            border-color: #47c0e9;

            plex-icon i {
                color: #47c0e9;
            }
        }

        &.otras {
            border-color: #000;

            plex-icon i {
                color: #000;
            }
        }
    }

    .card-header {
        padding: 10px;
    }

    .list-group {
        padding: 3px;
    }

    .card-block {
        padding: 0;
    }
}

.item-prestacion {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    .titulo {
        p {
            font-size: small;
            margin: 0;
        }
    }

    &.activo {
        background: #e8f9ff;
    }
}


.menu-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-filtro {
    margin: 5px 0;

    &.planes {
        color: $prestacion
    }

    &.solicitudes {
        color: $solicitud
    }

    &.hallazgo {
        color: $hallazgo
    }

    &.trastorno {
        color: $trastorno
    }

    &.recetas {
        color: $recetas
    }

    &.procedimiento {
        color: $procedimiento
    }

    &.producto {
        color: $producto
    }

    &.laboratorios {
        color: $laboratorio
    }

    &.vacunas {
        color: $vacuna
    }

    &.dominios {
        color: $dominiosNac
    }

    &.registro {
        color: $registro
    }
}

.filtros-ambitos {
    display: grid;

    .btn-primary:active,
    .btn-primary.active {
        background-color: $invert;
        color: $blue;
    }

    .col {
        column-gap: 5px;
    }
}

.listado {
    li {
        display: flex;
        gap: 10px;

        .titulo {
            white-space: break-spaces;
        }

        .vista-badges {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-end;
        }

        .icon-rup {
            max-width: 55px !important;
        }
    }
}

.item-lista-vacia {
    margin-top: 10%
}