<plex-layout main="12">
    <plex-layout-main>
        <paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event)" (searchClear)="onSearchClear()">
        </paciente-buscar>
        <plex-loader *ngIf="loading"></plex-loader>
        <paciente-listado *ngIf="resultadoBusqueda && resultadoBusqueda.length" [offset]="90"
                          [pacientes]="resultadoBusqueda" (selected)="onSelect($event)">
        </paciente-listado>

        <div *ngIf="resultadoBusqueda && !resultadoBusqueda.length" class="alert alert-default">
            ¡No se encontró ningún paciente!
        </div>

        <modal-motivo-acceso-huds [show]="showModalMotivo" (motivoAccesoHuds)="onConfirmSelect($event)">
        </modal-motivo-acceso-huds>
    </plex-layout-main>
    <plex-layout-footer>
        <plex-button position="left" label="Volver" type="info" (click)="onCancel()">
        </plex-button>
    </plex-layout-footer>
</plex-layout>