@import '../core/rup';
.text-problemas {
    color: $problema;
}

.text-productos {
    color: $producto;
}

// .border-hallazgo {
//     border-color: $problemas;
// }
.text-planes {
    color: $plan;
}

.border-planes {
    border-color: $plan;
}

.borde-prestaciones input,
.borde-prestaciones input:focus {
    border-color: $dark-blue;
}

.borde-prestaciones input,
.borde-prestaciones input:focus {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: white;
}

// .prestaciones {
//     background-color: $dark-blue;
// }
.borde-planes input,
.borde-planes input:focus {
    border-color: $plan;
    background-color: $plan !important;
    background-color: $plan;
    color: white;
}

// .planes {
//     background-color: $planes;
// }
.borde-problemas input,
.borde-problemas input:focus {
    border-color: $problema;
    background-color: $problema !important;
    background-color: $problema;
    color: white;
}

// .problemas {
//     background-color: $problemas;
// }
.borde-procedimientos input,
.borde-procedimientos input:focus {
    border-color: $procedimiento;
    background-color: $procedimiento !important;
    background-color: $procedimiento;
    color: white;
}

// .procedimientos {
//     background-color: $procedimientos;
// }
.vista-titulo {
    padding-top: 1em;
    font-size: 1.4em;
    color: #AAAAAA;
    font-weight: 400;
    text-transform: uppercase;
}

// DEBUG - Sólo botones temporales para mostrar funcionalidad
.botones-temporales i {
    padding-left: 1.2em;
    padding-right: 1.3em;
}

.badge-validada,
.badge-ejecucion,
.badge-pendiente {
    background: transparent;
    border: 1.5px solid;
    font-size: 0.75em;
    padding: 5px;
    text-transform: uppercase;
}

.badge-validada {
    border-color: #8CC63F;
    color: #8CC63F;
}

.badge-ejecucion {
    border-color: #AAAAAA;
    color: #AAAAAA;
}

.badge-pendiente {
    border-color: #AAAAAA;
    color: #AAAAAA;
}

.menu-huds {
    .btn {
        width: 32.5%;
    }
}