<div class="menu-buscador">
    <plex-title titulo="Panel de búsqueda" size="lg"></plex-title>

    <plex-loader class="float-right" *ngIf="loading" type="ball-pulse"></plex-loader>
    <!-- Botones filtros  -->
    <div class="container-filtros">
        <div class="slider-filtros">
            <plex-card class="card-filtro" *ngFor="let filtro of filtros; let iPrestacion = index"
                       (click)="filtroBuscador(filtro.key)">
                <div class="card-content {{filtro.key}}" [ngClass]="{'active': filtroActual === filtro.key}">
                    <div class="icon-wrapper">
                        <div class="contador"><small *ngIf="getCantidadResultados(filtro.key)">
                                {{getCantidadResultados(filtro.key)}}
                            </small></div>
                        <plex-icon class="icon" name="{{filtro.icono}}"></plex-icon>
                    </div>
                    <span class="titulo mt-1">{{filtro.titulo}}</span>
                </div>
            </plex-card>
        </div>
    </div>
    <div class="menu-titulo">
        <h6 class="titulo-filtro {{filtroActual}}">{{ getTitulo(filtroActual) | uppercase }}</h6>

        <suspender-medicacion *ngIf="filtroActual==='recetas' && seleccionRecetas.length > 0"
                              [seleccionRecetas]="seleccionSuspender" [motivoSelector]="motivoSuspensionSelector"
                              [motivosSuspension]="motivosSuspension" [profesional]="profesional"
                              (reset)="resetSeleccionRecetas()"></suspender-medicacion>
    </div>
    <div class="grow" *ngIf="filtroActual === 'planes'">
        <plex-options class="filtros-ambitos" (activated)='setAmbitoOrigen($event)' [items]="filtrosAmbitos">
        </plex-options>
        <div class="ml-1">
            <plex-button type="info" size="sm" [icon]="showFiltros ? 'chevron-up' : 'chevron-down'"
                         [title]="showFiltros ? 'Cerrar filtros' : 'Ver filtros'" class="float-right"
                         tooltipPosition="left" (click)="toogleFiltros()">
            </plex-button>
        </div>
    </div>
</div>
<ng-container
              *ngIf="filtroActual !== 'solicitudes' && filtroActual !== 'planes' && filtroActual !== 'laboratorios' && filtroActual !== 'vacunas' && filtroActual !== 'dominios'">
    <div *ngIf="hasRegistrosTotales(filtroActual)" class="mb-2">
        <plex-text [(ngModel)]="searchTerm" name="searchTerm" (change)="buscar()" placeholder="Buscar registros..."
                   [autoFocus]="true">
        </plex-text>
    </div>

    <div class="my-2" *ngIf="filtroActual === 'trastorno' && hasRegistrosTotales(filtroActual)">
        <plex-bool [(ngModel)]="filtroTrastornos" name="filtroTrastornos" (change)="filtrarTrastornos()" type="slide"
                   label="{{filtroTrastornos ? 'Activos' : 'Todos'}}">
        </plex-bool>
    </div>


    <!-- Vista Recetas -->
    <ng-container *ngIf="filtroActual === 'recetas'">
        <plex-text [(ngModel)]="searchRecetas" name="searchRecetas" (change)="filtrarRecetas()"
                   placeholder="Buscar recetas..." [autoFocus]="true">
        </plex-text>
        <div class="my-2">
            <ul *ngIf="busquedaRecetas.length" class="hover listado list-unstyled">
                <ng-container *ngFor="let grupo of busquedaRecetas; let iReceta = index">
                    <li>
                        <plex-bool [readonly]="!esRecetaSeleccionable(grupo?.recetas[0])"
                                   [ngModel]="seleccionRecetas[iReceta]" name="seleccionada" type="checkbox"
                                   (change)="seleccionarReceta($event, grupo.recetas, iReceta)">
                        </plex-bool>
                        <div>
                            <div class="row vista-badges" *ngIf="grupo.recetas[0].medicamento.tratamientoProlongado">
                                <span class="pl-2 pr-2 mr-3 upTag" [ngClass]="{'active': huds.isOpen(grupo, 'receta')}">
                                    Tratamiento prolongado: {{grupo.recetas[0].medicamento?.ordenTratamiento + 1
                                    }} de {{grupo.recetas[0].medicamento.tiempoTratamiento?.id}}</span>
                            </div>
                            <div class="rup-card mini recetas" [ngClass]="{'active': huds.isOpen(grupo, 'receta')}"
                                 (click)="emitTabs(grupo, 'receta', iReceta)">

                                <div class="rup-header">
                                    <div class="rup-border rup-border-recetas"
                                         [ngClass]="{'active': huds.isOpen(grupo, 'receta')}">
                                        <div class="row p-0 m-0 border-secondary border-left-0">
                                            <div class="col-9 p-0 m-0">
                                                <div class="row m-0 p-0">
                                                    <div class="col-2 icon-rup drag-handle">
                                                        <i class="adi adi-listado-receta"></i>
                                                    </div>
                                                    <div class="col p-0 pl-2 float-left">
                                                        <div class="row p-0 m-0 titulo">
                                                            {{ grupo.recetas[0].medicamento.concepto.term }}</div>
                                                        <div class="row p-0 m-0">
                                                            <div class="col-10 p-0 m-0">
                                                                <div class="sugerido">
                                                                    <small>Fecha de Registro:
                                                                        {{ grupo.recetas[0].fechaRegistro | date:'short'
                                                                        }}
                                                                    </small>
                                                                    <br>
                                                                    <small>Profesional: {{
                                                                        grupo.recetas[0].profesional.nombre }} {{
                                                                        grupo.recetas[0].profesional.apellido }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 p-0 m-0">
                                                <div class="p-0 pt-1 pr-1 float-right">
                                                    <div class="vista-badges">
                                                        <plex-badge *ngIf="grupo.recetas[0].estadoActual" size="sm"
                                                                    [type]="estadoReceta[grupo.recetas[0].estadoActual.tipo]">
                                                            {{ grupo.recetas[0].estadoActual.tipo.replace('-', ' ') }}
                                                        </plex-badge>
                                                        <plex-badge *ngIf="grupo.recetas[0].estadoDispensaActual"
                                                                    size="sm"
                                                                    [type]="estadoDispensa[grupo.recetas[0].estadoDispensaActual.tipo]">
                                                            {{ grupo.recetas[0].estadoDispensaActual.tipo.replace('-', '
                                                            ')
                                                            }}
                                                        </plex-badge>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>

        <div *ngIf="!busquedaRecetas.length">
            <hr class="mt-0">
            <div class="item-lista-vacia">
                <plex-label size="sm" justify="center" icon="adi adi-listado-receta"
                            titulo="No hay recetas registradas">
                </plex-label>
            </div>
        </div>
    </ng-container>

</ng-container>
<div class="row huds-busqueda">
    <div class="col mb-0">
        <!-- Vista: SOLICITUDES -->
        <ng-container *ngIf="filtroActual === 'solicitudes'">
            <ul class="hover listado list-unstyled mb-0">
                <ng-container *ngFor="let registro of solicitudesMezcladas; let iPrestacion = index">
                    <li>
                        <div class="rup-card mini procedimiento"
                             [ngClass]="{'active': huds.isOpen(registro, 'solicitud') ||  huds.isOpen(registro, 'concepto'), 'solicitud': true}"
                             (click)="clickSolicitud(registro, iPrestacion)">
                            <div class="rup-header">
                                <div class="rup-border rup-border-procedimiento"
                                     [ngClass]="{'active': huds.isOpen(registro, 'solicitud') ||  huds.isOpen(registro, 'concepto'), 'rup-border-plan': true}">
                                    <div class="row p-0 m-0 border-secondary border-left-0">
                                        <div class="col-10 p-0 m-0">
                                            <div class="row m-0 p-0">
                                                <div class="col-2 icon-rup drag-handle">
                                                    <i class='adi adi-mano-corazon'></i>
                                                </div>
                                                <div class="col p-0 pl-2 float-left">
                                                    <ng-container *ngIf='registro.evoluciones'>
                                                        {{ registro.concepto.term }}</ng-container>
                                                    <ng-container *ngIf='!registro.evoluciones'>
                                                        {{ registro.solicitud.tipoPrestacion.term }}
                                                    </ng-container>
                                                    <div class="row p-0 m-0">
                                                        <div class="col-10 p-0 m-0">
                                                            <div class="sugerido">
                                                                <small>Creada:
                                                                    <ng-container *ngIf='registro.evoluciones'>
                                                                        {{ registro.evoluciones[0].fechaCarga | fecha }}
                                                                    </ng-container>
                                                                    <ng-container *ngIf='!registro.evoluciones'>
                                                                        {{ registro.createdAt | fecha }}</ng-container>
                                                                </small>
                                                                <br>
                                                                <small>Profesional:
                                                                    <ng-container *ngIf='registro.evoluciones'>
                                                                        {{ registro.evoluciones[0].profesional }}
                                                                    </ng-container>
                                                                    <ng-container *ngIf='!registro.evoluciones'>
                                                                        {{ registro.solicitud.profesionalOrigen | nombre
                                                                        }}
                                                                    </ng-container>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 p-0 m-0">
                                            <div class="p-0 pt-1 pr-1 float-right">
                                                <plex-badge size="sm"
                                                            [type]="registro.estadoActual.tipo === 'validada' ? 'success' :'info'"
                                                            *ngIf="registro.estadoActual">
                                                    {{ registro.estadoActual.tipo }}
                                                    <plex-button *ngIf='registro.evoluciones' size="sm" type="info"
                                                                 icon="information-outline"
                                                                 title="Registrado por profesional"
                                                                 titlePosition="left">
                                                    </plex-button>
                                                    <plex-button *ngIf='!registro.evoluciones' size="sm" type="info"
                                                                 icon="information-outline"
                                                                 title="Registrado por gestión" titlePosition="left">
                                                    </plex-button>
                                                </plex-badge>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="!solicitudesMezcladas.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-mano-corazon"
                                titulo="No hay solicitudes registradas">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: HALLAZGOS -->
        <ng-container *ngIf="filtroActual === 'hallazgo'">
            <ul *ngIf="hasRegistrosTotales(filtroActual)" class="hover listado list-unstyled">
                <ng-container *ngFor="let registro of registrosTotales.hallazgo ; let iConcepto = index">
                    <li>
                        <div class="rup-card mini hallazgo"
                             [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'solicitud': registro.esSolicitud}"
                             (click)="emitTabs(registro, 'concepto', iConcepto)">
                            <div class="rup-header">
                                <div class="rup-border rup-border-hallazgo"
                                     [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'rup-border-plan': registro.esSolicitud}">
                                    <div class="row p-0 m-0 border-secondary border-left-0">
                                        <div class="col-10 p-0 m-0">
                                            <div class="row m-0 p-0">
                                                <div class="col-2 icon-rup drag-handle">
                                                    <i class="adi adi-lupa-ojo"></i>
                                                </div>
                                                <div class="col p-0 pl-2 float-left">
                                                    {{ registro.concepto.term }}
                                                    <div class="row p-0 m-0">
                                                        <div class="col-10 p-0 m-0">
                                                            <div class="sugerido">
                                                                <small>Prestación:
                                                                    {{ registro.tipoPrestacion }}
                                                                </small>
                                                                <br>
                                                                <small>
                                                                    Creada:
                                                                    {{ registro.fechaEjecucion | fecha }}</small>
                                                                <br>
                                                                <small>Profesional: {{
                                                                    registro.evoluciones[0].profesional}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2 p-0 m-0">
                                            <div class="p-0 pt-1 pr-1 float-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="!registrosTotales.hallazgo.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-hallazgo"
                                titulo="No hay hallazgos registrados">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: TRASTORNOS -->
        <ng-container *ngIf="filtroActual === 'trastorno'">
            <ul *ngIf="hasRegistrosTotales(filtroActual)" class="hover listado list-unstyled" cdkDropList>
                <ng-container *ngFor="let registro of registrosTotales.trastorno; let iConcepto = index">
                    <li>
                        <div class="rup-card mini trastorno"
                             [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'solicitud': registro.esSolicitud}"
                             (click)="emitTabs(registro, 'concepto', iConcepto)">
                            <div class="rup-header">
                                <div class="rup-border rup-border-trastorno"
                                     [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'rup-border-plan': registro.esSolicitud}">
                                    <div class="row p-0 m-0 border-secondary border-left-0">
                                        <div class="col-10 p-0 m-0">
                                            <div class="row m-0 p-0">
                                                <div class="icon-rup drag-handle p-0 pt-1" draggable
                                                     [dragScope]="'registros-rup'" [dragData]="registro.concepto"
                                                     (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)">
                                                    <i class="adi adi-trastorno"></i>
                                                </div>
                                                <div class="col p-0 pl-2 float-left">
                                                    {{ registro.concepto.term }}
                                                    <div class="row p-0 m-0">
                                                        <div class="col-10 p-0 m-0">
                                                            <div class="sugerido">
                                                                <small>Prestación:
                                                                    {{ registro.evoluciones[0].tipoPrestacion }}</small>
                                                                <br>
                                                                <small>Última evolución:
                                                                    {{ registro.evoluciones[0].fechaCarga | fecha
                                                                    }}</small>
                                                                <br>
                                                                <small>Profesional:
                                                                    {{ registro.evoluciones[0].profesional }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2 p-0 m-0">
                                            <div class="p-0 pt-1 pr-1 float-right">
                                                <ng-container *ngIf="registro.evoluciones">
                                                    <plex-badge size="sm"
                                                                [type]="registro.evoluciones[0].estado === 'activo' ? 'success' : 'danger'">
                                                        {{ registro.evoluciones[0].estado }}
                                                    </plex-badge>
                                                </ng-container>
                                                <button class="btn btn-sm btn-primary btn-icon-rup p-0"
                                                        *ngIf="emitirConceptos && registro?.evoluciones[0]?.estado !== 'resuelto' "
                                                        (click)="$event.stopPropagation(); agregarRegistro(registro)"
                                                        title="Agregar a la consulta" titlePosition="left">
                                                    <i class="mdi mdi-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="!registrosTotales.trastorno.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-trastorno"
                                titulo="No hay trastornos registrados">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: PROCEDIMIENTOS -->
        <ng-container *ngIf="filtroActual === 'procedimiento'">
            <ul *ngIf="hasRegistrosTotales(filtroActual)" class="hover listado list-unstyled">
                <ng-container *ngFor="let registro of registrosTotales.procedimiento; let iPrestacion = index">
                    <li>
                        <div class="rup-card mini procedimiento"
                             [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'solicitud': registro.esSolicitud}"
                             (click)="emitTabs(registro, 'concepto', iPrestacion)">
                            <div class="rup-header">
                                <div class="rup-border rup-border-procedimiento"
                                     [ngClass]="{'active': huds.isOpen(registro, 'concepto'), 'rup-border-plan': registro.esSolicitud}">
                                    <div class="row p-0 m-0 border-secondary border-left-0">
                                        <div class="col-10 p-0 m-0">
                                            <div class="row m-0 p-0">
                                                <div class="col-2 icon-rup drag-handle">
                                                    <i class="adi" [class.adi-termometro]="!registro.isSolicitud"
                                                       [class.adi-mano-corazon]="registro.esSolicitud"></i>
                                                </div>
                                                <div class="col p-0 pl-2 float-left">
                                                    {{ registro.concepto.term }}
                                                    <div class="row p-0 m-0">
                                                        <div class="col-10 p-0 m-0">
                                                            <div class="sugerido">
                                                                <small>Prestación:
                                                                    {{ registro.tipoPrestacion }}
                                                                </small>
                                                                <br>
                                                                <small>Creada:
                                                                    {{ registro.fechaEjecucion | fecha }}</small>
                                                                <br>
                                                                <small>Profesional: {{
                                                                    registro.evoluciones[0].profesional}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2 p-0 m-0">
                                            <div class="p-0 pt-1 pr-1 float-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="!registrosTotales.procedimiento.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-termometro"
                                titulo="No hay procedimientos registrados">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: PLANES -->
        <ng-container *ngIf="filtroActual === 'planes'">
            <ng-container *ngIf="showFiltros">
                <div class="row">
                    <div class="col-12">
                        <plex-select [(ngModel)]="prestacionSeleccionada" label="Prestación" [data]="tiposPrestacion"
                                     idField="conceptId" labelField="term" (change)="filtrar()" [multiple]="true">
                        </plex-select>
                    </div>
                </div>
                <div *ngIf="!efectorRestringido" class="row">
                    <div class="col-12">
                        <plex-select [(ngModel)]="organizacionSeleccionada" label="Organización" [data]="organizaciones"
                                     idField="id" labelField="nombre" (change)="filtrar()">
                        </plex-select>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-6">
                        <plex-datetime type="date" [(ngModel)]="fechaInicio" (change)="filtrar()" name="fechaInicio"
                                       label="Fecha Desde" [debounce]="400">
                        </plex-datetime>
                    </div>
                    <div class="col-6">
                        <plex-datetime type="date" [(ngModel)]="fechaFin" (change)="filtrar()" name="fechaFin"
                                       label="Fecha Hasta" [debounce]="400">
                        </plex-datetime>
                    </div>
                </div>
            </ng-container>

            <ul *ngIf="prestaciones" class="mt-2 hover listado list-unstyled">
                <div class="lista-internacion" *ngIf="ambitoOrigen === 'internacion'">
                    <ng-container>
                        <plex-accordion activeLast="true" *ngFor="let internacion of indiceInternaciones">
                            <plex-panel>
                                <div plex-accordion-title case="capitalize">
                                    <div class="d-flex">
                                        <div class="icono"><plex-icon class="icon" size="lg"
                                                       name="documento"></plex-icon></div>
                                        <div>
                                            Detalle de la internacion
                                            <br>
                                            <div class="detalle">
                                                <div class="d-flex fechas">
                                                    <small><b>Ingreso:</b> {{internacion.fechaIngreso | fecha}}</small>
                                                    <small *ngIf="internacion.fechaEgreso"><b>Egreso:</b>
                                                        {{internacion.fechaEgreso | fecha}}</small>
                                                </div>
                                                <small>{{internacion.organizacion}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group">
                                    <div *ngFor="let registro of internacion.registros; let iInternacion = index"
                                         class="item-prestacion list-group-item"
                                         [ngClass]="{'activo': huds.someOpen(internacion, iInternacion)}"
                                         (click)="emitTabs(internacion, 'internacion', iInternacion)">
                                        <div *ngIf="registro.conceptId === '430147008'" class="icono hidrico">
                                            <plex-icon class="icon" size="lg" name="mano-gota"></plex-icon>
                                        </div>
                                        <div *ngIf="registro.conceptId === '33633005'" class="icono medico">
                                            <plex-icon class="icon" size="lg" name="pildoras"></plex-icon>
                                        </div>
                                        <div *ngIf="!registro.conceptId" class="icono otras"><plex-icon class="icon"
                                                       size="lg" name="circulo-paciente"></plex-icon></div>
                                        <div class="titulo text-capitalize">
                                            <p>{{registro.term || 'Evoluciones y otros registros'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </plex-panel>
                        </plex-accordion>
                    </ng-container>
                    <ng-container>
                        <plex-accordion activeLast="true" *ngIf="otrasPrestaciones.indices.length">
                            <plex-panel>
                                <div plex-accordion-title case="capitalize">
                                    <div class="d-flex">
                                        <div class="icono"><plex-icon class="icon" size="lg"
                                                       name="documento"></plex-icon></div>
                                        <div>
                                            Prestación fuera de internación
                                            <br>
                                            <div class="d-flex fechas">
                                                <small><b>Desde:</b> {{otrasPrestaciones.fechaDesde |
                                                    fecha}}</small>
                                                <small><b>Hasta:</b> {{otrasPrestaciones.fechaHasta |
                                                    fecha}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group">
                                    <div *ngFor="let indice of otrasPrestaciones.indices; let iInternacion = index"
                                         class="item-prestacion list-group-item"
                                         [ngClass]="{'activo': huds.someOpen(internacion, iInternacion)}"
                                         (click)="emitTabs(otrasPrestaciones, 'internacion', iInternacion)">
                                        <div *ngIf="indice.conceptId === '430147008'" class="icono hidrico"><plex-icon
                                                       class="icon" size="lg" name="mano-gota"></plex-icon></div>
                                        <div *ngIf="indice.conceptId === '33633005'" class="icono medico"><plex-icon
                                                       class="icon" size="lg" name="pildoras"></plex-icon></div>
                                        <div *ngIf="!indice.conceptId" class="icono otras"><plex-icon class="icon"
                                                       size="lg" name="circulo-paciente"></plex-icon></div>
                                        <div class="titulo text-capitalize">
                                            <p>{{indice.term || 'Evoluciones y otros registros'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </plex-panel>
                        </plex-accordion>
                    </ng-container>
                    <div *ngIf="!indiceInternaciones?.length && !otrasPrestaciones.indices.length">
                        <hr class="mt-0">
                        <div class="item-lista-vacia">
                            <plex-label size="sm" justify="center" icon="adi adi-clipboard-check-outline"
                                        titulo="No hay prestaciones registradas">
                            </plex-label>
                        </div>
                    </div>
                </div>

                <div *ngIf="ambitoOrigen === 'ambulatorio'">
                    <ng-container *ngFor="let prestacion of prestaciones; let iPrestacion = index">
                        <li>
                            <div class="rup-card mini prestacion"
                                 [ngClass]="{'active': huds.isOpen(prestacion.data, prestacion.tipo)}"
                                 (click)="emitTabs(prestacion, prestacion.tipo, iPrestacion)">
                                <div class="rup-header">
                                    <div class="rup-border rup-border-prestacion"
                                         [ngClass]="{'active': huds.isOpen(prestacion.data, prestacion.tipo)}">
                                        <div class="row p-0 m-0 border-secondary border-left-0">
                                            <div class="col-10 p-0 m-0">
                                                <div class="row m-0 p-0">
                                                    <div class="col-2 icon-rup drag-handle">
                                                        <i class="adi adi-clipboard-check-outline"></i>
                                                    </div>
                                                    <div class="col p-0 pl-2 float-left">
                                                        {{ prestacion.prestacion.term }}
                                                        <div class="row p-0 m-0">
                                                            <div class="col-10 p-0 m-0">
                                                                <div class="sugerido">
                                                                    <small *ngIf="prestacion.data.ejecucion">
                                                                        Fecha:
                                                                        {{ prestacion.data.ejecucion.fecha | fecha }}
                                                                    </small>
                                                                    <small *ngIf="!prestacion.data.ejecucion">
                                                                        Fecha:
                                                                        {{ prestacion.fecha | fecha }}
                                                                    </small>
                                                                    <br>
                                                                    <small>
                                                                        Profesional:
                                                                        {{ prestacion.profesional }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 p-0 m-0">
                                                <div class="p-0 pt-1 pr-1 float-right">
                                                    <plex-badge size="sm"
                                                                [type]=" prestacion.tipo !== 'ficha-epidemiologica' ? 'success' : 'info'">
                                                        {{prestacion.estado}}
                                                    </plex-badge>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <div *ngIf="!prestaciones.length">
                        <hr class="mt-0">
                        <div class="item-lista-vacia">
                            <plex-label size="sm" justify="center" icon="adi adi-clipboard-check-outline"
                                        titulo="No hay prestaciones registradas">
                            </plex-label>
                        </div>
                    </div>
                </div>
            </ul>
        </ng-container>

        <!-- Vista: PRODUCTOS -->
        <ng-container *ngIf="filtroActual === 'producto'">
            <ul *ngIf="hasRegistrosTotales(filtroActual)" class="conceptos hover list-unstyled">
                <ng-container *ngFor="let registro of this.registrosTotales.producto; let iCronico = index">
                    <li>
                        <div class="rup-card mini producto" [ngClass]="{'active': huds.isOpen(registro, 'concepto')}"
                             (click)="emitTabs(registro, 'concepto', iCronico)">
                            <div class="rup-header">
                                <div class="rup-border rup-border-producto">
                                    <div class="row p-0 m-0 border-secondary border-left-0">
                                        <div class="col-2 icon-rup drag-handle">
                                            <i class="adi adi-pildoras"></i>
                                        </div>
                                        <div class="col p-0 pl-2 float-left">
                                            {{ registro.concepto.term }}
                                            <div class="row p-0 m-0">
                                                <div class="col-10 p-0 m-0">
                                                    <div class="sugerido">
                                                        <ng-container *ngIf="registro.evoluciones">
                                                            <small>Prestación: {{ registro.tipoPrestacion }}</small>
                                                            <br>
                                                            <small>Último registro: {{ registro.fechaEjecucion | fecha
                                                                }}</small>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 p-0 m-0">
                                            <div class="p-0 pt-1 pr-1 float-right">
                                                <ng-container *ngIf="registro.evoluciones">
                                                    <plex-badge size="sm"
                                                                [type]="registro.evoluciones[registro.evoluciones.length-1].estado === 'activo' ? 'success' : 'danger'">
                                                        {{ registro.evoluciones[registro.evoluciones.length-1].estado }}
                                                    </plex-badge>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="!registrosTotales.producto.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-pildoras"
                                titulo="No hay productos registrados">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: LABORATORIOS -->
        <ng-container *ngIf="filtroActual === 'laboratorios'">
            <div *ngIf="laboratorios.length" class="conceptos hover list-unstyled">
                <ul class="listado list-unstyled">
                    <ng-container *ngFor="let laboratorio of laboratorios; let iLaboratorio = index">
                        <li>
                            <div class="rup-card mini laboratorio"
                                 [ngClass]="{'active': huds.isOpen(laboratorio,  laboratorio.idProtocolo ? 'laboratorio' : 'cda')}">
                                <div class="rup-header">
                                    <div class="rup-border rup-border-laboratorio">
                                        <div class="row p-0 m-0 border-secondary border-left-0">
                                            <div class="col-10 p-0 m-0">
                                                <div class="row m-0 p-0">
                                                    <ng-container>
                                                        <div class="icon-rup">
                                                            <i class="adi adi-recipiente"></i>
                                                        </div>
                                                    </ng-container>
                                                    <div class="col p-0 pl-2 float-left"
                                                         (click)="emitTabs(laboratorio, laboratorio.idProtocolo ? 'laboratorio' : 'cda', iLaboratorio)">
                                                        <div>
                                                            <small>
                                                                <span *ngIf="laboratorio?.prestacion?.term">{{
                                                                    laboratorio?.prestacion?.term}}</span>
                                                                <span *ngIf="laboratorio?.idProtocolo">Informe de
                                                                    laboratorio:
                                                                    <b>Protocolo {{laboratorio?.numero}}</b>
                                                                </span>
                                                            </small>
                                                        </div>
                                                        <div class="row p-0 m-0">
                                                            <div class="col-10 p-0 m-0">
                                                                <div *ngIf="laboratorio?.documento">
                                                                    <small>Paciente: <b>{{ laboratorio?.apellido
                                                                            }}, {{
                                                                            laboratorio?.nombre }}</b></small>
                                                                </div>
                                                                <div>
                                                                    <small>Organización: <b>{{
                                                                            laboratorio?.data?.organizacion?.nombre ||
                                                                            laboratorio?.efectorSolicitante
                                                                            }}</b></small>
                                                                </div>
                                                                <div *ngIf="laboratorio?.fecha " class="text-xs">
                                                                    <small>Fecha: <b>{{laboratorio?.fecha |
                                                                            fecha}}</b></small>
                                                                </div>
                                                                <div *ngIf="laboratorio?.efectorSolicitante || laboratorio?.profesional"
                                                                     class="text-sm">
                                                                    <small>Médico solicitante: <b>{{
                                                                            laboratorio?.medicoSolicitante ||
                                                                            laboratorio?.profesional }}</b></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf="!laboratorios.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-recipiente"
                                titulo="No hay laboratorios registrados">
                    </plex-label>
                </div>
            </div>
        </ng-container>

        <!-- Vista: VACUNAS -->
        <ng-container *ngIf="filtroActual === 'vacunas'">
            <div *ngIf="vacunas && vacunas.length > 0" class="conceptos hover list-unstyled">
                <ul class="listado list-unstyled">
                    <ng-container *ngFor="let unaVacuna of vacunas; let iVacuna = index">
                        <li>
                            <div class="rup-card mini vacuna" [ngClass]="{'active': huds.isOpen(unaVacuna, 'cda')}">
                                <div class="rup-header">
                                    <div class="rup-border rup-border-vacuna">

                                        <div class="row p-0 m-0 border-secondary border-left-0">
                                            <div class="col-10 p-0 m-0">
                                                <div class="row m-0 p-0">
                                                    <ng-container>
                                                        <div justify="center" class="icon-rup">
                                                            <i class="adi adi-vacuna"></i>
                                                        </div>
                                                    </ng-container>
                                                    <div class="col p-0 pl-2 float-left"
                                                         (click)="emitTabs(unaVacuna, 'cda', iVacuna)">
                                                        {{ unaVacuna?.prestacion.term }}
                                                        <div class="row p-0 m-0">
                                                            <div class="col-10 p-0 m-0">
                                                                <ng-container *ngIf="unaVacuna">
                                                                    <div class="text-sm">Profesional:
                                                                        <ng-container *ngIf="unaVacuna?.profesional">
                                                                            {{unaVacuna?.profesional?.nombre}}
                                                                        </ng-container>
                                                                    </div>
                                                                    <small class="sugerido">Fecha: {{unaVacuna?.fecha |
                                                                        fecha}}
                                                                    </small>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf="!vacunas.length">
                <hr class="mt-0">
                <div class="item-lista-vacia">
                    <plex-label size="sm" justify="center" icon="adi adi-vacuna" titulo="No hay vacunas registradas">
                    </plex-label>
                </div>
            </div>
        </ng-container>
    </div>
</div>