<div class="row">
    <div class="col">

        <div class="menu-huds">
            <plex-button type="problemas btn-sm m-0" label="HALLAZGOS" (click)="actualizarVista('hallazgos')">
            </plex-button>
            <plex-button type="planes btn-sm m-0" label="PRESTACIONES" (click)="actualizarVista('prestaciones')">
            </plex-button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

        <!-- Vista: Hallazgos -->
        <ng-container *ngIf="vista === 'hallazgos'">

            <!-- HALLAZGOS CRÓNICOS ONLY -->
            <div class="vista-titulo">Hallazgos crónicos</div>
            <ul *ngIf="hallazgosCronicos" class="conceptos list-unstyled">
                <ng-container *ngFor="let hallazgo of hallazgosCronicos; let iCronico = index">
                    <li draggable class="" [dragHandle]="'.drag-bar'" [dragScope]="_dragScope" [dragOverClass]="_dragOverClass" [dragData]="{'tipo': 'hallazgo','data': hallazgo, 'huds': true}" (onDragStart)="dragStart($e)" (onDragEnd)="dragEnd($e)">
                        <div class="rup-card mini hallazgo" [ngClass]="{'active': eyeCronico === iCronico || estaEnTabs(hallazgo, 'hallazgo')}" (mouseenter)="eyeCronico = iCronico" (mouseleave)="eyeCronico = -1">
                            <div class="type">
                                <i *ngIf="emitirConceptos" #dragHandle class="drag-bar drag-handle mdi mdi-drag-vertical"></i>
                            </div>
                            <div class="rup-content hover" (click)="devolverRegistrosHuds(hallazgo, 'hallazgo')">
                                <span *ngIf="iCronico === eyeCronico" class="float-right text-problemas p-1">
                                            <i class="mdi mdi-eye"></i>
                                        </span>
                                <div class="header">
                                    <div class="title" [ngClass]="{'text-problemas': eyeCronico === iCronico}">
                                        {{ hallazgo.concepto.term }}
                                    </div>
                                    <br>
                                    <small *ngIf="hallazgo.evoluciones">
                                        última evolución: {{ hallazgo.evoluciones[0].fechaCarga | fecha }}
                                        <br> estado: {{ hallazgo.evoluciones[0].estado }}
                                    </small>
                                </div>

                            </div>

                            <div class="float-right p-1" *ngIf="emitirConceptos">
                                <a href="javascript: void(0)" (click)="devolverHallazgo(hallazgo)" title="Agregar a la consulta" titlePosition="left">
                                    <i class="mdi mdi-plus-box-outline"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="hallazgosCronicos.length === 0">No hay problemas crónicos</div>

            <!-- HALLAZGOS ACTIVOS ONLY -->
            <div class="vista-titulo">Hallazgos activos</div>
            <ul *ngIf="problemasActivos" class="conceptos list-unstyled">
                <ng-container *ngFor="let problema of problemasActivos; let iActivo = index">
                    <li draggable class="" [dragHandle]="'.drag-bar'" [dragScope]="_dragScope" [dragOverClass]="_dragOverClass" [dragData]="{'tipo': 'hallazgo','data': problema, 'huds': true}" (onDragStart)="dragStart($e)" (onDragEnd)="dragEnd($e)">

                        <div class="rup-card mini hallazgo" [ngClass]="{'active': eyeActivo === iActivo || estaEnTabs(problema, 'hallazgo')}" (mouseenter)="eyeActivo = iActivo" (mouseleave)="eyeActivo = -1">
                            <div class="type">
                                <i *ngIf="emitirConceptos" #dragHandle class="drag-bar drag-handle mdi mdi-drag-vertical"></i>
                            </div>
                            <div class="rup-content hover" (click)="devolverRegistrosHuds(problema, 'hallazgo')">
                                <span *ngIf="iActivo === eyeActivo" class="float-right text-problemas p-1">
                                            <i class="mdi mdi-eye"></i>
                                        </span>
                                <div class="header">
                                    <div class="title" [ngClass]="{'text-problemas': eyeActivo === iActivo}">
                                        {{ problema.concepto.term }}
                                    </div>
                                    <br>
                                    <small *ngIf="problema.evoluciones">
                                        última evolución: {{ problema.evoluciones[0].fechaCarga | fecha }}
                                        <br> estado: {{ problema.evoluciones[0].estado }}
                                    </small>
                                    <br>
                                </div>
                            </div>

                            <div class="float-right p-1" *ngIf="emitirConceptos">
                                <a href="javascript: void(0)" (click)="devolverHallazgo(problema)" title="Agregar a la consulta" titlePosition="left">
                                    <i class="mdi mdi-plus-box-outline"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="problemasActivos.length === 0">No hay problemas activos</div>

            <!-- OTROS HALLAZGOS -->
            <div class="vista-titulo">Otros Hallazgos</div>
            <ul *ngIf="hallazgosNoActivos" class="conceptos list-unstyled">
                <ng-container *ngFor="let problema of hallazgosNoActivos; let iOtros = index">
                    <li draggable class="" [dragHandle]="'.drag-bar'" [dragScope]="_dragScope" [dragOverClass]="_dragOverClass" [dragData]="{'tipo': 'hallazgo','data': problema, 'huds': true}" (onDragStart)="dragStart($e)" (onDragEnd)="dragEnd($e)">
                        <div class="rup-card mini hallazgo" [ngClass]="{'active': eyeOtros === iOtros || estaEnTabs(problema, 'hallazgo')}">
                            <div class="type">
                                <i *ngIf="emitirConceptos" #dragHandle class="drag-bar drag-handle mdi mdi-drag-vertical"></i>
                            </div>
                            <div class="rup-content hover" (click)="devolverRegistrosHuds(problema, 'hallazgo')" (mouseenter)="eyeOtros = iOtros" (mouseleave)="eyeOtros = -1">
                                <span *ngIf="iOtros === eyeOtros" class="float-right text-problemas p-1">
                                            <i class="mdi mdi-eye"></i>
                                        </span>
                                <div class="header">
                                    <div class="title" [ngClass]="{'text-problemas': eyeOtros === iOtros}">
                                        {{ problema.concepto.term }}
                                    </div>
                                    <br>
                                    <small *ngIf="problema.evoluciones">
                                        última evolución: {{ problema.evoluciones[0].fechaCarga | fecha}}
                                        <br> estado: {{ problema.evoluciones[0].estado }}
                                        <br>
                                        <span class="badge-info" *ngIf="problema.evoluciones[0].estado == 'transformado'">
                                            Transformado en: {{ problema.transformado?.concepto.term }}
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="hallazgosNoActivos.length === 0">No hay otros problemas</div>
        </ng-container>


        <!-- Vista: prestaciones -->
        <ng-container *ngIf="vista == 'prestaciones'">
            <div class="vista-titulo">Prestaciones</div>

            <div *ngIf="prestaciones" class="list-group">
                <ng-container *ngFor="let prestacion of prestaciones; let iPrestacion = index">
                    <div class="rup-card mini planes" [ngClass]="{'active': eyePrestacion === iPrestacion || estaEnTabs(prestacion, 'prestacion')}">
                        <div class="type ">
                            <!-- Vacío -->
                        </div>
                        <div class="rup-content hover" (click)="devolverRegistrosHuds(prestacion, 'prestacion')" (mouseenter)="eyePrestacion = iPrestacion" (mouseleave)="eyePrestacion = -1">
                            <div class="header">
                                <div class="title" [ngClass]="{'text-planes': eyePrestacion === iPrestacion}">
                                    <span>{{ prestacion.solicitud.tipoPrestacion.term }}
                                        <small class="m-l-2"> ({{ prestacion.estados[prestacion.estados.length - 1].createdAt | fecha }})</small>
                                    </span>
                                </div>
                                <span *ngIf="iPrestacion === eyePrestacion" class="float-right text-planes m-r-2">
                                    <i class="mdi mdi-eye"></i>
                                </span>
                                <br>
                                <span class="badge badge-{{prestacion.estados[prestacion.estados.length - 1].tipo}}">{{prestacion.estados[prestacion.estados.length - 1].tipo}} </span>
                                <small>Profesional: {{ prestacion.estados[prestacion.estados.length - 1].createdBy.nombreCompleto}}</small>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>