<header *ngIf="prestacion">
    <header-paciente *ngIf="paciente" [paciente]="paciente"></header-paciente>
</header>
<section *ngIf="!showDarTurnos && prestacion && paciente">
    <plex-box>
        <header>
            <div class="clearfix">
                <div *ngIf="prestacion?.solicitud">
                    <div class="page-title">Resumen
                        <b>{{prestacion.solicitud.tipoPrestacion.term}}</b> -
                        <span>{{prestacion.solicitud.fecha | date: 'EEE dd/M/yyyy'}}</span>
                    </div>
                    <div class="col-3 float-right text-right">
                        <plex-button icon="information-outline" type="info" class="" title="Ver Información de la Solicitud" *ngIf="!showDatosSolicitud"
                            (click)="mostrarDatosSolicitud(true)"></plex-button>
                        <plex-button icon="information" type="info" class="" title="Ver Registros de la Solicitud" *ngIf="showDatosSolicitud" (click)="mostrarDatosSolicitud(false)"></plex-button>
                    </div>
                </div>
            </div>
        </header>
        <!-- div de la info de la solicitud -->
        <div [hidden]="!showDatosSolicitud">
            <!-- <h3> {{prestacion.solicitud.tipoPrestacion.term}} </h3> -->
            <p>
                <b>Solicitada por el profesional:</b> {{prestacion.solicitud.profesional | profesional }}
                <br>
                <b>Desde la Organización:</b> {{prestacion.solicitud.organizacion.nombre}}
                <br>
                <b>Fecha:</b> {{prestacion.solicitud.fecha | date}}
            </p>
            <p *ngIf="prestacion.solicitud.prestacionOrigen">
                Prestación de origen: {{prestacion.solicitud.prestacionOrigen}}
            </p>
        </div>
        <div class="row">
            <div class="col-9">
                <ng-container *ngFor="let elemento of prestacion.ejecucion.registros; let i = index">
                    <div class="rup-card" [ngClass]="{'ml-3 pr-3': !elemento.esDiagnosticoPrincipal}">
                        <div class="type {{ elemento.esSolicitud ? 'planes' : elemento.concepto.semanticTag }}">
                        </div>
                        <div class="rup-content">
                            <div class="rup-body">
                                <div class="row">
                                    <div class="col-3">
                                        <b *ngIf="elemento?.nombre">
                                            {{elemento.nombre[0].toUpperCase() + elemento.nombre.slice(1)}}
                                        </b>
                                        <br>
                                        <div class="small text-secondary text-truncate" *ngIf="elemento?.valor?.evolucion">{{ elemento?.valor?.evolucion }}</div>
                                    </div>
                                    <div class="col-8">
                                        <rup [paciente]="paciente" [elementoRUP]="elementosRUPService.buscarElemento(elemento.concepto, elemento.esSolicitud)" [prestacion]="prestacion"
                                            [registro]="elemento" [soloValores]="true">
                                        </rup>
                                        <div *ngIf="elemento.esSolicitud && prestacion.estados[prestacion.estados.length-1].tipo === 'validada'">
                                            <plex-button label="Asignar turno" type="primary" (click)="darTurno(elemento.prestacionSolicitud)"></plex-button>
                                        </div>
                                        <ng-container *ngIf="(elemento.concepto.semanticTag === 'hallazgo' || elemento.concepto.semanticTag ==='situación' || elemento.concepto.semanticTag === 'trastorno')">
                                            <!-- <small class="badge badge-info" *ngIf="prestacion.estados[prestacion.estados.length - 1].tipo === 'validada' && elemento.esDiagnosticoPrincipal">
                                                Diagnóstico principal
                                            </small> -->
                                            <!-- title="Diagnóstico principal" titlePosition="right" -->
                                            <ng-container *ngIf="prestacion.estados[prestacion.estados.length - 1].tipo !== 'validada'">
                                                <!-- <plex-bool class="text-sm"  [readonly]="false" [(ngModel)]="elemento.esDiagnosticoPrincipal"
                                                    type="slide" name="Diagnóstico principal"></plex-bool> -->
                                                <!--  title="{{ elemento.esDiagnosticoPrincipal ? 'Seleccionar' : 'Deseleccionar'}}" -->
                                                <small title="{{ !elemento.esDiagnosticoPrincipal ? 'Establecer como diagnóstico principal' : 'Diagnóstico principal'}}"
                                                    class="pt-3">
                                                    <span (click)="diagnosticoPrestacion(elemento)" class="hover text-info mdi mdi-36px" [ngClass]="{
                                                        'mdi-toggle-switch': elemento.esDiagnosticoPrincipal,
                                                        'mdi-toggle-switch-off': !elemento.esDiagnosticoPrincipal
                                                    }">
                                                    </span>
                                                </small>
                                            </ng-container>

                                            <!--  title="Es primera vez" titlePosition="right" -->
                                            <ng-container *ngIf="codigosCie10 && codigosCie10[elemento.id] && codigosCie10[elemento.id].c2">
                                                <small title="{{ !elemento.esPrimeraVez ? 'Es primera vez' : 'Es primera vez'}}" class="pt-3">
                                                    <span (click)="primeraVez(elemento)" class="hover text-info mdi mdi-36px" [ngClass]="{
                                                        'mdi-toggle-switch': elemento.esPrimeraVez,
                                                        'mdi-toggle-switch-off': !elemento.esPrimeraVez
                                                    }">
                                                    </span>
                                                </small>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="col-1 m-0 p-0 text-center">
                                        <div class="text-info hover mdi mdi-24px mdi-arrow-{{ elemento.icon || 'left' }}-drop-circle-outline" (click)="elemento.icon = elemento.icon === 'down' ? 'left' : 'down'"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" *ngIf="elemento.icon === 'down'">
                                        <div *ngIf="elemento?.valor?.evolucion" class="text-secondary">
                                            <b>Evolución: </b>{{ elemento.valor.evolucion }}
                                        </div>
                                        <div *ngIf="elemento?.valor?.motivo" class="text-secondary">
                                            <b>Motivo:</b> {{ elemento.valor.motivo || '(no definido)' }}
                                        </div>
                                        <div *ngIf="elemento?.valor?.indicaciones" class="text-secondary">
                                            <b>Indicaciones: </b> {{ elemento.valor.indicaciones || '(ninguna)' }}
                                        </div>
                                        <div *ngIf="elemento?.relacionadoCon && elemento?.relacionadoCon.length > 0" class="text-secondary">
                                            <b>Relacionado con:</b> {{ elemento.relacionadoCon[0].concepto.term[0].toUpperCase()
                                            + elemento.relacionadoCon[0].concepto.term.slice(1)}}
                                        </div>
                                        <div class="text-secondary">
                                            <b>Inicio aproximado: </b>
                                            <ng-container *ngIf="!elemento?.evoluciones">{{ elemento.valor.fechaInicio | fromNow }}</ng-container>
                                            <ng-container *ngIf="elemento?.evoluciones">{{ elemento.evoluciones[0].fechaInicio | fromNow }}</ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-3">
                <!-- ÁRBOL -->
                <plex-box>
                    <header>
                        <div class="clearfix">
                            <div *ngIf="prestacion?.ejecucion?.registros">
                                <div class="page-title">Relaciones
                                </div>
                            </div>
                        </div>
                    </header>
                    <ng-container *ngFor="let rama of prestacion.ejecucion.registros; let iRama = index">
                        <ul class="list-group">
                            <li [ngClass]="{'ml-0': !rama.esDiagnosticoPrincipal}" class="list-group-item pl-0 pt-0 pb-0 mb-0">
                                <div>
                                    <span class="type {{ rama.esSolicitud ? 'planes' : rama.concepto.semanticTag }} pr-2 mr-1"></span>
                                    <!-- [ngClass]="{'font-weight-bold': rama.esDiagnosticoPrincipal}" -->
                                    <small>{{ rama.nombre }}

                                        <small class="badge badge-info" *ngIf="rama.esDiagnosticoPrincipal">
                                            Diagnóstico principal
                                        </small>
                                    </small>
                                </div>
                                <!-- <rup [paciente]="paciente" [elementoRUP]="elementosRUPService.buscarElemento(rama.concepto, rama.esSolicitud)" [prestacion]="prestacion"
                                [registro]="rama" [soloValores]="true" [params]="{arbol: true}">
                            </rup> -->
                            </li>
                        </ul>
                    </ng-container>
                </plex-box>
            </div>
        </div>
    </plex-box>
</section>
<footer *ngIf="!showDarTurnos">
    <div class="row">
        <div class="col-3">
            <plex-button *ngIf="prestacion && prestacion.estados && prestacion.estados[prestacion.estados.length-1].tipo === 'ejecucion'"
                label="Continuar {{prestacion.solicitud.tipoPrestacion.term}}" (click)="volver()" type="info"></plex-button>

            <plex-button *ngIf="prestacion && prestacion.estados && prestacion.estados[prestacion.estados.length-1].tipo === 'validada'"
                label="Punto de Inicio" (click)="volverInicio()" type="info"></plex-button>
        </div>
        <div class=" col-6 text-center">
        </div>
        <div class="col text-right ">

            <plex-button *ngIf="prestacion && prestacion.estados && prestacion.estados[prestacion.estados.length-1].tipo !== 'validada'"
                label="Validar {{prestacion.solicitud.tipoPrestacion.term}}" (click)="validar()" type="success"></plex-button>

            <plex-button label="Romper Validación de {{prestacion?.solicitud?.tipoPrestacion?.term}}" (click)="romperValidacion()" type="danger"
                *ngIf="prestacion && prestacion.estados
                && prestacion.estados[prestacion.estados.length-1].tipo === 'validada'
                && prestacion.estados[prestacion.estados.length-1].createdBy.username === auth.usuario.username">
            </plex-button>
        </div>
    </div>
</footer>

<!-- Calendario para dar turnos autocitados -->
<!-- <pre> {{solicitudTurno | json}}</pre> -->
<dar-turnos *ngIf="showDarTurnos && solicitudTurno" (cancelarDarTurno)="turnoDado($event)" [pacienteSeleccionado]="paciente"
    [solicitudPrestacion]="solicitudTurno" (cancelarDarTurno)="showDarTurnos = false"></dar-turnos>
