@import '../core/rup';
//
.page-title {
    font-weight: 300;
}

.btn-sinonimos {
    vertical-align: 5px;
}

.titulo-preferido {
    font-size: 0.6em;
    color: black;
    font-style: italic;
}

.titulo-fecha {
    font-size: 0.7em;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;
}

.drop-area p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.spin::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms;
}

.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;
}

.drop-posicion-hover {
    border: 2px dashed $dark-grey;
}

.actions .dropdown {
    display: inline-block;
    .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0;
    }
}

.vinculadoCon {
    font-size: 0.7em;
    color: #999;
    margin: 2px 0 0 20px;
    span.badge {
        padding: 7px 5px;
    }
}

.confirmarDesvincular {
    padding: 20px;
    .buttons {
        margin: 10px 0;
    }
}

.row div plex-bool {
    position: relative;
    top: 35px;
}

.row div .unidades-tiempo {
    position: relative;
    top: 34px !important;
}
.panel-acciones {
    a {
        margin: 2px;
    }
}


