<plex-layout *ngIf="!showAutocitar" main="8">
    <plex-layout-main>
        <plex-title titulo="Crear Prestación">
            <plex-button type="danger" label="CANCELAR" (click)="cancelar()">
            </plex-button>
            <plex-button [label]="btnLabel" type="success" (click)="btnClick()"
                         [disabled]="!paciente?.id && !tipoPrestacionSeleccionada?.noNominalizada" class="ml-1">
            </plex-button>
        </plex-title>
        <div class="row">
            <div class="col-6">
                <plex-datetime type="datetime" [(ngModel)]="fecha" [required]="true" name="fecha" label="Fecha y hora">
                </plex-datetime>
            </div>
            <div class="col-6">
                <plex-select [(ngModel)]="tipoPrestacionSeleccionada" name="nombrePrestacion"
                             label="Seleccione el tipo de prestación" labelField="term" [data]="tiposPrestacion"
                             [required]="true" (change)="seleccionarTipoPrestacion()">
                </plex-select>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group" *ngIf="mostrarPaciente">
                    <label for="paciente-buscar" class="form-control-label">Paciente</label>
                    <paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event)"
                                     (searchClear)="onSearchClear()">
                    </paciente-buscar>
                </div>

                <!-- Tabla / listado de pacientes -->
                <paciente-listado *ngIf="resultadoBusqueda && resultadoBusqueda.length" [pacientes]="resultadoBusqueda"
                                  (selected)="onSelect($event)">
                </paciente-listado>

                <div *ngIf="buscandoPaciente && resultadoBusqueda && !resultadoBusqueda.length"
                     class="alert alert-default">
                    ¡No se encontró ningún paciente!
                </div>
            </div>
        </div>

    </plex-layout-main>
    <plex-layout-sidebar>
        <ng-container *ngIf="paciente && paciente.id">
            <plex-title size="sm" titulo="Datos del Paciente"></plex-title>
            <div class="form-group">
                <label class="form-control-label"></label>
                <paciente-detalle [paciente]="paciente" orientacion="horizontal"></paciente-detalle>
            </div>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>

<!-- Lista de Agendas para dar turnos autocitados -->
<autocitar-turno *ngIf="showAutocitar && paciente" (cancelarEmitter)="cancelarAutocitar()" [paciente]="paciente"
                 [agendasAutocitar]="agendasAutocitar" [prestacionAutocitar]="prestacionAutocitar"></autocitar-turno>