@import '../core/rup';
//
.page-title {
    font-weight: 300;
}

.btn-sinonimos {
    vertical-align: 5px;
}

.titulo-preferido {
    font-size: 0.6em;
    color: black;
    font-style: italic;
}

.titulo-fecha {
    font-size: 0.7em;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;
}

.drop-area p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

// .spin::before {
//     -webkit-transform: rotate(180deg);
//     -moz-transform: rotate(180deg);
//     -o-transform: rotate(180deg);
//     -ms-transform: rotate(180deg);
//     transform: rotate(180deg);
//     transition: all 200ms;
// }
.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;
}

.drop-posicion-hover {
    border: 2px dashed $dark-grey;
}

.actions .dropdown {
    display: inline-block;
    .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0;
    }
}

.vinculadoCon {
    font-size: 0.7em;
    color: #999;
    span.badge {
        padding: 7px 5px;
        font-size: 0.7rem;
    }
}

.eliminar {
    .mdi-delete {
        opacity: 1;
    }
    .mdi-delete-empty {
        opacity: 0;
        display: none;
    }
    &:hover {
        .mdi-delete {
            opacity: 0;
            display: none;
            transition: all 300ms;
        }
        .mdi-delete-empty {
            opacity: 1;
            display: inline-block;
            transition: all 300ms;
        }
    }
}

.transformar {
    .mdi-vector-difference-ba {
        opacity: 1;
    }
    .mdi-vector-difference-ab {
        opacity: 0;
        display: none;
    }
    &:hover {
        .mdi-vector-difference-ba {
            opacity: 0;
            display: none;
            transition: all 300ms;
        }
        .mdi-vector-difference-ab {
            opacity: 1;
            display: inline-block;
            transition: all 300ms;
        }
    }
}

.confirmarDesvincular {
    padding: 20px;
    .buttons {
        margin: 10px 0;
    }
}

.row div plex-bool {
    position: relative;
    top: 35px;
}

.row div .unidades-tiempo {
    position: relative;
    top: 34px !important;
}

.titulo-consulta {
    font-weight: 400;
    color: black;
    .consulta {
        color: $blue;
    }
}

.tabs-buscador-huds {
    .nav-tabs {
        border-bottom: 1px solid black;
        box-shadow: -1px 1px 2px 0px darkgrey;
        .nav-item {
            flex: 1;
            a {
                display: block;
                text-transform: uppercase;
                background-color: #ccc;
                border-radius: 0;
                text-align: center;
                color: #666;
                &.active {
                    background-color: white;
                    color: $blue;
                }
            }
        }
    }
}

.panel-acciones {
    a {
        margin: 2px;
    }
}
