@media print {
    @page {
        size: portrait;
    }
    nav,
    footer,
    .btn {
        display: none;
    }
    body {
        padding-top: 0;
        -webkit-print-color-adjust: exact;
    }
    table tr>* {
        display: block;
    }
    table tr {
        display: table-cell;
    }
    th {
        font-size: 0.7rem;
    }
    tr {
        border-bottom: 2px solid rgba(0, 0, 0, .15);
    }
    small {
        font-size: 0.7rem;
    }
    .content {
        margin: 0 !important;
    }
    .plex-box>div {
        padding: 0 !important;
    }
    .badge {
        color: #333333 !important;
        border: 1px solid rgba(0, 0, 0, 0.69) !important;
    }
    .imprimir {
        display: inline-block;
    } // Header Paciente
    header-paciente {
        .row,
        .col,
        .col-6,
        .mb {
            display: inline-block !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        position: unset !important;
        left: 0;
        top: 0;
        padding: 0 !important;
        margin: 0;
        background: none !important;
        label,
        span {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            top: -40px;
        }
        div:first-child {
            width: 100%;
            .row {
                width: 120px;
            }
            &:first-child {
                .row~.row {
                    width: 140px;
                    vertical-align: text-top;
                }
            }
        }
        .col-6 {
            width: auto;
            max-width: 100%;
        }
        .popover {
            width: 100%;
            height: 114px;
            max-width: 100% !important;
            position: unset !important;
            display: block !important;
            margin: 0 !important;
            img {
                width: 100px;
            }
        }
        .popover-content {
            padding: 0 !important;
            paciente-detalle {
                margin: 0 !important;
            }
        }
        div {
            display: inline-block !important;
        }
    }
    .texto,
    .foto {
        // TODO
        display: none !important;
        float: none !important;
        strong,
        .small {
            color: #333333;
        }
    }
    plex-box>div {
        height: auto;
    }
    plex-box>div>.plex-box-content {
        overflow: visible;
    }
    .menu-ordenamiento,
    .mdi-arrow-left-drop-circle-outline,
    .mdi-arrow-down-drop-circle-outline {
        display: none;
    }
    .type {
        // background-color: rgba(0, 0, 0, 0.69) !important;
    }
    .rup-body {
        padding: 5px 10px !important;
    }
    .rup-card {
        margin-bottom: 0 !important;
    }
    .rup-card~.rup-card {
        &:nth-child(6) {
            // page-break-after: always;
        }
        &:last-child {
            page-break-after: avoid !important;
        }
    }
    .relaciones {
        display: none;
    }
    tooltip-content {
        display: none;
    }
}
