@import '../variables';
//
.rup-card {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.rup-card.mini {
    margin-bottom: -1px;
}

.rup-card .type {
    padding: 5px;
    width: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rup-card .type i {
    color: white;
}

.rup-card .rup-content {
    margin: 0;
    width: 100%;
}

.rup-card .rup-content .rup-body {
    padding: 15px;
}

.rup-card .rup-content .header {
    padding: 5px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}

.rup-card.mini .rup-content .header {
    padding: 5px;
    border-bottom: 0 none;
}

.rup-card .rup-content .header .title {
    display: inline-flex;
}

.rup-card .rup-content .header .actions {
    float: right !important;
}

.rup-card .rup-content .rup-footer {
    padding: 5px 15px;
}


/*
.relacionado {
    width: 90%;
    margin-left: 10%;
}
*/

a.desvincular {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: $dark-grey;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
}

a.desvincular:hover {
    background: #eee;
    text-align: center;
}

.confirmarDesvincular,
.confirmarDesvincular a {
    color: $dark-grey;
}

.confirmarDesvincular a.confirm {
    color: white;
    background-color: $red;
    padding: 2px 10px;
    border-radius: 10px;
}


/* drag and drop */

.drag-handle {
    cursor: -webkit-grab;
    color: white;
}

.drag-over-border {
    border: $red dashed 2px;
}

.droppable.drag-target-border,
.drag-target-border {
    border: $dark-grey dashed 2px;
}


/*
.drag-handle {
    cursor: move;
}
*/

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;
}

.drop-area p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.spin::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms;
}

.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;
}

.drop-posicion-hover {
    border: 2px dashed $dark-grey;
}


/* colores botones / acciones */

.btn-problemas {
    color: white;
    background-color: $problemas;
    border-color: $problemas;
}

.btn-problemas:hover,
.btn-problemas:focus,
.btn-problemas:active,
.btn-problemas.active,
.open .dropdown-toggle.btn-problemas {
    color: white;
    background-color: $problemas;
    border-color: $problemas;
}

.btn-problemas:active,
.btn-problemas.active,
.open .dropdown-toggle.btn-problemas {
    background-image: none;
}

.btn-problemas.disabled,
.btn-problemas[disabled],
fieldset[disabled] .btn-problemas,
.btn-problemas.disabled:hover,
.btn-problemas[disabled]:hover,
fieldset[disabled] .btn-problemas:hover,
.btn-problemas.disabled:focus,
.btn-problemas[disabled]:focus,
fieldset[disabled] .btn-problemas:focus,
.btn-problemas.disabled:active,
.btn-problemas[disabled]:active,
fieldset[disabled] .btn-problemas:active,
.btn-problemas.disabled.active,
.btn-problemas[disabled].active,
fieldset[disabled] .btn-problemas.active {
    background-color: $problemas;
    border-color: $problemas;
}

.btn-problemas .badge {
    color: $problemas;
    background-color: white;
}

.btn-planes {
    color: white;
    background-color: $planes;
    border-color: $planes;
}

.btn-planes:hover,
.btn-planes:focus,
.btn-planes:active,
.btn-planes.active,
.open .dropdown-toggle.btn-planes {
    color: white;
    background-color: $planes;
    border-color: $planes;
}

.btn-planes:active,
.btn-planes.active,
.open .dropdown-toggle.btn-planes {
    background-image: none;
}

.btn-planes.disabled,
.btn-planes[disabled],
fieldset[disabled] .btn-planes,
.btn-planes.disabled:hover,
.btn-planes[disabled]:hover,
fieldset[disabled] .btn-planes:hover,
.btn-planes.disabled:focus,
.btn-planes[disabled]:focus,
fieldset[disabled] .btn-planes:focus,
.btn-planes.disabled:active,
.btn-planes[disabled]:active,
fieldset[disabled] .btn-planes:active,
.btn-planes.disabled.active,
.btn-planes[disabled].active,
fieldset[disabled] .btn-planes.active {
    background-color: $planes;
    border-color: $planes;
}

.btn-planes .badge {
    color: $planes;
    background-color: white;
}

.btn-prestaciones {
    color: white;
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-prestaciones:hover,
.btn-prestaciones:focus,
.btn-prestaciones:active,
.btn-prestaciones.active,
.open .dropdown-toggle.btn-prestaciones {
    color: white;
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-prestaciones:active,
.btn-prestaciones.active,
.open .dropdown-toggle.btn-prestaciones {
    background-image: none;
}

.btn-prestaciones.disabled,
.btn-prestaciones[disabled],
fieldset[disabled] .btn-prestaciones,
.btn-prestaciones.disabled:hover,
.btn-prestaciones[disabled]:hover,
fieldset[disabled] .btn-prestaciones:hover,
.btn-prestaciones.disabled:focus,
.btn-prestaciones[disabled]:focus,
fieldset[disabled] .btn-prestaciones:focus,
.btn-prestaciones.disabled:active,
.btn-prestaciones[disabled]:active,
fieldset[disabled] .btn-prestaciones:active,
.btn-prestaciones.disabled.active,
.btn-prestaciones[disabled].active,
fieldset[disabled] .btn-prestaciones.active {
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-prestaciones .badge {
    color: $procedimientos;
    background-color: white;
}

.btn-procedimientos {
    color: white;
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-procedimientos:hover,
.btn-procedimientos:focus,
.btn-procedimientos:active,
.btn-procedimientos.active,
.open .dropdown-toggle.btn-procedimientos {
    color: white;
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-procedimientos:active,
.btn-procedimientos.active,
.open .dropdown-toggle.btn-procedimientos {
    background-image: none;
}

.btn-procedimientos.disabled,
.btn-procedimientos[disabled],
fieldset[disabled] .btn-procedimientos,
.btn-procedimientos.disabled:hover,
.btn-procedimientos[disabled]:hover,
fieldset[disabled] .btn-procedimientos:hover,
.btn-procedimientos.disabled:focus,
.btn-procedimientos[disabled]:focus,
fieldset[disabled] .btn-procedimientos:focus,
.btn-procedimientos.disabled:active,
.btn-procedimientos[disabled]:active,
fieldset[disabled] .btn-procedimientos:active,
.btn-procedimientos.disabled.active,
.btn-procedimientos[disabled].active,
fieldset[disabled] .btn-procedimientos.active {
    background-color: $procedimientos;
    border-color: $procedimientos;
}

.btn-procedimientos .badge {
    color: $procedimientos;
    background-color: white;
}

.borde-prestaciones input,
.borde-prestaciones input:focus {
    border-color: $dark-blue;
}

.borde-prestaciones input,
.borde-prestaciones input:focus {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: white;
}

.prestaciones {
    background-color: $dark-blue;
}

.borde-planes input,
.borde-planes input:focus {
    border-color: $planes;
    background-color: $planes !important;
    background-color: $planes;
    color: white;
}

.planes {
    background-color: $planes;
}

.borde-problemas input,
.borde-problemas input:focus {
    border-color: $problemas;
    background-color: $problemas !important;
    background-color: $problemas;
    color: white;
}

.problemas {
    background-color: $problemas;
}

.borde-procedimientos input,
.borde-procedimientos input:focus {
    border-color: $procedimientos;
    background-color: $procedimientos !important;
    background-color: $procedimientos;
    color: white;
}

.procedimientos {
    background-color: $procedimientos;
}


/* fin colores botones / acciones */

.dataSolicitud {
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 5px;
    display: block;
}

.dataSolicitud:hover {
    margin-top: 5px;
    color: $planes;
    cursor: default;
    text-decoration: none;
    font-size: 1.2em;
}


$lista-problemas: "hallazgo", "trastorno", "situacion";
$selector: ();

@each $item in $lista-problemas {
    $selector: $selector, unquote('.#{$item}');
}

#{$selector} {
    background-color: $problemas;
  }

  $lista-procedimientos: "procedimiento", "entidad";
  $selector2: ();
  
  @each $item in $lista-procedimientos {
      $selector2: $selector2, unquote('.#{$item}');
  }
  
  #{$selector2} {
      background-color: $procedimientos;
    }

  .plan {
    background-color: $planes;
 }