@import '../variables';
//
.rup-card {
    width: 100%;
    display: flex;
    border-top: 2px solid #ccc; // margin-bottom: 10px;
    border-right: 1px solid #ccc; // margin-bottom: 10px;
}

.rup-card .type {
    padding: 5px;
    width: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rup-card .type i {
    color: white;
}

.rup-card .rup-content {
    margin: 0;
    width: 100%;
}

.rup-card .rup-content .rup-body {
    padding: 15px;
}

.rup-card .rup-content .header {
    padding: 5px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}

.rup-card .rup-content .header .title {
    display: inline-flex;
}

.rup-card .rup-content .header .actions {
    float: right!important;
}

.rup-card .rup-content .rup-footer {
    padding: 5px 15px;
}

.prestaciones {
    background-color: $planes;
}

.planes {
    background-color: $planes;
}

.problemas {
    background-color: $problemas;
}

.procedimientos {
    background-color: $procedimientos;
}

.relaciones {
    position: fixed;
}

@each $item in $lista-problemas {
    $selector: $selector,
    unquote('.#{$item}');
}

#{$selector} {
    background-color: $problemas;
}

@each $item in $lista-procedimientos {
    $selector2: $selector2,
    unquote('.#{$item}');
}

#{$selector2} {
    background-color: $procedimientos;
}

.plan {
    background-color: $planes;
}
