<section *ngIf="prestacion && !showDarTurnos">
    <plex-box>
        <header>
            <div class="row">
                <div [ngClass]="{'col-9': prestacion.solicitud.ambitoOrigen === 'ambulatorio', 'col-12': prestacion.solicitud.ambitoOrigen === 'internacion'}"
                     *ngIf="prestacion?.solicitud">
                    <div>
                        <span class="page-title titulo-consulta">
                            <span class="consulta">Resumen | </span> {{prestacion.solicitud.tipoPrestacion.term}} -
                            <span class="fecha">{{prestacion.solicitud.fecha | date: 'EEE dd/MM/yyyy'}}</span>
                        </span>

                        <div class="float-right mr-2 menu-info">
                            <help-solicitud [solicitud]='prestacion.solicitud' ></help-solicitud>
                            <rup-acciones-envio-informe [prestacion]="prestacion">
                            </rup-acciones-envio-informe>
                            <!-- <ng-container *ngIf="validada && !prestacion.solicitud.tipoPrestacion.noNominalizada">
                                <plex-button type="warning" icon="download mdi-14px" class="ml-1"
                                             title="Descargar Resúmen PDF" titlePosition="top"
                                             (click)="descargarResumen()" [disabled]="!descargaCerrada">
                                </plex-button>
                            </ng-container>
                            <ng-container *ngIf="validada && !prestacion.solicitud.tipoPrestacion.noNominalizada">
                                <plex-button type="info" icon="email mdi-14px" class="float-right ml-1"
                                             *ngIf="tieneEmails" title="Enviar Resúmen PDF" titlePosition="top"
                                             (click)="openModalEmails()" [disabled]="!envioCerrado">
                                </plex-button>
                            </ng-container>
                            <ng-container *ngIf="!validada && !prestacion.solicitud.tipoPrestacion.noNominalizada">
                                <plex-button type="warning" icon="download mdi-14px" class="float-right ml-1"
                                             title="Previsualizar Resúmen PDF" titlePosition="top"
                                             (click)="descargarResumen()" [disabled]="!descargaCerrada">
                                </plex-button>
                            </ng-container> -->
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf=" prestacion?.solicitud?.ambitoOrigen==='ambulatorio'" class=" row no-gutters
                                             menu-ordenamiento">
                <div class="col-1 mr-0 pr-0">
                    <small>Organizar</small>
                    <br>
                    <div class="btn-group">
                        <button (click)="ordenarPorFecha('down')"
                                class="btn btn-sm btn-orden bg-info text-white p-1 pt-0 pb-0 mr-1"
                                [ngClass]="{'bg-invert': ordenRegistros === 'down'}">
                            <i class="mdi mdi-24px mdi-menu-down"></i>
                        </button>
                        <button (click)="ordenarPorFecha('up')"
                                class="btn btn-sm bg-info btn-orden text-white p-1 pt-0 pb-0"
                                [ngClass]="{'bg-invert': ordenRegistros === 'up'}">
                            <i class="mdi mdi-24px mdi-menu-up"></i>
                        </button>
                    </div>
                </div>
                <div class="col-11 ml-0 pl-0">
                    <small>Ordenar por</small>
                    <br>
                    <div class="btn-group" role="group">
                        <button *ngIf="hayRegistros(['hallazgo', 'situación'])"
                                class="btn btn-sm btn-hallazgo text-uppercase mr-1 "
                                (click)="ordenarPorTipo(['hallazgo', 'situación'])"
                                [ngClass]="{'active': ordenSeleccionado === reemplazar(['hallazgo', 'situación'], ',')}">Hallazgos</button>
                        <button *ngIf="hayRegistros(['trastorno'])" class="btn btn-sm btn-trastorno text-uppercase mr-1"
                                (click)="ordenarPorTipo(['trastorno'])"
                                [ngClass]="{'active': ordenSeleccionado === reemplazar(['trastorno'], ',')}">Trastornos</button>
                        <button *ngIf="hayRegistros(['procedimiento', 'entidad observable', 'régimen/tratamiento'])"
                                class="btn btn-sm btn-procedimiento text-uppercase mr-1"
                                (click)="ordenarPorTipo(['procedimiento', 'entidad observable', 'régimen/tratamiento'])"
                                [ngClass]="{'active': ordenSeleccionado === reemplazar(['procedimiento', 'entidad observable', 'régimen/tratamiento'], ',')}">Procedimientos</button>
                        <button *ngIf="hayRegistros(['procedimiento', 'régimen/tratamiento'], 'planes')"
                                class="btn btn-sm btn-plan text-uppercase mr-1" (click)="ordenarPorTipo(['planes'])"
                                [ngClass]="{'active': ordenSeleccionado === 'planes'}">Solicitudes</button>
                        <button *ngIf="hayRegistros(['producto'])" class="btn btn-sm btn-producto text-uppercase mr-1"
                                (click)="ordenarPorTipo(['producto'])"
                                [ngClass]="{'active': ordenSeleccionado === reemplazar(['producto'], ',')}">Insumos</button>
                        <button *ngIf="hayRegistros(['elemento de registro'])"
                                class="btn btn-sm btn-adjunto text-uppercase mr-1"
                                (click)="ordenarPorTipo(['elemento de registro'])"
                                [ngClass]="{'active': ordenSeleccionado === reemplazar(['elemento de registro'], ',')}">Adjuntos</button>
                        <button *ngIf="tipoOrden" class="btn btn-sm btn-default text-uppercase mr-1 bg-info text-white"
                                (click)="limpiarOrden()">
                            <i class="mdi mdi-close"></i>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="row no-gutters" *ngIf="prestacion?.ejecucion?.registros && prestacion.ejecucion.registros.length">
            <div class="col titulos" [ngClass]="(prestacion.solicitud.ambitoOrigen == 'ambulatorio' ? 'col-9' : '')">
                <ng-container *ngFor="let elemento of registros; let i = index">

                    <ng-container *ngIf="tipoOrden && esTipoOrden(elemento, ['hallazgo', 'situación'])">
                        <div class="text-capitalize mt-4 titulo-hallazgos">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Hallazgos</h5>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="tipoOrden && esTipoOrden(elemento, ['trastorno'])">
                        <div class="text-capitalize mt-4 titulo-trastornos">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Trastornos</h5>
                        </div>
                    </ng-container>

                    <ng-container
                                  *ngIf="tipoOrden && esTipoOrden(elemento, ['procedimiento', 'entidad observable', 'régimen/tratamiento'])">
                        <div class="text-capitalize mt-4 titulo-procedimientos">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Procedimientos</h5>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="tipoOrden && esTipoOrden(elemento, ['planes'])">
                        <div class="text-capitalize mt-4 titulo-solicitudes">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Solicitudes</h5>
                            <!-- {{ reemplazar(['procedimiento', 'régimen/tratamiento'], ', ') }} -->
                        </div>
                    </ng-container>

                    <ng-container *ngIf="tipoOrden && esTipoOrden(elemento, ['producto'])">
                        <div class="text-capitalize mt-4 titulo-productos">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Insumos</h5>
                            <!-- {{ reemplazar(['producto'], ', ') }} -->
                        </div>
                    </ng-container>

                    <ng-container *ngIf="tipoOrden && esTipoOrden(elemento, ['elemento de registro'])">
                        <div class="text-capitalize mt-4 titulo-adjuntos">
                            <h5 [ngClass]="{'primero' : i === 0, 'no-primero': i > 0}">Adjuntos</h5>
                        </div>
                    </ng-container>

                    <div
                         class="rup-card {{ elemento.esSolicitud ? 'solicitud' : servicioPrestacion.getCssClass(elemento.concepto) }} elementoRup">
                        <a name="{{ elemento.concepto.conceptId }}"></a>

                        <div class="rup-header">
                            <div class="icon-rup">
                                <i
                                   class="icon icon-rup-semantic-{{(elemento.esSolicitud) ? 'solicitud' : servicioPrestacion.getIcon(elemento.concepto)}}"></i>
                            </div>
                            <div class="title">
                                <ng-container *ngIf="elemento?.nombre">
                                    {{ elemento.nombre[0].toUpperCase() + elemento.nombre.slice(1) }}
                                </ng-container>

                                <div *ngIf="elemento?.valor?.solicitudPrestacion?.prestacionSolicitada"
                                     class="small text-secondary text-truncate">
                                    <b>{{ elemento.valor.solicitudPrestacion.prestacionSolicitada.term || '(ninguna)'
                                        }}
                                    </b>
                                </div>
                                <div class="float-left" *ngIf="elemento?.relacionadoCon">
                                    <b class="clearfix" *ngIf="elemento?.relacionadoCon?.length > 0">Relacionado con:
                                    </b>
                                    <plex-badge size="sm"
                                                *ngIf="elemento?.relacionadoCon && elemento?.relacionadoCon.length > 0 && !elementoRUP?.reglas?.requeridos?.relacionesMultiples"
                                                type="info text-uppercase">
                                        {{ elemento.relacionadoCon[0]?.concepto?.term[0].toUpperCase() +
                                        elemento.relacionadoCon[0]?.concepto?.term.slice(1)}}
                                    </plex-badge>
                                    <ng-container *ngIf="elementoRUP?.reglas?.requeridos?.relacionesMultiples">
                                        <ng-container *ngFor="let relacion of elemento.relacionadoCon; let ir=index">
                                            <ng-container *ngIf="ir < 5">
                                                <plex-badge size="sm" type="info mr-1">
                                                    {{ relacion | relacionRUP }}
                                                </plex-badge>
                                            </ng-container>
                                            <ng-container *ngIf="verMasRelaciones[i] && ir >= 5">
                                                <plex-badge size="sm" type="info mr-1">
                                                    {{ relacion | relacionRUP }}
                                                </plex-badge>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="elemento.relacionadoCon.length > 5">
                                            <plex-button type="primary" size="sm"
                                                         label="{{ !verMasRelaciones[i] ? ('+' + (elemento.relacionadoCon.length - 5) + ' ...') : '' }}"
                                                         icon="{{ !verMasRelaciones[i] ? '' : 'close' }}"
                                                         (click)="toggleVerMasRelaciones(i)"></plex-button>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="actions">
                                <plex-badge
                                            type="{{ (tipoOrden === ['planes'] || elemento.esSolicitud) ? 'solicitud' : servicioPrestacion.getCssClass(elemento.concepto) }}">
                                    {{elemento.concepto.semanticTag}}</plex-badge>
                                <plex-badge type="info" size="sm" *ngIf="elemento.esDiagnosticoPrincipal">
                                    Procedimiento/diagnóstico principal</plex-badge>
                                <ng-container *ngIf="elemento.esSolicitud && validada && asignarTurno[elemento.id]">
                                    <span class="small text-secondary"
                                          *ngIf="asignarTurno[elemento.id]?.solicitud && asignarTurno[elemento.id]?.solicitud.turno">
                                        <b>Ya tiene un turno asignado</b>
                                    </span>
                                    <span
                                          *ngIf="asignarTurno[elemento.id]?.solicitud && !asignarTurno[elemento.id].solicitud.turno">
                                        <plex-button label="Asignar turno" type="primary btn-sm"
                                                     (click)="darTurno(asignarTurno[elemento.id])"
                                                     [disabled]="!asignarTurno[elemento.id].solicitud"></plex-button>
                                        <span class="small text-secondary" *ngIf="!asignarTurno[elemento.id].solicitud">
                                            <b> No hay turnos disponibles </b>
                                        </span>
                                    </span>
                                    <span *ngIf="asignarTurno[elemento.id] && !asignarTurno[elemento.id].solicitud">
                                        <span class="small text-secondary">
                                            <b> No hay turnos disponibles</b>
                                        </span>
                                    </span>
                                </ng-container>
                                <rup-acciones-envio-informe [prestacion]="prestacion" [registro]="elemento">
                                </rup-acciones-envio-informe>
                            </div>
                        </div>

                        <div class="rup-body">
                            <div class="legend">
                                <span>
                                    {{ (elemento.esSolicitud) ? 'solicitud' : elemento.concepto.semanticTag}}
                                </span>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-12"
                                         *ngIf="paciente || prestacion.solicitud.tipoPrestacion?.noNominalizada">
                                        <rup [paciente]="paciente"
                                             [elementoRUP]="elementosRUPService.elementoRegistro(elemento)"
                                             [prestacion]="prestacion" [registro]="elemento" [soloValores]="true"
                                             [params]="elementosRUPService.getParams(elemento)">
                                        </rup>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ng-container
                                                      *ngIf="(elemento.concepto.semanticTag !== 'elemento de registro')">
                                            <ng-container *ngIf="prestacion.estados[prestacion.estados.length - 1].tipo !== 'validada' && elemento.valor?.estado !== 'transformado' && prestacion.solicitud.ambitoOrigen !== 'internacion'"
                                                          title="Establecer como Procedimiento/Diagnóstico principal"
                                                          class="diagnostico-principal d-flex align-items-end">
                                                <plex-radio [data]="opcionDiagnosticoPrincipal"
                                                            label="¿Procedimiento/Diagnóstico principal?"
                                                            (change)="diagnosticoPrestacion($event, elemento)"
                                                            [(ngModel)]="elemento.esDiagnosticoPrincipal"
                                                            type="horizontal">
                                                </plex-radio>
                                            </ng-container>
                                            <ng-container *ngIf="codigosCie10 && codigosCie10[elemento.id] && codigosCie10[elemento.id].c2 && !validada"
                                                          class="diagnostico-principal d-flex align-items-end"
                                                          title="Indicar si es primera vez">
                                                <plex-radio [data]="opcionPrimeraVez" label="Es primera Vez?"
                                                            [(ngModel)]="elemento.esPrimeraVez" type="horizontal">
                                                </plex-radio>
                                            </ng-container>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div *ngIf="prestacion.solicitud.ambitoOrigen == 'ambulatorio'" class="relaciones col-3">
                <!-- ÁRBOL -->
                <plex-box class="w-25">
                    <header>
                        <div class="clearfix">
                            <div *ngIf="registrosOrdenados">
                                <div class="page-title">
                                    Relaciones
                                </div>
                            </div>
                        </div>
                    </header>

                    <ng-container *ngFor="let rama of registrosOrdenados; let iRama = index">
                        <ul class="list-group">
                            <li [ngClass]="{
                                'ml-0': !rama.esDiagnosticoPrincipal
                            }" class="list-group-item pl-0 pt-0 pb-0 mb-0 ml-{{ registrosDeep[rama.id] }}">
                                <div>
                                    <span
                                          class="type {{ rama.esSolicitud ? 'solicitud' : rama.concepto.semanticTag }} pr-2 mr-1"></span>
                                    <small>{{ rama.nombre }}
                                        <plex-badge size="sm" type="info" *ngIf="rama.esDiagnosticoPrincipal">
                                            Procedimiento / diagnóstico principal
                                        </plex-badge>
                                    </small>
                                </div>
                            </li>
                        </ul>
                    </ng-container>
                </plex-box>
            </div>
        </div>
    </plex-box>
</section>
<footer *ngIf="prestacion && !showDarTurnos">
    <div class="row">
        <div class="col">
            <plex-button *ngIf="prestacion && prestacion.estados && prestacion.estados[prestacion.estados.length-1].tipo === 'ejecucion'"
                         label="Continuar {{prestacion.solicitud.tipoPrestacion.term}}" (click)="volver()" type="info">
            </plex-button>
            <!-- Inicio de RUP ambulatorio -->
            <plex-button *ngIf="validada && prestacion?.solicitud.ambitoOrigen === 'ambulatorio'"
                         label="Punto de Inicio" (click)="volverInicio(prestacion?.solicitud.ambitoOrigen)" type="info">
            </plex-button>
            <plex-button *ngIf="validada && prestacion?.solicitud.ambitoOrigen === 'internacion'"
                         label="{{ btnVolver }}" (click)="volverInicio(prestacion?.solicitud.ambitoOrigen, rutaVolver)"
                         type="info"></plex-button>
        </div>
        <div class="col text-right ">

            <plex-button *ngIf="prestacion && prestacion.estados && prestacion.estados[prestacion.estados.length-1].tipo !== 'validada'"
                         label="Validar {{prestacion.solicitud.tipoPrestacion.term}}" (click)="validar()"
                         type="success">
            </plex-button>

            <plex-button label="Romper Validación de {{prestacion?.solicitud?.tipoPrestacion?.term}}"
                         (click)="romperValidacion()" type="danger" *ngIf="prestacion && prestacion.estados
                && validada
                && prestacion.estados[prestacion.estados.length-1].createdBy.username === auth.usuario.username">
            </plex-button>
        </div>
    </div>
</footer>

<!-- Calendario para dar turnos autocitados -->
<dar-turnos *ngIf="showDarTurnos && solicitudTurno" (volverValidacion)="turnoDado($event)"
            [pacienteSeleccionado]="paciente" [solicitudPrestacion]="solicitudTurno"></dar-turnos>
<modal-seleccion-email *ngIf="showModalEmails" (email)="enviarCorreo($event)">
</modal-seleccion-email>