@import '../variables';
.type.prestacion {
    background-color: $planes;
}

.type.hallazgo,
.type.trastorno {
    background-color: $problemas;
}

.type.procedimiento {
    background-color: $procedimientos;
}

.type.plan {
    background-color: $planes;
}