<plex-layout main="7">
    <plex-layout-main>
        <!-- Box header -->
        <plex-title main titulo="Punto de inicio | Consultorio">
            <plex-help type="info" titulo="Reglas Solicitudes" tituloBoton="Reglas Solicitudes">
                <visualizacion-reglas info [esParametrizado]="true"></visualizacion-reglas>
            </plex-help>
        </plex-title>

        <!-- Filtros -->
        <div class="row">
            <div class="no-gutters col">
                <plex-datetime type="date" [(ngModel)]="fecha" (change)="actualizar()" name="horaInicio" label="Fecha"
                               [required]="true" skipBy="day">
                </plex-datetime>
            </div>
            <div class="no-gutters col-4">
                <plex-text [(ngModel)]="paciente" (change)="filtrar()" [required]="true" label="Paciente">
                </plex-text>
            </div>
            <div class="no-gutters col-4">
                <plex-select [(ngModel)]="prestacionSeleccion" [required]="true" name="nombrePrestacion"
                             label="Prestación" [data]="tiposPrestacion" labelField="term" (change)="filtrar()">
                </plex-select>
            </div>
        </div>
        <br>
        <div class="row agendas d-flex justify-content-between align-items-start">
            <div class="col pr-0 mr-1"
                 [ngClass]="{'w-100': fueraDeAgenda.length === 0, 'w-75': fueraDeAgenda.length > 0}">
                <plex-title justify titulo="Agendas" size="sm">
                    <plex-radio class="form-check-inline" [(ngModel)]="filtroAgendas.radio" [data]="opciones"
                                name="agendas" type="horizontal" (change)="filtrar();">
                    </plex-radio>
                </plex-title>
                <ng-container
                              *ngIf="agendas.length === 0 || servicioPrestacion.getCantidadPacientesAgendas(agendas) === 0">
                    <div>
                        No se encontraron agendas
                    </div>
                </ng-container>

                <ng-container *ngIf="agendas.length">
                    <ng-container *ngFor="let agenda of agendas; let i=index">
                        <div *ngIf="agenda.dinamica || servicioPrestacion.getCantidadPacientes(agenda) || agenda.tipoPrestaciones[0].noNominalizada"
                             class="citas-agenda-card hover pr-1" (click)="cargarTurnos(agenda)"
                             [ngClass]="{'bg-inverse-dark text-white': agendaSeleccionada == agenda}">
                            <div class="citas-icon">
                                <plex-icon name="calendar mdi-36px d-inline-flex bg-primary text-white">
                                </plex-icon>
                            </div>
                            <div class="d-flex flex-column justify-content-center pl-1">
                                <div class="font-weight-bold">
                                    <plex-icon name="clock-outline mpi-24px"
                                               [ngClass]="{'text-white': agendaSeleccionada == agenda, 'text-primary': agendaSeleccionada !== agenda}">
                                    </plex-icon>
                                    {{ agenda.horaInicio | date: 'HH:mm' }} a
                                    {{ agenda.horaFin | date: 'HH:mm' }} hs
                                </div>
                                <div>
                                    <span *ngIf="agenda.espacioFisico?.nombre">{{ agenda.espacioFisico.nombre }}</span>
                                    <small *ngIf="!agenda.espacioFisico?.nombre" class="text-danger">
                                        Espacio físico no asignado
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center pl-1">
                                <div *ngFor="let tipoPrestacion of agenda.tipoPrestaciones"
                                     class="text-capitalize font-weight-bold">
                                    {{ tipoPrestacion.term }}
                                </div>
                                <div>
                                    <ng-container *ngIf="agenda.profesionales">
                                        <small *ngFor="let profesional of agenda.profesionales">
                                            {{ profesional | profesional }}
                                        </small>
                                    </ng-container>
                                    <small *ngIf="agenda.profesionales.length === 0" class="text-danger">
                                        Equipo de Salud no asignado
                                    </small>
                                </div>
                            </div>
                            <div class="mr-1"
                                 *ngIf="agenda.estado !== 'disponible' && !agenda.tipoPrestaciones[0].noNominalizada"
                                 justify="end">
                                <div class="citas-icon-sm">
                                    <i class="icon icon-andes-paciente"></i>
                                </div>
                                <span class="badge" [ngClass]="{'badge-light': agendaSeleccionada === agenda, 'badge-info':
                                    agendaSeleccionada !== agenda}">
                                    {{ servicioPrestacion.getCantidadPacientes(agenda) }}<ng-container
                                                  *ngIf="!agenda.dinamica">
                                        /{{ agenda.cantidadTurnos }}</ng-container>
                                </span>
                            </div>
                            <ng-container *ngIf="agenda.tipoPrestaciones[0].noNominalizada">
                                <plex-badge type="info">No nominalizada</plex-badge>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <!-- Lista de Fuera de Agenda -->
            <div [ngClass]="{'w-25': fueraDeAgenda.length > 0, 'd-none': fueraDeAgenda.length === 0}">
                <plex-title titulo="Fuera de Agenda" size="sm"></plex-title>
                <ng-container *ngFor="let fao of fueraDeAgendaOrdenadas; let fac=index">
                    <div class="hover fuera-agenda-card mr-2 mb-1"
                         [ngClass]="{'bg-inverse-dark': indexFueraAgenda === fac}">
                        <div justify="center" class="rup-icon" (click)="cargarFueraAgenda(fac)">
                            <i class="icon icon-rup-semantic-plan adi-24px"></i>
                        </div>
                        <div class="mx-1" justify *ngFor="let p of fao; let c=index" (click)="cargarFueraAgenda(fac)">
                            <ng-container *ngIf="c === 0">
                                <small><b class="text-capitalize">{{ p.term }}</b> </small>
                                <div class="citas-icon-sm">
                                    <i class="icon icon-andes-paciente"></i>
                                </div>
                                <span class="badge badge-info">{{ fao.length }}</span>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>


        <ng-container *ngIf="agendas.length">
            <ng-container *ngFor="let agenda of agendas; let i=index">
                <tr class="hover" [ngClass]="{'bg-inverse text-white': agendaSeleccionada == agenda}"
                    (click)="cargarTurnos(this.agenda)"
                    *ngIf="agenda.dinamica || getCantidadPacientes(agenda) || agenda.tipoPrestaciones[0].noNominalizada">

                    <td>
                        <div>
                            {{agenda.horaInicio | date: 'HH:mm'}} a {{agenda.horaFin | date: 'HH:mm'}}
                            hs
                            <span *ngIf="agenda.nota">
                                <i title="{{agenda.nota}}" class="mdi mdi-comment"></i>
                            </span>
                        </div>
                        <div>
                            <span *ngIf="agenda.espacioFisico?.nombre">{{agenda.espacioFisico.nombre}}</span>
                            <span *ngIf="!agenda.espacioFisico?.nombre" class="text-danger">
                                Espacio físico no asignado
                            </span>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let tipoPrestacion of agenda.tipoPrestaciones">
                            {{tipoPrestacion.term}}
                        </div>
                        <div>
                            <span *ngIf="agenda.profesionales?.length == 0" class="text-danger">
                                Profesional no asignado
                            </span>
                            <ng-container *ngIf="agenda.profesionales">
                                <div *ngFor="let profesional of agenda.profesionales">
                                    {{profesional | profesional}}
                                </div>
                            </ng-container>
                        </div>
                    </td>
                    <td>
                        <ng-container
                                      *ngIf="agenda.estado !== 'disponible' && !agenda.tipoPrestaciones[0].noNominalizada">
                            <span class="badge-info float-right">
                                pacientes {{getCantidadPacientes(agenda)}}
                                <ng-container *ngIf="!agenda.dinamica">
                                    / {{agenda.cantidadTurnos}}
                                </ng-container>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="agenda.tipoPrestaciones[0].noNominalizada">
                            <span class="badge-info float-right">
                                No nominalizada
                            </span>
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
        </ng-container>

        <tr class="hover" (click)="cargarTurnos()" *ngIf="fueraDeAgenda && fueraDeAgenda.length"
            [ngClass]="{'bg-inverse text-white': agendaSeleccionada == 'fueraAgenda'}">
            <td>
                Fuera de agenda
            </td>
            <td colspan="2">
                <span class="badge-info float-right">
                    <ng-container *ngIf="fueraDeAgenda.length === 1">
                        1 paciente
                    </ng-container>
                    <ng-container *ngIf="fueraDeAgenda.length > 1">
                        {{fueraDeAgenda.length}} pacientes
                    </ng-container>
                </span>
            </td>
        </tr>
        </tbody>
        </table> -->
    </plex-layout-main>
    <plex-layout-sidebar>

        <plex-title justify *ngIf="!agendaSeleccionada?.dinamica"
                    [titulo]="(agendaSeleccionada !== 'fueraAgenda' ? 'Turnos' : 'Fuera de Agenda')" size="md">
        </plex-title>
        <div class="h-100" *ngIf="agendaSeleccionada">

            <plex-title justify *ngIf="agendaSeleccionada?.dinamica && !buscandoPaciente" titulo="Dinámica" size="md">
                <plex-button *ngIf="!esFutura(agendaSeleccionada) && ((agendaSeleccionada.cupo && agendaSeleccionada.cupo > 0) || agendaSeleccionada.cupo < 0)"
                             label="AGREGAR PACIENTE" size="sm" type="primary" class="float-right mr-1"
                             (click)="buscarPaciente()"></plex-button>
            </plex-title>

            <!-- Agenda dinámica -->
            <dinamica *ngIf="buscandoPaciente" [agenda]="agendaSeleccionada" (cancel)="cancelarDinamica()">
            </dinamica>

            <!-- Fuera de Agenda -->
            <rup-fuera-de-agenda *ngIf="agendaSeleccionada === 'fueraAgenda'"
                                 [fueraDeAgenda]="fueraDeAgendaSeleccionada">
            </rup-fuera-de-agenda>

            <ng-container *ngIf="!buscandoPaciente">
                <ng-container
                              *ngIf="agendaSeleccionada && agendaSeleccionada !== 'fueraAgenda' && (agendaSeleccionada.dinamica || servicioPrestacion.getCantidadPacientes(agendaSeleccionada) || agendaSeleccionada.tipoPrestaciones[0].noNominalizada)">
                    <div class="row">
                        <div class="col-12">
                            <strong class="text-capitalize">
                                {{ agendaSeleccionada.horaInicio | date: 'EEE' }}
                                {{ agendaSeleccionada.horaInicio | fecha}},
                                {{ agendaSeleccionada.horaInicio | date: 'HH:mm'}} a
                                {{ agendaSeleccionada.horaFin | date: 'HH:mm'}} hs
                            </strong>
                            <br>
                            <strong class="text-capitalize"
                                    *ngFor="let tipoPrestacion of agendaSeleccionada.tipoPrestaciones">
                                {{ tipoPrestacion.term }}
                            </strong>
                            <span *ngIf="agendaSeleccionada.nota" class="alert alert-info">
                                <i class="mdi mdi-comment mr-3"></i>
                                {{ agendaSeleccionada.nota }}
                            </span>
                        </div>
                    </div>
                </ng-container>

                <!-- Turnos -->
                <rup-turnos *ngIf="agendaSeleccionada" [agendaSeleccionada]="agendaSeleccionada" tipo="turnos"
                            [esFutura]="esFutura(agendaSeleccionada)" (asistencia)="registrarInasistencia($event)">
                </rup-turnos>

                <!-- Sobreturnos -->
                <rup-turnos *ngIf="agendaSeleccionada" [agendaSeleccionada]="agendaSeleccionada" tipo="sobreturnos">
                </rup-turnos>

            </ng-container>
        </div>
    </plex-layout-sidebar>
    <plex-layout-footer *ngIf="!buscandoPaciente">
        <!-- <plex-dropdown type="primary" label="Paciente" [items]="dropdownPaciente"></plex-dropdown> -->
        <plex-button position="right" label="HUDS DE UN PACIENTE" type="primary" (click)="verHuds()" class="mr-1">
        </plex-button>
        <plex-button position="right" label="PACIENTE FUERA DE AGENDA" type="primary"
                     (click)="crearPrestacion('fueraAgenda')" class="mr-1">
        </plex-button>
        <plex-button position="right" label="PACIENTE AUTOCITADO" type="primary" (click)="crearPrestacion('autocitar')">
        </plex-button>
    </plex-layout-footer>
</plex-layout>