plex-tabs > section {
    margin-bottom: 10px;
}

plex-tab  {
    &
    rup-evolucion-problema-default, rup-observaciones {

        &:first-child form {
            border: 1px solid lightgrey;
            padding: 10px;
            position: relative;
            top: -1px;
            z-index: 0 !important;
        }
    }
}

form ~ form {
    border: none;
}

.nav-tabs .nav-item {
    &.active{
        z-index: 1 !important;
    }
}

.contenedor-mensaje {
    width: 100%;
    height: 100%;
}