plex-tabs>section {
    margin-bottom: 10px;
}

plex-tab {

    & rup-evolucion-problema-default,
    rup-observaciones {

        &:first-child form {
            border: 1px solid lightgrey;
            padding: 10px;
            position: relative;
            top: -1px;
            z-index: 0 !important;
        }
    }
}

.nav-item-receta {
    a {
        color: #7b2ff7 !important;

        &.active {
            color: #ffffff !important;
            background-color: #7b2ff7 !important;
        }
    }
}

form~form {
    border: none;
}

.nav-tabs .nav-item {
    &.active {
        z-index: 1 !important;
    }
}