<plex-layout [main]="8" *ngIf="paciente">
    <plex-layout-main>
        <plex-title titulo="Historia única de Salud">
            <plex-button type="danger" size="sm" (click)="volver()">Volver</plex-button>
        </plex-title>
        <div class="huds-resumen-view w-100 h-100 d-flex flex-column pt-4 overflow-hidden"
             *ngIf="elementosRUPService.ready | async">
            <div class="d-flex justify-content-end mb-2" *ngIf="permisoHudsCompleta">
                <plex-button *feature="'hudsExploracion'" label="Exploración" tooltip="Exploración Visual de HUDS"
                             type="info" size="sm" (click)="onExploracionClick()">
                </plex-button>
            </div>

            <ng-template #resumenDetalle>
                <rup-resumenPaciente-estatico [paciente]="paciente" esTab="true" [enHuds]="true"
                                              (irATrastornos)="huds.filtroBuscador('hallazgo')">
                </rup-resumenPaciente-estatico>

                <div class="huds-detail d-flex mt-2">
                    <div class="huds-rail d-flex flex-column">
                        <div class="huds-rail-item" *ngFor="let opcion of hudsOpciones; let i = index"
                             [class.active]="indiceSeccion === i" (click)="seleccionarSeccion(i)">
                            <plex-icon [name]="opcion.icon" size="lg" type="default" tooltip="{{ opcion.tooltip }}"
                                       tooltipPosition="right"></plex-icon>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <ng-container [ngSwitch]="indiceSeccion">
                            <huds-seccion-situaciones-salud *ngSwitchCase="0" [paciente]="paciente">
                            </huds-seccion-situaciones-salud>
                            <huds-antecedentes-personales *ngSwitchCase="1"
                                                          [paciente]="paciente"></huds-antecedentes-personales>
                            <huds-antecedentes-familiares *ngSwitchCase="2"
                                                          [paciente]="paciente"></huds-antecedentes-familiares>
                            <huds-signos-vitales *ngSwitchCase="6" [paciente]="paciente"></huds-signos-vitales>
                            <vista-accesos-huds *ngSwitchCase="8" [paciente]="paciente"></vista-accesos-huds>
                            <ng-container *ngSwitchCase="9">
                            </ng-container>
                            <historial-turnos *ngSwitchCase="10" [paciente]="paciente" [fill]="true"></historial-turnos>
                        </ng-container>
                    </div>
                </div>
            </ng-template>

            <plex-tabs (close)="onCloseTab($event)" (change)="onChangeTab($event)" [activeIndex]="activeIndexPrestacion"
                       *ngIf="indice > 0">
                <plex-tab label="Resumen del Paciente" [allowClose]="false"></plex-tab>

                <ng-container *ngFor="let registro of registros">
                    <plex-tab [allowClose]="true" [label]="registro.data.concepto.term" [class]="registro.data.class"
                              [color]="registro.data.class" *ngIf="registro.tipo === 'concepto'">

                        <detalle-registro *ngIf="registro.data.class === 'situación' || 
                                           registro.data.class === 'hallazgo' || registro.data.class === 'trastorno'"
                                          [registro]="registro.data" [paciente]="paciente">
                        </detalle-registro>

                        <detalle-procedimiento *ngIf="registro.data.class === 'procedimiento'"
                                               [registro]="registro.data" [paciente]="paciente">
                        </detalle-procedimiento>

                        <detalle-prestacion *ngIf="prestacionVisible(registro)" [registro]="registro.data"
                                            [paciente]="paciente">
                        </detalle-prestacion>
                    </plex-tab>

                    <plex-tab *ngIf="esGuardia(registro)" color="guardia" class="nav-item-guardia" [allowClose]="true"
                              [label]="registro.tipo === 'rup' ? registro.data.solicitud.tipoPrestacion.term : registro.data.prestacion.snomed.term">
                        <vista-prestacion *ngIf="registro.tipo === 'rup'" [prestacion]="registro.data"
                                          [paciente]="paciente">
                        </vista-prestacion>
                        <vista-cda *ngIf="registro.tipo === 'cda'" [registro]="registro"></vista-cda>
                    </plex-tab>

                    <plex-tab [allowClose]="true" [label]="registro.data.solicitud.tipoPrestacion.term"
                              [class]="registro.data.class" color="solicitud"
                              *ngIf="registro.tipo === 'rup' && !esGuardia(registro)">
                        <vista-prestacion [prestacion]="registro.data" [paciente]="paciente">
                        </vista-prestacion>
                    </plex-tab>

                    <!-- Incluye registros de internaciones -->
                    <ng-container *ngIf="permisoHudsCompleta">
                        <plex-tab *ngIf="registro.tipo === 'internacion'" [allowClose]="true" label="Internacion"
                                  color="solicitud">
                            <detalle-registro-internacion [internacion]="registro" [paciente]="paciente">
                            </detalle-registro-internacion>
                        </plex-tab>

                        <plex-tab [allowClose]="true" [label]="registro.data[0].solicitud.tipoPrestacion.term"
                                  [class]="registro.data.class" color="solicitud" *ngIf="registro.tipo === 'rup-group'">

                            <ng-container *ngFor="let prestacion of registro.data">
                                <vista-prestacion [prestacion]="prestacion" [paciente]="paciente">
                                </vista-prestacion>
                            </ng-container>
                        </plex-tab>

                        <plex-tab [allowClose]="true" [label]="registro.data.solicitud.tipoPrestacion.term"
                                  [class]="registro.class" *ngIf="registro.tipo === 'solicitud'">
                            <vista-solicitud-top [registro]="registro.data"></vista-solicitud-top>
                        </plex-tab>

                        <plex-tab [allowClose]="true" [label]="registro.data.solicitud.tipoPrestacion.term"
                                  [class]="registro.class" *ngIf="registro.tipo === 'solicitud'">
                            <vista-solicitud-top [registro]="registro.data"></vista-solicitud-top>
                        </plex-tab>

                        <plex-tab [allowClose]="true" label="Ficha Epidemilógica"
                                  *ngIf="registro.tipo === 'ficha-epidemiologica'">
                            <app-ficha-epidemiologica-crud *ngIf="registro.data.type.name == 'covid19'"
                                                           [paciente]="paciente" [fichaPaciente]="registro.data"
                                                           [editFicha]="false" [fichaName]="registro.data.type.name"
                                                           [hideVolver]="true" [accesoHuds]="true">
                            </app-ficha-epidemiologica-crud>
                            <app-ficha-epidemiologica-generic *ngIf="registro.data.type.name != 'covid19'"
                                                              [paciente]="paciente" [fichaPaciente]="registro.data"
                                                              [editFicha]="false" [fichaName]="registro.data.type.name"
                                                              [volverBuscador]="false" [accesoHuds]="true">
                            </app-ficha-epidemiologica-generic>
                        </plex-tab>

                        <plex-tab *ngIf="registro.tipo === 'recc'" [allowClose]="true" label="recc"
                                  [class]="registro.class" color="recc">
                            <vista-derivacion [registro]="registro.data"></vista-derivacion>
                        </plex-tab>

                        <plex-tab *ngIf="registro.tipo === 'dominio'" [allowClose]="true" [label]="registro.data.name"
                                  [class]="registro.data.class">
                            <vista-ips [registro]="registro.data"></vista-ips>
                        </plex-tab>
                    </ng-container>

                    <plex-tab *ngIf="registro.tipo === 'laboratorio' && this.permisoLaboratorios" [allowClose]="true"
                              label="Informe de Laboratorio">
                        <vista-laboratorio [protocolo]="registro"></vista-laboratorio>
                    </plex-tab>

                    <plex-tab [allowClose]="true" [label]="registro.data.solicitud.tipoPrestacion.term"
                              [class]="registro.class" *ngIf="registro.tipo === 'solicitud'">
                        <vista-solicitud-top [registro]="registro.data"></vista-solicitud-top>
                    </plex-tab>

                    <plex-tab *ngIf="registro.tipo === 'cda' && (this.permisoVacunas || this.permisoLaboratorios) && !esGuardia(registro)"
                              [allowClose]="true" [label]="registro.data.prestacion.snomed.term"
                              [class]="registro.data.class">
                        <vista-cda [registro]="registro"></vista-cda>
                    </plex-tab>

                    <plex-tab *ngIf="registro.tipo === 'receta' && this.permisoRecetas" color="receta"
                              class="tab-receta" [allowClose]="true"
                              [label]="recetaService.getLabel(registro.data.recetas)">
                        <vista-receta [registro]="registro.data" [paciente]="paciente"></vista-receta>
                    </plex-tab>
                </ng-container>
            </plex-tabs>

            <div class="huds-resumen-body" [class.is-hidden]="indice > 0 && activeIndexPrestacion !== 0">
                <ng-container *ngTemplateOutlet="resumenDetalle"></ng-container>
            </div>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar>
        <rup-hudsBusqueda #huds [vistaHuds]="true" [paciente]="paciente" [emitirConceptos]="false"></rup-hudsBusqueda>
    </plex-layout-sidebar>
</plex-layout>