<!-- Header de paciente -->
<header *ngIf="paciente">
    <header-paciente [cambiarPaciente]="false" [paciente]="paciente"></header-paciente>
</header>
<form class="plex-layout" #form="ngForm">
    <!-- Sección principal -->
    <section class="plex-layout prestacionEjecucion" *ngIf="paciente">
        <div class="row">
            <!-- Panel Principal -->
            <div class="col-8">
                <plex-box>
                    <header>
                        <div class="page-title">
                            HUDS
                        </div>
                    </header>
                    <tabs [options]="{dragScroll: false, trim: 30, fixFirstOnScroll: true, canClose: true, tabFixed: false}" (_tab)="cerrartab($event)">
                        <ng-container *ngIf="registrosHuds">
                            <ng-container *ngFor="let registro of registrosHuds; let i = index">
                                <tab [tabTitle]="registro.data.concepto.term" [class]="registro.data.class" *ngIf="registro.tipo === 'hallazgo' || registro.tipo === 'medicamento'">
                                    <rup [paciente]="paciente" [elementoRUP]="elementosRUPService.buscarElemento(registro.data.concepto, registro.data.esSolicitud)"
                                        [prestacion]="prestacion" [registro]="registro.data" [soloValores]="true">
                                    </rup>
                                </tab>

                                <tab [tabTitle]="registro.data.solicitud.tipoPrestacion.term" [class]="registro.data.class" *ngIf="registro.tipo === 'prestacion'">
                                    <h4>{{ registro.data.solicitud.tipoPrestacion.term }}</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Fecha: </b> {{registro.data.solicitud.fecha | date: 'EEE dd/MM/yyyy HH:MM'}}
                                        </div>
                                        <div class="col-12">
                                            <b>Solicitada por el profesional: </b>{{ registro.data.solicitud.profesional | profesional
                                            }}
                                        </div>
                                        <div class="col-12">
                                            <b>Desde la Organización: </b> {{ registro.data.solicitud.organizacion.nombre }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr>
                                            <h4>Registros de la consulta:</h4>
                                            <ng-container *ngFor="let elemento of registro.data.ejecucion.registros; let i = index">

                                                <div class="rup-card {{ elemento.esSolicitud ? 'plan' : servicioPrestacion.getCssClass(elemento.concepto) }}">
                                                    <div class="rup-header">
                                                        <div class="icon-rup">
                                                            <i class="icon icon-rup-semantic-{{servicioPrestacion.getIcon(elemento.concepto)}}"></i>
                                                        </div>
                                                        <div class="title">
                                                            <ng-container *ngIf="elemento?.nombre">
                                                                {{elemento.nombre[0].toUpperCase() + elemento.nombre.slice(1)}}
                                                            </ng-container>
                                                        </div>
                                                        <div class="actions">
                                                            <span class="badge badge-{{ (elemento.esSolicitud) ? 'plan' : servicioPrestacion.getCssClass(elemento.concepto) }}">{{elemento.concepto.semanticTag}}</span>
                                                            <small *ngIf="elemento?.relacionadoCon && elemento?.relacionadoCon.length > 0" class="badge badge-info">
                                                                <b>Relacionado con:</b> {{ elemento.relacionadoCon[0].concepto.term[0].toUpperCase()
                                                                + elemento.relacionadoCon[0].concepto.term.slice(1)}}
                                                            </small>
                                                            <small class="badge badge-info" *ngIf="elemento.esDiagnosticoPrincipal">
                                                                Motivo de consulta principal
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="rup-body">
                                                        <div class="legend">
                                                            <span>
                                                                {{elemento.concepto.semanticTag}}
                                                            </span>
                                                        </div>
                                                        <div class="content">
                                                            <div class="row">

                                                                <div class="col-12">
                                                                    <rup [paciente]="paciente" [elementoRUP]="elementosRUPService.buscarElemento(elemento.concepto, elemento.esSolicitud)" [prestacion]="registro.data"
                                                                        [registro]="elemento" [soloValores]="true"></rup>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>

                                </tab>

                                <tab [tabTitle]="registro.data.concepto.term" [class]="registro.data.class" *ngIf="registro.tipo === 'laboratorio'">
                                    <!-- <rup [paciente]="paciente" [elementoRUP]="elementosRUPService.buscarElemento(registro.data.concepto, registro.data.esSolicitud)"
                                        [prestacion]="prestacion" [registro]="registro.data" [soloValores]="true">
                                    </rup> -->
                                    <lab [laboratorio]="registro"></lab>
                                </tab>
                            </ng-container>
                        </ng-container>
                    </tabs>
                </plex-box>
            </div>
            <!-- HUDS -->
            <div class="col-4" *ngIf="paciente">
                <plex-box>
                    <!-- HUDS [hudsBusqueda.component.ts] -->
                    <rup-hudsBusqueda [registrosHuds]="registrosHuds" (evtHuds)="agregarListadoHuds($event)" [paciente]="paciente" [prestacionActual]=""
                        [emitirConceptos]="false"></rup-hudsBusqueda>
                </plex-box>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer>

        <div class="row">
            <div class="col">
                <plex-button label="Punto de Inicio" (click)="volver()" type="info"></plex-button>
                <!-- <plex-button label="Guardar {{prestacion?.solicitud?.tipoPrestacion?.term}}" (click)="guardarPrestacion()" type="success" -->
                <!-- class="float-right"></plex-button> -->
            </div>
        </div>

    </footer>
</form>
