<plex-list>
    <plex-item *ngFor="let turno of turnos$ | async" (click)="selected(turno)" [selected]="turno.selected">
        <plex-label size="lg" icon="turno-bold" titulo="{{ turno.tipoPrestacion }}"
                    subtitulo="{{ turno.horaInicio }} hs.">
        </plex-label>
        <plex-label *mobile="false" icon="hospital" size="md" titulo="{{ turno.efector }}"
                    subtitulo="Te atendió: {{ turno.profesional }}">
        </plex-label>

        <plex-badge type="{{ turno.estado ? 'success' : 'warning'}}">{{ turno.asistencia }}</plex-badge>
        <plex-badge type="info">{{ turno.fecha }}</plex-badge>
        <plex-button type="info" icon="eye" size="sm" (click)="selected(turno)"></plex-button>
    </plex-item>
</plex-list>