$color-mapa-citas: #7ed957;
$color-mapa-top: #f6de58;
$color-mapa-mobile: #c9d88d;
$color-mapa-mpi: #5271ff;
$color-mapa-rup: #e75354;

.citas{
    color: $color-mapa-citas;
}    

.mobile{
    color: $color-mapa-mobile;
}    

.mpi{
    color: $color-mapa-mpi;
}  

.rup{
    color: $color-mapa-rup;
}  

.top{
    color: $color-mapa-top;
}    