<ng-container *ngIf="selectedPaciente$ | async; else seleccionPaciente">
    <app-ingresar-paciente (onSave)="onSave()">
        <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="onBackIngreso()">
        </plex-button>
    </app-ingresar-paciente>
</ng-container>
<ng-template #seleccionPaciente>
    <app-elegir-paciente>
        <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="onBack()">
        </plex-button>
    </app-elegir-paciente>
</ng-template>