<plex-layout main="9">
    <plex-layout-main>
        <header>
            <!-- Buscador  -->
            <mpi-paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event)"></mpi-paciente-buscar>
        </header>
        <!-- Listado de pacientes -->
        <mpi-paciente-listado [pacientes]="pacientes" [autoselect]="false" (selected)="seleccionarPaciente($event)"
                              (hover)="hoverPaciente($event)"></mpi-paciente-listado>
    </plex-layout-main>
    <plex-layout-sidebar>
        <mpi-paciente-panel [paciente]="pacienteActivo"></mpi-paciente-panel>
    </plex-layout-sidebar>
</plex-layout>