img {
    max-height: 200px;
}

.img-fallecido {
    filter: grayscale(100%);
}

.title {
    font-size: 1.5em;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    background: white;
    font-weight: 600;
    display: inline-grid;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
}
#detalleContenedor.loadMode {
    opacity: 0.3;
}

#detalleContenedor {
    display: grid;
    
    &.vertical {
        grid-template-columns: 4fr 1fr;
        grid-template-rows: "img img" "div div" "div div" "div div" "div div";
        .img-thumbnail, .full-col {
            grid-column: 1/3;
        }
        .img-thumbnail {
            display: flex;
            justify-self: center;
        }
    }

    &.horizontal {
        grid-template-columns: 150px repeat(3, 1fr);
        grid-template-rows: "img div div div" "img div div div" "img div div div";
        grid-gap: 20px;
        .img-thumbnail {
            display: flex;
            justify-self: flex-start;
            grid-row: 1/3;
        }
    }

    // Formato para mostrar dentro de un plex-tab
    &.tab {
        border: 1px solid lightgrey;
        position: relative;
        top: -1px;
        padding: 10px;
    }
}
