<plex-list height="80%" (scrolled)="onScroll()">
    <plex-item *ngFor="let paciente of listado" class=""
               [class.pacienteFallecido]="paciente.fechaFallecimiento && paciente.fechaFallecimiento !== null"
               [selected]="pacienteSeleccionado?.id === paciente.id" (click)="seleccionar(paciente)">

        <img [mpiFotoPaciente]="paciente" />

        <plex-label *ngIf="!paciente.numeroIdentificacion" titulo="{{ paciente | nombre }}"
                    subtitulo="{{ (paciente.documento | number) || 'Sin DNI' }}">
        </plex-label>

        <plex-label *ngIf="paciente.numeroIdentificacion" titulo="{{ paciente | nombre }}"
                    subtitulo="{{ paciente.numeroIdentificacion }}"></plex-label>

        <plex-label titulo="{{ paciente | edad }}" subtitulo="{{ paciente.fechaNacimiento | fecha:'utc' }}">
        </plex-label>

        <plex-badge type="info">{{ paciente | sexo }}
        </plex-badge>

        <plex-badge type="" class=""
                    [ngClass]="{'text-success' : paciente.estado === 'validado' , 'text-warning' : paciente.estado === 'temporal'} ">
            {{ paciente.estado }}
        </plex-badge>

        <plex-badge *ngIf="paciente.fechaFallecimiento" type="danger">Fallecido:
            {{ paciente.fechaFallecimiento | fecha:'utc'}}
        </plex-badge>

        <plex-button *ngIf="editing" type="warning" size="sm" icon="pencil" title="Editar paciente"
                     (click)="editar(paciente)">
        </plex-button>
    </plex-item>
</plex-list>