<plex-title titulo="Detalle" size="sm">
</plex-title>
<plex-detail *ngIf="paciente" direction="{{ direction }}" size="sm" justify="{{ justificado }}">
    <img *ngIf="!paciente.foto" [mpiFotoPaciente]="paciente" alt="">

    <img *ngIf="paciente.foto" src="{{ paciente.foto }}">

    <plex-badge [type]="estadoBadgeType" *ngIf="paciente.estado">
        {{ paciente.estado | uppercase }}
    </plex-badge>

    <div title>{{ paciente | nombre }}</div>

    <div subtitle>{{ paciente.documento }}</div>

    <plex-label *ngIf="paciente.fechaNacimiento" titulo="Fecha de Nacimiento"
                subtitulo="{{ paciente.fechaNacimiento | fecha:'utc' }}" justify="{{ justificado }}"></plex-label>

    <plex-label *ngIf="paciente.fechaFallecimiento" titulo="Fecha de Fallecimiento"
                subtitulo="{{ paciente.fechaFallecimiento | fecha:'utc' }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.cuil" titulo="CUIL" subtitulo="{{ paciente.cuil}}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.edad" titulo="Edad" subtitulo="{{ paciente | edad }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.sexo" titulo="Sexo" subtitulo="{{ paciente | sexo }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.genero" titulo="Género" subtitulo="{{ paciente.genero }}" justify="{{ justificado }}">
    </plex-label>
</plex-detail>

<!-- Pacientes relacionados -->
<ng-container *ngIf="showRelaciones">
    <plex-title titulo="Relaciones" size="sm"></plex-title>
    <plex-list>
        <plex-label *ngIf="!relaciones?.length" titulo="No hay ninguna relación registrada" subtitulo=""></plex-label>

        <plex-item *ngFor="let relacionado of relaciones; let i = index" class="">
            <img [mpiFotoPaciente]="idPacientesRelacionados[i]" />

            <plex-label titulo="{{ relacionado | nombre }}" subtitulo="{{ relacionado.documento | number}}">
            </plex-label>

            <plex-badge type="info">{{ relacionado.relacion.nombre }}
            </plex-badge>

            <plex-button type="warning" size="sm" icon="pencil" (click)="editRelacion(relacionado)">
            </plex-button>

            <plex-button type="danger" size="sm" icon="close" (click)="removeRelacion(relacionado)">
            </plex-button>
        </plex-item>
    </plex-list>
</ng-container>