<!-- <div *ngIf="paciente">
    <div class="row mb-1">
        <div *ngIf="!paciente.foto" class="col">
            <img class="img-thumbnail" [mpiFotoPaciente]="paciente" />
        </div>
        <div *ngIf="paciente.foto" class="col">
            <img class="img-thumbnail" src="{{ paciente.foto }}">
        </div>
    </div>
    <div class="row mb-1" *ngIf="paciente.apellido">
        <div class="col">
            <strong>{{paciente | nombre | uppercase}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <span *ngIf="paciente.documento" class="mr-1">{{ paciente.documento }}</span>
            <plex-badge [type]="(paciente.estado === 'validado' ? 'success' : 'warning')">
                {{ paciente.estado | uppercase }} </plex-badge>
        </div>
    </div>
    <div class="row mb-1" *ngIf="paciente.fechaNacimiento">
        <div class="col">
            <label>Fecha de nacimiento</label>
            <span>{{ paciente.fechaNacimiento | fecha:'utc' }}</span> | <span>{{ paciente | edad }}</span>
        </div>
    </div>
    <div class="row mb-1">
        <div *ngIf="paciente.sexo" class="col-6">
            <label>Sexo / Género</label>
            <span>{{ paciente | sexo }}</span>
        </div>
        <div *ngIf="paciente.cuil" class="col-6">
            <label>CUIL</label>
            <span>{{ paciente.cuil }}</span>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label>Relaciones</label>
            <plex-loader *ngIf="relaciones.loading" type="linear"></plex-loader>
            <div *ngIf="!relaciones.loading">
                <span *ngIf="relaciones.error" class="text-warning">No disponibles en este momento</span>
                <span *ngIf="!relaciones.data || !relaciones.data.length">No hay ninguna relación registrada</span>
                <table *ngIf="relaciones.data && relaciones.data.length" class="table table-sm"
                       [ngClass]="{'table-hover': permitirseleccionarRelacion}">
                    <tbody>
                        <tr *ngFor="let relacion of relaciones.data">
                            <td
                                *ngIf="relacion?.apellido && relacion?.documento && relacion?.nombre && relacion?.relacion?.nombre">
                                <span class="mr-1">{{relacion.apellido}},{{relacion.nombre}}
                                    <em>({{relacion.relacion.nombre}})</em></span>
                                <span class="d-block"><em>{{relacion.documento}}</em></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<plex-title titulo="Detalle" size="sm">
</plex-title>
<plex-detail *ngIf="paciente" direction="{{ direction }}" size="sm" justify="{{ justificado }}">
    <img *ngIf="!paciente.foto" [mpiFotoPaciente]="paciente" alt="">

    <img *ngIf="paciente.foto" src="{{ paciente.foto }}">

    <plex-badge [type]="estadoBadgeType" *ngIf="paciente.estado">
        {{ paciente.estado | uppercase }}
    </plex-badge>

    <div title>{{ paciente | nombre }}</div>

    <div subtitle>{{ paciente.documento }}</div>

    <plex-label *ngIf="paciente.fechaNacimiento" titulo="Fecha de Nacimiento"
                subtitulo="{{ paciente.fechaNacimiento | fecha:'utc' }}" justify="{{ justificado }}"></plex-label>

    <plex-label *ngIf="paciente.fechaFallecimiento" titulo="Fecha de Fallecimiento"
                subtitulo="{{ paciente.fechaFallecimiento | fecha:'utc' }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.cuil" titulo="CUIL" subtitulo="{{ paciente.cuil}}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.edad" titulo="Edad" subtitulo="{{ paciente | edad }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.sexo" titulo="Sexo" subtitulo="{{ paciente | sexo }}" justify="{{ justificado }}">
    </plex-label>

    <plex-label *ngIf="paciente.genero" titulo="Género" subtitulo="{{ paciente.genero }}" justify="{{ justificado }}">
    </plex-label>
</plex-detail>

<!-- Pacientes relacionados -->
<ng-container *ngIf="showRelaciones">
    <plex-title titulo="Relaciones" size="sm"></plex-title>
    <plex-list>
        <plex-label *ngIf="!relaciones?.length" titulo="No hay ninguna relación registrada" subtitulo=""></plex-label>

        <plex-item *ngFor="let relacionado of relaciones; let i = index" class="">
            <img [mpiFotoPaciente]="idPacientesRelacionados[i]" />

            <plex-label titulo="{{ relacionado | nombre }}" subtitulo="{{ relacionado.documento | number}}">
            </plex-label>

            <plex-badge type="info">{{ relacionado.relacion.nombre }}
            </plex-badge>

            <plex-button type="warning" size="sm" icon="pencil" (click)="editRelacion(relacionado)">
            </plex-button>

            <plex-button type="danger" size="sm" icon="close" (click)="removeRelacion(relacionado)">
            </plex-button>
        </plex-item>
    </plex-list>
</ng-container>