<ng-container>
    <plex-detail direction="{{ orientacion === 'vertical' ? 'column' : 'row' }}" size="lg" justify="{{ justificado }}">
        <img [ngClass]="{'img-fallecido' : paciente.fechaFallecimiento}" [mpiFotoPaciente]=" paciente" />

        <plex-badge [type]="estadoBadgeType" *ngIf="paciente.estado">
            {{ paciente.estado | uppercase }}
        </plex-badge>
        <plex-badge *ngIf="showDatosTutor()" type="warning"
                    hint="Recién Nacido, no se encuentra registrado en una fuente auténtica" icon="help">
            Sin DNI
        </plex-badge>

        <plex-badge *ngIf="paciente.fechaFallecimiento" type="danger">Fallecido:
            {{ paciente.fechaFallecimiento | fecha:'utc'}}
        </plex-badge>

        <div title>{{ paciente | nombre }}</div>

        <div subtitle>
            <plex-copy *ngIf="paciente.documento" [value]="paciente.documento">{{ paciente.documento | number }}
            </plex-copy>
            <plex-copy *ngIf="paciente.numeroIdentificacion" [value]="paciente.numeroIdentificacion">
                {{ paciente.numeroIdentificacion }}
            </plex-copy>
            <ng-container *ngIf="!this.paciente.numeroIdentificacion && !this.paciente.documento">

                <div *ngIf="showDatosTutor()" justify="center">
                    <plex-label *ngIf="relaciones[0].parentesco" titulo="" subtitulo="">
                        {{relaciones[0].parentesco.toUpperCase()}}
                    </plex-label>
                    <plex-copy *ngIf="relaciones[0].numeroIdentificacion || relaciones[0].documento"
                               [value]="relaciones[0].documento || relaciones[0].numeroIdentificacion">
                        {{ (relaciones[0].documento | number) || relaciones[0].numeroIdentificacion}}
                    </plex-copy>
                    <span *ngIf="!relaciones[0].numeroIdentificacion && !relaciones[0].documento">: Sin DNI</span>
                </div>

                <plex-label *ngIf="showDatosTutor()" titulo="" subtitulo="" justify="center">{{relaciones[0] | nombre}}
                </plex-label>

                <span *ngIf=" !showDatosTutor()">Sin DNI</span>
            </ng-container>
        </div>

        <plex-label *ngIf="showSexo" titulo="Sexo / Género" subtitulo="{{paciente | sexo}}" justify="{{ justificado }}">
        </plex-label>

        <plex-label *ngIf="showFechaNacimiento" titulo="Fecha de Nacimiento"
                    subtitulo="{{ (paciente.fechaNacimiento | fecha:'utc') || 'Desconocida' }}"
                    justify="{{ justificado }}"></plex-label>

        <plex-label *ngIf="showEdad" titulo="Edad" subtitulo="{{ (paciente | edad) || 'Desconocida' }}"
                    justify="{{ justificado }}"></plex-label>

        <plex-label *ngIf="showCuil" titulo="CUIL" subtitulo="{{ paciente.cuil || 'Sin cuil' }}"
                    justify="{{ justificado }}"></plex-label>

        <plex-label *ngIf="showFinanciador && obraSocial" [titulo]="financiadorLabel"
                    subtitulo="{{ obraSocial.financiador}}"></plex-label>
        <plex-label *ngIf="!obraSocial" [titulo]="financiadorLabel" subtitulo="{{'Sin obra social' }}">
        </plex-label>

        <plex-label *ngIf="showNumeroAfiliado && numeroAfiliado" titulo="Número de Afiliado"
                    [subtitulo]="numeroAfiliado" justify="{{ justificado }}">
        </plex-label>

        <plex-label *ngIf="showDireccion" titulo="Dirección" [subtitulo]="direccion || 'Sin dirección'"
                    justify="{{ justificado }}">
        </plex-label>

        <plex-label *ngIf="showTelefono" titulo="Contacto" [subtitulo]="contacto" justify="{{ justificado }}">
        </plex-label>
    </plex-detail>
</ng-container>

<!-- Propuesta para mostrar otros datos preliminares -->
<ng-container *ngIf="showRelaciones">
    <plex-title titulo="Relaciones" size="sm"></plex-title>
    <plex-list>
        <plex-label *ngIf="!relaciones?.length" titulo="No hay ninguna relación registrada" subtitulo=""></plex-label>

        <plex-item *ngFor="let relacionado of relaciones" class="">
            <img [ngClass]="{'img-fallecido' : relacionado.fechaFallecimiento}" [mpiFotoPaciente]="relacionado" />

            <plex-label *ngIf="!relacionado.numeroIdentificacion?.length" titulo="{{ relacionado | nombre }}"
                        subtitulo="{{ (relacionado.documento | number) || 'Sin DNI' }}">
            </plex-label>

            <plex-label *ngIf="relacionado.numeroIdentificacion?.length" titulo="{{ relacionado | nombre }}"
                        subtitulo="{{ relacionado.numeroIdentificacion }}">
            </plex-label>

            <plex-badge type="info">{{ relacionado.parentesco }}
            </plex-badge>

            <plex-badge type="danger" *ngIf="relacionado.fechaFallecimiento"> Fallecido
            </plex-badge>

        </plex-item>

    </plex-list>
</ng-container>
