<div class="container">
    <div class="row">
        <div class="col">
            {{ laboratorio.data.concepto.term }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ laboratorio.data | json }}
            <ng-container *ngFor="let archivo of laboratorio.data.archivos">
                {{ archivo.filename }}
                <a href="{{ archivo.filename }}">
                    <i class="mdi mdi-36px mdi-file-pdf"></i>
                </a>
            </ng-container>
        </div>
    </div>
</div>
