<plex-accordion *ngIf="item.child" [hidden]="isHidden">
    <plex-panel (toggle)="expand($event)" #panel>
        <div plex-accordion-title class="d-flex justify-content-between align-items-center">
            <span>
                {{item.title}}
                <span *ngIf="allModule">(todos)</span>
            </span>

            <span>

                <plex-bool *ngIf="!item.avoidAll" (change)="expand($event)" [(ngModel)]="allModule" type="slide">
                </plex-bool>

                <plex-badge type="info" *ngIf="!allModule && itemsCount > 0" title="Hay elementos marcados adentro">
                    <plex-icon name="asterisk"></plex-icon>
                </plex-badge>

            </span>
        </div>
        <ng-container *ngIf="!allModule">
            <div *ngFor="let child of item.child; let indiceChild = index">
                <arbol-permisos-item [item]="child" [parentPermission]="makePermission()"
                                     [userPermissions]="userPermissions" [organizacion]="organizacion">
                </arbol-permisos-item>
            </div>
        </ng-container>
    </plex-panel>
</plex-accordion>
<div *ngIf="item.type" [hidden]="isHidden">

    <plex-bool [(ngModel)]="state" *ngIf="item.type === 'boolean'" [label]="item.title" type="slide"></plex-bool>

    <div *ngIf="item.type !== 'boolean'">
        <h5>
            {{item.title}}
            <plex-bool *ngIf="!item.avoidAll" [(ngModel)]="all" label="Seleccionar todos" type="slide"> </plex-bool>
        </h5>
        <plex-wrapper *ngIf="!loading">
            <plex-select *ngIf="item.type === 'grupo-poblacional'" [multiple]="true" [readonly]="all" [(ngModel)]="seleccionados"
                         (getData)="loadData(item.type, $event)" placeholder="Seleccione los elementos con permisos"
                         name="plexSelect" idField="_id" (change)="parseSelecionados()" (paste)="onPaste($event);">
            </plex-select>
            <plex-select *ngIf="item.type === 'queries'" [multiple]="true" [readonly]="all" [(ngModel)]="seleccionados"
                         (getData)="loadData(item.type, $event)" placeholder="Seleccione los elementos con permisos"
                         name="plexSelect" idField="_id" (change)="parseSelecionados()" (paste)="onPaste($event);">
            </plex-select>
            <plex-select *ngIf="item.type === 'prestacion'" [multiple]="true" [readonly]="all"
                         [(ngModel)]="seleccionados" (getData)="loadData(item.type, $event)"
                         placeholder="Seleccione los elementos con permisos" name="plexSelect" idField="id"
                         (change)="parseSelecionados()" (paste)="onPaste($event);">
            </plex-select>
            <plex-select *ngIf="item.type === 'organizacion'" [multiple]="true" [readonly]="all"
                         [(ngModel)]="seleccionados" (getData)="loadData(item.type, $event)"
                         placeholder="Seleccione los elementos con permisos" name="plexSelect" idField="id"
                         (change)="parseSelecionados()" (paste)="onPaste($event);">
            </plex-select>
            <plex-select *ngIf="item.type === 'unidad-organizativa'" idField='conceptId' labelField="term"
                         [multiple]="true" [readonly]="all" [(ngModel)]="seleccionados"
                         (getData)="loadData(item.type, $event)" placeholder=" Seleccione los elementos con permisos"
                         name="plexSelect" (change)="parseSelecionados()" (paste)="onPaste($event);"
                         [disabled]="!organizacion">
            </plex-select>
            <plex-select *ngIf="item.type === 'servicio-intermedio'" [multiple]="true" [readonly]="all"
                         [(ngModel)]="seleccionados" (getData)="loadData(item.type, $event)"
                         placeholder=" Seleccione los elementos con permisos" name="plexSelect"
                         (change)="parseSelecionados()" (paste)="onPaste($event);">
            </plex-select>
            <plex-copy *ngIf="!loading && item.type === 'prestacion'" [value]="seleccionadosJson">
            </plex-copy>
        </plex-wrapper>
    </div>
</div>