//
// Variables
$color-celeste: #039ac6;
$color-violeta: #9B2A79;
$color-rosa: #002B3A;
$color-amarillo: #666600;
//
// Clases

.boton {
    padding: .5em;
    color: white;
    cursor: pointer;
    transition: all .5s;

    // Colores
 
    &.color-rosa {
        background: $color-rosa;
    }
    &.color-rosa:hover {
        background: darken($color-rosa, 10%);
    }
}