<plex-title titulo="Calendario"></plex-title>
<calendario-novedades></calendario-novedades>
<plex-title titulo="últimas vistas"></plex-title>
<plex-list>
    <plex-item *ngFor="let novedad of cacheNovedades" (click)="verDetalleNovedad(novedad)">
        <p>{{novedad.titulo}}</p>
        <plex-badge size="md" type="info">{{novedad.fecha | date: 'dd/MM/yyyy'}}</plex-badge>
        <plex-badge size="md" type="success"> {{novedad.modulo? novedad.modulo.nombre : 'general'}} </plex-badge>
    </plex-item>
    <hr class="bg-white">
</plex-list>