<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Inscripción para emisión de certificados para vacunación COVID 19">
            <plex-button *ngIf="estaValidado" type="warning" (click)="resetForm()">
                VOLVER</plex-button>
        </plex-title>
        <section justify="center">
            <div class="w-100" *mobile="false">
            </div>
            <form class="w-100" #formInscripcion="ngForm">
                <plex-wrapper *ngIf="!estaValidado">
                    <plex-text [(ngModel)]="profesional.documento" name="documento" label="Documento" required="true"
                               grow="full">
                    </plex-text>
                    <plex-select [(ngModel)]="profesional.sexo" label="Seleccione sexo" [data]="sexos" name="sexo"
                                 required="true" grow="full">
                    </plex-select>
                    <plex-int [(ngModel)]="profesional.nroTramite" name="nroTramite" label="Número de Trámite del DNI"
                              required="true" grow="full">
                    </plex-int>
                    <div>
                        <a class="d-inline-block" href="javascript:void(0)" (click)="infoTramite()">
                            <plex-icon name="{{ infoNroTramite ? 'chevron-down' : 'chevron-right' }}" type="info">
                            </plex-icon>
                            Consulta donde encontrar el número de trámite
                        </a>
                        <plex-grid cols="2" *ngIf="infoNroTramite">
                            <img src="assets/img/andes-dni-frente.jpg">
                            <img src="assets/img/andes-dni-dorso.jpg">
                        </plex-grid>
                    </div>
                    <div class="mt-3" grow="full" *ngIf="captchaEnabled">
                        <re-captcha [(ngModel)]=" profesional.recaptcha" name="recaptcha" (resolved)="resolved($event)">
                        </re-captcha>
                    </div>
                    <plex-button class="mt-3" *ngIf="captchaEnabled" [disabled]="formInscripcion.invalid || !recaptcha"
                                 type="success" (click)="getProfesional()" grow="full">
                        VALIDAR</plex-button>
                    <plex-button class="mt-3" *ngIf="!captchaEnabled" [disabled]="formInscripcion.invalid"
                                 type="success" (click)="getProfesional()" grow="full">
                        VALIDAR</plex-button>
                </plex-wrapper>
            </form>
            <div class="w-100" *mobile="false">
            </div>
        </section>
        <section justify="center">
            <div class="w-100" *mobile="false">
            </div>
            <form class="w-100" #formValidado="ngForm">
                <plex-wrapper *ngIf="estaValidado">
                    <plex-text [(ngModel)]="profesional.nombreCompleto" name="nombreCompleto" label="Apellido y Nombre"
                               readonly="true" grow="full">
                    </plex-text>
                    <plex-text [(ngModel)]="profesional.fechaNacimiento" name="fechaNacimiento"
                               label="Fecha de nacimiento" readonly="true" grow="full"></plex-text>
                    <plex-text [(ngModel)]="profesional.matricula" name="matricula" label="Matrícula" readonly="true"
                               grow="full">
                    </plex-text>
                    <plex-text [(ngModel)]="profesional.profesion" name="profesion" label="Profesión / Especialidad"
                               readonly="true" grow="full">
                    </plex-text>
                    <plex-text email [(ngModel)]="profesional.email" name="email" label="Email"
                               [required]="!existeUsuario" grow="full">
                    </plex-text>
                    <plex-text [(ngModel)]="profesional.telefono" name="telefono" label="Telefono" grow="full">
                    </plex-text>
                    <div class="mt-3" *ngIf="profesional.estaMatriculado">
                        <plex-badge type="success" size="block">
                            Su matrícula se encuentra vigente hasta la fecha: {{profesional.caducidadMatricula | fecha}}
                        </plex-badge>
                        <plex-bool (change)="verificarUsuario()" type="checkbox" name="aceptaPermisos"
                                   [(ngModel)]="aceptaPermisos" label="¿Desea actualizar/crear usuario para la emisión de certificados a 
                               personas que deseen inscribirse a la campaña de vacunación contra el COVID19?">
                        </plex-bool>
                    </div>
                    <div class="mt-3" *ngIf="!profesional.estaMatriculado">
                        <plex-badge type="danger" size="block">
                            Su matrícula no se encuentra vigente</plex-badge>
                        <plex-label titulo="Atención"
                                    subtitulo="Deberá renovar su matrícula para continuar con el proceso de habilitación">
                        </plex-label>
                        <plex-button type="danger" (click)="renovarMatricula()">Renovar matrícula
                        </plex-button>
                    </div>
                    <div class="mt-3" *ngIf="aceptaPermisos">
                        <plex-button [disabled]="enProceso || formValidado.invalid" *ngIf="existeUsuario" type="success"
                                     (click)="agregarPermisos()" grow="full">Certificado de vacuna
                            COVID19
                        </plex-button>
                        <plex-button [disabled]="enProceso || formValidado.invalid" *ngIf="!existeUsuario"
                                     type="success" (click)="createUser()" grow="full">
                            Nuevo Usuario
                        </plex-button>
                    </div>
                </plex-wrapper>
            </form>
            <div class="w-100" *mobile="false">
            </div>
        </section>
    </plex-layout-main>
</plex-layout>