<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Inscripción para emision de certificados para vacunación COVID 19">
            <plex-button *ngIf="estaValidado" type="warning" (click)="resetForm()">
                VOLVER</plex-button>
        </plex-title>
        <div class="row w-100" *ngIf="!estaValidado">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 col-12">
                <form #formInscripcion="ngForm">
                    <plex-text [(ngModel)]="profesional.documento" name="documento" label="Documento" required="true">
                    </plex-text>
                    <plex-select [(ngModel)]="profesional.sexo" label="Seleccione sexo" [data]="sexos" name="sexo"
                                 required="true">
                    </plex-select>
                    <plex-int [(ngModel)]="profesional.nroTramite" name="nroTramite" label="Número de Trámite del DNI"
                              required="true">
                    </plex-int>
                    <div class="mt-3">
                        <re-captcha [(ngModel)]="profesional.recaptcha" name="recaptcha" (resolved)="resolved($event)">
                        </re-captcha>
                    </div>
                    <div class="mt-3">
                        <plex-button [disabled]="formInscripcion.invalid || !recaptcha" type="success"
                                     (click)="pruebaValidacion()">
                            VALIDAR</plex-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row w-100" *ngIf="estaValidado">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 col-12">
                <plex-text [(ngModel)]="profesional.nombreCompleto" name="nombreCompleto" label="Apellido y Nombre"
                           readonly="true">
                </plex-text>
                <plex-datetime [(ngModel)]="profesional.fechaNacimiento" name="fechaNacimiento"
                               label="Fecha de nacimiento" readonly="true"></plex-datetime>
                <plex-text [(ngModel)]="profesional.matricula" name="matricula" label="Matricula" readonly="true">
                </plex-text>
                <plex-text [(ngModel)]="profesional.profesion" name="profesion" label="Profesión / Especialidad"
                           readonly="true">
                </plex-text>
                <plex-text [(ngModel)]="profesional.email" name="email" label="Email">
                </plex-text>
                <plex-text [(ngModel)]="profesional.telefono" name="telefono" label="Telefono">
                </plex-text>
                <div class="mt-3" *ngIf="profesional.estaMatriculado">
                    <plex-badge type="success">
                        Su matricula se encuentra vigente</plex-badge>
                    <plex-bool (change)="verificarUsuario()" type="checkbox" name="aceptaPermisos"
                               [(ngModel)]="aceptaPermisos"
                               label="¿Desea actualizar/crear usuario para la emisión de certificados a 
                               personas con discapacidad que deseen inscribirse a la campaña de vacunación contra el COVID19?">
                    </plex-bool>
                </div>
                <div class="mt-3" *ngIf="!profesional.estaMatriculado">
                    <plex-badge type="danger">
                        Su matricula no se encuentra vigente</plex-badge>
                    <plex-label titulo="Atención"
                                subtitulo="Deberá renovar su matricula para continuar con el proceso de habilitación">
                    </plex-label>
                    <plex-button type="danger">Renovar matricula
                    </plex-button>
                </div>
                <div class="mt-3" *ngIf="aceptaPermisos">
                    <plex-button *ngIf="existeUsuario" type="success" (click)="agregarPermisos()">Certificado de vacuna
                        COVID19
                    </plex-button>
                    <plex-button *ngIf="!existeUsuario" type="success" (click)="agregarPermisos()">Nuevo Usuario
                    </plex-button>
                </div>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>