@import '~@andes/plex/src/lib/css/variables';

@media print {
    @page {
        size: portrait;
    }
    nav,
    footer,
    .btn {
        display: none;
    }
    body {
        padding: 0;
        margin: 0;
        -webkit-print-color-adjust: exact;
    }

    .content {
        margin-top: 0!important;
    }
    
    .login-header {
        height: 80px;
        margin-left: 30px;
        .logo-gobierno {
            width: var(--logo-gobierno-size);
            float: left;
            height: 100%;
            background-repeat: no-repeat;
            background-size: var(--logo-gobierno-size);
            background-position: center left;
            background-image: var(--logo-gobierno);
        }
        .logo-gobierno-salud {
            width: var(--logo-gobierno-salud-size);
            float: left;
            margin-left: 5px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: var(--logo-gobierno-salud-size);
            background-position: center left;
            background-image: var(--logo-gobierno-salud);
        }
    }
    
.egt, .egt th, .egt td {
    border: 1px solid black;
    border-collapse: collapse;
  }

hr {
    margin: 1px 0;
}
th {
    font-size: 1rem;
}

td{
    padding-left: 10px;
}

.text-bottom {
    vertical-align: bottom;
}
.text-center {
    text-align: center;
}
.h70{
    height: 70px;
}
.h80{
    height: 80px;
}
.h0 {
    height: 0px;
}
.font11{
    font-size: 11px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.ml25{  
    margin-left: 25px;
    padding-left: 25px;
}
label{
    margin-top: 5px;
}

}
