@media print {
    @page {
        size: portrait;
    }
    nav,
    footer,
    .btn {
        display: none;
    }
    body {
        padding-top: 0;
    }
    // table {
    //     // page-break-after: always;
    // }
    hr {
        margin: 1px 0;
    }
    th {
        font-size: 1rem;
    }
    tr {
        border-bottom: 2px solid rgba(0, 0, 0, .15);
    }
    small {
        font-size: 0.7rem;
    }
    .dato {
        font-size: 0.9rem;
    }
    .content {
        margin: 0 !important;
    }
    .plex-box>div {
        padding: 0 !important;
    }
    .badge {
        color: #333333;
        border: 1px solid rgba(0, 0, 0, 0.69);
    }
    .firma-profesional{
        text-align: center;
        label {
            font-size: 0.9rem;
        }
        p {
            font-size: 0.7rem;
        }
        img {
            max-height: 45px;
        }
    }
    .pushup {
        position: relative;
        top: -1cm;
    }
    .leyenda {
        background-color: rgba(0, 0, 0, 0.1);
        display: inline-block;
        font-size: 5px;
        margin-bottom: 15px;
        padding: 5px;
        width: 100%;
    }
    .contenedor-zocalo {
        display: inline-block; 
        img {
            float: left; // margin-right: 1rem;
            &.logo-pdp {
                height: 1cm;
                width: auto;
            }
        }
    
        hr {
            margin: 5px 0 5px 0;
        }
    
        .contenedor-data-pdp {
            width: 50%;
            display: inline-block;
            margin-left: 0.5cm;
            text-align: justify;
            font-size: 0.7rem;
            h6 {
                font-size: 0.7rem;
            }
        }

        .contenedor-ley {
            // display: inline-block;
            float: right;
            max-width: 5.25cm;
            margin-left: 0; // text-align: right;
            margin-left: 0.25cm;
            text-align: justify;
            h6 {
                font-size: 0.8rem;
            }
        }
    }
}