<section class="cama-container manual-flip animate-repeat" *ngIf='!modoFlat'>
    <div class="cama">
        <div class="card-container front {{cama.ultimoEstado.estado}} bg-cama">
            <!-- Botonera lateral -->
            <div class="card-contenedor-lateral"></div>
            <div class="card-contenedor-central">
                <div class="contenedor-cama" (click)="seleccionarCama('mostrarResumen');">
                    <div class="contenedor-texto hover">
                        <div>{{ getHabitacionName()}}</div>
                        <h3 class="card-titulo">{{cama.nombre}}</h3>
                    </div>

                    <!-- Icono cama -->
                    <div *ngIf="cama.ultimoEstado.estado !== 'ocupada'"
                         class="data-icon {{cama.ultimoEstado.estado !== 'ocupada' ? cama.ultimoEstado.estado  : cama.ultimoEstado.paciente.sexo}}">
                        <!-- reparacion -->
                        <i *ngIf="cama.ultimoEstado.estado === 'reparacion'"
                           class="icon icon-andes-cama-herramienta {{cama.ultimoEstado.estado}}"></i>
                        <!-- Bloqueada -->
                        <i *ngIf="cama.ultimoEstado.estado === 'bloqueada'"
                           class="icon icon-andes-cama-candado {{cama.ultimoEstado.estado}}"></i>
                        <!-- desocupada -->
                        <i *ngIf="cama.ultimoEstado.estado === 'desocupada'"
                           class="icon icon-andes-cama-reloj {{cama.ultimoEstado.estado}}"></i>
                        <!-- ocupada -->
                        <i *ngIf="cama.ultimoEstado.estado === 'disponible'"
                           class="icon icon-andes-cama-check {{cama.ultimoEstado.estado}}"></i>
                    </div>

                    <div class="icon-content {{cama.ultimoEstado.estado}}">
                        <!-- disponible -->
                        <i *ngIf="cama.ultimoEstado.estado === 'disponible'" class="icon icon-andes-cama"></i>
                        <!-- desocupada -->
                        <i *ngIf="cama.ultimoEstado.estado === 'desocupada'"
                           class="icon icon-andes-cama-desocupada"></i>
                        <!-- ocupada -->
                        <i *ngIf="cama.ultimoEstado.estado === 'ocupada'" class="icon icon-andes-cama-ocupada"></i>
                        <!-- bloqueo de cama -->
                        <i *ngIf="cama.ultimoEstado.estado === 'bloqueada'" class="icon icon-andes-cama"></i>
                        <!-- reparacion de la cama -->
                        <i *ngIf="cama.ultimoEstado.estado === 'reparacion'" class="icon icon-andes-cama"></i>
                    </div>
                    <!-- <div class='position-icons'>
                        <div [ngClass]="{'icono-censable':cama.ultimoEstado.esCensable , 'icono-noCensable':!cama.ultimoEstado.esCensable}"
                            [title]="cama.ultimoEstado.esCensable ? 'Censable' : ' No censable'">
                            <i class="icon icon-andes-cama-herramienta"></i>
                        </div>
                        <div *ngIf='checkOxigeno(cama)' class="icono-censable" [title]="'Oxigeno'" >
                                <i class="icon icon-andes-cama-oxigeno"></i>
                            </div>
                    </div> -->
                </div>

                <!-- Boton clave inferior -->
                <div class="card-contenedor-inferior">
                    <!-- Nombre paciente -->
                    <div class="data-paciente" *ngIf="cama.ultimoEstado?.paciente">
                        <p>
                            <b>{{cama.ultimoEstado.paciente.apellido}}</b>
                            <br>{{cama.ultimoEstado.paciente.nombre}}
                            <br>{{cama.ultimoEstado.paciente.documento}}
                        </p>
                    </div>
                    <!-- devolver cama VER CHICHI-->
                    <plex-button type="success" label="Devolver cama" title="Devolver cama"
                                 (click)="devolverCama(cama);"
                                 *ngIf="cama.unidadOrganizativaOriginal.conceptId !== cama.ultimoEstado.unidadOrganizativa.conceptId && !cama.ultimoEstado.paciente && !readOnly">
                    </plex-button>

                </div>
            </div>
            <!-- Botones laterales -->
            <div class="card-contenedor-lateral" *ngIf="!readOnly">
                <!-- Internar paciente -->
                <plex-button *ngIf="showEstados && !cama.ultimoEstado?.paciente?.id && cama.ultimoEstado.estado == 'disponible' && !readOnly"
                             type="success btn-sm" icon="account-plus" (click)="seleccionarCama('internarPaciente');">
                </plex-button>
                <!-- Desocupar cama -->
                <plex-button *ngIf="showEstados && cama.ultimoEstado?.idInternacion" icon="mdi mdi-format-list-bulleted"
                             type="success btn-sm" (click)="seleccionarCama('desocupar');">
                </plex-button>
                <!-- Preparar cama -->
                <plex-button *ngIf="showEstados && cama.ultimoEstado.estado == 'desocupada' && !readOnly" icon="spray"
                             type="warning btn-sm" (click)="seleccionarCama('preparar');">
                </plex-button>
                <!-- Bloquear cama -->
                <plex-button *ngIf="showEstados && !cama.idInternacion && (cama.ultimoEstado.estado == 'disponible' || cama.ultimoEstado.estado == 'desocupada')"
                             type="danger btn-sm" icon="lock" (click)="seleccionarCama('bloquear');">
                </plex-button>
                <!-- Desbloquear cama -->
                <plex-button *ngIf="showEstados && !cama.idInternacion && cama.ultimoEstado.estado == 'bloqueada' && !readOnly"
                             icon="lock-open" type="success btn-sm" (click)="seleccionarCama('desbloquear');">
                </plex-button>
                <!-- Editar datos de la cama -->
                <plex-button *ngIf="showEstados" icon="pencil" type="primary btn-sm" (click)="editarCama(cama)">
                </plex-button>
            </div>
        </div>

        <!-- Back -->
        <div class="back" *ngIf="cama.$rotar">


            <!-- Acción: Ver cama enviada a reparacion- SE MUESTRA EN EL DETALLE DE LA CAMA. BORRAR DE ACA-->
            <div *ngIf="cama.$action == 'enviada_reparacion' && cama.ultimoEstado.estado == 'reparacion'">
                <div class="contenido">
                    <div class="main">
                        <div *ngIf="!cama.ultimoEstado?.paciente?.id && cama.ultimoEstado.estado == 'reparacion'">
                            <h3 class="name reparacion">
                                En reparación desde:
                                <br /> {{cama.ultimoEstado.createdAt | date: "dd/MM/yyyy 'a las' HH:mm "}}hs
                                <br />enviada por {{cama.ultimoEstado.createdBy.nombreCompleto}}
                                <br />
                                <br />
                            </h3>
                            <div class="motivo-reparacion">
                                {{cama.ultimoEstado.motivo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ver cama bloqueadea  SE MUESTRA EN EL DETALLE DE LA CAMA. BORRAR DE ACA--->
            <div *ngIf="cama.$action == 'estado_bloqueada' && cama.ultimoEstado.estado == 'bloqueada'">
                <div class="contenido">
                    <div class="main">
                        <div *ngIf="!cama.ultimoEstado?.paciente?.id && cama.ultimoEstado.estado == 'bloqueada'">
                            <h3 class="name reparacion">
                                Bloqueada desde:
                                <br /> {{cama.ultimoEstado.createdAt | date: "dd/MM/yyyy 'a las' HH:mm "}}hs
                                <br />enviada por {{cama.ultimoEstado.createdBy.nombreCompleto}}
                                <br />
                                <br />
                            </h3>
                            <div class="motivo-reparacion">{{cama.ultimoEstado.motivo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-container *ngIf='modoFlat'>
    <div class='row camaModoFlat'>
        <div class='col-2 centerBadge ' (click)="seleccionarCama('mostrarResumen');">
            <plex-badge type="{{ cama.ultimoEstado.estado === 'disponible' ? 'success' : (
                cama.ultimoEstado.estado === 'desocupada' ? 'warning': ( 
                    cama.ultimoEstado.estado === 'ocupada' ? 'ocupada-flat': 'info')) }}">
                {{cama.ultimoEstado.estado}}
            </plex-badge>
        </div>
        <div class='col-2' (click)="seleccionarCama('mostrarResumen');">
            <label>Cama</label>
            {{cama.nombre}}
        </div>
        <div class='col-3' (click)="seleccionarCama('mostrarResumen');">
            <label>Paciente</label>

            <ng-container *ngIf='cama.ultimoEstado.paciente'>
                {{cama.ultimoEstado.paciente.apellido }},{{cama.ultimoEstado.paciente.nombre }}
            </ng-container>
            <ng-container *ngIf='!cama.ultimoEstado.paciente'>
                Sin Paciente
            </ng-container>
        </div>
        <div class='col-3' (click)="seleccionarCama('mostrarResumen');">
            <label>Unidad organizativa</label>
            {{cama.ultimoEstado.unidadOrganizativa.term}} | {{ cama.sectores[0].nombre}}
        </div>

        <div class='col-2'>
            <label>Acciones</label>
            <!-- Internar paciente -->
            <plex-button *ngIf="showEstados && !cama.ultimoEstado?.paciente?.id && cama.ultimoEstado.estado == 'disponible' && !readOnly"
                         type="success btn-sm" icon="account-plus" (click)="seleccionarCama('internarPaciente');">
            </plex-button>
            <!-- Desocupar cama -->
            <plex-button *ngIf="showEstados && cama.ultimoEstado?.idInternacion" icon="mdi mdi-format-list-bulleted"
                         type="success btn-sm" (click)="seleccionarCama('desocupar');">
            </plex-button>
            <!-- Preparar cama -->
            <plex-button *ngIf="showEstados && cama.ultimoEstado.estado == 'desocupada' && !readOnly" icon="spray"
                         type="warning btn-sm" (click)="seleccionarCama('preparar');">
            </plex-button>
            <!-- Bloquear cama -->
            <plex-button *ngIf="showEstados && !cama.idInternacion && (cama.ultimoEstado.estado == 'disponible' || cama.ultimoEstado.estado == 'desocupada')"
                         type="danger btn-sm" icon="lock" (click)="seleccionarCama('bloquear');">
            </plex-button>
            <!-- Desbloquear cama -->
            <plex-button *ngIf="showEstados && !cama.idInternacion && cama.ultimoEstado.estado == 'bloqueada' && !readOnly"
                         icon="lock-open" type="success btn-sm" (click)="seleccionarCama('desbloquear');">
            </plex-button>
            <!-- Editar datos de la cama -->
            <plex-button *ngIf="showEstados" icon="pencil" type="primary btn-sm" (click)="editarCama(cama)">
            </plex-button>

        </div>

    </div>

</ng-container>