<div *ngIf="prestacion && paciente">
    <form #formReparada="ngForm">
        <fieldset>
            <legend>Ocupar cama</legend>
            <div class="row">
                <div class="col-md">
                    <label>Paciente</label>
                    <p>{{ paciente | nombre }}</p>
                </div>
                <div class="col-md">
                    <label>Documento</label>
                    <p>{{ paciente.documento }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Fecha de Nacimiento</label>
                    <p>{{ paciente.fechaNacimiento | fecha }}</p>
                </div>
                <div class="col-md">
                    <label>Genero</label>
                    <p>{{ paciente | sexo }}</p>
                </div>
                <div class="col-md"><br>
                    <plex-button (click)="routeTo('vista', paciente.id)" label="VER HUDS" type="primary btn-sm">
                    </plex-button>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Fecha de Ingreso</label>
                    <p>{{ prestacion.ejecucion.registros[0].valor.informeIngreso.fechaIngreso | fecha }} {{
                        prestacion.ejecucion.registros[0].valor.informeIngreso.fechaIngreso | hora }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <plex-datetime type="date" [(ngModel)]="fecha" [required]="true" name="fecha" label="Fecha"
                                   (change)="disponibles.next()">
                    </plex-datetime>
                </div>
                <div class="col-md">
                    <plex-datetime type="time" [(ngModel)]="hora" [required]="true" name="hora" label="Hora   "
                                   (change)="disponibles.next()">
                    </plex-datetime>
                </div>
            </div>
            <div class="row" *ngIf="elegirUO">
                <div class="col-md">
                    <plex-select name="unidadOrganizativa" [data]="listaUnidadesOrganizativas" idField="term"
                                 labelField="term" [(ngModel)]="paseAunidadOrganizativa" label="Unidad organizativa"
                                 (change)="disponibles.next()">
                    </plex-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md" *ngIf="listadoCamas && listadoCamas.length > 0">
                    <plex-select name="camasDisponibles" [required]="true" [data]="listadoCamas" idField="nombre"
                                 labelField="nombre" [(ngModel)]="camaSeleccionPase" label="Camas">
                    </plex-select>
                </div>
                <div class="col-md" *ngIf="listadoCamas && listadoCamas.length  === 0">
                    <h6>
                        <strong>
                            No hay camas disponibles para esta unidad organizativa</strong>
                    </h6>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <!-- Botonera-->
                <div class="col-md text-left">
                    <plex-button type="danger" label="Cancelar" (click)="cancelar()">
                    </plex-button>
                </div>
                <div class="col-md text-right">
                    <plex-button label="Guardar" type="success" icon="check" [validateForm]="formReparada"
                                 (click)="ocuparCama($event, cama)">
                    </plex-button>

                </div>
            </div>
        </fieldset>

    </form>
</div>