// Variables
$card-container: 300px;
$card-back-header: 65px;
$card-back-contenido: 170px;
.cama-container {
    // Características comnues
    padding: 0 0;
    perspective: 800px;
    height: $card-container;
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    // Efecto flip
    &.hover.manual-flip .cama,
    &:not(.manual-flip):hover .cama {
        transform: rotateY(180deg);
    }
    &.static.hover .cama,
    &.static:hover .cama {
        transform: none;
    }
    &:hover .cama .front,
    &:hover .cama .back {
        transition: all 0.3s ease-out;
    }
    .cama {
        transition: transform .5s;
        transform-style: preserve-3d;
        position: relative;
        background: #FFF;
        border-radius: 4px;
        color: #444;
        // Back & Front: Common
        .back,
        .front {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #FFF;
            height: $card-container;
            width: 100%;
        }
        // Front
        .front {
            z-index: 2;
            .bloqueada {
                background: rgba(249, 249, 249, 0.5);
            }
        }
        // Back
        .back {
            transform: rotateY(180deg);
            z-index: 3;
            padding: 10px;
        }
        .cover {
            overflow: hidden;
            border-radius: 4px 4px 0 0;
        }
        .contenido {
            height: $card-back-contenido;
        }
        .name {
            color: #000;
            font-size: 16px;
            line-height: 18px;
            margin: 8px 0 0;
            text-align: center;
        }
        .name.dorso {
            color: #000;
            font-size: 18px;
            line-height: 22px;
            margin: 10px 0 0;
            text-align: left;
        }
        .name.reparacion {
            font-size: 18px;
        }
        h5 {
            margin: 5px 0;
            font-weight: 400;
            line-height: 20px;
        }
        .profession {
            margin-bottom: 20px;
        }
        .header {
            height: $card-back-header;
        }
        .icon {
            text-align: center;
            .mdi.agregar,
            .mdi {
                font-size: 160px;
            }
            .reparacion {
                font-size: 100px;
                cursor: pointer;
            }
            .icono-paciente {
                font-size: 100px;
                cursor: pointer;
            }
            >p {
                font-size: 1rem;
            }
        }
        .rounded-background {
            border-radius: 18px;
            color: white;
            padding: 5px;
            width: 32px;
        }
        .numero-habitacion-header {
            background: #f4f4f4;
            color: #000;
            font-weight: bold;
            padding: 5px 10px;
            font-size: 15px;
        }
        .btn-buscar-paciente {
            background: white;
            .agregar {
                background: white;
                color: rgb(101, 167, 95);
            }
        }
        .btn-desocupada {
            background: white;
            .agregar {
                background: white;
                color: #5F90A7;
            }
        }
        .btn-ocupada {
            background: white;
            color: rgb(107, 124, 123);
            .mdi {
                font-size: 120px;
            }
        }
        .btn-preparacion {
            background: white;
            .agregar {
                background: white;
                color: rgb(201, 201, 201);
            }
        }
        .btn-bloqueada {
            padding: 0;
            background: transparent;
        }
        .grow {
            padding: 0;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    // Card-Container
    .card-container {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        text-align: center;
        .card-contenedor-central {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: $card-container;
            width: 70%;
            .contenedor-cama {
                .contenedor-texto {
                    // text-align: center;
                    position: absolute;
                    left: 0;
                    top: 45%;
                    right: 0;
                    color: white;
                    // position: absolute;
                    // top: 45%;
                    // left: 30%;
                    // color: white;
                }
                i {
                    align-self: center;
                }
            }
            .card-contenedor-inferior {
                // display: flex;
                // height: 100px;
                // flex-direction: column;
                // justify-content: flex-end;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -17px;
            }
        }
        .card-contenedor-lateral {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            width: 15%;
            // Botonera
            plex-button {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                overflow: hidden;
            }
        }
        .card-prefix {
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        .card-titulo {
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        .card-subtitulo {
            font-size: 0.85rem;
            font-weight: 400; // white-space: pre;
        }
        .card-texto {
            font-size: 0.9vw;
            line-height: 1.25vw;
        }
        .card-numero {
            font-size: 7rem;
            font-weight: 700;
        }
    }
}

.icono-censable {
    color: #66DFFF;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border-radius: 80px;
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem 0;
    margin: 0 5px;
    border: solid 2px #66DFFF;
}

.icono-noCensable {
    color: #f7931e;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border-radius: 80px;
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem 0;
    margin: 0 5px;
    border: solid 2px #f7931e;
}

.bg-cama{
    background-color: rgba(255, 0, 0, 0) !important
}

.position-icons{
    position: absolute;
    left: -2px;
    top: 33%
}