<form #formEgreso="ngForm" *ngIf="!soloValores">
    <section class="andes-tab">
        <div class="row" *ngIf="prestacion">
            <div class="col-12">
                <ng-container>
                    <div class="row ">
                        <div class="col-6 ">
                            <plex-datetime type="date" name="fecha-hora" label="Fecha" [(ngModel)]="fechaEgreso"
                                [required]="true" (change)="mySubject.next($event)">
                            </plex-datetime>
                        </div>
                        <div class="col-6 ">
                            <plex-datetime type="time" name="fecha-hora" label="Hora" [(ngModel)]="horaEgreso"
                                [required]="true" (change)="mySubject.next($event)">
                            </plex-datetime>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 ">
                            <plex-int name="diasEstada" label="Días de estada" suffix="Días" [(ngModel)]="registro.valor.InformeEgreso.diasDeEstada"
                                placeholder="" [required]="true" [readonly]="true"></plex-int>
                        </div>
                        <div class="col-6">
                            <plex-select (change)="selecOrganizacionDestino() " label="Tipo de egreso" [(ngModel)]="registro.valor.InformeEgreso.tipoEgreso"
                                name="InformeEgreso.tipoEgreso " [data]="listaTipoEgreso" placeholder="Seleccione... "
                                [required]="true">
                            </plex-select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col ">
                            <plex-select *ngIf="listaUnidadesOrganizativas?.length> 0" label="Unidad organizativa de destino"
                                [(ngModel)]="registro.valor.InformeEgreso.UnidadOrganizativaDestino" name="InformeEgreso.UnidadOrganizativaDestino"
                                (getData)="loadOrganizacion($event)" placeholder="Seleccione..." [required]="true">
                            </plex-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <plex-select (change)="showProcedimientos_causas()" label="Diagnostico Principal al egreso"
                                [(ngModel)]="registro.valor.InformeEgreso.diagnosticoPrincipal" name="diagnosticoPrincipal"
                                (getData)="codigoCIE10($event)" placeholder="buscar..." labelField="nombre">
                            </plex-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <plex-select label="Otros Diagnósticos" [(ngModel)]="registro.valor.InformeEgreso.otrosDiagnosticos"
                                name="otrosDiagnosticos" (getData)="codigoCIE10($event)" [multiple]="true" placeholder="buscar..."
                                labelField="nombre">
                            </plex-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <plex-select label="Otras circunstancias" [(ngModel)]="registro.valor.InformeEgreso.otrasCircunstancias"
                                name="otrasCircunstancias" (getData)="codigoCIE10($event)" placeholder="buscar...">
                            </plex-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" *ngIf='registro.valor.InformeEgreso.otrasCircunstancias'>
                            <plex-int name="diasDeEstada"  label="Otros días de estada" suffix="Días" [(ngModel)]="registro.valor.InformeEgreso.diasEstadaOtrasCircunstancias"
                                placeholder=""></plex-int>
                        </div>
                        <div class="col-{{registro.valor.InformeEgreso.otrasCircunstancias ? 6 : 12}}">
                            <label></label>
                            <plex-int name="diasDePermisoDeSalida" label="Días de permiso de salida" suffix="Días"
                                [(ngModel)]="registro.valor.InformeEgreso.diasDePermisoDeSalida" placeholder=""></plex-int>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <fieldset *ngIf="ExisteCausaExterna">
                        <legend>Causa Externa</legend>
                        <div *ngIf="ExisteCausaExterna" class="row">
                            <div class="col">
                                <plex-select label="Producido por:" [(ngModel)]="registro.valor.InformeEgreso.causaExterna.producidaPor"
                                    name="producidaPor" [data]="causaExterna.producidaPor" placeholder="Seleccione..."
                                    labelField="nombre" [required]="ExisteCausaExterna">
                                </plex-select>
                            </div>
                        </div>
                        <div *ngIf="ExisteCausaExterna" class="row">
                            <div class="col">
                                <plex-select label="Lugar donde ocurrio" [(ngModel)]="registro.valor.InformeEgreso.causaExterna.lugar"
                                    name="lugar" [data]="causaExterna.lugar" placeholder="Seleccione..." [required]="ExisteCausaExterna"
                                    labelField="nombre">
                                </plex-select>
                            </div>
                        </div>
                        <div *ngIf="ExisteCausaExterna" class="row">
                            <div class="col">
                                <plex-select label="Como se produjo" [(ngModel)]="registro.valor.InformeEgreso.causaExterna.comoSeProdujo"
                                    name="comoSeProdujo" (getData)="searchComoSeProdujo($event)" [required]="ExisteCausaExterna"
                                    placeholder="Buscar..." labelField="nombre">
                                </plex-select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">&nbsp;</div>
                    <fieldset>
                        <legend class="small">Procedimientos Quirúrgicos</legend>
                        <ng-container *ngIf="listaProcedimientosQuirurgicos && listaProcedimientosQuirurgicos.length > 0">
                            <ng-container *ngFor=" let procedimiento of registro.valor.InformeEgreso.procedimientosQuirurgicos; let i = index ">
                                <div class="row">
                                    <div class="col-6">
                                        <plex-select label="Procedimientos" [(ngModel)]="procedimiento.procedimientosQuirurgicos"
                                            name="InformeEgreso.procedimientoQuirurgico-{{i}}" [data]="listaProcedimientosQuirurgicos"
                                            placeholder="Seleccione..." labelField="nombre">
                                        </plex-select>
                                    </div>
                                    <div class="col-6">
                                        <plex-datetime name="fecha-procedimientoQuirurgico-{{i}}" label="Fecha" type="date"
                                            [(ngModel)]="procedimiento.fecha">
                                        </plex-datetime>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 p-1 float-right">
                                        <plex-button *ngIf="i > 0" label="" type="danger btn-sm" icon="close" (click)="removeProcedimiento(i)"></plex-button>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row">
                                <div class="col float-right">
                                    <plex-button label="Agregar procedimiento" type="success btn-sm" icon="" (click)="addProcedimientoQuirurgico()"></plex-button>
                                </div>
                            </div>
                        </ng-container>
                    </fieldset>
                    <div class="row">&nbsp;</div>
                    <fieldset *ngIf="procedimientosObstetricos">
                        <legend class="small">Procedimientos Obstétricos
                        </legend>
                        <div *ngIf="procedimientosObstetricos">
                            <div class="row">
                                <div class="col-6">
                                    <plex-datetime name="fechaTerminacion" label="Fecha terminación" type="date"
                                        [(ngModel)]="registro.valor.InformeEgreso.terminacionEmbarazo" [required]="procedimientosObstetricos">
                                    </plex-datetime>
                                </div>
                                <div class="col-6">
                                    <plex-int name="edadGestacional" label="Edad gestacional" [(ngModel)]="registro.valor.InformeEgreso.edadGestacional"
                                        placeholder="" [required]="procedimientosObstetricos"></plex-int>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <plex-int name="paridad" label="Paridad" [(ngModel)]="registro.valor.InformeEgreso.paridad"
                                        placeholder="" [required]="procedimientosObstetricos"></plex-int>
                                </div>
                                <div class="col-6">
                                    <plex-radio [(ngModel)]="registro.valor.InformeEgreso.tipoParto" label="Tipo de parto"
                                        type="horizontal" [data]="opcionesTipoParto" name="opcionTipoParto">
                                    </plex-radio>
                                </div>
                            </div>
                            <ng-container *ngFor=" let nacimiento of registro.valor.InformeEgreso.nacimientos; let i = index ">
                                <div class="row">
                                    <div class="col-6">
                                        <plex-int suffix="g" name="peso-{{i}}" label="Peso al nacer" [(ngModel)]="nacimiento.pesoAlNacer"
                                            placeholder=""></plex-int>
                                    </div>

                                    <div class="col-6">
                                        <plex-radio [(ngModel)]="nacimiento.condicionAlNacer" label="Condición al nacer"
                                            type="horizontal" [data]="opcionesCondicionAlNacer" name="opcionCondNacer-{{i}}">
                                        </plex-radio>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <plex-radio [(ngModel)]="nacimiento.terminacion" label="Terminacion" type="horizontal"
                                            [data]="opcionesTerminacion" name="Terminacion-{{i}}">
                                        </plex-radio>
                                    </div>
                                    <div class="col-6">
                                        <plex-radio [(ngModel)]="nacimiento.sexo" label="Sexo" type="horizontal" [data]="opcionesSexo"
                                            name="Sexo-{{i}}">
                                        </plex-radio>
                                    </div>
                                    <div class="col-1">
                                        <plex-button *ngIf="i > 0" label="" type="danger btn-sm" icon="close" (click)="removeNacimiento(i)"></plex-button>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row">
                                <div class="col">
                                    <plex-button *ngIf="registro.valor.InformeEgreso.tipoParto == 'Multiple'" label="Agregar"
                                        type="primary btn-sm" icon="" (click)="addNacimiento()"></plex-button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </ng-container>
                <!-- Footer -->
                <footer class="andes-contenedor-botones horizontal between">
                    <plex-button *ngIf="botonera?.cerrar" type="danger" label="Cerrar" (click)="cancelar() "></plex-button>&nbsp;
                    <plex-button *ngIf="prestacion && prestacion.estados[prestacion.estados.length - 1].tipo != 'validada' "
                        label="Validar" (click)="validarPrestacion(formEgreso.form.valid) " type="warning" validateForm="true "></plex-button>&nbsp;
                    <plex-button *ngIf="prestacion && prestacion.estados[prestacion.estados.length - 1].tipo != 'validada' "
                        label="Guardar" (click)="guardarPrestacion(formEgreso.form.valid) " type="success "
                        validateForm="true "></plex-button>&nbsp;
                    <plex-button *ngIf="prestacion && prestacion.estados[prestacion.estados.length - 1].tipo==='validada'"
                        label="Romper Validación" (click)="romperValidacion() " type="danger "></plex-button>
                </footer>
            </div>
        </div>
    </section>
</form>

<!-- Visualizacion de datos de egreso -->
<ng-container *ngIf="soloValores && registro.valor">
    <!-- Fecha -->
    <div class="row" *ngIf="registro.valor.InformeEgreso.fechaEgreso">
        <div class="col">
            <b>Fecha de egreso</b>
            <p>{{registro.valor.InformeEgreso.fechaEgreso | fecha }} {{registro.valor.InformeEgreso.fechaEgreso | hora
                }}</p>
        </div>
        <div class="col" *ngIf="registro.valor.InformeEgreso.tipoEgreso">
            <b>Tipo de egreso</b>
            <p>{{registro.valor.InformeEgreso.tipoEgreso.nombre }}</p>
        </div>
    </div>
    <!-- Detalle  -->
    <div class="row" *ngIf="registro.valor.InformeEgreso.diagnosticoPrincipal">
        <div class="col">
            <b>Diagnostico Principal al egreso</b>
            <p>{{registro.valor.InformeEgreso.diagnosticoPrincipal.codigo}} -
                {{registro.valor.InformeEgreso.diagnosticoPrincipal.nombre}}
            </p>
        </div>
    </div>
    <!-- Otros diagnosticos -->
    <div class="row" *ngIf="registro.valor.InformeEgreso.otrosDiagnosticos">
        <div class="col">
            <b>Otros Diagnósticos</b>
            <ul class="list-unstyled">
                <li class="" *ngFor="let otroDiagnostico of registro.valor.InformeEgreso.otrosDiagnosticos">
                    <p>{{ otroDiagnostico.nombre }}</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- Causa externa -->
    <fieldset>
        <legend *ngIf="registro.valor.InformeEgreso.causaExterna.comoSeProdujo" class="small">Causa Externa</legend>
        <div class="row" *ngIf="registro.valor.InformeEgreso.causaExterna">
            <div class="col" *ngIf="registro.valor.InformeEgreso.causaExterna.comoSeProdujo">
                <b>Como se produjo</b>
                <p>{{registro.valor.InformeEgreso.causaExterna.comoSeProdujo.nombre}}</p>
            </div>
            <div class="col" *ngIf="registro.valor.InformeEgreso.causaExterna.producidaPor">
                <b>Producido por</b>
                <p>{{registro.valor.InformeEgreso.causaExterna.producidaPor.nombre}}</p>
            </div>
            <div class="col" *ngIf="registro.valor.InformeEgreso.causaExterna.lugar">
                <b>Lugar donde ocurrio</b>
                <p>{{registro.valor.InformeEgreso.causaExterna.lugar.nombre}}</p>
            </div>
        </div>
    </fieldset>

    <!-- Procedimientos Quirurgicos -->
    <fieldset>
        <legend class="small" *ngIf="registro.valor.InformeEgreso.procedimientosQuirurgicos && registro.valor.InformeEgreso.procedimientosQuirurgicos.lenght > 0">Procedimientos
            Quirúrgicos y Obstétricos</legend>
        <div class="row" *ngIf="registro.valor.InformeEgreso.procedimientosQuirurgicos && registro.valor.InformeEgreso.procedimientosQuirurgicos[0].procedimiento !== null">
            <div class="col">
                <b>Procedimientos Quirúrgicos</b>
                <ul class="list-unstyled">
                    <li class="" *ngFor="let procedimiento of registro.valor.InformeEgreso.procedimientosQuirurgicos">
                        <p *ngIf="procedimiento.procedimiento">{{ procedimiento.procedimiento.nombre}}</p>
                        <p *ngIf="procedimiento.fecha"> | {{procedimiento.fecha | date}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <!-- Datos del evento obstétrico -->
    <fieldset>
        <legend *ngIf="registro.valor.InformeEgreso.terminacionEmbarazo" class="small">Procedimientos Obstétricos
        </legend>
        <div class="row">
            <div class="col" *ngIf="registro.valor.InformeEgreso.terminacionEmbarazo">
                <b>Fecha terminación</b>
                <p>{{registro.valor.InformeEgreso.terminacionEmbarazo | date}}</p>
            </div>
            <div class="col" *ngIf="registro.valor.InformeEgreso.edadGestacional">
                <b>Edad gestacional</b>
                <p>{{registro.valor.InformeEgreso.edadGestacional}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="registro.valor.InformeEgreso.paridad">
                <b>Paridad</b>
                <p>{{registro.valor.InformeEgreso.paridad}}</p>
            </div>
            <div class="col" *ngIf="registro.valor.InformeEgreso.tipoParto">
                <b>Tipo de parto</b>
                <p>{{registro.valor.InformeEgreso.tipoParto}}</p>
            </div>
        </div>
        <ng-container *ngFor="let unNacimiento of registro.valor.InformeEgreso.nacimientos">
            <div class="row" *ngIf="registro.valor.InformeEgreso.nacimientos">

                <div class="col" *ngIf="unNacimiento.pesoAlNacer">
                    <b>Peso al nacer</b>
                    <p>{{unNacimiento.pesoAlNacer}} g</p>
                </div>
                <div class="col" *ngIf="unNacimiento.condicionAlNacer">
                    <b>Condición al nacer</b>
                    <p>{{unNacimiento.condicionAlNacer}}</p>
                </div>
            </div>
            <div class="row" *ngIf="registro.valor.InformeEgreso.nacimientos">
                <div class="col" *ngIf="unNacimiento.terminacion">
                    <b>Terminación</b>
                    <p>{{unNacimiento.terminacion}}</p>
                </div>
                <div class="col" *ngIf="unNacimiento.sexo">
                    <b> Sexo </b>
                    <p>{{unNacimiento.sexo}}</p>
                </div>
            </div>
        </ng-container>
    </fieldset>
</ng-container>
