<plex-layout>
    <plex-layout-main>
        <header>
            <div class="page-title">
                Lista de espera
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="filtros-nombre">Paciente</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="select.nombre"
                               id="filtros-nombre" label="Nombre paciente / N. de documento" (keyup)="filtrar()" />
                    </div>
                </div>
                <div class="col-2">
                    <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="refreshSelection($event,'fechaDesde')"
                                   name="fechaDesde" label="Desde" class="fechas" [required]="true">
                    </plex-datetime>
                </div>
                <div class="col-2">
                    <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="refreshSelection($event,'fechaHasta')"
                                   name="fechaHasta" label="Hasta" class="fechas" [required]="true">
                    </plex-datetime>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-12" *ngIf="prestacionesPendientes?.length">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Nombre y apellido</td>
                            <td>Documento</td>
                            <td>Fecha de nacimiento</td>
                            <td>Sexo</td>
                            <td>Fecha de ingreso</td>
                            <td>Sugerencia de pase A</td>
                            <td>Internar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prestacion of prestacionesPendientes; let i = index">
                            <td> {{prestacion.prestacion.paciente | nombre}}</td>
                            <td>{{prestacion.prestacion.paciente.documento }}</td>
                            <td>{{prestacion.prestacion.paciente.fechaNacimiento | fecha }}</td>
                            <td>{{prestacion.prestacion.paciente.sexo }}</td>
                            <td>{{prestacion.fechaIngreso | fecha}}
                                {{prestacion.fechaIngreso | hora}}</td>
                            <td *ngIf="prestacion.paseA">{{prestacion.paseA.term}}</td>
                            <td *ngIf="!prestacion.paseA"></td>
                            <td>
                                <plex-button type="primary" label="Dar cama" (click)="darCama(prestacion)"
                                             *ngIf="prestacion?.prestacion.id">
                                    Dar cama
                                </plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </plex-layout-main>

    <plex-layout-footer>
        <plex-button label="Volver a mapa de camas" type="primary" position="left" (click)="volver()"></plex-button>
    </plex-layout-footer>
</plex-layout>