.invert {
    color: white;
    background-color: #002738 !important;
}

plex-layout-sidebar.sideBar .plex-box {
    background-color: #002738 !important;

}

plex-layout-sidebar.sideBar .plex-box plex-accordion plex-panel div.card div.card-header {
    background-color: #002738 !important;
    border: solid 2px white;
    border-radius: 0px;
    color: white;

    cursor: pointer;
}


plex-layout-sidebar.sideBar .plex-box plex-accordion plex-panel div.card .collapse.show .card-block {
    background-color: #002738 !important;
    color: white;

    label {
        color: #66DFFF !important;
    }
}
