@import '../../../../../../node_modules/@andes/plex/src/lib/css/variables';

/*--------------------------------------------------------------
# ANDES - Variables cromaticas
--------------------------------------------------------------*/

// $andes-negro:black;
// $blue-oscuro: #062837;
// $blue: #2CA2DA;
$andes-cyan: #66DFFF;
// // Neutros
// $andes-blanco: #ffffff;
// // Extensiones
$andes-celeste: #d7f1fd;
$andes-violeta: #662482;
$andes-violeta-claro: #982f98;
$andes-magenta: #e3007e;
// $andes-rojo: #cb0053;
$desocupada: #f7931e;
$ocupada: #cb0053;
$disponible: #8cc63f;
$reparacion: #f44336;
$bloqueada: #f44336;
$andes-gris: #a5a1a1;
/*
******************************
** MAPA DE CAMAS
******************************
*/


/* estado del servicio */

.estado-servicio {
    h4 {
        display: inline-block;
        font-weight: bold;
        font-size: 22px;
    }
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
    span.estado {
        text-transform: uppercase;
        color: #aaa;
        font-size: 20px;
    }
}

.btnMenu {
    position: absolute;
    right: 0;
    padding-left: 20px;
    i {
        font-size: 1.6rem;
    }
}

// Refactor Cama
#mapaCamas.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    div {
        &[class^="col-xs-"],
        &[class^="col-sm-"],
        &[class^="col-md-"],
        &[class^="col-lg-"],
        &[class^="col-xl-"] {
            // margin: 0.25rem!important;
            padding: 0; // margin-bottom: 1rem;
            border: solid 2px transparent;
            &.selected {
                border-color: $andes-cyan;
                background-color: #2196f33d;
                
                z-index: 4;
            }
        }
    }
}


/* varios */

.numero-habitacion {
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;
}

.bg-oxigeno {
    background-color: #5bc0de;
}

.oxigeno {
    color: #5bc0de;
}


/* vista de lista  para el mapa de camas */

.list .icono-paciente {
    font-size: 45px;
}

.list .numero-habitacion {
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
}

.list .name {
    margin-top: 0;
    margin-bottom: 5px;
}

.list .profession {
    margin: 5px 0;
}

.actions-icons {
    display: flex;
    align-items: center;
}

// -------------- CARDS CAMAS---------------
.badge-desocupada,
.badge-ocupada,
.badge-disponible,
.badge-reparacion,
.badge-bloqueada {
    background: transparent;
    border: 1.5px solid;
    font-size: 0.75em;
    font-weight: normal;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    width: fit-content;
    align-self: center;
    border-radius: 25px;
}

.badge-desocupada {
    border-color: $desocupada;
    color: #f7931e;
}

.badge-ocupada {
    border-color: $red;
    color: $red;
}

.badge-disponible {
    border-color: $disponible;
    color: $disponible;
}

.badge-reparacion {
    border-color: $reparacion;
    color: $reparacion;
}

.badge-bloqueada {
    border-color: $bloqueada;
    color: $bloqueada;
}

.icon-content {
    font-size: 13rem;
    &.desocupada {
        color: $desocupada;
    }
    &.ocupada {
        color: $ocupada;
    }
    &.disponible {
        color: $disponible;
    }
    &.reparacion {
        color: rgb(204, 204, 204);
    }
    &.bloqueada {
        color: rgb(204, 204, 204);
    }
}

.data-icon {
    position: absolute;
    left: 60%; // top: 1%;
    color: rgb(0, 0, 0);
    z-index: 3;
    font-size: 30px;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 80px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem 0;
    &.desocupada {
        border: solid 2px $desocupada;
    }
    &.masculino {
        border: solid 2px #5bc0de;
    }
    &.femenino {
        border: solid 2px rgb(255, 192, 203);
    }
    &.reparacion {
        border: solid 2px $reparacion;
    }
    &.bloqueada {
        border: solid 2px $bloqueada;
    }
    &.disponible {
        border: solid 2px $disponible;
    }
    i {
        &.desocupada {
            color: $desocupada;
        }
        &.masculino {
            color: #5bc0de;
        }
        &.femenino {
            color: rgb(255, 192, 203);
        }
        &.reparacion {
            color: $reparacion;
        }
        &.bloqueada {
            color: $bloqueada;
        }
        &.disponible {
            color: $disponible;
        }
    }
}

.info-cama {
    position: absolute;
    left: 50%;
    top: 56%;
    max-width: 6rem;
    height: 6rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

.botonera-superior {
    position: absolute;
    right: 0;
}

.icon-content {
    align-self: center;
}

.contenedor-cama {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 15rem;
}

.unidad-organizativa {
    font-size: 0.75rem;
    padding: 0;
}

.color-data {
    color: #000;
}

// TODO: ver las variables de colores ya definidas o definir los colores con julito @fersastre
.cama-blo-rep {
    color: rgb(167, 164, 164) !important;
}

.data-paciente {
    flex-direction: column;
    color: #000;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
}

// TODO: ver los estilos de los botones del lateral con julito @fersastre
.botonera-superior button {
    padding: 6px;
    color: #fff;
    border-width: 0px;
    margin-bottom: 3px;
}

.botonera-superior button:hover {
    padding: 7px;
    color: #000;
    border-width: 0px;
    margin-bottom: 3px;
}

.estados-icon {
    font-size: 30px;
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 80px;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.2rem 0;
    margin-left: 2px;
    cursor: pointer;
    &.desocupada {
        border: solid 2px $desocupada;
    }
    &.masculino {
        border: solid 2px #5bc0de;
    }
    &.femenino {
        border: solid 2px rgb(255, 192, 203);
    }
    &.reparacion {
        border: solid 2px $reparacion;
    }
    &.bloqueada {
        border: solid 2px $bloqueada;
    }
    &.disponible {
        border: solid 2px $disponible;
    }
    &.ocupada {
        border: solid 2px $ocupada;
    }
    &.oxigeno {
        border: solid 2px #5bc0de;
    }
    i {
        &.desocupada {
            color: $desocupada;
        }
        &.masculino {
            color: #5bc0de;
        }
        &.femenino {
            color: rgb(255, 192, 203);
        }
        &.reparacion {
            color: $reparacion;
        }
        &.bloqueada {
            color: $bloqueada;
        }
        &.disponible {
            color: $disponible;
        }
        &.ocupada {
            color: $ocupada;
        }
        &.oxigeno {
            color: 5bc0de;
        }
    }
}

.estados-container {
    position: absolute;
    top: 35px;
    div {
        margin: 2px;
    }
}

.estados-icon-active {
    font-size: 30px;
    border: solid 2px #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 80px;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.2rem 0;
    margin-left: 2px;
    cursor: pointer;
    &.desocupada {
        background-color: $desocupada;
    }
    &.masculino {
        background-color: #5bc0de;
    }
    &.femenino {
        background-color: rgb(255, 192, 203);
    }
    &.reparacion {
        background-color: $reparacion;
    }
    &.bloqueada {
        background-color: $bloqueada;
    }
    &.disponible {
        background-color: $disponible;
    }
    &.ocupada {
        background-color: $ocupada;
    }
    &.oxigeno {
        background-color: #5bc0de;
    }
    i {
        color: #ffffff;
    }
}

.count {
    position: absolute;
    top: 28px;
    font-size: 9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    &.desocupada {
        background-color: $desocupada;
    }
    &.masculino {
        background-color: #5bc0de;
    }
    &.femenino {
        background-color: rgb(255, 192, 203);
    }
    &.reparacion {
        background-color: $reparacion;
    }
    &.bloqueada {
        background-color: $bloqueada;
    }
    &.disponible {
        background-color: $disponible;
    }
    &.ocupada {
        background-color: $ocupada;
    }
    &.oxigeno {
        background-color: #5bc0de;
    }
}

.inactive {
    cursor: not-allowed;
    opacity: .65; // filter: grayscale(75%);
}

.container-resumen {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
    .subcontainer-resumen {
        display: flex;
        flex-direction: row;
        &.desocupada {
            color: $desocupada;
        }
        &.ocupada {
            color: $ocupada;
        }
        &.disponible {
            color: $disponible;
        }
        &.reparacion {
            color: rgb(204, 204, 204);
        }
        &.bloqueada {
            color: rgb(204, 204, 204);
        }
        &.totales {
            color: white;
        }
        i {
            font-size: 80px;
        }
        .texto-resumen {
            width: 100px;
            p {
                font-size: 13px;
                margin-left: 2px;
            }
        }
    }
}

.cama-seleccion-icon {
    color: $andes-cyan;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border-radius: 80px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem 0;
    margin: 0 5px;
    border: solid 2px $andes-cyan;
    p {
        font-size: 11px;
        text-align: center;
    }
}

.info-cama-menu {
    h2 {
        font-size: 4vw;
        font-weight: bold;
        &.desocupada {
            color: $desocupada;
        }
        &.ocupada {
            color: $ocupada;
        }
        &.disponible {
            color: $disponible;
        }
        &.reparacion {
            color: rgb(204, 204, 204);
        }
        &.bloqueada {
            color: rgb(204, 204, 204);
        }
    }
    span {
        font-size: 1vw;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
    .container-resumen {
        display: flex;
        flex-direction: column !important;
    }
}

// ------------------------------------
// EXTENSIONES
// ------------------------------------
// Estilos sidebar
plex-layout-sidebar#panel-lateral>DIV {
    h3,
    h4,
    h5,
    h5,
    h6,
    p,
    strong {
        color: white;
        margin-bottom: 0.25rem;
    }
    b,
    label {
        color: $andes-cyan !important;
    }
    .text-info {
        color: $andes-cyan;
        font-weight: 400;
        text-transform: uppercase;
    } // Si hay tabla
    table {
        th,
        td {
            color: white;
            thead th {
                vertical-align: middle;
            }
            &.txt-responsive {
                font-size: 0.9vw;
            }
        }
    } // Listados
    li {
        &.list-group-item {
            padding: 0 !important;
        }
    }
    fieldset>[class^="col"] {
        padding: 0px;
        hr {
            color: white;
        }
    }
    &.plex-box {
        padding: 1rem !important;
        height: 100%;
        background-color: $dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Contenedor tabs 
  //      plex-tabs.andes-contenedor-tabs {}
        // tab head
        %base-tab {
            display: flex;
            flex-direction: row;
            border: solid 2px white;
            border-radius: 0px !important;
            padding: 1rem;
            width: 100%;
            color: white;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
        }
        .nav-tabs .nav-item {
            display: flex;
            width: 100%;
            margin-bottom: unset !important;

            a>span {
                align-self: center;
            }
        }
        .nav-link {
            @extend %base-tab;
            background-color: $andes-gris;
            &.active {
                background-color: $blue !important;
            }
        }
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            @extend %base-tab;
            background-color: $blue;
            &:hover {
                background-color: $andes-celeste;
            }
        } // Tab body
        .andes-tab {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.25rem 0;
            &.center {
                align-content: center;
                text-align: center;
            }
            .input-group-addon {
                background-color: $blue;
                color: white;
            }
        }
        .andes-sidebar-prefix {
            color: white;
            font-size: 1rem;
            padding-top: 10px;
        }
        .sidebar-imagen-paciente {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            display: flex;
            align-self: center;
            background-color: lightblue;
            margin-right: 1.5rem;
        }
        .sidebar-contenedor-texto {
            display: flex;
            flex-direction: column;
            height: fit-content;
            justify-content: space-between;
            margin-top: 8%;
            .andes-sidebar-numero {
                // font-size: 5rem;
                text-transform: uppercase;
                &.desocupada {
                    color: $desocupada !important;
                }
                &.ocupada {
                    color: $ocupada !important;
                }
                &.disponible {
                    color: $disponible !important;
                }
                &.reparacion {
                    color: $reparacion !important;
                }
                &.bloqueada {
                    color: $bloqueada !important;
                }
            }
            .andes-sidebar-prefix {
                color: white;
                text-align: left;
            }
            .andes-sidebar-subfix {
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                &.desocupada {
                    color: $desocupada !important;
                }
                &.ocupada {
                    color: $ocupada !important;
                }
                &.disponible {
                    color: $disponible !important;
                }
                &.reparacion {
                    color: $reparacion !important;
                }
                &.bloqueada {
                    color: $bloqueada !important;
                }
            }
        } // Accordions
        plex-accordion plex-panel div.card {
            border: 0px;
            background-color: transparent !important;

            div.card-header {
                background-color: transparent !important;

                color: $andes-cyan !important;
                border: solid 2px white;
                border-radius: 0px;
                cursor: pointer;
                &:hover {
                    background-color: #3f5467;
                    border: solid 2px $andes-cyan;
                    color: white !important;
                }
                &:active {
                    background-color: #3f5467;
                    border: solid 2px $andes-cyan;
                    color: white !important;
                }
                h5 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    &:hover {
                        color: white;
                    }
                    i {
                        display: inline-block;
                  //      float: right;
                        transition: all 1s ease;
                        &.flechita {
                            &.norotada {
                                transform: rotate(90deg);
                            }
                            &.rotada {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
            .collapse.show {
                .card-block {
                    border: solid 3px $andes-cyan;
                }
            }
            .card-block {
                padding: 1rem 1.2rem;
            }
        } // Iconos
        .andes-contenedor-iconos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 2rem;
        }
        .andes-contenedor-botones,
        .andes-contenedor-secundario {
            display: flex;
            height: auto;
            margin-top: 1rem;
            &.horizontal {
                flex-direction: row;
            }
            &.vertical {
                flex-direction: column;
            }
            &.between {
                justify-content: space-between;
            }
            &.start {
                justify-content: flex-start;
            }
            &.around {
                justify-content: space-around;
            }
            &.end {
                justify-content: flex-end;
            }
            &.centrado {
                align-items: center;
                align-self: center;
                justify-content: center;
            }
            &.block {
                width: 100%;
            }
            plex-button {
                margin-top: 1rem;
            }
        }
    }
    b,
    .form-group>label {
        color: white;
    }
    header {
        // background-color: $blue;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    }
    .plex-layout>footer {
        background-color: $dark-blue;
        padding: 0 !important
    }
}

// GLOBALES
plex-layout {
    margin-bottom: 0 !important;
}

hr {
    border: solid 1px;
    &.separate {
        margin: 10px 0 10px 0;
    }
    &.blanco {
        border-color: white;
    }
    &.gris {
        border-color: $light-grey;
    }
    &.magenta {
        border-color: $andes-magenta;
    }
    &.cyan {
        border-color: $andes-cyan;
    }
    &.celeste {
        border-color: $andes-celeste;
    } // Variantes de tamaño
    &.xxs {
        width: 10%;
    }
    &.xs {
        width: 15px;
    }
    &.sm {
        width: 35%;
    }
    &.md {
        width: 50%;
    }
    &.lg {
        width: 75%;
    }
    &.xl {
        width: 100%;
    }
}

.marginBtnAccion{
    margin-left: 2px;
}

.texto-bloqueada{
    color:#f44336;
    margin-left: -15px !important
}

.selected {
    border-color: $andes-cyan;
    background-color: #2196f33d;

    z-index: 4;
}


