<ng-container *ngIf="!camasService.showListaEspera && !createTemporal">
    <section class="plex-layout">
        <div class="row">
            <!-- Contenedor principal -->
            <div class="col h-100">
                <plex-box>
                    <header>
                        <div class='row text-right'>
                            <div class='col '>
                                <plex-button icon="mdi mdi-crop-square"
                                             type="{{modoFlat === false ? 'primary' : 'info'}} btn-sm"
                                             (click)='modoFlat = false'></plex-button>
                                <plex-button icon="mdi mdi-view-list"
                                             type="{{modoFlat === true ? 'primary' : 'info'}} btn-sm"
                                             (click)='modoFlat = true'></plex-button>

                            </div>

                        </div>
                        <div class="row" *ngIf="camas">
                            <div class="col-2">
                                <plex-text (keyup)="filtrar()" [(ngModel)]="filtros.nombre" label="Paciente">
                                </plex-text>
                            </div>
                            <div class="col-3">
                                <plex-select [disabled]="true" [(ngModel)]="filtros.sector"
                                             [data]="filtros.opciones.sectores" label="Sector" (change)="filtrar()"
                                             *ngIf="filtros.opciones.sectores.length"></plex-select>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <plex-select [(ngModel)]="filtros.servicio" [data]="filtros.opciones.servicios"
                                                 label="Unidad Organizativa" (change)="filtrar()"
                                                 *ngIf="filtros.opciones.servicios.length"></plex-select>
                                </div>
                            </div>

                            <div class="col-2">
                                <plex-select [disabled]="true" [(ngModel)]="filtros.tipoCama"
                                             [data]="filtros.opciones.tiposCamas" label="Tipo de cama"
                                             (change)="filtrar()" *ngIf="filtros.opciones.tiposCamas.length">
                                </plex-select>
                            </div>
                            <div class="col-2">
                                <plex-select [disabled]="true" [(ngModel)]="filtros.censable"
                                             [data]="filtros.opciones.censo" label="Censable" (change)="filtrar()"
                                             *ngIf="filtros.opciones.tiposCamas.length"></plex-select>
                            </div>
                            <!-- Filtros por estado -->
                            <!-- <div class="col-md-3">
                                <label>Estados:</label>
                                <div class="d-flex estados-container" *ngIf="cantidadXEstado">
                                    <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'disponible') ? 'inactive' :  ''}} count disponible">{{cantidadXEstado['disponible'].length}}</span>
                                        <button class="{{(inactive && filtros.estado?.id !== 'disponible') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'disponible') ? '-active' : ''}} disponible"
                                            (click)="filtroEstados('disponible', inactive)" title="Camas disponibles">
                                            <i class="icon icon-andes-cama-check disponible"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'desocupada') ? 'inactive' :  ''}} count desocupada">{{cantidadXEstado['desocupada'].length}}</span>
                                        <button title="Camas desocupada" class="{{(inactive && filtros.estado?.id !== 'desocupada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'desocupada') ? '-active' : ''}} desocupada"
                                            (click)="filtroEstados('desocupada', inactive)">
                                            <i class="icon icon-andes-cama-reloj desocupada"></i>
                                        </button>
                                    </div> -->
                            <!-- <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'reparacion') ? 'inactive' :  ''}} count reparacion">{{cantidadXEstado['reparacion'].length}}</span>
                                        <button title="Camas en reparacion" class="{{(inactive && filtros.estado?.id !== 'reparacion') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'reparacion') ? '-active' : ''}} reparacion"
                                            (click)="filtroEstados('reparacion', inactive)">
                                            <i class="icon icon-andes-cama-herramienta reparacion"></i>
                                        </button>
                                    </div> -->
                            <!-- <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'bloqueadas') ? 'inactive' :  ''}} count bloqueada">{{cantidadXEstado['bloqueada'].length}}</span>
                                        <button title="Camas bloqueadas" class="{{(inactive && filtros.estado?.id !== 'bloqueada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'bloqueada') ? '-active' : ''}} bloqueada"
                                            (click)="filtroEstados('bloqueada', inactive)">
                                            <i class="icon icon-andes-cama-candado bloqueada"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'ocupada') ? 'inactive' :  ''}} count ocupada">{{cantidadXEstado['ocupada'].length}}</span>
                                        <button title="Camas ocupadas" class="{{(inactive && filtros.estado?.id !== 'ocupada') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'ocupada') ? '-active' : ''}} ocupada"
                                            (click)="filtroEstados('ocupada', inactive)">
                                            <i class="icon icon-andes-paciente ocupada"></i>
                                        </button>
                                    </div> -->
                            <!-- <div>
                                        <span class="{{(inactive && filtros.estado?.id !== 'oxigeno') ? 'inactive' :  ''}} count oxigeno">{{cantidadXEstado['oxigeno'].length}}</span>
                                        <button title="Camas con oxigeno" class="{{(inactive && filtros.estado?.id !== 'oxigeno') ? 'btn disabled' :  ''}} estados-icon{{ (filtroActive === 'oxigeno') ? '-active' : ''}} oxigeno"
                                            (click)="filtroEstados('oxigeno', inactive)">
                                            <i class="icon icon-andes-cama-oxigeno oxigeno"></i>
                                        </button>
                                    </div> -->
                            <!-- <div class="col-md-1 actions-icons">
                                                    <plex-button type="primary" title="limpiar filtros" label="Limpiar" (click)="refresh()"></plex-button>
                                                </div> -->
                            <!-- </div> -->
                            <!-- <div class="col-md-1 actions-icons">
                                            <plex-button type="primary" label="Limpiar filtros" (click)="refresh()"></plex-button>
                                        </div> -->
                            <!-- </div> -->
                            <!-- <div class="col-md-1 actions-icons">
                                <button class="rounded left btn-primary btnMenu" (click)="showMenu=!showMenu">
                                    <i class="mdi mdi-chevron-double-{{!showMenu ? 'left' : 'right' }}"></i>
                                </button>
                            </div> -->
                        </div>
                    </header>
                    <!-- Loader -->
                    <plex-loader *ngIf="loader" type="ball-pulse-sync"></plex-loader>
                    <div *ngIf="camas && camas.length === 0 && !loader" class="alert alert-default">
                        <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de
                        búsqueda
                    </div>
                    <!-- En caso de que no hay resultados-->
                    <div *ngFor="let lis of arbol; let j = index">
                        <plex-accordion *ngIf="mostrarArbol">
                            <plex-panel [active]="accordionActive === j" (toggle)="accordionSeleccionado(j, lis)">
                                <div plex-accordion-title>
                                    {{lis.nombre}}
                                </div>
                                <div id="mapaCamas" class="row" *ngIf="!loader && lis.hijos && !modoFlat">
                                    <div [ngClass]="{'col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6': showMenu, 'col-md-2': !showMenu, 'selected': cama === camaSeleccionada}"
                                         *ngFor="let cama of lis.hijos; let i = index">
                                        <cama [prestacion]="prestacion" [cama]="cama" [showEstados]="estadosMode"
                                              [readOnly]="historicoMode"
                                              [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                              (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                              (camaSelected)="onCamaSelected($event)"
                                              (verInternacionEmit)="verInternacion($event)"></cama>
                                    </div>

                                </div>

                                <div *ngIf="!loader && lis.hijos && modoFlat">

                                    <div [ngClass]="{'selected': cama === camaSeleccionada}"
                                         *ngFor="let cama of lis.hijos; let i = index">
                                        <cama [prestacion]="prestacion" [modoFlat]="true" [cama]="cama"
                                              [showEstados]="estadosMode" [readOnly]="historicoMode"
                                              [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                              (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                              (camaSelected)="onCamaSelected($event)"
                                              (verInternacionEmit)="verInternacion($event)"></cama>
                                    </div>
                                </div>
                            </plex-panel>
                        </plex-accordion>
                    </div>
                    <div id="mapaCamas" class="row" *ngIf="!loader && camas && !mostrarArbol && !modoFlat">
                        <div [ngClass]="{'col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6': showMenu, 'col-md-2': !showMenu, 'selected': cama === camaSeleccionada}"
                             *ngFor="let cama of camas; let i = index">
                            <cama [prestacion]="prestacion" [cama]="cama" [showEstados]="estadosMode"
                                  [readOnly]="historicoMode"
                                  [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                  (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                  (camaSelected)="onCamaSelected($event)" (verInternacionEmit)="verInternacion($event)">
                            </cama>
                        </div>

                    </div>

                    <div *ngIf="!loader && camas && !mostrarArbol && modoFlat">
                        <div [ngClass]="{'selected': cama === camaSeleccionada}"
                             *ngFor="let cama of camas; let i = index">
                            <cama [prestacion]="prestacion" [modoFlat]="true" [cama]="cama" [showEstados]="estadosMode"
                                  [readOnly]="historicoMode"
                                  [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                  (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                  (camaSelected)="onCamaSelected($event)" (verInternacionEmit)="verInternacion($event)">
                            </cama>
                        </div>
                    </div>
                </plex-box>
            </div>

            <!-- Sidebar -->
            <plex-box id="panel-lateral" class="col-4 h-100">
                <plex-loader *ngIf="showLoaderSidebar" type="ball-pulse-sync"></plex-loader>
                <!-- Ingresar un paciente -->
                <ng-container *ngIf="accion ==='internarPaciente'">
                    <div class="row">
                        <div class="col">
                            <h5>
                                Ingresar Paciente
                            </h5>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-8">
                            <!-- Buscador adaptable de MPI -->
                            <paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event)"
                                             (data)="onPacienteCancel()"></paciente-buscar>
                        </div>
                        <div class="col-4">
                            <plex-button type="danger" label="Cancelar" (click)="onPacienteCancel()"></plex-button>
                        </div>
                    </div>
                    <paciente-listado [pacientes]="pacientes" [autoselect]="false"
                                      (selected)="onPacienteSelected($event)"></paciente-listado>
                    <br>
                    <!-- <div *ngIf="pacientes && !pacientes.length " class="alert alert-info">
                        <i class="mdi mdi-account-alert"></i> No se encontró ningún paciente
                    </div> -->
                    <!-- COMENTADO HASTA IMPLEMENTAR  FUNCIONALIDAD SIMILAR CON PACIENTE CRU-->
                    <!-- <plex-button *ngIf="pacientes && !pacientes.length " type="info" class='float-right' label="Agregar paciente temporal"
                        (click)="pacienteTemporal()"></plex-button> -->

                </ng-container>
                <!-- Se incia la internacion con el paciente seleccionado -->
                <!-- <ng-container *ngIf="!accion && showIngreso && pacienteSelected"> -->
                <ng-container *ngIf="showIngreso && pacienteSelected">
                    <rup-iniciarInternacion (data)="cerrar($event, 'ingreso')"
                                            (accionCama)="actualizarMapaDeCamas($event)" [paciente]="pacienteSelected"
                                            [camaSelected]="camaSeleccionada" [prestacion]="prestacionPorInternacion"
                                            [soloValores]="editarIngreso" [workflowC]="isWorkflowCompleto">
                    </rup-iniciarInternacion>
                </ng-container>

                <!-- // Ingresar un paciente -->

                <!-- Ocupar Cama -->
                <ng-container *ngIf="accion ==='ocupar' && !showEgreso && pacienteSelected && prestacionPorInternacion">
                    <cama-ocupar [enEspera]="enEspera" [prestacion]="prestacionPorInternacion"
                                 [paciente]="pacienteSelected" (accionCama)="actualizarMapaDeCamas($event)">
                    </cama-ocupar>
                </ng-container>

                <!-- Desocupar Cama -->
                <ng-container *ngIf="accion ==='desocupar' && !showEgreso && prestacionPorInternacion">
                    <cama-desocupar [cama]="camaSelected" [prestacion]="prestacionPorInternacion"
                                    (accionCama)="actualizarMapaDeCamas($event)" [workflowC]="isWorkflowCompleto">
                    </cama-desocupar>
                </ng-container>

                <!-- Desbloquear Cama -->
                <ng-container *ngIf="accion ==='desbloquear'">
                    <cama-desbloquear [cama]="camaSelected" (accionCama)="actualizarMapaDeCamas($event)">
                    </cama-desbloquear>
                </ng-container>


                <ng-container *ngIf="accion ==='bloquear'">
                    <cama-bloquear [cama]="camaSeleccionada" (accionCama)="actualizarMapaDeCamas($event)">
                    </cama-bloquear>
                </ng-container>

                <ng-container *ngIf="accion ==='preparar'">
                    <cama-preparar [cama]="camaSeleccionada" (accionCama)="actualizarMapaDeCamas($event)">
                    </cama-preparar>
                </ng-container>

                <ng-container *ngIf="camaSeleccionada &&(accion==='mostrarResumen' || showEgreso) ">
                    <!--  camaSeleccionada && !accion && !showIngreso' -->
                    <plex-tabs [activeIndex]="panelIndex">

                        <!-- Tab cama -->
                        <plex-tab *ngIf="!showEgreso" label="Cama">
                            <div class="sidebar-contenedor-texto">
                                <div class="text-center info-cama-menu">
                                    <h2 class="andes-sidebar-numero {{camaSeleccionada.ultimoEstado.estado}}">
                                        {{camaSeleccionada.nombre}}</h2>
                                    <hr class="blanco xs">

                                    <span class="badge badge-{{camaSeleccionada.ultimoEstado.estado}}"
                                          [ngClass]="{ 'badge-success': camaSeleccionada.ultimoEstado.estado === 'desocupada'}">
                                        {{camaSeleccionada.ultimoEstado.estado}}
                                    </span>
                                    <span class='texto-{{camaSeleccionada.ultimoEstado.estado}}'
                                          *ngIf='camaSeleccionada.ultimoEstado.estado === "bloqueada" && camaSeleccionada.ultimoEstado.observaciones'>|
                                        {{camaSeleccionada.ultimoEstado.observaciones}}</span>
                                    <!-- Data paciente -->
                                    <div class="andes-contenedor-secundario horizontal centrado"
                                         *ngIf="camaSeleccionada.ultimoEstado.estado == 'ocupada'">
                                        <img class="sidebar-imagen-paciente" src="" alt="">
                                        <div class="andes-sidebar-prefix">
                                            <p *ngIf="camaSeleccionada.ultimoEstado?.paciente">
                                                <b>{{camaSeleccionada.ultimoEstado.paciente.apellido}}</b>
                                                <br>{{camaSeleccionada.ultimoEstado.paciente.nombre}}
                                                <br>{{camaSeleccionada.ultimoEstado.paciente.documento}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <div class="andes-contenedor-secundario horizontal centrado" *ngIf="camaSeleccionada.ultimoEstado.estado == 'bloqueada'">
                                        <img >
                                        <div class="andes-sidebar-prefix">
                                            <p *ngIf="camaSeleccionada.cama?.$action">
                                                <b>{{camaSeleccionada.cama.$action}}</b>
                                            </p>
                                        </div>
                                    </div> -->
                                    <hr class="blanco xs">
                                    <p class="andes-sidebar-subfix">{{camaSeleccionada.sectores[0].nombre}}</p>
                                    <p class="andes-sidebar-subfix {{camaSeleccionada.ultimoEstado.estado}}">
                                        {{camaSeleccionada.ultimoEstado.unidadOrganizativa.term}}</p>
                                    <hr class="blanco xs">

                                    <!-- Iconos estado cama-->
                                    <div class="andes-contenedor-iconos">
                                        <div class="cama-seleccion-icon" *ngIf='checkOxigeno(camaSeleccionada)'>
                                            <!-- oxigeno -->
                                            <i class="icon icon-andes-cama-oxigeno"></i>
                                            <p>Oxigeno</p>
                                        </div>
                                        <div class="cama-seleccion-icon"
                                             *ngIf='camaSeleccionada.ultimoEstado.esCensable'>
                                            <!-- reparacion -->
                                            <i class="icon icon-andes-cama-herramienta"></i>
                                            <p>Censable</p>
                                        </div>
                                        <div class="cama-seleccion-icon text-center"
                                             *ngIf='camaSeleccionada.ultimoEstado.genero'>
                                            <!-- reparacion -->
                                            <ng-container *ngIf='!camaSeleccionada.ultimoEstado.genero.conceptId'>
                                                <i class="mdi mdi-gender-male-female"></i>
                                                <p>Cama Unisex</p>
                                            </ng-container>
                                            <ng-container
                                                          *ngIf='camaSeleccionada.ultimoEstado.genero.conceptId === "703117000"'>
                                                <i class="mdi mdi-gender-male"></i>
                                                <p>Cama Masculina</p>
                                            </ng-container>
                                            <ng-container
                                                          *ngIf='camaSeleccionada.ultimoEstado.genero.conceptId === "703118005"'>
                                                <i class="mdi mdi-gender-female"></i>
                                                <p>Cama Femenina</p>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Botonera inferior -->
                            <footer class="andes-contenedor-botones vertical block">
                                <div class="andes-contenedor-botones horizontal between block">
                                    <!-- Editar internacion -->
                                    <!-- <plex-button type="danger" *ngIf="camaSeleccionada.ultimoEstado?.idInternacion" label="Editar internación" (click)="cambiaTap(1)"></plex-button> -->
                                    <!-- Ver egreso -->
                                    <!-- <plex-button *ngIf="camaSeleccionada.ultimoEstado?.idInternacion" type="info" label="Ver Egreso" (click)="cambiaTap(2)"></plex-button> -->
                                </div>
                                <div class="">
                                    <!-- Ver internacion -->
                                    <!-- <plex-button class="btn btn-block btn-success btn-sm" type="success" *ngIf="camaSeleccionada.ultimoEstado?.idInternacion"
                                        label="Ver internación" (click)="verIngreso(true, camaSeleccionada.ultimoEstado.idInternacion)"></plex-button> -->
                                    <plex-button class="btn btn-block btn-success btn-sm" type="success"
                                                 *ngIf="this.auth.profesional && camaSeleccionada.ultimoEstado?.idInternacion"
                                                 label="Ver Epicrisis" (click)="generaEpicrisis() "></plex-button>
                                </div>
                            </footer>
                        </plex-tab>
                        <!-- Resumen -->
                        <plex-tab *ngIf="prestacionPorInternacion" label="Internacion">
                            <internacion-resumen (data)="editar($event)" [editarEgreso]="showEgreso"
                                                 [paciente]="prestacionPorInternacion.paciente"
                                                 [prestacion]="prestacionPorInternacion" [soloValores]="false"
                                                 [camaSeleccionada]="camaSeleccionada"
                                                 (refreshCamas)="updateCama($event)"
                                                 (accionCama)="actualizarMapaDeCamas($event)"></internacion-resumen>
                        </plex-tab>

                        <!-- Historial de cama -->
                        <plex-tab *ngIf="!showEgreso" label="Historial">
                            <div class="row">
                                <div class="col-md">
                                    <plex-datetime (change)="reseteaBusqueda()" type="date" [(ngModel)]="fechaDesde"
                                                   [required]="true" name="fechaDesde" label="Fecha Desde">
                                    </plex-datetime>
                                </div>
                                <div class="col-md">
                                    <plex-datetime (change)="reseteaBusqueda()" type="date" [(ngModel)]="fechaHasta"
                                                   [required]="true" name="fechaHasta" label="Fecha Hasta">
                                    </plex-datetime>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md text-right">
                                    <plex-button label="Buscar" type="primary" (click)="buscarHistorial()">
                                    </plex-button>
                                </div>

                            </div>
                            <plex-loader *ngIf="loader" type="ball-beat"></plex-loader>
                            <div *ngIf="inicioBusqueda && !historial?.length && !loader" class="alert alert-default">
                                <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de
                                búsqueda
                            </div>

                            <table *ngIf="historial && historial.length" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Unidad organizativa</th>
                                        <th>Paciente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let movimiento of historial">
                                        <td>
                                            {{movimiento.fecha | date: "dd/MM/yyyy HH:mm "}}
                                        </td>
                                        <td>
                                            {{movimiento.estado}}
                                        </td>
                                        <td>
                                            {{movimiento.unidadOrganizativa}}
                                        </td>
                                        <td *ngIf="movimiento.estado === 'ocupada'">
                                            {{movimiento.paciente | paciente }}

                                        </td>
                                        <td *ngIf="movimiento.estado !== 'ocupada'">
                                            Sin paciente

                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </plex-tab>
                    </plex-tabs>
                </ng-container>

                <ng-container *ngIf="loadCountFiltros && (!accion && !pacienteSelected)">

                    <div class="text-right">

                        <plex-button class="marginBtnAccion" type="primary" [title]="'Censo Diario'"
                                     icon='mdi mdi-calendar' (click)="censoDiario()" *ngIf="checkAuth('censo')">
                        </plex-button>
                        <plex-button class="marginBtnAccion" type="primary" [title]="'Censo Mensual'"
                                     icon='mdi mdi-calendar-multiple' (click)="censoMensual()"
                                     *ngIf="checkAuth('censo')"></plex-button>
                        <plex-button class='marginBtnAccion' type="primary" [title]="'Agregar Cama'" icon='mdi mdi-plus'
                                     (click)="onGestionCamaClick()" *ngIf="checkAuth('cama:create')"></plex-button>
                        <plex-button class="marginBtnAccion" type="primary" [title]="'Ingresar Paciente'"
                                     icon='account-plus' (click)="ingresarPaciente()" *ngIf="isWorkflowCompleto">
                        </plex-button>
                        <plex-button class="marginBtnAccion" type="primary" [title]="'Lista de Espera'"
                                     icon='mdi mdi-timetable' (click)="verLE()" *ngIf="isWorkflowCompleto">
                        </plex-button>
                        <plex-button class="marginBtnAccion" type="primary" [title]="'Listado Internación'"
                                     icon='mdi mdi-format-list-bulleted' (click)="verLI()"></plex-button>
                    </div>
                    <ng-container>
                        <plex-datetime type="datetime" [(ngModel)]="fecha" name="fecha" label="Fecha"
                                       (change)="mapaDeCamaXFecha(false)"></plex-datetime>
                    </ng-container>

                    <div class="pt-3">
                        <h5 class="text-info">Estado del servicio</h5>
                        <hr class="blanco">
                    </div>

                    <div class="container-resumen">
                        <div class="subcontainer-resumen totales">
                            <div>
                                <i class="icon icon-andes-cama"></i>
                            </div>
                            <div class="texto-resumen">
                                <h3>{{camasCopy.length}}</h3>
                                <p>Camas totales</p>
                            </div>
                        </div>
                        <div class="subcontainer-resumen disponible">
                            <div>
                                <i class="icon icon-andes-cama"></i>
                            </div>
                            <div class="texto-resumen">
                                <h3>{{cantidadXEstado['disponible'].length}}</h3>
                                <p>Camas disponibles</p>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf='!isWorkflowCompleto'>
                        <div class="container-resumen">

                            <div class="subcontainer-resumen bloqueada">
                                <div>
                                    <i class="icon icon-andes-cama-bloqueada"></i>
                                </div>
                                <div class="texto-resumen">
                                    <h3>{{cantidadXEstado['bloqueada'].length}}</h3>
                                    <p>Camas bloqueadas</p>
                                </div>
                            </div>
                            <div class="subcontainer-resumen ocupada">
                                <div>
                                    <i class="icon icon-andes-cama-ocupada"></i>
                                </div>
                                <div class="texto-resumen">
                                    <h3>{{cantidadXEstado['ocupada'].length}}</h3>
                                    <p>Camas ocupadas</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='isWorkflowCompleto'>

                        <div class="container-resumen">
                            <div class="subcontainer-resumen desocupada">
                                <div>
                                    <i class="icon icon-andes-cama-desocupada"></i>
                                </div>
                                <div class="texto-resumen">
                                    <h3>{{cantidadXEstado['desocupada'].length}}</h3>
                                    <p>Camas desocupadas</p>
                                </div>
                            </div>
                            <div class="subcontainer-resumen bloqueada">
                                <div>
                                    <i class="icon icon-andes-cama-bloqueada"></i>
                                </div>
                                <div class="texto-resumen">
                                    <h3>{{cantidadXEstado['bloqueada'].length}}</h3>
                                    <p>Camas bloqueadas</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-resumen">
                            <div class="subcontainer-resumen ocupada">
                                <div>
                                    <i class="icon icon-andes-cama-ocupada"></i>
                                </div>
                                <div class="texto-resumen">
                                    <h3>{{cantidadXEstado['ocupada'].length}}</h3>
                                    <p>Camas ocupadas</p>
                                </div>
                            </div>
                            <!-- <div class="subcontainer-resumen reparacion">
                            <div>
                                <i class="icon icon-andes-cama-reparacion "></i>
                            </div>
                            <div class="texto-resumen">
                                <h3>{{cantidadXEstado['reparacion'].length}}</h3>
                                <p>Camas en reparacion</p>
                            </div>
                        </div> -->
                        </div>
                    </ng-container>
                    <!-- <ng-container>
                        <plex-button class="" type="primary" label="Censo diario" (click)="censoDiario()" *ngIf="checkAuth('censo')"></plex-button>
                        <plex-button class="" type="primary" label="Censo mensual" (click)="censoMensual()" *ngIf="checkAuth('censo')"></plex-button>
                        <plex-button label="Crear cama" type="primary" (click)="onGestionCamaClick()" *ngIf="checkAuth('cama:create')"></plex-button>
                    </ng-container> -->
                    <!-- <plex-button *ngIf="isWorkflowCompleto" label="Ingresar paciente" type="primary" (click)="ingresarPaciente()"></plex-button>
                    <plex-button *ngIf="isWorkflowCompleto" label="Lista de espera" type="primary" (click)="verLE()"></plex-button> -->
                </ng-container>
            </plex-box>
        </div>
    </section>
    <!-- footer -->
    <!-- Footer -->
    <footer>

        <div class="row">
            <div class="col">
                <plex-button label="Volver" type="danger" (click)='volver()'></plex-button>
                <!-- <plex-button label="Guardar {{prestacion?.solicitud?.tipoPrestacion?.term}}" (click)="guardarPrestacion()" type="success" -->
                <!-- class="float-right"></plex-button> -->
            </div>
        </div>

    </footer>
    <!-- </form> -->
</ng-container>
<ng-container *ngIf="camasService.showListaEspera && !buscandoPaciente">
    <listaEsperaInternacion (prestacion)='onDarCama($event)' (showCamas)='camasService.showListaEspera = $event'>
    </listaEsperaInternacion>
</ng-container>
<!-- COMENTADO HASTA AGREGAR FUNCIONALIDAD CREAR PACIENTE CON PAC-CRU -->
<!-- <ng-container *ngIf="createTemporal">

    <paciente-create-update [seleccion]="null" (internacionPacienteTemp)='afterPacienteTemp($event)'></paciente-create-update>

</ng-container> -->
