<plex-layout main="8">
    <plex-layout-main>
        <header>
            <div class='row text-right'>
                <div class='col '>
                    <plex-button icon="mdi mdi-crop-square" type="{{modoFlat === false ? 'primary' : 'info'}} btn-sm"
                                 (click)='modoFlat = false'></plex-button>
                    <plex-button icon="mdi mdi-view-list" type="{{modoFlat === true ? 'primary' : 'info'}} btn-sm"
                                 (click)='modoFlat = true'></plex-button>
                </div>
            </div>
            <div class="row" *ngIf="camas">
                <div class="col-2">
                    <plex-text (keyup)="filtrar()" [(ngModel)]="filtros.nombre" label="Paciente">
                    </plex-text>
                </div>
                <div class="col-3">
                    <plex-select [disabled]="true" [(ngModel)]="filtros.sector" [data]="filtros.opciones.sectores"
                                 label="Sector" (change)="filtrar()" *ngIf="filtros.opciones.sectores.length">
                    </plex-select>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <plex-select [(ngModel)]="filtros.servicio" [data]="filtros.opciones.servicios"
                                     label="Unidad Organizativa" (change)="filtrar()"
                                     *ngIf="filtros.opciones.servicios.length"></plex-select>
                    </div>
                </div>
                <div class="col-2">
                    <plex-select [disabled]="true" [(ngModel)]="filtros.tipoCama" [data]="filtros.opciones.tiposCamas"
                                 label="Tipo de cama" (change)="filtrar()" *ngIf="filtros.opciones.tiposCamas.length">
                    </plex-select>
                </div>
                <div class="col-2">
                    <plex-select [disabled]="true" [(ngModel)]="filtros.censable" [data]="filtros.opciones.censo"
                                 label="Censable" (change)="filtrar()" *ngIf="filtros.opciones.tiposCamas.length">
                    </plex-select>
                </div>
            </div>
        </header>

        <fieldset>
            <!-- Loader -->
            <plex-loader *ngIf="loader" type="ball-pulse-sync"></plex-loader>

            <div *ngIf="camas && camas.length === 0 && !loader" class="alert alert-default">
                <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de
                búsqueda
            </div>
            <!-- En caso de que no hay resultados-->
            <div *ngFor="let lis of arbol; let j = index">
                <plex-accordion *ngIf="mostrarArbol">
                    <plex-panel [active]="accordionActive === j" (toggle)="accordionSeleccionado(j, lis)">
                        <div plex-accordion-title>
                            {{lis.nombre}}
                        </div>
                        <div id="mapaCamas" class="row" *ngIf="!loader && lis.hijos && !modoFlat">
                            <div [ngClass]="{'col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6': showMenu, 'col-md-2': !showMenu, 'selected': cama === camaSeleccionada}"
                                 *ngFor="let cama of lis.hijos; let i = index">
                                <cama [prestacion]="prestacion" [cama]="cama" [showEstados]="estadosMode"
                                      [readOnly]="historicoMode"
                                      [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                      (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                      (camaSelected)="onCamaSelected($event)"
                                      (verInternacionEmit)="verInternacion($event)"></cama>
                            </div>

                        </div>

                        <div *ngIf="!loader && lis.hijos && modoFlat">

                            <div [ngClass]="{'selected': cama === camaSeleccionada}"
                                 *ngFor="let cama of lis.hijos; let i = index">
                                <cama [prestacion]="prestacion" [modoFlat]="true" [cama]="cama"
                                      [showEstados]="estadosMode" [readOnly]="historicoMode"
                                      [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                                      (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                                      (camaSelected)="onCamaSelected($event)"
                                      (verInternacionEmit)="verInternacion($event)"></cama>
                            </div>
                        </div>
                    </plex-panel>
                </plex-accordion>
            </div>
            <div id="mapaCamas" class="row" *ngIf="!loader && camas && !mostrarArbol && !modoFlat">
                <div [ngClass]="{'col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6': showMenu, 'col-md-2': !showMenu, 'selected': cama === camaSeleccionada}"
                     *ngFor="let cama of camas; let i = index">
                    <cama [prestacion]="prestacion" [cama]="cama" [showEstados]="estadosMode" [readOnly]="historicoMode"
                          [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}" (evtCama)="updateCama($event)"
                          (buscarPaciente)="ingresarPaciente()" (camaSelected)="onCamaSelected($event)"
                          (verInternacionEmit)="verInternacion($event)">
                    </cama>
                </div>

            </div>

            <div *ngIf="!loader && camas && !mostrarArbol && modoFlat">
                <div [ngClass]="{'selected': cama === camaSeleccionada}" *ngFor="let cama of camas; let i = index">
                    <cama [prestacion]="prestacion" [modoFlat]="true" [cama]="cama" [showEstados]="estadosMode"
                          [readOnly]="historicoMode" [params]="{fecha: fecha, idOrganizacion: auth.organizacion.id}"
                          (evtCama)="updateCama($event)" (buscarPaciente)="ingresarPaciente()"
                          (camaSelected)="onCamaSelected($event)" (verInternacionEmit)="verInternacion($event)">
                    </cama>
                </div>
            </div>

        </fieldset>

    </plex-layout-main>

    <plex-layout-sidebar id="panel-lateral">
        <plex-loader *ngIf="showLoaderSidebar" type="ball-pulse-sync"></plex-loader>
        <!-- Ingresar un paciente -->
        <ng-container *ngIf="accion ==='internarPaciente'">
            <div class="row">
                <div class="col">
                    <h5>
                        Ingresar Paciente
                    </h5>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-8">
                    <!-- Buscador adaptable de MPI -->
                    <paciente-buscar (searchStart)="searchStart()" (searchEnd)="searchEnd($event)"
                                     (data)="onPacienteCancel()"></paciente-buscar>
                </div>
                <div class="col-4">
                    <plex-button type="danger" label="Cancelar" (click)="onPacienteCancel()"></plex-button>
                </div>
            </div>
            <paciente-listado [pacientes]="pacientes" [autoselect]="false" (selected)="onPacienteSelected($event)">
            </paciente-listado>
            <br>

        </ng-container>
        <!-- Se incia la internacion con el paciente seleccionado -->
        <ng-container *ngIf="showIngreso && pacienteSelected">
            <rup-iniciarInternacion (data)="cerrar($event, 'ingreso')" (accionCama)="actualizarMapaDeCamas($event)"
                                    [paciente]="pacienteSelected" [camaSelected]="camaSeleccionada"
                                    [prestacion]="prestacionPorInternacion" [soloValores]="editarIngreso"
                                    [workflowC]="isWorkflowCompleto">
            </rup-iniciarInternacion>
        </ng-container>

        <!-- // Ingresar un paciente -->

        <!-- Ocupar Cama -->
        <ng-container *ngIf="accion ==='ocupar' && !showEgreso && pacienteSelected && prestacionPorInternacion">
            <cama-ocupar [enEspera]="enEspera" [prestacion]="prestacionPorInternacion" [paciente]="pacienteSelected"
                         (accionCama)="actualizarMapaDeCamas($event)">
            </cama-ocupar>
        </ng-container>

        <!-- Desocupar Cama -->
        <ng-container *ngIf="accion ==='desocupar' && !showEgreso && prestacionPorInternacion">
            <cama-desocupar [cama]="camaSelected" [prestacion]="prestacionPorInternacion"
                            (accionCama)="actualizarMapaDeCamas($event)" [workflowC]="isWorkflowCompleto">
            </cama-desocupar>
        </ng-container>

        <!-- Desbloquear Cama -->
        <ng-container *ngIf="accion ==='desbloquear'">
            <cama-desbloquear [cama]="camaSelected" (accionCama)="actualizarMapaDeCamas($event)">
            </cama-desbloquear>
        </ng-container>


        <ng-container *ngIf="accion ==='bloquear'">
            <cama-bloquear [cama]="camaSeleccionada" (accionCama)="actualizarMapaDeCamas($event)">
            </cama-bloquear>
        </ng-container>

        <ng-container *ngIf="accion ==='preparar'">
            <cama-preparar [cama]="camaSeleccionada" (accionCama)="actualizarMapaDeCamas($event)">
            </cama-preparar>
        </ng-container>

        <ng-container *ngIf="camaSeleccionada &&(accion==='mostrarResumen' || showEgreso) ">
            <!--  camaSeleccionada && !accion && !showIngreso' -->
            <plex-tabs [activeIndex]="panelIndex">

                <!-- Tab cama -->
                <plex-tab *ngIf="!showEgreso" label="Cama">
                    <div class="sidebar-contenedor-texto">
                        <div class="text-center info-cama-menu">
                            <h2 class="andes-sidebar-numero {{camaSeleccionada.ultimoEstado.estado}}">
                                {{camaSeleccionada.nombre}}</h2>
                            <hr class="blanco xs">

                            <plex-badge
                                        type="{{ camaSeleccionada.ultimoEstado.estado === 'desocupada' ? 'success' : camaSeleccionada.ultimoEstado.estado}}">
                                {{camaSeleccionada.ultimoEstado.estado}}
                            </plex-badge>
                            <span class='texto-{{camaSeleccionada.ultimoEstado.estado}}'
                                  *ngIf='camaSeleccionada.ultimoEstado.estado === "bloqueada" && camaSeleccionada.ultimoEstado.observaciones'>|
                                {{camaSeleccionada.ultimoEstado.observaciones}}</span>
                            <!-- Data paciente -->
                            <div class="andes-contenedor-secundario horizontal centrado"
                                 *ngIf="camaSeleccionada.ultimoEstado.estado == 'ocupada'">
                                <img class="sidebar-imagen-paciente" src="" alt="">
                                <div class="andes-sidebar-prefix">
                                    <p *ngIf="camaSeleccionada.ultimoEstado?.paciente">
                                        <b>{{camaSeleccionada.ultimoEstado.paciente.apellido}}</b>
                                        <br>{{camaSeleccionada.ultimoEstado.paciente.nombre}}
                                        <br>{{camaSeleccionada.ultimoEstado.paciente.documento}}
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="andes-contenedor-secundario horizontal centrado" *ngIf="camaSeleccionada.ultimoEstado.estado == 'bloqueada'">
                                        <img >
                                        <div class="andes-sidebar-prefix">
                                            <p *ngIf="camaSeleccionada.cama?.$action">
                                                <b>{{camaSeleccionada.cama.$action}}</b>
                                            </p>
                                        </div>
                                    </div> -->
                            <hr class="blanco xs">
                            <p class="andes-sidebar-subfix">{{camaSeleccionada.sectores[0].nombre}}</p>
                            <p class="andes-sidebar-subfix {{camaSeleccionada.ultimoEstado.estado}}">
                                {{camaSeleccionada.ultimoEstado.unidadOrganizativa.term}}</p>
                            <hr class="blanco xs">

                            <!-- Iconos estado cama-->
                            <div class="andes-contenedor-iconos">
                                <div class="cama-seleccion-icon" *ngIf='checkOxigeno(camaSeleccionada)'>
                                    <!-- oxigeno -->
                                    <i class="icon icon-andes-cama-oxigeno"></i>
                                    <p>Oxigeno</p>
                                </div>
                                <div class="cama-seleccion-icon" *ngIf='camaSeleccionada.ultimoEstado.esCensable'>
                                    <!-- reparacion -->
                                    <i class="icon icon-andes-cama-herramienta"></i>
                                    <p>Censable</p>
                                </div>
                                <div class="cama-seleccion-icon text-center"
                                     *ngIf='camaSeleccionada.ultimoEstado.genero'>
                                    <!-- reparacion -->
                                    <ng-container *ngIf='!camaSeleccionada.ultimoEstado.genero.conceptId'>
                                        <i class="mdi mdi-gender-male-female"></i>
                                        <p>Cama Unisex</p>
                                    </ng-container>
                                    <ng-container
                                                  *ngIf='camaSeleccionada.ultimoEstado.genero.conceptId === "703117000"'>
                                        <i class="mdi mdi-gender-male"></i>
                                        <p>Cama Masculina</p>
                                    </ng-container>
                                    <ng-container
                                                  *ngIf='camaSeleccionada.ultimoEstado.genero.conceptId === "703118005"'>
                                        <i class="mdi mdi-gender-female"></i>
                                        <p>Cama Femenina</p>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botonera inferior -->
                    <footer class="andes-contenedor-botones vertical block">
                        <div class="andes-contenedor-botones horizontal between block">
                            <!-- Editar internacion -->
                            <!-- <plex-button type="danger" *ngIf="camaSeleccionada.ultimoEstado?.idInternacion" label="Editar internación" (click)="cambiaTap(1)"></plex-button> -->
                            <!-- Ver egreso -->
                            <!-- <plex-button *ngIf="camaSeleccionada.ultimoEstado?.idInternacion" type="info" label="Ver Egreso" (click)="cambiaTap(2)"></plex-button> -->
                        </div>
                        <div class="">
                            <!-- Ver internacion -->
                            <!-- <plex-button class="btn btn-block btn-success btn-sm" type="success" *ngIf="camaSeleccionada.ultimoEstado?.idInternacion"
                                        label="Ver internación" (click)="verIngreso(true, camaSeleccionada.ultimoEstado.idInternacion)"></plex-button> -->
                            <plex-button class="btn btn-block btn-success btn-sm" type="success"
                                         *ngIf="this.auth.profesional && camaSeleccionada.ultimoEstado?.idInternacion"
                                         label="Ver Epicrisis" (click)="generaEpicrisis() "></plex-button>
                        </div>
                    </footer>
                </plex-tab>
                <!-- Resumen -->
                <plex-tab *ngIf="prestacionPorInternacion" label="Internacion">
                    <internacion-resumen (data)="editar($event)" [editarEgreso]="showEgreso"
                                         [paciente]="prestacionPorInternacion.paciente"
                                         [prestacion]="prestacionPorInternacion" [soloValores]="false"
                                         [camaSeleccionada]="camaSeleccionada" (refreshCamas)="updateCama($event)"
                                         (accionCama)="actualizarMapaDeCamas($event)"></internacion-resumen>
                </plex-tab>

                <!-- Historial de cama -->
                <plex-tab *ngIf="!showEgreso" label="Historial">
                    <div class="row">
                        <div class="col-md">
                            <plex-datetime (change)="reseteaBusqueda()" type="date" [(ngModel)]="fechaDesde"
                                           [required]="true" name="fechaDesde" label="Fecha Desde">
                            </plex-datetime>
                        </div>
                        <div class="col-md">
                            <plex-datetime (change)="reseteaBusqueda()" type="date" [(ngModel)]="fechaHasta"
                                           [required]="true" name="fechaHasta" label="Fecha Hasta">
                            </plex-datetime>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md text-right">
                            <plex-button label="Buscar" type="primary" (click)="buscarHistorial()">
                            </plex-button>
                        </div>

                    </div>
                    <plex-loader *ngIf="loader" type="ball-beat"></plex-loader>
                    <div *ngIf="inicioBusqueda && !historial?.length && !loader" class="alert alert-default">
                        <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de
                        búsqueda
                    </div>

                    <table *ngIf="historial && historial.length" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Unidad organizativa</th>
                                <th>Paciente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movimiento of historial">
                                <td>
                                    {{movimiento.fecha | date: "dd/MM/yyyy HH:mm "}}
                                </td>
                                <td>
                                    {{movimiento.estado}}
                                </td>
                                <td>
                                    {{movimiento.unidadOrganizativa}}
                                </td>
                                <td *ngIf="movimiento.estado === 'ocupada'">
                                    {{movimiento.paciente | nombre }}

                                </td>
                                <td *ngIf="movimiento.estado !== 'ocupada'">
                                    Sin paciente

                                </td>

                            </tr>
                        </tbody>
                    </table>

                </plex-tab>
            </plex-tabs>
        </ng-container>

        <ng-container *ngIf="loadCountFiltros && (!accion && !pacienteSelected)">

            <div class="text-right">

                <plex-button class="marginBtnAccion" type="primary" [title]="'Censo Diario'" icon='mdi mdi-calendar'
                             (click)="censoDiario()" *ngIf="checkAuth('censo')">
                </plex-button>
                <plex-button class="marginBtnAccion" type="primary" [title]="'Censo Mensual'"
                             icon='mdi mdi-calendar-multiple' (click)="censoMensual()" *ngIf="checkAuth('censo')">
                </plex-button>
                <plex-button class='marginBtnAccion' type="primary" [title]="'Agregar Cama'" icon='mdi mdi-plus'
                             (click)="onGestionCamaClick()" *ngIf="checkAuth('cama:create')"></plex-button>
                <plex-button class="marginBtnAccion" type="primary" [title]="'Ingresar Paciente'" icon='account-plus'
                             (click)="ingresarPaciente()" *ngIf="isWorkflowCompleto">
                </plex-button>
                <plex-button class="marginBtnAccion" type="primary" [title]="'Lista de Espera'" icon='mdi mdi-timetable'
                             (click)="verLE()" *ngIf="isWorkflowCompleto">
                </plex-button>
                <plex-button class="marginBtnAccion" type="primary" [title]="'Listado Internación'"
                             icon='mdi mdi-format-list-bulleted' (click)="verLI()"></plex-button>
            </div>
            <ng-container>
                <plex-datetime type="datetime" [(ngModel)]="fecha" name="fecha" label="Fecha"
                               (change)="mapaDeCamaXFecha(false)"></plex-datetime>
            </ng-container>

            <div class="pt-3">
                <h5 class="text-info">Estado del servicio</h5>
                <hr class="blanco">
            </div>

            <div class="container-resumen">
                <div class="subcontainer-resumen totales">
                    <div>
                        <i class="icon icon-andes-cama"></i>
                    </div>
                    <div class="texto-resumen">
                        <h3>{{camasCopy.length}}</h3>
                        <p>Camas totales</p>
                    </div>
                </div>
                <div class="subcontainer-resumen disponible">
                    <div>
                        <i class="icon icon-andes-cama"></i>
                    </div>
                    <div class="texto-resumen">
                        <h3>{{cantidadXEstado['disponible'].length}}</h3>
                        <p>Camas disponibles</p>
                    </div>
                </div>
            </div>
            <ng-container *ngIf='!isWorkflowCompleto'>
                <div class="container-resumen">

                    <div class="subcontainer-resumen bloqueada">
                        <div>
                            <i class="icon icon-andes-cama-bloqueada"></i>
                        </div>
                        <div class="texto-resumen">
                            <h3>{{cantidadXEstado['bloqueada'].length}}</h3>
                            <p>Camas bloqueadas</p>
                        </div>
                    </div>
                    <div class="subcontainer-resumen ocupada">
                        <div>
                            <i class="icon icon-andes-cama-ocupada"></i>
                        </div>
                        <div class="texto-resumen">
                            <h3>{{cantidadXEstado['ocupada'].length}}</h3>
                            <p>Camas ocupadas</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf='isWorkflowCompleto'>

                <div class="container-resumen">
                    <div class="subcontainer-resumen desocupada">
                        <div>
                            <i class="icon icon-andes-cama-desocupada"></i>
                        </div>
                        <div class="texto-resumen">
                            <h3>{{cantidadXEstado['desocupada'].length}}</h3>
                            <p>Camas desocupadas</p>
                        </div>
                    </div>
                    <div class="subcontainer-resumen bloqueada">
                        <div>
                            <i class="icon icon-andes-cama-bloqueada"></i>
                        </div>
                        <div class="texto-resumen">
                            <h3>{{cantidadXEstado['bloqueada'].length}}</h3>
                            <p>Camas bloqueadas</p>
                        </div>
                    </div>
                </div>
                <div class="container-resumen">
                    <div class="subcontainer-resumen ocupada">
                        <div>
                            <i class="icon icon-andes-cama-ocupada"></i>
                        </div>
                        <div class="texto-resumen">
                            <h3>{{cantidadXEstado['ocupada'].length}}</h3>
                            <p>Camas ocupadas</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

    </plex-layout-sidebar>

    <plex-layout-footer>
        <plex-button label="Volver" type="info" position="left" (click)='volver()'></plex-button>
    </plex-layout-footer>
</plex-layout>