<ng-container *ngIf="prestacion">
    <!-- datos del ingreso -->
    <plex-accordion>
        <plex-panel *ngIf="!editarEgreso " tituloPrincipal="Datos del Ingreso" [active]="true" icon="arrow-down-drop-circle-outline">
            <ng-container>
                <rup-iniciarInternacion [desdeListadoInternacion]='desdeListadoInternacion' (data)="cierraEditar($event)" [paciente]="paciente" [prestacion]="prestacion"
                    [soloValores]="!editarIngreso" [paciente]="paciente" [camaSelected]="camaSeleccionada">
                </rup-iniciarInternacion>
                <!-- Editar internacion -->
                <plex-button class="btn btn-block btn-danger btn-sm" type="danger" *ngIf="!editarIngreso && !editarEgreso && puedeEditar"
                    label="Editar" (click)="editar('ingreso')"></plex-button>
            </ng-container>
        </plex-panel>
    </plex-accordion>
    <!-- pases de cama TODO: Estilzar segun mockup-->
    <plex-accordion>
        <plex-panel *ngIf="!editarIngreso && !editarEgreso" tituloPrincipal="Movimientos de Cama" icon="arrow-down-drop-circle-outline">
            <ng-container>
                <section class="andes-contenedor-secundario vertical">
                    <table class="table table-dark table-sm">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Cama</th>
                                <th>Unidad organizativa</th>
                                <th>Especialidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pase of pases; let i=index">
                                <td>{{ pase.estados.fecha | date:'dd-MM-yyyy HH:mm' }}</td>
                                <td>{{ getHabitacionName(pase) + '/' + pase.nombre }}</td>
                                <td>{{ pase.estados.unidadOrganizativa.term }}</td>
                                <td>{{ pase.estados.especialidades[0]?.term }}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </ng-container>
        </plex-panel>
    </plex-accordion>
    <!-- datos del egreso -->
    <plex-accordion>
        <plex-panel *ngIf="!editarIngreso" tituloPrincipal="Datos del Egreso" icon="arrow-down-drop-circle-outline">
            <ng-container>
                <div class="andes-contenedor-secundario vertical">
                    <rup-egresoInternacion [botonera]="{cerrar: true, validar: false}" (data)="cierraEditar($event)"
                        [prestacion]="prestacion" [soloValores]="!editarEgreso" (btnIniciarEditarEmit)="onBtnIniciarEditar($event)"
                        (prestacionGuardada)="onEgreso($event)" [camaSelected]="camaSeleccionada"></rup-egresoInternacion>
                    <ng-container *ngIf="(btnIniciarEditar === 'Iniciar') && !editarEgreso">
                        <h4>No se ha registrado ningún egreso</h4>
                    </ng-container>
                    <plex-button *ngIf="!editarEgreso && prestacion.estados[this.prestacion.estados.length - 1].tipo !== 'validada'"
                        type="danger" class="btn btn-block btn-danger btn-sm" label="{{btnIniciarEditar}}" (click)="editar('egreso')">
                    </plex-button>
                </div>
            </ng-container>
        </plex-panel>
    </plex-accordion>
    <div class="pt-3">
        <plex-button *ngIf="prestacion && mostrarValidacion && prestacion.estados[prestacion.estados.length - 1].tipo !='validada'"
            label="Validar Internación" (click)="validar()" type="success btn-block"></plex-button>
            <plex-button *ngIf="prestacion  && prestacion.estados[prestacion.estados.length - 1].tipo === 'validada'"
            label="Romper Internación" (click)="romperValidacion()" type="danger btn-block"></plex-button>
    </div>
</ng-container>
