<section>

  <!--Listado INICIAL de pacientes -->
  <div class="row">
    <div class="col-7">
      <plex-box type="danger">
        <header>
          <div class="page-title">Pacientes que requieren revisión</div>
        </header>
        <!-- Search results -->
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nac.</th>
                <th>Sexo</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover" *ngFor="let paciente of pacientesAudit; let i=index" (click)="mostrarPaciente=true; expand=!expand; seleccionarPaciente(paciente);verDuplicados=false;validate=false"
                [ngClass]="{'bg-inverse text-white': estaSeleccionado(pacientesAudit[i])}">
                <td>{{paciente.documento}}</td>
                <td>{{paciente.nombre| uppercase}}</td>
                <td>{{paciente.apellido| uppercase}}</td>
                <td>{{paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                <td>{{paciente.sexo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </plex-box>
      <plex-loader *ngIf=loadingPrimaryTable></plex-loader>
    </div>

    <!-- Box con operaciones de validación -->
    <!--<div *ngIf="showValidator" class="col-7">
      <plex-box>
        <header>
          <div class="page-title">Validar de Paciente</div>
        </header>

        <div class="row">
          <div class="col">
            <plex-button icon="autorenew" type="primary" label="RENAPER" (click)="validar()"></plex-button>
            <plex-button icon="autorenew" type="primary" label="SISA" (click)="validar()"></plex-button>
            <plex-button icon="autorenew" type="primary" label="SINTyS" (click)="validar()"></plex-button>
          </div>
          <div class="col">
            <br>
            <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>
          </div>
        </div>

        <div *ngIf='result'>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Sexo</th>
                <th>% match</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover" *ngFor="let paciente of candidatos">
                <td>{{paciente.documento}}</td>
                <td>{{paciente.nombre| uppercase}}</td>
                <td>{{paciente.apellido| uppercase}}</td>
                <td>{{paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                <td>{{paciente.sexo}}</td>
                <td>{{paciente.similitud * 100}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </plex-box>
    </div>-->


    <!--fin de col-md-7 -->

    <div class="col" *ngIf=mostrarPaciente>
      <plex-box type="info">
        <header>
          <h3>Datos del Paciente

            <span *ngIf="pacienteSelected.estado === 'validado'" class="label label-success recuadro">
                            {{pacienteSelected.estado | uppercase}} 
                        </span>
            <span *ngIf="pacienteSelected.estado !== 'validado'" class="label label-warning recuadro">
                            {{pacienteSelected.estado | uppercase}} 
                        </span>
          </h3>
        </header>

        <div class="row" *ngIf="pacienteSelected.apellido">
          <div class="col-md-12">
            <h3><strong>{{pacienteSelected.apellido}}</strong>
              <small> {{pacienteSelected.nombre}}</small>
            </h3>
          </div>
        </div>
        <div class="row" *ngIf="pacienteSelected.documento">
          <div class="col-md-12">
            <h4>D.N.I. {{pacienteSelected.documento}} </h4>
          </div>
        </div>
        <div class="row" *ngIf="pacienteSelected.fechaNacimiento">
          <div class="col-md-12">
            <h4> <label>Fecha de Nacimiento: </label> {{pacienteSelected.fechaNacimiento | fecha }} </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4> <label>Sexo: </label>
              <span *ngIf="pacienteSelected.sexo.nombre">{{pacienteSelected.sexo.nombre}}</span>
              <span *ngIf="!pacienteSelected.sexo.nombre">{{pacienteSelected.sexo}}</span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <plex-bool label="Activo" type="slide"> </plex-bool>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <plex-button [disabled]="btnRenaper" icon="autorenew" type="primary" label="RENAPER" (click)="validarRenaper(true,pacienteSelected)"></plex-button>
            <plex-button [disabled]="btnSisa" icon="autorenew" type="primary" label="SISA" (click)="validarSisa(true,pacienteSelected)"></plex-button>
            <plex-button [disabled]="btnSintys" icon="autorenew" type="primary" label="SINTyS" (click)="validarSintys(false,pacienteSelected)"></plex-button>
          </div>
        </div>
        <br>
        <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

        <div *ngIf="result">
          <h2>Pacientes encontrados <span class="badge">{{datosSisa.length}}</span> </h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Sexo</th>
                <th>match</th>
              </tr>
            </thead>
            <tr *ngFor="let pacienteSisa of resultado">
              <td> {{pacienteSisa.documento}}</td>
              <td> {{pacienteSisa.nombre}} </td>
              <td> {{pacienteSisa.apellido}} </td>
              <td> {{pacienteSisa.fechaNacimiento | date: 'dd-MM-yyyy'}} </td>
              <td> {{pacienteSisa.sexo}} </td>
              <td> {{pacienteSisa.similitud * 100}} </td>
            </tr>
          </table>
          <div *ngIf=mensaje class="alert" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{mensaje}}
          </div>
        </div>
      </plex-box>
    </div>
  </div>
</section>