<section>

  <!--Listado INICIAL de pacientes -->
  <div class="row">
    <div class="col-7" *ngIf="!showValidator">
      <plex-box type="danger">
        <header>
          <div class="page-title">Pacientes que requieren revisión</div>
        </header>
        <!-- Search results -->
        <div>
          <div class="table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Fecha Nac.</th>
                  <th>Sexo</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover" *ngFor="let paciente of pacientesAudit" (click)="mostrarPaciente=true; pacienteSelected = paciente;verDuplicados=false;validate=false">
                  <td>{{paciente.documento}}</td>
                  <td>{{paciente.nombre| uppercase}}</td>
                  <td>{{paciente.apellido| uppercase}}</td>
                  <td>{{paciente.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                  <td>{{paciente.sexo}}</td>
                  <td>{{paciente.estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </plex-box>
      <plex-loader *ngIf=loadingPrimaryTable></plex-loader>
    </div>

    <!-- Box con operaciones de validación -->
    <div *ngIf="showValidator" class="col-7">
      <plex-box>
        <header>
          <div class="page-title">Validar de Paciente</div>
        </header>

        <div class="row">
          <div class="col">
            <plex-button icon="autorenew" type="primary" label="RENAPER" (click)="validar()"></plex-button>
            <plex-button icon="autorenew" type="primary" label="SISA" (click)="validar()"></plex-button>
            <plex-button icon="autorenew" type="primary" label="SINTyS" (click)="validar()"></plex-button>
          </div>
          <div class="col">
            <br>
            <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>
          </div>
        </div>

      </plex-box>


    </div>

    <!--fin de col-md-7 -->

    <div class="col" *ngIf=mostrarPaciente>
      <plex-box type="info">
        <header>
          <h3>Datos del Paciente

            <span *ngIf="pacienteSelected.estado === 'validado'" class="label label-success recuadro">
                            {{pacienteSelected.estado | uppercase}} 
                        </span>
            <span *ngIf="pacienteSelected.estado !== 'validado'" class="label label-warning recuadro">
                            {{pacienteSelected.estado | uppercase}} 
                        </span>
          </h3>
        </header>

        <div class="row" *ngIf="pacienteSelected.apellido">
          <div class="col-md-12">
            <h3><strong>{{pacienteSelected.apellido}}</strong>
              <small> {{pacienteSelected.nombre}}</small>
            </h3>
          </div>
        </div>
        <div class="row" *ngIf="pacienteSelected.documento">
          <div class="col-md-12">
            <h4>D.N.I. {{pacienteSelected.documento}} </h4>
          </div>
        </div>
        <div class="row" *ngIf="pacienteSelected.fechaNacimiento">
          <div class="col-md-12">
            <h4> <label>Fecha de Nacimiento: </label> {{pacienteSelected.fechaNacimiento | fecha }} </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4> <label>Sexo: </label>
              <span *ngIf="pacienteSelected.sexo.nombre">{{pacienteSelected.sexo.nombre}}</span>
              <span *ngIf="!pacienteSelected.sexo.nombre">{{pacienteSelected.sexo}}</span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <plex-bool label="Activo" type="slide"> </plex-bool>
          </div>
        </div>
        <br>
        <plex-button icon="account-search" type="primary" label="Validación" (click)="showValidator=true"></plex-button>
        <plex-button icon="account-search" type="success" label="Ver Duplicados" *ngIf="!verDuplicados" (click)="verDuplicados=true"></plex-button>
        <plex-button icon="account-search" type="danger" label="Fusionar Selección" *ngIf="verDuplicados" (click)="verDuplicados=false"></plex-button>
        <br> <br>
      </plex-box>
    </div>
  </div>
</section>