<div class="col-sm-12" *ngIf="!showcreate && !showupdate">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Profesionales</div>
        <div class="panel-body">
            <form [formGroup]="searchForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label"> Apellido: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="apellido" placeholder="Ingresar apellido...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre...">
                    </div>
                </div>
            </form>

            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="button" (click)="showcreate = !showcreate" value="Nuevo Profesional">
                </div>
            </div>

            <div class="clear"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>e-mail</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesional of profesionales">
                        <td>{{profesional.apellido}}</td>
                        <td>{{profesional.nombre}}</td>
                        <td>{{profesional.tipoDni}} {{profesional.numeroDni}}</td>
                        <td>{{profesional.email}}</td>
                        <td>{{profesional.telefono}}</td>
                        <td><a href="#" (click)="onEdit(profesional)">Actualizar</a></td>
                        <td><a href="#" (click)="onDisable(profesional)">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="showcreate">
    <div class="panel panel-default">
        <div class="clear"></div>
        <profesional-create (data)='onReturn($event)'></profesional-create>

    </div>
</div>