<plex-title justify titulo="ESTADO DEL SERVICIO">
    <plex-badge type="info" size="sm">{{fecha | date: 'dd/MM/yyyy'}} | {{fecha | date: 'HH:mm'}}
    </plex-badge>
    <plex-datetime btnOnly="true" size="sm" type="datetime" [(ngModel)]="fecha" (change)="setFecha()" name="fecha"
                   class="d-inline-block" [max]="fechaHasta">
    </plex-datetime>
</plex-title>
<ng-container>
    <div class="container-resumen">
        <app-icono-camita icono="adi adi-cama" class="subcontainer-resumen total" nombre="Totales" [cantidad]="total">
        </app-icono-camita>
        <ng-container *ngFor="let estado of mapaCamasService.estado$ | async">
            <app-icono-camita [icono]="estado.icon" [class]="'subcontainer-resumen ' + estado.key"
                              [nombre]="estado.label + 's'"
                              [cantidad]="camasXEstado[estado.key] ? camasXEstado[estado.key].length : 0">
            </app-icono-camita>
        </ng-container>
    </div>
</ng-container>