<plex-box>
    <header>
        <div class="clearfix">
            <div class="page-title">
                HUDS
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col">
            <plex-button type="primary btn-sm problemas" label="Hallazgos" (click)="listarHallazgos()">
            </plex-button>
            <plex-button type="primary btn-sm prestaciones" label="Prestaciones" (click)="listarPrestaciones()">
            </plex-button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col">
            <ul *ngIf="prestaciones" class="list-group">
                <li *ngFor="let prestacion of prestaciones; let i = index" class="list-group-item justify-content-between hover" (click)="devolverPrestacion(prestacion)">
                    {{ prestacion.solicitud.tipoPrestacion.term }} <br>
                    <small> {{ prestacion.estados[prestacion.estados.length -1].createdAt | fecha }}</small>
                    <small>Profesional: {{ prestacion.estados[prestacion.estados.length -1].createdBy.nombreCompleto}}</small>
                </li>
            </ul>

            <ul *ngIf="hallazgos" class="conceptos list-unstyled">
                <ng-container *ngFor="let hallazgo of hallazgos; let i = index">
                    <li draggable class="" [dragHandle]="'.drag-bar'" [dragScope]="_dragScope" [dragOverClass]="_dragOverClass" [dragData]="{'tipo': 'hallazgo','data': hallazgo}" (onDragStart)="dragStart($e)" (onDragEnd)="dragEnd($e)">
                        <div class="rup-card mini">
                            <div class="type problemas">
                                <i #dragHandle class="drag-bar mdi mdi-drag-vertical"></i>
                            </div>
                            <div class="rup-content">
                                <div class="header">
                                    <div class="title">
                                        {{ hallazgo.concepto.term }}
                                    </div>
                                    <br>
                                    <small *ngIf="hallazgo.evoluciones">
                                        ultima evolución: {{ hallazgo.evoluciones[hallazgo.evoluciones.length - 1].fechaCarga | fecha}}
                                    </small><br>
                                    <span *ngIf="hallazgo.evoluciones[hallazgo.evoluciones.length - 1].esCronico" class="badge-danger">
                                        Crónico
                                    </span>

                                    <div class="actions">
                                        <a href="javascript: void(0)" (click)="devolverHallazgo(hallazgo)">
                                            <i class="mdi mdi-plus-box-outline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</plex-box>