<header *ngIf="prestacion">
    <header-paciente [paciente]="prestacion.paciente" [prestacion]="prestacion"></header-paciente>
</header>

<section class="prestacionEjecucion" *ngIf="prestacion && elementoRUPprestacion">

    <div class="row" >
        <div class="col-3">

        </div>
        <div class="col-6">
            <plex-box>
                <header>
                    <div class="clearfix">
                        <div class="page-title">
                            {{prestacion.solicitud.tipoPrestacion.term}}
                        </div>
                    </div>

                </header>

                <div *ngIf="ejecucion && ejecucion.length">

                    <plex-accordion class="elementosRup">
                        <div class="row" *ngFor="let elemento of ejecucion">

                            <div class="col {{elemento.tipo}}" *ngIf="elemento.elementoRUP">
                                <plex-panel tituloPrincipal="{{elemento.concepto.term}}">

                                    <rup #rup [prestacion]="prestacion"
                                        [elementoRUP]="elemento.elementoRUP"
                                        [paciente]="prestacion.paciente"
                                        [conceptoSnomed]="conceptoSnomedSeleccionado"

                                        (evtData)="getValoresRup($event, elemento.elementoRUP)"
                                        *ngIf="elemento.concepto.semanticTag == 'trastorno'
                                        || elemento.concepto.semanticTag == 'hallazgo' || elemento.concepto.semanticTag == 'procedimiento'">

                                    </rup>

                                </plex-panel>

                            </div>

                        </div>
                    </plex-accordion>

                </div>
            </plex-box>
        </div>
        <div class="col-3">

            <plex-box>
                <header>
                    <div class="clearfix">
                        <div class="page-title">
                            {{prestacion.solicitud.tipoPrestacion.term}}
                        </div>
                    </div>
                </header>

                <div class="row">
                    <div class="col">
                        <!--Procedimientos
                        <snomed-buscar [tipoBusqueda]="'procedimientos'" (evtData)="ejecutarConcepto($event)"></snomed-buscar>-->
                        <plex-button class="" title="Problemas" label="Problemas" (click)="filtroBuscadorSnomed('problemas')" type="primary btn-sm"></plex-button>
                        <plex-button class="" title="Procedimientos" label="Procedimientos" (click)="filtroBuscadorSnomed('procedimientos')" type="primary btn-sm"></plex-button>
                        <plex-button class="" title="Planes" label="Planes" (click)="busquedaPlanes()" type="primary btn-sm"></plex-button>
                        Buscador {{tipoBusqueda}}
                        <div *ngIf="!showPlanes">
                            <snomed-buscar [tipoBusqueda]="tipoBusqueda" (evtData)="ejecutarConcepto($event)"></snomed-buscar>
                        </div>
                        <form *ngIf="showPlanes">
                            <div>
                                Busqueda de planes
                                <plex-text [(ngModel)]="searchPlanes" name="searchPlanes" (change)="buscar()" placeholder="Buscar ..."></plex-text>
                            </div>
                        </form>

                        <div>
                            <ul class="results list-group">
                                <ng-container *ngFor="let item of listaPlanes">
                                    <li draggable class="list-group-item justify-content-between list-group-item-action" *ngIf="!hideLista" [dragScope]="_dragScope"
                                        [dragOverClass]="_dragOverClass" [dragData]="item" (onDragStart)="dragStart($e)" (onDragEnd)="dragEnd($e)">
                                        <a href="javascript: void(0)" (click)="ejecutarConcepto(item)">
                                        {{item.term}}
                                    </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </plex-box>
        </div>
    </div>
</section>

<!--
<footer>
    <div class="row">
        <div class="col-3">
            <plex-button title="Volver" icon="mdi mdi-arrow-left-bold" label="volver" (click)="volver('rup/resumen')" type="danger"></plex-button>
        </div>
        <div class=" col-6 text-center">
            <div *ngIf="error !=0 " class="alert alert-danger " role="alert">
                {{error}}
            </div>
        </div>
        <div class="col-3 text-right ">
            <plex-button title="Guardar " label="Guardar " (click)="guardarPrestacion()" type="success"></plex-button>
        </div>
    </div>
</footer>
-->
