.rup-card {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
}

.rup-card.mini {
    margin-bottom: -1px;
}

.rup-card .type {
    padding: 5px;
    width: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rup-card .type i {
    color: white;
}

.rup-card .rup-content {
    margin: 0;
    width: 100%;
}

.rup-card .rup-content .rup-body {
    padding: 15px;
}

.rup-card .rup-content .header {
    padding: 5px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}

.rup-card.mini .rup-content .header {
    padding: 5px;
    border-bottom: 0 none;
}

.rup-card .rup-content .header .title {
    display: inline-flex;
}

.rup-card .rup-content .header .actions {
    float: right!important;
}

.problemas {
    background-color: #b99e06;
}

.btn-primary.problemas {
    background-color: #b99e06;
    border-color: #b99e06;
}

.planes {
    background-color: #6A99AD;
}

.btn-primary.planes {
    background-color: #6A99AD;
    border-color: #6A99AD;
}

.prestaciones {
    background-color: #34a;
}

.btn-primary.prestaciones {
    background-color: #34a;
    border-color: #34a;
}

.procedimientos {
    background-color: #92278E;
}

.btn-primary.procedimientos {
    background-color: #92278E;
    border-color: #92278E;
}


/* drag and drop */
.drag-handle {
    cursor: -webkit-grab;
    color: white;
}

.drag-over-border {
    border: #ff525b dashed 2px;
}

.droppable.drag-target-border,
.list-group>.list-group-item.drag-target-border,
.drag-target-border {
    border: #00bfff dashed 2px;
}
/*
.drag-handle {
    cursor: move;
}
*/

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed #eee;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
}

.drop-area {
    min-height: 50px;
}

.drop-area p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.spin::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 200ms;
}

.drop-line-area {
    border: 1px solid white;
    height: 1px;
    margin: 10px;
}
.drag-hover-line {
    border: 1px solid black;
    height: 1px;
    margin: 10px 0;
}
