.prestacionEjecucion .elementosRup .card,
.prestacionEjecucion .elementosRup .card-header:first-child {
    border-radius: 0;
}

.prestacionEjecucion .elementosRup .card {
    margin: 10px 0;
}

.prestacionEjecucion .elementosRup .card h5 {
    text-transform: capitalize;
}

.conceptos.list-group > .list-group-item {
    padding: 0;
}

.rup-card {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: -1px;
}
.rup-card .type {
    padding: 5px;
    width: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rup-card .type i {color: white;}

.rup-card .rup-content {
    margin: 0;
    width: 100%;
}

.rup-card .rup-content .rup-body {
    padding: 15px;
}

.rup-card .rup-content .header{
    padding: 5px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}

.rup-card.mini .rup-content .header{
    padding: 5px;
    border-bottom: 0 none;
}

.rup-card .rup-content .header .title{
    display: inline-flex;
}
.rup-card .rup-content .header .actions{
    float: right!important;

}


.problemas {
    background-color: #34a;
}
.btn-primary.problemas {
    background-color: #34a;
    border-color: #34a;
}

.planes {
    background-color: #6A99AD;
}
.btn-primary.planes {
    background-color: #6A99AD;
    border-color: #6A99AD;
}

.prestaciones {
    background-color: #FFD800;
}
.btn-primary.prestaciones {
    background-color: #FFD800;
    border-color: #FFD800;
}

.procedimientos {
    background-color: #92278E;
}
.btn-primary.procedimientos {
    background-color: #92278E;
    border-color: #92278E;
}
