<header *ngIf="prestacion">
    <header-paciente (evtData)="cambioDePaciente($event)" [cambiarPaciente]="showBotonCambioPaciente" [paciente]="prestacion.paciente" [prestacion]="prestacion"></header-paciente>
</header>

<pacientesSearch [bloquearCreate]="true" (selected)="cambiarElPaciente($event)" *ngIf="showCambioPaciente" [modoCompleto]="false"></pacientesSearch>


<section class="plex-layout prestacionEjecucion" *ngIf="prestacion && elementoRUPprestacion && !showCambioPaciente">

    <div class="row">
        <div class="col-3">
            <rup-hudsBusqueda [paciente]="prestacion?.paciente" [prestacionActual]="prestacion?.id" [_dragScope]="'registros-rup'" (evtData)="ejecutarConceptoHuds($event)" (_onDragStart)="arrastrandoConcepto(true)" (_onDragEnd)="arrastrandoConcepto(false)"></rup-hudsBusqueda>
        </div>
        <div class="col-6">
            <plex-box>
                <header>
                    <div class="row">
                        <div class="col-9 page-title">
                            {{prestacion.solicitud.tipoPrestacion.term}}
                        </div>
                        <div class="col-3 float-right text-right">
                            <a href="javascript:void(0);" class="dataSolicitud" *ngIf="!showDatosSolicitud" (click)="mostrarDatosSolicitud(true)"><i class="mdi mdi-eye mdi-12px"></i> Solicitud</a>
                            <a href="javascript:void(0);" class="dataSolicitud" *ngIf="showDatosSolicitud" (click)="mostrarDatosSolicitud(false)"><i class="mdi mdi-eye mdi-12px"></i> Prestacion </a>
                        </div>
                    </div>
                </header>

                <!-- div de la info de la solicitud -->
                <div *ngIf="showDatosSolicitud">
                    <h3> {{prestacion.solicitud.tipoPrestacion.term}} </h3>
                    <p>
                        Solicitada por el profesional: {{prestacion.solicitud.profesional.nombre}} {{prestacion.solicitud.profesional.apellido}}
                    </p>
                    <p>
                        Organizacion: {{prestacion.solicitud.organizacion.nombre}}
                    </p>
                    <p>
                        Fecha : {{prestacion.solicitud.fecha | date}}
                    </p>
                    <p *ngIf="prestacion.solicitud.relacionadoCon.length > 0">
                        Relacionado con: {{prestacion.solicitud.relacionadoCon}}
                    </p>
                    <p *ngIf="prestacion.solicitud.prestacionOrigen">
                        Prestacion de origen: {{prestacion.solicitud.prestacionOrigen}}
                    </p>
                </div>

                <div *ngIf="!showDatosSolicitud" droppable [dropScope]="'registros-rup'" [dragOverClass]="'drag-target-border'" (onDrop)="onConceptoDrop($event)" class="droppable drop-area" [hidden]="!isDraggingConcepto">
                    <p>
                        Arrastre aquí para vincularlos a esta consulta
                    </p>
                </div>

                <div *ngIf="registros && registros.length && !showDatosSolicitud">
                    <ng-container *ngFor="let elemento of registros; let i = index">

                        <div droppable [dropScope]="'orden-registros-rup'" (onDrop)="moverRegistro(i, $event)" [dragOverClass]="'drop-posicion-hover'" [hidden]="!isDraggingRegistro" class="drop-posicion" *ngIf="posicionOnDrag !== i && elementoOnDrag !== elemento.concepto.conceptId && registros && registros.length > 1">
                            Mover a esta posición

                        </div>



                        <div droppable [dropScope]="'vincular-registros-rup'" (onDrop)="vincularRegistros($event, elemento)" [dragOverClass]="'drag-target-border'" [ngClass]="{'relacionado': elemento.relacionadoCon}">

                            <div class="rup-card" *ngIf="elemento.elementoRUP">

                                <div class="type {{elemento.tipo}} drag-handle" draggable [dragScope]="['orden-registros-rup', 'vincular-registros-rup', 'borrar-registros-rup']" [dragOverClass]="'drag-target-border'" [dragData]="elemento" (onDragStart)="draggingRegistro(i ,elemento, true)"
                                    (onDragEnd)="draggingRegistro(i, elemento, false)">
                                    <i class="drag-orden mdi mdi-drag-vertical" aria-hidden="true"></i>
                                </div>
                                <div class="rup-content">
                                    <div class="header">
                                        <div class="title">
                                            {{elemento.concepto.term}}
                                        </div>

                                        <div class="actions">
                                            <span class="badge badge-danger" *ngIf="errores[i]" title="{{errores[i]}}">
                                                Error
                                            </span>

                                            <a href="javascript:void(0);" (click)="elemento.collapse = !elemento.collapse">
                                                <i class="mdi mdi-chevron-down" [ngClass]="{'spin' : !elemento.collapse}"></i>
                                            </a>

                                            <a href="javascript:void(0);" (click)="confirmarEliminarRegistro(elemento, 'card')" class="desvincular float-right" *ngIf="!confirmarDesvincular[i]">
                                                <i class="mdi mdi-delete"></i>
                                            </a>

                                            <div *ngIf="elemento.relacionadoCon === null && elemento?.items.length > 0">

                                                <plex-dropdown type="link" class="dropdown-inline" [right]="true" icon="dots-vertical" (click)="cargaItems(elemento, i)" [items]="elemento.items"></plex-dropdown>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="rup-body " [hidden]="elemento.collapse || confirmarEliminar">
                                        <div *ngIf="errores[i]">
                                            <span class="badge badge-danger">
                                                {{errores[i]}}
                                            </span>
                                        </div>

                                        <rup #rup [prestacion]="prestacion" [elementoRUP]="elemento.elementoRUP" [paciente]="paciente" (evtData)="getValoresRup($event, elemento.elementoRUP, elemento.concepto)" [datosIngreso]="data[elemento.elementoRUP.key] && data[elemento.elementoRUP.key][elemento.concepto.conceptId]"
                                            *ngIf="paciente && data">
                                        </rup>
                                    </div>
                                    <div class="rup-footer" *ngIf="elemento.relacionadoCon || confirmarEliminar">
                                        <div class="actions ">
                                            <div class="relacionadoCon">
                                                <div class="float-left" *ngIf="elemento.relacionadoCon && !confirmarDesvincular[i]">
                                                    Relacionado con: {{elemento.relacionadoCon.term}}
                                                </div>

                                                <div *ngIf="elemento.relacionadoCon && confirmarDesvincular[i]" class="confirmarDesvincular">
                                                    ¿Confirmar desvinculación con <b>{{elemento.relacionadoCon.term}}</b>?

                                                    <div class="float-right">
                                                        <a href="javascript:void(0);" (click)="confirmarDesvincular[i] = false;" class="">
                                                            Cancelar
                                                        </a> |
                                                        <a href="javascript:void(0);" (click)="confirmarDesvinculacion(i)" class="confirm">
                                                            Desvincular
                                                        </a>
                                                    </div>
                                                </div>

                                                <div *ngIf="confirmarEliminar && scopeEliminar == 'card' && indexEliminar == i" class="confirmarDesvincular">
                                                    ¿Quitar de la consulta?

                                                    <div class="float-right">
                                                        <a href="javascript:void(0);" (click)="confirmarEliminar = false;" class="">
                                                            Cancelar
                                                        </a> |
                                                        <a href="javascript:void(0);" (click)="eliminarRegistro()" class="confirm">
                                                            Quitar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <a href="javascript:void(0);" (click)="desvincular(i)" class="desvincular float-right" *ngIf="elemento.relacionadoCon && !confirmarDesvincular[i] && (!confirmarEliminar || (confirmarEliminar && indexEliminar != i))" title="Desvincular">
                                                <i class="mdi mdi-link-variant-off"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div droppable [dropScope]="'orden-registros-rup'" (onDrop)="moverRegistro(registros.length, $event)" [dragOverClass]="'drop-posicion-hover'" [hidden]="!isDraggingRegistro" class="drop-posicion" *ngIf="registros && registros.length && registros.length !== posicionOnDrag">
                        Mover a esta posición
                    </div>
                </div>
            </plex-box>
        </div>

        <div class="col-3">
            <plex-box>
                <header>
                    <div class="clearfix">
                        <div class="page-title">
                            Buscador
                        </div>
                    </div>
                </header>

                <div class="row">
                    <div class="col">

                        <rup-buscador (evtData)="ejecutarConcepto($event)" [elementoRUPpretacion]="elementoRUPprestacion" (_tipoDeBusqueda)="recibeTipoBusqueda($event)" (_onDragStart)="arrastrandoConcepto(true)" (_onDragEnd)="arrastrandoConcepto(false)"></rup-buscador>

                    </div>
                </div>
            </plex-box>
        </div>
    </div>
</section>


<footer>
    <div class="row">
        <div class="col-3" *ngIf="showCambioPaciente">
            <plex-button title="Cancelar" icon="mdi mdi-arrow-left-bold" label="Cancelar" (click)="cancelarCambioPaciente()" type="danger"></plex-button>
        </div>
        <div class="col-3" *ngIf="!showCambioPaciente">
            <plex-button title="Volver" icon="mdi mdi-arrow-left-bold" label="volver" (click)="volver()" type="danger"></plex-button>
        </div>
        <div class=" col-6 text-center">
            <div droppable [dropScope]="'borrar-registros-rup'" (onDrop)="confirmarEliminarRegistro($event, 'footer')" [dragOverClass]="'drop-posicion-hover'" [hidden]="!isDraggingRegistro" class="drop-posicion" *ngIf="registros && registros.length">
                <i class="mdi mdi-delete"></i> Quitar elemento
            </div>

            <div *ngIf="confirmarEliminar && scopeEliminar == 'footer'" class="confirmarDesvincular">
                ¿Quitar de la consulta?

                <div class="float-right">
                    <a href="javascript:void(0);" (click)="confirmarEliminar = false;" class="">
                        Cancelar
                    </a> |
                    <a href="javascript:void(0);" (click)="eliminarRegistro()" class="confirm">
                        Quitar
                    </a>
                </div>
            </div>
        </div>
        <div class="col text-right " *ngIf="!showCambioPaciente">
            <plex-button title="Guardar " label="Guardar " (click)="guardarPrestacion()" type="success"></plex-button>
        </div>
    </div>
</footer>