<section>
    <plex-box>
        <header>
            <!--Botones / Acciones-->
            <div class="clearfix">
                <div class="page-title">Lista de pacientes</div>
            </div>
        </header>

        <div class="row" *ngIf="paciente">
            <div class="col">
                <header-paciente [paciente]="paciente"></header-paciente>
            </div>
        </div>


        <div class="row" *ngIf="paciente">
            <div class="col">
                <plex-select [(ngModel)]="tipoPrestacionSeleccionada" name="nombrePrestacion" label="Tipos de prestaciones" labelField="term" (getData)="loadPrestacionesProfesional($event)" (change)="crearPrestacionVacia()">
                </plex-select>
                <!--
                <snomedConcept-buscar (evtData)="crearPrestacionVacia($event)"></snomedConcept-buscar>-->
            </div>
        </div>


        <div class="row" *ngIf="mostrarLista">
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="filtrarPorFecha()" name="horaInicio" label="Desde">
                        </plex-datetime>
                    </div>
                    <div class="col-6">
                        <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="filtrarPorFecha()" name="horaInicio" label="Hasta">
                        </plex-datetime>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <fieldset>
                    <!--<legend>Filtro por estado</legend>-->
                </fieldset>
                <plex-select [(ngModel)]="estadoSeleccion" name="nombrePrestacion" label="Estados" (getData)="loadEstados($event)" (change)="filtrarPacientes(filtrosPacientes)">
                </plex-select>
            </div>
            <div class="col-3">
                <fieldset>
                    <!--<legend>Filtro tipo de prestacion</legend>-->
                </fieldset>
                <plex-select [(ngModel)]="prestacionSeleccion" name="nombrePrestacion" label="Prestaciones" [data]="selectPrestacionesProfesional" labelField="term" (change)="filtrarPacientes(filtrosPacientes)">
                </plex-select>
            </div>
            <div class="col-3">
                <label class="form-control-label">Filtrar por paciente</label>
                <div class="btn-group full-width" data-toggle="buttons">
                    <label class="btn btn-primary btn-sm hover form-control" [ngClass]="{active: filtrosPacientes}">
                        <input type="radio" name="options" id="inactivo" (click)="filtrarPacientes(true)">
                        Mis Pacientes
                    </label>
                    <label class="btn btn-primary btn-sm hover form-control" [ngClass]="{active: !this.filtrosPacientes}">
                        <input type="radio" name="options" id="inactivo" (click)="filtrarPacientes(false)">
                        Todos
                    </label>
                </div>
            </div>
        </div>

        <!-- Buscador de Pacientes MPI -->
        <div class="row" *ngIf="mostrarPacientesSearch">
            <div class="col" *ngIf="!buscarMPI">
                <plex-text [(ngModel)]="searchTerm" (change)="buscar() && mostrarLista = false" prefix="<i class='mdi mdi-account-card-details'></i>" placeholder="Buscar pacientes" (selected)="onPacienteSelected($event)"></plex-text>
            </div>
            <div class="col" *ngIf="buscarMPI">
                <pacientesSearch (change)="mostrarLista = false" (selected)="onPacienteSelected($event)" [modoCompleto]="false" [textSearch]="searchTerm" (blanqueaInput)="handleBlanqueo($event)"></pacientesSearch>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" *ngIf="mostrarLista">
            <div class="col-12">
                <!--Resultados-->
                <div *ngIf="!pacientesPresentes.length" class="alert alert-default">
                    <i class="mdi mdi-emoticon-sad"></i> No hay Pacientes que coincidan con los filtros de búsqueda
                </div>
                <!-- La Lista de Pacientes -->
                <table *ngIf="pacientesPresentes.length" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th><strong>Fecha</strong></th>
                            <th><strong>Paciente</strong></th>
                            <th><strong>Profesional</strong></th>
                            <th><strong>Estado</strong></th>
                            <th><strong>Tipo de prestacion</strong></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientesPresentes" [ngClass]="{'table-active': paciente.estado === 'Suspendido'}">
                            <td>
                                {{paciente.fecha | date: 'dd/MM/yyyy H:m'}}
                            </td>
                            <td>
                                {{paciente.paciente | paciente}} (<small>DNI: {{paciente.paciente.documento}}</small>)
                            </td>
                            <td>
                                <ng-container *ngFor="let profesional of paciente.profesionales">
                                    {{profesional | profesional}}<br>
                                </ng-container>
                            </td>
                            <td>
                                {{paciente.estado}}
                            </td>
                            <td>
                                {{paciente.nombrePrestacion}}
                            </td>
                            <td class="text-center">
                                <plex-button *ngIf="paciente.estado === 'Programado'" (click)="elegirPrestacion(paciente)" label="Iniciar Prestación" type="success btn-sm"></plex-button>
                                <plex-button *ngIf="paciente.estado !== 'Programado'" (click)="elegirPrestacion(paciente)" label="Ver registros" type="primary btn-sm"></plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </plex-box>
</section>

<!--Footer-->
<footer *ngIf="paciente">
    <plex-button *ngIf="paciente" icon="arrow-left" (click)="volverAlInicio()" label="Volver" type="danger"></plex-button>
    <plex-button *ngIf="paciente && prestacionSeleccion" icon="account" (click)="crearPrestacionVacia(prestacionSeleccion)" label="Generar Prestación" type="success" class="float-right"></plex-button>
</footer>

<!--<pre>
  {{pacientesPresentes | json }}
</pre>-->