<header *ngIf="prestacion">
    <header-paciente [paciente]="prestacion.paciente" [prestacion]="prestacion"></header-paciente>
</header>
<section class="row">
    <!--Solicitudes Pendientes-->
    <div class="col-3">
        <plex-box>
            <header>
                <div class="row">
                    <div class="col">
                        <h5 class="box-title-principal">Solicitudes pendientes</h5>
                    </div>
                </div>
            </header>

            <ul class="results list-group">
                <li class="list-group-item justify-content-between list-group-item-action" *ngFor="let prestacion of prestacionesPendientes">
                    <h5 class="item-title d-inline text-left">{{ prestacion.solicitud.tipoPrestacion.term }}</h5>
                    <div>
                        <span class="badge badge-info  mdi mdi-link pull-right"></span>
                    </div>
                    <small> Solicitado el <strong>{{ prestacion.solicitud.fecha | date: 'dd/MM/yyyy' }}</strong>
                        <span > por {{ prestacion.solicitud.profesional | profesional }}</span>
                        <!--<span *ngIf="!prestacion.ejecucion?.profesionales[0]?.nombreCompleto">(sin profesionales asignados)</span>-->
                    </small>
                    <small *ngIf="prestacion.solicitud.motivoSolicitud">{{ prestacion.solicitud.motivoSolicitud }}</small>
                    <ul>

                        <ng-container *ngFor="let problema of prestacion.solicitud.listaProblemas">
                            <div *ngIf="problema.evoluciones && problema.evoluciones.length > 0">
                                <!--<span class="badge badge-info  mdi mdi-link" title='Problema: {{problema.tipoProblema.nombre}} - Estado: {{problema.evoluciones[problema.evoluciones.length - 1].vigencia}}'></span>-->
                                <li>
                                    {{ problema.tipoProblema.term }}
                                </li>
                            </div>
                        </ng-container>
                    </ul>



                </li>
            </ul>
        </plex-box>
    </div>
    <!-- /Solicitudes Pendientes-->
    <!--Problemas del paciente-->
    <div class="col-6">
        <plex-box>
            <header>
                <div class="row">
                    <div class="col">
                        <h5 class="box-title-principal">Problemas del paciente</h5>
                    </div>
                </div>
            </header>

            <ul class="list-group" *ngIf="listaProblemas">
                <li class="list-group-item justify-content-between list-group-item-action" *ngFor="let problema of listaProblemas">
                    <span>
                        <!--<strong>{{problema.tipoProblema.nombre}} </strong>  |                                   TODO: Cambio de interfaz anterior-->
                        <strong>{{problema.tipoProblema.term}} </strong>  |
                            <small>Iniciado <strong>{{problema.fechaInicio | fromNow}}</strong> por
                                   el profesional <strong>{{problema.evoluciones[problema.evoluciones.length - 1].profesional.nombreCompleto}}</strong>
                            </small>
                        </span>



                    <div class="list-inline" *ngIf="problema.evoluciones && problema.evoluciones.length > 0">
                        <span class="badge badge-success d-inline" *ngIf="problema.evoluciones[problema.evoluciones.length - 1].vigencia == 'activo'">
                                Activo
                            </span>
                        <span class="badge badge-danger d-inline" *ngIf="problema.evoluciones[problema.evoluciones.length - 1].vigencia == 'inactivo'">
                                {{problema.evoluciones[problema.evoluciones.length - 1].vigencia}}
                            </span>
                        <span class="badge badge-danger d-inline" *ngIf="problema.evoluciones[problema.evoluciones.length - 1].vigencia == 'resuelto'">
                                {{problema.evoluciones[problema.evoluciones.length - 1].vigencia}}
                            </span>
                        <!--
                            <span *ngIf="problema.evoluciones[problema.evoluciones.length - 1].vigencia != 'resuelto'"
                                    class="badge badge-warning d-inline">{{problema.evoluciones[problema.evoluciones.length - 1].duracion}}
                            </span>
                        -->

                    </div>

                </li>
            </ul>
        </plex-box>
    </div>
    <!-- /Problemas del paciente-->
    <!-- Registros de la consulta-->

    <div class="col-3">
        <!--
        <plex-box>
            <header>
                <div class="row">
                    <div class="col">
                        <h5 class="box-title-principal">Registros de la consulta</h5>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-6">
                    <dl *ngIf="prestacionPeso">
                        <dt>Peso</dt> {{prestacionPeso.valor}} Kg <br />
                        <small>{{prestacionPeso.fecha | date: 'dd/MM/yyyy'}}</small>

                    </dl>
                </div>

                <div class="col-6">
                    <dl *ngIf="prestacionTalla">
                        <dt>Talla</dt> {{prestacionTalla.valor}} cm <br />
                        <small>{{prestacionTalla.fecha | date: 'dd/MM/yyyy'}}</small>
                    </dl>
                </div>
            </div>
        </plex-box>
        -->
    </div>
    <!-- /Registros de la consulta-->
</section>

<footer class="plex-box-invert" *ngIf="prestacion">
    <div class="row">
        <div class="col">
            <plex-button title="Volver" icon="mdi mdi-arrow-left-bold" label="volver" (click)="volver('/rup')" type="danger"></plex-button>
        </div>
        <div class="col text-right">
            <plex-button *ngIf="prestacion.estados[prestacion.estados.length-1].tipo == 'pendiente'" title="Iniciar prestación" label="Iniciar" type="success" (click)="iniciarPrestacion(prestacion.id)">
            </plex-button>
            <plex-button *ngIf="prestacion.estados[prestacion.estados.length-1].tipo == 'validada'" title="Ver resumen" label="Ver resumen" type="success" (click)="verResumen(prestacion.id)">
            </plex-button>
            <plex-button *ngIf="prestacion.estados[prestacion.estados.length-1].tipo == 'ejecucion'" title="Ver prestación" label="Ir a registros" type="success" (click)="verPrestacion(prestacion.id)">
            </plex-button>
        </div>
    </div>
</footer>
