<form class="plex-layout" #form="ngForm">
    <section>
        <plex-box>
            <header>
                <div class="page-title">Editar cama</div>
            </header>
            <div class="row">
                <div class="col-4">
                    <plex-int [(ngModel)]="cama.sector" name="sector" label="Sector" placeholder="Sector" [autoFocus]="autofocus" required></plex-int>
                </div>
                <div class="col-4">
                    <plex-int [(ngModel)]="cama.habitacion" name="habitacion" label="Habitacion" placeholder="Habitacion" required></plex-int>
                </div>
                <div class="col-4">
                    <plex-int [(ngModel)]="cama.numero" name="numero" label="Numero" placeholder="Numero" required></plex-int>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <plex-select name="servicio" (getData)="loadServicios($event)" [(ngModel)]="cama.servicio" label="Servicio">
                    </plex-select>
                </div>
                <div class="col-4">
                    <plex-text [(ngModel)]="cama.tipoCama" name="tipoCama" label="Tipo de cama" placeholder="Tipo de cama" required></plex-text>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <plex-select name="equipamiento" (getData)="loadEquipamientos()" [(ngModel)]="cama.equipamiento" label="Equipamiento">
                    </plex-select>
                </div>
            </div>

        </plex-box>
    </section>
    <footer>
        <div class="text-right">
            <plex-button label="Cancelar" type="danger" (click)="cancel()">
            </plex-button>
            <plex-button label="Guardar" type="primary" (click)="save($event)" validateForm="true">
            </plex-button>
        </div>
    </footer>
</form>