<form class="plex-layout" #form="ngForm">
    <section>
        <div class="row">
            <div class="col">
                <plex-box type="success">
                    <header>
                        <div class="page-title">Editar Organizaciones</div>
                    </header>
                    <!-- DATOS BASICOS -->
                    <div class="row">
                        <div class="col-4">
                            <plex-text label="Código SISA" type="text" name="sisa" [(ngModel)]="organizacionModel.codigo.sisa" placeholder="Ingrese código SISA"></plex-text>
                        </div>
                        <div class="col-4">
                            <plex-text label="Código CUIE" name="cuie" [(ngModel)]="organizacionModel.codigo.cuie" placeholder="Ingrese código CUIE"></plex-text>
                        </div>
                        <div class="col-4">
                            <plex-text label="Código Remediar" name="remediar" [(ngModel)]="organizacionModel.codigo.remediar" placeholder="Ingrese código Remediar"></plex-text>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <plex-text type="text" label="Nombre" name="nombre" [(ngModel)]="organizacionModel.nombre" placeholder="Ingrese nombre..."></plex-text>
                        </div>
                        <div class="col-4">
                            <plex-select name="tipoEstablecimiento" [data]="tiposEstablecimiento" [(ngModel)]="organizacionModel.tipoEstablecimiento"
                                label="Tipo de Establecimiento">
                            </plex-select>
                        </div>
                        <div class="col-4">
                            <plex-int label="Complejidad" name="complejidad" [(ngModel)]="organizacionModel.nivelComplejidad" placeholder="Ingrese nivel de complejidad..."></plex-int>
                        </div>
                    </div>
                    <!-- DATOS BASICOS -->
                    <div class="row">&nbsp;</div>
                    <!-- DATOS DE DOMICILIO -->
                    <fieldset>
                        <legend>Datos de domicilio</legend>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <plex-text label="Detalle de Domicilio:" name="valorDomicilio" [(ngModel)]="organizacionModel.direccion.valor" placeholder="Ej: Belgrano 1547 - Piso 2 - Departamento 3...."></plex-text>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-4">
                                        <plex-select name="localidad" [data]="localidadesNeuquen" [(ngModel)]="organizacionModel.direccion.ubicacion.localidad.nombre"
                                            label="Localidad:">
                                        </plex-select>
                                    </div>
                                    <div class="col-4">
                                        <plex-text label="Código Postal:" name="codigoPostal" [(ngModel)]="organizacionModel.direccion.codigoPostal" placeholder="Ingrese CP..."></plex-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Datos de contacto</legend>
                        <div>
                            <div class="row">
                                <div class="col-2">
                                    <plex-button label="Agregar" type="primary btn-sm" icon="phone-plus" (click)="addContacto()"></plex-button>
                                </div>
                            </div>
                            <div class="row" *ngFor="let _unContacto of organizacionModel.contacto; let i = index">
                                <div class="col-4">
                                    <plex-select [(ngModel)]="_unContacto.tipo" [data]="tipoComunicacion" name="tipo-{{i}}" placeholder="Seleccione..." label="Tipo:">
                                    </plex-select>
                                </div>
                                <div class="col-4">
                                    <span *ngIf="_unContacto.tipo && _unContacto.tipo.id">
                                        <plex-text *ngIf="_unContacto.tipo.id !== 'celular'" label="Dato:" [(ngModel)]="_unContacto.valor" name="valor-{{i}}">
                                        </plex-text>
                                        <plex-phone label="Numero:" *ngIf="_unContacto.tipo.id === 'celular'" [(ngModel)]="_unContacto.valor" placeholder="Ej: 2990000000"
                                            name="valor-{{i}}">
                                        </plex-phone>
                                    </span>
                                    <span *ngIf="_unContacto.tipo && !_unContacto.tipo.id">
                                        <plex-text *ngIf="_unContacto.tipo !== 'celular'" label="Dato:" [(ngModel)]="_unContacto.valor" name="valor2-{{i}}">
                                        </plex-text>
                                        <plex-phone label="Numero:" *ngIf="_unContacto.tipo === 'celular'" [(ngModel)]="_unContacto.valor" placeholder="Ej: 2990000000"
                                            name="valor-{{i}}">
                                        </plex-phone>
                                    </span>
                                </div>
                                <div class="col-2" *ngIf="i > 0">
                                    <br>
                                    <br>
                                    <plex-button label="" type="danger btn-sm" icon="close" (click)="removeContacto(i)"></plex-button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Datos de edificios</legend>
                        <div>
                            <div class="row">
                                <div class="col-2">
                                    <plex-button label="Agregar" type="primary btn-sm" icon="hospital-building" (click)="addEdificio()"></plex-button>
                                </div>
                            </div>
                            <div class="row" *ngIf="organizacionModel.edificio">
                                <div class="col-12" *ngFor="let _unEdificio of organizacionModel.edificio; let i=index">
                                    <div class="row list-group-item">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <plex-text label="Descripción:" name="descripcion2-{{i}}" [(ngModel)]="_unEdificio.descripcion"></plex-text>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <br>
                                                    <plex-button label="Borrar" type="danger btn-sm" icon="close" (click)="removeEdificio(i)"></plex-button>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <plex-text label="Detalle de Domicilio:" name="valorDomicilio2-{{i}}" [(ngModel)]="_unEdificio.direccion.valor" placeholder="Ej: Belgrano 1547 - Piso 2 - Departamento 3...."></plex-text>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <plex-select name="localidad22-{{i}}" [(ngModel)]="_unEdificio.direccion.ubicacion.localidad.nombre" [data]="localidadesNeuquen"
                                                                label="Localidad:">
                                                            </plex-select>
                                                        </div>
                                                        <div class="col-4">
                                                            <plex-text label="Código Postal:" name="codigoPosta2-{{i}}" [(ngModel)]="_unEdificio.direccion.codigoPostal" placeholder="Ingrese CP..."></plex-text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="_unEdificio.contacto">
                                                <div class="col-4">
                                                    <plex-select [(ngModel)]="_unEdificio.contacto.tipo" [data]="tipoComunicacion" name="tipo2-{{i}}" placeholder="Seleccione..."
                                                        label="Tipo:">
                                                    </plex-select>
                                                </div>
                                                <div class="col-4">
                                                    <span *ngIf="_unEdificio.contacto.tipo && _unEdificio.contacto.tipo.id">
                                                        <plex-text *ngIf="_unEdificio.contacto.tipo.id !== 'celular'" label="Dato:" [(ngModel)]="_unEdificio.contacto.valor" name="valor3-{{i}}">
                                                        </plex-text>
                                                        <plex-phone label="Numero:" *ngIf="_unEdificio.contacto.tipo.id === 'celular'" [(ngModel)]="_unEdificio.contacto.valor" placeholder="Ej: 2990000000"
                                                            name="valor3-{{i}}">
                                                        </plex-phone>
                                                    </span>
                                                    <span *ngIf="_unEdificio.contacto.tipo && !_unEdificio.contacto.tipo.id">
                                                        <plex-text *ngIf="_unEdificio.contacto.tipo !== 'celular'" label="Dato:" [(ngModel)]="_unEdificio.contacto.valor" name="valor3-{{i}}">
                                                        </plex-text>
                                                        <plex-phone label="Numero:" *ngIf="_unEdificio.contacto.tipo === 'celular'" [(ngModel)]="_unEdificio.contacto.valor" placeholder="Ej: 2990000000"
                                                            name="valor3-{{i}}">
                                                        </plex-phone>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Servicios</legend>

                        <div class="row">
                            <div class="col-6">
                                <plex-select [multiple]="true" name="servicios" (getData)=" getServicios($event)" [(ngModel)]="serviciosSeleccionados" label="Servicios:">
                                </plex-select>
                            </div>
                        </div>

                    </fieldset>

                </plex-box>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-6 text-left">
                <plex-button type="primary" label="Ver listado de camas" (click)="routeCama()">
                </plex-button>
            </div>
            <div class="col-6 text-right">
                <plex-button label="Cancelar" icon="close-circle-outline" type="danger" (click)="onCancel()">
                </plex-button>
                <plex-button label="Guardar" icon="content-save" type="primary" (click)="onSave($event)">
                </plex-button>
            </div>
        </div>
    </footer>
</form>