<plex-layout main="{{showProtocoloDetalle ? ( contextoCache.ocultarPanelLateral ? 0 : 3 ) : 12}}">
    <plex-layout-main *ngIf='contextoCache && !contextoCache.ocultarPanelLateral && contextoCache.modo.nombre !== "recepcionSinTurno" '>

        <filtros-busqueda-protocolo *ngIf="!showProtocoloDetalle" [modo]='contextoCache.modo' (buscarProtocolosEmmiter)="refreshSelection($event)"></filtros-busqueda-protocolo>

        <!-- LISTA DE PROTOCOLOS -->
        <lista-protocolos [protocolos]='protocolos' [modo]='contextoCache.modo' [indiceSeleccionado]='indiceSeleccionado' (seleccionarProtocoloEmitter)='seleccionarProtocolo($event)'
            [showProtocoloDetalle]='showProtocoloDetalle' (edicionDatosCabeceraEmitter)='editarDatosCabecera()'></lista-protocolos>

        <!--VISUALIZACIÓN DE PROTOCOLOS CONTROL -->
        <div *ngIf="!protocolos?.length" class="alert alert-default">
            <i class="mdi mdi-emoticon-sad"></i> No hay protocolos que coincidan con los filtros de búsqueda
        </div>
        <!-- ENCABEZADO -->
        <header *ngIf="!showProtocoloDetalle">
            <div class="clearfix">
                <div class="page-title">
                    <ng-container *ngIf="!showProtocoloDetalle">
                        Laboratorio | {{contextoCache.modo.titulo}}
                    </ng-container>
                </div>
                <nav>
                    <plex-tabs [activeIndex]="accionIndex" (change)="onTabChange($event)" *ngIf="!showProtocoloDetalle">
                        <!-- <plex-tab label="Recepción"></plex-tab> -->
                        <plex-tab label="Auditoría"></plex-tab>
                        <plex-tab label="Carga"></plex-tab>
                        <plex-tab label="Validación"></plex-tab>
                        <plex-tab label="Listado"></plex-tab>
                    </plex-tabs>
                    <!-- <ng-container *ngIf="!showProtocoloDetalle && contextoCache.modo === 'recepcion'">
                        <plex-button label="accion clave" type="warning" label="Paciente sin Turno" (click)="mostrarFomularioPacienteSinTurno()"></plex-button>
                    </ng-container> -->
                </nav>
            </div>
        </header>
    </plex-layout-main>
    <plex-layout-sidebar *ngIf="!showListarProtocolos">
        <header>
            <div class="clearfix row">
                <div class="page-title float-left col">
                    <ng-container *ngIf="showProtocoloDetalle">
                        Laboratorio | {{contextoCache.modo.titulo}}
                    </ng-container>
                </div>

                <ng-container *ngIf="contextoCache.botonesAccion !== 'historicoResultados'">
                    <ng-container *ngIf='contextoCache.modo.nombre === "carga" || contextoCache.modo.nombre === "validacion"' class="col-2">
                        <plex-button position="right" type="warning" label="Auditar" class="mr-3" (click)="volverAControl()"></plex-button>
                    </ng-container>

                    <div class="col d-flex flex-row-reverse" *ngIf="showProtocoloDetalle">
                        <plex-button *ngIf="showBotonAceptarCambiosHeader" position="right" type="success" label="Aceptar" (click)="aceptarCambiosHeader()"></plex-button>
                        <plex-button *ngIf="showBotonAceptarCambiosAuditoria" position="right" type="success" label="Aceptar" (click)="aceptarCambiosAuditoria()"></plex-button>
                        <plex-button position="left" type="warning" (click)="volver()" label="Volver"></plex-button>
                    </div>

                    <ng-container *ngIf='showBotonGuardar'>
                        <ng-container *ngIf='contextoCache.modo.nombre !== "validacion" '>
                            <plex-button position="right" class="float-right mr-1" type="success" label="Guardar"
                                (click)="guardarSolicitud()"></plex-button>
                            <plex-button position="right" class="float-right mr-1" type="success" label="Guardar + CB"
                                (click)="guardarSolicitud()" *ngIf="false"></plex-button>
                        </ng-container>
                        ​
                        <ng-container *ngIf='contextoCache.modo.nombre === "validacion" '>
                            <plex-button position="right" class="float-right mr-1" type="success" label="Validar todos"
                                (click)="guardarSolicitud()"></plex-button>
                            <plex-button position="right" class="float-right mr-1" type="success" label="Validar pendientes"
                                (click)="guardarSolicitud()"></plex-button> ​
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="contextoCache.botonesAccion === 'historicoResultados'">
                    <div class="col d-flex flex-row-reverse" *ngIf="showProtocoloDetalle">
                        <plex-button position="left" type="warning" (click)="salirDeHistoricoResultados()" label="Volver"></plex-button>
                    </div>
                </ng-container>

            </div>
        </header>
        <!-- DETALLE DE PROTOCOLO -->
        <protocolo-detalle *ngIf="showProtocoloDetalle" [protocolo]="protocolo" [indexProtocolo]="indexProtocolo"
            [protocolos]="protocolos" [seleccionPaciente]="seleccionPaciente" (volverAListaControEmit)="volver()"
            [editarListaPracticas]="editarListaPracticas" [busqueda]='busqueda' (edicionDatosCabeceraEmitter)="editarDatosCabecera()"></protocolo-detalle>

    </plex-layout-sidebar>
</plex-layout>
