<div class="row">
    <div class="col">
        <div style="overflow-x: auto;">
            <table *ngIf="diagnosticos.length>0" class="table table-striped table-sm">
                <thead>
                    <!-- <th></th> -->
                    <th>Nombre de la prestación</th>
                    <th>ConceptId de la prestación</th>
                    <th>Total de turnos asignados</th>
                </thead>
                <tbody>
                    <tr *ngFor="let diagnostico of diagnosticos; let i=index" class="hover">
                        <td>
                            {{ diagnostico.nombrePrestacion }}
                        </td>
                        <td>
                            {{ diagnostico.conceptId }}
                        </td>
                        <td>
                            {{ diagnostico.total }}
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>