<div class="row">
    <div class="col">
        <div style="overflow-x: auto;">
            <table *ngIf="diagnosticos.length>0" class="table table-striped table-sm">
                <thead>
                    <!-- <th></th> -->
                    <th>Nombre del paciente</th>
                    <th>Apellido del paciente</th>
                    <th>Documento del paciente</th>
                    <th>Código de prestación</th>
                    <th>Descripcion de prestación</th>
                    <th>Código de auditoria</th>
                    <th>Nombre de auditoria</th>
                    <th>Código cie10</th>
                    <th>Nombre cie10</th>
                    <th>Código Snomed</th>
                    <th>Nombre Snomed</th>
                </thead>
                <tbody>
                    <tr *ngFor="let diagnostico of diagnosticos; let i=index" class="hover">
                        <td>
                            {{ diagnostico.nombrePaciente }}
                        </td>
                        <td>
                            {{ diagnostico.apellidoPaciente }}
                        </td>
                        <td>
                            {{ diagnostico.documentoPaciente }}
                        </td>
                        <td>
                            {{ diagnostico.tipoPrestacion }}
                        </td>
                        <td>
                            {{ diagnostico.descripcionPrestacion }}
                        </td>
                        <td>
                            {{ diagnostico.auditoriaCodigo }}
                        </td>
                        <td>
                            {{ diagnostico.auditoriaNombre }}
                        </td>
                        <td>
                            {{ diagnostico.codProfesionalCie10Codigo }}
                        </td>
                        <td>
                            {{ diagnostico.codrofesionalCie10Nombre }}
                        </td>
                        <td>
                            {{ diagnostico.codProfesionalSnomedCodigo }}
                        </td>

                        <td>
                            {{ diagnostico.codProfesionalSnomedNombre }}
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>