.subcontainer-resumen {
    display: flex;
    flex-direction: row;
    justify-content: center;

    i {
        font-size: 95px !important;
    }

    .texto-resumen {
        width: 100px;
        margin-top: 2%;

        div.numero {
            font-size: 50px !important;
            font-weight: bold !important;
            margin: 0px !important;
        }

        div.texto {
            color: rgb(204, 204, 204) !important;
            font-size: 14px !important;
            padding-right: 30% !important;
        }
    }
}
