<div>
    <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="getCarpetas($event, 'fechaDesde')" name="fechaDesde" label="Desde"
        class="fechas">
    </plex-datetime>
    <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="getCarpetas($event, 'fechaHasta')" name="fechaHasta" label="Hasta"
        class="fechas">
    </plex-datetime>
    
    <plex-select [(ngModel)]="tipoPrestacion" (change)="getCarpetas($event, 'prestaciones')" (getData)="loadPrestaciones($event)"
        name="prestaciones" label="Prestación" ngModelOptions="{standalone: true}">
    </plex-select>

    <plex-select [(ngModel)]="espacioFisico" (change)="getCarpetas($event, 'espacioFisico')" (getData)="loadEspaciosFisicos($event)"
        name="espacioFisico" label="Espacio Físico" ngModelOptions="{standalone: true}">
    </plex-select>

    <plex-select [(ngModel)]="profesional" name="profesional"  (change)="getCarpetas($event, 'profesionales')" (getData)="loadProfesionales($event)" label="Profesional"
        placeholder="Escriba el apellido del Profesional" labelField="apellido + ' ' + nombre" [required]="true">
    </plex-select>
</div>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Responsable</th>
            <th>Ubicación</th>
            <th>Prestación</th>
            <th>Historia Clínica</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let carpeta of carpetas">
        <tr>
            <td>
                {{today | date: 'dd/mm/yyyy'}}
            </td>
            <td>{{carpeta.estado}}</td>
            <td>
                {{ carpeta.datosPrestamo.turno.profesionales | enumerar:['apellido','nombre'] }}
            </td>
            <td>
                {{carpeta.datosPrestamo.turno.espacioFisico?.nombre}}
            </td>
            <td>
                {{ carpeta.datosPrestamo.turno.tipoPrestaciones | enumerar:['term']:'/' }}
            </td>
            <td>
                <b>
                    {{carpeta.numero}} - {{carpeta.datosPrestamo.turno.paciente.apellido}},
                    {{carpeta.datosPrestamo.turno.paciente.nombre}}
                </b>
                <br/> Documento:
                <b>{{carpeta.datosPrestamo.turno.paciente.documento}}</b>
            </td>
            <td *ngIf="carpeta.estado == 'En archivo'">
                <plex-button type="primary" label="Prestar" (click)="prestar(carpeta)">
                </plex-button>
            </td>
            <td *ngIf="carpeta.estado == 'Prestada'">
                <plex-button type="primary" label="Devolver" (click)="devolver(carpeta)">
                </plex-button>
            </td>
        </tr>

    </tbody>
</table>
