<!-- Filtros -->
<div class="row">
    <div class="{{verPrestar || verDevolver ? 'col-6' : 'col-3'}}">
        <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="getCarpetas($event, 'fechaDesde')" name="fechaDesde" label="Desde"
            class="fechas">
        </plex-datetime>
    </div>
    <div class="{{verPrestar || verDevolver ? 'col-6' : 'col-3'}}">
        <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="getCarpetas($event, 'fechaHasta')" name="fechaHasta" label="Hasta"
            class="fechas">
        </plex-datetime>
    </div>
    <div class="{{verPrestar || verDevolver ? 'col-8' : 'col-4'}}">
        <plex-select [(ngModel)]="tipoPrestacion" (change)="getCarpetas($event, 'prestaciones')" (getData)="loadPrestaciones($event)"
            name="prestaciones" label="Prestación" ngModelOptions="{standalone: true}">
        </plex-select>
    </div>
    <div class="{{verPrestar || verDevolver === 1 ? 'col-4' : 'col-2'}} text-right">
        <label>
            <!--Spacer-->&nbsp;</label>
        <plex-button type="default" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
    </div>
</div>
<div class="row" *ngIf="mostrarMasOpciones">
    <div class="col-4">
        <plex-select [(ngModel)]="espacioFisico" (change)="refreshSelection($event,'espacioFisico')" name="espacioFisico" (getData)="loadEspacios($event)"
            label="Espacio Físico" placeholder="Buscar un espacio físico" labelField="nombre + ' - ' + (servicio ? servicio.nombre : '' ) + ' (' + edificio ? edificio.descripcion : '' + ')'"
            ngModelOptions="{standalone: true}">
        </plex-select>
    </div>
    <div class="col-4">
        <plex-select [(ngModel)]="profesional" name="profesional" (change)="getCarpetas($event, 'profesionales')" (getData)="loadProfesionales($event)"
            label="Profesional" placeholder="Escriba el apellido del Profesional" labelField="apellido + ' ' + nombre" [required]="true">
        </plex-select>
    </div>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Responsable</th>
            <th>Ubicación</th>
            <th>Prestación</th>
            <th>Historia Clínica</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let carpeta of carpetas">
        <tr>
            <td>
                {{today | date: 'dd/mm/yyyy'}}
            </td>
            <td>{{carpeta.estado}}</td>
            <td>
                {{ carpeta.datosPrestamo.turno.profesionales | enumerar:['apellido','nombre'] }}
            </td>
            <td>
                {{carpeta.datosPrestamo.turno.espacioFisico?.nombre}}
            </td>
            <td>
                {{ carpeta.datosPrestamo.turno.tipoPrestaciones | enumerar:['term']:'/' }}
            </td>
            <td>
                <b>
                    {{carpeta.numero}} - {{carpeta.datosPrestamo.turno.paciente.apellido}},
                    {{carpeta.datosPrestamo.turno.paciente.nombre}}
                </b>
                <br/> Documento:
                <b>{{carpeta.datosPrestamo.turno.paciente.documento}}</b>
            </td>
            <td *ngIf="carpeta.estado == 'En archivo'">
                <plex-button type="primary" label="Prestar" (click)="prestar(carpeta)">
                </plex-button>
            </td>
            <td *ngIf="carpeta.estado == 'Prestada'">
                <plex-button type="primary" label="Devolver" (click)="devolver(carpeta)">
                </plex-button>
            </td>
        </tr>

    </tbody>
</table>
