<form class="plex-layout ng-untouched ng-pristine ng-valid" novalidate="">
    <section>
        <div class="row">
            <div [ngClass]="cssLayout">
                <plex-box>
                    <div class="plex-box">
                        <header>
                            <div class="clearfix">
                                <div class="page-title float-left">Solicitudes de Carpetas</div>
                                <div class="float-right">
                                    <span>
                                        <plex-button icon="mdi mdi-printer" title="Imprimir solicitudes"
                                                     (click)="showImprimirCarpetas()">
                                        </plex-button>
                                    </span>
                                    <span>
                                        <plex-button type="primary" icon="mdi mdi-plus" title="Agregar solicitud manual"
                                                     (click)="showSolicitudManual()">
                                        </plex-button>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <plex-datetime type="date" [(ngModel)]="fechaDesde"
                                                   (change)="getCarpetas($event, 'fechaDesde')" name="fechaDesde"
                                                   label="Desde" class="fechas">
                                    </plex-datetime>
                                </div>
                                <div class="col-3">
                                    <plex-datetime type="date" [(ngModel)]="fechaHasta"
                                                   (change)="getCarpetas($event, 'fechaHasta')" name="fechaHasta"
                                                   label="Hasta" class="fechas">
                                    </plex-datetime>
                                </div>
                                <div class="col-6" (click)="toogleSort()" style="margin-top: 45px;">
                                    <i *ngIf="sortDescending" class="mdi mdi-checkbox-marked">
                                        Order Nro. Carpeta Descendente</i>
                                    <i *ngIf="!sortDescending" class="mdi mdi-checkbox-blank-outline">
                                        Order Nro. Carpeta Descendente</i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <plex-select [(ngModel)]="tipoPrestacion"
                                                 (change)="getCarpetas($event, 'prestaciones')"
                                                 (getData)="loadPrestaciones($event)" name="prestaciones"
                                                 label="Prestación" placeholder="Buscar una prestación"
                                                 ngModelOptions="{standalone: true}">
                                    </plex-select>
                                </div>
                                <div class="col-6">
                                    <plex-select [(ngModel)]="profesional" name="profesional"
                                                 (change)="getCarpetas($event, 'profesionales')"
                                                 (getData)="loadProfesionales($event)" label="Profesional"
                                                 placeholder="Escriba el apellido del Profesional"
                                                 labelField="apellido + ' ' + nombre">
                                    </plex-select>
                                </div>
                            </div>
                        </header>
                        <div class="plex-box-content">

                            <plex-list [striped]="true" [selectable]="true">
                                <plex-heading>
                                    <plex-bool type="checkbox" checkbox (click)="switchMarcarTodas()">
                                        <!-- <i *ngIf="marcarTodas" class="mdi mdi-checkbox-marked"></i>
                                        <i *ngIf="!marcarTodas" class="mdi mdi-checkbox-blank-outline"></i> -->
                                    </plex-bool>
                                    <b label>Fecha de solicitud</b>
                                    <b label>Paciente</b>
                                    <b label>Prestación</b>
                                    <b label>Responsables</b>
                                    <b label>Observaciones</b>
                                    <b label>Actualización de HUDS</b>
                                    <b badge>Tipo/Estado</b>
                                    <b button></b>
                                </plex-heading>
                                <plex-item *ngFor="let carpeta of carpetas; let i=index"
                                           [ngClass]="{'bg-inverse text-white': estaSeleccionada(carpeta)}">
                                    <plex-bool (click)="switchSeleccionCarpeta(carpeta)">
                                        <!-- <i *ngIf="carpeta.tipo !== 'Automatica'"
                                            class="mdi mdi-checkbox-blank-outline disabled"></i> -->
                                    </plex-bool>
                                    <plex-label>
                                        {{ carpeta.fecha | fecha }}
                                    </plex-label>
                                    <plex-badge type="{{carpeta.tipo === 'Automatica' ? 'success': 'info'}}">
                                        carpeta
                                        {{ carpeta.tipo === 'Automatica' ? 'Automática': 'Manual' }}
                                        {{ carpeta.numero ? '| nro. ' + carpeta.numero : '' }}
                                    </plex-badge>
                                    <plex-button type="primary" size="sm" icon="mdi mdi-download"
                                                 title="Descargar carpeta"
                                                 (click)="descargar(carpeta.ultimoCDA[0].adjuntos)">
                                    </plex-button>
                                    <plex-label>
                                        <span>
                                            {{ carpeta.paciente.apellido }}, {{ carpeta.paciente.nombre }}
                                        </span>
                                        <span *ngIf="carpeta?.paciente?.documento"> /
                                            {{ carpeta.paciente.documento }}</span>
                                    </plex-label>
                                    <!-- Prestacion -->
                                    <plex-label *ngIf="carpeta.datosPrestamo?.turno">
                                        {{carpeta.datosPrestamo.turno.tipoPrestacion.term}}
                                    </plex-label>
                                    <plex-label *ngIf="carpeta.datosSolicitudManual">
                                        {{carpeta.datosSolicitudManual.prestacion?.term}}
                                    </plex-label>
                                    <!-- Profesional -->
                                    <plex-label *ngIf="carpeta.datosPrestamo?.turno">
                                        {{carpeta.datosPrestamo.turno.profesionales |
                                            enumerar:['apellido','nombre'] }}
                                    </plex-label>
                                    <plex-label *ngIf="carpeta.datosSolicitudManual">
                                        {{carpeta.datosSolicitudManual.profesional ?
                                            carpeta.datosSolicitudManual.profesional.nombre + ', ' +
                                            carpeta.datosSolicitudManual.profesional.apellido
                                            : ''}}
                                    </plex-label>
                                    <!-- Observaciones -->
                                    <plex-label *ngIf="carpeta.datosPrestamo">
                                        {{carpeta.datosPrestamo.observaciones}}
                                    </plex-label>
                                    <plex-label *ngIf="carpeta.datosSolicitudManual">
                                        {{carpeta.datosSolicitudManual.observaciones}}
                                    </plex-label>
                                    <!-- Fecha de Actualización de la HUDS digitalizada -->
                                    <plex-label>
                                        <ng-container *ngIf="carpeta.ultimoCDA[0]">
                                            <span>{{carpeta.ultimoCDA[0].fecha | fecha}}</span> /
                                            <span>{{carpeta.ultimoCDA[0].profesional.apellido}}
                                                {{carpeta.ultimoCDA[0].profesional.nombre}}</span>
                                        </ng-container>
                                    </plex-label>
                                    <!-- Boton para subir HUDS digitalizada -->
                                    <upload-file size="sm" label="Adjuntar HUDS" [extensiones]="['pdf']"
                                                 (onUpload)="onUpload($event, carpeta)">
                                        <span *ngIf="errorExt===i">
                                            <span class="badge-danger">Archivo inválido. Solo se admite PDF</span>
                                        </span>
                                    </upload-file>
                                    <!-- Estado -->
                                    <plex-button *ngIf="carpeta.estado == 'En archivo'" size="sm" type="primary"
                                                 label="Prestar" (click)="prestar(carpeta)"
                                                 [disabled]="carpetasSeleccionadas.length > 0">
                                    </plex-button>
                                    <plex-badge *ngIf="carpeta.estado == 'Prestada'" type="warning">Prestada
                                    </plex-badge>
                                </plex-item>
                            </plex-list>
                        </div>
                    </div>
                </plex-box>
            </div>
            <div class="col-3" *ngIf="verPrestar">
                <div type="info">
                    <app-prestar-hc [prestar]="carpetaSeleccionada" (cancelPrestarEmit)="onCancelPrestar($event)"
                                    (carpetaPrestadaEmit)="onCarpeta($event)"></app-prestar-hc>
                </div>
            </div>
            <div class="col-3" *ngIf="verSolicitudManual">
                <div type="info">
                    <solicitud-manual-hc [pacienteSeleccionado]="paciente"
                                         (cancelSolicitudManualEmit)="onCancelSolicitar($event)"
                                         (nuevaCarpetaManualEmit)="onCarpeta($event)"></solicitud-manual-hc>
                </div>
            </div>
            <div class="col-3" *ngIf="verNuevaCarpeta">
                <div type="info">
                    <section>
                        <plex-box>
                            <legend>
                                <div class="clearfix">
                                    <span class="float-left">Paciente {{paciente.apellido}},
                                        {{paciente.nombre}}</span>
                                </div>
                                <hr>
                            </legend>
                            <carpeta-paciente [turnoSeleccionado]="null" [pacienteSeleccionado]="paciente"
                                              (guardarCarpetaEmit)="afterComponenteCarpeta($event)"
                                              (cancelarCarpetaEmit)="afterComponenteCarpeta($event) ">
                            </carpeta-paciente>
                            <br>
                            <footer>
                                <div class="text-right">
                                    <plex-button label="Cerrar" type="danger" (click)="afterComponenteCarpeta(false)">
                                    </plex-button>
                                </div>
                            </footer>
                        </plex-box>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer *ngIf="carpetasSeleccionadas.length > 0 && !pacientesSearch">
        <button type="primary" class="btn btn-primary" label="Prestar Carpetas" (click)="prestarCarpetas()">Prestar
            Carpetas</button>
        <span class="badge-warning float-right" *ngIf="mostrarMsjMultiCarpeta">
            Hay solicitudes de carpetas sin seleccionar. No se puede prestar carpetas para el mismo paciente y la misma
            fecha.
        </span>
    </footer>
    <!-- Deprecado, no se implementa paciente buscar hasta corregir el funcionamiento del componente. -->
    <!-- <pacientesSearch *ngIf="pacientesSearch" (selected)="afterSearch($event)" [mostrarCancelar]="true" (cancel)="cancelarPacienteSearch()"
        [bloquearCreate]="true"></pacientesSearch> -->
</form>