<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Alta de Pacientes</div>
        <div class="panel-body">
            <form [formGroup]="createForm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre...">
                            <label class="control-label text-danger" *ngIf="!createForm.controls.nombre.valid">
                                Este campo es obligatorio!</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Apellido:</label>
                            <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese apellido...">
                            <label class="control-label text-danger" *ngIf="!createForm.controls.apellido.valid">
                                Este campo es obligatorio!</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Alias:</label>
                            <input type="text" class="form-control" formControlName="alias" placeholder="Ingrese alias...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label> Documento: </label>
                        <input type="number" class="form-control" formControlName="documento" placeholder="Ingresar DNI...">
                    </div>
                    <div class="col-sm-4">
                        <label> Fecha de Nacimiento: </label>
                        <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Ingresar Fecha de Nacimiento...">
                    </div>
                    <div class="col-sm-4">
                        <label> Estado: </label>
                        <select class="form-control" formControlName="estado">
                            <option *ngFor="let estado of estados" >{{estado}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label> Sexo: </label>
                        <select class="form-control" formControlName="sexo">
                            <option *ngFor="let sexo of sexos" >{{sexo}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label> Genero: </label>
                        <select class="form-control" formControlName="genero">
                            <option *ngFor="let genero of generos" >{{genero}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label> Estado Civil: </label>
                        <select class="form-control" formControlName="estadoCivil">
                            <option *ngFor="let estCivil of estadosCiviles" >{{estCivil}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="panel panel-default" formArrayName="contacto">
                    <div class="panel-heading"> Contactos </div>
                    <div class="panel-body">
                        <div class="list-group" *ngFor="let co of createForm.controls.contacto.controls; let i=index">
                            <div class="row list-group-item" [formGroupName]="i">
                                <span class="badge" (click)="removeContacto(i)">x</span>
                                <div class="col-sm-4">
                                    <label> Tipo: </label>
                                    <select class="form-control" formControlName="tipo">
                                        <option *ngFor="let tipo of tiposContactos" >{{tipo}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label> Dato: </label>
                                    <input type="text" class="form-control" formControlName="valor">
                                </div>
                                <div class="col-sm-2">
                                    <label> Orden: </label>
                                    <input type="number" class="form-control" formControlName="ranking">
                                </div>
                                <div class="form-group col-sm-2">
                                    <div class="checkbox">
                                        <label><input type="checkbox" formControlName="activo" checked="checked">Activo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <a (click)="addContacto()" style="cursor: default">Agregar Contacto +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="panel panel-default" formArrayName="direccion">
                    <div class="panel-heading"> Dirección </div>
                    <div class="panel-body" *ngFor="let dir of createForm.controls.direccion.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label> Detalle de Domicilio: </label>
                                    <input type="text" class="form-control" formControlName="valor" placeholder="Ej: Belgrano 1547 - Piso 2 - Departamento 3....">
                                </div>
                            </div>
                            <div formGroupName="ubicacion">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label> País: </label>
                                        <select class="form-control" formControlName="pais" #pais (change)="getProvincias(pais.selectedIndex)">
                                        <option [ngValue]="">Seleccione...</option>
                                        <option *ngFor="let pais of paises" [ngValue]="pais.nombre">{{pais.nombre}}</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label> Provincia: </label>
                                        <select class="form-control" formControlName="provincia" #provincia (change)="getLocalidades(provincia.selectedIndex)"> 
                                        <option *ngFor="let provincia of provincias" [ngValue]="provincia.nombre">{{provincia.nombre}}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label> Localidad: </label>
                                        <select class="form-control" formControlName="localidad" #localidad (change)="getBarrios(localidad.selectedIndex)">
                                        <option *ngFor="let localidad of localidades" [ngValue]="localidad.nombre">{{localidad.nombre}}</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label> Barrio: </label>
                                        <select class="form-control" formControlName="barrio"> 
                                        <option *ngFor="let barrio of barrios" [ngValue]="barrio">{{barrio.nombre}}</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label> Codigo Postal: </label>
                                    <input type="text" class="form-control" formControlName="codigoPostal" placeholder="Ingrese CP...">
                                </div>
                                <div class="col-sm-4">
                                    <label> Latitud: </label>
                                    <input type="number" class="form-control" formControlName="Latitud" placeholder="Ej: -38.945259">
                                </div>
                                <div class="col-sm-4">
                                    <label> Longitud: </label>
                                    <input type="number" class="form-control" formControlName="Longitud" placeholder="Ej: -68.078805">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label> Codigo Postal: </label>
                                    <input type="text" class="form-control" formControlName="codigoPostal" placeholder="Ingrese CP...">
                                </div>
                                <div class="col-sm-4">
                                    <label> Latitud: </label>
                                    <input type="number" class="form-control" formControlName="Latitud" placeholder="Ej: -38.945259">
                                </div>
                                <div class="col-sm-4">
                                    <label> Longitud: </label>
                                    <input type="number" class="form-control" formControlName="Longitud" placeholder="Ej: -68.078805">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" type="submit" (click)="onSave(createForm.value, createForm.valid)">Guardar</button>
                        <button class="btn btn-default" type="submit" (click)="onCancel()">Cancelar</button></div>
                </div>
            </form>
        </div>
    </div>
</div>