<div class="row">
    <!--Panel central-->
    <div class="col">
        <plex-box type="primary">
            <header>
                <div class="page-title">Datos de obra social</div>
            </header>
            <p>Consultas de afiliación a obras sociales de salud.</p>
            <div class="buscador">
                <plex-text [(ngModel)]="searchTerm" name="searchTerm" (change)="buscar()" placeholder="Buscar por DNI" [autoFocus]="autofocus"
                    prefix="<i class='mdi mdi-account-search'></i>"></plex-text>
            </div>
            <!--Loader-->
            <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>
            <!-- Error paciente no encontrado -->
            <div *ngIf="usuarios && !usuarios.length && searchTerm && !loading && !errorSearchTerm" class="alert alert-danger">
                <i class="mdi mdi-account-alert"></i> Paciente no encontrado.
            </div>
            <!-- Error por ingreso de caracteres -->
            <div *ngIf="errorSearchTerm && searchTerm && !loading" class="alert alert-danger">
                <i class="mdi mdi-account-alert"></i> Este campo sólo admite caracteres numéricos.
            </div>
            <!--Tabla de resultados por SimpleQuery -->
            <table *ngIf="usuarios && usuarios.length && !errorSearchTerm" class="table table-striped">
                <thead>
                    <tr>
                        <th>Apellido y nombre</th>
                        <th>DNI</th>
                        <th>Obra Social</th>
                        <th>Transmite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios  | textFilter:textoLibre ; let i=index">
                        <td *ngIf="usuario.nombre; else sinDatos">{{usuario.nombre}}</td>
                        <td *ngIf="usuario.dni; else sinDatos">
                            {{usuario.dni}}
                        </td>
                        <td *ngIf="usuario.financiador; else programaIC">
                            {{usuario.financiador}}
                        </td>
                        <td *ngIf="usuario.transmite && usuario.transmite == 'S'; else noTransmite">
                            Si
                        </td>
                        <ng-template #sinDatos>
                            <td>SIN DATOS</td>
                        </ng-template>
                        <ng-template #programaIC>
                            <td>Programa Incluir Salud</td>
                        </ng-template>
                        <ng-template #noTransmite>
                            <td>No</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </plex-box>
    </div>
</div>