<plex-layout [main]="idInternacionSelected ? 8: 12" [foco]="idInternacionSelected ? 'sidebar': 'main'">
    <plex-layout-main *ngIf="mainView$ | async as mainView">
        <header *ngIf="mainView === 'principal'" class="mb-0 border-0">
            <plex-title titulo="LISTADO DE INTERNACION">
                <plex-button label="VOLVER" type="danger" (click)="volver()"></plex-button>
            </plex-title>
            <app-filtros-listado-capas></app-filtros-listado-capas>
        </header>

        <div *ngIf="listadoInternacionCapasService.missingFilters$ | async" justify="center" class="mt-5">
            <plex-label class="flex-column" icon="magnify" type="info" size="xl" direction="column"
                        titulo="No hay resultados"
                        subtitulo="Debe ingresar un rango válido de fechas de ingreso o egreso">
            </plex-label>
        </div>
        <ng-container *ngIf="!(listadoInternacionCapasService.missingFilters$ | async) && mainView === 'principal'">
            <div *ngIf="!(listaInternacion$ | async)?.length" justify="center" class="mt-5">
                <plex-label class="flex-column" icon="magnify" type="info" size="xl" direction="column"
                            titulo="No hay resultados"
                            subtitulo="No hay resultados que coincidan con los filtros de búsqueda">
                </plex-label>
            </div>
            <plex-table [columns]="columns" #table="plTable" *ngIf="(listaInternacion$ | async)?.length">
                <plex-title titulo="pacientes" size="md">
                    <plex-table-columns>
                    </plex-table-columns>
                </plex-title>
                <tr *ngFor="let internacion of (listaInternacion$ | plSort:table | async)" class="selectable"
                    [class.selected]="internacion.id === idInternacionSelected"
                    (click)="seleccionarInternacion(internacion)">
                    <td *plTableCol="'nombre'">
                        {{internacion.paciente | nombre }}
                    </td>
                    <td *plTableCol="'documento'">
                        {{ internacion.paciente | documento }}
                    </td>
                    <td *plTableCol="'diagnostico'">
                        <span *ngIf="internacion.idPrestacion?.ejecucion?.registros[0]?.valor?.informeIngreso?.motivo">
                            {{ internacion.idPrestacion?.ejecucion?.registros[0]?.valor?.informeIngreso?.motivo}}
                        </span>
                    </td>
                    <td *plTableCol="'fechaIngreso'">
                        {{ internacion.fechaIngreso | fecha }}
                        {{ internacion.fechaIngreso | hora }}
                    </td>
                    <td *plTableCol="'fechaEgreso'">
                        <span *ngIf="internacion.fechaEgreso">
                            {{ internacion.fechaEgreso | fecha }}
                            {{ internacion.fechaEgreso | hora }}
                        </span>
                    </td>
                    <td *plTableCol="'obraSocial'">
                        {{ internacion.idPrestacion?.paciente?.obraSocial?.nombre }}
                    </td>
                    <td *plTableCol="'estado'">
                        {{internacion.idPrestacion?.estadoActual?.tipo }}
                    </td>
                    <td *plTableCol="'informe'">
                        <plex-badge *ngIf="internacion.idPrestacion" type="success"> completo</plex-badge>
                        <plex-badge *ngIf="!internacion.idPrestacion" type="danger"> incompleto</plex-badge>
                    </td>
                </tr>
            </plex-table>
        </ng-container>

        <ng-container *ngIf="mainView !== 'principal'">
            <vista-prestacion [idPrestacion]="mainView.id">
                <plex-button type="danger" size="sm" icon="close" (click)="mapaCamasService.resetView()"></plex-button>
            </vista-prestacion>
        </ng-container>
    </plex-layout-main>
    <plex-layout-sidebar type="invert" *ngIf="idInternacionSelected">
        <plex-title titulo="DETALLES" size="md">
            <plex-button icon="close" type="danger" size="sm" (click)="cancelar()">
            </plex-button>
        </plex-title>
        <app-internacion-detalle *ngIf="accion === 'verDetalle' || accion === 'editando'" (accion)="onAccion($event)">
        </app-internacion-detalle>
        <app-nuevo-registro-salud *ngIf="accion === 'nuevo-registro'">
            <plex-button title="Volver" icon="arrow-left" type="danger" size="sm" (click)="onAccion(null)">
            </plex-button>
        </app-nuevo-registro-salud>

    </plex-layout-sidebar>
</plex-layout>