<div class="col-sm-12" *ngIf="!showcreate && !showupdate">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Establecimientos</div>
        <div class="panel-body">
            <form [formGroup]="searchForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label"> Cod. SISA: </label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" formControlName="codigoSisa" placeholder="Ingresar código...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre...">
                    </div>
                </div>
            </form>

            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="button" (click)="showcreate = !showcreate" value="Nuevo Establecimiento">
                </div>
            </div>

            <div class="clear"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo Sisa</th>
                        <th>Nombre</th>
                        <th>Complejidad</th>
                        <th>Calle</th>
                        <th>Numero</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let establecimiento of establecimientos">
                        <td>{{establecimiento.codigo.sisa}}</td>
                        <td>{{establecimiento.nombre}}</td>
                        <td>{{establecimiento.nivelComplejidad}}</td>
                        <td>{{establecimiento.domicilio.calle}}</td>
                        <td>{{establecimiento.domicilio.numero}}</td>
                        <td style="width:20px;"><button class="btn btn-primary" (click)="onEdit(establecimiento)"><i class="glyphicon glyphicon-pencil"></i>Actualizar</button></td>
                        <td style="width:20px;"><button class="btn btn-danger" (click)="onDisable(establecimiento)"><i class="glyphicon glyphicon-trash"></i>Borrar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="showcreate">
    <div class="panel panel-default">
        <div class="clear"></div>
        <establecimiento-create (data)='onReturn($event)'></establecimiento-create>

    </div>
</div>

<div class="col-sm-12" *ngIf="showupdate">
    <div class="panel panel-default">
        <div class="clear"></div>
        <establecimiento-update [selectedEst]="selectedEst" (data)='onReturn($event)'></establecimiento-update>

    </div>
</div>