@import '../variables';

$rotate: -90deg;

.rup-card {
    &:not(.mini) {
        border: 2px solid #ccc;
    }

    a[name] {
        margin: 0;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: 200ms all;
    -webkit-transition: 200ms all;

    &.mini {
        margin-bottom: 2px;

        .rup-header {
            .icon-rup {
                border-right: 2px solid #ccc;
            }

            .actions {
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }

            .rup-border {
                width: 100%;
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }
        }

        &:hover {
            background: #eee;
        }

        .rup-border {
            &:hover {
                background: #eee;
                border-right: 2px solid $blue;
                border-bottom: 2px solid $blue;
                border-top: 2px solid $blue;
            }
        }

        @each $tag,
        $color in $rup_colors {
            .rup-border-#{$tag} {
                &:hover {
                    background: #eee;
                    border-right: 2px solid $color;
                    border-bottom: 2px solid $color;
                    border-top: 2px solid $color;
                }
            }

            &.#{$tag} {

                &:hover,
                &.active {
                    box-shadow: 1px 1px 20px 1px rgba($color, 0.22);

                    .rup-header {
                        .icon-rup {
                            background: $color;

                            i {
                                color: white;
                            }
                        }
                    }
                }

                .rup-header {
                    .icon-rup {
                        border: 2px solid $color;
                        background: white;

                        i {
                            color: $color;
                        }
                    }
                }
            }
        }
    }

    @each $tag,
    $color in $rup_colors {
        &.#{$tag}:not(.mini) {
            &:hover {
                border: 2px solid $color;
                box-shadow: 1px 1px 20px 1px rgba($color, 0.22);
            }

            >.rup-header,
            >.rup-header .icon-rup,
            .rup-body .legend,
            .rup-footer .type {
                background: $color !important;
            }

            >.rup-header .icon-rup {
                border-bottom: 1px solid $color;
                background: $color !important;
                mix-blend-mode: hard-light;
            }
        }
    }

    .rup-header {
        text-transform: capitalize;
        display: flex;

        .icon-rup,
        .title,
        .actions {
            padding: 5px;
        }

        .btn-icon-rup {
            line-height: 1.3em;
        }

        .icon-rup {
            font-size: 1.2rem;
            width: 55px;
            text-align: center;

            i {
                color: white;
                font-size: 2.5rem;
                line-height: 30px;
            }
        }

        .title {
            font-size: 1.3em;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            background: white;
            font-size: 1rem;
            font-weight: 600;
            padding: 10px 20px;
            display: inline-grid;

            .vinculadoCon {
                display: inline-flex;
            }
        }

        .actions {
            background: white;
            margin-left: auto;

            .btn {
                margin: 0 5px;
            }

            .btn:first-child {
                margin-right: 0;
            }
        }
    }

    .rup-body {
        display: flex;
        min-height: 115px;

        .legend {
            padding-bottom: 10px;
            font-size: 1.2rem;
            width: 55px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            span {
                display: block;
                text-transform: uppercase;
                -ms-transform: rotate($rotate);
                -moz-transform: rotate($rotate);
                -webkit-transform: rotate($rotate);
                transform: rotate($rotate);
                font-size: 0.9rem;
                margin-bottom: 45px;
                color: white;
                min-width: 120px;
                width: 180px;
            }
        }

        .content {
            margin: 0;
            padding: 10px 20px;
            flex: 1;
            border-top: 1px solid #666;
            height: 100%;
        }
    }

    .rup-footer {
        padding: 0;
        display: flex;

        .type {
            width: 55px;
        }
    }

    &:hover {
        .rup-header {
            .rup-icon {
                i {
                    transition: 200ms all;
                    -webkit-transition: 200ms all;
                }
            }
        }
    }
}

// Para resumen de Epicrisis
.rup-clear {

    @each $tag,
    $color in $rup_colors {
        &.#{$tag}:not(.mini) {
            border: 0;

            &:hover {
                border: 0;
            }

            >.rup-header,
            >.rup-header .icon-rup,
            .rup-body .legend,
            .rup-footer .type {
                background: transparent !important;
                color: white;
            }

            >.rup-header .icon-rup {
                border-bottom: 1px solid $color;
                background: transparent !important;
            }
        }
    }

    .rup-card:not(.mini) {
        border: 0;
    }

    .rup-header {
        text-transform: capitalize;
        display: flex;

        .icon-rup,
        .title,
        .actions {
            padding: 5px;
        }

        .btn-icon-rup {
            line-height: 1.3em;
        }

        .icon-rup {
            font-size: 1.2rem;
            width: 55px;
            text-align: center;
            display: none;

            i {
                color: $brand-primary;
                font-size: 2.5rem;
                line-height: 30px;
            }
        }
    }

    .rup-border {
        &:hover {
            background: #eee;
            border: 0;
        }
    }
}


// TEMP
.metadato.fundacional {
    .legend {
        background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px) !important;
    }
}

.calificador {
    .legend {
        background: repeating-linear-gradient(45deg, #C70039, #C70039 10px, #36131b 10px, #36131b 20px) !important;
    }
}

.text-secondary {
    color: #818182 !important;
}

/* drag and drop */

.drag-handle {
    cursor: -webkit-grab;
    color: white;
}

.drag-over-border {
    border: $red dashed 2px;
}

.droppable.drag-target-border,
.drag-target-border {
    border: $dark-grey dashed 2px;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;

    p {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
}

.spin-in::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms;
}

.spin-out::before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 200ms;
}

.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;

    .drop-posicion-hover {
        border: 2px dashed $dark-grey;
    }
}

/* fin drag & drop */

/* elemento rup solo lectura */

.readonly {
    font-size: 16px;

    span {
        display: block;
        font-weight: normal;
        color: #818182;
        font-size: 14px;
    }
}

/* fin elemento rup solo lectura */

// BUTTONS
@each $tag,
$color in $rup_colors {
    .btn-#{$tag} {
        color: $color;
        border-color: $color;
        background: white;
    }

    .btn-#{$tag}:hover,
    .btn-#{$tag}:focus,
    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        // color: white;
        // border-color: $hallazgos;
        color: initial;
    }

    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        color: white;
        background-color: $color;
        background-image: none;
    }

    .btn-#{$tag}.disabled,
    .btn-#{$tag}[disabled] {
        background-color: #eee;
        border-color: #ccc;
        color: #ccc;
    }
}

// BADGES
@each $tag,
$color in $rup_colors {
    .badge-#{$tag} {
        font-weight: normal;
        text-transform: uppercase;
        color: $color;
        border: 1px solid $color;

        &:focus {
            outline: 0;
        }

        &.active {
            background-color: $color;
            mix-blend-mode: hard-light;
        }
    }
}


// ejemplo resultado: .semantic-badge hallazgo > .icon-rup {}
@each $tag,
$color in $rup_colors {
    .semantic-badge-#{$tag} {
        i {
            border-bottom: 1px solid $color;
            color: white;
            background: $color !important;
            mix-blend-mode: hard-light;
            // padding-top: 3px;
            // padding-bottom: 2px;
            padding: 3px 3px 2px;
        }

        i:hover {
            border: 2px solid $color;
            box-shadow: 1px 1px 20px 1px rgba($color, 0.22);
        }
    }

    .semantic-text-#{$tag} {
        color: $color;
    }

    .semantic-border-#{$tag} {
        border-color: $color;
    }
}

.input-group-addon {
    input {
        text-align: right;
    }
}

.form-group {
    &>label {
        margin-bottom: 0 !important;
    }
}

.indicacion-default {
    textarea {
        height: 108px !important;
    }
}

.anteriores {
    width: 100%;

    div {
        border: 1px solid #aaa;
    }
}

.menu-left {
    // display: inline-flex;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid;
}

.menu-right {
    // display: inline-flex;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid;

}

// Debería ser global (Plex)
// .bg-inverse {
//     background-color: #002738 !important;
// }


// VISTA HUDS

@mixin grid-columnas($cols: (1fr 1fr)) {
    display: grid;
    grid-template-columns: $cols;
    grid-column-gap: 40px;

    .concepto {
        display: grid;
        grid-template-columns: .5fr;
        font-size: 1.75rem;
        border-bottom: 2px solid gray;
        margin-bottom: 15px;
        align-items: flex-end;
        height: 75px;

        h4 {
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }

    form {
        border: 0;
    }
}

@mixin grid-columna {

    .prestacion-offset {
        display: flex;
        justify-content: space-between;
        grid-column: 1/2;
    }

    .prestacion-offset.titulo-concepto {
        flex-direction: column;
        align-items: flex-start;
    }

    div:not(:first-of-type) {
        &:not(.medicamento) &:not(.col-12) &:not(.col-6) &:not(.diente-container) {
            display: grid;
            grid-template-columns: 1fr .25fr;

            div:nth-child(2) {
                display: flex;
                // justify-content: center;
            }
        }
    }

    .columna-completa {
        grid-column: 1/3 !important;
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr !important;
        margin-bottom: 10px;

        .relaciones,
        .adjuntos {
            grid-column: 1/3;
        }

        .adjuntos {
            border-bottom: 1px solid $brand-primary;
            height: 35px;

            .badge {
                height: 32px !important;
            }
        }

    }

    .divisor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid gray;

    }

    .datos-prestacion {
        display: flex;
        align-content: center;
        padding-left: 4px;

        h5 {
            font-size: 1.5rem;
        }

        div {
            display: flex;

        }
    }

    .borde-datos {
        border-left: 2px solid gray;
    }
}

@mixin grid-columna-datos {
    .columna-datos {
        grid-column: 1/3;
        border-bottom: 2px solid darkgray;

        span {
            font-size: 1rem;
        }

        &.no-border {
            border-bottom: 0;
        }
    }
}

@mixin fix-tab-space {
    padding: 10px;
    position: relative;
    top: -1px;
    z-index: 0 !important;

    form {
        border: none;
    }
}

.solo-valores-grid.hallazgos {

    @include grid-columnas();

    .columna {

        @include grid-columna();

        .evolucion {
            grid-column: 1/2;
        }

        .nav-fecha {
            align-items: center;
            height: 30px;
        }

        .text-black-50 {
            color: #eee !important;
        }
    }

    @include grid-columna-datos();

    .badge {
        font-size: 1rem !important;
    }
}

.solo-valores-grid.hallazgos,
.solo-valores-grid.cda,
.solo-valores-grid.procedimientos,
.solo-valores-grid.prestaciones {
    @include fix-tab-space();
}

.solo-valores-grid.procedimientos {

    @include grid-columnas();

    .columna {
        @include grid-columna();
    }

    @include grid-columna-datos();

    .badge {
        font-size: 1rem !important;
    }

}

.solo-valores-grid.odontograma {

    @include grid-columnas();

    .columna {
        @include grid-columna();
    }

    @include grid-columna-datos();

    .badge {
        font-size: 1rem !important;
    }

}



observaciones {
    form {
        border: 0;
    }
}

.nav-item-plan {
    background-color: white;
    color: $solicitud;

    a.active {
        background-color: $solicitud !important;
        color: white !important;
    }
}