@import '../variables';
// TODO: Crear paquete NPM con las fonts
@import '../../assets/font.css';
.rup-card {
    width: 100%;
    display: flex;
    // border: 2px solid #ccc;
    margin-bottom: 10px;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    &.mini {
        margin-bottom: 2px;
        .rup-content {
            .header {
                padding: 5px;
                border-bottom: 0 none;
                .title {
                    font-size: 0.75rem;
                }
            }
        }
        &:hover {
            .rup-content {
                border-right: 2px solid $blue;
                border-bottom: 2px solid $blue;
                border-top: 2px solid $blue;
                //     transition: transform 300ms;
                //     transform: scale(1.01);
                //     padding-left: 10px;
            }
        }
        @each $tag,
        $color in $rup_colors {
            &.#{$tag} {
                &:hover {
                    .type {
                        background: $color;
                        i {
                            color: white;
                        }
                    }
                }
                &.active {
                    border: 2px solid $color;
                }
                .type {
                    border: 2px solid $color;
                    color: $color;
                    background: white;
                    i {
                        color: $color;
                    }
                }
            }
        }
    }
    @each $tag,
    $color in $rup_colors {
        &.#{$tag} {
            // &:hover,
            // &.active {
            //     border: 2px solid $color;
            // }
            &:hover {
                .rup-content {
                    border-right: 2px solid $color;
                    border-bottom: 2px solid $color;
                    border-top: 2px solid $color;
                }
            }
            .type {
                background: $color;
            }
        }
    }
    .type {
        padding: 5px;
        font-size: 1.2rem;
        width: 40px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: white;
            font-size: 2rem;
            line-height: 30px;
        }
    }
    .rup-content {
        margin: 0;
        width: 100%;
        border-right: 2px solid #ccc;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        .header {
            padding: 5px 15px;
            text-transform: capitalize;
            border-bottom: 1px solid #ccc;
            .title {
                display: inline-flex;
                font-size: 1.3em;
            }
            .actions {
                float: right !important;
                .btn {
                    margin: 0 5px;
                }
            }
        }
        .rup-body {
            padding: 15px;
        }
        .rup-footer {
            padding: 5px 15px;
        }
    }
    &:hover {
        .type {
            // transition: transform 300ms;
            // transform: scale(1.01);
            // padding-left: 10px;
            i {
                transition: 200ms all;
                -webkit-transition: 200ms all;
            }
        }
    }
}

.text-secondary {
    color: #818182 !important;
}


/* drag and drop */

$rotate: -90deg;
.drag-handle {
    cursor: -webkit-grab;
    color: white;
    .legend {
        text-transform: uppercase;
        float: left;
        display: inline-flex;
        -ms-transform: rotate($rotate);
        -moz-transform: rotate($rotate);
        -webkit-transform: rotate($rotate);
        transform: rotate($rotate);
        // -ms-transform-origin: left top 0;
        // -moz-transform-origin: left top 0;
        // -webkit-transform-origin: left top 0;
        // transform-origin: left top 0;
        font-size: 0.9rem;
    }
}

.drag-over-border {
    border: $red dashed 2px;
}

.droppable.drag-target-border,
.drag-target-border {
    border: $dark-grey dashed 2px;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;
    p {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
}

.spin::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms;
}

.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;
    .drop-posicion-hover {
        border: 2px dashed $dark-grey;
    }
}


/* fin drag & drop */


/* elemento rup solo lectura */

.readonly {
    font-size: 16px;
    span {
        display: block;
        font-weight: normal;
        color: #818182;
        font-size: 14px;
    }
}


/* fin elemento rup solo lectura */

// BUTTONS
@each $tag,
$color in $rup_colors {
    .btn-#{$tag} {
        color: $color;
        // background-color: $hallazgos;
        // border-color: map-get($rup_colors, #{$tag});
        border-color: $color;
        background: white;
    }
    .btn-#{$tag}:hover,
    .btn-#{$tag}:focus,
    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        // color: white;
        // border-color: $hallazgos;
    }
    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        color: white;
        // background-color: map-get($rup_colors, #{$tag});
        background-color: $color;
        background-image: none;
    }
    .btn-#{$tag}.disabled,
    .btn-#{$tag}[disabled] {
        background-color: #eee;
        border-color: #ccc;
        color: #ccc;
    }
    // .btn-hallazgos.disabled,
    // .btn-hallazgos[disabled],
    // fieldset[disabled] .btn-hallazgos,
    // .btn-hallazgos.disabled:hover,
    // .btn-hallazgos[disabled]:hover,
    // fieldset[disabled] .btn-hallazgos:hover,
    // .btn-hallazgos.disabled:focus,
    // .btn-hallazgos[disabled]:focus,
    // fieldset[disabled] .btn-hallazgos:focus,
    // .btn-hallazgos.disabled:active,
    // .btn-hallazgos[disabled]:active,
    // fieldset[disabled] .btn-hallazgos:active,
    // .btn-hallazgos.disabled.active,
    // .btn-hallazgos[disabled].active,
    // fieldset[disabled] .btn-hallazgos.active {
    //     background-color: $hallazgos;
    //     border-color: $hallazgos;
    // }
    // .btn-hallazgos .badge {
    //     color: $hallazgos;
    //     background-color: white;
    // }
}

// BADGES
@each $tag,
$color in $rup_colors {
    .badge-#{$tag} {
        font-weight: normal;
        text-transform: uppercase;
        color: $color;
        //border-color: map-get($rup_colors, #{$tag});
        border: 1px solid $color;
        &:focus {
            outline: 0;
        }
        &.active {
            background-color: $color;
            mix-blend-mode: hard-light;
        }
    }
}

.input-group-addon {
    input {
        text-align: right;
    }
}

.form-group>label {
    margin-bottom: 0 !important;
}

.indicacion-default {
    textarea {
        height: 108px !important;
    }
}

.anteriores {
    width: 100%;
    div {
        border: 1px solid #ccc;
    }
}