@import '../variables';
.rup-card {
    width: 100%;
    display: flex;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    &.mini {
        margin-bottom: 0;
        .rup-content {
            .header {
                padding: 5px;
                border-bottom: 0 none;
                .title {
                    font-size: 0.75rem;
                }
            }
        }
    }
    &.hallazgo,
    &.entidad.observable,
    &.regimen,
    &.situación {
        &:hover,
        &.active {
            border: 2px solid $problema;
        }
        .type {
            background: $problema;
        }
    }
    &.trastorno {
        &:hover,
        &.active {
            border: 2px solid $trastorno;
        }
        .type {
            background: $trastorno;
        }
    }
    &.entidad.observable,
    &.regimen,
    &.procedimiento {
        &:hover,
        &.active {
            border: 2px solid $procedimiento;
        }
        .type {
            background: $procedimiento;
        }
    }
    &.plan {
        &:hover,
        &.active {
            border: 2px solid $plan;
        } // hay que mezclar las dos opciones, porque el semanticTag para los planes es un procedimiento
        // y precisamente para poder cargar los estilos se saca desde el semanticTag
        .type {
            background: $plan;
        }
    }
    &.producto {
        &:hover,
        &.active {
            border: 2px solid $producto;
        }
        .type {
            background: $producto;
        }
    }
    &.elementoderegistro {
        &:hover,
        &.active {
            border: 2px solid $adjunto;
        }
        .type {
            background: $adjunto;
        }
    }
    .type {
        padding: 5px;
        width: 20px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: white;
        }
    }
    .rup-content {
        margin: 0;
        width: 100%;
        .header {
            padding: 5px 15px;
            text-transform: capitalize;
            border-bottom: 1px solid #ccc;
            .title {
                display: inline-flex;
                font-size: 1.3em;
            }
            .actions {
                float: right !important;
                .btn {
                    margin: 0 5px;
                }
            }
        }
        .rup-body {
            padding: 15px;
        }
        .rup-footer {
            padding: 5px 15px;
        }
    }
}

.text-secondary {
    color: #818182 !important;
}


/* drag and drop */

.drag-handle {
    cursor: -webkit-grab;
    color: white;
}

.drag-over-border {
    border: $red dashed 2px;
}

.droppable.drag-target-border,
.drag-target-border {
    border: $dark-grey dashed 2px;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed $dark-grey;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
}

.drop-area {
    min-height: 50px;
    p {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
}

.spin::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 200ms;
}

.drop-posicion {
    background: $light-grey;
    color: $dark-grey;
    padding: 5px;
    border: 2px dashed white;
    margin: 5px 0;
    text-align: center;
    .drop-posicion-hover {
        border: 2px dashed $dark-grey;
    }
}


/* fin drag & drop */


/* elemento rup solo lectura */

.readonly {
    font-size: 16px;
    span {
        display: block;
        font-weight: normal;
        color: #818182;
        font-size: 14px;
    }
}


/* fin elemento rup solo lectura */

// BUTTONS
@each $tag,
$color in $rup_colors {
    .btn-#{$tag} {
        color: #000;
        // background-color: $hallazgos;
        // border-color: map-get($rup_colors, #{$tag});
        border-color: $color;
    }
    .btn-#{$tag}:hover,
    .btn-#{$tag}:focus,
    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        // color: white;
        // border-color: $hallazgos;
    }
    .btn-#{$tag}:active,
    .btn-#{$tag}.active,
    .open .dropdown-toggle.btn-#{$tag} {
        color: white;
        // background-color: map-get($rup_colors, #{$tag});
        background-color: $color;
        background-image: none;
    }
    .btn-#{$tag}.disabled,
    .btn-#{$tag}[disabled] {
        border-color: transparent;
    }
    // .btn-hallazgos.disabled,
    // .btn-hallazgos[disabled],
    // fieldset[disabled] .btn-hallazgos,
    // .btn-hallazgos.disabled:hover,
    // .btn-hallazgos[disabled]:hover,
    // fieldset[disabled] .btn-hallazgos:hover,
    // .btn-hallazgos.disabled:focus,
    // .btn-hallazgos[disabled]:focus,
    // fieldset[disabled] .btn-hallazgos:focus,
    // .btn-hallazgos.disabled:active,
    // .btn-hallazgos[disabled]:active,
    // fieldset[disabled] .btn-hallazgos:active,
    // .btn-hallazgos.disabled.active,
    // .btn-hallazgos[disabled].active,
    // fieldset[disabled] .btn-hallazgos.active {
    //     background-color: $hallazgos;
    //     border-color: $hallazgos;
    // }
    // .btn-hallazgos .badge {
    //     color: $hallazgos;
    //     background-color: white;
    // }
}

// BADGES
@each $tag,
$color in $rup_colors {
    .badge-#{$tag} {
        font-weight: normal;
        text-transform: uppercase;
        color: $color;
        //border-color: map-get($rup_colors, #{$tag});
        border: 1px solid $color;
        &:focus {
            outline: 0;
        }
        &.active {
            background-color: $color;
            mix-blend-mode: hard-light;
        }
    }
}

//////////////////////////////////////////////

/*
.border-hallazgo {
    &:focus {
        outline: 0;
    }
    border: 1px solid #f4a03b !important;
}

.border-trastorno {
    &:focus {
        outline: 0;
    }
    border: 1px solid #ff4a1a !important;
}

.border-procedimiento {
    &:focus {
        outline: 0;
    }
    border: 1px solid #92278e !important;
}

.border-planes {
    &:focus {
        outline: 0;
    }
    border: 1px solid #6a99ad !important;
}

.border-producto {
    &:focus {
        outline: 0;
    }
    border: 1px solid $productos !important;
}

.border-adjunto {
    &:focus {
        outline: 0;
    }
    border: 1px solid $adjuntos !important;
}
*/


/*

.badge-hallazgo {
    border: 1px solid #f4a03b;
    color: #f4a03b;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-trastorno {
    border: 1px solid #ff4a1a;
    color: #ff4a1a;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-procedimiento,
.badge-entidad,
.badge-regimen {
    border: 1px solid #92278e;
    color: #92278e;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-procedimiento {
    right: -18% !important;
}

.badge-planes {
    border: 1px solid #6a99ad;
    color: #6a99ad;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-producto {
    border: 1px solid $productos;
    color: $productos;
    font-weight: normal;
    text-transform: uppercase;
}

.badge-elemento.de.registro {
    border: 1px solid $adjuntos;
    color: $adjuntos;
    font-weight: normal;
    text-transform: uppercase;
}
*/

.input-group-addon {
    input {
        text-align: right;
    }
}

.form-group>label {
    margin-bottom: 0 !important;
}

.indicacion-default {
    textarea {
        height: 108px !important;
    }
}

.anteriores {
    width: 100%;
    div {
        border: 1px solid #ccc;
    }
}