<div class="row">
    <div class="col-md-12">
        <h2>Problemas de la consulta</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let problema of listaProblemas">
                {{problema.tipoProblema.nombre}}
                <span class="pull-right">
                    <plex-button title="Evolucionar Problema" label="Evolucionar" type="primary"></plex-button>
                    <plex-button title="Eliminar" label="" icon="close" type="danger"></plex-button>
                </span>
            </li>
        </ul>
    </div>
</div>