<plex-layout [main]="(showFicha || pacienteSelected) && (!fichaHistorial) && (!codigoSISAEdit) ? 12 : 8">
    <plex-layout-main *ngIf="!showFicha; else elseFicha">
        <plex-title titulo="Fichas epidemiologicas">
            <plex-button type="success" size="md" label="Buscar Fichas" (click)="searchFichas()" [disabled]="inProgress">
            </plex-button>
        </plex-title>
        <plex-grid cols="{{ !pacienteSelected ? '3' : null }}" size="lg" type="full">
            <plex-detail justify="start" *ngIf="pacienteSelected">
                <img [mpiFotoPaciente]="pacienteSelected" />
                <div title>{{ pacienteSelected | nombre }}</div>
                <div subtitle>{{ (pacienteSelected.documento | number) || 'Sin DNI'}}
                    <plex-button class="d-block" label="buscar otro paciente" size="sm" type="info"
                                 (click)="resetPacienteSelected()">
                    </plex-button>
                </div>
            </plex-detail>
            <plex-wrapper span="{{ pacienteSelected ? '2' : 'null' }}">
                <plex-datetime grow="1" [(ngModel)]="fechaDesde" name="fechaDesde" label="Desde" [max]="fechaHasta">
                </plex-datetime>
                <plex-datetime grow="1" [(ngModel)]="fechaHasta" name="fechaHasta" label="Hasta" [min]="fechaDesde">
                </plex-datetime>
                <plex-select grow="1" [(ngModel)]="typeFicha" label="Tipo de ficha" [data]="dataType$ | async"
                             labelField="name" name="selectType">
                </plex-select>
                <plex-select grow="1" name="localidades" [data]="localidades$ | async" label="Localidad de Residencia"
                             [(ngModel)]="localidad">
                </plex-select>
                <plex-select grow="1" name="organizacion" tmOrganizaciones label="Efectores" [(ngModel)]="organizacion">
                </plex-select>
                <plex-select grow="1" name="zonaSanitaria" [data]="zonaSanitaria$ | async"
                             label="Zona Sanitaria Efector" [(ngModel)]="zonaSanitaria" labelField="nombre">
                </plex-select>
                <plex-text grow="1" label="Identificador PCR" name="idPcr" [(ngModel)]="idPcr">
                </plex-text>
                <plex-select grow="1" name="registroSisa" [data]="registroSisaOpts"
                             label="Regitrado en SISA" [(ngModel)]="filtrarSISA" labelField="nombre">
                </plex-select>
            </plex-wrapper>
        </plex-grid>
        <plex-table *ngIf="listado?.length && !inProgress" [columns]="columns" #table="plTable" (scroll)="onScroll()"
                    [offset]="pacienteSelected ? 291: 221">
            <plex-table-columns>
            </plex-table-columns>
            <tr *ngFor="let ficha of (fichas$| plSort:table| async )">
                <td *plTableCol="'fecha'">{{ficha.createdAt | fecha}}</td>
                <td *plTableCol="'documento'">{{ficha.paciente.documento}}</td>
                <td *plTableCol="'paciente'">{{ficha.paciente.apellido}} {{ficha.paciente.nombre}}</td>
                <td *plTableCol="'tipo'">{{ficha.type.name}}</td>
                <td *plTableCol="'acciones'">
                    <plex-button *ngIf="puedeEditar" type="warning" icon="pencil" size="sm" tooltip="Editar"
                                 (click)="editarVerFicha(ficha,true)">
                    </plex-button>
                    <plex-button *ngIf="puedeVer" type="success" icon="eye" size="sm" tooltip="Ver"
                                 (click)="editarVerFicha(ficha,fale)">
                    </plex-button>
                    <plex-button *ngIf="puedeVerHistorial" type="info" icon="history" size="sm" tooltip="Ver Historial"
                                 (click)="verHistorial(ficha)">
                    </plex-button>
                </td>
                <td *plTableCol="'sisa'">
                    <ng-container *ngIf="ficha | fichaFields as fields">
                        <plex-badge type="{{ fields.codigoSisa ? 'success' : 'danger' }}">
                            {{ fields.codigoSisa ? 'SISA ' + fields.codigoSisa : 'SIN REGISTRO' }}
                            <plex-button icon="pencil" type="success" size="sm" title="Editar código SISA"
                                (click)="editarCodigoSISA(ficha, fields.codigoSisa)">
                            </plex-button>
                        </plex-badge>
                    </ng-container>
                </td>
            </tr>
        </plex-table>
        <div *ngIf="!(fichas$ | async)?.length && !inProgress" class="h-50" justify="center">
            <plex-label class="flex-column" icon="magnify" type="info" size="xl" direction="column"
                        [titulo]="query?'No hay resultados': 'Realice una búsqueda'"
                        subtitulo="Complete los filtros deseados y/o busque por paciente en el panel lateral y presione Buscar Fichas">
            </plex-label>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <ng-container *ngIf="!fichaHistorial && !codigoSISAEdit">
            <plex-title titulo="Búsqueda de fichas por paciente">
            </plex-title>
            <plex-label titulo="Buscar Paciente"></plex-label>
            <paciente-buscar (searchEnd)="searchEnd($event)" (searchClear)="onSearchClear()">
            </paciente-buscar>
            <paciente-listado *ngIf="resultadoBusqueda?.length && !pacienteSelected" [pacientes]="resultadoBusqueda"
                            (selected)="onSelect($event)">
            </paciente-listado>
            <div *ngIf="!pacienteSelected && !resultadoBusqueda?.length" class="h-75" justify="center">
                <plex-label class="flex-column" icon="magnify" type="info" size="xl" direction="column"
                            titulo="Buscar por DNI, Nombre o Apellido"
                            subtitulo="Seleccione un paciente y presione en Buscar Fichas">
                </plex-label>
            </div>
        </ng-container>
        <ng-container *ngIf="fichaHistorial">
            <app-historial-ficha [ficha]="fichaHistorial" (fichaHistorial)="editarVerFicha($event,false)">
                <plex-button *ngIf="!showFicha" type="danger" (click)="clearHistorial()">Volver
                </plex-button>
            </app-historial-ficha>
        </ng-container>
        <ng-container *ngIf=codigoSISAEdit>
            <plex-title titulo="Editar Código SISA">
                <plex-button label="Cancelar" type="danger" (click)="cancelarSisa()" size="sm"></plex-button>
                <plex-button label="Guardar" type="success" (click)="confirmSisa()" size="sm"></plex-button>
            </plex-title>
            <plex-grid cols="3" size="md" direction="row">
                <plex-label titulo="Paciente" subtitulo="{{fichaPaciente.paciente | nombre}}">
                </plex-label>
                <plex-label titulo="Tipo Ficha" subtitulo="{{fichaPaciente.type.name}}">
                </plex-label>
                <plex-label titulo="Fecha" subtitulo="{{fichaPaciente.createdAt | fecha}}">
                </plex-label>
            </plex-grid>
            <plex-int label="Código SISA" [autoFocus]="true" [(ngModel)]="codigoSisa"
                name="codigoSISA">
            </plex-int>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>
<ng-template #elseFicha>
    <plex-layout [main]="fichaHistorial ? 12 : 8">
        <plex-layout-main>
            <app-ficha-epidemiologica-crud [paciente]="paciente" [fichaPaciente]="fichaPaciente" [editFicha]="editFicha"
                                           (volver)="volver()" [fichaName]="showFicha">
            </app-ficha-epidemiologica-crud>
        </plex-layout-main>
        <plex-layout-sidebar type="invert">
            <ng-container *ngIf="paciente">
                <plex-title size="sm" titulo="Datos del paciente">
                </plex-title>
                <paciente-detalle [paciente]="paciente" orientacion="horizontal"></paciente-detalle>
            </ng-container>
        </plex-layout-sidebar>
    </plex-layout>
</ng-template>