<plex-layout [main]="showSidebar? 8 : 12">
    <plex-layout-main>
        <plex-title main titulo="MÓDULO DE CONTROL PERINATAL">
            <plex-button type="info" size="sm" label="PUNTO DE INICIO" (click)="volverInicio()"
                         ariaLabel="volver al punto de inicio"></plex-button>
            <alertas-perinatal></alertas-perinatal>
        </plex-title>
        <plex-wrapper>

            <plex-datetime grow="1" type="date" [(ngModel)]="fechaDesdeEntrada" name="fechaDesde" [debounce]="200"
                           label="Fecha Desde" class="fechas" [max]="fechaHastaEntrada" (change)="filtrar()">
            </plex-datetime>
            <plex-datetime grow="1" type="date" [(ngModel)]="fechaHastaEntrada" name="fechaHasta" [debounce]="200"
                           label="Fecha Hasta" class="fechas" [min]="fechaDesdeEntrada" (change)="filtrar()">
            </plex-datetime>

            <plex-datetime grow="1" type="date" [(ngModel)]="fechaCita" name="fechaCita" [debounce]="200"
                           label="Fecha de cita" class="fechas" (change)="filtrar()">
            </plex-datetime>

            <plex-datetime grow="1" type="date" [(ngModel)]="fechaUltimoControl" name="fechaControl" [debounce]="200"
                           label="Último control" class="fechas" (change)="filtrar()">
            </plex-datetime>

            <plex-text grow="1" [(ngModel)]="paciente" name="paciente" label="Buscar paciente" [debounce]="500"
                       (change)="filtrar()"></plex-text>

            <div collapse>

                <plex-select [(ngModel)]="profesional" name="profesional" label="Profesional" tmProfesionales
                             (change)="filtrar()" labelField="nombre + apellido">
                </plex-select>

                <plex-select [(ngModel)]="organizacion" name="organizacion" label="Organizacion" tmOrganizaciones
                             (change)="filtrar()">
                </plex-select>

            </div>
        </plex-wrapper>

        <plex-table [columns]="columns" #table="plTable" [offset]="showSidebar ? 203 : 131" (scroll)="onScroll()">
            <plex-title titulo="Listado de pacientes" size="sm">
                <plex-button size="sm" type="info" label="Descargar" [disabled]="disableDescargar"
                             (click)="descargarListado()"></plex-button>
                <plex-table-columns class="pr-2">
                </plex-table-columns>
            </plex-title>
            <tr *ngFor="let carnet of (listado$| plSort:table| async)" (click)="showInSidebar(carnet)"
                [class.selected]="carnet.id===carnetSelected?.id" [class.selectable]="selectable">
                <td *plTableCol="'fechaInicio'">{{ carnet.fecha | fecha }}</td>
                <td *plTableCol="'paciente'">{{ carnet.paciente.apellido + ', ' + carnet.paciente.nombre }}</td>
                <td *plTableCol="'documento'">{{ carnet.paciente.documento }}</td>
                <td *plTableCol="'edad'">{{ carnet.paciente | edad }}</td>
                <td *plTableCol="'ausente'">
                    <plex-badge *ngIf="esAusente(carnet.fechaProximoControl,carnet.fechaFinEmbarazo)" size="sm"
                                type="danger">AUSENTE
                        <plex-icon name="alert-circle" type="danger" size="sm"></plex-icon>
                    </plex-badge>
                </td>
                <td *plTableCol="'fechaCita'">
                    <plex-badge *ngIf="carnet.fechaProximoControl" size="sm" type="success">
                        {{ carnet.fechaProximoControl | fecha }}
                        <plex-icon name="calendar-today" type="success" size="sm"></plex-icon>
                    </plex-badge>
                    <plex-badge *ngIf="!carnet.fechaProximoControl" size="sm" type="warning">No indica
                    </plex-badge>
                </td>
                <td *plTableCol="'ultimoControl'">
                    <plex-badge size="sm" type="info">{{ carnet.fechaUltimoControl | fecha }}
                        <plex-icon name="calendar-today" type="info" size="sm"></plex-icon>
                    </plex-badge>
                </td>
            </tr>
        </plex-table>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-title titulo="DETALLE CONTROL PERINATAL">
            <plex-button size="sm" type="danger" [icon]="'close'" (click)="closeSidebar()">
            </plex-button>
        </plex-title>
        <ng-container *ngIf="carnetSelected">
            <paciente-detalle *ngIf="carnetSelected.paciente" [paciente]="carnetSelected.paciente" reload="true"
                              orientacion="horizontal">
            </paciente-detalle>
            <detalle-perinatal [carnet]="carnetSelected"></detalle-perinatal>
            <historial-perinatal [controles]="controles"></historial-perinatal>
            <notas-embarazo [carnet]="carnetSelected" (returnNotas)="returnEdicion($event)">
            </notas-embarazo>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>