<ng-container *ngIf="protocolos && protocolos.length > 0">
    <div class="table-grid table-grid-head {{ modo.nombre }}" [ngClass]="{'lista-lateral': showProtocoloDetalle}">

        <ng-container *ngIf="showProtocoloDetalle">
            <span class="page-title float-left col" *ngIf="showProtocoloDetalle">Listado</span>
            <span></span>
            <span></span>
        </ng-container>

        <span *ngIf='modo.nombre !== "puntoInicio"'>Sexo</span>
        <span *ngIf='modo.nombre !== "puntoInicio" && modo.nombre !== "recepcion"'>Nro.</span>
        <span>Fecha</span>
        <ng-container *ngIf="!showProtocoloDetalle">
            <span>Entrega</span>
            <span *ngIf='modo.nombre !== "puntoInicio"'>Documento</span>
            <span *ngIf='modo.nombre !== "puntoInicio"'>Apellidos y Nombres</span>
            <span *ngIf='modo.nombre !== "puntoInicio"'>F. Nacimiento</span>
            <span>Origen</span>
            <span>Prioridad</span>
            <span *ngIf='modo.nombre !== "puntoInicio"'>Estado</span>
            <span>Acciones</span>
        </ng-container>
    </div>

    <div class="table-grid {{ modo.nombre }}" [ngClass]="{'lista-lateral hover': showProtocoloDetalle, 'bg-invert white': i === laboratorioContextoCacheService.getContextoCache().indiceSeleccionado}" (click)='seleccionarProtocoloListaLateral(protocolo, i)' *ngFor="let protocolo of protocolos; let i=index">
        <ng-container *ngIf="!showProtocoloDetalle">
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo ==="femenino"'><i class="mdi mdi-gender-female"></i></span>
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo ==="masculino"'><i class="mdi mdi-gender-male"></i></span>
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo !=="femenino" && protocolo?.paciente?.sexo !=="masculino"'>
                    <i class="mdi mdi-circle-outline"></i>
            </span>
            <span *ngIf='modo.nombre !== "puntoInicio" && modo.nombre !== "recepcion"'>
                {{ protocolo.solicitud.registros[0]?.valor.solicitudPrestacion.numeroProtocolo?.numeroCompleto }}
            </span>
            <span>{{ protocolo.solicitud.fecha | fecha }}</span>

            <ng-container>
            <span *ngIf='protocolo.ejecucion.fecha'>{{protocolo.ejecucion.fecha | fecha}}</span>
                <span *ngIf='modo.nombre !== "puntoInicio"'>{{protocolo.paciente.documento}}</span>
                <span *ngIf='modo.nombre !== "puntoInicio"'>{{protocolo.paciente.apellido}}
                    {{protocolo.paciente.nombre}}</span>
                <span *ngIf='modo.nombre !== "puntoInicio"'>{{protocolo.paciente.fechaNacimiento | fecha}}</span>
                <span>{{protocolo.solicitud.ambitoOrigen}}</span>
                <span>
                    <plex-badge *ngIf="protocolo.solicitud.registros[0]?.valor.solicitudPrestacion.prioridad?.nombre === 'Urgencia'"
                        type="danger">{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre}}</plex-badge>
                    <plex-badge *ngIf="protocolo.solicitud.registros[0]?.valor.solicitudPrestacion.prioridad?.nombre === 'Normal'"
                        type="success">{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre}}</plex-badge>
                </span>
                <span *ngIf='modo.nombre !== "puntoInicio"'>
                    <plex-badge *ngIf="protocolo.estados[protocolo.estados.length -1].tipo === 'ejecucion'" type="warning">{{protocolo.estados[protocolo.estados.length
                        -1].tipo}}</plex-badge>
                    <plex-badge *ngIf="protocolo.estados[protocolo.estados.length -1].tipo === 'validada'" type="info">{{protocolo.estados[protocolo.estados.length
                        -1].tipo}}</plex-badge>
                </span>
                <span>
                    <plex-button type="success" size="sm" (click)="seleccionarProtocolo(protocolo, i)">
                        <ng-container *ngIf='modo.nombre === "recepcion" || modo.nombre === "puntoInicio"'>Recepcionar
                        </ng-container>
                        <ng-container *ngIf='modo.nombre === "control"'>Auditar
                        </ng-container>
                        <ng-container *ngIf='modo.nombre === "carga"'>Cargar
                        </ng-container>
                        <ng-container *ngIf='modo.nombre ==="validacion"'>Validar
                        </ng-container>
                        <ng-container *ngIf='modo.nombre === "listado"'>Ver Protocolo
                        </ng-container>
                    </plex-button>
                </span>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="showProtocoloDetalle">
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo ==="femenino"'><i class="mdi mdi-gender-female"></i></span>
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo ==="masculino"'><i class="mdi mdi-gender-male"></i></span>
            <span *ngIf='modo.nombre !== "puntoInicio" && protocolo?.paciente?.sexo !=="femenino" && protocolo?.paciente?.sexo !=="masculino"'>
                    <i class="mdi mdi-circle-outline"></i>
            </span>
            <span *ngIf='modo.nombre !== "puntoInicio" && modo.nombre !== "recepcion"'>
                {{ protocolo.solicitud.registros[0]?.valor.solicitudPrestacion.numeroProtocolo?.numeroCompleto }}
            </span>
            <span>{{ protocolo.solicitud.fecha | fecha }}</span>
        </ng-container>
    </div>



</ng-container>