<ng-container *ngIf="protocolos && protocolos.length > 0">
    <table class="table table-striped table-sm">
        <thead>
            <th *ngIf='modo !== "puntoInicio" && modo !== "recepcion"'>Nro.</th>
            <th>Fecha</th>
            <ng-container *ngIf="!showProtocoloDetalle">
                <th>Entrega</th>
                <th *ngIf='modo !== "puntoInicio"'>DNI</th>
                <th *ngIf='modo !== "puntoInicio"'>Apellidos y Nombres</th>
                <th *ngIf='modo !== "puntoInicio"'>F. Nacimiento</th>
                <th *ngIf='modo !== "puntoInicio"'>Sexo</th>
                <th>Origen</th>
                <th>Prioridad</th>
                <th *ngIf='modo !== "puntoInicio"'>Estado</th>
                <th></th>
                <th></th>
            </ng-container>
        </thead>
        <tbody>
            <tr *ngFor="let protocolo of protocolos; let i=index">
                <td *ngIf='modo !== "puntoInicio" && modo !== "recepcion"'>{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.numeroProtocolo?.numeroCompleto}}</td>
                <td>{{protocolo.solicitud.fecha | fecha}}</td>
                <!-- <plex-button *ngIf='showProtocoloDetalle' icon="arrow-right-drop-circle-outline" class="float-right mr-2" (click)="editarDatosCabecera()"
                 > -->
                <!-- </plex-button> -->
                <ng-container *ngIf="!showProtocoloDetalle">
                    <td>{{protocolo.ejecucion.fecha | fecha}}</td>
                    <td *ngIf='modo !== "puntoInicio"'>{{protocolo.paciente.documento}}</td>
                    <td *ngIf='modo !== "puntoInicio"'>{{protocolo.paciente.apellido}} {{protocolo.paciente.nombre}}</td>
                    <td *ngIf='modo !== "puntoInicio"'>{{protocolo.paciente.fechaNacimiento | fecha}}</td>
                    <td *ngIf='modo !== "puntoInicio" && protocolo.paciente.sexo ==="femenino"'>F</td>
                    <td *ngIf='modo !== "puntoInicio" && protocolo.paciente.sexo ==="masculino"'>M</td>
                    <td>{{protocolo.solicitud.ambitoOrigen}}</td>
                    <td>
                        <plex-badge *ngIf="protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre === 'Urgencia'"
                            type="danger" class="ml-2">{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre}}</plex-badge>
                        <plex-badge *ngIf="protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre === 'Normal'"
                            type="success" class="ml-2">{{protocolo.solicitud.registros[0].valor.solicitudPrestacion.prioridad.nombre}}</plex-badge>
                    </td>
                    <td>
                        <plex-badge *ngIf="protocolo.estados[protocolo.estados.length -1].tipo === 'ejecucion'" type="warning"
                            class="ml-2">{{protocolo.estados[protocolo.estados.length -1].tipo}}</plex-badge>
                        <plex-badge *ngIf="protocolo.estados[protocolo.estados.length -1].tipo === 'validada'" type="success"
                            class="ml-2">{{protocolo.estados[protocolo.estados.length -1].tipo}}</plex-badge>
                    </td>
                    <td>
                        <plex-button type="success" size="sm" (click)="seleccionarProtocolo(protocolo, i)" class="ml-2">
                            <ng-container *ngIf='modo === "recepcion" || modo === "puntoInicio"'>Recepcionar
                            </ng-container>
                            <ng-container *ngIf='modo === "control"'>Auditar
                            </ng-container>
                            <ng-container *ngIf='modo === "carga"'>Cargar
                            </ng-container>
                            <ng-container *ngIf='modo ==="validacion"'>Validar
                            </ng-container>
                            <ng-container *ngIf='modo === "listado"'>Ver Protocolo
                            </ng-container>
                        </plex-button>
                        <plex-button type="success" size="sm" (click)="seleccionarProtocolo(protocolo, i)" class="ml-2">
                            <i class="mdi mdi-file-document"></i>
                        </plex-button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>