<ng-container *ngIf="prestacion$ | async as prestacion">
    <plex-title titulo="INGRESO">
        <ng-container *ngIf="prestacion.estados[prestacion.estados.length - 1].tipo !== 'validada'">
            <ng-content></ng-content>
        </ng-container>
    </plex-title>
    <ng-container *ngIf="informeIngreso$ | async as informeIngreso">
        <paciente-detalle [paciente]="paciente$ | async" orientacion="horizontal" [fields]="pacienteFields" [accesoHuds]="true">
            <plex-label *ngIf="informeIngreso.situacionLaboral" titulo="Situacion Laboral"
                        [subtitulo]="informeIngreso.situacionLaboral">
            </plex-label>
            <plex-label *ngIf="informeIngreso.nivelInstruccion" titulo="Nivel de Instruccion"
                        [subtitulo]="informeIngreso.nivelInstruccion">
            </plex-label>
            <plex-label *ngIf="informeIngreso.ocupacionHabitual" titulo="Ocupacion Habitual"
                        [subtitulo]="informeIngreso.ocupacionHabitual?.nombre">
            </plex-label>
        </paciente-detalle>
        <fieldset>
            <plex-title size="sm" titulo="DATOS DE INTERNACION">
                <plex-badge *ngIf="prestacion.ejecucion.registros[0].esCensable" type="info" size="sm">
                    Censable
                </plex-badge>
            </plex-title>

            <plex-grid cols="2">
                <plex-label titulo="Fecha ingreso"
                            subtitulo="{{ informeIngreso.fechaIngreso | date: 'dd/MM/yyyy HH:mm' }}">
                </plex-label>
                <plex-label titulo="Motivo" subtitulo="{{ informeIngreso.motivo }}">
                </plex-label>
                <plex-label titulo="Origen" subtitulo="{{ informeIngreso.origen }}">
                </plex-label>
                <plex-label titulo="Especialidad/es"
                            subtitulo="{{ informeIngreso.especialidades | enumerar: ['term'] }}">
                </plex-label>
                <plex-label titulo="Profesional responsable" subtitulo="{{ informeIngreso.profesional | nombre }}">
                </plex-label>
            </plex-grid>

        </fieldset>
        <fieldset>
            <plex-title size="sm" titulo="COBERTURA">
            </plex-title>
            <div class="row">
                <div class="col-6">
                    <plex-label titulo="Cobertura" [subtitulo]="informeIngreso.asociado">
                    </plex-label>
                </div>
                <div class="col-6">
                    <plex-label *ngIf="informeIngreso.obraSocial" titulo="Obra social"
                                [subtitulo]="informeIngreso.obraSocial.nombre">
                    </plex-label>
                </div>
            </div>
        </fieldset>
    </ng-container>
</ng-container>