<form #formIngreso="ngForm">
    <ng-container *ngIf="paciente">
        <plex-title justify titulo="INGRESO">
            <plex-button title="guardar" icon="check" type="success" size="sm" [validateForm]="formIngreso"
                         (click)="guardar($event)" [disabled]="disableButton || inProgress">
            </plex-button>
            <ng-content></ng-content>
        </plex-title>
        <paciente-detalle [paciente]="paciente" orientacion="horizontal"></paciente-detalle>
        <ng-container *ngIf="capa === 'estadistica'">
            <carpeta-paciente [pacienteSeleccionado]=" paciente" [emitOnNew]="true"
                              (guardarCarpetaEmit)="afterComponenteCarpeta($event)">
            </carpeta-paciente>
        </ng-container>
        <plex-title size="sm" justify titulo="DATOS DE INTERNACIÓN"></plex-title>
        <plex-wrapper>
            <plex-datetime label="Fecha y hora de ingreso" [(ngModel)]="informeIngreso.fechaIngreso"
                           name=" fechaIngreso" [max]="mapaCamasService.fechaActual$ | async" required
                           label="Fecha Ingreso" [debounce]="600" (change)="setFecha()" grow="full" (typing)="onType()">
            </plex-datetime>
            <ng-container *ngIf="camas$ | async as camas">
                <plex-select *ngIf="!prestacion" [required]="true" [(ngModel)]="cama" name="cama" [data]="camas"
                             placeholder="Elija cama" label="Cama" idField="id"
                             labelField="nombre + '(' + sectorName + ')'" (change)="selectCama(cama)" grow="full">
                </plex-select>
            </ng-container>
            <plex-text *ngIf="prestacion && cama" [required]="true" [disabled]="true" label="Cama" name="cama"
                       [(ngModel)]="cama.nombre">
            </plex-text>

            <ng-container *ngIf="capa === 'estadistica'">
                <plex-select grow="2" [required]="true" [(ngModel)]="informeIngreso.origen" name="origen"
                             [data]="origenHospitalizacion" placeholder="Seleccione..." label="Origen hospitalización"
                             idField="nombre" labelField="nombre" (change)="changeOrigenHospitalizacion($event)">
                </plex-select>

                <plex-select grow="2" label="Profesional" [(ngModel)]="informeIngreso.profesional" name="profesional"
                             (getData)="loadProfesionales($event)" [required]="true" labelField="apellido+' '+nombre">
                </plex-select>

                <ng-container *ngIf="origenExterno">
                    <plex-bool [(ngModel)]="check" type="slide" label="Otro" name="check" (change)="onchange($event)">
                    </plex-bool>
                    <ng-container *ngIf="!check">
                        <plex-select grow="full" [(ngModel)]="informeIngreso.organizacionOrigen" name="organizacion"
                                     (getData)="loadOrganizacion($event)" label="Organización origen"
                                     placeholder="Seleccione la organización" labelField="nombre" [required]="true">
                        </plex-select>
                    </ng-container>
                    <ng-container *ngIf="check">
                        <plex-text grow="full" label="Otro" name="otraOrganizacion"
                                   [(ngModel)]="informeIngreso.organizacionOrigen" [required]="true">
                        </plex-text>
                    </ng-container>
                </ng-container>

                <plex-text grow="full" label="Motivo de Internación" name="motivo" [(ngModel)]="informeIngreso.motivo">
                </plex-text>

                <plex-select grow="full" name="especialidad" [required]="true" [snomedExpression]="expr.Especialidades"
                             [preload]="false" [(ngModel)]="informeIngreso.especialidades" [multiple]="true"
                             label="Especialidad/es">
                </plex-select>
            </ng-container>
        </plex-wrapper>
        <ng-container *ngIf="capa === 'estadistica'">
            <plex-title size="sm" justify titulo="COBERTURA SOCIAL"></plex-title>
            <plex-wrapper>
                <plex-select *ngIf="!informeIngreso.obraSocial" [(ngModel)]="informeIngreso.asociado" name="asociado"
                             [data]="pacienteAsociado" placeholder="Seleccione... " label="Cobertura" idField="nombre"
                             labelField="nombre">
                </plex-select>
                <plex-text *ngIf="informeIngreso.obraSocial" [(ngModel)]="informeIngreso.obraSocial.nombre"
                           label="Obra Social" name="obraSocial" [readonly]="true"></plex-text>
            </plex-wrapper>
            <plex-title size="sm" justify titulo="DATOS ESTADISTICOS"></plex-title>
            <plex-wrapper>
                <ng-container *ngIf="situacionesLaborales">
                    <plex-select label=" Situación laboral " [(ngModel)]="informeIngreso.situacionLaboral"
                                 name="situacionLaboral" [data]="situacionesLaborales" placeholder="Seleccione... "
                                 labelField="nombre">
                    </plex-select>
                </ng-container>
                <ng-container>
                    <plex-select label="Ocupación habitual " [(ngModel)]="informeIngreso.ocupacionHabitual"
                                 name="ocupacionHabitual" (getData)="getOcupaciones($event)"
                                 placeholder="Seleccione... " labelField="'(' + codigo + ') ' + nombre">
                    </plex-select>
                </ng-container>
                <plex-select [(ngModel)]="informeIngreso.nivelInstruccion" name="nivelInstruccion"
                             [data]="nivelesInstruccion" placeholder="Seleccione..." label="Nivel instrucción"
                             idField="nombre" labelField="nombre">
                </plex-select>
            </plex-wrapper>
        </ng-container>
    </ng-container>
</form>
<ng-container *ngIf="prestacionFake">
    <ng-container *ngFor="let registro of prestacionFake.ejecucion.registros">

        <rup [elementoRUP]="elementosRUPService.elementoRegistro(registro)" [prestacion]="prestacionFake"
             [paciente]="paciente" [registro]="registro" [soloValores]="false"
             [params]="elementosRUPService.getParams(registro)">
        </rup>

    </ng-container>
</ng-container>