@import 'components/rup/variables';
div.scroll-list {
    overflow: auto;
    max-height: 70vh;
}

.drag-over-border {
    border: #ff525b dashed 2px;
}

.droppable.drag-target-border,
.list-group>.list-group-item.drag-target-border,
.drag-target-border {
    border: #00bfff dashed 2px;
}

.drag-handle {
    cursor: move;
}

.droppable {
    width: 100%;
    height: auto;
    border: 2px dashed #eee;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
}

.drop-area {
    height: calc(100vh - 310px);
}

.drop-area p {
    font-size: 40px;
    margin: 0;
    padding: calc(calc(100vh - 480px) / 2) 60px;
    text-align: center;
}

.msg-problema {
    border: 1px solid #ff9900;
    color: #ff9900;
    margin-bottom: 10px;
    padding: 10px;
}

.dropdown-inline {
    display: inline-block;
}

.list-inline>.list-inline-item {
    margin-bottom: 10px;
}

.transparencia {
    opacity: 0.4;
}

.fieldsetMargin-top {
    margin-top: 1px;
}

.desvincular-container {
    position: relative;
}

.desvincular {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 1;
}

.desvincularProblema {
    transform: scale(0.75);
    position: absolute;
    top: 12px;
    right: 3px;
}

.form-control-invert {
    background-color: #002738;
    border-color: solid 1px #FFFFFF;
    border-radius: 0px;
    color: #FFFFFF;
    height: 400px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

h5.box-title-principal {
    color: #00A8E0;
    font-weight: 350;
    padding-bottom: 5px;
}

h5.box-title-secundario {
    color: #00A8E0;
    font-weight: 350;
    padding-bottom: 5px;
    border-bottom: solid white 1px;
}


/* Item lista */

.list-group .list-group-item.problema {
    border-left: solid 15px $problemas;
}

.plan {
    border-left: solid 15px $planes;
}

.prestacion .card-header {
    border-left: solid 15px $procedimientos;
}