.registros {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    .icon-info {
        color: var(--nav-bar-color);
        padding: 5px;
        border: 1px solid var(--nav-bar-color);
        border-radius: 100%;
        width: 50px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .info-registro {
        display: flex;
        flex-direction: column;

        plex-badge {
            margin-bottom: 10px;
        }

        hr {
            float: left;
            margin: 0.75rem 0;
            width: 35px;
            border: solid 0.5px var(--nav-bar-color);
        }
    }
}