<plex-modal #modal (closed)="notificarAccion(false)">
    <plex-icon name="alert-circle" type="danger"></plex-icon>
    <plex-modal-title type="danger">Historia Universal Digital de Salud</plex-modal-title>
    <plex-modal-subtitle type="">Por favor, indique el motivo de acceso:</plex-modal-subtitle>
    <main>
        <div class="w-50">
            <div>
                <plex-radio [(ngModel)]="motivoSelected" [data]="motivosAccesoHuds">
                </plex-radio>
            </div>

            <div class="mt-4">
                <b>
                    Recuerde que todos los ingresos y acciones realizados por UD. en la HUDS quedarán registrados
                </b>
            </div>
        </div>
    </main>

    <plex-button modal right type="success" (click)="notificarAccion(true)" [disabled]="motivoSelect()">
        ACEPTAR
    </plex-button>
    <plex-button modal left type="danger" (click)="notificarAccion(false)">
        CANCELAR
    </plex-button>
</plex-modal>