<div class="prestaciones mt-3 ml-3">
    <ng-container *ngIf="prestacion">
        <h4 class="text-capitalize">{{ prestacion.solicitud.tipoPrestacion.term }}</h4>
        <div class="row">
            <div class="col-6">
                <b> Fecha: </b>
                {{ prestacion.ejecucion.fecha | date: 'EEE dd/MM/yyyy HH:MM' }}
            </div>
            <div class="col-6"
                *ngIf="(getTimestamp(prestacion.ejecucion.fecha) - getTimestamp(prestacion.solicitud.fecha)) > 1000">
                <b> Solicitada el: </b>
                {{ prestacion.solicitud.fecha | date: 'EEE dd/MM/yyyy HH:MM' }}
            </div>
            <div class="col-12">
                <b> Solicitada por el profesional: </b>
                {{ prestacion.solicitud.profesional | profesional }}
            </div>
            <div class="col-12">
                <b> Desde la Organización: </b>
                {{ prestacion.solicitud.organizacion.nombre }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <h4>Registros de la consulta:</h4>
                <ng-container *ngFor="let registro of prestacion.ejecucion.registros">

                    <div
                        class="rup-card {{ registro.esSolicitud ? 'solicitud' : servicioPrestacion.getCssClass(registro.concepto) }}">
                        <div class="rup-header">
                            <div class="icon-rup">
                                <i
                                    class="icon icon-rup-semantic-{{ servicioPrestacion.getIcon(registro.concepto) }}"></i>
                            </div>
                            <div class="title">
                                <ng-container *ngIf="registro?.nombre">
                                    {{ registro.nombre[0].toUpperCase() + registro.nombre.slice(1) }}
                                </ng-container>
                            </div>
                            <div class="actions">
                                <small>Relacionado con: </small><br>
                                <ng-container *ngIf="registro?.relacionadoCon && registro?.relacionadoCon.length > 0">
                                    <small *ngFor="let relacion of registro?.relacionadoCon; let r=index"
                                        class="badge badge-info">
                                        {{ relacion | relacionRUP }}
                                    </small>
                                </ng-container>
                                <br>
                                <small class="badge badge-info" *ngIf="registro.esDiagnosticoPrincipal">
                                    Procedimiento / diagnóstico principal
                                </small>
                            </div>
                        </div>
                        <div class="rup-body">
                            <div class="legend">
                                <span>
                                    {{ (registro.esSolicitud) ? 'solicitud' : registro.concepto.semanticTag}}
                                </span>
                            </div>
                            <div class="content">
                                <div class="row" *ngIf="paciente">
                                    <div class="col-12">
                                        <rup [elementoRUP]="elementosRUPService.buscarElemento(registro.concepto, registro.esSolicitud)"
                                            [params]="elementosRUPService.selectPorRefsetId(registro.concepto)"
                                            [prestacion]="prestacion" [registro]="registro" [paciente]="paciente"
                                            [soloValores]="true" [vistaHUDS]="false">
                                        </rup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>