.table-lista-accesos {
    
    height:100%; 
    tbody {
        display: block;
        height: 100%;
        overflow: scroll;
        td:not(:first) {
            min-width: 200px !important;
        }
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        &:last-child{
            margin-bottom: 2rem;
        }
    }
    .small {
        width: 10%;
    }
    .medium {
        width: 30%;
    }
}
