<ng-container *ngIf="registro?.data">
    <plex-title titulo="{{ registro.data.prestacion.snomed.term }}" size="lg">
        <div class="titulo-badges">
            <plex-badge type="{{ registro.data.prestacion.snomed.semanticTag || 'solicitud' }}">
                {{ registro.data.prestacion.snomed.semanticTag || 'solicitud' }}
            </plex-badge>
        </div>
    </plex-title>
    <div class="mt-4">
        <plex-grid cols="2">
            <div class="registros">
                <plex-icon name="historial" class="icon-info" size="xl"></plex-icon>
                <div class="info-registro">
                    <plex-badge size="sm" type="info">
                        Registros
                    </plex-badge>
                    <h6><b>{{ registro.data.fecha | fecha : 'utc' }}</b></h6>
                    <hr />
                </div>
                <ng-container *ngIf="registro?.data?.adjuntos?.length">
                    <div class="d-flex justify-content-between adjuntos">
                        <ng-container *ngFor="let archivo of registro.data.adjuntos; let i=index">
                            <div class="d-flex align-items-end mb-1">
                                <plex-badge type="info mr-1">PDF</plex-badge>
                                <plex-button type="info" size="sm" icon="download mdi-18px" (click)="descargar(archivo)"
                                             tooltip="Descargar PDF">
                                </plex-button>
                            </div>
                        </ng-container>
                        <ng-container
                                      *ngIf="!registro.data.adjuntos && registro?.data?.prestacion?.snomed?.conceptId !== '33879002'">
                            <div class="d-flex align-items-end mb-1">
                                <plex-badge type="info mr-1">PDF</plex-badge>
                                <plex-button type="info" size="sm" icon="download mdi-18px" tooltip="Descargar CDA"
                                             (click)="descargarCDA(registro)">
                                </plex-button>

                                <plex-button type="info" size="sm" icon="download mdi-18px" (click)="descargar(archivo)"
                                             tooltip="Descargar PDF">
                                </plex-button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div>
                <plex-grid cols="2" class="mt-0">
                    <div *ngIf="registro?.data.profesional">
                        <b>Profesionales</b>
                        <p class="texto-detalle">
                            {{registro?.data.profesional | nombre}}</p>
                    </div>
                    <div *ngIf="registro?.data.organizacion">
                        <b>Organización de origen</b>
                        <p class="texto-detalle">
                            {{ registro?.data.organizacion.nombre }}</p>
                    </div>
                    <div *ngIf="codificacionCDA?.code">
                        <b>Codificación</b>
                        <p class="texto-detalle">
                            {{ codificacionCDA.code.$.code }}</p>
                    </div>
                    <div *ngIf="codificacionCDA?.code"><b>Tipo de prestación</b>
                        <p class="texto-detalle">{{ codificacionCDA.code.$.displayName || 'No especificado'}}</p>
                    </div>
                </plex-grid>
            </div>
        </plex-grid>
        <div *ngIf="codificacionCDA?.text">
            <b>Detalles del registro</b>
            <p class="texto-detalle">
                <span [innerHtml]="codificacionCDA.text"></span>
            </p>
        </div>
    </div>
</ng-container>