<div class="columna prestacion-offset">
    <div class="concepto">&nbsp;</div>
    <div class="divisor">
        <div class="datos-prestacion">
            <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="34px" version="1.1"
                 viewBox="0 0 35 50" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                <path d="M23.14,0H2.512C1.127,0,0,1.128,0,2.513v35.961c0,1.385,1.127,2.512,2.512,2.512H27.78
                            c1.385,0,2.513-1.127,2.513-2.512V7.771L23.14,0z M23.734,3.761l3.135,3.408h-3.135V3.761z M28.183,38.471
                            c0,0.224-0.181,0.404-0.402,0.404H2.512c-0.221,0-0.401-0.181-0.401-0.404V2.513c0-0.222,0.181-0.402,0.401-0.402H21.62v6.113
                            c0,0.582,0.477,1.053,1.059,1.053h5.504V38.471z M24.548,30.236" fill="rgb(16, 166, 224)">
                </path>
                <path d="M19.876,14.338c-0.277-0.026-0.536-0.039-0.779-0.039c-1.947,0-2.881,0.841-3.951,2.115
                            c-1.069-1.274-2.003-2.115-3.951-2.115c-0.243,0-0.502,0.013-0.778,0.039c-1.685,0.166-3.634,1.708-3.871,4.665v0.983
                            c0.22,2.831,2.357,6.321,8.601,10.701c6.244-4.38,8.381-7.87,8.602-10.701v-0.983C23.51,16.046,21.562,14.504,19.876,14.338z
                             M19.156,23.85c-0.809-0.001,3.272-3.849,0.155-6.642c-0.662-0.536-0.582-0.976-0.118-1.162c0.463-0.186,1.021,0.149,1.479,0.555
                            C23.869,19.399,19.965,23.85,19.156,23.85z" fill="rgb(16, 166, 224)"></path>
            </svg>

            <h5 class="text-primary">Datos de la Prestación</h5>
        </div>
        <div *ngIf="prestacion?.ejecucion?.fecha" class="justify-content-end align-items-center">
            {{ prestacion.solicitud.fecha | fecha }}
        </div>
    </div>
    <div class="borde-datos ml-3 pl-2 pt-2">
        <div *ngIf="prestacion?.solicitud?.profesional" class="columna-datos d-flex justify-content-between mb-2">
            <b>Prestación: </b> <span class="text-capitalize">{{
                prestacion.solicitud.tipoPrestacion.term }}</span>
        </div>
        <div *ngIf="prestacion?.solicitud?.profesional" class="columna-datos d-flex justify-content-between mb-2">
            <b>Profesional: </b> <span class="text-capitalize">
                {{ prestacion.solicitud.profesional.apellido }}, {{
                prestacion.solicitud.profesional.nombre }}</span>
        </div>
        <div class="columna-completa">
            <div class="columna-datos no-border d-flex justify-content-between mb-2">
                <b>Otros registros de la Prestación: </b>
            </div>
            <ng-container *ngFor="let registro of prestacion?.ejecucion?.registros">
                <span class="mb-1">
                    <plex-badge type="{{ _prestacionesService.getCssClass(registro.concepto, false) }}">
                        {{ registro.concepto.term }}
                    </plex-badge>
                </span><br>
            </ng-container>
        </div>
    </div>
</div>