<plex-table [columns]="columns" #table="plTable" [offset]="160" (scroll)="onScroll()">
    <plex-table-columns>
    </plex-table-columns>
    <!-- No hay accesos -->
    <ng-container *ngIf="!accesosHuds?.length">
        <tr>
            <td colspan="3">
                <i class="mdi mdi-emoticon-sad"></i> No hay accesos a la huds
            </td>
        </tr>
    </ng-container>

    <!-- Listado de accesos -->

    <tr *ngFor="let acceso of accesosHuds; let i=index">
        <td *plTableCol="'fechaAcceso'">
            <div *ngIf="acceso.fecha">
                <span class="text-info"><strong>
                        {{acceso.fecha | date: 'dd/MM/yyyy'}}</strong></span>
            </div>
            <div>
                <span class="text-secondary">{{acceso.fecha | date: 'HH:mm'}}</span>
            </div>
        </td>
        <td *plTableCol="'nombreCompleto'">
            <div *ngIf="acceso.usuario?.nombreCompleto">
                <strong>{{acceso.usuario.nombreCompleto}}</strong>
            </div>
            <div>
                <span *ngIf="acceso.matricula" class="text-secondary">Matrícula:
                    {{acceso.matricula}}</span>
            </div>
        </td>
        <td *plTableCol="'motivo'">

            <span *ngIf="acceso.motivoAcceso" class="text-secondary"
                  style="padding: 10px;">{{acceso.motivoAcceso}}</span>
            <plex-help *ngIf="acceso.detalleMotivo" type="help" icon="message" tooltip="Observación"
                       titulo="Detalle del motivo" size="sm" cardSize="half">
                {{ acceso.detalleMotivo }}
            </plex-help>

        </td>
        <td *plTableCol="'organizacion'">
            <ng-container *ngIf="acceso.organizacion && acceso.organizacion.nombre">
                <plex-badge type="info float-right">
                    {{acceso.organizacion.nombre}}
                </plex-badge>
            </ng-container>
        </td>
    </tr>
</plex-table>