<plex-title main titulo="Anular solicitud">
    <plex-button size="sm" type="danger" [icon]="'close'" (click)="cancelarAnular()">
    </plex-button>
</plex-title>
<div class="mt-3">
    <div class="row">
        <div class="col-12 text-left">
            <b>Paciente</b>
            <h5>
                <span class="blue"> {{prestacionSeleccionada?.paciente?.nombre}}
                    {{prestacionSeleccionada?.paciente?.apellido}}
                </span>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-left">
            <b>Fecha Solicitud</b>
            <br> {{ prestacionSeleccionada?.solicitud.fecha | fecha }}
        </div>
    </div>
    <div class="row"
         *ngIf="prestacionSeleccionada?.solicitud.registros.length>0 && prestacionSeleccionada?.solicitud.registros[0].valor">
        <div class="col-12">
            <hr>

            <b *ngIf="prestacionSeleccionada.solicitud.registros[0].valor?.solicitudPrestacion?.motivo">Motivo</b>
            <br>
            <span *ngIf="prestacionSeleccionada.solicitud.registros[0].valor?.solicitudPrestacion">
                {{prestacionSeleccionada.solicitud.registros[0].valor.solicitudPrestacion.motivo}}
            </span>
            <br>
        </div>
    </div>
    <div class="row" *ngIf="prestacionSeleccionada.solicitud.registros[0].valor?.documentos?.length">
        <div class="col-12">
            <b>Archivos Adjuntos</b>
            <div class="image-container hr-inline-group" *ngIf="fotos && fileToken">
                <ng-container
                              *ngFor="let doc of this.prestacionSeleccionada.solicitud.registros[0].valor.documentos; let i = index">
                    <div class="image hover">
                        <img [src]="createUrl(doc)" alt="" *ngIf="esImagen(doc.ext)" (click)="open(i)">
                        <a [href]="createUrl(doc)" target="_blank" *ngIf="!esImagen(doc.ext)" class="adjunto"
                           (click)="open(i)">
                            {{ doc.ext }}
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <!--  BOX MOTIVO Y CONFIRMAR ANULACION -->
    <span>
        <div class="row">
            <div class="col-12">
                <plex-text label="Motivo de Anulación" multiline="true" name="motivo" [(ngModel)]="motivo"
                           [required]="true">
                </plex-text>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-left">
                <plex-button type="danger" (click)="cancelarAnular()">Cancelar</plex-button>
            </div>
            <div class="col-6 text-right">
                <plex-button type="success" (click)="confirmarAnular()">Confirmar</plex-button>
            </div>
        </div>
    </span>
</div>