<plex-title *ngIf="estadoSolicitud.id !== 3" main titulo="Auditar solicitud" size="sm"></plex-title>

<plex-grid *ngIf="!showConfirmar && !showPrioridad" cols="4">
    <plex-button type="info btn-block" (click)="responder()">Responder</plex-button>
    <plex-button type="warning btn-block" (click)="asignar()">Asignar</plex-button>
    <plex-button type="warning btn-block" (click)="referirAuditar()">Referir</plex-button>
    <plex-button type="success btn-block" (click)="aceptar()">Aceptar</plex-button>
</plex-grid>

<span *ngIf="showConfirmar">
    <plex-title *ngIf="estadoSolicitud.id !== 3 && estadoSolicitud.nombre!=='Referir' " main
                titulo="{{ estadoSolicitud.nombre }}" size="sm">
        <plex-button class="mr-1" size="sm" type="danger" icon="arrow-left" tooltip="Volver" (click)="cancelar()">
        </plex-button>
        <plex-button size="sm" type="success" icon="check" tooltip="Confirmar" (click)="confirmar()"
                     [disabled]="(estadoSolicitud.id === 3 && !(tipoPrestacionDestino && organizacionDestino)) || (estadoSolicitud.id === 1 && !profesional)">
        </plex-button>
    </plex-title>

    <plex-text *ngIf="estadoSolicitud.id !== 3 && estadoSolicitud.nombre!=='Referir' " label="Observaciones"
               multiline="true" name="observaciones" [(ngModel)]="observaciones">
    </plex-text>

    <plex-select *ngIf="estadoSolicitud.id === 0" [(ngModel)]="prioridad" [data]="prioridades" name="prioridad"
                 label="Prioridad" ngModelOptions="{standalone: true}">
    </plex-select>

    <plex-select *ngIf="estadoSolicitud.id === 1" [(ngModel)]="profesional" (getData)="loadProfesionales($event)"
                 labelField="apellido + ' ' + nombre" name="profesionalOrigen" label="Profesional">
    </plex-select>

    <ng-container *ngIf="estadoSolicitud.id === 3">
        <referir-solicitud [prestacionSeleccionada]="prestacionSeleccionada" (returnReferir)="referirAuditar($event)">
        </referir-solicitud>
    </ng-container>
</span>