<form class="plex-layout" #form="ngForm">
    <section>
        <div class="row">
            <div class="col-8">
                <plex-box>
                    <header>
                        <div class="page-title float-left">
                            NUEVA SOLICITUD DE {{tipoSolicitud.toUpperCase()}}
                        </div>
                    </header>
                    <div class="row">
                        <div *ngIf="showSeleccionarPaciente" class="col-12">
                            <label *ngIf="showSeleccionarPaciente">Paciente</label>
                            <pacientesSearch [bloquearCreate]="true" [modoCompleto]="false" [hideFooter]="true" (selected)="seleccionarPaciente($event)">
                            </pacientesSearch>
                        </div>
                    </div>


                    <!-- Fecha Solicitud -->
                    <div class="col-6" *ngIf=" !showSeleccionarPaciente">
                        <plex-datetime type="date" [(ngModel)]="modelo.solicitud.fecha" name="fechaSolicitud" label="Fecha de solicitud" [required]="true"></plex-datetime>
                    </div>



                    <!-- SOLICITUD ENTRADA -->

                    <span *ngIf=" !showSeleccionarPaciente && tipoSolicitud == 'entrada'">

                        <!-- Autocitado? -->
                        <div class="col-12 d-flex">
                            <plex-bool class="align-self-center" [(ngModel)]="autocitado" label="Autocitado" name="autocitado"></plex-bool>
                        </div>

                        <!-- Tipo Prestación Destino -->
                        <div class="col-12">
                            <plex-select [(ngModel)]="modelo.solicitud.tipoPrestacion" name="tipoPrestacion" (getData)="loadTipoPrestaciones($event)"
                                label="Tipo de Prestación Solicitada" placeholder="Tipos de Prestación solicitada" [required]="true"
                                (change)="onSelectPrestacionOrigen()">
                            </plex-select>
                        </div>
                        <!-- Organización Origen -->
                        <div class="col-12" *ngIf="!autocitado">
                            <plex-select [(ngModel)]="modelo.solicitud.organizacionOrigen" name="organizacionOrigen" [data]="dataOrganizacionesOrigen"
                                label="Organización origen" placeholder="Seleccione la organización" labelField="nombre" (change)="onSelectOrganizacionOrigen()"
                                [required]="true">
                            </plex-select>
                        </div>
                        <!-- Tipo Prestación Origen -->
                        <div class="col-12" *ngIf="!autocitado">
                            <plex-select [(ngModel)]="prestacionOrigen" [data]="dataTipoPrestacionesOrigen" name="tipoPrestacion" (change)="onSelect()"
                                label="Tipos de Prestación Origen" placeholder="Tipos de Prestación Origen" [required]="true">
                            </plex-select>
                        </div>
                        <!-- Profesional Origen -->
                        <div class="col-12">
                            <plex-select [(ngModel)]="modelo.solicitud.profesionalOrigen" name="profesionalOrigen" (getData)="loadProfesionales($event)"
                                label="Profesional solicitante" placeholder="Escriba el apellido del Profesional" labelField="apellido + ' ' + nombre"
                                [required]="true">
                            </plex-select>
                        </div>

                        <!-- Profesional Destino -->
                        <div class="col-12" *ngIf="!autocitado">
                            <plex-select *ngIf="!autocitado" [(ngModel)]="modelo.solicitud.profesional" label="Profesional destino" name="profesional"
                                (getData)="loadProfesionales($event)" placeholder="Escriba el apellido de un Profesional" labelField="apellido + ' ' + nombre">
                            </plex-select>
                        </div>
                    </span>

                    <!-- /SOLICITUD ENTRADA -->


                    <!-- SOLICITUD SALIDA -->

                    <span *ngIf=" !showSeleccionarPaciente && tipoSolicitud == 'salida'">
                        <!-- Tipo Prestación origen -->

                        <div class="col-12">
                            <plex-select [(ngModel)]="modelo.solicitud.tipoPrestacionOrigen" name="tipoPrestacion" (change)="onSelect()" (getData)="loadTipoPrestaciones($event)"
                                label="Tipos de Prestación Origen" placeholder="Tipos de Prestación Origen" [required]="true">
                            </plex-select>
                        </div>
                        <!-- Profesional Origen -->
                        <div class="col-12">
                            <plex-select [(ngModel)]="modelo.solicitud.profesionalOrigen" name="profesionalOrigen" (getData)="loadProfesionales($event)"
                                label="Profesional solicitante" placeholder="Escriba el apellido del Profesional" labelField="apellido + ' ' + nombre"
                                [required]="true">
                            </plex-select>
                        </div>
                        <!-- Organización Destino -->
                        <div class="col-12">
                            <plex-select [(ngModel)]="modelo.solicitud.organizacion" name="organizacionDestino" label="Organización destino" placeholder="Seleccione la organización"
                                labelField="nombre" [data]="dataOrganizacionesDestino" [required]="true" (change)="onSelectOrganizacionDestino()">
                            </plex-select>
                        </div>
                        <!-- Tipo Prestación Destino -->
                        <div class="col-12">
                            <plex-select [(ngModel)]="prestacionDestino" name="tipoPrestacion" [data]="dataReglasDestino" label="Tipo de Prestación Solicitada"
                                placeholder="Tipos de Prestación solicitada" [required]="true" (change)="onSelectPrestacionDestino()">
                            </plex-select>
                        </div>
                        <!-- Profesional Destino -->
                        <div class="col-12">
                            <plex-select *ngIf="!autocitado" [(ngModel)]="modelo.solicitud.profesional" label="Profesional destino" name="profesional"
                                (getData)="loadProfesionales($event)" placeholder="Escriba el apellido de un Profesional" labelField="apellido + ' ' + nombre">
                            </plex-select>
                        </div>
                    </span>

                    <!-- /SOLICITUD SALIDA -->

                    <!-- MOTIVO DE CONSULTA -->
                    <div class="col-12" *ngIf=" !showSeleccionarPaciente">
                        <!-- <plex-text [(ngModel)]="registros" label="Notas / Diagnóstico / Motivo" name="registros" multiline="true"></plex-text> -->
                        <label for="registros">Notas / Diagnóstico / Motivo</label>
                        <textarea class="form-control" [(ngModel)]="motivo" name="motivo" id="registros" rows="5"></textarea>
                    </div>

                </plex-box>
            </div>
            <div class="col">
                <plex-box>
                    <header>
                        <div class="page-title"> Datos del paciente</div>
                    </header>
                    <paciente-detalle *ngIf="!showSeleccionarPaciente" [paciente]="paciente"></paciente-detalle>
                </plex-box>
            </div>
        </div>
    </section>
    <footer>
        <plex-button class="float-left mr-1" position="left" type="danger" label="Cancelar" (click)="cancelar()"> </plex-button>
        <plex-button position="right" class="float-right mr-1" type="success" label="Guardar" (click)="guardarSolicitud($event)"
            validateForm="true"> </plex-button>
    </footer>

</form>