.content {
    display: contents;
}

.bool-actualizacion {
    margin-top: 30px;
}

.rounded {
    border: #00a8e0 solid 3px;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 3rem;
}

.table {

    th,
    td {
        vertical-align: middle
    }

}

.table-container {
    th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

th.sortable {
    cursor: pointer;
}

.column-right {
    plex-badge {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}