.table-lista-solicitudes {
    
    height:100%; 
    tbody {
        display: block;
        height: calc(100vh - 362px);
        overflow: scroll;
        td:not(:first) {
            min-width: 200px !important;
        }
    }
    thead {
        display: table;
        width: calc(100% - 10px);
        table-layout: fixed;
        &:last-child{
            margin-bottom: 2rem;
        }
    }
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        &:last-child{
            margin-bottom: 2rem;
        }
    }
}

::ng-deep {
    solicitudes plex-layout-main div.plex-box-content {
        overflow-y: hidden !important;
        padding-right: 0 !important;
    }
}