<plex-layout main="{{showSidebar? 7 : 12}}" *ngIf="!showDarTurnos && !showCargarSolicitud && !showEditarReglas">
    <plex-layout-main>
        <header>
            <form #form="ngForm">
                <plex-title main titulo="{{asignadas?'Solicitudes asignadas':'Módulo de solicitudes'}}">
                    <plex-button *ngIf="!asignadas" type="success" label="Nueva Solicitud"
                                 (click)="formularioSolicitud()">
                    </plex-button>
                    <plex-button *ngIf="permisosReglas && !asignadas" type="warning" label="Reglas"
                                 (click)="editarReglas()">
                    </plex-button>

                    <plex-button *ngIf="!asignadas" type="primary" label="Reglas Global"
                                 routerLink="/top/reglasVisualizacion">
                    </plex-button>

                </plex-title>
                <div class="row mb-2">
                    <div class="col-3">
                        <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="cargarSolicitudes()"
                                       name="fechaDesde" label="Desde" class="fechas" [max]="fechaHasta">
                        </plex-datetime>
                    </div>
                    <div class="col-3">
                        <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="cargarSolicitudes()"
                                       name="fechaHasta" label="Hasta" class="fechas" [min]="fechaDesde">
                        </plex-datetime>
                    </div>
                    <div class="col-3">
                        <plex-text [(ngModel)]="paciente" name="paciente" (change)="onPacienteChange()"
                                   label="Buscar paciente" debounce="400"></plex-text>
                    </div>
                    <div class="col-1 text-right d-flex align-items-end">
                        <plex-button type="primary" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'"
                                     (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
                    </div>
                </div>
                <div class="row mb-2" *ngIf="mostrarMasOpciones">
                    <div class="col-3">
                        <plex-select [(ngModel)]="organizacion" name="organizacion" (getData)="loadOrganizacion($event)"
                                     label="Organización origen" placeholder="Seleccione la organización"
                                     labelField="nombre" (change)="cargarSolicitudes()">
                        </plex-select>
                    </div>
                    <div class="col-3">
                        <plex-select [(ngModel)]="prestacionDestino" [required]="true" name="nombrePrestacion"
                                     label="Prestación destino" name="prestacionDestino"
                                     tmPrestaciones="solicitudes:tipoPrestacion:?" (change)="cargarSolicitudes()"
                                     [preload]="true">
                        </plex-select>
                    </div>
                    <div class="col-3">
                        <plex-select [readonly]="asignadas" [(ngModel)]="estadoEntrada" (change)="cargarSolicitudes()"
                                     *ngIf="tipoSolicitud === 'entrada'" [data]="estadosEntrada" name="estado"
                                     label="Estado" ngModelOptions="{standalone: true}" (change)="cargarSolicitudes()">
                        </plex-select>
                        <plex-select [(ngModel)]="estadoSalida" (change)="cargarSolicitudes()"
                                     *ngIf="tipoSolicitud === 'salida'" [data]="estadosSalida" name="estado"
                                     label="Estado" ngModelOptions="{standalone: true}" (change)="cargarSolicitudes()">
                        </plex-select>
                    </div>
                    <div class="col-3">
                        <plex-select [(ngModel)]="prioridad" [data]="prioridades" name="prioridad" label="Prioridad"
                                     ngModelOptions="{standalone: true}" (change)="cargarSolicitudes()">
                        </plex-select>
                    </div>
                </div>
            </form>
        </header>
        <div class="mt-1">
            <plex-tabs (change)="cambio($event)" [activeIndex]="panelIndex">
                <plex-tab label="Solicitudes de Entrada" (click)="panelIndex = 0">
                    <fieldset>
                        <div class="row">

                            <div class="col-12">
                                <ng-container *ngIf="!(prestacionesEntrada?.length)">
                                    <tr>
                                        <td colspan="3">
                                            <i class="mdi mdi-emoticon-sad"></i> No hay Solicitudes
                                            programadas
                                            en
                                            este rango de fechas
                                        </td>
                                    </tr>
                                </ng-container>
                            </div>
                            <div class="col-12">

                                <table *ngIf="prestacionesEntrada?.length"
                                       class="table table-striped table-sm table-lista-solicitudes">
                                    <thead>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th *ngIf="!showSidebar">
                                            Organización Origen</th>
                                        <th *ngIf="!showSidebar">
                                            Profesional
                                            Origen</th>
                                        <th>Tipo prestación Destino</th>
                                        <th>Profesional Destino</th>
                                        <th>Prioridad</th>
                                        <th>Estado</th>
                                        <th>Operaciones</th>
                                    </thead>
                                    <tbody infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                                           (scrolled)="onScroll()" [scrollWindow]="false">
                                        <tr *ngFor="let prestacion of prestacionesEntrada; let i=index" class="hover"
                                            [ngClass]="{'bg-inverse text-white': (prestacion.seleccionada===true)}">
                                            <td (click)="seleccionar(prestacion)">{{prestacion.solicitud.fecha
                                        | fecha}}<br>
                                                <popover-audit placement="right" [data]="prestacion"
                                                               [showUpdate]="false">
                                                </popover-audit>

                                            </td>
                                            <td (click)="seleccionar(prestacion)">{{prestacion.paciente
                                        | nombre }}<br>DNI {{prestacion.paciente.documento}}</td>
                                            <td *ngIf="prestacion.solicitud.organizacionOrigen && !showSidebar"
                                                (click)="seleccionar(prestacion)">
                                                {{prestacion.solicitud.organizacionOrigen.nombre}}</td>
                                            <td *ngIf="!prestacion.solicitud.organizacionOrigen && !showSidebar"
                                                (click)="seleccionar(prestacion)"></td>
                                            <td *ngIf="prestacion.solicitud.profesionalOrigen && !showSidebar"
                                                (click)="seleccionar(prestacion)">{{prestacion.solicitud.profesionalOrigen
                                        | profesional}}</td>
                                            <td *ngIf="!prestacion.solicitud.profesionalOrigen && !showSidebar"
                                                (click)="seleccionar(prestacion)"></td>
                                            <td (click)="seleccionar(prestacion)">
                                                {{prestacion.solicitud.tipoPrestacion.term}}</td>
                                            <td *ngIf="!prestacion.solicitud?.registros[0]?.valor?.solicitudPrestacion?.autocitado"
                                                (click)="seleccionar(prestacion)">{{prestacion.solicitud.profesional
                                        | profesional}}</td>
                                            <td *ngIf="prestacion.solicitud?.registros[0]?.valor?.solicitudPrestacion?.autocitado"
                                                (click)="seleccionar(prestacion)">
                                                <plex-badge type="danger">AUTOCITADO</plex-badge>
                                            </td>
                                            <td class="text-center estado text-capitalize"
                                                (click)="seleccionar(prestacion)">
                                                <plex-badge type="danger"
                                                            *ngIf="prestacion.solicitud.registros[0].valor.solicitudPrestacion.prioridad === 'prioritario'">
                                                    {{prestacion.solicitud.registros[0].valor.solicitudPrestacion.prioridad}}
                                                </plex-badge>
                                            </td>
                                            <td *ngIf="!prestacion.solicitud.turno" class="text-center estado"
                                                (click)="seleccionar(prestacion)">
                                                <plex-badge type="info"
                                                            *ngIf="prestacion.estados[prestacion.estados.length-1].tipo !== 'rechazada' && prestacion.estados[prestacion.estados.length-1].tipo !== 'auditoria'">
                                                    {{prestacion.estados[prestacion.estados.length-1].tipo}}
                                                </plex-badge>
                                                <plex-badge type="success"
                                                            *ngIf="prestacion.estados[prestacion.estados.length-1].tipo === 'validada'">
                                                    Registro
                                                    en HUDS</plex-badge>
                                                <plex-badge type="info"
                                                            *ngIf="prestacion.estados[prestacion.estados.length-1].tipo === 'rechazada'">
                                                    CONTRARREFERIDA</plex-badge>
                                                <plex-badge type="warning"
                                                            *ngIf="prestacion.estados[prestacion.estados.length-1].tipo === 'auditoria'">
                                                    {{prestacion.estados[prestacion.estados.length-1].tipo}}
                                                </plex-badge>

                                            </td>
                                            <td *ngIf="prestacion.solicitud.turno" (click)="seleccionar(prestacion)"
                                                class="text-center estado">
                                                <plex-badge *ngIf="prestacion.estados[prestacion.estados.length-1].tipo !== 'validada'"
                                                            type="success">Turno dado</plex-badge>
                                                <plex-badge *ngIf="prestacion.estados[prestacion.estados.length-1].tipo === 'validada'"
                                                            type="success">Registro en HUDS</plex-badge>
                                            </td>
                                            <td class="text-center">
                                                <ng-container *ngIf="prestacion.solicitud.organizacion.id === auth.organizacion.id">
                                                    <span
                                                        *ngIf="darTurnoArrayEntrada[i] && prestacion?.paciente && !prestacion.solicitud.turno && prestacion.estados[prestacion.estados.length-1].tipo !== 'anulada'">
                                                        <plex-button icon="calendar-plus" type="success" (click)="darTurno(prestacion)" title="Dar Turno">
                                                        </plex-button>
                                                    </span>
                                                    <span *ngIf="auditarArrayEntrada[i]">
                                                        <plex-button icon="mdi mdi-lock-alert" type="info" (click)="auditar(prestacion)" title="Auditar Solicitud">
                                                        </plex-button>
                                                    </span>
                                                    <span *ngIf="visualizarEntrada[i]">
                                                    </span>
                                                    <span
                                                        *ngIf="prestacion.paciente && prestacion.estados[prestacion.estados.length-1].tipo === 'asignada' && prestacion.solicitud.profesional?.id === auth.profesional">
                                                        <plex-button icon="contacts" type="primary"
                                                                    (click)="setRouteToParams(['vista', prestacion.paciente.id]); setAccesoHudsParams(prestacion.paciente, null, prestacion.solicitud.tipoPrestacion.id)"
                                                                    title="Ver Huds">
                                                        </plex-button>
                                                        <plex-button icon="check" type="success"
                                                                    (click)="iniciarPrestacion(prestacion)"
                                                                    title="Iniciar prestación">
                                                        </plex-button>
                                                        <plex-button icon="calendar" type="warning"
                                                                    (click)="citar(prestacion)" title="Citar paciente">
                                                        </plex-button>
                                                    </span>
                                                    <span
                                                        *ngIf="permisoAnular && darTurnoArrayEntrada[i] && prestacion?.paciente && !prestacion.solicitud.turno && prestacion.estados[prestacion.estados.length-1].tipo !== 'anulada'">
                                                        <plex-button type="danger" icon="delete"
                                                                    (click)="anular(prestacion)" title="Anular">
                                                        </plex-button>
                                                    </span>
                                               </ng-container>

                                               <plex-badge *ngIf="prestacion.solicitud.organizacion.id !== auth.organizacion.id" type="warning">REFERIDA
                                                </plex-badge>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </plex-tab>
                <plex-tab label="Solicitudes de Salida" (click)="panelIndex = 1">
                    <fieldset>
                        <div class="row">

                            <div class="col-12">
                                <ng-container *ngIf="!(prestacionesSalida?.length)">
                                    <tr>
                                        <td colspan="3">
                                            <i class="mdi mdi-emoticon-sad"></i> No hay Solicitudes
                                            programadas
                                            en
                                            este rango de fechas
                                        </td>
                                    </tr>
                                </ng-container>
                            </div>
                            <div class="col-12 ">
                                <table *ngIf="prestacionesSalida?.length"
                                       class="table table-striped table-sm table-lista-solicitudes">
                                    <thead>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th *ngIf="!showSidebar">Profesional
                                            Origen</th>
                                        <th>Tipo de prestación Destino</th>
                                        <th>Profesional Destino</th>
                                        <th>Estado</th>
                                        <th>Operaciones</th>
                                    </thead>
                                    <tbody infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                                           (scrolled)="onScroll()" [scrollWindow]="false">
                                        <tr *ngFor="let prestacion of prestacionesSalida; let i=index" class="hover"
                                            (click)="seleccionar(prestacion)"
                                            [ngClass]="{'bg-inverse text-white': (prestacion.seleccionada===true)}">
                                            <td>
                                                {{prestacion.solicitud.fecha | fecha}}</td>
                                            <td>
                                                {{prestacion.paciente | nombre }}<br>DNI
                                                {{prestacion.paciente.documento}}</td>
                                            <td *ngIf="!prestacion.solicitud.organizacionOrigen && !showSidebar">
                                            </td>
                                            <td *ngIf="prestacion.solicitud.profesionalOrigen && !showSidebar">{{prestacion.solicitud.profesionalOrigen
                                        | profesional}}</td>
                                            <td *ngIf="!prestacion.solicitud.profesionalOrigen && !showSidebar">
                                            </td>
                                            <td>{{prestacion.solicitud.tipoPrestacion.term}}</td>
                                            <td>{{prestacion.solicitud.profesional | profesional}}</td>
                                            <td class="text-center">
                                                <ng-container
                                                              *ngIf="prestacion.estados[prestacion.estados.length-1].tipo === 'rechazada'">
                                                    <plex-badge type="info">CONTRARREFERIDA</plex-badge>
                                                </ng-container>
                                                <ng-container
                                                              *ngIf="prestacion.estados[prestacion.estados.length-1].tipo !== 'rechazada'">
                                                    <span *ngIf="!prestacion.solicitud.turno">
                                                        <plex-badge type="danger">
                                                            {{prestacion.estados[prestacion.estados.length-1].tipo}}
                                                        </plex-badge>
                                                    </span>
                                                    <span *ngIf="visualizarSalida[i]">
                                                        <plex-badge type="success">Turno Dado</plex-badge>
                                                    </span>
                                                </ng-container>
                                            </td>
                                            <td class="text-center">
                                                <span
                                                      *ngIf=" prestacion.estados[prestacion.estados.length-1].tipo == 'pendiente' && !visualizarSalida[i]">
                                                    <plex-button type="danger" icon="delete"
                                                                 (click)="cancelar(prestacion)" title="Cancelar">
                                                    </plex-button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </plex-tab>
            </plex-tabs>
        </div>

    </plex-layout-main>
    <plex-layout-sidebar>
        <div *ngIf="showDetalle">
            <plex-title main titulo="Solicitud de {{this.tipoSolicitud}}">
                <plex-button size="sm" type="danger" [icon]="'close'" (click)="cerrar()">
                </plex-button>
            </plex-title>
            <detalle-solicitud [tipoSolicitud]="tipoSolicitud" [prestacionSeleccionada]="prestacionSeleccionada"
                               [turnoSeleccionado]="turnoSeleccionado"></detalle-solicitud>
        </div>
        <div *ngIf="showAuditar">
            <auditar-solicitud [prestacionSeleccionada]="prestacionSeleccionada"
                               (returnAuditoria)="returnAuditoria($event)"></auditar-solicitud>
        </div>
        <div *ngIf="showAnular">
            <anular-solicitud [prestacionSeleccionada]="prestacionSeleccionada" (returnAnular)="returnAnular($event)">
            </anular-solicitud>
        </div>
        <div *ngIf="showCitar">
            <auditar-solicitud [prestacionSeleccionada]="prestacionSeleccionada" [showCitar]="true"
                               (returnCitar)="returnCitar($event)"></auditar-solicitud>
        </div>
        <div *ngIf="showIniciarPrestacion">
            <prestacion-solicitud [prestacionSeleccionada]="prestacionSeleccionada"
                                  (returnPrestacion)="returnPrestacion($event)">
            </prestacion-solicitud>
        </div>
    </plex-layout-sidebar>
</plex-layout>

<reglas *ngIf="showEditarReglas" (cancel)="volverReglas($event)"></reglas>
<dar-turnos *ngIf="showDarTurnos && solicitudTurno && !showCargarSolicitud" (volverAlGestor)="volverDarTurno($event)"
            (afterDarTurno)="volverDarTurno($event)" [pacienteSeleccionado]="pacienteSeleccionado"
            [solicitudPrestacion]="solicitudTurno"></dar-turnos>
<!-- <nueva-solicitud *ngIf="showCargarSolicitud" [tipoSolicitud]="tipoSolicitud"
                 (newSolicitudEmitter)=afterNewSolicitud($event)>
</nueva-solicitud> -->
<modal-motivo-acceso-huds [show]="showModalMotivo" (motivoAccesoHuds)="preAccesoHuds($event)">
</modal-motivo-acceso-huds>