@import '../../../../../modules/rup/components/variables.scss';

// MIXINS
// baseIcon
.fondoBlancoText {
    background-color: white !important;
    color: black !important;
}

.asteriscoRojo {
    color: #dd4b39;
    line-height: 20px;
    margin-bottom: 0;
    padding: 0;
}

@mixin baseIcon() {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    //background-color: white;
    padding: 12px;
}

// GENERICAS
.title-fixed {
    position: sticky !important;
    top: 0 !important;
    z-index: 99 !important;
    background-color: rgb(255, 255, 255) !important;
}

.pointer {
    cursor: pointer;
}

.scroll {
    height: 100%;
    overflow-x: auto;
}

.selected.pointer {
    border: 2px solid #5bc0de !important;
    background-color: #5bc0de15 !important;

    >.punto {
        width: 24px;
        height: 24px;
        box-shadow: inset 0 0 0 0.2em white;

        &.realizado {
            --pointState: #8cc63f;
            border: solid 2px var(--pointState);
        }

        &.no-realizado {
            --pointState: #dd4b39;
            border: solid 2px var(--pointState);
        }

        &.incompleto {
            --pointState: #ff8d22;
            border: solid 2px var(--pointState);
        }
    }
}

plex-badge.circle>span {
    border-radius: 50%;
    height: 100%;
}


// PUNTO
.punto {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;

    &.realizado {
        --pointState: #8cc63f;
        background-color: var(--pointState);
    }

    &.no-realizado {
        --pointState: #dd4b39;
        background-color: var(--pointState);
    }

    &.incompleto {
        --pointState: #ff8d22;
        background-color: var(--pointState);
    }

    &.on-hold {
        --pointState: grey;
        background-color: var(--pointState);
    }

    // modificadores de estados
    &:hover,
    &:active,
    &:focus {
        width: 24px;
        height: 24px;
        box-shadow: inset 0 0 0 0.2em white;
        border: solid 2px var(--pointState);
    }
}

// TABLE
table.plan-indicaciones {

    thead {
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
    }

    tr {

        td.pointer {
            vertical-align: middle;
        }

        &.separador {
            border: solid 2px var(--iconColor);
        }

        &.on-hold {
            background-color: #ff8d2212;
            border: 2px solid #ff8d22;
        }

        &.completed {
            background-color: #8cc63f12;
            border: 2px solid #8cc63f;
        }

        &.stopped,
        &.cancelled {
            background-color: #dd4b3912;
            border: 2px solid #dd4b39;
        }

        &.selected {
            background-color: #00a8e012;
            border: 2px solid $blue;
        }
    }


}

// Item
in-plan-indicacion {

    .item-indicacion {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: var(--rowHeight);
        width: 100%;
        min-width: min-content;
        align-items: center;
        box-sizing: border-box;

        &:hover {
            .item__acciones {
                opacity: 1;
                transition: 900ms opacity ease-in;
            }
        }

        .item__icon {
            margin-right: .25rem;
        }

        .item__container {
            display: flex;
            align-self: center;
            //max-width: 50%;
            margin-right: .5rem;
            overflow: hidden;

            plex-bool {
                align-self: center;
            }
        }

        .item-title-container {

            display: flex;

            &[center] {
                text-align: center;
            }

            &[left] {
                text-align: left;
                justify-content: start;
            }

            &--horizontal {
                flex-direction: row;
                justify-content: center;

                .icon {
                    margin-right: .25rem;
                }
            }

            &--vertical {
                flex-direction: column;
                justify-content: center;

                .icon {
                    margin-bottom: .25rem;
                }
            }

            .item__title {
                font-size: medium;
                text-align: left;
                font-weight: 500;
                text-transform: capitalize;
                color: darkslategray;

                &:hover {
                    font-weight: 600;
                    color: $blue;
                }
            }

            .item__subtitle {
                font-weight: 200;
                white-space: nowrap;
                color: gray;
            }

            h3 {
                font-size: small;
            }
        }

        &.divisor {
            height: 50px;
            padding: 0;

            div.title__container {
                height: 50px;
                position: absolute;
                left: 0;
                display: flex;
                align-items: center;

                .icon__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: white;
                    width: 50px;
                    height: 100%;
                    margin-right: .5rem;

                    --iconColor: #00bcb4;
                    background-color: var(--iconColor);

                    +.item__title {
                        color: var(--iconColor);
                    }

                    // Modificadores cromáticos
                    &--procedimiento {
                        --iconColor: #92278e;
                        background-color: var(--iconColor);

                        +.item__title {
                            --iconColor: #92278e;
                            color: var(--iconColor);
                        }
                    }

                    &--producto {
                        --iconColor: #00bcb4;
                        background-color: var(--iconColor);

                        +.item__title {
                            --iconColor: #00bcb4;
                            color: var(--iconColor);
                        }
                    }

                    &--alimentacion {
                        --iconColor: #8cc63f;
                        background-color: var(--iconColor);

                        +.item__title {
                            --iconColor: #8cc63f;
                            color: var(--iconColor);
                        }
                    }

                    &--hidratacion {
                        --iconColor: #00a8e0;
                        background-color: var(--iconColor);

                        +.item__title {
                            --iconColor: #00a8e0;
                            color: var(--iconColor);
                        }
                    }

                    &--noSeccion {
                        --iconColor: gray;
                        background-color: var(--iconColor);

                        +.item__title {
                            --iconColor: gray;
                            color: var(--iconColor);
                        }
                    }
                }

                .item__title {
                    left: 65px;
                    font-weight: bolder;
                    text-transform: capitalize;
                    font-size: normal;
                }
            }

            .item__botonera {
                right: 1rem;
                position: absolute;
            }
        }

        .item__acciones {
            // para garantizar accesibilidad
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            opacity: 0;
        }

        .item__botonera {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .badge,
            button {
                margin-right: 0.25rem;
            }
        }
    }
}

ul {
    padding: 0;
    list-style-type: none;
}


// ICONOS
.icon-container {
    display: flex;

    &[center] {
        text-align: center;
    }

    &[left] {
        text-align: left;
        justify-content: start;
    }

    &--horizontal {
        flex-direction: row;
        justify-content: center;

        .icon {
            margin-right: .25rem;
        }
    }

    &--vertical {
        flex-direction: column;
        justify-content: center;

        .icon {
            margin-bottom: .25rem;
        }
    }
}

.icon {
    @include baseIcon();
    // Valores fijos
    width: 36px;
    height: 36px;

    // Modificadores formales
    &--24 {
        i {
            font-size: 24px;
        }
    }

    // Modificadores cromáticos
    &--procedimiento {
        --iconColor: #92278e;
        -webkit-text-fill-color: var(--iconColor);
        //border: solid 2px var(--iconColor);
        color: var(--iconColor);
    }

    &--producto {
        --iconColor: #00bcb4;
        -webkit-text-fill-color: var(--iconColor);
        //border: solid 2px var(--iconColor);
        color: var(--iconColor);
    }

    &--alimentacion {
        --iconColor: #8cc63f;
        -webkit-text-fill-color: var(--iconColor);
        //border: solid 2px var(--iconColor);
        color: var(--iconColor);
    }

    &--hidratacion {
        --iconColor: #00a8e0;
        -webkit-text-fill-color: var(--iconColor);
        //border: solid 2px var(--iconColor);
        color: var(--iconColor);
    }

    &--noSeccion {
        --iconColor: gray;
        -webkit-text-fill-color: var(--iconColor);
        //border: solid 2px var(--iconColor);
        color: var(--iconColor);
    }

    // Modificadores cromáticos borders
    &--border--procedimiento {
        --iconColor: #92278e;
        -webkit-text-fill-color: var(--iconColor);
        border: solid 2px var(--iconColor);
    }

    &--border--producto {
        --iconColor: #00bcb4;
        -webkit-text-fill-color: var(--iconColor);
        border: solid 2px var(--iconColor);
    }

    &--border--alimentacion {
        --iconColor: #8cc63f;
        -webkit-text-fill-color: var(--iconColor);
        border: solid 2px var(--iconColor);
    }

    &--border--hidratacion {
        --iconColor: #00a8e0;
        -webkit-text-fill-color: var(--iconColor);
        border: solid 2px var(--iconColor);
    }

    &--border--noSeccion {
        --iconColor: gray;
        -webkit-text-fill-color: var(--iconColor);
        border: solid 2px var(--iconColor);
    }

    &--baseline {
        padding-top: 25%;
    }
}


// OVERIDE RUP READONLY
in-plan-indicacion {
    div.col-12.readonly {
        display: flex;
        flex-flow: row wrap;

        div {
            font-size: .75rem;
            margin-right: 1rem;

            & span {
                font-weight: bolder;

                p {
                    font-size: .75rem;
                    font-weight: normal;
                }
            }
        }
    }

}