<plex-layout [main]="indicacionView || indicacionEventoSelected ? 8 : 12">
    <plex-layout-main>
        <plex-title titulo="Plan de indicaciones">
            <plex-datetime [(ngModel)]="fecha" skipBy="d" size="sm" type="date" (change)="onDateChange()">
            </plex-datetime>
            <plex-button type="success" size="sm" class="ml-2" (click)="onNuevaIndicacion()">
                Nueva indicación
            </plex-button>
        </plex-title>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td rowspan="2">
                        Indicacion
                        <plex-button *ngIf="detener$ | async" type="danger" icon="stop" size="sm"
                                     (click)="onDetenerClick()" tooltip="Suspender"></plex-button>
                        <plex-button *ngIf="pausar$ | async" type="warning" icon="pause" size="sm"
                                     (click)="onPausarClick()" tooltip="Pausar"></plex-button>
                        <plex-button *ngIf="continuar$ | async" type="success" icon="play" size="sm"
                                     (click)="onContinuarClick()" tooltip="Continuar"></plex-button>
                        <plex-button *ngIf="completar$ | async" type="success" icon="check" size="sm"
                                     (click)="onCompletarClick()" tooltip="Completar"></plex-button>
                    </td>
                    <td colspan="8">
                        Mañana
                    </td>
                    <td colspan="8">
                        Tarde
                    </td>
                    <td colspan="8">
                        Noche
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let hora of horas">
                        {{ hora}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let indicacion of indicaciones">
                    <tr [ngClass]="indicacion.estado.tipo">
                        <td justify>
                            <span>
                                <plex-bool type="checkbox" [(ngModel)]="selectedIndicacion[indicacion.id]"
                                           (change)="onSelectedChange()"> </plex-bool>
                                {{ indicacion.concepto.term }}
                            </span>
                            <plex-button type="info" size="sm" (click)="onSelectIndicacion(indicacion)">
                                <plex-icon name="eye"></plex-icon>
                            </plex-button>
                        </td>
                        <td *ngFor="let hora of horas" class="pointer"
                            [class.selected]="indicacionEventoSelected?.id === indicacion.id && hora === horaSelected"
                            (click)="onIndicacionesCellClick(indicacion, hora)">


                            <span *ngIf="eventos[indicacion.id] && eventos[indicacion.id][hora]" class="punto"
                                  [ngClass]="eventos[indicacion.id][hora].estado"></span>

                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>

    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <ng-container *ngIf="indicacionView">
            <in-indicacion-detalle [indicacion]="indicacionView">
                <plex-button type="danger" size="sm" icon="close" (click)="onClose()"></plex-button>
            </in-indicacion-detalle>
        </ng-container>
        <ng-container *ngIf="indicacionEventoSelected">
            <in-plan-indicacion-evento [hora]="horaSelected" [indicacion]="indicacionEventoSelected" [fecha]="fecha"
                                       [evento]="eventos[indicacionEventoSelected.id] && eventos[indicacionEventoSelected.id][horaSelected]"
                                       (events)="onEventos($event)">
            </in-plan-indicacion-evento>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>