// Plex
@import '~@andes/plex/src/lib/styles.scss';

// IMPORTS DE MÓDULOS

// RUP
@import './src/app/styles/rup/rup';

// OTROS

.table-striped {
  font-size: 0.85em;
  .text-success {
    color: $green !important;
  }
  .bg-primary {
    background-color: $dark-blue !important;
  }
}

.plex-box-content .h4 {
  display: inline-block;
  height: 38px;
}

.agendas-headings {
  width: 100%;
  padding-top: 15px;
}

.agendas-titles {
  position: relative;
  top: 15px;
  left: 5px;
}

// .agendas-list {
//     position: relative;
//     top: -15px;
// }
.td-calendario {
  position: relative;
  border-right: 1px solid #eceeef;
  .badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-weight: normal;
  }
}

.consulta {
  color: white;
}

.invert {
  background-color: #002738;
  color: white;
}

h5.nombre-paciente {
  color: black;
  font-weight: 300;
}

h6.subtitulo-paciente {
  font-weight: normal;
  line-height: 3px;
}

h5.nombre-usuario {
  color: black;
  font-weight: 300;
}

.contenedor-subdata {
  border-left: solid 1px #111111;
  padding-left: 15px;
  padding-right: 15px;
}

h6.subdata-paciente {
  font-weight: bolder;
}

h6.subdata-descripcion {
  font-weight: 400;
  line-height: 2px;
}

[class^="badge-"],
[class^="label-"] {
  margin: 0px !important;
}

.plex-box header {
  padding-bottom: 10px;
}

legend {
  padding-bottom: 10px;
}

