<plex-layout [main]="seguimiento || showAsingar ? 8 : 12">
    <plex-layout-main>
        <ng-container *ngIf="!selectedLlamado">
            <plex-title titulo="Seguimiento de Pacientes">
                <plex-button *ngIf="anyChecked" class="mr-1" type="warning" size="md" label="Asignar"
                             (click)="displayAsignar()">
                </plex-button>
                <plex-button type="success" size="md" label="Buscar" (click)="buscar()">
                </plex-button>
            </plex-title>
            <form autosave="seguimiento-filtros" autosaveType="session" (restore)="buscar()">
                <plex-grid size="lg" type="full">
                    <plex-wrapper #wrapper (change)="changeCollapse($event)">
                        <plex-datetime grow="1" type="date" [(ngModel)]="fechaDesde" name="fechaDesde" label="Desde"
                                       [max]="fechaHasta">
                        </plex-datetime>
                        <plex-datetime grow="1" type="date" [(ngModel)]="fechaHasta" name="fechaHasta" label="Hasta"
                                       [min]="fechaDesde">
                        </plex-datetime>
                        <plex-select grow="1" name="estado" [data]="estadosSeguimiento" label="Estado"
                                     [(ngModel)]="estado" labelField="nombre">
                        </plex-select>
                        <plex-select grow="1" name="prioridad" (getData)="getOpcionesSemaforo($event)" label="Prioridad"
                                     [(ngModel)]="prioridad" labelField="label">
                        </plex-select>
                        <div collapse>
                            <plex-select grow="1" name="nombre" tmProfesionales label="Profesional"
                                         [(ngModel)]="profesional">
                            </plex-select>
                            <plex-text [(ngModel)]="documento" name="documento" label="Documento"></plex-text>
                            <plex-bool *ngIf="esAuditor" type="slide" name="asignados" label="Ocultar Asignados"
                                       [(ngModel)]="asignados" (change)="buscar()">
                            </plex-bool>
                        </div>
                    </plex-wrapper>
                </plex-grid>
            </form>
            <div *ngIf='(seguimientos$ | async)?.length'>
                <plex-list [striped]="false" height="calc(100vh - 280px)" (scrolled)="onScroll()">
                    <plex-title titulo="listado" size="md">
                        <plex-dropdown size="sm" type="info" class="mr-1" [right]="true" label="Ordenar"
                                       [items]="itemsOrden">
                        </plex-dropdown>
                        <plex-button type="info" size="sm" icon="download" (click)="descargarListadoCsv()"
                                     tooltip="Descargar csv">
                        </plex-button>
                        <plex-badge class="ml-1" type="info" name="totalResultados">Total: {{ totalResultados
                            }}</plex-badge>
                    </plex-title>
                    <plex-item>
                        <plex-bool *ngIf="esAuditor" name="all" (change)="selectAll($event)" [(ngModel)]="allSelected">
                        </plex-bool>
                        <b label> Paciente </b>
                        <b label> Teléfono </b>
                        <b *ngIf="esAuditor" label> Asignado a </b>
                        <b label> Estado </b>
                        <b label> Acción </b>
                    </plex-item>
                    <ng-container *ngFor="let seguimiento of seguimientos$ | async">
                        <ng-container *ngIf="seguimiento | seguimientoFields as fields">
                            <plex-item [colors]="getColorPrioridad(seguimiento.score.value)"
                                       (click)="!anyChecked ? selectSeguimiento(seguimiento) : $event.preventDefault()">
                                <plex-bool *ngIf="esAuditor" name="all" (change)="onCheck($event)"
                                           [(ngModel)]="checkedSeguimientos[seguimiento.id]">
                                </plex-bool>
                                <plex-label [tituloBold]="true" titulo="{{ seguimiento.paciente | nombre}}"
                                            subtitulo="{{ seguimiento.paciente.documento}}"></plex-label>
                                <plex-label [tituloBold]="true" titulo="{{ seguimiento.paciente.telefonoActual }}">
                                </plex-label>
                                <plex-label *ngIf="esAuditor" [tituloBold]="true"
                                            titulo="{{ fields.profesionalAsignado }}">
                                </plex-label>
                                <div>
                                    <!-- mejorar esta parte -->
                                    <plex-badge *ngIf="seguimiento.score.value >=6" type="danger"
                                                tooltip="Persona de riesgo">
                                        <plex-icon type="danger" name="bell"></plex-icon>
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.internacion" type="danger"
                                                tooltip="Paciente Internado">
                                        <plex-icon type="danger" name="camilla"></plex-icon>
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.ultimoEstado.clave === 'pendiente'" type="warning"
                                                class="ml-1">
                                        Pendiente
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.ultimoEstado.clave === 'seguimiento'" type="info"
                                                icon="phone" class="ml-1">
                                        {{ seguimiento.ultimoEstado.valor | date:"dd/MM/yyy HH:mm" }} <plex-icon
                                                   size="sm" name="phone" type="info">
                                        </plex-icon>
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.ultimoEstado.clave === 'seguimiento'" type="warning"
                                                icon="phone" class="ml-1">
                                        {{ seguimiento.llamados.length }} <plex-icon size="sm" name="phone"
                                                   type="warning">
                                        </plex-icon>
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.ultimoEstado.clave === 'alta'" type="success"
                                                class="ml-1">De
                                        alta
                                    </plex-badge>
                                    <plex-badge *ngIf="seguimiento.ultimoEstado.clave === 'fallecido'" type="danger"
                                                class="ml-1">
                                        Fallecido
                                    </plex-badge>
                                </div>
                                <div>
                                    <plex-button *ngIf="seguimiento.ultimoEstado.clave === 'pendiente'" type="success"
                                                 size="sm" tooltip="Iniciar Seguimiento" label="Iniciar" class="ml-4"
                                                 (click)="iniciarSeguimiento(seguimiento);$event.stopPropagation()">
                                    </plex-button>
                                    <plex-button *ngIf="seguimiento.ultimoEstado.clave === 'seguimiento'" type="success"
                                                 size="sm" tooltip="Continuar Seguimiento" label="Continuar"
                                                 class="ml-4"
                                                 (click)="iniciarSeguimiento(seguimiento);$event.stopPropagation()">
                                    </plex-button>
                                    <plex-button type="info" size="sm" tooltip="Actualizar Datos" class="ml-1"
                                                 icon="pencil" [disabled]="anyChecked"
                                                 (click)="actualizarSeguimiento(seguimiento);$event.stopPropagation()">
                                    </plex-button>
                                </div>
                            </plex-item>
                        </ng-container>
                    </ng-container>
                </plex-list>
            </div>

            <div *ngIf="!(seguimientos$ | async)?.length && !inProgress" class="h-50" justify="center">
                <plex-label class="flex-column" icon="magnify" type="info" size="xl" direction="column"
                            [titulo]="query ? 'No hay resultados' : 'Realice una búsqueda'"
                            subtitulo="Complete los filtros deseados y presione Buscar Seguimientos">
                </plex-label>
            </div>
        </ng-container>
        <vista-prestacion *ngIf="selectedLlamado" [idPrestacion]="selectedLlamado">
            <plex-button type="danger" size="sm" icon="close" title="Cerrar" (click)="verLlamado(null)">
            </plex-button>
        </vista-prestacion>
    </plex-layout-main>
    <plex-layout-sidebar *ngIf="seguimiento" type="invert">
        <detalle-seguimiento *ngIf="!actualizacionSeguimiento" [seguimiento]="seguimiento" (close)="closeSideBar()"
                             (selectLlamado)="verLlamado($event)">
        </detalle-seguimiento>
        <actualizar-seguimiento *ngIf="actualizacionSeguimiento" [seguimiento]="seguimiento" (close)="closeSideBar()"
                                (save)="reload()"></actualizar-seguimiento>
    </plex-layout-sidebar>
    <plex-layout-sidebar *ngIf="showAsingar" type="invert">
        <asignar-seguimientos (close)="closeSideBar()" (save)="asignarProfesional($event)"></asignar-seguimientos>
    </plex-layout-sidebar>
</plex-layout>