.image-container {
    background-color: #fdfdfd;
    padding: 0 10px 0 10px;
}

.image {
    position: relative;
    display: inline-block;
    margin: 6px;
}

.app-waiting {
    display: inline-block;
}

.image img {
    width: 86px;
    height: 86px;
}

.x-mark {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    float: right;
    background-color: black;
    opacity: .7;
    color: white;
    margin: 2px;
}

.close {
    width: 20px;
    height: 20px;
    opacity: .7;
    position: relative;
    padding-right: 3px;
}

.x-mark:hover .close {
    opacity: 1;
}

.close:before,
.close:after {
    border-radius: 2px;
    position: absolute;
    content: '';
    height: 16px;
    width: 2px;
    top: 2px;
    background-color: #FFFFFF;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
.thumbnail {
    max-width: 40%;
}

.lightbox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.previous {
    color: #ffffff;
    position: fixed;
    left: 4px;
    top: 40%;
    /* width: 40px; */
    font-size: 90px;
}

.next {
    color: #ffffff;
    position: fixed;
    right: 4px;
    top: 40%;
    /* width: 40px; */
    font-size: 90px;
}

.parpadeo {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
