<div>
    <input type="file" (change)="changeListener($event)" style="display:none;" #upload>
    <div *ngIf="!waiting && !soloValores">
        <plex-button type="primary" label="Cargar documentos" title="Cargar documentos" (click)="upload.click()"></plex-button>
        o
        <plex-button *ngIf="!waiting" type="primary" label="Desde AppMobile" title="Desde AppMobile" (click)="fromMobile()"></plex-button>
    </div>
    <div *ngIf="waiting">
        <plex-loader class="app-waiting" type="ball-pulse-sync"></plex-loader>
        <plex-button  type="primary" label="Cancelar" title="Cancelar" (click)="cancelar()"></plex-button>
    </div>
    <div class="image-container hr-inline-group" *ngIf="fotos">
        <ng-container *ngFor="let doc of fotos; let i = index">
            <a (click)="activaLightbox(i)">
                <div class="image" >

                    <img [src]="doc.file" alt="" *ngIf="doc.ext !== 'pdf'" >
                    <img src="assets/img/pdf.png" alt="" *ngIf="doc.ext === 'pdf'" >
                    <div *ngIf="!soloValores" class="x-mark" (click)="imageRemoved(doc)">
                        <span class="close"></span>
                    </div>
                </div>
            </a>

            <div (click)="lightbox = false" *ngIf="soloValores && i === indice && lightbox" [ngClass]="{'lightbox': i === indice && lightbox }">
                <i (click)=imagenPrevia(i) class="mdi mdi-chevron-double-left previous parpadeo"></i>
                <img [src]="doc.file" alt="" *ngIf="doc.ext !== 'pdf'" >
                <img src="assets/img/pdf.png" alt="" *ngIf="doc.ext === 'pdf'" >
                <i (click)=imagenSiguiente(i) class="mdi mdi-chevron-double-right next parpadeo"></i>
            </div>
        </ng-container>
    </div>


</div>
