@import '../core/variables';

form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105px;
    flex-direction: column;
    height: auto;
}

.image-container {
    background-color: #fdfdfd;
    padding: 0 10px 0 10px;
}

.image {
    position: relative;
    display: inline-block;
    margin: 6px;
}

.app-waiting {
    display: inline-block;
}

.subir-documento {
    min-height: 105px;
}

a.adjunto {
    display: inline-block;
    width: 60px;
    height: 86px;
    color: white;
    background-color: #b9c512;
    border-radius: 10px 1px 1px 1px;
    padding-top: 25px !important;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.image img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 86px;
}

audio {
    height: 45px;
    width: 220px;
    max-height: 125px;
}

video {
    height: auto;
    width: 220px;
    max-height: 125px;
}


.x-mark {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    float: right;
    background-color: black;
    opacity: .7;
    color: white;
    margin: 2px;
}

.close {
    width: 20px;
    height: 20px;
    opacity: .7;
    position: relative;
    padding-right: 3px;
}

.x-mark:hover .close {
    opacity: 1;
}

.close:before,
.close:after {
    border-radius: 2px;
    position: absolute;
    content: '';
    height: 16px;
    width: 2px;
    top: 2px;
    background-color: #FFFFFF;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.thumbnail {
    max-width: 40%;
}

.lightbox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.previous {
    color: #ffffff;
    position: fixed;
    left: 4px;
    top: 40%;
    /* width: 40px; */
    font-size: 90px;
}

.next {
    color: #ffffff;
    position: fixed;
    right: 4px;
    top: 40%;
    /* width: 40px; */
    font-size: 90px;
}

.parpadeo {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 5px;

    .adjunto {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 225px;
        border: 0;
        margin-right: 2px;
        background-color: #5b5b5b;

        // &:hover {
        //     border: 2px inset #e2e2e2;
        //     transition: all ease .25s;
        // }
        .img-container {
            display: flex;
            justify-content: center;
            // max-height: 300px;
            height: 220px;
            overflow: hidden;
            position: relative;

            .miniatura {
                height: 100%;
                max-height: 220px;
            }

            plex-button {
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }

        // Meh
        .blend-overlay {
            padding: 5px;
            background: #3f3f3f;
            position: relative;
            bottom: 0px;
            width: 225px;
            height: 90px;

            .info-container {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-left: 5px;
                width: 100%;

                .fecha {
                    align-self: flex-start;
                    justify-self: flex-end;
                    margin-top: 8px;
                }

                .term {
                    display: flex;
                    align-items: flex-end;
                    height: 45px;
                    font-size: .7rem;
                    color: #e2e2e2;
                    margin-top: 4px;
                }
            }
        }

        .form-container {
            padding: 0 5px;

            input {
                border: 1px solid lightgray;
            }
        }
    }

    .agregar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 224px;
        height: inherit;
        border: 0;
        background-color: $blue;
        position: relative;

        .dropdown-menu {
            width: 224px;
            justify-content: center;
            display: flex;
            transition: all ease .25s;
        }

        .dropdown-toggle::after {
            display: none;
        }

    }

    .agregar-overlay {
        position: absolute;
        width: 224px;
        height: inherit;
        z-index: 1;
        pointer-events: auto;

        &:hover {
            border: 1px solid #e2e2e2;
            transition: all ease .25s;
        }
    }
}

.font-size-150 i {
    font-size: 150px;
    color: #ddd;
}