<div *ngIf="!soloValores">
    <plex-text label="Motivo" multiline=true autoFocus=1 [(ngModel)]="registro.valor.motivo"></plex-text>

    <plex-select [(ngModel)]="registro.valor.prestacionSeleccion" name="nombrePrestacion" label="Seleccionar prestación" [data]="tiposPrestacion"
        labelField="term">
    </plex-select>
</div>

<div *ngIf="soloValores">
    <p>
        <b>Motivo:</b>
        {{registro.valor.motivo}}
        <br>
        <b>Prestación solicitada:</b>
        {{ registro.valor.prestacionSeleccion.fsn[0].toUpperCase() + registro.valor.prestacionSeleccion.fsn.slice(1) }}
    </p>
</div>