<ng-container *ngIf="elementoRUP.requeridos && elementoRUP.requeridos.length">
    <ng-container *ngIf="!soloValores && params">
        <label for="desarrolloPsicomotor">
            {{ params.titulo }}
        </label>
        <ng-container *ngFor="let item of elementoRUP.requeridos; let i = index">
            <rup [elementoRUP]="item.elementoRUP" [params]="item.params" [prestacion]="prestacion" [registro]="registro.registros[i]"
                [soloValores]="false">
            </rup>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="soloValores">
        <p *ngIf="soloValores" class="readonly">
            <span>{{ registro.nombre }}</span>
            {{registro.valor }}
        </p>
    </ng-container>
