<form #form="ngForm" *ngIf="paciente">

    <ng-container *ngIf="!soloValores && referenceSet.length > 0 && registro.valor.estado !== 'transformado' && !vistaHUDS">
        <div class="row">
            <div class="col-12">
                <span *ngIf="hallazgoOrigen" class="badge badge-info">
                    Originado con la transformación de:
                    <strong>{{ hallazgoOrigen.nombre }}</strong>
                </span>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </ng-container>

    <div *ngIf="!soloValores && registro.valor.estado !== 'transformado'">
        <div *ngIf="elementoRUP && registro">
            <div class="row" *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones && registro.concepto.semanticTag === 'trastorno'">
                <div class="col">
                    <strong>Inicio del Hallazgo: {{hallazgoHudsCompleto?.evoluciones[0].fechaInicio | fecha}} </strong>
                </div>
            </div>
            <div class="row" *ngIf="registro.concepto.semanticTag === 'trastorno'">
                <!--ESTADO DEL PROBLEMA-->
                <div class="col-4">
                    <label class="box-title-secundario">Estado actual</label>
                    <plex-select [(ngModel)]="registro.valor.estado" name="estadoActual" [data]="estados" [required]="true"
                        (change)="formatearEstado()">
                    </plex-select>
                </div>

                <!--INICIO ESTIMADO DEL PROBLEMA-->

                <!--FECHA ESTIMADA-->
                <div class="col" *ngIf="!hallazgoHudsCompleto">
                    <label class="box-title-secundario">Fecha estimada</label>
                    <div class="row">
                        <plex-int class="col-6 d-inline" [(ngModel)]="inicioEstimadoUnidad" name="inicioEstimadoUnidad"
                            prefix="Hace" (change)="calcularFecha()"></plex-int>
                        <plex-select class="col-6 d-inline" [(ngModel)]="inicioEstimadoTiempo" name="inicioEstimadoTiempo"
                            [data]="unidadTiempo" (change)="calcularFecha()"></plex-select>
                    </div>
                </div>
            </div>

            <!--EVOLUCION DEL PROBLEMA-->
            <div class="row">
                <div class="col-12">
                    <plex-text label="{{ registro.concepto.semanticTag !== 'trastorno' ? 'Observaciones' : 'Evolución' }}"
                        placeholder="{{ registro.concepto.semanticTag !== 'trastorno' ? 'Observaciones' : 'Ingrese una evolución' }}"
                        [(ngModel)]="registro.valor.evolucion" name="evolucion" [height]="100" [html]="true" [readonly]="false"
                        (change)="emitChange()">
                    </plex-text>
                </div>
            </div>

        </div>

        <!--Listado de evoluciones-->
        <ng-container *ngIf="evoluciones && evoluciones.length > 0">
            <div class="row">
                <div class="col-12">
                    <label class="box-title-secundario" for="comment">Evoluciones Anteriores:</label>
                </div>
            </div>


            <div class="row anteriores mr-0 pr-0 ml-0">
                <div class="col-5 text-left border border-right-0 border-secondary pl-0">
                    <plex-button *ngIf="indice > 0" type="info" icon="chevron-left" class="mdi-18px" (click)="cambiarEvolucion('-') "></plex-button>
                    <plex-button *ngIf="indice === 0" type="default" icon="chevron-left" class="mdi-18px"></plex-button>
                </div>
                <div class="col-2 text-center border border-left-0 border-right-0 border-secondary pt-2">
                    {{ evolucionActual?.fechaCarga | fecha }}
                </div>
                <div class="col-5 text-right border border-left-0 border-secondary pr-0">
                    <plex-button *ngIf="evoluciones.length > 1 && indice < (evoluciones.length-1)" type="info" icon="chevron-right"
                        class="mdi-18px" (click)="cambiarEvolucion('+') "></plex-button>
                    <plex-button *ngIf="evoluciones.length <= 1 || indice === (evoluciones.length-1)" type="default"
                        icon="chevron-right" class="mdi-18px"></plex-button>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <br>
                    <strong>Evolución:</strong><br>
                    <span [innerHTML]="evolucionActual.evolucion"></span>
                </div>
                <div class="col-4 text-right">
                    <br>
                    <strong>Profesional:</strong> {{ evolucionActual.profesional }}
                </div>
            </div>
            <div class="row">
                <div class="col" *ngIf="evolucionActual?.informeRequerido">
                    <hr>
                    <label>Informe Del Encuentro:</label>
                    <ng-container *ngIf="evolucionActual.informeRequerido?.valor;then showMensaje else showContenidoValor"></ng-container>
                    <ng-template #showContenidoValor>
                        No tiene registrado el informe
                    </ng-template>
                    <ng-template #showMensaje>
                        <span [innerHTML]="evolucionActual.informeRequerido.valor"></span>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- Hallazgos -->
    <ng-container *ngIf="registro && (soloValores || registro.valor.estado === 'transformado')">
        <div class="row" *ngIf="registro.valor.evolucion">
            <div class="col-8 readonly">
                <span>Evolución </span>
                <span [innerHTML]="registro.valor.evolucion"></span>
            </div>
            <div class="col-4 readonly" *ngIf="registro.concepto.semanticTag === 'trastorno'">
                <span>Inicio aproximado </span>
                <ng-container *ngIf="!hallazgoHudsCompleto">{{ registro.valor.fechaInicio ? (registro.valor.fechaInicio
                    | fromNow) : 'sin fecha aproximada' }}
                </ng-container>
                <ng-container *ngIf="hallazgoHudsCompleto">
                    {{ hallazgoHudsCompleto.evoluciones[0].fechaInicio | fromNow }}
                </ng-container>
            </div>
        </div>

        <!-- Listado de evoluciones al visualizar el hallazgo independiente de una prestacion -->
        <div class="solo-valores-grid hallazgos">
            <ng-container *ngIf="registro?.evoluciones">
                <div class="columna">
                    <div class="concepto prestacion-offset">
                        <h3 *ngIf="registro?.concepto">
                            {{ registro.concepto.term[0].toUpperCase() + registro.concepto.term.slice(1) }}
                        </h3>
                        <div>
                            <span class="badge badge-{{ registro.concepto.semanticTag }}">
                                {{ registro.concepto.semanticTag }}</span>
                        </div>
                    </div>

                    <div class="divisor">
                        <div class="datos-prestacion">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" width="30px" height="30px" viewBox="0 0 20 20" enable-background="new 0 0 20 20"
                                xml:space="preserve">
                                <path fill="#10A6E0" d="M0,9.461c0,5.219,4.246,9.464,9.464,9.464c5.216,0,9.462-4.245,9.462-9.464C18.926,4.244,14.68,0,9.464,0
                                            c-1.907,0-3.764,0.582-5.33,1.648L2.681,0.194L1.512,4.679L6,3.51L4.981,2.492c1.332-0.855,2.886-1.323,4.483-1.323
                                            c4.574,0,8.295,3.718,8.295,8.292c0,4.573-3.721,8.295-8.295,8.295s-8.295-3.722-8.295-8.295H0z" />
                                <polygon fill="#10A6E0" points="13.306,8.31 10.616,8.31 10.616,5.62 8.31,5.62 8.31,8.31 5.62,8.31 5.62,10.616 8.31,10.616 
                                            8.31,13.306 10.616,13.306 10.616,10.616 13.306,10.616" />
                            </svg>
                            <h5 class="ml-1 text-primary evoluciones">Evoluciones</h5>
                        </div>
                        <div class="justify-content-end nav-fecha">
                            <div [ngClass]="{'text-black-50': indice === registro.evoluciones.length - 1, 'hover': indice < registro.evoluciones.length - 1}"
                                class="menu-left mr-2 semantic-text-{{ registro.concepto.semanticTag }}" (click)="cambiarEvolucion('+')"></div>
                            {{ evolucionActual?.fechaCarga | fecha }}
                            <div [ngClass]="{'text-black-50': indice === 0, 'hover': indice > 0}" class="menu-right ml-2 semantic-text-{{ registro.concepto.semanticTag }}"
                                (click)="cambiarEvolucion('-')"></div>
                            <!-- fechaCarga es registro.createdAt -->
                        </div>
                    </div>

                    <!-- <ng-container *ngFor="let evolucion of registro.evoluciones"> -->
                    <div class="borde-datos ml-3 pl-2 pt-1">
                        <div class="mp-2 mb-2">
                            <ng-container *ngIf="registro?.evoluciones[indice]?.evolucion">
                                <b>Evolución: </b>
                                <span [innerHTML]="registro.evoluciones[indice].evolucion"></span>
                            </ng-container>
                            <!-- <div>
                            <span [innerHTML]="prestacionesService.mostrarInformeRelacionado(paciente, registro?.evoluciones[indice], registro.concepto)"></span>
                        </div> -->
                            <b>Informe del Encuentro: </b>
                            <ng-container *ngIf="evolucionActual?.informeRequerido?.valor">
                                <div [innerHTML]="evolucionActual.informeRequerido.valor"></div>
                            </ng-container>
                            <ng-container *ngIf="!evolucionActual?.informeRequerido?.valor">
                                <br>
                                No tiene registrado el informe
                            </ng-container>
                        </div>
                        <div class="columna-completa align">
                            <!-- ({{ registro.concepto.semanticTag }}) -->
                            <b>Estado:</b><br>
                            <div>
                                <span *ngIf="registro?.valor?.estado !== ''" class="badge badge-success">
                                    <ng-container *ngIf="registro?.valor?.estado">
                                        {{ registro?.valor?.estado }}
                                    </ng-container>
                                    <ng-container *ngIf="hallazgoHudsCompleto">
                                        {{ hallazgoHudsCompleto.evoluciones[0].estado }}
                                    </ng-container>
                                    <ng-container *ngIf="!hallazgoHudsCompleto && !registro.evoluciones">
                                        {{ registro.valor.estado }}
                                    </ng-container>
                                    <ng-container *ngIf="!hallazgoHudsCompleto && registro.evoluciones">
                                        {{ registro.evoluciones[0].estado }}
                                    </ng-container>
                                </span>
                                <ng-container *ngIf="registro?.evoluciones[0].fechaInicio">
                                    ({{ registro.evoluciones[0].fechaInicio | fromNow }})
                                </ng-container>
                                <ng-container *ngIf="!registro?.evoluciones[0].fechaInicio && !registro?.valor.fechaInicio">
                                    (Sin registro)
                                </ng-container>
                            </div>
                        </div>
                        <div class="d-flex" *ngIf="registro.esPrimeraVez">
                            <span class="badge badge-info">Primera vez</span>
                        </div>
                        <div class="d-flex">
                            <span *ngIf="registro.transformado" class="badge badge-info">
                                Transformado en: {{ registro.transformado.concepto.term ?
                                registro.transformado.concepto.term : ''}}
                            </span>
                            <span *ngIf="hallazgoOrigen" class="badge badge-info">
                                Originado con la transformación de:
                                <b>{{ hallazgoOrigen.nombre }}</b>
                            </span>
                        </div>
                        <div class="columna-completa">
                            <b>Profesionales: </b><br>
                            <span>
                                {{ registro?.evoluciones[indice].profesional }}
                            </span>
                        </div>

                        <div class="columna-completa">
                            <!-- VER QUE FUNCIONEN LAS RELACIONES -->
                            <b class="relaciones" *ngIf="registro?.evoluciones[indice]?.relacionadoCon?.length > 0">Relacionado
                                con:</b>
                            <div>
                                <ng-container *ngFor="let relacion of registro?.evoluciones[indice].relacionadoCon; let r=index">
                                    <ng-container *ngIf="relacion?.concepto?.term">
                                        <span class="badge badge-{{ relacion?.concepto?.semanticTag }}">
                                            {{ relacion?.cara ? 'diente ' + relacion?.concepto?.term + ' (' +
                                            (relacion?.cara !== 'pieza completa' ? 'cara ' + relacion?.cara :
                                            relacion?.cara) + ')' : relacion?.concepto?.term }}
                                        </span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- </ng-container> -->
                </div>

                <div class="columna prestacion-offset">
                    <div class="concepto border-0">&nbsp;</div>
                    <div class="divisor">
                        <div class="datos-prestacion">
                            <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="36px" version="1.1"
                                viewBox="0 0 35 50" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                <path d="M23.14,0H2.512C1.127,0,0,1.128,0,2.513v35.961c0,1.385,1.127,2.512,2.512,2.512H27.78
                                    c1.385,0,2.513-1.127,2.513-2.512V7.771L23.14,0z M23.734,3.761l3.135,3.408h-3.135V3.761z M28.183,38.471
                                    c0,0.224-0.181,0.404-0.402,0.404H2.512c-0.221,0-0.401-0.181-0.401-0.404V2.513c0-0.222,0.181-0.402,0.401-0.402H21.62v6.113
                                    c0,0.582,0.477,1.053,1.059,1.053h5.504V38.471z M24.548,30.236"
                                    fill="rgb(16, 166, 224)"></path>
                                <path d="M19.876,14.338c-0.277-0.026-0.536-0.039-0.779-0.039c-1.947,0-2.881,0.841-3.951,2.115
                                    c-1.069-1.274-2.003-2.115-3.951-2.115c-0.243,0-0.502,0.013-0.778,0.039c-1.685,0.166-3.634,1.708-3.871,4.665v0.983
                                    c0.22,2.831,2.357,6.321,8.601,10.701c6.244-4.38,8.381-7.87,8.602-10.701v-0.983C23.51,16.046,21.562,14.504,19.876,14.338z
                                     M19.156,23.85c-0.809-0.001,3.272-3.849,0.155-6.642c-0.662-0.536-0.582-0.976-0.118-1.162c0.463-0.186,1.021,0.149,1.479,0.555
                                    C23.869,19.399,19.965,23.85,19.156,23.85z"
                                    fill="rgb(16, 166, 224)"></path>
                            </svg>

                            <h5 class="text-primary">Datos de la Prestación</h5>
                        </div>
                        <div *ngIf="prestacion?.ejecucion?.fecha" class="justify-content-end align-items-center">
                            {{ prestacion.solicitud.fecha | fecha }}
                        </div>
                    </div>
                    <div class="borde-datos ml-3 pl-2 pt-2">
                        <div *ngIf="prestacion?.solicitud?.profesional" class="columna-datos d-flex justify-content-between mb-2">
                            <span>Prestación: </span> <span class="text-capitalize">{{
                                prestacion.solicitud.tipoPrestacion.term }}</span>
                        </div>
                        <div *ngIf="prestacion?.solicitud?.profesional" class="columna-datos d-flex justify-content-between mb-2">
                            <span>Profesional: </span> <span class="text-capitalize">
                                {{ prestacion.solicitud.profesional.apellido }}, {{
                                prestacion.solicitud.profesional.nombre }}</span>
                        </div>
                        <div class="columna-completa">
                            <div class="columna-datos no-border d-flex justify-content-between mb-2">
                                <span>Otros registros de la Prestación: </span>
                            </div>
                            <ng-container *ngFor="let registro of prestacion?.ejecucion?.registros">
                                <span class="mb-1">
                                    <span class="badge badge-{{ registro.concepto.semanticTag }}">
                                        {{ registro.concepto.term }}
                                    </span>
                                </span><br>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</form>