.concepto {
    display: grid;
    grid-template-columns: .5fr;
    font-size: 1.75rem;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
    padding-bottom: 3px;
    align-items: flex-end;
    h3 {
        margin-bottom: 0;
        font-weight: 600;
        text-transform: capitalize;
    }
}
.solo-valores-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;



    .columna {

        .prestacion-offset {
            display: flex;
            justify-content: space-between;
            grid-column: 1/2;
        }
        div:not(:first-of-type) {
            display: grid;
            grid-template-columns: 1fr .25fr;
                div:nth-child(2) {
                    display: flex;
                    // justify-content: center;
                }
        }
        .columna-completa {
            grid-column: 1/3 !important;
            display: grid !important;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        
        }
        .divisor {
            border-bottom: 2px solid gray;
            
        }

        .borde-evolucion {
            border-left: 2px solid gray;
        }

        .evoluciones {
            display: flex;
            align-content: center;
            padding-left: 4px;

            h5 {
                font-size: 1.5rem;
            }
            div {
                display: flex;
            
            }
            
        }

        .evolucion {
            grid-column: 1/2;
        }
        .nav-fecha {
            align-items: center;
            height: 30px;
        }
        .text-black-50 {
            color: darkgray;
        }
    }
    
    .columna-datos {
        grid-column: 1/3;
        border-bottom: 2px solid darkgray;
        span {
            font-size: 1rem;
            color: gray;
        }
        &.no-border{
            border-bottom: 0;
        }
    }


    .badge {
        font-size: 1rem !important; 
    }
}