<form #form="ngForm" *ngIf="paciente">

    <ng-container
        *ngIf="!soloValores && referenceSet.length > 0 && registro.valor.estado !== 'transformado' && !vistaHUDS">
        <div class="row">
            <div class="col-12">
                <span *ngIf="hallazgoOrigen" class="badge badge-info">
                    Originado con la transformación de:
                    <strong>{{ hallazgoOrigen.nombre }}</strong>
                </span>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </ng-container>

    <div *ngIf="!soloValores && registro.valor.estado !== 'transformado'">
        <div *ngIf="elementoRUP && registro">
            <div class="row"
                *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones && registro.concepto.semanticTag === 'trastorno'">
                <div class="col">
                    <strong>Inicio del Hallazgo: {{hallazgoHudsCompleto?.evoluciones[0].fechaInicio | fecha}} </strong>
                </div>
            </div>
            <div class="row" *ngIf="registro.concepto.semanticTag === 'trastorno'">
                <!--ESTADO DEL PROBLEMA-->
                <div class="col-4">
                    <label class="box-title-secundario">Estado actual</label>
                    <plex-select [(ngModel)]="registro.valor.estado" name="estadoActual" [data]="estados"
                        [required]="true" (change)="formatearEstado()">
                    </plex-select>
                </div>

                <!--INICIO ESTIMADO DEL PROBLEMA-->

                <!--FECHA ESTIMADA-->
                <div class="col" *ngIf="!hallazgoHudsCompleto">
                    <label class="box-title-secundario">Fecha estimada</label>
                    <div class="row">
                        <plex-int class="col-6 d-inline" [(ngModel)]="inicioEstimadoUnidad" name="inicioEstimadoUnidad"
                            prefix="Hace" (change)="calcularFecha()"></plex-int>
                        <plex-select class="col-6 d-inline" [(ngModel)]="inicioEstimadoTiempo"
                            name="inicioEstimadoTiempo" [data]="unidadTiempo" (change)="calcularFecha()"></plex-select>
                    </div>
                </div>
            </div>

            <!--EVOLUCION DEL PROBLEMA-->
            <div class="row">
                <div class="col-12">
                    <plex-text
                        label="{{ registro.concepto.semanticTag !== 'trastorno' ? 'Observaciones' : 'Evolución' }}"
                        placeholder="{{ registro.concepto.semanticTag !== 'trastorno' ? 'Observaciones' : 'Ingrese una evolución' }}"
                        [(ngModel)]="registro.valor.evolucion" name="evolucion" [height]="100" [html]="true"
                        [readonly]="false" (change)="emitChange()">
                    </plex-text>
                </div>
            </div>

        </div>

    </div>

    <!-- Hallazgos -->
    <vista-registro [registro]="registro" [prestacion]="prestacion" [evolucionActual]="evolucionActual"
        [indice]="indice"></vista-registro>
</form>