.solo-valores-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(2, 1fr);
    grid-column-gap: 2rem;

    .evoluciones {
        font-size: 2rem;
    }

    .concepto {
        font-size: 24px;
    }

    .badge {
        font-size: 1rem !important; 
    }
}