<div *ngIf="!soloValores && registro.valor.estado !== 'transformado'">
    <div *ngIf="elementoRUP && registro">
        <div class="row" *ngIf="hallazgoOrigen">
            <div class="col">
                <small class="badge badge-info">
                    Originado con la transformación de:
                    <strong>{{ hallazgoOrigen.nombre }}</strong>
                </small>
            </div>
        </div>
        <div class="row" *ngIf="hallazgoHudsCompleto && hallazgoHudsCompleto.evoluciones && registro.concepto.semanticTag === 'trastorno'">
            <div class="col">
                <strong>Inicio del Hallazgo: {{hallazgoHudsCompleto?.evoluciones[0].fechaInicio | fecha}} </strong>
            </div>
        </div>
        <div class="row" *ngIf="registro.concepto.semanticTag === 'trastorno'">
            <!--ESTADO DEL PROBLEMA-->
            <div class="col-4">
                <label class="box-title-secundario">Estado actual</label>
                <plex-select [(ngModel)]="registro.valor.estado" name="estadoActual" [data]="estados" [required]="true" (change)="formatearEstado()">
                </plex-select>
            </div>

            <!--INICIO ESTIMADO DEL PROBLEMA-->

            <!--FECHA ESTIMADA-->
            <div class="col" *ngIf="!hallazgoHudsCompleto">
                <label class="box-title-secundario">Fecha estimada</label>
                <div class="row">
                    <plex-int class="col-6 d-inline" [(ngModel)]="inicioEstimadoUnidad" name="inicioEstimadoUnidad" [required]="true" prefix="Hace" (change)="calcularFecha()"></plex-int>
                    <plex-select class="col-6 d-inline" [(ngModel)]="inicioEstimadoTiempo" name="inicioEstimadoTiempo" [data]="unidadTiempo" [required]="true" (change)="calcularFecha()"></plex-select>
                </div>
            </div>
        </div>

        <!--EVOLUCION DEL PROBLEMA-->
        <div class="row">
            <div class="col-12">
                <plex-text label="Evolución" multiline="true" autoFocus="1" [(ngModel)]="registro.valor.evolucion" (change)="emitChange()"></plex-text>
            </div>
        </div>

    </div>

    <!--Listado de evoluciones-->
    <ng-container *ngIf="evoluciones && evoluciones.length > 0">
        <div class="row">
            <div class="col-12">
                <label class="box-title-secundario" for="comment">Evoluciones Anteriores:</label>
            </div>
        </div>


        <div class="row anteriores mr-0 pr-0 ml-0">
            <div class="col-5 text-left border border-right-0 border-secondary pl-0">
                <plex-button *ngIf="indice > 0" type="info" icon="chevron-left" class="mdi-18px" (click)="cambiarEvolucion('-') "></plex-button>
                <plex-button *ngIf="indice === 0" type="default" icon="chevron-left" class="mdi-18px"></plex-button>
            </div>
            <div class="col-2 text-center border border-left-0 border-right-0 border-secondary pt-2">
                {{ unaEvolucion.fechaCarga | fecha }}
            </div>
            <div class="col-5 text-right border border-left-0 border-secondary pr-0">
                <plex-button *ngIf="evoluciones.length > 1 && indice < (evoluciones.length-1)" type="info" icon="chevron-right" class="mdi-18px" (click)="cambiarEvolucion('+') "></plex-button>
                <plex-button *ngIf="evoluciones.length <= 1 || indice === (evoluciones.length-1)" type="default" icon="chevron-right" class="mdi-18px"></plex-button>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <br>
                <strong>Profesional:</strong> {{unaEvolucion.profesional }}
            </div>
            <div class="col-6">
                <br>
                <strong>Evolución:</strong> {{unaEvolucion.evolucion}}
            </div>
        </div>
    </ng-container>
</div>

<!-- Hallazgos -->
<ng-container *ngIf="soloValores || registro.valor.estado === 'transformado'">
    <div class="row">
        <div class="col-8">
            <div class="row no-gutters">
                <div class="col">
                    <small class="badge badge-info" *ngIf="registro.esDiagnosticoPrincipal">Diagnóstico principal</small>
                    <!-- <small class="badge badge-info">{{ registro.concepto.semanticTag }}</small> -->
                    <small class="badge" [ngClass]="{
                        'badge-danger': registro.valor.estado === 'activo',
                        'badge-warning': registro.valor.estado === 'inactivo',
                        'badge-success': registro.valor.estado === 'resuelto',
                        'badge-info': registro.valor.estado === 'transformado'
                    }">
                        {{ registro.valor.estado }}
                    </small>
                    <small *ngIf="hallazgoOrigen" class="badge badge-info">
                        Originado con la transformación de:
                        <strong>{{ hallazgoOrigen.nombre }}</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col pt-1">
            <ng-container *ngIf="registro?.evoluciones">
                <div *ngFor="let evolucion of registro.evoluciones" class="row ml-1">
                    <div class="col-xl-6 pb-1">
                        <b>Evolución: </b> {{ evolucion.evolucion }}
                    </div>
                    <div class="col-xl-6">
                        <div class="col-xl-12">
                            <b>Estado: </b> {{ evolucion.estado }}
                        </div>
                        <div class="col-xl-12">
                            <b>Fecha: </b> {{ evolucion.fechaCarga | fromNow }} /
                            <b>Profesional: </b> {{evolucion.profesional }}
                        </div>
                    </div>
                    <div class="col-xl-12">&nbsp;</div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
