<form #form="ngForm">
  <div class="row flex-column">
    <div class="col-12">
      <ng-container *ngIf="!soloValores">
        <plex-text [label]="params?.titulo" [html]="true" [(ngModel)]="registro.valor" name="observaciones"
                   [required]="params?.required" [qlToolbar]="qlToolbar"> </plex-text>
      </ng-container>

      <p *ngIf="soloValores" class="readonly">
        <span [innerHTML]="registro.valor"></span>
      </p>
    </div>
  </div>
</form>

<plex-button (click)="verHistorial = !verHistorial"
 style="text-align:center;margin-bottom:15px;margin-top:20px;"
             size="sm" type="primary" class="collapse-card"
             label="{{ !verHistorial ? 'Ver historial' : 'Ocultar historial' }}">
</plex-button>

<section *ngIf="!isLoading && verHistorial && historial.length > 0"
         class="mx-4 d-flex flex-column justify-content-between h-100">

  <plex-label *ngFor="let item of historial" type="info" size="md" direction="row">
    <ng-container titulo>
      <span style="font-family: Arial, sans-serif; font-weight: normal; color: #444444;"
            [innerHTML]="item.registro.valor"></span>
    </ng-container>

    <p dato style="font-weight: bold; width: 100px; text-align: center;">{{ item.fecha | date:'dd/MM/yyyy hh:mm a' }}
    </p>

  </plex-label>


</section>
<div *ngIf="isLoading && verHistorial">Cargando historial...</div>
<div *ngIf="!isLoading && verHistorial && historial.length === 0">
  <em>No hay evoluciones previas registradas</em>
</div>