<span *ngIf="!soloValores">
    <div class="row">
        <div class="col-8">
            <plex-select [readonly]="otroBool" label="Lugar de Nacimiento" [(ngModel)]="lugarNacimiento"
                         name="lugarNacimientoSelect" (getData)="loadEfectores($event)" (change)="lugarChanged()">
            </plex-select>
        </div>
        <div class="col-4 pl-4 pt-4">
            <plex-bool label="Ingresar Otro" (change)="boolChanged()" [(ngModel)]="otroBool" name="bool"></plex-bool>
        </div>
    </div>

    <plex-text *ngIf="otroBool" label="Otro" [(ngModel)]="otro" id="lugarNacimiento" name="lugarNacimiento"
               [html]="false" rows="1" [readonly]="false" placeholder="Ingrese un lugar de nacimiento"
               (change)="otroChanged()">
    </plex-text>
</span>
<span *ngIf="soloValores">
    <p *ngIf="soloValores && !registro.valor?.id" class="readonly">
        <span>Lugar de Nacimiento</span> {{ registro.valor }}
    </p>
    <p *ngIf="soloValores && registro.valor?.id" class="readonly">
        <span>Lugar de Nacimiento</span> {{ registro.valor.nombre }}
    </p>

</span>
