<ng-container *ngIf="!soloValores">
    <plex-text label="Informes" [(ngModel)]="registro.valor" id="informes" name="informes" [html]="true" rows="3"
        [readonly]="false" placeholder="Ingrese un informe" (change)="emitChange()">
    </plex-text>
</ng-container>

<p *ngIf="soloValores" class="readonly">
    <!-- <span>Informes</span> -->
    <ng-container *ngIf="permisoLectura">
        <span [innerHTML]="registro.valor"></span>
    </ng-container>
    <ng-container *ngIf="!permisoLectura">
            <span>Solo autor puede leer contenido</span>
    </ng-container>

</p>
