<ng-container *ngIf="referentSet.length > 0">
    <div class="row">
        <div class="col-12">
            <span *ngFor="let rf of referentSet" class="badge badge-danger">
                   {{rf}}
                </span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!soloValores">
    <label for="observaciones">
        Observación
    </label>
    <textarea class="form-control" [(ngModel)]="registro.valor" rows="4" id="observaciones" name="observaciones" placeholder="Ingrese una evolución" (change)="emitChange()"></textarea>
</ng-container>

<p *ngIf="soloValores" class="readonly">
    <span>Observaciones</span>
    <ng-container>
        {{registro.valor}}
    </ng-container>
</p>