<ng-container *ngIf="!soloValores">
    <label for="observaciones">
        Observación
    </label>
    <textarea class="form-control" [(ngModel)]="registro.valor" rows="4" id="observaciones" name="observaciones" placeholder="Ingrese una evolución"
        (change)="emitChange()"></textarea>
</ng-container>

<p *ngIf="soloValores && !registro.valor" class="readonly">
    <span>Observaciones</span>
    sin valor
</p>
<p *ngIf="soloValores && registro.valor" class="readonly">
    <span>Observaciones</span>
    {{ registro.valor }}
</p>
