@import '../variables';
.odontograma {
    width: 100%;
    text-align: center;
}

.último-odontograma {
    padding: 15px 0;
    background: rgba(133, 133, 133, 0.4);
    border-radius: 5px;
    .title {
        height: 40px;
    }
    width: 100%;
    transition: all 1s;
}

.hidden {
    opacity: 0;
    height: 40px;
    transition: all ease 500ms;
}

.visible {
    opacity: 1;
    height: 75px;
    transition: all ease 500ms;
}

.toggle-último {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 15px;
}

svg {
    overflow: visible;
}

svg#cuadrante-sup-der {
    display: inline-block;
}

.diente {
    fill: white;
    stroke: #000000;
    stroke-width: 3px solid #4776d3;
    stroke-miterlimit: 10;
    cursor: pointer;
    &:hover {
        fill: #4776d3;
    }
}

.diente-procedimiento {
    fill: $procedimiento !important;
}

.diente-trastorno {
    fill: $trastorno !important; // fill: #ff4a1a;
}

.diente-hallazgo {
    fill: $hallazgo !important;
}

.diente-procedimiento-outline {
    fill: none !important;
    stroke: $procedimiento !important;
}

.diente-trastorno-outline {
    fill: none !important;
    stroke: $trastorno !important;
}

.diente-hallazgo-outline {
    fill: none !important;
    stroke: $hallazgo !important;
}

.evolucionada-stroke {
    stroke: rgb(133, 133, 133);
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st0 {
    fill: none; // stroke: #5074B9;
    stroke: rgb(133, 133, 133);
    stroke-width: 1;
    stroke-miterlimit: 10;
    &.seleccionada {
        stroke: #36877f !important;
    }
}

.st1 {
    fill: white;
}

.st1:hover {
    fill: #4776d3;
}

.seleccionada {
    fill: #36877f !important;
}

.registrada {
    fill: rgb(133, 133, 133);
    &.pieza-hallazgo {
        fill: $hallazgo
    }
    &.pieza-trastorno {
        fill: $trastorno
    }
    &.pieza-procedimiento {
        fill: $procedimiento
    }
}

circle {
    fill: none;
}

$angles: (13deg: 10px, 26deg: 17px, 39dg: 24px);
$i: 1;
@each $rotation,
$translation in $angles {
    .rotate-#{$i} {
        transform: scale(1.025, 1.025) translateX(-#{$i}px) rotateZ($rotation) translateX($translation);
    }
    .diente-offset-#{$i} {
        &.vestibular {
            transform: scale(1, 1) translateY(-#{$i * 8}px);
        }
        &.mesial {
            transform: scale(1, 1) translate(#{$i * 8}px);
        }
        &.distal {
            transform: scale(-1, 1) translate(-#{$i * 45}px);
        }
        &.palatina {
            transform: scale(1, 1) translateX(#{$i * 8}px);
        }
        z-index: #{$i * 10};
    }
    $i: ($i+1);
}

.pieza {
    cursor: pointer;
    &:hover {
        fill: #4776d3;
    }
}

.diente-container {
    display: inline-block;
    width: 50px;
    font-size: 12px;
    .text-diente {
        font-size: 16px;
    }
}

.ngx-pop {
    width: auto;
    background: #5bc0de;
    color: black;
    padding: 10px;
    text-align: center;
    .readonly,
    span {
        display: inline-block !important;
    }
}

.pieza-anulada {
    fill: gray !important;
}
