@import '../variables';
.odontograma {
    width: 100%;
    text-align: center;
}

.último-odontograma {
    padding: 15px 0;
    background: rgba(133, 133, 133, 0.4);
    border-radius: 5px;
    .title {
        height: 40px;
    }
}

.hidden {
    opacity: 0;
    height: 40px;
    transition: all ease 500ms;
}

.visible {
    opacity: 1;
    height: 75px;
    transition: all ease 500ms;
}

.toggle-último {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 15px;
}

svg#cuadrante-sup-der {
    display: inline-block;
}

.diente {
    fill: white;
    stroke: #000000;
    stroke-width: 3px solid #4776d3;
    stroke-miterlimit: 10;
    cursor: pointer;
    &:hover {
        fill: #4776d3;
    }
}

.diente-procedimiento {
    fill: $procedimiento;
}

.diente-trastorno {
    fill: $trastorno !important; // fill: #ff4a1a;
}

.diente-hallazgo {
    fill: $hallazgo;
}

.diente-procedimiento-outline {
    fill: none !important;
    stroke: $procedimiento !important;
}

.diente-trastorno-outline {
    fill: none !important;
    stroke: $trastorno !important;
}

.diente-hallazgo-outline {
    fill: none !important;
    stroke: $hallazgo !important;
}

.evolucionada {
    // fill: repeating-linear-gradient( 45deg, #606dbc, #606dbc 3px, #465298 3px, #465298 6px) !important;
    // fill: rgb(133, 133, 133); // fill: url(#striped);
    // fill: url(#pattern1);
    // fill: rgb(133, 133, 133);
}

.evolucionada-stroke {
    stroke: rgb(133, 133, 133);
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st0 {
    fill: none; // stroke: #5074B9;
    stroke: rgb(133, 133, 133);
    stroke-width: 1;
    stroke-miterlimit: 10;
    &.seleccionada {
        // stroke: #47d3a7 !important;
    }
}

.st1 {
    fill: white;
}

.st1:hover {
    fill: #4776d3;
}

.seleccionada {
    fill: #47d3a7;
}

.registrada {
    fill: rgb(133, 133, 133);
    &.pieza-hallazgo {
        fill: $hallazgo
    }
    &.pieza-trastorno {
        fill: $trastorno
    }
    &.pieza-procedimiento {
        fill: $procedimiento
    }
}

circle {
    fill: none;
}

.pieza {
    cursor: pointer;
    &:hover {
        fill: #4776d3;
    }
}

// .distal {
//     /* fill: #4776d3; */
// }
// .vestibular {
//     /* fill: #4776d3; */
// }
// .mesial {
//     /* fill: #4776d3; */
// }
// .palatina {
//     /* fill: #4776d3; */
// }
// .oclusal {
//     /* fill: #4776d3; */
// }
.diente-container {
    display: inline-block;
    width: 50px;
    font-size: 12px;
    .text-diente {
        font-size: 16px;
    }
}

.ngx-pop {
    width: auto;
    background: #5bc0de;
    color: black;
    padding: 10px;
    text-align: center;
}
