<plex-float *ngIf="!soloValores" placeholder="Ingrese un valor entre 0 y 100" [(ngModel)]="registro.valor" name="percentiloDeTensionArterial"
    label="Percentilo de Tensión Arterial" min="0" max="100" (change)="emitChange()">
</plex-float>

<p *ngIf="soloValores && registro.valor" class="readonly">
    <span>Percentilo de Tensión Arterial</span> {{ registro.valor }}
</p>

<p *ngIf="soloValores && !registro.valor" class="readonly">
    <span>Percentilo de Tensión Arterial</span> sin valor
</p>
