.formEditar {
    margin-right: 0;
    display: inline-block;
    width: 85%;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-container plex-select {
    margin-right: 10px;
}