.formEditar {
    margin-right: 0;
    display: inline-block;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-container plex-select {
    margin-right: 10px;
}

.lista-vacia {
    background-color: rgba(0, 39, 56, 0.1) !important;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
}