<plex-title size="md" titulo="Datos del turno"></plex-title>

<plex-button class="float-left" label="Cancelar" type="danger" (click)="cancelar($event)"></plex-button>
<plex-button class="float-right" label="Guardar" type="success" [validateForm]="formulario" (click)="guardar($event)">
</plex-button>
<paciente-buscar #buscador (searchStart)="searchStart()" (searchEnd)="searchEnd($event)" (searchClear)="searchClear()">
</paciente-buscar>
<paciente-listado *ngIf="pacientes && pacientes.length" [pacientes]="pacientes" [autoselect]="false" [height]="70"
                  (selected)="onPacienteSelected($event)" (scrolled)="toPacienteBuscarOnScroll()">
</paciente-listado>
<div *ngIf="pacientes && !pacientes.length" class="alert alert-danger">
    ¡No se encontró ningún paciente!
</div>

<form #formulario="ngForm">
    <ng-container *ngIf="pacienteActivo">
        <label>Paciente </label>
        <span>{{pacienteActivo | nombre }}</span>
    </ng-container>
    <ng-container *ngIf="pacienteActivo">
        <label>Documento: </label>
        <span>{{pacienteActivo.documento}}</span>
        <label>Sexo: </label>
        <span>{{pacienteActivo.genero}}</span>
    </ng-container>
    <ng-container *ngIf="pacienteActivo">
        <ng-container *ngIf="obraSocialPaciente">
            <label *ngIf="obraSocialPaciente.financiador && obraSocialPaciente.financiador !=='SUMAR'">Obra
                Social </label>
            <label *ngIf="obraSocialPaciente.financiador && obraSocialPaciente.financiador === 'SUMAR'">Financiador
            </label>
            <div>{{obraSocialPaciente.financiador}}</div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="prestaciones.length > 1">
        <plex-select label="Tipo de prestación" [(ngModel)]="turnoTipoPrestacion" [data]="prestaciones"
                     name="turnoTipoPrestacion" [required]="true"></plex-select>
    </ng-container>

</form>