<div class="cotainer">
    <plex-box type="info" title="Espacio Físico">
        <div class="row">
            <div class="col-md-12">
                <plex-text [(ngModel)]="modelo" name="modelo" label="Nombre" placeholder="Ingrese el nombre del espacio físico">
                </plex-text>
                <div class="col-md-6" style="width: 300px;">
                    <!--<asp:DropDownList ID="ddlUsuarios" runat="server" DataTextField="Surname" DataValueField="Id" AutoPostBack="true" OnSelectedIndexChanged="ddlUsuarios_SelectedIndexChanged"></asp:DropDownList>-->
                </div>
            </div>
        </div>
    </plex-box>
</div>