.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}


.header {
    align-items: center;
}

.results {
    margin-top: 0;
}

.buscador {
    margin-top: 5px;
}

.buscador input {
    border-width: 2px;
}

