<plex-list *ngIf="prestacionesTurneables.length && !inProgress">
    <plex-item *ngFor="let prestacion of prestacionesTurneables" (click)="selectPrestacion(prestacion)">
        <plex-label size="lg" icon="estetoscopio" titulo="{{ prestacion.prestacion.term }}"
                    subtitulo="{{prestacion.profesionales.length ?( prestacion.profesionales | enumerar:['apellido','nombre']) : 'Sin profesional asignado'}}">
        </plex-label>
        <plex-label class="pt-2" size="md" icon="turno-bold" titulo="{{ prestacion.horaInicio | date:'dd/MM/yyyy' }} ">
        </plex-label>
        <plex-label size="md" icon="hospital-building" titulo="{{ prestacion.organizacion }}">
        </plex-label>
    </plex-item>
</plex-list>
<plex-loader *ngIf="inProgress" type="ball-beat"></plex-loader>
<plex-item *ngIf="!prestacionesTurneables.length && !inProgress">
    <plex-label justify="center" direction="column" size="lg" icon="turno-menos" type="warning" class="mt-4"
                titulo="¿No está la prestación que buscas?" subtitulo=''>
    </plex-label>
    <plex-label justify="center">Puedes seleccionar la prestación del siguiente listado y de éste modo ayudarnos a saber qué turnos están faltando.</plex-label>
    <plex-button class="mt-3" justify="center" (click)="goTo('notificar-necesidad')" type="success">Completar solicitud</plex-button>
</plex-item>