<div class="row">
    <div class="col-md-12">
        <form>
            <plex-box type="info" title="Buscar Agenda">
                <div class="row">
                    <div class="col-md-4">
                        <plex-datetime type="date" [(ngModel)]="modelo.fechaDesde" name="fechaDesde" label="Desde">
                        </plex-datetime>
                    </div>
                    <div class="col-md-4">
                        <plex-datetime type="date" [(ngModel)]="modelo.fechaHasta" name="fechaHasta" label="Hasta">
                        </plex-datetime>
                    </div>
                    <div class="col-md-4">
                        <plex-select [(ngModel)]="modelo.prestacion" name="prestacion" (get-data)="loadPrestaciones($event)" label="Prestacion" placeholder="Seleccione Prestación">
                        </plex-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <plex-select [(ngModel)]="modelo.profesionales" label="Profesionales" name="profesionales" (get-data)="loadProfesionales($event)"
                            placeholder="Seleccione los profesionales">
                        </plex-select>
                    </div>
                    <div class="col-md-6">
                        <plex-select [(ngModel)]="modelo.espacioFisico" label="Espacio Físico" name="espacioFisico" (get-data)="loadEspaciosFisicos($event)"
                            placeholder="Seleccione Espacio Físico">
                        </plex-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <plex-button label="Buscar" icon="magnify" (click)="onClick(this.modelo)">
                        </plex-button>
                    </div>
                </div>
            </plex-box>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form>
            <plex-box type="info" title="Listado de Agendas">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let agenda of agendas; let i = index">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>{{agenda.horaInicio | date: 'dd/MM/yyyy'}} </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>{{agenda.profesionales[0].nombre}}  {{agenda.profesionales[0].apellido}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        <plex-button icon="tooltip-edit" (click)="editarAgenda()">
                                        </plex-button>
                                    </div>
                                    <div class="col-md-5">
                                        <plex-button icon="eye" (click)="verAgenda(agenda)">
                                        </plex-button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </plex-box>
        </form>
    </div>

    <div class="col-md-8">
        <form>
            <plex-box type="info" title="Visualización de Agenda">
                <div class="row">
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.fecha" name="fecha" label="Fecha">
                        </plex-text>
                    </div>
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.horaInicio" name="horaInicio" label="Hora Inicio">
                        </plex-text>
                    </div>
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.horaFin" type="date" name="horaFin" label="Hora Fin">
                        </plex-text>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.profesional" name="profesional" label="Profesional">
                        </plex-text>
                    </div>
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.prestaciones" name="prestaciones" label="Prestaciones">
                        </plex-text>
                    </div>
                    <div class="col-md-4">
                        <plex-text [(ngModel)]="modelo.espacioFisico" name="espacioFisico" label="Espacio Físico">
                        </plex-text>
                    </div>
                </div>

            </plex-box>
        </form>
    </div>
</div>