<div class="row">
    <div class="col-md-6">
        <form [formGroup]="form2">
            <label>Tipo de Prestación</label>
            <plex-select formControlName="prestacion" (get-data)="loadData($event)" placeholder="Seleccione un item">
            </plex-select>
        </form>
    </div>
</div>

<form [formGroup]="form1">
    <plex-box>
    <table class="table table-bordered"> 
        <thead class="thead-inverse"> 
            <tr> 
                <th></th> 
                <th class="active">Acceso Directo</th> 
                <th class="active"> Reservado</th> 
                <th class="active">Autocitado</th>
            </tr> 
        </thead> 
        <tbody>
            <tr> 
                <th scope="row">Del día</th> 
                <td>
                    <plex-bool formControlName="deldiaAccesoDirecto" label=" Activo" type="slide"></plex-bool>
                </td>
                <td>
                    <plex-bool formControlName="deldiaReservado" label=" Activo" type="slide"></plex-bool>
                </td>
                <td>
                    <plex-bool formControlName="deldiaAutocitado" label=" Activo" type="slide"></plex-bool>
                </td>
            </tr> 
            <tr> 
                <th scope="row">Programados</th> 
                <td>
                    <plex-bool formControlName="programadosAccesoDirecto" label=" Activo" type="slide"></plex-bool>
                </td> 
                <td>
                    <plex-bool formControlName="programadosReservado" label=" Activo" type="slide"></plex-bool>
                </td>
                <td>
                    <plex-bool formControlName="programadosAutocitado" label=" Activo" type="slide"></plex-bool>
                </td>
            </tr> 
        </tbody> 
    </table>
    </plex-box>
    <div class="row">
        <div class="col-md-4">
            <plex-button label="Guardar" icon="content-save" (click)="onClick(form1.value, form1.valid)" ></plex-button>
            <plex-button label="Cancelar" icon="content-save" (click)="onClick()" ></plex-button>
        </div>
    </div>
</form>

