<form>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                 <div class="col-md-12">
                    <plex-select [(ngModel)]="plantilla" name="plantilla" id-field="_id" label-field="descripcion" (get-data)="loadPlantillas($event)" label="Plantillas" placeholder="Seleccione una plantilla">
                    </plex-select>
                </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                    <plex-text [(ngModel)]="modelo.descripcion" name="modelo.descripcion" label="Descripción" placeholder="ingrese una descripcion">
                    </plex-text>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                    <plex-select [(ngModel)]="modelo.prestaciones" name="prestaciones" label="Tipos de Prestación" (get-data)="loadPrestaciones($event)" placeholder="Seleccione las prestaciones" [multiple]="true">       
                    </plex-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <plex-select [(ngModel)]="modelo.consultorio" name="consultorio" (get-data)="loadConsultorios($event)" label="Consultorio" placeholder="Seleccione un consultorio">
                    </plex-select> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <plex-select [(ngModel)]="modelo.profesionales" label="Profesionales" name="profesionales" (get-data)="loadProfesionales($event)" placeholder="Seleccione los profesionales" [multiple]="true">
                    </plex-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <plex-datetime type="time" [(ngModel)]="modelo.horaInicio" name="modelo.horaInicio" label="Hora Inicio">
                    </plex-datetime>
                </div>
                <div class="col-md-6">
                    <plex-datetime type="time" [(ngModel)]="modelo.horaFin" name="modelo.horaFin" label="Hora Fin">
                    </plex-datetime>
                </div>
            </div>
             <div class="row">
                 <div class="col-md-12">
                    <div class="list-group">
                        <a *ngFor="let unBloque of modelo.bloques; let i=index" class="list-group-item" [ngClass]="{active: i==bloqueActivo}" (click)="activarBloque(i)">
                            {{unBloque.descripcion}}
                        </a>
                    </div>  
                 </div>
             </div>
        </div>
        <div class="col-md-8" *ngIf="bloqueActivo >= 0">
            <div *ngIf="elementoActivo">
                <plex-box type="success" title="{{elementoActivo.descripcion}}" >
                    <div class="row">
                        <div class="col-md-6">
                            <plex-text [(ngModel)]="elementoActivo.descripcion" name="descripcion" label="Descripcion" placeholder="ingrese una descripcion">
                            </plex-text>
                        </div>
                        <div class="col-md-6">
                            <plex-select [(ngModel)]="elementoActivo.prestacion" name="prestacion" (get-data)="loadPrestaciones($event)" label="Prestacion" placeholder="">
                            </plex-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <plex-datetime type="time" [(ngModel)]="elementoActivo.horaInicio" name="horaInicio" label="Hora Inicio">
                            </plex-datetime>
                        </div>
                        <div class="col-md-6">
                            <plex-datetime type="time" [(ngModel)]="elementoActivo.horaFin" name="horaFin" label="Hora Fin">
                            </plex-datetime>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <plex-text [(ngModel)]="elementoActivo.cantidadTurnos" name="cantidadTurnos" label="Cantidad de Turnos" placeholder="Cantidad">
                            </plex-text>
                        </div>
                        <div class="col-md-6">
                            <plex-text [(ngModel)]="elementoActivo.duracionTurno" name="duracionTurno" label="Duración del Turno" placeholder="ingrese una descripcion">
                            </plex-text>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <plex-box type="warning" title="Acceso Directo" >
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Del día</label>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.deldiaAccesoDirecto" (keyup)="cambiadeldiaAccesoDirecto($event)" name="deldiaAccesoDirecto" placeholder="Cant">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.deldiaAccesoDirectoPorc" (keyup)="cambiadeldiaAccesoDirectoPorc($event)" name="deldiaAccesoDirectoPorc" placeholder="%">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-2">
                                        <label> % </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Programados</label>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progAccesoDirecto" (keyup)="cambiaprogAccesoDirecto($event)" name="programadosAccesoDirecto" placeholder="Cant">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progAccesoDirectoPorc" (keyup)="cambiaprogAccesoDirectoPorc($event)" name="progAccesoDirectoPorc" placeholder="%">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-2">
                                        <label> % </label>
                                    </div>
                                </div>
                            </plex-box>
                        </div>
                        <div class="col-md-6">
                            <plex-box type="warning" title="Reservados" >
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Del día</label>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.deldiaReservado" (keyup)="cambiadeldiaReservado($event)" name="deldiaReservado" placeholder="Cant">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.deldiaReservadoPorc" (keyup)="cambiadeldiaReservadoPorc($event)" name="deldiaReservadooPorc" placeholder="%">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-2">
                                        <label> % </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Programados</label>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progReservado" (keyup)="cambiaprogReservado($event)" name="progReservado" placeholder="Cant">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progReservadoPorc" (keyup)="cambiaprogReservadoPorc($event)" name="progReservadoPorc" placeholder="%">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-2">
                                        <label> % </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Autocitados</label>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progAutocitado" (keyup)="cambiaprogAutocitado($event)" name="progAutocitado" placeholder="Cant">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-3">
                                        <plex-text [(ngModel)]="elementoActivo.progAutocitadoPorc" (keyup)="cambiaprogAutocitadoPorc($event)" name="progAutocitadoPorc" placeholder="%">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-2">
                                        <label> % </label>
                                    </div>
                                </div>
                            </plex-box>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <plex-bool [(ngModel)]="elementoActivo.pacienteSimultaneos" label="Pacientes Simultaneos" name="activo"></plex-bool>
                        </div>
                        <div class="col-md-8" *ngIf="elementoActivo.pacienteSimultaneos">
                            <label class="col-md-5 control-label">Cant Simultaneos</label>
                            <div class="col-md-7">
                                <plex-text [(ngModel)]="elementoActivo.cantidadSimultaneos" name="cantidadSimultaneos" placeholder="">
                                </plex-text>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <plex-bool [(ngModel)]="elementoActivo.citarPorBloque" label="Citar por segmento" name="activo"></plex-bool>
                        </div>
                    </div>
                </plex-box>
            </div>
        </div>
    </div>
</form>