name: BUILD AND TEST
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js 18
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'npm'

            - name: Install
              run: npm ci
            - run: cp ./src/environments/apiKeyMaps.ts.example ./src/environments/apiKeyMaps.ts  
            
            - name: Lint
              run: npm run lint
            - run: rm .browserslistrc && touch .browserslistrc

            - name: Build
              run: npm run build:prod -- --progress=false
