name: RELEASE
on:
    schedule:
        - cron: '0 14 * * 3'
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - name: Use Node.js 18
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
            
            - name: Install
              run: npm ci
            
            - name: Release 
              env:
                  GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
              run: npx semantic-release
