<ng-container *ngIf="graficos.length">
    <div class="row mt-3" *ngFor="let grafico of graficos">
        <div class="col-12">
            <h4 class="text-capitalize mt-2">
                {{ grafico.conceptos | enumerar:['term'] }}
            </h4>
            <rup [elementoRUP]="grafico" [paciente]="paciente" [soloValores]="false"></rup>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="elementos.length">
    <div class="row mt-3" *ngFor="let item of elementos, let i = index">
        <div class="col-12">
            <span class="d-flex justify-content-between">
                <p class="h4 text-capitalize">{{ item.conceptos | enumerar:['term'] }}</p>
                <plex-badge type="info" *ngIf="registros[i] && registros[i].registro.updatedAt">
                    {{ registros[i].registro.updatedAt | fecha }}
                </plex-badge>
            </span>
            <ng-container *ngIf="registros[i]; else mensaje">
                <rup [elementoRUP]="item" [paciente]="paciente" [registro]="registros[i].registro" [soloValores]="true">
                </rup>
            </ng-container>
            <ng-template #mensaje>
                No se ha registrado ningún valor de {{item.conceptos | enumerar:['term']}}
            </ng-template>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="registrosSeguimiento.length">
    <h4 class="text-capitalize mt-3">
        Seguimiento Paciente COVID19
    </h4>
    <div class="row mt-3" *ngFor="let item of registrosSeguimiento, let i = index">
        <div class="col-12">
            <div class="row">
                <div class="col-md-2">
                    <plex-badge type="info" *ngIf="registrosSeguimiento[i] && registrosSeguimiento[i].fechaDiagnostico">
                        {{ registrosSeguimiento[i].fechaDiagnostico | fecha }}
                    </plex-badge>
                </div>
                <div class="col-md-10">
                    <div *ngFor="let reg of registrosSeguimiento[i].registro, let r = index">               
                        <span class="text-capitalize">{{registrosSeguimiento[i].registro[r].nombre}}</span>
                        <div *ngFor="let elemento of elementoSeguimiento, let e = index">
                            <ng-container *ngIf="conceptoSeguimientoPaciente[e].conceptId == registrosSeguimiento[i].registro[r].concepto.conceptId">
                                <rup [elementoRUP]="elementoSeguimiento[e]" [paciente]="paciente" [registro]="registrosSeguimiento[i].registro[r]" [soloValores]="true">
                                </rup>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>  