<plex-layout main="2">
    <plex-layout-main>
        <header>
            Hojas de Trabajo
        </header>
        <lista-hojatrabajo (hojaTrabajoSelectedEmmiter)="seleccionarHojaTrabajo($event)"></lista-hojatrabajo>
    </plex-layout-main>

    <plex-layout-sidebar>
        <plex-layout-main>
            <header>
                <div class="clearfix">
                    <div class="page-title float-left">
                        <ng-container>
                            Laboratorio | Hojas de Trabajo
                        </ng-container>
                    </div>
                    <plex-tabs [activeIndex]="accionIndex" class='float-right' (change)="cambio($event)">
                        <plex-tab label="Opciones de Impresión">
                        </plex-tab>
                        <plex-tab label="Prácticas de la Hoja">
                        </plex-tab>
                        <plex-tab label="Carga de la Hoja">
                        </plex-tab>
                    </plex-tabs>
                </div>
            </header>
            <div>
                <ng-container *ngIf="modo === 'practicas'">
                    <strong>Prácticas de la Hoja</strong>
                    <practicas-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></practicas-hojatrabajo>
                </ng-container>

                <ng-container *ngIf="modo === 'impresion'">
                    <strong>Opciones de Impresión</strong>
                    <impresion-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></impresion-hojatrabajo>
                </ng-container>
                <ng-container *ngIf="modo === 'carga'">
                    <strong>Carga</strong>
                    <carga-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></carga-hojatrabajo>
                </ng-container>
            </div>
        </plex-layout-main>
    </plex-layout-sidebar>

    <plex-layout-footer *ngIf="true">
        <plex-button position="left" type="warning" (click)="volverLista()">Volver</plex-button>
        <plex-button position="right" class="float-right mr-1" type="success" label="Agregar Hoja" (click)="agregarHoja()"></plex-button>
        <plex-button position="right" class="float-right mr-1" type="success" label="Guardar Hoja" (click)="guardarHoja()"></plex-button>
        <plex-button position="right" class="float-right mr-1" type="info" label="Cargar" (click)="cargarHoja()"></plex-button>
    </plex-layout-footer>
</plex-layout>
