<plex-layout main="3">
    <plex-layout-main>
        <header>
            Hojas de Trabajo
        </header>
        <lista-hojatrabajo (hojaTrabajoSelectedEmmiter)="seleccionarHojaTrabajo($event)" (hojaTrabajoAgregarEmmiter)="agregarHojaTrabajo()"></lista-hojatrabajo>
    </plex-layout-main>

    <plex-layout-sidebar>
        <plex-layout-main>
            <plex-tabs [activeIndex]="accionIndex" class='float-right w-100' (change)="cambio($event)">
                <plex-tab class="float-right" label="Opciones de Impresión">
                    <header>
                        <div class="clearfix">
                            <div class="page-title float-left">
                                <ng-container>
                                    Hojas de Trabajo | Opciones de Impresión
                                </ng-container>
                            </div>
                        </div>
                    </header>
                    <impresion-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></impresion-hojatrabajo>
                </plex-tab>
                <plex-tab label="Prácticas de la Hoja">
                    <header>
                        <div class="clearfix">
                            <div class="page-title float-left">
                                <ng-container>
                                    Hojas de Trabajo | Carga de prácticas
                                </ng-container>
                            </div>
                        </div>
                    </header>
                    <practicas-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></practicas-hojatrabajo>
                    <!-- <grilla-hojatrabajo *ngIf="hojaTrabajo" [hojaTrabajo]='hojaTrabajo'></grilla-hojatrabajo> -->
                </plex-tab>
            </plex-tabs>
        </plex-layout-main>
    </plex-layout-sidebar>

    <plex-layout-footer *ngIf="true">
        <plex-button position="left" type="warning" (click)="volverLista()">Volver</plex-button>
        <plex-button position="right" class="float-right mr-1" type="primary" label="Vista Preliminar" (click)="vistaPreliminar()" [disabled]="!hojaTrabajo._id"></plex-button>
        <plex-button position="right" class="float-right mr-1" type="danger" label="Eliminar Hoja" (click)="eliminarHoja()" [disabled]="!hojaTrabajo._id"></plex-button>
        <plex-button position="right" class="float-right mr-1" type="success" label="Guardar Hoja" (click)="guardarHoja()"></plex-button>
        <plex-button position="right" class="float-right mr-1" type="info" label="Cargar" (click)="cargarHoja()"></plex-button>
    </plex-layout-footer>
</plex-layout>
