<ng-container *ngIf='modo && !showGestorAlarmas && !cache.cargarPorPracticas'>
    <table class="table table-striped table-sm">
        <thead>
            <th *ngIf='modo.nombre ==="recepcionSinTurno" || modo.nombre ==="recepcion" || modo.nombre ==="control" || modo.nombre ==="listado"'
                style='width: 100px;'>Cód.</th>
            <th>Descripción</th>
            <th *ngIf='modo.nombre ==="recepcionSinTurno" || modo.nombre ==="recepcion" || modo.nombre ==="control"'
                class="float-center">S/Muestra</th>
            <th *ngIf='modo.nombre !=="recepcionSinTurno" && modo.nombre !=="control" && modo.nombre !=="recepcion" && modo.nombre !=="listado"'
                class="float-center">Valor</th>
            <th *ngIf='modo.nombre ==="validacion" || modo.nombre ==="control"' class="float-center">R. Anterior</th>
            <th *ngIf='modo.nombre !=="recepcionSinTurno" && modo.nombre !=="control" && modo.nombre !=="recepcion" && modo.nombre !=="listado"'
                class="float-center">UM</th>
            <th *ngIf='modo.nombre !=="recepcionSinTurno" && modo.nombre !=="control" && modo.nombre !=="recepcion" && modo.nombre !=="listado"'
                class="float-center">VR | Método</th>
            <th class="float-center" *ngIf='modo.nombre !=="control" && modo.nombre !=="recepcion" && modo.nombre !=="listado"'>Estado</th>
            <th *ngIf='modo.nombre === "recepcion" || modo.nombre === "control" || modo.nombre !=="listado"'>Acciones</th>
            <th class="float-center" *ngIf='modo.nombre === "validacion"'>
                <div>
                    <plex-bool type="checkbox" [(ngModel)]="flagMarcarTodas" (change)="validarTodas($event)" name="validarTodos"></plex-bool>
                </div>Validar
            </th>
            <th *ngIf='modo.nombre === "carga" || modo.nombre === "validacion"'>Observs.</th>
        </thead>
        <tbody>
            <ng-container *ngIf='modo.nombre ==="recepcionSinTurno" || modo.nombre ==="recepcion" || modo.nombre === "control" || modo.nombre === "listado"'>
                <tr class="hover" *ngFor="let practicaVista of practicasVista">
                    <td>{{practicaVista.valor.practica.codigo}}</td>
                    <td>{{practicaVista.nombre}}</td>
                    <td *ngIf='modo.nombre !=="listado"'>
                        <plex-bool type="checkbox" [(ngModel)]="practicaVista.valor.resultado.sinMuestra" name="sinMuestra"></plex-bool>
                    </td>
                    <td *ngIf='modo.nombre ==="control"'>
                        <span style='color:green'>
                            <!-- <p> {{ practicaVista?.resultadosAnteriores | json }}</p> -->
                            <!-- <ng-container *ngIf="practicaVista.resultadosAnteriores && practicaVista.resultadosAnteriores.length > 0">
                                {{ practicaVista.resultadosAnteriores[(practicaVista.resultadosAnteriores.length) -
                                1]?.valor }}
                                &nbsp;
                                {{ practicaVista.resultadosAnteriores[(practicaVista.resultadosAnteriores.length) -
                                1]?.unidadMedida}}
                                <br>
                                {{ practicaVista.resultadosAnteriores[(practicaVista.resultadosAnteriores.length) -
                                1]?.fecha | date: 'dd/MM/yyyy' }}
                            </ng-container> -->
                            <!-- <ng-container *ngIf="!(practicaVistA.resultadosAnteriores.length > 0)">
                            <p>sin datos</p>
                        </ng-container> -->
                        </span>
                    </td>
                    <td *ngIf='modo.nombre !=="listado"'>
                        <plex-button label="" type="danger btn-sm" icon="delete" (click)="eliminarPractica(practicaVista.valor.idPractica)"></plex-button>
                    </td>
                </tr>
                <tr class="hover" *ngIf="editarListaPracticas && modo.nombre !== 'listado'">
                    <td>
                        <plex-text [(ngModel)]="practicaSeleccionada" name="codigoPractica" (keydown.enter)="getPracticaPorCodigo()"
                            (blur)="getPracticaPorCodigo()" placeholder="Escriba el código"></plex-text>
                    </td>
                    <td>
                        <plex-select [(ngModel)]="practicaSeleccionada" name="nombrePractica" (getData)="loadPracticasPorNombre($event);"
                            (change)="seleccionarPractica($event.value)" placeholder="Ingrese el nombre de la práctica"
                            labelField="codigo + ' - ' + nombre">
                        </plex-select>
                    </td>

                    <!-- <plex-bool type="checkbox" [(ngModel)]="practicaCarga.valor.practicas.resultado.sinMuestra" name="sinMuestra"></plex-bool> -->
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
            <ng-container *ngIf="modo.nombre === 'carga' || modo.nombre === 'validacion'">
                <tr class="hover" *ngFor="let practicaCarga of practicasEjecucion; let i = index;">
                    <td>
                        <ng-container *ngFor="let m of practicaCarga.margen">&nbsp;&nbsp;&nbsp;</ng-container>
                        <!-- MERS CODE: estilos inline provisorios, pendiente decisión de UI/UX -->
                        <span *ngIf="!(practicaCarga.valor.practica.categoria === 'simple')" class="ml-{{2*practicaCarga.valor.nivel}}" style='color: #5BC0F4; font-weight: bold; font-size: 18px;'>{{practicaCarga.valor.practica.nombre}}</span>
                        <ng-container *ngIf="practicaCarga.valor.practica.categoria === 'simple'" class="">
                            <span class="ml-{{2*practicaCarga.valor.nivel}}" >
                                {{practicaCarga.valor.practica.nombre}}
                            </span>
                        </ng-container>
                    </td>
                    <ng-container *ngIf="!(practicaCarga.valor.practica.categoria === 'simple') ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <ng-container *ngIf="modo.nombre ==='validacion'">
                            <td></td>
                            <td></td>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="practicaCarga.valor.practica.categoria === 'simple'">
                        <td class="text-left align-middle estado">
                            <p>
                                <ng-container *ngIf='!practicaCarga.valor.resultado.sinMuestra && practicaCarga.valor.practica.resultado.formato'>
                                    <plex-float *ngIf="practicaCarga.valor.practica.resultado.formato.tipo === 'Numérico'"
                                        (focusout)="onValorResultadoChange($event, practicaCarga)" [(ngModel)]="practicaCarga.valor.resultado.valor"></plex-float>
                                    <plex-text *ngIf="practicaCarga.valor.practica.resultado.formato.tipo === 'Texto'"
                                        [(ngModel)]="practicaCarga.valor.resultado.valor"></plex-text>
                                    <plex-select *ngIf="practicaCarga.valor.practica.resultado.formato.tipo === 'Predefenidos (Selección simple)'"
                                        [(ngModel)]="practicaCarga.valor.resultado.valor" placeholder="Seleccione un valor"
                                        labelField="nombre" (getData)="getOpcionesSeleccionSimple($event, practicaCarga.valor.practica.resultado.formato.opciones)"></plex-select>
                                </ng-container>

                                <b *ngIf="practicaCarga.valor.resultado.sinMuestra">Sin muestra</b>

                                <plex-button *ngIf='verificarValorCritico(practicaCarga.valor)' type="danger" title="Aceptar Valores Críticos"
                                    icon="mdi mdi-alert" (click)="return">
                                </plex-button>

                                <plex-button *ngIf='!verificarValorCritico(practicaCarga.valor) && verificarValorReferencia(practicaCarga.valor)'
                                    type="warning" title="Aceptar Valores Críticos" icon="mdi mdi-alert" (click)="return">
                                </plex-button>
                            </p>
                        </td>
                        <td *ngIf='modo.nombre ==="validacion"'>
                            <span style='color:green'>
                                <ng-container *ngIf="getResultadoAnterior(practicaCarga)">
                                    <span (click)="verHistorialResultados(practicaCarga)">
                                        {{ getResultadoAnterior(practicaCarga).valor }}
                                        &nbsp;
                                        <br>
                                        {{ practicaCarga.valor.practica.unidadMedida.nombre }}
                                        <br>
                                        {{ getResultadoAnterior(practicaCarga).estado.fecha | date:
                                        'dd/MM/yyyy' }}
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="!getResultadoAnterior(practicaCarga)">
                                    <p>sin datos</p>
                                </ng-container>
                            </span>
                        </td>
                        <td>
                            {{practicaCarga.valor.practica.unidadMedida.nombre}}
                        </td>
                        <td>
                            <ng-container *ngIf="practicaCarga.valor.practica.resultado.formato && practicaCarga.valor.practica.resultado.formato.tipo === 'Numérico'">
                                {{practicaCarga.valor.practica.presentaciones[0].valoresReferencia[0].valorMinimo}} -
                                {{practicaCarga.valor.practica.presentaciones[0].valoresReferencia[0].valorMaximo}} |
                                {{practicaCarga.valor.practica.presentaciones[0].metodo }}
                            </ng-container>
                            <ng-container *ngIf="practicaCarga.valor.practica.resultado.formato && practicaCarga.valor.practica.resultado.formato.tipo != 'Numérico'">
                                Método: {{practicaCarga.valor.practica.presentaciones[0].metodo }}
                            </ng-container>
                        </td>

                        <ng-container>
                            <td class="small text-success">
                                <ng-container *ngIf="practicaCarga.valor.estados.length > 0">
                                    {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.tipo}}:
                                    {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.usuario.nombre}}
                                    {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.usuario.apellido}}
                                    <br />{{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.fecha
                                    | date: 'dd/MM/yyyy' }}</ng-container>
                            </td>
                            <ng-container *ngIf='modo.nombre ==="validacion"'>
                                <td>
                                    <plex-bool type="checkbox" [(ngModel)]="validaciones[i].validado" name="validado"
                                        (change)="clickValidar($event)" name="clickValidar"></plex-bool>
                                </td>
                            </ng-container>
                            <td>
                                <plex-button type="info" title="Observaciones" icon="mdi mdi-file-document" (click)="verObservaciones()">
                                </plex-button>
                            </td>
                        </ng-container>
                    </ng-container>

                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>


<ng-container *ngIf='!showGestorAlarmas && cache.cargarPorPracticas'>
    <table class="table table-striped table-sm">
        <thead>
            <th>Protocolo</th>
            <th>Fecha</th>
            <th>Paciente</th>

            <th class="float-center">R. Anterior</th>
            <th class="float-center">V. Referencia</th>

            <th class="float-center">Estado</th>
            <th class="float-center">Observaciones</th>
            <th class="float-center">Checkbox</th>
        </thead>
        <tbody>
            <tr class="hover" *ngFor="let practicaCarga of practicasCarga; let i = index">
                <td>
                    {{ practicaCarga.datosProtocolo.numero }}
                </td>
                <td>
                    {{ practicaCarga.datosProtocolo.fecha | fecha }}
                </td>
                <td>
                    {{ practicaCarga.datosProtocolo.paciente.documento }} -
                    {{ practicaCarga.datosProtocolo.paciente.apellido }}, {{
                    practicaCarga.datosProtocolo.paciente.nombre }}
                </td>
                <td>
                    <ng-container *ngIf='practicaCarga.valor && !practicaCarga.valor.resultado.sinMuestra'>
                        <plex-float *ngIf="practicaCarga.valor.practica.resultado.formato && practicaCarga.valor.practica.resultado.formato.tipo === 'Numérico'"
                            (focusout)="onValorResultadoChange($event, practicaCarga)" [(ngModel)]="practicaCarga.valor.resultado.valor"></plex-float>
                        <b *ngIf="practicaCarga.valor.resultado.sinMuestra">Sin muestra</b>
                    </ng-container>
                    <plex-button *ngIf='verificarValorCritico(practicaCarga)' type="danger" title="Aceptar Valores Críticos"
                        icon="mdi mdi-alert" (click)="verObservaciones()">
                    </plex-button>
                    <plex-button *ngIf='!verificarValorCritico(practicaCarga) && verificarValorReferencia(practicaCarga)'
                        type="warning" title="Aceptar Valores Críticos" icon="mdi mdi-alert" (click)="verObservaciones()">
                    </plex-button>
                </td>
                <!-- <td>
                    {{practicaCarga.valor.practica.unidadMedida.nombre}}
                </td> -->
                <td>
                    {{practicaCarga.valor.practica.presentaciones[0].valoresReferencia[0].valorMinimo}} -
                    {{practicaCarga.valor.practica.presentaciones[0].valoresReferencia[0].valorMaximo}}
                </td>
                <td class="small text-success">
                    <ng-container *ngIf="practicaCarga.valor.estados.length > 0">
                        {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.tipo}}:
                        {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.usuario.nombre}}
                        {{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.usuario.apellido}}
                        <br />{{practicaCarga.valor.estados[practicaCarga.valor.estados.length-1]?.fecha
                        | date: 'dd/MM/yyyy' }}</ng-container>
                </td>
                <td>
                    <plex-button type="info" title="Observaciones" icon="mdi mdi-file-document" (click)="verObservaciones()">
                    </plex-button>
                </td>
                <td>
                    <plex-bool type="checkbox"></plex-bool>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf='showGestorAlarmas'>
    <div class='gestion-alarmas-container'>
        <span>
            <plex-select [(ngModel)]="avisoValoresCriticos.respuesta" (getData)="getOpcionesRespuesta($event)" (change)='changeRespuestaGestionValoresCriticos($event)'
                name="respuesta" label="Respuesta" requi placeholder="Seleccione una respuesta" labelField="nombre"></plex-select>
        </span>
        <span>
            <plex-select *ngIf='showSelectProfesional' [(ng Model)]="avisoValoresCriticos.profesionalReportado"
                (getData)="loadProfesionales($event)" name="profesional" label="Profesional" placeholder="Buscar un profesional"
                labelField="nombre"></plex-select>
        </span>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <th>Práctica</th>
            <th>Valor</th>
            <th>UM</th>
        </thead>
        <tbody>
            <tr class="hover" *ngFor="let alarma of validaciones">
                <td>
                    {{ alarma.registroPractica.nombre}}
                </td>
                <td>
                    {{ alarma.registroPractica.valor.resultado.valor }}
                </td>
                <td>
                    {{ alarma.registroPractica.valor.practica.unidadMedida.nombre }}
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>